*

node_modules/
.idea/
.vscode/

.DS_Store

!.prettierrc.json
!.editorconfig
!CONTRIBUTING.md
!LICENSE
!main.js
!package.json
!README.md
!yarn.lock

!.github/
!generators/
!generators/**
!utils/
!utils/**
