.sf-var-aliceblue {
  --sf-c-aliceblue: 208 100% 97%;
  --sf-c-aliceblue-0: 208 100% 0%;
  --sf-c-aliceblue-5: 208 100% 5%;
  --sf-c-aliceblue-10: 208 100% 10%;
  --sf-c-aliceblue-15: 208 100% 15%;
  --sf-c-aliceblue-20: 208 100% 20%;
  --sf-c-aliceblue-25: 208 100% 25%;
  --sf-c-aliceblue-30: 208 100% 30%;
  --sf-c-aliceblue-35: 208 100% 35%;
  --sf-c-aliceblue-40: 208 100% 40%;
  --sf-c-aliceblue-45: 208 100% 45%;
  --sf-c-aliceblue-50: 208 100% 50%;
  --sf-c-aliceblue-55: 208 100% 55%;
  --sf-c-aliceblue-60: 208 100% 60%;
  --sf-c-aliceblue-65: 208 100% 65%;
  --sf-c-aliceblue-70: 208 100% 70%;
  --sf-c-aliceblue-75: 208 100% 75%;
  --sf-c-aliceblue-80: 208 100% 80%;
  --sf-c-aliceblue-85: 208 100% 85%;
  --sf-c-aliceblue-90: 208 100% 90%;
  --sf-c-aliceblue-95: 208 100% 95%;
  --sf-c-aliceblue-100: 208 100% 100%;
}

.sf-c-aliceblue, .sf-c-aliceblue\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 97%) }
.sf-c-aliceblue\:0, .sf-c-aliceblue\:0\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 0%) }
.sf-c-aliceblue\:5, .sf-c-aliceblue\:5\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 5%) }
.sf-c-aliceblue\:10, .sf-c-aliceblue\:10\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 10%) }
.sf-c-aliceblue\:15, .sf-c-aliceblue\:15\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 15%) }
.sf-c-aliceblue\:20, .sf-c-aliceblue\:20\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 20%) }
.sf-c-aliceblue\:25, .sf-c-aliceblue\:25\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 25%) }
.sf-c-aliceblue\:30, .sf-c-aliceblue\:30\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 30%) }
.sf-c-aliceblue\:35, .sf-c-aliceblue\:35\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 35%) }
.sf-c-aliceblue\:40, .sf-c-aliceblue\:40\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 40%) }
.sf-c-aliceblue\:45, .sf-c-aliceblue\:45\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 45%) }
.sf-c-aliceblue\:50, .sf-c-aliceblue\:50\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 50%) }
.sf-c-aliceblue\:55, .sf-c-aliceblue\:55\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 55%) }
.sf-c-aliceblue\:60, .sf-c-aliceblue\:60\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 60%) }
.sf-c-aliceblue\:65, .sf-c-aliceblue\:65\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 65%) }
.sf-c-aliceblue\:70, .sf-c-aliceblue\:70\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 70%) }
.sf-c-aliceblue\:75, .sf-c-aliceblue\:75\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 75%) }
.sf-c-aliceblue\:80, .sf-c-aliceblue\:80\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 80%) }
.sf-c-aliceblue\:85, .sf-c-aliceblue\:85\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 85%) }
.sf-c-aliceblue\:90, .sf-c-aliceblue\:90\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 90%) }
.sf-c-aliceblue\:95, .sf-c-aliceblue\:95\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 95%) }
.sf-c-aliceblue\:100, .sf-c-aliceblue\:100\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 100%) }

.sf-c-txt-aliceblue { color: hsl(208, 100%, 10%) }
.sf-c-txt-aliceblue\:st { color: hsl(208, 100%, 97%) }
.sf-c-txt-aliceblue\:0, .sf-c-txt-aliceblue\:0\:st { color: hsl(208, 100%, 0%) }
.sf-c-txt-aliceblue\:5, .sf-c-txt-aliceblue\:5\:st { color: hsl(208, 100%, 5%) }
.sf-c-txt-aliceblue\:10, .sf-c-txt-aliceblue\:10\:st { color: hsl(208, 100%, 10%) }
.sf-c-txt-aliceblue\:15, .sf-c-txt-aliceblue\:15\:st { color: hsl(208, 100%, 15%) }
.sf-c-txt-aliceblue\:20, .sf-c-txt-aliceblue\:20\:st { color: hsl(208, 100%, 20%) }
.sf-c-txt-aliceblue\:25, .sf-c-txt-aliceblue\:25\:st { color: hsl(208, 100%, 25%) }
.sf-c-txt-aliceblue\:30, .sf-c-txt-aliceblue\:30\:st { color: hsl(208, 100%, 30%) }
.sf-c-txt-aliceblue\:35, .sf-c-txt-aliceblue\:35\:st { color: hsl(208, 100%, 35%) }
.sf-c-txt-aliceblue\:40, .sf-c-txt-aliceblue\:40\:st { color: hsl(208, 100%, 40%) }
.sf-c-txt-aliceblue\:45, .sf-c-txt-aliceblue\:45\:st { color: hsl(208, 100%, 45%) }
.sf-c-txt-aliceblue\:50, .sf-c-txt-aliceblue\:50\:st { color: hsl(208, 100%, 50%) }
.sf-c-txt-aliceblue\:55, .sf-c-txt-aliceblue\:55\:st { color: hsl(208, 100%, 55%) }
.sf-c-txt-aliceblue\:60, .sf-c-txt-aliceblue\:60\:st { color: hsl(208, 100%, 60%) }
.sf-c-txt-aliceblue\:65, .sf-c-txt-aliceblue\:65\:st { color: hsl(208, 100%, 65%) }
.sf-c-txt-aliceblue\:70, .sf-c-txt-aliceblue\:70\:st { color: hsl(208, 100%, 70%) }
.sf-c-txt-aliceblue\:75, .sf-c-txt-aliceblue\:75\:st { color: hsl(208, 100%, 75%) }
.sf-c-txt-aliceblue\:80, .sf-c-txt-aliceblue\:80\:st { color: hsl(208, 100%, 80%) }
.sf-c-txt-aliceblue\:85, .sf-c-txt-aliceblue\:85\:st { color: hsl(208, 100%, 85%) }
.sf-c-txt-aliceblue\:90, .sf-c-txt-aliceblue\:90\:st { color: hsl(208, 100%, 90%) }
.sf-c-txt-aliceblue\:95, .sf-c-txt-aliceblue\:95\:st { color: hsl(208, 100%, 95%) }
.sf-c-txt-aliceblue\:100, .sf-c-txt-aliceblue\:100\:st { color: hsl(208, 100%, 100%) }

html[data-theme='dark'] .sf-c-aliceblue, html.dark .sf-c-aliceblue { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 3%) }
html[data-theme='dark'] .sf-c-aliceblue\:0, html.dark .sf-c-aliceblue\:0 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 100%) }
html[data-theme='dark'] .sf-c-aliceblue\:5, html.dark .sf-c-aliceblue\:5 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 95%) }
html[data-theme='dark'] .sf-c-aliceblue\:10, html.dark .sf-c-aliceblue\:10 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 90%) }
html[data-theme='dark'] .sf-c-aliceblue\:15, html.dark .sf-c-aliceblue\:15 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 85%) }
html[data-theme='dark'] .sf-c-aliceblue\:20, html.dark .sf-c-aliceblue\:20 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 80%) }
html[data-theme='dark'] .sf-c-aliceblue\:25, html.dark .sf-c-aliceblue\:25 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 75%) }
html[data-theme='dark'] .sf-c-aliceblue\:30, html.dark .sf-c-aliceblue\:30 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 70%) }
html[data-theme='dark'] .sf-c-aliceblue\:35, html.dark .sf-c-aliceblue\:35 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 65%) }
html[data-theme='dark'] .sf-c-aliceblue\:40, html.dark .sf-c-aliceblue\:40 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 60%) }
html[data-theme='dark'] .sf-c-aliceblue\:45, html.dark .sf-c-aliceblue\:45 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 55%) }
html[data-theme='dark'] .sf-c-aliceblue\:50, html.dark .sf-c-aliceblue\:50 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 50%) }
html[data-theme='dark'] .sf-c-aliceblue\:55, html.dark .sf-c-aliceblue\:55 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 45%) }
html[data-theme='dark'] .sf-c-aliceblue\:60, html.dark .sf-c-aliceblue\:60 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 40%) }
html[data-theme='dark'] .sf-c-aliceblue\:65, html.dark .sf-c-aliceblue\:65 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 35%) }
html[data-theme='dark'] .sf-c-aliceblue\:70, html.dark .sf-c-aliceblue\:70 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 30%) }
html[data-theme='dark'] .sf-c-aliceblue\:75, html.dark .sf-c-aliceblue\:75 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 25%) }
html[data-theme='dark'] .sf-c-aliceblue\:80, html.dark .sf-c-aliceblue\:80 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 20%) }
html[data-theme='dark'] .sf-c-aliceblue\:85, html.dark .sf-c-aliceblue\:85 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 15%) }
html[data-theme='dark'] .sf-c-aliceblue\:90, html.dark .sf-c-aliceblue\:90 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 10%) }
html[data-theme='dark'] .sf-c-aliceblue\:95, html.dark .sf-c-aliceblue\:95 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 5%) }
html[data-theme='dark'] .sf-c-aliceblue\:100, html.dark .sf-c-aliceblue\:100 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 0%) }

html[data-theme='dark'] .sf-c-aliceblue\:st, html.dark .sf-c-aliceblue\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 97%) }
html[data-theme='dark'] .sf-c-aliceblue\:0\:st, html.dark .sf-c-aliceblue\:0\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 0%) }
html[data-theme='dark'] .sf-c-aliceblue\:5\:st, html.dark .sf-c-aliceblue\:5\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 5%) }
html[data-theme='dark'] .sf-c-aliceblue\:10\:st, html.dark .sf-c-aliceblue\:10\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 10%) }
html[data-theme='dark'] .sf-c-aliceblue\:15\:st, html.dark .sf-c-aliceblue\:15\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 15%) }
html[data-theme='dark'] .sf-c-aliceblue\:20\:st, html.dark .sf-c-aliceblue\:20\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 20%) }
html[data-theme='dark'] .sf-c-aliceblue\:25\:st, html.dark .sf-c-aliceblue\:25\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 25%) }
html[data-theme='dark'] .sf-c-aliceblue\:30\:st, html.dark .sf-c-aliceblue\:30\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 30%) }
html[data-theme='dark'] .sf-c-aliceblue\:35\:st, html.dark .sf-c-aliceblue\:35\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 35%) }
html[data-theme='dark'] .sf-c-aliceblue\:40\:st, html.dark .sf-c-aliceblue\:40\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 40%) }
html[data-theme='dark'] .sf-c-aliceblue\:45\:st, html.dark .sf-c-aliceblue\:45\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 45%) }
html[data-theme='dark'] .sf-c-aliceblue\:50\:st, html.dark .sf-c-aliceblue\:50\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 50%) }
html[data-theme='dark'] .sf-c-aliceblue\:55\:st, html.dark .sf-c-aliceblue\:55\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 55%) }
html[data-theme='dark'] .sf-c-aliceblue\:60\:st, html.dark .sf-c-aliceblue\:60\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 60%) }
html[data-theme='dark'] .sf-c-aliceblue\:65\:st, html.dark .sf-c-aliceblue\:65\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 65%) }
html[data-theme='dark'] .sf-c-aliceblue\:70\:st, html.dark .sf-c-aliceblue\:70\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 70%) }
html[data-theme='dark'] .sf-c-aliceblue\:75\:st, html.dark .sf-c-aliceblue\:75\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 75%) }
html[data-theme='dark'] .sf-c-aliceblue\:80\:st, html.dark .sf-c-aliceblue\:80\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 80%) }
html[data-theme='dark'] .sf-c-aliceblue\:85\:st, html.dark .sf-c-aliceblue\:85\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 85%) }
html[data-theme='dark'] .sf-c-aliceblue\:90\:st, html.dark .sf-c-aliceblue\:90\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 90%) }
html[data-theme='dark'] .sf-c-aliceblue\:95\:st, html.dark .sf-c-aliceblue\:95\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 95%) }
html[data-theme='dark'] .sf-c-aliceblue\:100\:st, html.dark .sf-c-aliceblue\:100\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-aliceblue, html.dark .sf-c-txt-aliceblue { color: hsl(208, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:0, html.dark .sf-c-txt-aliceblue\:0 { color: hsl(208, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:5, html.dark .sf-c-txt-aliceblue\:5 { color: hsl(208, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:10, html.dark .sf-c-txt-aliceblue\:10 { color: hsl(208, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:15, html.dark .sf-c-txt-aliceblue\:15 { color: hsl(208, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:20, html.dark .sf-c-txt-aliceblue\:20 { color: hsl(208, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:25, html.dark .sf-c-txt-aliceblue\:25 { color: hsl(208, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:30, html.dark .sf-c-txt-aliceblue\:30 { color: hsl(208, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:35, html.dark .sf-c-txt-aliceblue\:35 { color: hsl(208, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:40, html.dark .sf-c-txt-aliceblue\:40 { color: hsl(208, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:45, html.dark .sf-c-txt-aliceblue\:45 { color: hsl(208, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:50, html.dark .sf-c-txt-aliceblue\:50 { color: hsl(208, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:55, html.dark .sf-c-txt-aliceblue\:55 { color: hsl(208, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:60, html.dark .sf-c-txt-aliceblue\:60 { color: hsl(208, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:65, html.dark .sf-c-txt-aliceblue\:65 { color: hsl(208, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:70, html.dark .sf-c-txt-aliceblue\:70 { color: hsl(208, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:75, html.dark .sf-c-txt-aliceblue\:75 { color: hsl(208, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:80, html.dark .sf-c-txt-aliceblue\:80 { color: hsl(208, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:85, html.dark .sf-c-txt-aliceblue\:85 { color: hsl(208, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:90, html.dark .sf-c-txt-aliceblue\:90 { color: hsl(208, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:95, html.dark .sf-c-txt-aliceblue\:95 { color: hsl(208, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:100, html.dark .sf-c-txt-aliceblue\:100 { color: hsl(208, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-aliceblue\:st, html.dark .sf-c-txt-aliceblue\:st { color: hsl(208, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:0\:st, html.dark .sf-c-txt-aliceblue\:0\:st { color: hsl(208, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:5\:st, html.dark .sf-c-txt-aliceblue\:5\:st { color: hsl(208, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:10\:st, html.dark .sf-c-txt-aliceblue\:10\:st { color: hsl(208, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:15\:st, html.dark .sf-c-txt-aliceblue\:15\:st { color: hsl(208, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:20\:st, html.dark .sf-c-txt-aliceblue\:20\:st { color: hsl(208, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:25\:st, html.dark .sf-c-txt-aliceblue\:25\:st { color: hsl(208, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:30\:st, html.dark .sf-c-txt-aliceblue\:30\:st { color: hsl(208, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:35\:st, html.dark .sf-c-txt-aliceblue\:35\:st { color: hsl(208, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:40\:st, html.dark .sf-c-txt-aliceblue\:40\:st { color: hsl(208, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:45\:st, html.dark .sf-c-txt-aliceblue\:45\:st { color: hsl(208, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:50\:st, html.dark .sf-c-txt-aliceblue\:50\:st { color: hsl(208, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:55\:st, html.dark .sf-c-txt-aliceblue\:55\:st { color: hsl(208, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:60\:st, html.dark .sf-c-txt-aliceblue\:60\:st { color: hsl(208, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:65\:st, html.dark .sf-c-txt-aliceblue\:65\:st { color: hsl(208, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:70\:st, html.dark .sf-c-txt-aliceblue\:70\:st { color: hsl(208, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:75\:st, html.dark .sf-c-txt-aliceblue\:75\:st { color: hsl(208, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:80\:st, html.dark .sf-c-txt-aliceblue\:80\:st { color: hsl(208, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:85\:st, html.dark .sf-c-txt-aliceblue\:85\:st { color: hsl(208, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:90\:st, html.dark .sf-c-txt-aliceblue\:90\:st { color: hsl(208, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:95\:st, html.dark .sf-c-txt-aliceblue\:95\:st { color: hsl(208, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-aliceblue\:100\:st, html.dark .sf-c-txt-aliceblue\:100\:st { color: hsl(208, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-aliceblue, html.auto .sf-c-aliceblue { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 3%) }
  html[data-theme='auto'] .sf-c-aliceblue\:0, html.auto .sf-c-aliceblue\:0 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 100%) }
  html[data-theme='auto'] .sf-c-aliceblue\:5, html.auto .sf-c-aliceblue\:5 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 95%) }
  html[data-theme='auto'] .sf-c-aliceblue\:10, html.auto .sf-c-aliceblue\:10 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 90%) }
  html[data-theme='auto'] .sf-c-aliceblue\:15, html.auto .sf-c-aliceblue\:15 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 85%) }
  html[data-theme='auto'] .sf-c-aliceblue\:20, html.auto .sf-c-aliceblue\:20 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 80%) }
  html[data-theme='auto'] .sf-c-aliceblue\:25, html.auto .sf-c-aliceblue\:25 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 75%) }
  html[data-theme='auto'] .sf-c-aliceblue\:30, html.auto .sf-c-aliceblue\:30 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 70%) }
  html[data-theme='auto'] .sf-c-aliceblue\:35, html.auto .sf-c-aliceblue\:35 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 65%) }
  html[data-theme='auto'] .sf-c-aliceblue\:40, html.auto .sf-c-aliceblue\:40 { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 60%) }
  html[data-theme='auto'] .sf-c-aliceblue\:45, html.auto .sf-c-aliceblue\:45 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 55%) }
  html[data-theme='auto'] .sf-c-aliceblue\:50, html.auto .sf-c-aliceblue\:50 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 50%) }
  html[data-theme='auto'] .sf-c-aliceblue\:55, html.auto .sf-c-aliceblue\:55 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 45%) }
  html[data-theme='auto'] .sf-c-aliceblue\:60, html.auto .sf-c-aliceblue\:60 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 40%) }
  html[data-theme='auto'] .sf-c-aliceblue\:65, html.auto .sf-c-aliceblue\:65 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 35%) }
  html[data-theme='auto'] .sf-c-aliceblue\:70, html.auto .sf-c-aliceblue\:70 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 30%) }
  html[data-theme='auto'] .sf-c-aliceblue\:75, html.auto .sf-c-aliceblue\:75 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 25%) }
  html[data-theme='auto'] .sf-c-aliceblue\:80, html.auto .sf-c-aliceblue\:80 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 20%) }
  html[data-theme='auto'] .sf-c-aliceblue\:85, html.auto .sf-c-aliceblue\:85 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 15%) }
  html[data-theme='auto'] .sf-c-aliceblue\:90, html.auto .sf-c-aliceblue\:90 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 10%) }
  html[data-theme='auto'] .sf-c-aliceblue\:95, html.auto .sf-c-aliceblue\:95 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 5%) }
  html[data-theme='auto'] .sf-c-aliceblue\:100, html.auto .sf-c-aliceblue\:100 { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 0%) }

  html[data-theme='auto'] .sf-c-aliceblue\:st, html.auto .sf-c-aliceblue\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 97%) }
  html[data-theme='auto'] .sf-c-aliceblue\:0\:st, html.auto .sf-c-aliceblue\:0\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 0%) }
  html[data-theme='auto'] .sf-c-aliceblue\:5\:st, html.auto .sf-c-aliceblue\:5\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 5%) }
  html[data-theme='auto'] .sf-c-aliceblue\:10\:st, html.auto .sf-c-aliceblue\:10\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 10%) }
  html[data-theme='auto'] .sf-c-aliceblue\:15\:st, html.auto .sf-c-aliceblue\:15\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 15%) }
  html[data-theme='auto'] .sf-c-aliceblue\:20\:st, html.auto .sf-c-aliceblue\:20\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 20%) }
  html[data-theme='auto'] .sf-c-aliceblue\:25\:st, html.auto .sf-c-aliceblue\:25\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 25%) }
  html[data-theme='auto'] .sf-c-aliceblue\:30\:st, html.auto .sf-c-aliceblue\:30\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 30%) }
  html[data-theme='auto'] .sf-c-aliceblue\:35\:st, html.auto .sf-c-aliceblue\:35\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 35%) }
  html[data-theme='auto'] .sf-c-aliceblue\:40\:st, html.auto .sf-c-aliceblue\:40\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 40%) }
  html[data-theme='auto'] .sf-c-aliceblue\:45\:st, html.auto .sf-c-aliceblue\:45\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 45%) }
  html[data-theme='auto'] .sf-c-aliceblue\:50\:st, html.auto .sf-c-aliceblue\:50\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 50%) }
  html[data-theme='auto'] .sf-c-aliceblue\:55\:st, html.auto .sf-c-aliceblue\:55\:st { color: hsl(208, 100%, 95%); background: hsl(208, 100%, 55%) }
  html[data-theme='auto'] .sf-c-aliceblue\:60\:st, html.auto .sf-c-aliceblue\:60\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 60%) }
  html[data-theme='auto'] .sf-c-aliceblue\:65\:st, html.auto .sf-c-aliceblue\:65\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 65%) }
  html[data-theme='auto'] .sf-c-aliceblue\:70\:st, html.auto .sf-c-aliceblue\:70\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 70%) }
  html[data-theme='auto'] .sf-c-aliceblue\:75\:st, html.auto .sf-c-aliceblue\:75\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 75%) }
  html[data-theme='auto'] .sf-c-aliceblue\:80\:st, html.auto .sf-c-aliceblue\:80\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 80%) }
  html[data-theme='auto'] .sf-c-aliceblue\:85\:st, html.auto .sf-c-aliceblue\:85\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 85%) }
  html[data-theme='auto'] .sf-c-aliceblue\:90\:st, html.auto .sf-c-aliceblue\:90\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 90%) }
  html[data-theme='auto'] .sf-c-aliceblue\:95\:st, html.auto .sf-c-aliceblue\:95\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 95%) }
  html[data-theme='auto'] .sf-c-aliceblue\:100\:st, html.auto .sf-c-aliceblue\:100\:st { color: hsl(208, 100%, 5%); background: hsl(208, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-aliceblue, html.auto .sf-c-txt-aliceblue { color: hsl(208, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:0, html.auto .sf-c-txt-aliceblue\:0 { color: hsl(208, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:5, html.auto .sf-c-txt-aliceblue\:5 { color: hsl(208, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:10, html.auto .sf-c-txt-aliceblue\:10 { color: hsl(208, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:15, html.auto .sf-c-txt-aliceblue\:15 { color: hsl(208, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:20, html.auto .sf-c-txt-aliceblue\:20 { color: hsl(208, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:25, html.auto .sf-c-txt-aliceblue\:25 { color: hsl(208, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:30, html.auto .sf-c-txt-aliceblue\:30 { color: hsl(208, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:35, html.auto .sf-c-txt-aliceblue\:35 { color: hsl(208, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:40, html.auto .sf-c-txt-aliceblue\:40 { color: hsl(208, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:45, html.auto .sf-c-txt-aliceblue\:45 { color: hsl(208, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:50, html.auto .sf-c-txt-aliceblue\:50 { color: hsl(208, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:55, html.auto .sf-c-txt-aliceblue\:55 { color: hsl(208, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:60, html.auto .sf-c-txt-aliceblue\:60 { color: hsl(208, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:65, html.auto .sf-c-txt-aliceblue\:65 { color: hsl(208, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:70, html.auto .sf-c-txt-aliceblue\:70 { color: hsl(208, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:75, html.auto .sf-c-txt-aliceblue\:75 { color: hsl(208, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:80, html.auto .sf-c-txt-aliceblue\:80 { color: hsl(208, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:85, html.auto .sf-c-txt-aliceblue\:85 { color: hsl(208, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:90, html.auto .sf-c-txt-aliceblue\:90 { color: hsl(208, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:95, html.auto .sf-c-txt-aliceblue\:95 { color: hsl(208, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:100, html.auto .sf-c-txt-aliceblue\:100 { color: hsl(208, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-aliceblue\:st, html.auto .sf-c-txt-aliceblue\:st { color: hsl(208, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:0\:st, html.auto .sf-c-txt-aliceblue\:0\:st { color: hsl(208, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:5\:st, html.auto .sf-c-txt-aliceblue\:5\:st { color: hsl(208, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:10\:st, html.auto .sf-c-txt-aliceblue\:10\:st { color: hsl(208, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:15\:st, html.auto .sf-c-txt-aliceblue\:15\:st { color: hsl(208, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:20\:st, html.auto .sf-c-txt-aliceblue\:20\:st { color: hsl(208, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:25\:st, html.auto .sf-c-txt-aliceblue\:25\:st { color: hsl(208, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:30\:st, html.auto .sf-c-txt-aliceblue\:30\:st { color: hsl(208, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:35\:st, html.auto .sf-c-txt-aliceblue\:35\:st { color: hsl(208, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:40\:st, html.auto .sf-c-txt-aliceblue\:40\:st { color: hsl(208, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:45\:st, html.auto .sf-c-txt-aliceblue\:45\:st { color: hsl(208, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:50\:st, html.auto .sf-c-txt-aliceblue\:50\:st { color: hsl(208, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:55\:st, html.auto .sf-c-txt-aliceblue\:55\:st { color: hsl(208, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:60\:st, html.auto .sf-c-txt-aliceblue\:60\:st { color: hsl(208, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:65\:st, html.auto .sf-c-txt-aliceblue\:65\:st { color: hsl(208, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:70\:st, html.auto .sf-c-txt-aliceblue\:70\:st { color: hsl(208, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:75\:st, html.auto .sf-c-txt-aliceblue\:75\:st { color: hsl(208, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:80\:st, html.auto .sf-c-txt-aliceblue\:80\:st { color: hsl(208, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:85\:st, html.auto .sf-c-txt-aliceblue\:85\:st { color: hsl(208, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:90\:st, html.auto .sf-c-txt-aliceblue\:90\:st { color: hsl(208, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:95\:st, html.auto .sf-c-txt-aliceblue\:95\:st { color: hsl(208, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-aliceblue\:100\:st, html.auto .sf-c-txt-aliceblue\:100\:st { color: hsl(208, 100%, 100%) }
}