.sf-var-aquamarine {
  --sf-c-aquamarine: 160 100% 75%;
  --sf-c-aquamarine-0: 160 100% 0%;
  --sf-c-aquamarine-5: 160 100% 5%;
  --sf-c-aquamarine-10: 160 100% 10%;
  --sf-c-aquamarine-15: 160 100% 15%;
  --sf-c-aquamarine-20: 160 100% 20%;
  --sf-c-aquamarine-25: 160 100% 25%;
  --sf-c-aquamarine-30: 160 100% 30%;
  --sf-c-aquamarine-35: 160 100% 35%;
  --sf-c-aquamarine-40: 160 100% 40%;
  --sf-c-aquamarine-45: 160 100% 45%;
  --sf-c-aquamarine-50: 160 100% 50%;
  --sf-c-aquamarine-55: 160 100% 55%;
  --sf-c-aquamarine-60: 160 100% 60%;
  --sf-c-aquamarine-65: 160 100% 65%;
  --sf-c-aquamarine-70: 160 100% 70%;
  --sf-c-aquamarine-75: 160 100% 75%;
  --sf-c-aquamarine-80: 160 100% 80%;
  --sf-c-aquamarine-85: 160 100% 85%;
  --sf-c-aquamarine-90: 160 100% 90%;
  --sf-c-aquamarine-95: 160 100% 95%;
  --sf-c-aquamarine-100: 160 100% 100%;
}

.sf-c-aquamarine, .sf-c-aquamarine\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
.sf-c-aquamarine\:0, .sf-c-aquamarine\:0\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 0%) }
.sf-c-aquamarine\:5, .sf-c-aquamarine\:5\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 5%) }
.sf-c-aquamarine\:10, .sf-c-aquamarine\:10\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 10%) }
.sf-c-aquamarine\:15, .sf-c-aquamarine\:15\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 15%) }
.sf-c-aquamarine\:20, .sf-c-aquamarine\:20\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 20%) }
.sf-c-aquamarine\:25, .sf-c-aquamarine\:25\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
.sf-c-aquamarine\:30, .sf-c-aquamarine\:30\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 30%) }
.sf-c-aquamarine\:35, .sf-c-aquamarine\:35\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 35%) }
.sf-c-aquamarine\:40, .sf-c-aquamarine\:40\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 40%) }
.sf-c-aquamarine\:45, .sf-c-aquamarine\:45\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 45%) }
.sf-c-aquamarine\:50, .sf-c-aquamarine\:50\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 50%) }
.sf-c-aquamarine\:55, .sf-c-aquamarine\:55\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 55%) }
.sf-c-aquamarine\:60, .sf-c-aquamarine\:60\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 60%) }
.sf-c-aquamarine\:65, .sf-c-aquamarine\:65\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 65%) }
.sf-c-aquamarine\:70, .sf-c-aquamarine\:70\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 70%) }
.sf-c-aquamarine\:75, .sf-c-aquamarine\:75\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
.sf-c-aquamarine\:80, .sf-c-aquamarine\:80\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 80%) }
.sf-c-aquamarine\:85, .sf-c-aquamarine\:85\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 85%) }
.sf-c-aquamarine\:90, .sf-c-aquamarine\:90\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 90%) }
.sf-c-aquamarine\:95, .sf-c-aquamarine\:95\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 95%) }
.sf-c-aquamarine\:100, .sf-c-aquamarine\:100\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 100%) }

.sf-c-txt-aquamarine { color: hsl(160, 100%, 10%) }
.sf-c-txt-aquamarine\:st { color: hsl(160, 100%, 75%) }
.sf-c-txt-aquamarine\:0, .sf-c-txt-aquamarine\:0\:st { color: hsl(160, 100%, 0%) }
.sf-c-txt-aquamarine\:5, .sf-c-txt-aquamarine\:5\:st { color: hsl(160, 100%, 5%) }
.sf-c-txt-aquamarine\:10, .sf-c-txt-aquamarine\:10\:st { color: hsl(160, 100%, 10%) }
.sf-c-txt-aquamarine\:15, .sf-c-txt-aquamarine\:15\:st { color: hsl(160, 100%, 15%) }
.sf-c-txt-aquamarine\:20, .sf-c-txt-aquamarine\:20\:st { color: hsl(160, 100%, 20%) }
.sf-c-txt-aquamarine\:25, .sf-c-txt-aquamarine\:25\:st { color: hsl(160, 100%, 25%) }
.sf-c-txt-aquamarine\:30, .sf-c-txt-aquamarine\:30\:st { color: hsl(160, 100%, 30%) }
.sf-c-txt-aquamarine\:35, .sf-c-txt-aquamarine\:35\:st { color: hsl(160, 100%, 35%) }
.sf-c-txt-aquamarine\:40, .sf-c-txt-aquamarine\:40\:st { color: hsl(160, 100%, 40%) }
.sf-c-txt-aquamarine\:45, .sf-c-txt-aquamarine\:45\:st { color: hsl(160, 100%, 45%) }
.sf-c-txt-aquamarine\:50, .sf-c-txt-aquamarine\:50\:st { color: hsl(160, 100%, 50%) }
.sf-c-txt-aquamarine\:55, .sf-c-txt-aquamarine\:55\:st { color: hsl(160, 100%, 55%) }
.sf-c-txt-aquamarine\:60, .sf-c-txt-aquamarine\:60\:st { color: hsl(160, 100%, 60%) }
.sf-c-txt-aquamarine\:65, .sf-c-txt-aquamarine\:65\:st { color: hsl(160, 100%, 65%) }
.sf-c-txt-aquamarine\:70, .sf-c-txt-aquamarine\:70\:st { color: hsl(160, 100%, 70%) }
.sf-c-txt-aquamarine\:75, .sf-c-txt-aquamarine\:75\:st { color: hsl(160, 100%, 75%) }
.sf-c-txt-aquamarine\:80, .sf-c-txt-aquamarine\:80\:st { color: hsl(160, 100%, 80%) }
.sf-c-txt-aquamarine\:85, .sf-c-txt-aquamarine\:85\:st { color: hsl(160, 100%, 85%) }
.sf-c-txt-aquamarine\:90, .sf-c-txt-aquamarine\:90\:st { color: hsl(160, 100%, 90%) }
.sf-c-txt-aquamarine\:95, .sf-c-txt-aquamarine\:95\:st { color: hsl(160, 100%, 95%) }
.sf-c-txt-aquamarine\:100, .sf-c-txt-aquamarine\:100\:st { color: hsl(160, 100%, 100%) }

html[data-theme='dark'] .sf-c-aquamarine, html.dark .sf-c-aquamarine { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
html[data-theme='dark'] .sf-c-aquamarine\:0, html.dark .sf-c-aquamarine\:0 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 100%) }
html[data-theme='dark'] .sf-c-aquamarine\:5, html.dark .sf-c-aquamarine\:5 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 95%) }
html[data-theme='dark'] .sf-c-aquamarine\:10, html.dark .sf-c-aquamarine\:10 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 90%) }
html[data-theme='dark'] .sf-c-aquamarine\:15, html.dark .sf-c-aquamarine\:15 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 85%) }
html[data-theme='dark'] .sf-c-aquamarine\:20, html.dark .sf-c-aquamarine\:20 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 80%) }
html[data-theme='dark'] .sf-c-aquamarine\:25, html.dark .sf-c-aquamarine\:25 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-aquamarine\:30, html.dark .sf-c-aquamarine\:30 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 70%) }
html[data-theme='dark'] .sf-c-aquamarine\:35, html.dark .sf-c-aquamarine\:35 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 65%) }
html[data-theme='dark'] .sf-c-aquamarine\:40, html.dark .sf-c-aquamarine\:40 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 60%) }
html[data-theme='dark'] .sf-c-aquamarine\:45, html.dark .sf-c-aquamarine\:45 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 55%) }
html[data-theme='dark'] .sf-c-aquamarine\:50, html.dark .sf-c-aquamarine\:50 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 50%) }
html[data-theme='dark'] .sf-c-aquamarine\:55, html.dark .sf-c-aquamarine\:55 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 45%) }
html[data-theme='dark'] .sf-c-aquamarine\:60, html.dark .sf-c-aquamarine\:60 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 40%) }
html[data-theme='dark'] .sf-c-aquamarine\:65, html.dark .sf-c-aquamarine\:65 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 35%) }
html[data-theme='dark'] .sf-c-aquamarine\:70, html.dark .sf-c-aquamarine\:70 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 30%) }
html[data-theme='dark'] .sf-c-aquamarine\:75, html.dark .sf-c-aquamarine\:75 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
html[data-theme='dark'] .sf-c-aquamarine\:80, html.dark .sf-c-aquamarine\:80 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 20%) }
html[data-theme='dark'] .sf-c-aquamarine\:85, html.dark .sf-c-aquamarine\:85 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 15%) }
html[data-theme='dark'] .sf-c-aquamarine\:90, html.dark .sf-c-aquamarine\:90 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 10%) }
html[data-theme='dark'] .sf-c-aquamarine\:95, html.dark .sf-c-aquamarine\:95 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 5%) }
html[data-theme='dark'] .sf-c-aquamarine\:100, html.dark .sf-c-aquamarine\:100 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 0%) }

html[data-theme='dark'] .sf-c-aquamarine\:st, html.dark .sf-c-aquamarine\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-aquamarine\:0\:st, html.dark .sf-c-aquamarine\:0\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 0%) }
html[data-theme='dark'] .sf-c-aquamarine\:5\:st, html.dark .sf-c-aquamarine\:5\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 5%) }
html[data-theme='dark'] .sf-c-aquamarine\:10\:st, html.dark .sf-c-aquamarine\:10\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 10%) }
html[data-theme='dark'] .sf-c-aquamarine\:15\:st, html.dark .sf-c-aquamarine\:15\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 15%) }
html[data-theme='dark'] .sf-c-aquamarine\:20\:st, html.dark .sf-c-aquamarine\:20\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 20%) }
html[data-theme='dark'] .sf-c-aquamarine\:25\:st, html.dark .sf-c-aquamarine\:25\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
html[data-theme='dark'] .sf-c-aquamarine\:30\:st, html.dark .sf-c-aquamarine\:30\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 30%) }
html[data-theme='dark'] .sf-c-aquamarine\:35\:st, html.dark .sf-c-aquamarine\:35\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 35%) }
html[data-theme='dark'] .sf-c-aquamarine\:40\:st, html.dark .sf-c-aquamarine\:40\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 40%) }
html[data-theme='dark'] .sf-c-aquamarine\:45\:st, html.dark .sf-c-aquamarine\:45\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 45%) }
html[data-theme='dark'] .sf-c-aquamarine\:50\:st, html.dark .sf-c-aquamarine\:50\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 50%) }
html[data-theme='dark'] .sf-c-aquamarine\:55\:st, html.dark .sf-c-aquamarine\:55\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 55%) }
html[data-theme='dark'] .sf-c-aquamarine\:60\:st, html.dark .sf-c-aquamarine\:60\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 60%) }
html[data-theme='dark'] .sf-c-aquamarine\:65\:st, html.dark .sf-c-aquamarine\:65\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 65%) }
html[data-theme='dark'] .sf-c-aquamarine\:70\:st, html.dark .sf-c-aquamarine\:70\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 70%) }
html[data-theme='dark'] .sf-c-aquamarine\:75\:st, html.dark .sf-c-aquamarine\:75\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-aquamarine\:80\:st, html.dark .sf-c-aquamarine\:80\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 80%) }
html[data-theme='dark'] .sf-c-aquamarine\:85\:st, html.dark .sf-c-aquamarine\:85\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 85%) }
html[data-theme='dark'] .sf-c-aquamarine\:90\:st, html.dark .sf-c-aquamarine\:90\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 90%) }
html[data-theme='dark'] .sf-c-aquamarine\:95\:st, html.dark .sf-c-aquamarine\:95\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 95%) }
html[data-theme='dark'] .sf-c-aquamarine\:100\:st, html.dark .sf-c-aquamarine\:100\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-aquamarine, html.dark .sf-c-txt-aquamarine { color: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:0, html.dark .sf-c-txt-aquamarine\:0 { color: hsl(160, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:5, html.dark .sf-c-txt-aquamarine\:5 { color: hsl(160, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:10, html.dark .sf-c-txt-aquamarine\:10 { color: hsl(160, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:15, html.dark .sf-c-txt-aquamarine\:15 { color: hsl(160, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:20, html.dark .sf-c-txt-aquamarine\:20 { color: hsl(160, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:25, html.dark .sf-c-txt-aquamarine\:25 { color: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:30, html.dark .sf-c-txt-aquamarine\:30 { color: hsl(160, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:35, html.dark .sf-c-txt-aquamarine\:35 { color: hsl(160, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:40, html.dark .sf-c-txt-aquamarine\:40 { color: hsl(160, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:45, html.dark .sf-c-txt-aquamarine\:45 { color: hsl(160, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:50, html.dark .sf-c-txt-aquamarine\:50 { color: hsl(160, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:55, html.dark .sf-c-txt-aquamarine\:55 { color: hsl(160, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:60, html.dark .sf-c-txt-aquamarine\:60 { color: hsl(160, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:65, html.dark .sf-c-txt-aquamarine\:65 { color: hsl(160, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:70, html.dark .sf-c-txt-aquamarine\:70 { color: hsl(160, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:75, html.dark .sf-c-txt-aquamarine\:75 { color: hsl(160, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:80, html.dark .sf-c-txt-aquamarine\:80 { color: hsl(160, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:85, html.dark .sf-c-txt-aquamarine\:85 { color: hsl(160, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:90, html.dark .sf-c-txt-aquamarine\:90 { color: hsl(160, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:95, html.dark .sf-c-txt-aquamarine\:95 { color: hsl(160, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:100, html.dark .sf-c-txt-aquamarine\:100 { color: hsl(160, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-aquamarine\:st, html.dark .sf-c-txt-aquamarine\:st { color: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:0\:st, html.dark .sf-c-txt-aquamarine\:0\:st { color: hsl(160, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:5\:st, html.dark .sf-c-txt-aquamarine\:5\:st { color: hsl(160, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:10\:st, html.dark .sf-c-txt-aquamarine\:10\:st { color: hsl(160, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:15\:st, html.dark .sf-c-txt-aquamarine\:15\:st { color: hsl(160, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:20\:st, html.dark .sf-c-txt-aquamarine\:20\:st { color: hsl(160, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:25\:st, html.dark .sf-c-txt-aquamarine\:25\:st { color: hsl(160, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:30\:st, html.dark .sf-c-txt-aquamarine\:30\:st { color: hsl(160, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:35\:st, html.dark .sf-c-txt-aquamarine\:35\:st { color: hsl(160, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:40\:st, html.dark .sf-c-txt-aquamarine\:40\:st { color: hsl(160, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:45\:st, html.dark .sf-c-txt-aquamarine\:45\:st { color: hsl(160, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:50\:st, html.dark .sf-c-txt-aquamarine\:50\:st { color: hsl(160, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:55\:st, html.dark .sf-c-txt-aquamarine\:55\:st { color: hsl(160, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:60\:st, html.dark .sf-c-txt-aquamarine\:60\:st { color: hsl(160, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:65\:st, html.dark .sf-c-txt-aquamarine\:65\:st { color: hsl(160, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:70\:st, html.dark .sf-c-txt-aquamarine\:70\:st { color: hsl(160, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:75\:st, html.dark .sf-c-txt-aquamarine\:75\:st { color: hsl(160, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:80\:st, html.dark .sf-c-txt-aquamarine\:80\:st { color: hsl(160, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:85\:st, html.dark .sf-c-txt-aquamarine\:85\:st { color: hsl(160, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:90\:st, html.dark .sf-c-txt-aquamarine\:90\:st { color: hsl(160, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:95\:st, html.dark .sf-c-txt-aquamarine\:95\:st { color: hsl(160, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-aquamarine\:100\:st, html.dark .sf-c-txt-aquamarine\:100\:st { color: hsl(160, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-aquamarine, html.auto .sf-c-aquamarine { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
  html[data-theme='auto'] .sf-c-aquamarine\:0, html.auto .sf-c-aquamarine\:0 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 100%) }
  html[data-theme='auto'] .sf-c-aquamarine\:5, html.auto .sf-c-aquamarine\:5 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 95%) }
  html[data-theme='auto'] .sf-c-aquamarine\:10, html.auto .sf-c-aquamarine\:10 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 90%) }
  html[data-theme='auto'] .sf-c-aquamarine\:15, html.auto .sf-c-aquamarine\:15 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 85%) }
  html[data-theme='auto'] .sf-c-aquamarine\:20, html.auto .sf-c-aquamarine\:20 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 80%) }
  html[data-theme='auto'] .sf-c-aquamarine\:25, html.auto .sf-c-aquamarine\:25 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-aquamarine\:30, html.auto .sf-c-aquamarine\:30 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 70%) }
  html[data-theme='auto'] .sf-c-aquamarine\:35, html.auto .sf-c-aquamarine\:35 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 65%) }
  html[data-theme='auto'] .sf-c-aquamarine\:40, html.auto .sf-c-aquamarine\:40 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 60%) }
  html[data-theme='auto'] .sf-c-aquamarine\:45, html.auto .sf-c-aquamarine\:45 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 55%) }
  html[data-theme='auto'] .sf-c-aquamarine\:50, html.auto .sf-c-aquamarine\:50 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 50%) }
  html[data-theme='auto'] .sf-c-aquamarine\:55, html.auto .sf-c-aquamarine\:55 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 45%) }
  html[data-theme='auto'] .sf-c-aquamarine\:60, html.auto .sf-c-aquamarine\:60 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 40%) }
  html[data-theme='auto'] .sf-c-aquamarine\:65, html.auto .sf-c-aquamarine\:65 { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 35%) }
  html[data-theme='auto'] .sf-c-aquamarine\:70, html.auto .sf-c-aquamarine\:70 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 30%) }
  html[data-theme='auto'] .sf-c-aquamarine\:75, html.auto .sf-c-aquamarine\:75 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
  html[data-theme='auto'] .sf-c-aquamarine\:80, html.auto .sf-c-aquamarine\:80 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 20%) }
  html[data-theme='auto'] .sf-c-aquamarine\:85, html.auto .sf-c-aquamarine\:85 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 15%) }
  html[data-theme='auto'] .sf-c-aquamarine\:90, html.auto .sf-c-aquamarine\:90 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 10%) }
  html[data-theme='auto'] .sf-c-aquamarine\:95, html.auto .sf-c-aquamarine\:95 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 5%) }
  html[data-theme='auto'] .sf-c-aquamarine\:100, html.auto .sf-c-aquamarine\:100 { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 0%) }

  html[data-theme='auto'] .sf-c-aquamarine\:st, html.auto .sf-c-aquamarine\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-aquamarine\:0\:st, html.auto .sf-c-aquamarine\:0\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 0%) }
  html[data-theme='auto'] .sf-c-aquamarine\:5\:st, html.auto .sf-c-aquamarine\:5\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 5%) }
  html[data-theme='auto'] .sf-c-aquamarine\:10\:st, html.auto .sf-c-aquamarine\:10\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 10%) }
  html[data-theme='auto'] .sf-c-aquamarine\:15\:st, html.auto .sf-c-aquamarine\:15\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 15%) }
  html[data-theme='auto'] .sf-c-aquamarine\:20\:st, html.auto .sf-c-aquamarine\:20\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 20%) }
  html[data-theme='auto'] .sf-c-aquamarine\:25\:st, html.auto .sf-c-aquamarine\:25\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 25%) }
  html[data-theme='auto'] .sf-c-aquamarine\:30\:st, html.auto .sf-c-aquamarine\:30\:st { color: hsl(160, 100%, 95%); background: hsl(160, 100%, 30%) }
  html[data-theme='auto'] .sf-c-aquamarine\:35\:st, html.auto .sf-c-aquamarine\:35\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 35%) }
  html[data-theme='auto'] .sf-c-aquamarine\:40\:st, html.auto .sf-c-aquamarine\:40\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 40%) }
  html[data-theme='auto'] .sf-c-aquamarine\:45\:st, html.auto .sf-c-aquamarine\:45\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 45%) }
  html[data-theme='auto'] .sf-c-aquamarine\:50\:st, html.auto .sf-c-aquamarine\:50\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 50%) }
  html[data-theme='auto'] .sf-c-aquamarine\:55\:st, html.auto .sf-c-aquamarine\:55\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 55%) }
  html[data-theme='auto'] .sf-c-aquamarine\:60\:st, html.auto .sf-c-aquamarine\:60\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 60%) }
  html[data-theme='auto'] .sf-c-aquamarine\:65\:st, html.auto .sf-c-aquamarine\:65\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 65%) }
  html[data-theme='auto'] .sf-c-aquamarine\:70\:st, html.auto .sf-c-aquamarine\:70\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 70%) }
  html[data-theme='auto'] .sf-c-aquamarine\:75\:st, html.auto .sf-c-aquamarine\:75\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-aquamarine\:80\:st, html.auto .sf-c-aquamarine\:80\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 80%) }
  html[data-theme='auto'] .sf-c-aquamarine\:85\:st, html.auto .sf-c-aquamarine\:85\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 85%) }
  html[data-theme='auto'] .sf-c-aquamarine\:90\:st, html.auto .sf-c-aquamarine\:90\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 90%) }
  html[data-theme='auto'] .sf-c-aquamarine\:95\:st, html.auto .sf-c-aquamarine\:95\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 95%) }
  html[data-theme='auto'] .sf-c-aquamarine\:100\:st, html.auto .sf-c-aquamarine\:100\:st { color: hsl(160, 100%, 5%); background: hsl(160, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-aquamarine, html.auto .sf-c-txt-aquamarine { color: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:0, html.auto .sf-c-txt-aquamarine\:0 { color: hsl(160, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:5, html.auto .sf-c-txt-aquamarine\:5 { color: hsl(160, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:10, html.auto .sf-c-txt-aquamarine\:10 { color: hsl(160, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:15, html.auto .sf-c-txt-aquamarine\:15 { color: hsl(160, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:20, html.auto .sf-c-txt-aquamarine\:20 { color: hsl(160, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:25, html.auto .sf-c-txt-aquamarine\:25 { color: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:30, html.auto .sf-c-txt-aquamarine\:30 { color: hsl(160, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:35, html.auto .sf-c-txt-aquamarine\:35 { color: hsl(160, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:40, html.auto .sf-c-txt-aquamarine\:40 { color: hsl(160, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:45, html.auto .sf-c-txt-aquamarine\:45 { color: hsl(160, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:50, html.auto .sf-c-txt-aquamarine\:50 { color: hsl(160, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:55, html.auto .sf-c-txt-aquamarine\:55 { color: hsl(160, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:60, html.auto .sf-c-txt-aquamarine\:60 { color: hsl(160, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:65, html.auto .sf-c-txt-aquamarine\:65 { color: hsl(160, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:70, html.auto .sf-c-txt-aquamarine\:70 { color: hsl(160, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:75, html.auto .sf-c-txt-aquamarine\:75 { color: hsl(160, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:80, html.auto .sf-c-txt-aquamarine\:80 { color: hsl(160, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:85, html.auto .sf-c-txt-aquamarine\:85 { color: hsl(160, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:90, html.auto .sf-c-txt-aquamarine\:90 { color: hsl(160, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:95, html.auto .sf-c-txt-aquamarine\:95 { color: hsl(160, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:100, html.auto .sf-c-txt-aquamarine\:100 { color: hsl(160, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-aquamarine\:st, html.auto .sf-c-txt-aquamarine\:st { color: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:0\:st, html.auto .sf-c-txt-aquamarine\:0\:st { color: hsl(160, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:5\:st, html.auto .sf-c-txt-aquamarine\:5\:st { color: hsl(160, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:10\:st, html.auto .sf-c-txt-aquamarine\:10\:st { color: hsl(160, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:15\:st, html.auto .sf-c-txt-aquamarine\:15\:st { color: hsl(160, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:20\:st, html.auto .sf-c-txt-aquamarine\:20\:st { color: hsl(160, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:25\:st, html.auto .sf-c-txt-aquamarine\:25\:st { color: hsl(160, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:30\:st, html.auto .sf-c-txt-aquamarine\:30\:st { color: hsl(160, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:35\:st, html.auto .sf-c-txt-aquamarine\:35\:st { color: hsl(160, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:40\:st, html.auto .sf-c-txt-aquamarine\:40\:st { color: hsl(160, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:45\:st, html.auto .sf-c-txt-aquamarine\:45\:st { color: hsl(160, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:50\:st, html.auto .sf-c-txt-aquamarine\:50\:st { color: hsl(160, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:55\:st, html.auto .sf-c-txt-aquamarine\:55\:st { color: hsl(160, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:60\:st, html.auto .sf-c-txt-aquamarine\:60\:st { color: hsl(160, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:65\:st, html.auto .sf-c-txt-aquamarine\:65\:st { color: hsl(160, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:70\:st, html.auto .sf-c-txt-aquamarine\:70\:st { color: hsl(160, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:75\:st, html.auto .sf-c-txt-aquamarine\:75\:st { color: hsl(160, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:80\:st, html.auto .sf-c-txt-aquamarine\:80\:st { color: hsl(160, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:85\:st, html.auto .sf-c-txt-aquamarine\:85\:st { color: hsl(160, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:90\:st, html.auto .sf-c-txt-aquamarine\:90\:st { color: hsl(160, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:95\:st, html.auto .sf-c-txt-aquamarine\:95\:st { color: hsl(160, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-aquamarine\:100\:st, html.auto .sf-c-txt-aquamarine\:100\:st { color: hsl(160, 100%, 100%) }
}