.sf-var-black {
  --sf-c-black: 0 0% 0%;
  --sf-c-black-0: 0 0% 0%;
  --sf-c-black-5: 0 0% 5%;
  --sf-c-black-10: 0 0% 10%;
  --sf-c-black-15: 0 0% 15%;
  --sf-c-black-20: 0 0% 20%;
  --sf-c-black-25: 0 0% 25%;
  --sf-c-black-30: 0 0% 30%;
  --sf-c-black-35: 0 0% 35%;
  --sf-c-black-40: 0 0% 40%;
  --sf-c-black-45: 0 0% 45%;
  --sf-c-black-50: 0 0% 50%;
  --sf-c-black-55: 0 0% 55%;
  --sf-c-black-60: 0 0% 60%;
  --sf-c-black-65: 0 0% 65%;
  --sf-c-black-70: 0 0% 70%;
  --sf-c-black-75: 0 0% 75%;
  --sf-c-black-80: 0 0% 80%;
  --sf-c-black-85: 0 0% 85%;
  --sf-c-black-90: 0 0% 90%;
  --sf-c-black-95: 0 0% 95%;
  --sf-c-black-100: 0 0% 100%;
}

.sf-c-black, .sf-c-black\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
.sf-c-black\:0, .sf-c-black\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
.sf-c-black\:5, .sf-c-black\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
.sf-c-black\:10, .sf-c-black\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
.sf-c-black\:15, .sf-c-black\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
.sf-c-black\:20, .sf-c-black\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
.sf-c-black\:25, .sf-c-black\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
.sf-c-black\:30, .sf-c-black\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
.sf-c-black\:35, .sf-c-black\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
.sf-c-black\:40, .sf-c-black\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
.sf-c-black\:45, .sf-c-black\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
.sf-c-black\:50, .sf-c-black\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
.sf-c-black\:55, .sf-c-black\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
.sf-c-black\:60, .sf-c-black\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
.sf-c-black\:65, .sf-c-black\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
.sf-c-black\:70, .sf-c-black\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
.sf-c-black\:75, .sf-c-black\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
.sf-c-black\:80, .sf-c-black\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
.sf-c-black\:85, .sf-c-black\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
.sf-c-black\:90, .sf-c-black\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
.sf-c-black\:95, .sf-c-black\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
.sf-c-black\:100, .sf-c-black\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

.sf-c-txt-black { color: hsl(0, 0%, 0%) }
.sf-c-txt-black\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-black\:0, .sf-c-txt-black\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-black\:5, .sf-c-txt-black\:5\:st { color: hsl(0, 0%, 5%) }
.sf-c-txt-black\:10, .sf-c-txt-black\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-black\:15, .sf-c-txt-black\:15\:st { color: hsl(0, 0%, 15%) }
.sf-c-txt-black\:20, .sf-c-txt-black\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-black\:25, .sf-c-txt-black\:25\:st { color: hsl(0, 0%, 25%) }
.sf-c-txt-black\:30, .sf-c-txt-black\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-black\:35, .sf-c-txt-black\:35\:st { color: hsl(0, 0%, 35%) }
.sf-c-txt-black\:40, .sf-c-txt-black\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-black\:45, .sf-c-txt-black\:45\:st { color: hsl(0, 0%, 45%) }
.sf-c-txt-black\:50, .sf-c-txt-black\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-black\:55, .sf-c-txt-black\:55\:st { color: hsl(0, 0%, 55%) }
.sf-c-txt-black\:60, .sf-c-txt-black\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-black\:65, .sf-c-txt-black\:65\:st { color: hsl(0, 0%, 65%) }
.sf-c-txt-black\:70, .sf-c-txt-black\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-black\:75, .sf-c-txt-black\:75\:st { color: hsl(0, 0%, 75%) }
.sf-c-txt-black\:80, .sf-c-txt-black\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-black\:85, .sf-c-txt-black\:85\:st { color: hsl(0, 0%, 85%) }
.sf-c-txt-black\:90, .sf-c-txt-black\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-black\:95, .sf-c-txt-black\:95\:st { color: hsl(0, 0%, 95%) }
.sf-c-txt-black\:100, .sf-c-txt-black\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-black, html.dark .sf-c-black { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-black\:0, html.dark .sf-c-black\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-black\:5, html.dark .sf-c-black\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-black\:10, html.dark .sf-c-black\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-black\:15, html.dark .sf-c-black\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-black\:20, html.dark .sf-c-black\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-black\:25, html.dark .sf-c-black\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-black\:30, html.dark .sf-c-black\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-black\:35, html.dark .sf-c-black\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-black\:40, html.dark .sf-c-black\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-black\:45, html.dark .sf-c-black\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-black\:50, html.dark .sf-c-black\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-black\:55, html.dark .sf-c-black\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-black\:60, html.dark .sf-c-black\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-black\:65, html.dark .sf-c-black\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-black\:70, html.dark .sf-c-black\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-black\:75, html.dark .sf-c-black\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-black\:80, html.dark .sf-c-black\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-black\:85, html.dark .sf-c-black\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-black\:90, html.dark .sf-c-black\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-black\:95, html.dark .sf-c-black\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-black\:100, html.dark .sf-c-black\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-black\:st, html.dark .sf-c-black\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-black\:0\:st, html.dark .sf-c-black\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-black\:5\:st, html.dark .sf-c-black\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-black\:10\:st, html.dark .sf-c-black\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-black\:15\:st, html.dark .sf-c-black\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-black\:20\:st, html.dark .sf-c-black\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-black\:25\:st, html.dark .sf-c-black\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-black\:30\:st, html.dark .sf-c-black\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-black\:35\:st, html.dark .sf-c-black\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-black\:40\:st, html.dark .sf-c-black\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-black\:45\:st, html.dark .sf-c-black\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-black\:50\:st, html.dark .sf-c-black\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-black\:55\:st, html.dark .sf-c-black\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-black\:60\:st, html.dark .sf-c-black\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-black\:65\:st, html.dark .sf-c-black\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-black\:70\:st, html.dark .sf-c-black\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-black\:75\:st, html.dark .sf-c-black\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-black\:80\:st, html.dark .sf-c-black\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-black\:85\:st, html.dark .sf-c-black\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-black\:90\:st, html.dark .sf-c-black\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-black\:95\:st, html.dark .sf-c-black\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-black\:100\:st, html.dark .sf-c-black\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-black, html.dark .sf-c-txt-black { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-black\:0, html.dark .sf-c-txt-black\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-black\:5, html.dark .sf-c-txt-black\:5 { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-black\:10, html.dark .sf-c-txt-black\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-black\:15, html.dark .sf-c-txt-black\:15 { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-black\:20, html.dark .sf-c-txt-black\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-black\:25, html.dark .sf-c-txt-black\:25 { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-black\:30, html.dark .sf-c-txt-black\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-black\:35, html.dark .sf-c-txt-black\:35 { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-black\:40, html.dark .sf-c-txt-black\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-black\:45, html.dark .sf-c-txt-black\:45 { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-black\:50, html.dark .sf-c-txt-black\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-black\:55, html.dark .sf-c-txt-black\:55 { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-black\:60, html.dark .sf-c-txt-black\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-black\:65, html.dark .sf-c-txt-black\:65 { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-black\:70, html.dark .sf-c-txt-black\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-black\:75, html.dark .sf-c-txt-black\:75 { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-black\:80, html.dark .sf-c-txt-black\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-black\:85, html.dark .sf-c-txt-black\:85 { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-black\:90, html.dark .sf-c-txt-black\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-black\:95, html.dark .sf-c-txt-black\:95 { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-black\:100, html.dark .sf-c-txt-black\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-black\:st, html.dark .sf-c-txt-black\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-black\:0\:st, html.dark .sf-c-txt-black\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-black\:5\:st, html.dark .sf-c-txt-black\:5\:st { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-black\:10\:st, html.dark .sf-c-txt-black\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-black\:15\:st, html.dark .sf-c-txt-black\:15\:st { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-black\:20\:st, html.dark .sf-c-txt-black\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-black\:25\:st, html.dark .sf-c-txt-black\:25\:st { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-black\:30\:st, html.dark .sf-c-txt-black\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-black\:35\:st, html.dark .sf-c-txt-black\:35\:st { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-black\:40\:st, html.dark .sf-c-txt-black\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-black\:45\:st, html.dark .sf-c-txt-black\:45\:st { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-black\:50\:st, html.dark .sf-c-txt-black\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-black\:55\:st, html.dark .sf-c-txt-black\:55\:st { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-black\:60\:st, html.dark .sf-c-txt-black\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-black\:65\:st, html.dark .sf-c-txt-black\:65\:st { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-black\:70\:st, html.dark .sf-c-txt-black\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-black\:75\:st, html.dark .sf-c-txt-black\:75\:st { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-black\:80\:st, html.dark .sf-c-txt-black\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-black\:85\:st, html.dark .sf-c-txt-black\:85\:st { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-black\:90\:st, html.dark .sf-c-txt-black\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-black\:95\:st, html.dark .sf-c-txt-black\:95\:st { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-black\:100\:st, html.dark .sf-c-txt-black\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-black, html.auto .sf-c-black { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-black\:0, html.auto .sf-c-black\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-black\:5, html.auto .sf-c-black\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-black\:10, html.auto .sf-c-black\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-black\:15, html.auto .sf-c-black\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-black\:20, html.auto .sf-c-black\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-black\:25, html.auto .sf-c-black\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-black\:30, html.auto .sf-c-black\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-black\:35, html.auto .sf-c-black\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-black\:40, html.auto .sf-c-black\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-black\:45, html.auto .sf-c-black\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-black\:50, html.auto .sf-c-black\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-black\:55, html.auto .sf-c-black\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-black\:60, html.auto .sf-c-black\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-black\:65, html.auto .sf-c-black\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-black\:70, html.auto .sf-c-black\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-black\:75, html.auto .sf-c-black\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-black\:80, html.auto .sf-c-black\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-black\:85, html.auto .sf-c-black\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-black\:90, html.auto .sf-c-black\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-black\:95, html.auto .sf-c-black\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-black\:100, html.auto .sf-c-black\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-black\:st, html.auto .sf-c-black\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-black\:0\:st, html.auto .sf-c-black\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-black\:5\:st, html.auto .sf-c-black\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-black\:10\:st, html.auto .sf-c-black\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-black\:15\:st, html.auto .sf-c-black\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-black\:20\:st, html.auto .sf-c-black\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-black\:25\:st, html.auto .sf-c-black\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-black\:30\:st, html.auto .sf-c-black\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-black\:35\:st, html.auto .sf-c-black\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-black\:40\:st, html.auto .sf-c-black\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-black\:45\:st, html.auto .sf-c-black\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-black\:50\:st, html.auto .sf-c-black\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-black\:55\:st, html.auto .sf-c-black\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-black\:60\:st, html.auto .sf-c-black\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-black\:65\:st, html.auto .sf-c-black\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-black\:70\:st, html.auto .sf-c-black\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-black\:75\:st, html.auto .sf-c-black\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-black\:80\:st, html.auto .sf-c-black\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-black\:85\:st, html.auto .sf-c-black\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-black\:90\:st, html.auto .sf-c-black\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-black\:95\:st, html.auto .sf-c-black\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-black\:100\:st, html.auto .sf-c-black\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-black, html.auto .sf-c-txt-black { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-black\:0, html.auto .sf-c-txt-black\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-black\:5, html.auto .sf-c-txt-black\:5 { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-black\:10, html.auto .sf-c-txt-black\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-black\:15, html.auto .sf-c-txt-black\:15 { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-black\:20, html.auto .sf-c-txt-black\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-black\:25, html.auto .sf-c-txt-black\:25 { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-black\:30, html.auto .sf-c-txt-black\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-black\:35, html.auto .sf-c-txt-black\:35 { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-black\:40, html.auto .sf-c-txt-black\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-black\:45, html.auto .sf-c-txt-black\:45 { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-black\:50, html.auto .sf-c-txt-black\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-black\:55, html.auto .sf-c-txt-black\:55 { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-black\:60, html.auto .sf-c-txt-black\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-black\:65, html.auto .sf-c-txt-black\:65 { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-black\:70, html.auto .sf-c-txt-black\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-black\:75, html.auto .sf-c-txt-black\:75 { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-black\:80, html.auto .sf-c-txt-black\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-black\:85, html.auto .sf-c-txt-black\:85 { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-black\:90, html.auto .sf-c-txt-black\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-black\:95, html.auto .sf-c-txt-black\:95 { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-black\:100, html.auto .sf-c-txt-black\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-black\:st, html.auto .sf-c-txt-black\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-black\:0\:st, html.auto .sf-c-txt-black\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-black\:5\:st, html.auto .sf-c-txt-black\:5\:st { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-black\:10\:st, html.auto .sf-c-txt-black\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-black\:15\:st, html.auto .sf-c-txt-black\:15\:st { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-black\:20\:st, html.auto .sf-c-txt-black\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-black\:25\:st, html.auto .sf-c-txt-black\:25\:st { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-black\:30\:st, html.auto .sf-c-txt-black\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-black\:35\:st, html.auto .sf-c-txt-black\:35\:st { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-black\:40\:st, html.auto .sf-c-txt-black\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-black\:45\:st, html.auto .sf-c-txt-black\:45\:st { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-black\:50\:st, html.auto .sf-c-txt-black\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-black\:55\:st, html.auto .sf-c-txt-black\:55\:st { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-black\:60\:st, html.auto .sf-c-txt-black\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-black\:65\:st, html.auto .sf-c-txt-black\:65\:st { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-black\:70\:st, html.auto .sf-c-txt-black\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-black\:75\:st, html.auto .sf-c-txt-black\:75\:st { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-black\:80\:st, html.auto .sf-c-txt-black\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-black\:85\:st, html.auto .sf-c-txt-black\:85\:st { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-black\:90\:st, html.auto .sf-c-txt-black\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-black\:95\:st, html.auto .sf-c-txt-black\:95\:st { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-black\:100\:st, html.auto .sf-c-txt-black\:100\:st { color: hsl(0, 0%, 100%) }
}