.sf-var-burlywood {
  --sf-c-burlywood: 34 57% 70%;
  --sf-c-burlywood-0: 34 57% 0%;
  --sf-c-burlywood-5: 34 57% 5%;
  --sf-c-burlywood-10: 34 57% 10%;
  --sf-c-burlywood-15: 34 57% 15%;
  --sf-c-burlywood-20: 34 57% 20%;
  --sf-c-burlywood-25: 34 57% 25%;
  --sf-c-burlywood-30: 34 57% 30%;
  --sf-c-burlywood-35: 34 57% 35%;
  --sf-c-burlywood-40: 34 57% 40%;
  --sf-c-burlywood-45: 34 57% 45%;
  --sf-c-burlywood-50: 34 57% 50%;
  --sf-c-burlywood-55: 34 57% 55%;
  --sf-c-burlywood-60: 34 57% 60%;
  --sf-c-burlywood-65: 34 57% 65%;
  --sf-c-burlywood-70: 34 57% 70%;
  --sf-c-burlywood-75: 34 57% 75%;
  --sf-c-burlywood-80: 34 57% 80%;
  --sf-c-burlywood-85: 34 57% 85%;
  --sf-c-burlywood-90: 34 57% 90%;
  --sf-c-burlywood-95: 34 57% 95%;
  --sf-c-burlywood-100: 34 57% 100%;
}

.sf-c-burlywood, .sf-c-burlywood\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
.sf-c-burlywood\:0, .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 0%) }
.sf-c-burlywood\:5, .sf-c-burlywood\:5\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 5%) }
.sf-c-burlywood\:10, .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 10%) }
.sf-c-burlywood\:15, .sf-c-burlywood\:15\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 15%) }
.sf-c-burlywood\:20, .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 20%) }
.sf-c-burlywood\:25, .sf-c-burlywood\:25\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 25%) }
.sf-c-burlywood\:30, .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
.sf-c-burlywood\:35, .sf-c-burlywood\:35\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 35%) }
.sf-c-burlywood\:40, .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 40%) }
.sf-c-burlywood\:45, .sf-c-burlywood\:45\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 45%) }
.sf-c-burlywood\:50, .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 50%) }
.sf-c-burlywood\:55, .sf-c-burlywood\:55\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 55%) }
.sf-c-burlywood\:60, .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 60%) }
.sf-c-burlywood\:65, .sf-c-burlywood\:65\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 65%) }
.sf-c-burlywood\:70, .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
.sf-c-burlywood\:75, .sf-c-burlywood\:75\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 75%) }
.sf-c-burlywood\:80, .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 80%) }
.sf-c-burlywood\:85, .sf-c-burlywood\:85\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 85%) }
.sf-c-burlywood\:90, .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 90%) }
.sf-c-burlywood\:95, .sf-c-burlywood\:95\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 95%) }
.sf-c-burlywood\:100, .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 100%) }

.sf-c-txt-burlywood { color: hsl(34, 57%, 10%) }
.sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
.sf-c-txt-burlywood\:0, .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
.sf-c-txt-burlywood\:5, .sf-c-txt-burlywood\:5\:st { color: hsl(34, 57%, 5%) }
.sf-c-txt-burlywood\:10, .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
.sf-c-txt-burlywood\:15, .sf-c-txt-burlywood\:15\:st { color: hsl(34, 57%, 15%) }
.sf-c-txt-burlywood\:20, .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
.sf-c-txt-burlywood\:25, .sf-c-txt-burlywood\:25\:st { color: hsl(34, 57%, 25%) }
.sf-c-txt-burlywood\:30, .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
.sf-c-txt-burlywood\:35, .sf-c-txt-burlywood\:35\:st { color: hsl(34, 57%, 35%) }
.sf-c-txt-burlywood\:40, .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
.sf-c-txt-burlywood\:45, .sf-c-txt-burlywood\:45\:st { color: hsl(34, 57%, 45%) }
.sf-c-txt-burlywood\:50, .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
.sf-c-txt-burlywood\:55, .sf-c-txt-burlywood\:55\:st { color: hsl(34, 57%, 55%) }
.sf-c-txt-burlywood\:60, .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
.sf-c-txt-burlywood\:65, .sf-c-txt-burlywood\:65\:st { color: hsl(34, 57%, 65%) }
.sf-c-txt-burlywood\:70, .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
.sf-c-txt-burlywood\:75, .sf-c-txt-burlywood\:75\:st { color: hsl(34, 57%, 75%) }
.sf-c-txt-burlywood\:80, .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
.sf-c-txt-burlywood\:85, .sf-c-txt-burlywood\:85\:st { color: hsl(34, 57%, 85%) }
.sf-c-txt-burlywood\:90, .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
.sf-c-txt-burlywood\:95, .sf-c-txt-burlywood\:95\:st { color: hsl(34, 57%, 95%) }
.sf-c-txt-burlywood\:100, .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }

html[data-theme='dark'] .sf-c-burlywood, html.dark .sf-c-burlywood { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:0, html.dark .sf-c-burlywood\:0 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 100%) }
html[data-theme='dark'] .sf-c-burlywood\:5, html.dark .sf-c-burlywood\:5 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 95%) }
html[data-theme='dark'] .sf-c-burlywood\:10, html.dark .sf-c-burlywood\:10 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-burlywood\:15, html.dark .sf-c-burlywood\:15 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 85%) }
html[data-theme='dark'] .sf-c-burlywood\:20, html.dark .sf-c-burlywood\:20 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-burlywood\:25, html.dark .sf-c-burlywood\:25 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 75%) }
html[data-theme='dark'] .sf-c-burlywood\:30, html.dark .sf-c-burlywood\:30 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:35, html.dark .sf-c-burlywood\:35 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 65%) }
html[data-theme='dark'] .sf-c-burlywood\:40, html.dark .sf-c-burlywood\:40 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-burlywood\:45, html.dark .sf-c-burlywood\:45 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 55%) }
html[data-theme='dark'] .sf-c-burlywood\:50, html.dark .sf-c-burlywood\:50 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-burlywood\:55, html.dark .sf-c-burlywood\:55 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 45%) }
html[data-theme='dark'] .sf-c-burlywood\:60, html.dark .sf-c-burlywood\:60 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-burlywood\:65, html.dark .sf-c-burlywood\:65 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 35%) }
html[data-theme='dark'] .sf-c-burlywood\:70, html.dark .sf-c-burlywood\:70 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:75, html.dark .sf-c-burlywood\:75 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 25%) }
html[data-theme='dark'] .sf-c-burlywood\:80, html.dark .sf-c-burlywood\:80 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-burlywood\:85, html.dark .sf-c-burlywood\:85 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 15%) }
html[data-theme='dark'] .sf-c-burlywood\:90, html.dark .sf-c-burlywood\:90 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-burlywood\:95, html.dark .sf-c-burlywood\:95 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 5%) }
html[data-theme='dark'] .sf-c-burlywood\:100, html.dark .sf-c-burlywood\:100 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 0%) }

html[data-theme='dark'] .sf-c-burlywood\:st, html.dark .sf-c-burlywood\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:0\:st, html.dark .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 0%) }
html[data-theme='dark'] .sf-c-burlywood\:5\:st, html.dark .sf-c-burlywood\:5\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 5%) }
html[data-theme='dark'] .sf-c-burlywood\:10\:st, html.dark .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-burlywood\:15\:st, html.dark .sf-c-burlywood\:15\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 15%) }
html[data-theme='dark'] .sf-c-burlywood\:20\:st, html.dark .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-burlywood\:25\:st, html.dark .sf-c-burlywood\:25\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 25%) }
html[data-theme='dark'] .sf-c-burlywood\:30\:st, html.dark .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:35\:st, html.dark .sf-c-burlywood\:35\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 35%) }
html[data-theme='dark'] .sf-c-burlywood\:40\:st, html.dark .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-burlywood\:45\:st, html.dark .sf-c-burlywood\:45\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 45%) }
html[data-theme='dark'] .sf-c-burlywood\:50\:st, html.dark .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-burlywood\:55\:st, html.dark .sf-c-burlywood\:55\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 55%) }
html[data-theme='dark'] .sf-c-burlywood\:60\:st, html.dark .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-burlywood\:65\:st, html.dark .sf-c-burlywood\:65\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 65%) }
html[data-theme='dark'] .sf-c-burlywood\:70\:st, html.dark .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:75\:st, html.dark .sf-c-burlywood\:75\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 75%) }
html[data-theme='dark'] .sf-c-burlywood\:80\:st, html.dark .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-burlywood\:85\:st, html.dark .sf-c-burlywood\:85\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 85%) }
html[data-theme='dark'] .sf-c-burlywood\:90\:st, html.dark .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-burlywood\:95\:st, html.dark .sf-c-burlywood\:95\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 95%) }
html[data-theme='dark'] .sf-c-burlywood\:100\:st, html.dark .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 100%) }

html[data-theme='dark'] .sf-c-txt-burlywood, html.dark .sf-c-txt-burlywood { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:0, html.dark .sf-c-txt-burlywood\:0 { color: hsl(34, 57%, 100%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:5, html.dark .sf-c-txt-burlywood\:5 { color: hsl(34, 57%, 95%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:10, html.dark .sf-c-txt-burlywood\:10 { color: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:15, html.dark .sf-c-txt-burlywood\:15 { color: hsl(34, 57%, 85%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:20, html.dark .sf-c-txt-burlywood\:20 { color: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:25, html.dark .sf-c-txt-burlywood\:25 { color: hsl(34, 57%, 75%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:30, html.dark .sf-c-txt-burlywood\:30 { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:35, html.dark .sf-c-txt-burlywood\:35 { color: hsl(34, 57%, 65%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:40, html.dark .sf-c-txt-burlywood\:40 { color: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:45, html.dark .sf-c-txt-burlywood\:45 { color: hsl(34, 57%, 55%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:50, html.dark .sf-c-txt-burlywood\:50 { color: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:55, html.dark .sf-c-txt-burlywood\:55 { color: hsl(34, 57%, 45%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:60, html.dark .sf-c-txt-burlywood\:60 { color: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:65, html.dark .sf-c-txt-burlywood\:65 { color: hsl(34, 57%, 35%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:70, html.dark .sf-c-txt-burlywood\:70 { color: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:75, html.dark .sf-c-txt-burlywood\:75 { color: hsl(34, 57%, 25%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:80, html.dark .sf-c-txt-burlywood\:80 { color: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:85, html.dark .sf-c-txt-burlywood\:85 { color: hsl(34, 57%, 15%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:90, html.dark .sf-c-txt-burlywood\:90 { color: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:95, html.dark .sf-c-txt-burlywood\:95 { color: hsl(34, 57%, 5%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:100, html.dark .sf-c-txt-burlywood\:100 { color: hsl(34, 57%, 0%) }

html[data-theme='dark'] .sf-c-txt-burlywood\:st, html.dark .sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:0\:st, html.dark .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:5\:st, html.dark .sf-c-txt-burlywood\:5\:st { color: hsl(34, 57%, 5%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:10\:st, html.dark .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:15\:st, html.dark .sf-c-txt-burlywood\:15\:st { color: hsl(34, 57%, 15%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:20\:st, html.dark .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:25\:st, html.dark .sf-c-txt-burlywood\:25\:st { color: hsl(34, 57%, 25%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:30\:st, html.dark .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:35\:st, html.dark .sf-c-txt-burlywood\:35\:st { color: hsl(34, 57%, 35%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:40\:st, html.dark .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:45\:st, html.dark .sf-c-txt-burlywood\:45\:st { color: hsl(34, 57%, 45%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:50\:st, html.dark .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:55\:st, html.dark .sf-c-txt-burlywood\:55\:st { color: hsl(34, 57%, 55%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:60\:st, html.dark .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:65\:st, html.dark .sf-c-txt-burlywood\:65\:st { color: hsl(34, 57%, 65%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:70\:st, html.dark .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:75\:st, html.dark .sf-c-txt-burlywood\:75\:st { color: hsl(34, 57%, 75%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:80\:st, html.dark .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:85\:st, html.dark .sf-c-txt-burlywood\:85\:st { color: hsl(34, 57%, 85%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:90\:st, html.dark .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:95\:st, html.dark .sf-c-txt-burlywood\:95\:st { color: hsl(34, 57%, 95%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:100\:st, html.dark .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-burlywood, html.auto .sf-c-burlywood { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:0, html.auto .sf-c-burlywood\:0 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 100%) }
  html[data-theme='auto'] .sf-c-burlywood\:5, html.auto .sf-c-burlywood\:5 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 95%) }
  html[data-theme='auto'] .sf-c-burlywood\:10, html.auto .sf-c-burlywood\:10 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-burlywood\:15, html.auto .sf-c-burlywood\:15 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 85%) }
  html[data-theme='auto'] .sf-c-burlywood\:20, html.auto .sf-c-burlywood\:20 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-burlywood\:25, html.auto .sf-c-burlywood\:25 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 75%) }
  html[data-theme='auto'] .sf-c-burlywood\:30, html.auto .sf-c-burlywood\:30 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:35, html.auto .sf-c-burlywood\:35 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 65%) }
  html[data-theme='auto'] .sf-c-burlywood\:40, html.auto .sf-c-burlywood\:40 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-burlywood\:45, html.auto .sf-c-burlywood\:45 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 55%) }
  html[data-theme='auto'] .sf-c-burlywood\:50, html.auto .sf-c-burlywood\:50 { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-burlywood\:55, html.auto .sf-c-burlywood\:55 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 45%) }
  html[data-theme='auto'] .sf-c-burlywood\:60, html.auto .sf-c-burlywood\:60 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-burlywood\:65, html.auto .sf-c-burlywood\:65 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 35%) }
  html[data-theme='auto'] .sf-c-burlywood\:70, html.auto .sf-c-burlywood\:70 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:75, html.auto .sf-c-burlywood\:75 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 25%) }
  html[data-theme='auto'] .sf-c-burlywood\:80, html.auto .sf-c-burlywood\:80 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-burlywood\:85, html.auto .sf-c-burlywood\:85 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 15%) }
  html[data-theme='auto'] .sf-c-burlywood\:90, html.auto .sf-c-burlywood\:90 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-burlywood\:95, html.auto .sf-c-burlywood\:95 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 5%) }
  html[data-theme='auto'] .sf-c-burlywood\:100, html.auto .sf-c-burlywood\:100 { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 0%) }

  html[data-theme='auto'] .sf-c-burlywood\:st, html.auto .sf-c-burlywood\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:0\:st, html.auto .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 0%) }
  html[data-theme='auto'] .sf-c-burlywood\:5\:st, html.auto .sf-c-burlywood\:5\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 5%) }
  html[data-theme='auto'] .sf-c-burlywood\:10\:st, html.auto .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-burlywood\:15\:st, html.auto .sf-c-burlywood\:15\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 15%) }
  html[data-theme='auto'] .sf-c-burlywood\:20\:st, html.auto .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-burlywood\:25\:st, html.auto .sf-c-burlywood\:25\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 25%) }
  html[data-theme='auto'] .sf-c-burlywood\:30\:st, html.auto .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:35\:st, html.auto .sf-c-burlywood\:35\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 35%) }
  html[data-theme='auto'] .sf-c-burlywood\:40\:st, html.auto .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-burlywood\:45\:st, html.auto .sf-c-burlywood\:45\:st { color: hsl(34, 57%, 95%); background: hsl(34, 57%, 45%) }
  html[data-theme='auto'] .sf-c-burlywood\:50\:st, html.auto .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-burlywood\:55\:st, html.auto .sf-c-burlywood\:55\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 55%) }
  html[data-theme='auto'] .sf-c-burlywood\:60\:st, html.auto .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-burlywood\:65\:st, html.auto .sf-c-burlywood\:65\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 65%) }
  html[data-theme='auto'] .sf-c-burlywood\:70\:st, html.auto .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:75\:st, html.auto .sf-c-burlywood\:75\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 75%) }
  html[data-theme='auto'] .sf-c-burlywood\:80\:st, html.auto .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-burlywood\:85\:st, html.auto .sf-c-burlywood\:85\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 85%) }
  html[data-theme='auto'] .sf-c-burlywood\:90\:st, html.auto .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-burlywood\:95\:st, html.auto .sf-c-burlywood\:95\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 95%) }
  html[data-theme='auto'] .sf-c-burlywood\:100\:st, html.auto .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 5%); background: hsl(34, 57%, 100%) }

  html[data-theme='auto'] .sf-c-txt-burlywood, html.auto .sf-c-txt-burlywood { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:0, html.auto .sf-c-txt-burlywood\:0 { color: hsl(34, 57%, 100%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:5, html.auto .sf-c-txt-burlywood\:5 { color: hsl(34, 57%, 95%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:10, html.auto .sf-c-txt-burlywood\:10 { color: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:15, html.auto .sf-c-txt-burlywood\:15 { color: hsl(34, 57%, 85%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:20, html.auto .sf-c-txt-burlywood\:20 { color: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:25, html.auto .sf-c-txt-burlywood\:25 { color: hsl(34, 57%, 75%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:30, html.auto .sf-c-txt-burlywood\:30 { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:35, html.auto .sf-c-txt-burlywood\:35 { color: hsl(34, 57%, 65%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:40, html.auto .sf-c-txt-burlywood\:40 { color: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:45, html.auto .sf-c-txt-burlywood\:45 { color: hsl(34, 57%, 55%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:50, html.auto .sf-c-txt-burlywood\:50 { color: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:55, html.auto .sf-c-txt-burlywood\:55 { color: hsl(34, 57%, 45%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:60, html.auto .sf-c-txt-burlywood\:60 { color: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:65, html.auto .sf-c-txt-burlywood\:65 { color: hsl(34, 57%, 35%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:70, html.auto .sf-c-txt-burlywood\:70 { color: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:75, html.auto .sf-c-txt-burlywood\:75 { color: hsl(34, 57%, 25%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:80, html.auto .sf-c-txt-burlywood\:80 { color: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:85, html.auto .sf-c-txt-burlywood\:85 { color: hsl(34, 57%, 15%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:90, html.auto .sf-c-txt-burlywood\:90 { color: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:95, html.auto .sf-c-txt-burlywood\:95 { color: hsl(34, 57%, 5%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:100, html.auto .sf-c-txt-burlywood\:100 { color: hsl(34, 57%, 0%) }

  html[data-theme='auto'] .sf-c-txt-burlywood\:st, html.auto .sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:0\:st, html.auto .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:5\:st, html.auto .sf-c-txt-burlywood\:5\:st { color: hsl(34, 57%, 5%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:10\:st, html.auto .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:15\:st, html.auto .sf-c-txt-burlywood\:15\:st { color: hsl(34, 57%, 15%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:20\:st, html.auto .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:25\:st, html.auto .sf-c-txt-burlywood\:25\:st { color: hsl(34, 57%, 25%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:30\:st, html.auto .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:35\:st, html.auto .sf-c-txt-burlywood\:35\:st { color: hsl(34, 57%, 35%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:40\:st, html.auto .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:45\:st, html.auto .sf-c-txt-burlywood\:45\:st { color: hsl(34, 57%, 45%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:50\:st, html.auto .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:55\:st, html.auto .sf-c-txt-burlywood\:55\:st { color: hsl(34, 57%, 55%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:60\:st, html.auto .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:65\:st, html.auto .sf-c-txt-burlywood\:65\:st { color: hsl(34, 57%, 65%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:70\:st, html.auto .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:75\:st, html.auto .sf-c-txt-burlywood\:75\:st { color: hsl(34, 57%, 75%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:80\:st, html.auto .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:85\:st, html.auto .sf-c-txt-burlywood\:85\:st { color: hsl(34, 57%, 85%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:90\:st, html.auto .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:95\:st, html.auto .sf-c-txt-burlywood\:95\:st { color: hsl(34, 57%, 95%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:100\:st, html.auto .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }
}