.sf-var-darkmagenta {
  --sf-c-darkmagenta: 300 100% 27%;
  --sf-c-darkmagenta-0: 300 100% 0%;
  --sf-c-darkmagenta-5: 300 100% 5%;
  --sf-c-darkmagenta-10: 300 100% 10%;
  --sf-c-darkmagenta-15: 300 100% 15%;
  --sf-c-darkmagenta-20: 300 100% 20%;
  --sf-c-darkmagenta-25: 300 100% 25%;
  --sf-c-darkmagenta-30: 300 100% 30%;
  --sf-c-darkmagenta-35: 300 100% 35%;
  --sf-c-darkmagenta-40: 300 100% 40%;
  --sf-c-darkmagenta-45: 300 100% 45%;
  --sf-c-darkmagenta-50: 300 100% 50%;
  --sf-c-darkmagenta-55: 300 100% 55%;
  --sf-c-darkmagenta-60: 300 100% 60%;
  --sf-c-darkmagenta-65: 300 100% 65%;
  --sf-c-darkmagenta-70: 300 100% 70%;
  --sf-c-darkmagenta-75: 300 100% 75%;
  --sf-c-darkmagenta-80: 300 100% 80%;
  --sf-c-darkmagenta-85: 300 100% 85%;
  --sf-c-darkmagenta-90: 300 100% 90%;
  --sf-c-darkmagenta-95: 300 100% 95%;
  --sf-c-darkmagenta-100: 300 100% 100%;
}

.sf-c-darkmagenta, .sf-c-darkmagenta\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 27%) }
.sf-c-darkmagenta\:0, .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 0%) }
.sf-c-darkmagenta\:5, .sf-c-darkmagenta\:5\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 5%) }
.sf-c-darkmagenta\:10, .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 10%) }
.sf-c-darkmagenta\:15, .sf-c-darkmagenta\:15\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 15%) }
.sf-c-darkmagenta\:20, .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 20%) }
.sf-c-darkmagenta\:25, .sf-c-darkmagenta\:25\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 25%) }
.sf-c-darkmagenta\:30, .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 30%) }
.sf-c-darkmagenta\:35, .sf-c-darkmagenta\:35\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 35%) }
.sf-c-darkmagenta\:40, .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 40%) }
.sf-c-darkmagenta\:45, .sf-c-darkmagenta\:45\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 45%) }
.sf-c-darkmagenta\:50, .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 50%) }
.sf-c-darkmagenta\:55, .sf-c-darkmagenta\:55\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 55%) }
.sf-c-darkmagenta\:60, .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 60%) }
.sf-c-darkmagenta\:65, .sf-c-darkmagenta\:65\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 65%) }
.sf-c-darkmagenta\:70, .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 70%) }
.sf-c-darkmagenta\:75, .sf-c-darkmagenta\:75\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 75%) }
.sf-c-darkmagenta\:80, .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 80%) }
.sf-c-darkmagenta\:85, .sf-c-darkmagenta\:85\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 85%) }
.sf-c-darkmagenta\:90, .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 90%) }
.sf-c-darkmagenta\:95, .sf-c-darkmagenta\:95\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 95%) }
.sf-c-darkmagenta\:100, .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 100%) }

.sf-c-txt-darkmagenta { color: hsl(300, 100%, 27%) }
.sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
.sf-c-txt-darkmagenta\:0, .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
.sf-c-txt-darkmagenta\:5, .sf-c-txt-darkmagenta\:5\:st { color: hsl(300, 100%, 5%) }
.sf-c-txt-darkmagenta\:10, .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
.sf-c-txt-darkmagenta\:15, .sf-c-txt-darkmagenta\:15\:st { color: hsl(300, 100%, 15%) }
.sf-c-txt-darkmagenta\:20, .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
.sf-c-txt-darkmagenta\:25, .sf-c-txt-darkmagenta\:25\:st { color: hsl(300, 100%, 25%) }
.sf-c-txt-darkmagenta\:30, .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
.sf-c-txt-darkmagenta\:35, .sf-c-txt-darkmagenta\:35\:st { color: hsl(300, 100%, 35%) }
.sf-c-txt-darkmagenta\:40, .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
.sf-c-txt-darkmagenta\:45, .sf-c-txt-darkmagenta\:45\:st { color: hsl(300, 100%, 45%) }
.sf-c-txt-darkmagenta\:50, .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
.sf-c-txt-darkmagenta\:55, .sf-c-txt-darkmagenta\:55\:st { color: hsl(300, 100%, 55%) }
.sf-c-txt-darkmagenta\:60, .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
.sf-c-txt-darkmagenta\:65, .sf-c-txt-darkmagenta\:65\:st { color: hsl(300, 100%, 65%) }
.sf-c-txt-darkmagenta\:70, .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
.sf-c-txt-darkmagenta\:75, .sf-c-txt-darkmagenta\:75\:st { color: hsl(300, 100%, 75%) }
.sf-c-txt-darkmagenta\:80, .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
.sf-c-txt-darkmagenta\:85, .sf-c-txt-darkmagenta\:85\:st { color: hsl(300, 100%, 85%) }
.sf-c-txt-darkmagenta\:90, .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
.sf-c-txt-darkmagenta\:95, .sf-c-txt-darkmagenta\:95\:st { color: hsl(300, 100%, 95%) }
.sf-c-txt-darkmagenta\:100, .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkmagenta, html.dark .sf-c-darkmagenta { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 73%) }
html[data-theme='dark'] .sf-c-darkmagenta\:0, html.dark .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkmagenta\:5, html.dark .sf-c-darkmagenta\:5 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkmagenta\:10, html.dark .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkmagenta\:15, html.dark .sf-c-darkmagenta\:15 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkmagenta\:20, html.dark .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkmagenta\:25, html.dark .sf-c-darkmagenta\:25 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkmagenta\:30, html.dark .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkmagenta\:35, html.dark .sf-c-darkmagenta\:35 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkmagenta\:40, html.dark .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkmagenta\:45, html.dark .sf-c-darkmagenta\:45 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkmagenta\:50, html.dark .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkmagenta\:55, html.dark .sf-c-darkmagenta\:55 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkmagenta\:60, html.dark .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkmagenta\:65, html.dark .sf-c-darkmagenta\:65 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkmagenta\:70, html.dark .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkmagenta\:75, html.dark .sf-c-darkmagenta\:75 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkmagenta\:80, html.dark .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkmagenta\:85, html.dark .sf-c-darkmagenta\:85 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkmagenta\:90, html.dark .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkmagenta\:95, html.dark .sf-c-darkmagenta\:95 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkmagenta\:100, html.dark .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkmagenta\:st, html.dark .sf-c-darkmagenta\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 27%) }
html[data-theme='dark'] .sf-c-darkmagenta\:0\:st, html.dark .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkmagenta\:5\:st, html.dark .sf-c-darkmagenta\:5\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkmagenta\:10\:st, html.dark .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkmagenta\:15\:st, html.dark .sf-c-darkmagenta\:15\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkmagenta\:20\:st, html.dark .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkmagenta\:25\:st, html.dark .sf-c-darkmagenta\:25\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkmagenta\:30\:st, html.dark .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkmagenta\:35\:st, html.dark .sf-c-darkmagenta\:35\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkmagenta\:40\:st, html.dark .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkmagenta\:45\:st, html.dark .sf-c-darkmagenta\:45\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkmagenta\:50\:st, html.dark .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkmagenta\:55\:st, html.dark .sf-c-darkmagenta\:55\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkmagenta\:60\:st, html.dark .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkmagenta\:65\:st, html.dark .sf-c-darkmagenta\:65\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkmagenta\:70\:st, html.dark .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkmagenta\:75\:st, html.dark .sf-c-darkmagenta\:75\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkmagenta\:80\:st, html.dark .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkmagenta\:85\:st, html.dark .sf-c-darkmagenta\:85\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkmagenta\:90\:st, html.dark .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkmagenta\:95\:st, html.dark .sf-c-darkmagenta\:95\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkmagenta\:100\:st, html.dark .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkmagenta, html.dark .sf-c-txt-darkmagenta { color: hsl(300, 100%, 73%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:0, html.dark .sf-c-txt-darkmagenta\:0 { color: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:5, html.dark .sf-c-txt-darkmagenta\:5 { color: hsl(300, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:10, html.dark .sf-c-txt-darkmagenta\:10 { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:15, html.dark .sf-c-txt-darkmagenta\:15 { color: hsl(300, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:20, html.dark .sf-c-txt-darkmagenta\:20 { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:25, html.dark .sf-c-txt-darkmagenta\:25 { color: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:30, html.dark .sf-c-txt-darkmagenta\:30 { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:35, html.dark .sf-c-txt-darkmagenta\:35 { color: hsl(300, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:40, html.dark .sf-c-txt-darkmagenta\:40 { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:45, html.dark .sf-c-txt-darkmagenta\:45 { color: hsl(300, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:50, html.dark .sf-c-txt-darkmagenta\:50 { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:55, html.dark .sf-c-txt-darkmagenta\:55 { color: hsl(300, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:60, html.dark .sf-c-txt-darkmagenta\:60 { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:65, html.dark .sf-c-txt-darkmagenta\:65 { color: hsl(300, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:70, html.dark .sf-c-txt-darkmagenta\:70 { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:75, html.dark .sf-c-txt-darkmagenta\:75 { color: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:80, html.dark .sf-c-txt-darkmagenta\:80 { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:85, html.dark .sf-c-txt-darkmagenta\:85 { color: hsl(300, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:90, html.dark .sf-c-txt-darkmagenta\:90 { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:95, html.dark .sf-c-txt-darkmagenta\:95 { color: hsl(300, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:100, html.dark .sf-c-txt-darkmagenta\:100 { color: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkmagenta\:st, html.dark .sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:0\:st, html.dark .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:5\:st, html.dark .sf-c-txt-darkmagenta\:5\:st { color: hsl(300, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:10\:st, html.dark .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:15\:st, html.dark .sf-c-txt-darkmagenta\:15\:st { color: hsl(300, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:20\:st, html.dark .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:25\:st, html.dark .sf-c-txt-darkmagenta\:25\:st { color: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:30\:st, html.dark .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:35\:st, html.dark .sf-c-txt-darkmagenta\:35\:st { color: hsl(300, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:40\:st, html.dark .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:45\:st, html.dark .sf-c-txt-darkmagenta\:45\:st { color: hsl(300, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:50\:st, html.dark .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:55\:st, html.dark .sf-c-txt-darkmagenta\:55\:st { color: hsl(300, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:60\:st, html.dark .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:65\:st, html.dark .sf-c-txt-darkmagenta\:65\:st { color: hsl(300, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:70\:st, html.dark .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:75\:st, html.dark .sf-c-txt-darkmagenta\:75\:st { color: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:80\:st, html.dark .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:85\:st, html.dark .sf-c-txt-darkmagenta\:85\:st { color: hsl(300, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:90\:st, html.dark .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:95\:st, html.dark .sf-c-txt-darkmagenta\:95\:st { color: hsl(300, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:100\:st, html.dark .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkmagenta, html.auto .sf-c-darkmagenta { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 73%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0, html.auto .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:5, html.auto .sf-c-darkmagenta\:5 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10, html.auto .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:15, html.auto .sf-c-darkmagenta\:15 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20, html.auto .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:25, html.auto .sf-c-darkmagenta\:25 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30, html.auto .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:35, html.auto .sf-c-darkmagenta\:35 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40, html.auto .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:45, html.auto .sf-c-darkmagenta\:45 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50, html.auto .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:55, html.auto .sf-c-darkmagenta\:55 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60, html.auto .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:65, html.auto .sf-c-darkmagenta\:65 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70, html.auto .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:75, html.auto .sf-c-darkmagenta\:75 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80, html.auto .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:85, html.auto .sf-c-darkmagenta\:85 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90, html.auto .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:95, html.auto .sf-c-darkmagenta\:95 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100, html.auto .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkmagenta\:st, html.auto .sf-c-darkmagenta\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 27%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0\:st, html.auto .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:5\:st, html.auto .sf-c-darkmagenta\:5\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10\:st, html.auto .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:15\:st, html.auto .sf-c-darkmagenta\:15\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20\:st, html.auto .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:25\:st, html.auto .sf-c-darkmagenta\:25\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30\:st, html.auto .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:35\:st, html.auto .sf-c-darkmagenta\:35\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40\:st, html.auto .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:45\:st, html.auto .sf-c-darkmagenta\:45\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50\:st, html.auto .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:55\:st, html.auto .sf-c-darkmagenta\:55\:st { color: hsl(300, 100%, 95%); background: hsl(300, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60\:st, html.auto .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:65\:st, html.auto .sf-c-darkmagenta\:65\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70\:st, html.auto .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:75\:st, html.auto .sf-c-darkmagenta\:75\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80\:st, html.auto .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:85\:st, html.auto .sf-c-darkmagenta\:85\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90\:st, html.auto .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:95\:st, html.auto .sf-c-darkmagenta\:95\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100\:st, html.auto .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 5%); background: hsl(300, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkmagenta, html.auto .sf-c-txt-darkmagenta { color: hsl(300, 100%, 73%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:0, html.auto .sf-c-txt-darkmagenta\:0 { color: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:5, html.auto .sf-c-txt-darkmagenta\:5 { color: hsl(300, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:10, html.auto .sf-c-txt-darkmagenta\:10 { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:15, html.auto .sf-c-txt-darkmagenta\:15 { color: hsl(300, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:20, html.auto .sf-c-txt-darkmagenta\:20 { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:25, html.auto .sf-c-txt-darkmagenta\:25 { color: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:30, html.auto .sf-c-txt-darkmagenta\:30 { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:35, html.auto .sf-c-txt-darkmagenta\:35 { color: hsl(300, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:40, html.auto .sf-c-txt-darkmagenta\:40 { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:45, html.auto .sf-c-txt-darkmagenta\:45 { color: hsl(300, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:50, html.auto .sf-c-txt-darkmagenta\:50 { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:55, html.auto .sf-c-txt-darkmagenta\:55 { color: hsl(300, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:60, html.auto .sf-c-txt-darkmagenta\:60 { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:65, html.auto .sf-c-txt-darkmagenta\:65 { color: hsl(300, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:70, html.auto .sf-c-txt-darkmagenta\:70 { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:75, html.auto .sf-c-txt-darkmagenta\:75 { color: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:80, html.auto .sf-c-txt-darkmagenta\:80 { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:85, html.auto .sf-c-txt-darkmagenta\:85 { color: hsl(300, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:90, html.auto .sf-c-txt-darkmagenta\:90 { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:95, html.auto .sf-c-txt-darkmagenta\:95 { color: hsl(300, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:100, html.auto .sf-c-txt-darkmagenta\:100 { color: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkmagenta\:st, html.auto .sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:0\:st, html.auto .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:5\:st, html.auto .sf-c-txt-darkmagenta\:5\:st { color: hsl(300, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:10\:st, html.auto .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:15\:st, html.auto .sf-c-txt-darkmagenta\:15\:st { color: hsl(300, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:20\:st, html.auto .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:25\:st, html.auto .sf-c-txt-darkmagenta\:25\:st { color: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:30\:st, html.auto .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:35\:st, html.auto .sf-c-txt-darkmagenta\:35\:st { color: hsl(300, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:40\:st, html.auto .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:45\:st, html.auto .sf-c-txt-darkmagenta\:45\:st { color: hsl(300, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:50\:st, html.auto .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:55\:st, html.auto .sf-c-txt-darkmagenta\:55\:st { color: hsl(300, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:60\:st, html.auto .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:65\:st, html.auto .sf-c-txt-darkmagenta\:65\:st { color: hsl(300, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:70\:st, html.auto .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:75\:st, html.auto .sf-c-txt-darkmagenta\:75\:st { color: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:80\:st, html.auto .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:85\:st, html.auto .sf-c-txt-darkmagenta\:85\:st { color: hsl(300, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:90\:st, html.auto .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:95\:st, html.auto .sf-c-txt-darkmagenta\:95\:st { color: hsl(300, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:100\:st, html.auto .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }
}