.sf-var-darkslategray {
  --sf-c-darkslategray: 180 25% 25%;
  --sf-c-darkslategray-0: 180 25% 0%;
  --sf-c-darkslategray-5: 180 25% 5%;
  --sf-c-darkslategray-10: 180 25% 10%;
  --sf-c-darkslategray-15: 180 25% 15%;
  --sf-c-darkslategray-20: 180 25% 20%;
  --sf-c-darkslategray-25: 180 25% 25%;
  --sf-c-darkslategray-30: 180 25% 30%;
  --sf-c-darkslategray-35: 180 25% 35%;
  --sf-c-darkslategray-40: 180 25% 40%;
  --sf-c-darkslategray-45: 180 25% 45%;
  --sf-c-darkslategray-50: 180 25% 50%;
  --sf-c-darkslategray-55: 180 25% 55%;
  --sf-c-darkslategray-60: 180 25% 60%;
  --sf-c-darkslategray-65: 180 25% 65%;
  --sf-c-darkslategray-70: 180 25% 70%;
  --sf-c-darkslategray-75: 180 25% 75%;
  --sf-c-darkslategray-80: 180 25% 80%;
  --sf-c-darkslategray-85: 180 25% 85%;
  --sf-c-darkslategray-90: 180 25% 90%;
  --sf-c-darkslategray-95: 180 25% 95%;
  --sf-c-darkslategray-100: 180 25% 100%;
}

.sf-c-darkslategray, .sf-c-darkslategray\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
.sf-c-darkslategray\:0, .sf-c-darkslategray\:0\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 0%) }
.sf-c-darkslategray\:5, .sf-c-darkslategray\:5\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 5%) }
.sf-c-darkslategray\:10, .sf-c-darkslategray\:10\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 10%) }
.sf-c-darkslategray\:15, .sf-c-darkslategray\:15\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 15%) }
.sf-c-darkslategray\:20, .sf-c-darkslategray\:20\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 20%) }
.sf-c-darkslategray\:25, .sf-c-darkslategray\:25\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
.sf-c-darkslategray\:30, .sf-c-darkslategray\:30\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 30%) }
.sf-c-darkslategray\:35, .sf-c-darkslategray\:35\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 35%) }
.sf-c-darkslategray\:40, .sf-c-darkslategray\:40\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 40%) }
.sf-c-darkslategray\:45, .sf-c-darkslategray\:45\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 45%) }
.sf-c-darkslategray\:50, .sf-c-darkslategray\:50\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 50%) }
.sf-c-darkslategray\:55, .sf-c-darkslategray\:55\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 55%) }
.sf-c-darkslategray\:60, .sf-c-darkslategray\:60\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 60%) }
.sf-c-darkslategray\:65, .sf-c-darkslategray\:65\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 65%) }
.sf-c-darkslategray\:70, .sf-c-darkslategray\:70\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 70%) }
.sf-c-darkslategray\:75, .sf-c-darkslategray\:75\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
.sf-c-darkslategray\:80, .sf-c-darkslategray\:80\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 80%) }
.sf-c-darkslategray\:85, .sf-c-darkslategray\:85\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 85%) }
.sf-c-darkslategray\:90, .sf-c-darkslategray\:90\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 90%) }
.sf-c-darkslategray\:95, .sf-c-darkslategray\:95\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 95%) }
.sf-c-darkslategray\:100, .sf-c-darkslategray\:100\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 100%) }

.sf-c-txt-darkslategray { color: hsl(180, 25%, 25%) }
.sf-c-txt-darkslategray\:st { color: hsl(180, 25%, 25%) }
.sf-c-txt-darkslategray\:0, .sf-c-txt-darkslategray\:0\:st { color: hsl(180, 25%, 0%) }
.sf-c-txt-darkslategray\:5, .sf-c-txt-darkslategray\:5\:st { color: hsl(180, 25%, 5%) }
.sf-c-txt-darkslategray\:10, .sf-c-txt-darkslategray\:10\:st { color: hsl(180, 25%, 10%) }
.sf-c-txt-darkslategray\:15, .sf-c-txt-darkslategray\:15\:st { color: hsl(180, 25%, 15%) }
.sf-c-txt-darkslategray\:20, .sf-c-txt-darkslategray\:20\:st { color: hsl(180, 25%, 20%) }
.sf-c-txt-darkslategray\:25, .sf-c-txt-darkslategray\:25\:st { color: hsl(180, 25%, 25%) }
.sf-c-txt-darkslategray\:30, .sf-c-txt-darkslategray\:30\:st { color: hsl(180, 25%, 30%) }
.sf-c-txt-darkslategray\:35, .sf-c-txt-darkslategray\:35\:st { color: hsl(180, 25%, 35%) }
.sf-c-txt-darkslategray\:40, .sf-c-txt-darkslategray\:40\:st { color: hsl(180, 25%, 40%) }
.sf-c-txt-darkslategray\:45, .sf-c-txt-darkslategray\:45\:st { color: hsl(180, 25%, 45%) }
.sf-c-txt-darkslategray\:50, .sf-c-txt-darkslategray\:50\:st { color: hsl(180, 25%, 50%) }
.sf-c-txt-darkslategray\:55, .sf-c-txt-darkslategray\:55\:st { color: hsl(180, 25%, 55%) }
.sf-c-txt-darkslategray\:60, .sf-c-txt-darkslategray\:60\:st { color: hsl(180, 25%, 60%) }
.sf-c-txt-darkslategray\:65, .sf-c-txt-darkslategray\:65\:st { color: hsl(180, 25%, 65%) }
.sf-c-txt-darkslategray\:70, .sf-c-txt-darkslategray\:70\:st { color: hsl(180, 25%, 70%) }
.sf-c-txt-darkslategray\:75, .sf-c-txt-darkslategray\:75\:st { color: hsl(180, 25%, 75%) }
.sf-c-txt-darkslategray\:80, .sf-c-txt-darkslategray\:80\:st { color: hsl(180, 25%, 80%) }
.sf-c-txt-darkslategray\:85, .sf-c-txt-darkslategray\:85\:st { color: hsl(180, 25%, 85%) }
.sf-c-txt-darkslategray\:90, .sf-c-txt-darkslategray\:90\:st { color: hsl(180, 25%, 90%) }
.sf-c-txt-darkslategray\:95, .sf-c-txt-darkslategray\:95\:st { color: hsl(180, 25%, 95%) }
.sf-c-txt-darkslategray\:100, .sf-c-txt-darkslategray\:100\:st { color: hsl(180, 25%, 100%) }

html[data-theme='dark'] .sf-c-darkslategray, html.dark .sf-c-darkslategray { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-darkslategray\:0, html.dark .sf-c-darkslategray\:0 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 100%) }
html[data-theme='dark'] .sf-c-darkslategray\:5, html.dark .sf-c-darkslategray\:5 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 95%) }
html[data-theme='dark'] .sf-c-darkslategray\:10, html.dark .sf-c-darkslategray\:10 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-darkslategray\:15, html.dark .sf-c-darkslategray\:15 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 85%) }
html[data-theme='dark'] .sf-c-darkslategray\:20, html.dark .sf-c-darkslategray\:20 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-darkslategray\:25, html.dark .sf-c-darkslategray\:25 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-darkslategray\:30, html.dark .sf-c-darkslategray\:30 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-darkslategray\:35, html.dark .sf-c-darkslategray\:35 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 65%) }
html[data-theme='dark'] .sf-c-darkslategray\:40, html.dark .sf-c-darkslategray\:40 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-darkslategray\:45, html.dark .sf-c-darkslategray\:45 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 55%) }
html[data-theme='dark'] .sf-c-darkslategray\:50, html.dark .sf-c-darkslategray\:50 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-darkslategray\:55, html.dark .sf-c-darkslategray\:55 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 45%) }
html[data-theme='dark'] .sf-c-darkslategray\:60, html.dark .sf-c-darkslategray\:60 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-darkslategray\:65, html.dark .sf-c-darkslategray\:65 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 35%) }
html[data-theme='dark'] .sf-c-darkslategray\:70, html.dark .sf-c-darkslategray\:70 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-darkslategray\:75, html.dark .sf-c-darkslategray\:75 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-darkslategray\:80, html.dark .sf-c-darkslategray\:80 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-darkslategray\:85, html.dark .sf-c-darkslategray\:85 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 15%) }
html[data-theme='dark'] .sf-c-darkslategray\:90, html.dark .sf-c-darkslategray\:90 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-darkslategray\:95, html.dark .sf-c-darkslategray\:95 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 5%) }
html[data-theme='dark'] .sf-c-darkslategray\:100, html.dark .sf-c-darkslategray\:100 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 0%) }

html[data-theme='dark'] .sf-c-darkslategray\:st, html.dark .sf-c-darkslategray\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-darkslategray\:0\:st, html.dark .sf-c-darkslategray\:0\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 0%) }
html[data-theme='dark'] .sf-c-darkslategray\:5\:st, html.dark .sf-c-darkslategray\:5\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 5%) }
html[data-theme='dark'] .sf-c-darkslategray\:10\:st, html.dark .sf-c-darkslategray\:10\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-darkslategray\:15\:st, html.dark .sf-c-darkslategray\:15\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 15%) }
html[data-theme='dark'] .sf-c-darkslategray\:20\:st, html.dark .sf-c-darkslategray\:20\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-darkslategray\:25\:st, html.dark .sf-c-darkslategray\:25\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-darkslategray\:30\:st, html.dark .sf-c-darkslategray\:30\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-darkslategray\:35\:st, html.dark .sf-c-darkslategray\:35\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 35%) }
html[data-theme='dark'] .sf-c-darkslategray\:40\:st, html.dark .sf-c-darkslategray\:40\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-darkslategray\:45\:st, html.dark .sf-c-darkslategray\:45\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 45%) }
html[data-theme='dark'] .sf-c-darkslategray\:50\:st, html.dark .sf-c-darkslategray\:50\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-darkslategray\:55\:st, html.dark .sf-c-darkslategray\:55\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 55%) }
html[data-theme='dark'] .sf-c-darkslategray\:60\:st, html.dark .sf-c-darkslategray\:60\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-darkslategray\:65\:st, html.dark .sf-c-darkslategray\:65\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 65%) }
html[data-theme='dark'] .sf-c-darkslategray\:70\:st, html.dark .sf-c-darkslategray\:70\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-darkslategray\:75\:st, html.dark .sf-c-darkslategray\:75\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-darkslategray\:80\:st, html.dark .sf-c-darkslategray\:80\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-darkslategray\:85\:st, html.dark .sf-c-darkslategray\:85\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 85%) }
html[data-theme='dark'] .sf-c-darkslategray\:90\:st, html.dark .sf-c-darkslategray\:90\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-darkslategray\:95\:st, html.dark .sf-c-darkslategray\:95\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 95%) }
html[data-theme='dark'] .sf-c-darkslategray\:100\:st, html.dark .sf-c-darkslategray\:100\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkslategray, html.dark .sf-c-txt-darkslategray { color: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:0, html.dark .sf-c-txt-darkslategray\:0 { color: hsl(180, 25%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:5, html.dark .sf-c-txt-darkslategray\:5 { color: hsl(180, 25%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:10, html.dark .sf-c-txt-darkslategray\:10 { color: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:15, html.dark .sf-c-txt-darkslategray\:15 { color: hsl(180, 25%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:20, html.dark .sf-c-txt-darkslategray\:20 { color: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:25, html.dark .sf-c-txt-darkslategray\:25 { color: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:30, html.dark .sf-c-txt-darkslategray\:30 { color: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:35, html.dark .sf-c-txt-darkslategray\:35 { color: hsl(180, 25%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:40, html.dark .sf-c-txt-darkslategray\:40 { color: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:45, html.dark .sf-c-txt-darkslategray\:45 { color: hsl(180, 25%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:50, html.dark .sf-c-txt-darkslategray\:50 { color: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:55, html.dark .sf-c-txt-darkslategray\:55 { color: hsl(180, 25%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:60, html.dark .sf-c-txt-darkslategray\:60 { color: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:65, html.dark .sf-c-txt-darkslategray\:65 { color: hsl(180, 25%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:70, html.dark .sf-c-txt-darkslategray\:70 { color: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:75, html.dark .sf-c-txt-darkslategray\:75 { color: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:80, html.dark .sf-c-txt-darkslategray\:80 { color: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:85, html.dark .sf-c-txt-darkslategray\:85 { color: hsl(180, 25%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:90, html.dark .sf-c-txt-darkslategray\:90 { color: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:95, html.dark .sf-c-txt-darkslategray\:95 { color: hsl(180, 25%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:100, html.dark .sf-c-txt-darkslategray\:100 { color: hsl(180, 25%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkslategray\:st, html.dark .sf-c-txt-darkslategray\:st { color: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:0\:st, html.dark .sf-c-txt-darkslategray\:0\:st { color: hsl(180, 25%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:5\:st, html.dark .sf-c-txt-darkslategray\:5\:st { color: hsl(180, 25%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:10\:st, html.dark .sf-c-txt-darkslategray\:10\:st { color: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:15\:st, html.dark .sf-c-txt-darkslategray\:15\:st { color: hsl(180, 25%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:20\:st, html.dark .sf-c-txt-darkslategray\:20\:st { color: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:25\:st, html.dark .sf-c-txt-darkslategray\:25\:st { color: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:30\:st, html.dark .sf-c-txt-darkslategray\:30\:st { color: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:35\:st, html.dark .sf-c-txt-darkslategray\:35\:st { color: hsl(180, 25%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:40\:st, html.dark .sf-c-txt-darkslategray\:40\:st { color: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:45\:st, html.dark .sf-c-txt-darkslategray\:45\:st { color: hsl(180, 25%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:50\:st, html.dark .sf-c-txt-darkslategray\:50\:st { color: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:55\:st, html.dark .sf-c-txt-darkslategray\:55\:st { color: hsl(180, 25%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:60\:st, html.dark .sf-c-txt-darkslategray\:60\:st { color: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:65\:st, html.dark .sf-c-txt-darkslategray\:65\:st { color: hsl(180, 25%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:70\:st, html.dark .sf-c-txt-darkslategray\:70\:st { color: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:75\:st, html.dark .sf-c-txt-darkslategray\:75\:st { color: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:80\:st, html.dark .sf-c-txt-darkslategray\:80\:st { color: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:85\:st, html.dark .sf-c-txt-darkslategray\:85\:st { color: hsl(180, 25%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:90\:st, html.dark .sf-c-txt-darkslategray\:90\:st { color: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:95\:st, html.dark .sf-c-txt-darkslategray\:95\:st { color: hsl(180, 25%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkslategray\:100\:st, html.dark .sf-c-txt-darkslategray\:100\:st { color: hsl(180, 25%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkslategray, html.auto .sf-c-darkslategray { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-darkslategray\:0, html.auto .sf-c-darkslategray\:0 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 100%) }
  html[data-theme='auto'] .sf-c-darkslategray\:5, html.auto .sf-c-darkslategray\:5 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 95%) }
  html[data-theme='auto'] .sf-c-darkslategray\:10, html.auto .sf-c-darkslategray\:10 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-darkslategray\:15, html.auto .sf-c-darkslategray\:15 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 85%) }
  html[data-theme='auto'] .sf-c-darkslategray\:20, html.auto .sf-c-darkslategray\:20 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-darkslategray\:25, html.auto .sf-c-darkslategray\:25 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-darkslategray\:30, html.auto .sf-c-darkslategray\:30 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-darkslategray\:35, html.auto .sf-c-darkslategray\:35 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 65%) }
  html[data-theme='auto'] .sf-c-darkslategray\:40, html.auto .sf-c-darkslategray\:40 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-darkslategray\:45, html.auto .sf-c-darkslategray\:45 { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 55%) }
  html[data-theme='auto'] .sf-c-darkslategray\:50, html.auto .sf-c-darkslategray\:50 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-darkslategray\:55, html.auto .sf-c-darkslategray\:55 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 45%) }
  html[data-theme='auto'] .sf-c-darkslategray\:60, html.auto .sf-c-darkslategray\:60 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-darkslategray\:65, html.auto .sf-c-darkslategray\:65 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 35%) }
  html[data-theme='auto'] .sf-c-darkslategray\:70, html.auto .sf-c-darkslategray\:70 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-darkslategray\:75, html.auto .sf-c-darkslategray\:75 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-darkslategray\:80, html.auto .sf-c-darkslategray\:80 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-darkslategray\:85, html.auto .sf-c-darkslategray\:85 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 15%) }
  html[data-theme='auto'] .sf-c-darkslategray\:90, html.auto .sf-c-darkslategray\:90 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-darkslategray\:95, html.auto .sf-c-darkslategray\:95 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 5%) }
  html[data-theme='auto'] .sf-c-darkslategray\:100, html.auto .sf-c-darkslategray\:100 { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 0%) }

  html[data-theme='auto'] .sf-c-darkslategray\:st, html.auto .sf-c-darkslategray\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-darkslategray\:0\:st, html.auto .sf-c-darkslategray\:0\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 0%) }
  html[data-theme='auto'] .sf-c-darkslategray\:5\:st, html.auto .sf-c-darkslategray\:5\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 5%) }
  html[data-theme='auto'] .sf-c-darkslategray\:10\:st, html.auto .sf-c-darkslategray\:10\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-darkslategray\:15\:st, html.auto .sf-c-darkslategray\:15\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 15%) }
  html[data-theme='auto'] .sf-c-darkslategray\:20\:st, html.auto .sf-c-darkslategray\:20\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-darkslategray\:25\:st, html.auto .sf-c-darkslategray\:25\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-darkslategray\:30\:st, html.auto .sf-c-darkslategray\:30\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-darkslategray\:35\:st, html.auto .sf-c-darkslategray\:35\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 35%) }
  html[data-theme='auto'] .sf-c-darkslategray\:40\:st, html.auto .sf-c-darkslategray\:40\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-darkslategray\:45\:st, html.auto .sf-c-darkslategray\:45\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 45%) }
  html[data-theme='auto'] .sf-c-darkslategray\:50\:st, html.auto .sf-c-darkslategray\:50\:st { color: hsl(180, 25%, 95%); background: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-darkslategray\:55\:st, html.auto .sf-c-darkslategray\:55\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 55%) }
  html[data-theme='auto'] .sf-c-darkslategray\:60\:st, html.auto .sf-c-darkslategray\:60\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-darkslategray\:65\:st, html.auto .sf-c-darkslategray\:65\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 65%) }
  html[data-theme='auto'] .sf-c-darkslategray\:70\:st, html.auto .sf-c-darkslategray\:70\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-darkslategray\:75\:st, html.auto .sf-c-darkslategray\:75\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-darkslategray\:80\:st, html.auto .sf-c-darkslategray\:80\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-darkslategray\:85\:st, html.auto .sf-c-darkslategray\:85\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 85%) }
  html[data-theme='auto'] .sf-c-darkslategray\:90\:st, html.auto .sf-c-darkslategray\:90\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-darkslategray\:95\:st, html.auto .sf-c-darkslategray\:95\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 95%) }
  html[data-theme='auto'] .sf-c-darkslategray\:100\:st, html.auto .sf-c-darkslategray\:100\:st { color: hsl(180, 25%, 5%); background: hsl(180, 25%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkslategray, html.auto .sf-c-txt-darkslategray { color: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:0, html.auto .sf-c-txt-darkslategray\:0 { color: hsl(180, 25%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:5, html.auto .sf-c-txt-darkslategray\:5 { color: hsl(180, 25%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:10, html.auto .sf-c-txt-darkslategray\:10 { color: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:15, html.auto .sf-c-txt-darkslategray\:15 { color: hsl(180, 25%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:20, html.auto .sf-c-txt-darkslategray\:20 { color: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:25, html.auto .sf-c-txt-darkslategray\:25 { color: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:30, html.auto .sf-c-txt-darkslategray\:30 { color: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:35, html.auto .sf-c-txt-darkslategray\:35 { color: hsl(180, 25%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:40, html.auto .sf-c-txt-darkslategray\:40 { color: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:45, html.auto .sf-c-txt-darkslategray\:45 { color: hsl(180, 25%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:50, html.auto .sf-c-txt-darkslategray\:50 { color: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:55, html.auto .sf-c-txt-darkslategray\:55 { color: hsl(180, 25%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:60, html.auto .sf-c-txt-darkslategray\:60 { color: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:65, html.auto .sf-c-txt-darkslategray\:65 { color: hsl(180, 25%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:70, html.auto .sf-c-txt-darkslategray\:70 { color: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:75, html.auto .sf-c-txt-darkslategray\:75 { color: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:80, html.auto .sf-c-txt-darkslategray\:80 { color: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:85, html.auto .sf-c-txt-darkslategray\:85 { color: hsl(180, 25%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:90, html.auto .sf-c-txt-darkslategray\:90 { color: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:95, html.auto .sf-c-txt-darkslategray\:95 { color: hsl(180, 25%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:100, html.auto .sf-c-txt-darkslategray\:100 { color: hsl(180, 25%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkslategray\:st, html.auto .sf-c-txt-darkslategray\:st { color: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:0\:st, html.auto .sf-c-txt-darkslategray\:0\:st { color: hsl(180, 25%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:5\:st, html.auto .sf-c-txt-darkslategray\:5\:st { color: hsl(180, 25%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:10\:st, html.auto .sf-c-txt-darkslategray\:10\:st { color: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:15\:st, html.auto .sf-c-txt-darkslategray\:15\:st { color: hsl(180, 25%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:20\:st, html.auto .sf-c-txt-darkslategray\:20\:st { color: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:25\:st, html.auto .sf-c-txt-darkslategray\:25\:st { color: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:30\:st, html.auto .sf-c-txt-darkslategray\:30\:st { color: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:35\:st, html.auto .sf-c-txt-darkslategray\:35\:st { color: hsl(180, 25%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:40\:st, html.auto .sf-c-txt-darkslategray\:40\:st { color: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:45\:st, html.auto .sf-c-txt-darkslategray\:45\:st { color: hsl(180, 25%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:50\:st, html.auto .sf-c-txt-darkslategray\:50\:st { color: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:55\:st, html.auto .sf-c-txt-darkslategray\:55\:st { color: hsl(180, 25%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:60\:st, html.auto .sf-c-txt-darkslategray\:60\:st { color: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:65\:st, html.auto .sf-c-txt-darkslategray\:65\:st { color: hsl(180, 25%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:70\:st, html.auto .sf-c-txt-darkslategray\:70\:st { color: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:75\:st, html.auto .sf-c-txt-darkslategray\:75\:st { color: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:80\:st, html.auto .sf-c-txt-darkslategray\:80\:st { color: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:85\:st, html.auto .sf-c-txt-darkslategray\:85\:st { color: hsl(180, 25%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:90\:st, html.auto .sf-c-txt-darkslategray\:90\:st { color: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:95\:st, html.auto .sf-c-txt-darkslategray\:95\:st { color: hsl(180, 25%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkslategray\:100\:st, html.auto .sf-c-txt-darkslategray\:100\:st { color: hsl(180, 25%, 100%) }
}