.sf-var-darkturquoise {
  --sf-c-darkturquoise: 181 100% 41%;
  --sf-c-darkturquoise-0: 181 100% 0%;
  --sf-c-darkturquoise-5: 181 100% 5%;
  --sf-c-darkturquoise-10: 181 100% 10%;
  --sf-c-darkturquoise-15: 181 100% 15%;
  --sf-c-darkturquoise-20: 181 100% 20%;
  --sf-c-darkturquoise-25: 181 100% 25%;
  --sf-c-darkturquoise-30: 181 100% 30%;
  --sf-c-darkturquoise-35: 181 100% 35%;
  --sf-c-darkturquoise-40: 181 100% 40%;
  --sf-c-darkturquoise-45: 181 100% 45%;
  --sf-c-darkturquoise-50: 181 100% 50%;
  --sf-c-darkturquoise-55: 181 100% 55%;
  --sf-c-darkturquoise-60: 181 100% 60%;
  --sf-c-darkturquoise-65: 181 100% 65%;
  --sf-c-darkturquoise-70: 181 100% 70%;
  --sf-c-darkturquoise-75: 181 100% 75%;
  --sf-c-darkturquoise-80: 181 100% 80%;
  --sf-c-darkturquoise-85: 181 100% 85%;
  --sf-c-darkturquoise-90: 181 100% 90%;
  --sf-c-darkturquoise-95: 181 100% 95%;
  --sf-c-darkturquoise-100: 181 100% 100%;
}

.sf-c-darkturquoise, .sf-c-darkturquoise\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 41%) }
.sf-c-darkturquoise\:0, .sf-c-darkturquoise\:0\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 0%) }
.sf-c-darkturquoise\:5, .sf-c-darkturquoise\:5\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 5%) }
.sf-c-darkturquoise\:10, .sf-c-darkturquoise\:10\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 10%) }
.sf-c-darkturquoise\:15, .sf-c-darkturquoise\:15\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 15%) }
.sf-c-darkturquoise\:20, .sf-c-darkturquoise\:20\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 20%) }
.sf-c-darkturquoise\:25, .sf-c-darkturquoise\:25\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 25%) }
.sf-c-darkturquoise\:30, .sf-c-darkturquoise\:30\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 30%) }
.sf-c-darkturquoise\:35, .sf-c-darkturquoise\:35\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 35%) }
.sf-c-darkturquoise\:40, .sf-c-darkturquoise\:40\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 40%) }
.sf-c-darkturquoise\:45, .sf-c-darkturquoise\:45\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 45%) }
.sf-c-darkturquoise\:50, .sf-c-darkturquoise\:50\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 50%) }
.sf-c-darkturquoise\:55, .sf-c-darkturquoise\:55\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 55%) }
.sf-c-darkturquoise\:60, .sf-c-darkturquoise\:60\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 60%) }
.sf-c-darkturquoise\:65, .sf-c-darkturquoise\:65\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 65%) }
.sf-c-darkturquoise\:70, .sf-c-darkturquoise\:70\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 70%) }
.sf-c-darkturquoise\:75, .sf-c-darkturquoise\:75\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 75%) }
.sf-c-darkturquoise\:80, .sf-c-darkturquoise\:80\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 80%) }
.sf-c-darkturquoise\:85, .sf-c-darkturquoise\:85\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 85%) }
.sf-c-darkturquoise\:90, .sf-c-darkturquoise\:90\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 90%) }
.sf-c-darkturquoise\:95, .sf-c-darkturquoise\:95\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 95%) }
.sf-c-darkturquoise\:100, .sf-c-darkturquoise\:100\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 100%) }

.sf-c-txt-darkturquoise { color: hsl(181, 100%, 41%) }
.sf-c-txt-darkturquoise\:st { color: hsl(181, 100%, 41%) }
.sf-c-txt-darkturquoise\:0, .sf-c-txt-darkturquoise\:0\:st { color: hsl(181, 100%, 0%) }
.sf-c-txt-darkturquoise\:5, .sf-c-txt-darkturquoise\:5\:st { color: hsl(181, 100%, 5%) }
.sf-c-txt-darkturquoise\:10, .sf-c-txt-darkturquoise\:10\:st { color: hsl(181, 100%, 10%) }
.sf-c-txt-darkturquoise\:15, .sf-c-txt-darkturquoise\:15\:st { color: hsl(181, 100%, 15%) }
.sf-c-txt-darkturquoise\:20, .sf-c-txt-darkturquoise\:20\:st { color: hsl(181, 100%, 20%) }
.sf-c-txt-darkturquoise\:25, .sf-c-txt-darkturquoise\:25\:st { color: hsl(181, 100%, 25%) }
.sf-c-txt-darkturquoise\:30, .sf-c-txt-darkturquoise\:30\:st { color: hsl(181, 100%, 30%) }
.sf-c-txt-darkturquoise\:35, .sf-c-txt-darkturquoise\:35\:st { color: hsl(181, 100%, 35%) }
.sf-c-txt-darkturquoise\:40, .sf-c-txt-darkturquoise\:40\:st { color: hsl(181, 100%, 40%) }
.sf-c-txt-darkturquoise\:45, .sf-c-txt-darkturquoise\:45\:st { color: hsl(181, 100%, 45%) }
.sf-c-txt-darkturquoise\:50, .sf-c-txt-darkturquoise\:50\:st { color: hsl(181, 100%, 50%) }
.sf-c-txt-darkturquoise\:55, .sf-c-txt-darkturquoise\:55\:st { color: hsl(181, 100%, 55%) }
.sf-c-txt-darkturquoise\:60, .sf-c-txt-darkturquoise\:60\:st { color: hsl(181, 100%, 60%) }
.sf-c-txt-darkturquoise\:65, .sf-c-txt-darkturquoise\:65\:st { color: hsl(181, 100%, 65%) }
.sf-c-txt-darkturquoise\:70, .sf-c-txt-darkturquoise\:70\:st { color: hsl(181, 100%, 70%) }
.sf-c-txt-darkturquoise\:75, .sf-c-txt-darkturquoise\:75\:st { color: hsl(181, 100%, 75%) }
.sf-c-txt-darkturquoise\:80, .sf-c-txt-darkturquoise\:80\:st { color: hsl(181, 100%, 80%) }
.sf-c-txt-darkturquoise\:85, .sf-c-txt-darkturquoise\:85\:st { color: hsl(181, 100%, 85%) }
.sf-c-txt-darkturquoise\:90, .sf-c-txt-darkturquoise\:90\:st { color: hsl(181, 100%, 90%) }
.sf-c-txt-darkturquoise\:95, .sf-c-txt-darkturquoise\:95\:st { color: hsl(181, 100%, 95%) }
.sf-c-txt-darkturquoise\:100, .sf-c-txt-darkturquoise\:100\:st { color: hsl(181, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkturquoise, html.dark .sf-c-darkturquoise { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 59%) }
html[data-theme='dark'] .sf-c-darkturquoise\:0, html.dark .sf-c-darkturquoise\:0 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkturquoise\:5, html.dark .sf-c-darkturquoise\:5 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkturquoise\:10, html.dark .sf-c-darkturquoise\:10 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkturquoise\:15, html.dark .sf-c-darkturquoise\:15 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkturquoise\:20, html.dark .sf-c-darkturquoise\:20 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkturquoise\:25, html.dark .sf-c-darkturquoise\:25 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkturquoise\:30, html.dark .sf-c-darkturquoise\:30 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkturquoise\:35, html.dark .sf-c-darkturquoise\:35 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkturquoise\:40, html.dark .sf-c-darkturquoise\:40 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkturquoise\:45, html.dark .sf-c-darkturquoise\:45 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkturquoise\:50, html.dark .sf-c-darkturquoise\:50 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkturquoise\:55, html.dark .sf-c-darkturquoise\:55 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkturquoise\:60, html.dark .sf-c-darkturquoise\:60 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkturquoise\:65, html.dark .sf-c-darkturquoise\:65 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkturquoise\:70, html.dark .sf-c-darkturquoise\:70 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkturquoise\:75, html.dark .sf-c-darkturquoise\:75 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkturquoise\:80, html.dark .sf-c-darkturquoise\:80 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkturquoise\:85, html.dark .sf-c-darkturquoise\:85 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkturquoise\:90, html.dark .sf-c-darkturquoise\:90 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkturquoise\:95, html.dark .sf-c-darkturquoise\:95 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkturquoise\:100, html.dark .sf-c-darkturquoise\:100 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkturquoise\:st, html.dark .sf-c-darkturquoise\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 41%) }
html[data-theme='dark'] .sf-c-darkturquoise\:0\:st, html.dark .sf-c-darkturquoise\:0\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkturquoise\:5\:st, html.dark .sf-c-darkturquoise\:5\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkturquoise\:10\:st, html.dark .sf-c-darkturquoise\:10\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkturquoise\:15\:st, html.dark .sf-c-darkturquoise\:15\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkturquoise\:20\:st, html.dark .sf-c-darkturquoise\:20\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkturquoise\:25\:st, html.dark .sf-c-darkturquoise\:25\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkturquoise\:30\:st, html.dark .sf-c-darkturquoise\:30\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkturquoise\:35\:st, html.dark .sf-c-darkturquoise\:35\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkturquoise\:40\:st, html.dark .sf-c-darkturquoise\:40\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkturquoise\:45\:st, html.dark .sf-c-darkturquoise\:45\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkturquoise\:50\:st, html.dark .sf-c-darkturquoise\:50\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkturquoise\:55\:st, html.dark .sf-c-darkturquoise\:55\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkturquoise\:60\:st, html.dark .sf-c-darkturquoise\:60\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkturquoise\:65\:st, html.dark .sf-c-darkturquoise\:65\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkturquoise\:70\:st, html.dark .sf-c-darkturquoise\:70\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkturquoise\:75\:st, html.dark .sf-c-darkturquoise\:75\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkturquoise\:80\:st, html.dark .sf-c-darkturquoise\:80\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkturquoise\:85\:st, html.dark .sf-c-darkturquoise\:85\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkturquoise\:90\:st, html.dark .sf-c-darkturquoise\:90\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkturquoise\:95\:st, html.dark .sf-c-darkturquoise\:95\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkturquoise\:100\:st, html.dark .sf-c-darkturquoise\:100\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkturquoise, html.dark .sf-c-txt-darkturquoise { color: hsl(181, 100%, 59%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:0, html.dark .sf-c-txt-darkturquoise\:0 { color: hsl(181, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:5, html.dark .sf-c-txt-darkturquoise\:5 { color: hsl(181, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:10, html.dark .sf-c-txt-darkturquoise\:10 { color: hsl(181, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:15, html.dark .sf-c-txt-darkturquoise\:15 { color: hsl(181, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:20, html.dark .sf-c-txt-darkturquoise\:20 { color: hsl(181, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:25, html.dark .sf-c-txt-darkturquoise\:25 { color: hsl(181, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:30, html.dark .sf-c-txt-darkturquoise\:30 { color: hsl(181, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:35, html.dark .sf-c-txt-darkturquoise\:35 { color: hsl(181, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:40, html.dark .sf-c-txt-darkturquoise\:40 { color: hsl(181, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:45, html.dark .sf-c-txt-darkturquoise\:45 { color: hsl(181, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:50, html.dark .sf-c-txt-darkturquoise\:50 { color: hsl(181, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:55, html.dark .sf-c-txt-darkturquoise\:55 { color: hsl(181, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:60, html.dark .sf-c-txt-darkturquoise\:60 { color: hsl(181, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:65, html.dark .sf-c-txt-darkturquoise\:65 { color: hsl(181, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:70, html.dark .sf-c-txt-darkturquoise\:70 { color: hsl(181, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:75, html.dark .sf-c-txt-darkturquoise\:75 { color: hsl(181, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:80, html.dark .sf-c-txt-darkturquoise\:80 { color: hsl(181, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:85, html.dark .sf-c-txt-darkturquoise\:85 { color: hsl(181, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:90, html.dark .sf-c-txt-darkturquoise\:90 { color: hsl(181, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:95, html.dark .sf-c-txt-darkturquoise\:95 { color: hsl(181, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:100, html.dark .sf-c-txt-darkturquoise\:100 { color: hsl(181, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkturquoise\:st, html.dark .sf-c-txt-darkturquoise\:st { color: hsl(181, 100%, 41%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:0\:st, html.dark .sf-c-txt-darkturquoise\:0\:st { color: hsl(181, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:5\:st, html.dark .sf-c-txt-darkturquoise\:5\:st { color: hsl(181, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:10\:st, html.dark .sf-c-txt-darkturquoise\:10\:st { color: hsl(181, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:15\:st, html.dark .sf-c-txt-darkturquoise\:15\:st { color: hsl(181, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:20\:st, html.dark .sf-c-txt-darkturquoise\:20\:st { color: hsl(181, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:25\:st, html.dark .sf-c-txt-darkturquoise\:25\:st { color: hsl(181, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:30\:st, html.dark .sf-c-txt-darkturquoise\:30\:st { color: hsl(181, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:35\:st, html.dark .sf-c-txt-darkturquoise\:35\:st { color: hsl(181, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:40\:st, html.dark .sf-c-txt-darkturquoise\:40\:st { color: hsl(181, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:45\:st, html.dark .sf-c-txt-darkturquoise\:45\:st { color: hsl(181, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:50\:st, html.dark .sf-c-txt-darkturquoise\:50\:st { color: hsl(181, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:55\:st, html.dark .sf-c-txt-darkturquoise\:55\:st { color: hsl(181, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:60\:st, html.dark .sf-c-txt-darkturquoise\:60\:st { color: hsl(181, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:65\:st, html.dark .sf-c-txt-darkturquoise\:65\:st { color: hsl(181, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:70\:st, html.dark .sf-c-txt-darkturquoise\:70\:st { color: hsl(181, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:75\:st, html.dark .sf-c-txt-darkturquoise\:75\:st { color: hsl(181, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:80\:st, html.dark .sf-c-txt-darkturquoise\:80\:st { color: hsl(181, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:85\:st, html.dark .sf-c-txt-darkturquoise\:85\:st { color: hsl(181, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:90\:st, html.dark .sf-c-txt-darkturquoise\:90\:st { color: hsl(181, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:95\:st, html.dark .sf-c-txt-darkturquoise\:95\:st { color: hsl(181, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkturquoise\:100\:st, html.dark .sf-c-txt-darkturquoise\:100\:st { color: hsl(181, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkturquoise, html.auto .sf-c-darkturquoise { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 59%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:0, html.auto .sf-c-darkturquoise\:0 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:5, html.auto .sf-c-darkturquoise\:5 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:10, html.auto .sf-c-darkturquoise\:10 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:15, html.auto .sf-c-darkturquoise\:15 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:20, html.auto .sf-c-darkturquoise\:20 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:25, html.auto .sf-c-darkturquoise\:25 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:30, html.auto .sf-c-darkturquoise\:30 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:35, html.auto .sf-c-darkturquoise\:35 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:40, html.auto .sf-c-darkturquoise\:40 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:45, html.auto .sf-c-darkturquoise\:45 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:50, html.auto .sf-c-darkturquoise\:50 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:55, html.auto .sf-c-darkturquoise\:55 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:60, html.auto .sf-c-darkturquoise\:60 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:65, html.auto .sf-c-darkturquoise\:65 { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:70, html.auto .sf-c-darkturquoise\:70 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:75, html.auto .sf-c-darkturquoise\:75 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:80, html.auto .sf-c-darkturquoise\:80 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:85, html.auto .sf-c-darkturquoise\:85 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:90, html.auto .sf-c-darkturquoise\:90 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:95, html.auto .sf-c-darkturquoise\:95 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:100, html.auto .sf-c-darkturquoise\:100 { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkturquoise\:st, html.auto .sf-c-darkturquoise\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 41%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:0\:st, html.auto .sf-c-darkturquoise\:0\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:5\:st, html.auto .sf-c-darkturquoise\:5\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:10\:st, html.auto .sf-c-darkturquoise\:10\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:15\:st, html.auto .sf-c-darkturquoise\:15\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:20\:st, html.auto .sf-c-darkturquoise\:20\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:25\:st, html.auto .sf-c-darkturquoise\:25\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:30\:st, html.auto .sf-c-darkturquoise\:30\:st { color: hsl(181, 100%, 95%); background: hsl(181, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:35\:st, html.auto .sf-c-darkturquoise\:35\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:40\:st, html.auto .sf-c-darkturquoise\:40\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:45\:st, html.auto .sf-c-darkturquoise\:45\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:50\:st, html.auto .sf-c-darkturquoise\:50\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:55\:st, html.auto .sf-c-darkturquoise\:55\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:60\:st, html.auto .sf-c-darkturquoise\:60\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:65\:st, html.auto .sf-c-darkturquoise\:65\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:70\:st, html.auto .sf-c-darkturquoise\:70\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:75\:st, html.auto .sf-c-darkturquoise\:75\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:80\:st, html.auto .sf-c-darkturquoise\:80\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:85\:st, html.auto .sf-c-darkturquoise\:85\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:90\:st, html.auto .sf-c-darkturquoise\:90\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:95\:st, html.auto .sf-c-darkturquoise\:95\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkturquoise\:100\:st, html.auto .sf-c-darkturquoise\:100\:st { color: hsl(181, 100%, 5%); background: hsl(181, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkturquoise, html.auto .sf-c-txt-darkturquoise { color: hsl(181, 100%, 59%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:0, html.auto .sf-c-txt-darkturquoise\:0 { color: hsl(181, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:5, html.auto .sf-c-txt-darkturquoise\:5 { color: hsl(181, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:10, html.auto .sf-c-txt-darkturquoise\:10 { color: hsl(181, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:15, html.auto .sf-c-txt-darkturquoise\:15 { color: hsl(181, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:20, html.auto .sf-c-txt-darkturquoise\:20 { color: hsl(181, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:25, html.auto .sf-c-txt-darkturquoise\:25 { color: hsl(181, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:30, html.auto .sf-c-txt-darkturquoise\:30 { color: hsl(181, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:35, html.auto .sf-c-txt-darkturquoise\:35 { color: hsl(181, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:40, html.auto .sf-c-txt-darkturquoise\:40 { color: hsl(181, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:45, html.auto .sf-c-txt-darkturquoise\:45 { color: hsl(181, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:50, html.auto .sf-c-txt-darkturquoise\:50 { color: hsl(181, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:55, html.auto .sf-c-txt-darkturquoise\:55 { color: hsl(181, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:60, html.auto .sf-c-txt-darkturquoise\:60 { color: hsl(181, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:65, html.auto .sf-c-txt-darkturquoise\:65 { color: hsl(181, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:70, html.auto .sf-c-txt-darkturquoise\:70 { color: hsl(181, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:75, html.auto .sf-c-txt-darkturquoise\:75 { color: hsl(181, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:80, html.auto .sf-c-txt-darkturquoise\:80 { color: hsl(181, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:85, html.auto .sf-c-txt-darkturquoise\:85 { color: hsl(181, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:90, html.auto .sf-c-txt-darkturquoise\:90 { color: hsl(181, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:95, html.auto .sf-c-txt-darkturquoise\:95 { color: hsl(181, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:100, html.auto .sf-c-txt-darkturquoise\:100 { color: hsl(181, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkturquoise\:st, html.auto .sf-c-txt-darkturquoise\:st { color: hsl(181, 100%, 41%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:0\:st, html.auto .sf-c-txt-darkturquoise\:0\:st { color: hsl(181, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:5\:st, html.auto .sf-c-txt-darkturquoise\:5\:st { color: hsl(181, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:10\:st, html.auto .sf-c-txt-darkturquoise\:10\:st { color: hsl(181, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:15\:st, html.auto .sf-c-txt-darkturquoise\:15\:st { color: hsl(181, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:20\:st, html.auto .sf-c-txt-darkturquoise\:20\:st { color: hsl(181, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:25\:st, html.auto .sf-c-txt-darkturquoise\:25\:st { color: hsl(181, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:30\:st, html.auto .sf-c-txt-darkturquoise\:30\:st { color: hsl(181, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:35\:st, html.auto .sf-c-txt-darkturquoise\:35\:st { color: hsl(181, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:40\:st, html.auto .sf-c-txt-darkturquoise\:40\:st { color: hsl(181, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:45\:st, html.auto .sf-c-txt-darkturquoise\:45\:st { color: hsl(181, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:50\:st, html.auto .sf-c-txt-darkturquoise\:50\:st { color: hsl(181, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:55\:st, html.auto .sf-c-txt-darkturquoise\:55\:st { color: hsl(181, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:60\:st, html.auto .sf-c-txt-darkturquoise\:60\:st { color: hsl(181, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:65\:st, html.auto .sf-c-txt-darkturquoise\:65\:st { color: hsl(181, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:70\:st, html.auto .sf-c-txt-darkturquoise\:70\:st { color: hsl(181, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:75\:st, html.auto .sf-c-txt-darkturquoise\:75\:st { color: hsl(181, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:80\:st, html.auto .sf-c-txt-darkturquoise\:80\:st { color: hsl(181, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:85\:st, html.auto .sf-c-txt-darkturquoise\:85\:st { color: hsl(181, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:90\:st, html.auto .sf-c-txt-darkturquoise\:90\:st { color: hsl(181, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:95\:st, html.auto .sf-c-txt-darkturquoise\:95\:st { color: hsl(181, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkturquoise\:100\:st, html.auto .sf-c-txt-darkturquoise\:100\:st { color: hsl(181, 100%, 100%) }
}