.sf-var-darkred {
  --sf-c-darkred: 0 100% 27%;
  --sf-c-darkred-0: 0 100% 0%;
  --sf-c-darkred-5: 0 100% 5%;
  --sf-c-darkred-10: 0 100% 10%;
  --sf-c-darkred-15: 0 100% 15%;
  --sf-c-darkred-20: 0 100% 20%;
  --sf-c-darkred-25: 0 100% 25%;
  --sf-c-darkred-30: 0 100% 30%;
  --sf-c-darkred-35: 0 100% 35%;
  --sf-c-darkred-40: 0 100% 40%;
  --sf-c-darkred-45: 0 100% 45%;
  --sf-c-darkred-50: 0 100% 50%;
  --sf-c-darkred-55: 0 100% 55%;
  --sf-c-darkred-60: 0 100% 60%;
  --sf-c-darkred-65: 0 100% 65%;
  --sf-c-darkred-70: 0 100% 70%;
  --sf-c-darkred-75: 0 100% 75%;
  --sf-c-darkred-80: 0 100% 80%;
  --sf-c-darkred-85: 0 100% 85%;
  --sf-c-darkred-90: 0 100% 90%;
  --sf-c-darkred-95: 0 100% 95%;
  --sf-c-darkred-100: 0 100% 100%;
}

.sf-c-darkred, .sf-c-darkred\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 27%) }
.sf-c-darkred\:0, .sf-c-darkred\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
.sf-c-darkred\:5, .sf-c-darkred\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
.sf-c-darkred\:10, .sf-c-darkred\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
.sf-c-darkred\:15, .sf-c-darkred\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
.sf-c-darkred\:20, .sf-c-darkred\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
.sf-c-darkred\:25, .sf-c-darkred\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
.sf-c-darkred\:30, .sf-c-darkred\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
.sf-c-darkred\:35, .sf-c-darkred\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
.sf-c-darkred\:40, .sf-c-darkred\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
.sf-c-darkred\:45, .sf-c-darkred\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
.sf-c-darkred\:50, .sf-c-darkred\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
.sf-c-darkred\:55, .sf-c-darkred\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
.sf-c-darkred\:60, .sf-c-darkred\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
.sf-c-darkred\:65, .sf-c-darkred\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
.sf-c-darkred\:70, .sf-c-darkred\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
.sf-c-darkred\:75, .sf-c-darkred\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
.sf-c-darkred\:80, .sf-c-darkred\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
.sf-c-darkred\:85, .sf-c-darkred\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
.sf-c-darkred\:90, .sf-c-darkred\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
.sf-c-darkred\:95, .sf-c-darkred\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
.sf-c-darkred\:100, .sf-c-darkred\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

.sf-c-txt-darkred { color: hsl(0, 100%, 27%) }
.sf-c-txt-darkred\:st { color: hsl(0, 100%, 27%) }
.sf-c-txt-darkred\:0, .sf-c-txt-darkred\:0\:st { color: hsl(0, 100%, 0%) }
.sf-c-txt-darkred\:5, .sf-c-txt-darkred\:5\:st { color: hsl(0, 100%, 5%) }
.sf-c-txt-darkred\:10, .sf-c-txt-darkred\:10\:st { color: hsl(0, 100%, 10%) }
.sf-c-txt-darkred\:15, .sf-c-txt-darkred\:15\:st { color: hsl(0, 100%, 15%) }
.sf-c-txt-darkred\:20, .sf-c-txt-darkred\:20\:st { color: hsl(0, 100%, 20%) }
.sf-c-txt-darkred\:25, .sf-c-txt-darkred\:25\:st { color: hsl(0, 100%, 25%) }
.sf-c-txt-darkred\:30, .sf-c-txt-darkred\:30\:st { color: hsl(0, 100%, 30%) }
.sf-c-txt-darkred\:35, .sf-c-txt-darkred\:35\:st { color: hsl(0, 100%, 35%) }
.sf-c-txt-darkred\:40, .sf-c-txt-darkred\:40\:st { color: hsl(0, 100%, 40%) }
.sf-c-txt-darkred\:45, .sf-c-txt-darkred\:45\:st { color: hsl(0, 100%, 45%) }
.sf-c-txt-darkred\:50, .sf-c-txt-darkred\:50\:st { color: hsl(0, 100%, 50%) }
.sf-c-txt-darkred\:55, .sf-c-txt-darkred\:55\:st { color: hsl(0, 100%, 55%) }
.sf-c-txt-darkred\:60, .sf-c-txt-darkred\:60\:st { color: hsl(0, 100%, 60%) }
.sf-c-txt-darkred\:65, .sf-c-txt-darkred\:65\:st { color: hsl(0, 100%, 65%) }
.sf-c-txt-darkred\:70, .sf-c-txt-darkred\:70\:st { color: hsl(0, 100%, 70%) }
.sf-c-txt-darkred\:75, .sf-c-txt-darkred\:75\:st { color: hsl(0, 100%, 75%) }
.sf-c-txt-darkred\:80, .sf-c-txt-darkred\:80\:st { color: hsl(0, 100%, 80%) }
.sf-c-txt-darkred\:85, .sf-c-txt-darkred\:85\:st { color: hsl(0, 100%, 85%) }
.sf-c-txt-darkred\:90, .sf-c-txt-darkred\:90\:st { color: hsl(0, 100%, 90%) }
.sf-c-txt-darkred\:95, .sf-c-txt-darkred\:95\:st { color: hsl(0, 100%, 95%) }
.sf-c-txt-darkred\:100, .sf-c-txt-darkred\:100\:st { color: hsl(0, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkred, html.dark .sf-c-darkred { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 73%) }
html[data-theme='dark'] .sf-c-darkred\:0, html.dark .sf-c-darkred\:0 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkred\:5, html.dark .sf-c-darkred\:5 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkred\:10, html.dark .sf-c-darkred\:10 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkred\:15, html.dark .sf-c-darkred\:15 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkred\:20, html.dark .sf-c-darkred\:20 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkred\:25, html.dark .sf-c-darkred\:25 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkred\:30, html.dark .sf-c-darkred\:30 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkred\:35, html.dark .sf-c-darkred\:35 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkred\:40, html.dark .sf-c-darkred\:40 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkred\:45, html.dark .sf-c-darkred\:45 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkred\:50, html.dark .sf-c-darkred\:50 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkred\:55, html.dark .sf-c-darkred\:55 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkred\:60, html.dark .sf-c-darkred\:60 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkred\:65, html.dark .sf-c-darkred\:65 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkred\:70, html.dark .sf-c-darkred\:70 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkred\:75, html.dark .sf-c-darkred\:75 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkred\:80, html.dark .sf-c-darkred\:80 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkred\:85, html.dark .sf-c-darkred\:85 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkred\:90, html.dark .sf-c-darkred\:90 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkred\:95, html.dark .sf-c-darkred\:95 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkred\:100, html.dark .sf-c-darkred\:100 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkred\:st, html.dark .sf-c-darkred\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 27%) }
html[data-theme='dark'] .sf-c-darkred\:0\:st, html.dark .sf-c-darkred\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkred\:5\:st, html.dark .sf-c-darkred\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkred\:10\:st, html.dark .sf-c-darkred\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkred\:15\:st, html.dark .sf-c-darkred\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkred\:20\:st, html.dark .sf-c-darkred\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkred\:25\:st, html.dark .sf-c-darkred\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkred\:30\:st, html.dark .sf-c-darkred\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkred\:35\:st, html.dark .sf-c-darkred\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkred\:40\:st, html.dark .sf-c-darkred\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkred\:45\:st, html.dark .sf-c-darkred\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkred\:50\:st, html.dark .sf-c-darkred\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkred\:55\:st, html.dark .sf-c-darkred\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkred\:60\:st, html.dark .sf-c-darkred\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkred\:65\:st, html.dark .sf-c-darkred\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkred\:70\:st, html.dark .sf-c-darkred\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkred\:75\:st, html.dark .sf-c-darkred\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkred\:80\:st, html.dark .sf-c-darkred\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkred\:85\:st, html.dark .sf-c-darkred\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkred\:90\:st, html.dark .sf-c-darkred\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkred\:95\:st, html.dark .sf-c-darkred\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkred\:100\:st, html.dark .sf-c-darkred\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkred, html.dark .sf-c-txt-darkred { color: hsl(0, 100%, 73%) }
html[data-theme='dark'] .sf-c-txt-darkred\:0, html.dark .sf-c-txt-darkred\:0 { color: hsl(0, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkred\:5, html.dark .sf-c-txt-darkred\:5 { color: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkred\:10, html.dark .sf-c-txt-darkred\:10 { color: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkred\:15, html.dark .sf-c-txt-darkred\:15 { color: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkred\:20, html.dark .sf-c-txt-darkred\:20 { color: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkred\:25, html.dark .sf-c-txt-darkred\:25 { color: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkred\:30, html.dark .sf-c-txt-darkred\:30 { color: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkred\:35, html.dark .sf-c-txt-darkred\:35 { color: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkred\:40, html.dark .sf-c-txt-darkred\:40 { color: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkred\:45, html.dark .sf-c-txt-darkred\:45 { color: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkred\:50, html.dark .sf-c-txt-darkred\:50 { color: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkred\:55, html.dark .sf-c-txt-darkred\:55 { color: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkred\:60, html.dark .sf-c-txt-darkred\:60 { color: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkred\:65, html.dark .sf-c-txt-darkred\:65 { color: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkred\:70, html.dark .sf-c-txt-darkred\:70 { color: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkred\:75, html.dark .sf-c-txt-darkred\:75 { color: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkred\:80, html.dark .sf-c-txt-darkred\:80 { color: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkred\:85, html.dark .sf-c-txt-darkred\:85 { color: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkred\:90, html.dark .sf-c-txt-darkred\:90 { color: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkred\:95, html.dark .sf-c-txt-darkred\:95 { color: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkred\:100, html.dark .sf-c-txt-darkred\:100 { color: hsl(0, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkred\:st, html.dark .sf-c-txt-darkred\:st { color: hsl(0, 100%, 27%) }
html[data-theme='dark'] .sf-c-txt-darkred\:0\:st, html.dark .sf-c-txt-darkred\:0\:st { color: hsl(0, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkred\:5\:st, html.dark .sf-c-txt-darkred\:5\:st { color: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkred\:10\:st, html.dark .sf-c-txt-darkred\:10\:st { color: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkred\:15\:st, html.dark .sf-c-txt-darkred\:15\:st { color: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkred\:20\:st, html.dark .sf-c-txt-darkred\:20\:st { color: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkred\:25\:st, html.dark .sf-c-txt-darkred\:25\:st { color: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkred\:30\:st, html.dark .sf-c-txt-darkred\:30\:st { color: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkred\:35\:st, html.dark .sf-c-txt-darkred\:35\:st { color: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkred\:40\:st, html.dark .sf-c-txt-darkred\:40\:st { color: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkred\:45\:st, html.dark .sf-c-txt-darkred\:45\:st { color: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkred\:50\:st, html.dark .sf-c-txt-darkred\:50\:st { color: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkred\:55\:st, html.dark .sf-c-txt-darkred\:55\:st { color: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkred\:60\:st, html.dark .sf-c-txt-darkred\:60\:st { color: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkred\:65\:st, html.dark .sf-c-txt-darkred\:65\:st { color: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkred\:70\:st, html.dark .sf-c-txt-darkred\:70\:st { color: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkred\:75\:st, html.dark .sf-c-txt-darkred\:75\:st { color: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkred\:80\:st, html.dark .sf-c-txt-darkred\:80\:st { color: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkred\:85\:st, html.dark .sf-c-txt-darkred\:85\:st { color: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkred\:90\:st, html.dark .sf-c-txt-darkred\:90\:st { color: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkred\:95\:st, html.dark .sf-c-txt-darkred\:95\:st { color: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkred\:100\:st, html.dark .sf-c-txt-darkred\:100\:st { color: hsl(0, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkred, html.auto .sf-c-darkred { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 73%) }
  html[data-theme='auto'] .sf-c-darkred\:0, html.auto .sf-c-darkred\:0 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkred\:5, html.auto .sf-c-darkred\:5 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkred\:10, html.auto .sf-c-darkred\:10 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkred\:15, html.auto .sf-c-darkred\:15 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkred\:20, html.auto .sf-c-darkred\:20 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkred\:25, html.auto .sf-c-darkred\:25 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkred\:30, html.auto .sf-c-darkred\:30 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkred\:35, html.auto .sf-c-darkred\:35 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkred\:40, html.auto .sf-c-darkred\:40 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkred\:45, html.auto .sf-c-darkred\:45 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkred\:50, html.auto .sf-c-darkred\:50 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkred\:55, html.auto .sf-c-darkred\:55 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkred\:60, html.auto .sf-c-darkred\:60 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkred\:65, html.auto .sf-c-darkred\:65 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkred\:70, html.auto .sf-c-darkred\:70 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkred\:75, html.auto .sf-c-darkred\:75 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkred\:80, html.auto .sf-c-darkred\:80 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkred\:85, html.auto .sf-c-darkred\:85 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkred\:90, html.auto .sf-c-darkred\:90 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkred\:95, html.auto .sf-c-darkred\:95 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkred\:100, html.auto .sf-c-darkred\:100 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkred\:st, html.auto .sf-c-darkred\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 27%) }
  html[data-theme='auto'] .sf-c-darkred\:0\:st, html.auto .sf-c-darkred\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkred\:5\:st, html.auto .sf-c-darkred\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkred\:10\:st, html.auto .sf-c-darkred\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkred\:15\:st, html.auto .sf-c-darkred\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkred\:20\:st, html.auto .sf-c-darkred\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkred\:25\:st, html.auto .sf-c-darkred\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkred\:30\:st, html.auto .sf-c-darkred\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkred\:35\:st, html.auto .sf-c-darkred\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkred\:40\:st, html.auto .sf-c-darkred\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkred\:45\:st, html.auto .sf-c-darkred\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkred\:50\:st, html.auto .sf-c-darkred\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkred\:55\:st, html.auto .sf-c-darkred\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkred\:60\:st, html.auto .sf-c-darkred\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkred\:65\:st, html.auto .sf-c-darkred\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkred\:70\:st, html.auto .sf-c-darkred\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkred\:75\:st, html.auto .sf-c-darkred\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkred\:80\:st, html.auto .sf-c-darkred\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkred\:85\:st, html.auto .sf-c-darkred\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkred\:90\:st, html.auto .sf-c-darkred\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkred\:95\:st, html.auto .sf-c-darkred\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkred\:100\:st, html.auto .sf-c-darkred\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkred, html.auto .sf-c-txt-darkred { color: hsl(0, 100%, 73%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:0, html.auto .sf-c-txt-darkred\:0 { color: hsl(0, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:5, html.auto .sf-c-txt-darkred\:5 { color: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:10, html.auto .sf-c-txt-darkred\:10 { color: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:15, html.auto .sf-c-txt-darkred\:15 { color: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:20, html.auto .sf-c-txt-darkred\:20 { color: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:25, html.auto .sf-c-txt-darkred\:25 { color: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:30, html.auto .sf-c-txt-darkred\:30 { color: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:35, html.auto .sf-c-txt-darkred\:35 { color: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:40, html.auto .sf-c-txt-darkred\:40 { color: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:45, html.auto .sf-c-txt-darkred\:45 { color: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:50, html.auto .sf-c-txt-darkred\:50 { color: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:55, html.auto .sf-c-txt-darkred\:55 { color: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:60, html.auto .sf-c-txt-darkred\:60 { color: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:65, html.auto .sf-c-txt-darkred\:65 { color: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:70, html.auto .sf-c-txt-darkred\:70 { color: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:75, html.auto .sf-c-txt-darkred\:75 { color: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:80, html.auto .sf-c-txt-darkred\:80 { color: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:85, html.auto .sf-c-txt-darkred\:85 { color: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:90, html.auto .sf-c-txt-darkred\:90 { color: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:95, html.auto .sf-c-txt-darkred\:95 { color: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:100, html.auto .sf-c-txt-darkred\:100 { color: hsl(0, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkred\:st, html.auto .sf-c-txt-darkred\:st { color: hsl(0, 100%, 27%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:0\:st, html.auto .sf-c-txt-darkred\:0\:st { color: hsl(0, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:5\:st, html.auto .sf-c-txt-darkred\:5\:st { color: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:10\:st, html.auto .sf-c-txt-darkred\:10\:st { color: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:15\:st, html.auto .sf-c-txt-darkred\:15\:st { color: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:20\:st, html.auto .sf-c-txt-darkred\:20\:st { color: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:25\:st, html.auto .sf-c-txt-darkred\:25\:st { color: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:30\:st, html.auto .sf-c-txt-darkred\:30\:st { color: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:35\:st, html.auto .sf-c-txt-darkred\:35\:st { color: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:40\:st, html.auto .sf-c-txt-darkred\:40\:st { color: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:45\:st, html.auto .sf-c-txt-darkred\:45\:st { color: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:50\:st, html.auto .sf-c-txt-darkred\:50\:st { color: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:55\:st, html.auto .sf-c-txt-darkred\:55\:st { color: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:60\:st, html.auto .sf-c-txt-darkred\:60\:st { color: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:65\:st, html.auto .sf-c-txt-darkred\:65\:st { color: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:70\:st, html.auto .sf-c-txt-darkred\:70\:st { color: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:75\:st, html.auto .sf-c-txt-darkred\:75\:st { color: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:80\:st, html.auto .sf-c-txt-darkred\:80\:st { color: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:85\:st, html.auto .sf-c-txt-darkred\:85\:st { color: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:90\:st, html.auto .sf-c-txt-darkred\:90\:st { color: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:95\:st, html.auto .sf-c-txt-darkred\:95\:st { color: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkred\:100\:st, html.auto .sf-c-txt-darkred\:100\:st { color: hsl(0, 100%, 100%) }
}