.sf-var-darkgoldenrod {
  --sf-c-darkgoldenrod: 43 89% 38%;
  --sf-c-darkgoldenrod-0: 43 89% 0%;
  --sf-c-darkgoldenrod-5: 43 89% 5%;
  --sf-c-darkgoldenrod-10: 43 89% 10%;
  --sf-c-darkgoldenrod-15: 43 89% 15%;
  --sf-c-darkgoldenrod-20: 43 89% 20%;
  --sf-c-darkgoldenrod-25: 43 89% 25%;
  --sf-c-darkgoldenrod-30: 43 89% 30%;
  --sf-c-darkgoldenrod-35: 43 89% 35%;
  --sf-c-darkgoldenrod-40: 43 89% 40%;
  --sf-c-darkgoldenrod-45: 43 89% 45%;
  --sf-c-darkgoldenrod-50: 43 89% 50%;
  --sf-c-darkgoldenrod-55: 43 89% 55%;
  --sf-c-darkgoldenrod-60: 43 89% 60%;
  --sf-c-darkgoldenrod-65: 43 89% 65%;
  --sf-c-darkgoldenrod-70: 43 89% 70%;
  --sf-c-darkgoldenrod-75: 43 89% 75%;
  --sf-c-darkgoldenrod-80: 43 89% 80%;
  --sf-c-darkgoldenrod-85: 43 89% 85%;
  --sf-c-darkgoldenrod-90: 43 89% 90%;
  --sf-c-darkgoldenrod-95: 43 89% 95%;
  --sf-c-darkgoldenrod-100: 43 89% 100%;
}

.sf-c-darkgoldenrod, .sf-c-darkgoldenrod\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 38%) }
.sf-c-darkgoldenrod\:0, .sf-c-darkgoldenrod\:0\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 0%) }
.sf-c-darkgoldenrod\:5, .sf-c-darkgoldenrod\:5\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 5%) }
.sf-c-darkgoldenrod\:10, .sf-c-darkgoldenrod\:10\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 10%) }
.sf-c-darkgoldenrod\:15, .sf-c-darkgoldenrod\:15\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 15%) }
.sf-c-darkgoldenrod\:20, .sf-c-darkgoldenrod\:20\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 20%) }
.sf-c-darkgoldenrod\:25, .sf-c-darkgoldenrod\:25\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 25%) }
.sf-c-darkgoldenrod\:30, .sf-c-darkgoldenrod\:30\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 30%) }
.sf-c-darkgoldenrod\:35, .sf-c-darkgoldenrod\:35\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 35%) }
.sf-c-darkgoldenrod\:40, .sf-c-darkgoldenrod\:40\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 40%) }
.sf-c-darkgoldenrod\:45, .sf-c-darkgoldenrod\:45\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 45%) }
.sf-c-darkgoldenrod\:50, .sf-c-darkgoldenrod\:50\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 50%) }
.sf-c-darkgoldenrod\:55, .sf-c-darkgoldenrod\:55\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 55%) }
.sf-c-darkgoldenrod\:60, .sf-c-darkgoldenrod\:60\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 60%) }
.sf-c-darkgoldenrod\:65, .sf-c-darkgoldenrod\:65\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 65%) }
.sf-c-darkgoldenrod\:70, .sf-c-darkgoldenrod\:70\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 70%) }
.sf-c-darkgoldenrod\:75, .sf-c-darkgoldenrod\:75\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 75%) }
.sf-c-darkgoldenrod\:80, .sf-c-darkgoldenrod\:80\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 80%) }
.sf-c-darkgoldenrod\:85, .sf-c-darkgoldenrod\:85\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 85%) }
.sf-c-darkgoldenrod\:90, .sf-c-darkgoldenrod\:90\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 90%) }
.sf-c-darkgoldenrod\:95, .sf-c-darkgoldenrod\:95\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 95%) }
.sf-c-darkgoldenrod\:100, .sf-c-darkgoldenrod\:100\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 100%) }

.sf-c-txt-darkgoldenrod { color: hsl(43, 89%, 38%) }
.sf-c-txt-darkgoldenrod\:st { color: hsl(43, 89%, 38%) }
.sf-c-txt-darkgoldenrod\:0, .sf-c-txt-darkgoldenrod\:0\:st { color: hsl(43, 89%, 0%) }
.sf-c-txt-darkgoldenrod\:5, .sf-c-txt-darkgoldenrod\:5\:st { color: hsl(43, 89%, 5%) }
.sf-c-txt-darkgoldenrod\:10, .sf-c-txt-darkgoldenrod\:10\:st { color: hsl(43, 89%, 10%) }
.sf-c-txt-darkgoldenrod\:15, .sf-c-txt-darkgoldenrod\:15\:st { color: hsl(43, 89%, 15%) }
.sf-c-txt-darkgoldenrod\:20, .sf-c-txt-darkgoldenrod\:20\:st { color: hsl(43, 89%, 20%) }
.sf-c-txt-darkgoldenrod\:25, .sf-c-txt-darkgoldenrod\:25\:st { color: hsl(43, 89%, 25%) }
.sf-c-txt-darkgoldenrod\:30, .sf-c-txt-darkgoldenrod\:30\:st { color: hsl(43, 89%, 30%) }
.sf-c-txt-darkgoldenrod\:35, .sf-c-txt-darkgoldenrod\:35\:st { color: hsl(43, 89%, 35%) }
.sf-c-txt-darkgoldenrod\:40, .sf-c-txt-darkgoldenrod\:40\:st { color: hsl(43, 89%, 40%) }
.sf-c-txt-darkgoldenrod\:45, .sf-c-txt-darkgoldenrod\:45\:st { color: hsl(43, 89%, 45%) }
.sf-c-txt-darkgoldenrod\:50, .sf-c-txt-darkgoldenrod\:50\:st { color: hsl(43, 89%, 50%) }
.sf-c-txt-darkgoldenrod\:55, .sf-c-txt-darkgoldenrod\:55\:st { color: hsl(43, 89%, 55%) }
.sf-c-txt-darkgoldenrod\:60, .sf-c-txt-darkgoldenrod\:60\:st { color: hsl(43, 89%, 60%) }
.sf-c-txt-darkgoldenrod\:65, .sf-c-txt-darkgoldenrod\:65\:st { color: hsl(43, 89%, 65%) }
.sf-c-txt-darkgoldenrod\:70, .sf-c-txt-darkgoldenrod\:70\:st { color: hsl(43, 89%, 70%) }
.sf-c-txt-darkgoldenrod\:75, .sf-c-txt-darkgoldenrod\:75\:st { color: hsl(43, 89%, 75%) }
.sf-c-txt-darkgoldenrod\:80, .sf-c-txt-darkgoldenrod\:80\:st { color: hsl(43, 89%, 80%) }
.sf-c-txt-darkgoldenrod\:85, .sf-c-txt-darkgoldenrod\:85\:st { color: hsl(43, 89%, 85%) }
.sf-c-txt-darkgoldenrod\:90, .sf-c-txt-darkgoldenrod\:90\:st { color: hsl(43, 89%, 90%) }
.sf-c-txt-darkgoldenrod\:95, .sf-c-txt-darkgoldenrod\:95\:st { color: hsl(43, 89%, 95%) }
.sf-c-txt-darkgoldenrod\:100, .sf-c-txt-darkgoldenrod\:100\:st { color: hsl(43, 89%, 100%) }

html[data-theme='dark'] .sf-c-darkgoldenrod, html.dark .sf-c-darkgoldenrod { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 62%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:0, html.dark .sf-c-darkgoldenrod\:0 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 100%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:5, html.dark .sf-c-darkgoldenrod\:5 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 95%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:10, html.dark .sf-c-darkgoldenrod\:10 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 90%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:15, html.dark .sf-c-darkgoldenrod\:15 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 85%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:20, html.dark .sf-c-darkgoldenrod\:20 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 80%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:25, html.dark .sf-c-darkgoldenrod\:25 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 75%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:30, html.dark .sf-c-darkgoldenrod\:30 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 70%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:35, html.dark .sf-c-darkgoldenrod\:35 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 65%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:40, html.dark .sf-c-darkgoldenrod\:40 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 60%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:45, html.dark .sf-c-darkgoldenrod\:45 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 55%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:50, html.dark .sf-c-darkgoldenrod\:50 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 50%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:55, html.dark .sf-c-darkgoldenrod\:55 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 45%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:60, html.dark .sf-c-darkgoldenrod\:60 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 40%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:65, html.dark .sf-c-darkgoldenrod\:65 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 35%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:70, html.dark .sf-c-darkgoldenrod\:70 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 30%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:75, html.dark .sf-c-darkgoldenrod\:75 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 25%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:80, html.dark .sf-c-darkgoldenrod\:80 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 20%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:85, html.dark .sf-c-darkgoldenrod\:85 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 15%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:90, html.dark .sf-c-darkgoldenrod\:90 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 10%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:95, html.dark .sf-c-darkgoldenrod\:95 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 5%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:100, html.dark .sf-c-darkgoldenrod\:100 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 0%) }

html[data-theme='dark'] .sf-c-darkgoldenrod\:st, html.dark .sf-c-darkgoldenrod\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 38%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:0\:st, html.dark .sf-c-darkgoldenrod\:0\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 0%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:5\:st, html.dark .sf-c-darkgoldenrod\:5\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 5%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:10\:st, html.dark .sf-c-darkgoldenrod\:10\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 10%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:15\:st, html.dark .sf-c-darkgoldenrod\:15\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 15%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:20\:st, html.dark .sf-c-darkgoldenrod\:20\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 20%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:25\:st, html.dark .sf-c-darkgoldenrod\:25\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 25%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:30\:st, html.dark .sf-c-darkgoldenrod\:30\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 30%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:35\:st, html.dark .sf-c-darkgoldenrod\:35\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 35%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:40\:st, html.dark .sf-c-darkgoldenrod\:40\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 40%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:45\:st, html.dark .sf-c-darkgoldenrod\:45\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 45%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:50\:st, html.dark .sf-c-darkgoldenrod\:50\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 50%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:55\:st, html.dark .sf-c-darkgoldenrod\:55\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 55%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:60\:st, html.dark .sf-c-darkgoldenrod\:60\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 60%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:65\:st, html.dark .sf-c-darkgoldenrod\:65\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 65%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:70\:st, html.dark .sf-c-darkgoldenrod\:70\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 70%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:75\:st, html.dark .sf-c-darkgoldenrod\:75\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 75%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:80\:st, html.dark .sf-c-darkgoldenrod\:80\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 80%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:85\:st, html.dark .sf-c-darkgoldenrod\:85\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 85%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:90\:st, html.dark .sf-c-darkgoldenrod\:90\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 90%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:95\:st, html.dark .sf-c-darkgoldenrod\:95\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 95%) }
html[data-theme='dark'] .sf-c-darkgoldenrod\:100\:st, html.dark .sf-c-darkgoldenrod\:100\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkgoldenrod, html.dark .sf-c-txt-darkgoldenrod { color: hsl(43, 89%, 62%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:0, html.dark .sf-c-txt-darkgoldenrod\:0 { color: hsl(43, 89%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:5, html.dark .sf-c-txt-darkgoldenrod\:5 { color: hsl(43, 89%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:10, html.dark .sf-c-txt-darkgoldenrod\:10 { color: hsl(43, 89%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:15, html.dark .sf-c-txt-darkgoldenrod\:15 { color: hsl(43, 89%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:20, html.dark .sf-c-txt-darkgoldenrod\:20 { color: hsl(43, 89%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:25, html.dark .sf-c-txt-darkgoldenrod\:25 { color: hsl(43, 89%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:30, html.dark .sf-c-txt-darkgoldenrod\:30 { color: hsl(43, 89%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:35, html.dark .sf-c-txt-darkgoldenrod\:35 { color: hsl(43, 89%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:40, html.dark .sf-c-txt-darkgoldenrod\:40 { color: hsl(43, 89%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:45, html.dark .sf-c-txt-darkgoldenrod\:45 { color: hsl(43, 89%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:50, html.dark .sf-c-txt-darkgoldenrod\:50 { color: hsl(43, 89%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:55, html.dark .sf-c-txt-darkgoldenrod\:55 { color: hsl(43, 89%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:60, html.dark .sf-c-txt-darkgoldenrod\:60 { color: hsl(43, 89%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:65, html.dark .sf-c-txt-darkgoldenrod\:65 { color: hsl(43, 89%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:70, html.dark .sf-c-txt-darkgoldenrod\:70 { color: hsl(43, 89%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:75, html.dark .sf-c-txt-darkgoldenrod\:75 { color: hsl(43, 89%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:80, html.dark .sf-c-txt-darkgoldenrod\:80 { color: hsl(43, 89%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:85, html.dark .sf-c-txt-darkgoldenrod\:85 { color: hsl(43, 89%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:90, html.dark .sf-c-txt-darkgoldenrod\:90 { color: hsl(43, 89%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:95, html.dark .sf-c-txt-darkgoldenrod\:95 { color: hsl(43, 89%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:100, html.dark .sf-c-txt-darkgoldenrod\:100 { color: hsl(43, 89%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:st, html.dark .sf-c-txt-darkgoldenrod\:st { color: hsl(43, 89%, 38%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:0\:st, html.dark .sf-c-txt-darkgoldenrod\:0\:st { color: hsl(43, 89%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:5\:st, html.dark .sf-c-txt-darkgoldenrod\:5\:st { color: hsl(43, 89%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:10\:st, html.dark .sf-c-txt-darkgoldenrod\:10\:st { color: hsl(43, 89%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:15\:st, html.dark .sf-c-txt-darkgoldenrod\:15\:st { color: hsl(43, 89%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:20\:st, html.dark .sf-c-txt-darkgoldenrod\:20\:st { color: hsl(43, 89%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:25\:st, html.dark .sf-c-txt-darkgoldenrod\:25\:st { color: hsl(43, 89%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:30\:st, html.dark .sf-c-txt-darkgoldenrod\:30\:st { color: hsl(43, 89%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:35\:st, html.dark .sf-c-txt-darkgoldenrod\:35\:st { color: hsl(43, 89%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:40\:st, html.dark .sf-c-txt-darkgoldenrod\:40\:st { color: hsl(43, 89%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:45\:st, html.dark .sf-c-txt-darkgoldenrod\:45\:st { color: hsl(43, 89%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:50\:st, html.dark .sf-c-txt-darkgoldenrod\:50\:st { color: hsl(43, 89%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:55\:st, html.dark .sf-c-txt-darkgoldenrod\:55\:st { color: hsl(43, 89%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:60\:st, html.dark .sf-c-txt-darkgoldenrod\:60\:st { color: hsl(43, 89%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:65\:st, html.dark .sf-c-txt-darkgoldenrod\:65\:st { color: hsl(43, 89%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:70\:st, html.dark .sf-c-txt-darkgoldenrod\:70\:st { color: hsl(43, 89%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:75\:st, html.dark .sf-c-txt-darkgoldenrod\:75\:st { color: hsl(43, 89%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:80\:st, html.dark .sf-c-txt-darkgoldenrod\:80\:st { color: hsl(43, 89%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:85\:st, html.dark .sf-c-txt-darkgoldenrod\:85\:st { color: hsl(43, 89%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:90\:st, html.dark .sf-c-txt-darkgoldenrod\:90\:st { color: hsl(43, 89%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:95\:st, html.dark .sf-c-txt-darkgoldenrod\:95\:st { color: hsl(43, 89%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkgoldenrod\:100\:st, html.dark .sf-c-txt-darkgoldenrod\:100\:st { color: hsl(43, 89%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkgoldenrod, html.auto .sf-c-darkgoldenrod { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 62%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:0, html.auto .sf-c-darkgoldenrod\:0 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 100%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:5, html.auto .sf-c-darkgoldenrod\:5 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 95%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:10, html.auto .sf-c-darkgoldenrod\:10 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 90%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:15, html.auto .sf-c-darkgoldenrod\:15 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 85%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:20, html.auto .sf-c-darkgoldenrod\:20 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 80%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:25, html.auto .sf-c-darkgoldenrod\:25 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 75%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:30, html.auto .sf-c-darkgoldenrod\:30 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 70%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:35, html.auto .sf-c-darkgoldenrod\:35 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 65%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:40, html.auto .sf-c-darkgoldenrod\:40 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 60%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:45, html.auto .sf-c-darkgoldenrod\:45 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 55%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:50, html.auto .sf-c-darkgoldenrod\:50 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 50%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:55, html.auto .sf-c-darkgoldenrod\:55 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 45%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:60, html.auto .sf-c-darkgoldenrod\:60 { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 40%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:65, html.auto .sf-c-darkgoldenrod\:65 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 35%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:70, html.auto .sf-c-darkgoldenrod\:70 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 30%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:75, html.auto .sf-c-darkgoldenrod\:75 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 25%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:80, html.auto .sf-c-darkgoldenrod\:80 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 20%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:85, html.auto .sf-c-darkgoldenrod\:85 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 15%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:90, html.auto .sf-c-darkgoldenrod\:90 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 10%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:95, html.auto .sf-c-darkgoldenrod\:95 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 5%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:100, html.auto .sf-c-darkgoldenrod\:100 { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 0%) }

  html[data-theme='auto'] .sf-c-darkgoldenrod\:st, html.auto .sf-c-darkgoldenrod\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 38%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:0\:st, html.auto .sf-c-darkgoldenrod\:0\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 0%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:5\:st, html.auto .sf-c-darkgoldenrod\:5\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 5%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:10\:st, html.auto .sf-c-darkgoldenrod\:10\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 10%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:15\:st, html.auto .sf-c-darkgoldenrod\:15\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 15%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:20\:st, html.auto .sf-c-darkgoldenrod\:20\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 20%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:25\:st, html.auto .sf-c-darkgoldenrod\:25\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 25%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:30\:st, html.auto .sf-c-darkgoldenrod\:30\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 30%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:35\:st, html.auto .sf-c-darkgoldenrod\:35\:st { color: hsl(43, 89%, 95%); background: hsl(43, 89%, 35%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:40\:st, html.auto .sf-c-darkgoldenrod\:40\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 40%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:45\:st, html.auto .sf-c-darkgoldenrod\:45\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 45%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:50\:st, html.auto .sf-c-darkgoldenrod\:50\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 50%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:55\:st, html.auto .sf-c-darkgoldenrod\:55\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 55%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:60\:st, html.auto .sf-c-darkgoldenrod\:60\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 60%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:65\:st, html.auto .sf-c-darkgoldenrod\:65\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 65%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:70\:st, html.auto .sf-c-darkgoldenrod\:70\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 70%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:75\:st, html.auto .sf-c-darkgoldenrod\:75\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 75%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:80\:st, html.auto .sf-c-darkgoldenrod\:80\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 80%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:85\:st, html.auto .sf-c-darkgoldenrod\:85\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 85%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:90\:st, html.auto .sf-c-darkgoldenrod\:90\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 90%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:95\:st, html.auto .sf-c-darkgoldenrod\:95\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 95%) }
  html[data-theme='auto'] .sf-c-darkgoldenrod\:100\:st, html.auto .sf-c-darkgoldenrod\:100\:st { color: hsl(43, 89%, 5%); background: hsl(43, 89%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkgoldenrod, html.auto .sf-c-txt-darkgoldenrod { color: hsl(43, 89%, 62%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:0, html.auto .sf-c-txt-darkgoldenrod\:0 { color: hsl(43, 89%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:5, html.auto .sf-c-txt-darkgoldenrod\:5 { color: hsl(43, 89%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:10, html.auto .sf-c-txt-darkgoldenrod\:10 { color: hsl(43, 89%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:15, html.auto .sf-c-txt-darkgoldenrod\:15 { color: hsl(43, 89%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:20, html.auto .sf-c-txt-darkgoldenrod\:20 { color: hsl(43, 89%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:25, html.auto .sf-c-txt-darkgoldenrod\:25 { color: hsl(43, 89%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:30, html.auto .sf-c-txt-darkgoldenrod\:30 { color: hsl(43, 89%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:35, html.auto .sf-c-txt-darkgoldenrod\:35 { color: hsl(43, 89%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:40, html.auto .sf-c-txt-darkgoldenrod\:40 { color: hsl(43, 89%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:45, html.auto .sf-c-txt-darkgoldenrod\:45 { color: hsl(43, 89%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:50, html.auto .sf-c-txt-darkgoldenrod\:50 { color: hsl(43, 89%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:55, html.auto .sf-c-txt-darkgoldenrod\:55 { color: hsl(43, 89%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:60, html.auto .sf-c-txt-darkgoldenrod\:60 { color: hsl(43, 89%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:65, html.auto .sf-c-txt-darkgoldenrod\:65 { color: hsl(43, 89%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:70, html.auto .sf-c-txt-darkgoldenrod\:70 { color: hsl(43, 89%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:75, html.auto .sf-c-txt-darkgoldenrod\:75 { color: hsl(43, 89%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:80, html.auto .sf-c-txt-darkgoldenrod\:80 { color: hsl(43, 89%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:85, html.auto .sf-c-txt-darkgoldenrod\:85 { color: hsl(43, 89%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:90, html.auto .sf-c-txt-darkgoldenrod\:90 { color: hsl(43, 89%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:95, html.auto .sf-c-txt-darkgoldenrod\:95 { color: hsl(43, 89%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:100, html.auto .sf-c-txt-darkgoldenrod\:100 { color: hsl(43, 89%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:st, html.auto .sf-c-txt-darkgoldenrod\:st { color: hsl(43, 89%, 38%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:0\:st, html.auto .sf-c-txt-darkgoldenrod\:0\:st { color: hsl(43, 89%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:5\:st, html.auto .sf-c-txt-darkgoldenrod\:5\:st { color: hsl(43, 89%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:10\:st, html.auto .sf-c-txt-darkgoldenrod\:10\:st { color: hsl(43, 89%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:15\:st, html.auto .sf-c-txt-darkgoldenrod\:15\:st { color: hsl(43, 89%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:20\:st, html.auto .sf-c-txt-darkgoldenrod\:20\:st { color: hsl(43, 89%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:25\:st, html.auto .sf-c-txt-darkgoldenrod\:25\:st { color: hsl(43, 89%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:30\:st, html.auto .sf-c-txt-darkgoldenrod\:30\:st { color: hsl(43, 89%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:35\:st, html.auto .sf-c-txt-darkgoldenrod\:35\:st { color: hsl(43, 89%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:40\:st, html.auto .sf-c-txt-darkgoldenrod\:40\:st { color: hsl(43, 89%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:45\:st, html.auto .sf-c-txt-darkgoldenrod\:45\:st { color: hsl(43, 89%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:50\:st, html.auto .sf-c-txt-darkgoldenrod\:50\:st { color: hsl(43, 89%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:55\:st, html.auto .sf-c-txt-darkgoldenrod\:55\:st { color: hsl(43, 89%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:60\:st, html.auto .sf-c-txt-darkgoldenrod\:60\:st { color: hsl(43, 89%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:65\:st, html.auto .sf-c-txt-darkgoldenrod\:65\:st { color: hsl(43, 89%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:70\:st, html.auto .sf-c-txt-darkgoldenrod\:70\:st { color: hsl(43, 89%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:75\:st, html.auto .sf-c-txt-darkgoldenrod\:75\:st { color: hsl(43, 89%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:80\:st, html.auto .sf-c-txt-darkgoldenrod\:80\:st { color: hsl(43, 89%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:85\:st, html.auto .sf-c-txt-darkgoldenrod\:85\:st { color: hsl(43, 89%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:90\:st, html.auto .sf-c-txt-darkgoldenrod\:90\:st { color: hsl(43, 89%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:95\:st, html.auto .sf-c-txt-darkgoldenrod\:95\:st { color: hsl(43, 89%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkgoldenrod\:100\:st, html.auto .sf-c-txt-darkgoldenrod\:100\:st { color: hsl(43, 89%, 100%) }
}