.sf-var-darkcyan {
  --sf-c-darkcyan: 180 100% 27%;
  --sf-c-darkcyan-0: 180 100% 0%;
  --sf-c-darkcyan-5: 180 100% 5%;
  --sf-c-darkcyan-10: 180 100% 10%;
  --sf-c-darkcyan-15: 180 100% 15%;
  --sf-c-darkcyan-20: 180 100% 20%;
  --sf-c-darkcyan-25: 180 100% 25%;
  --sf-c-darkcyan-30: 180 100% 30%;
  --sf-c-darkcyan-35: 180 100% 35%;
  --sf-c-darkcyan-40: 180 100% 40%;
  --sf-c-darkcyan-45: 180 100% 45%;
  --sf-c-darkcyan-50: 180 100% 50%;
  --sf-c-darkcyan-55: 180 100% 55%;
  --sf-c-darkcyan-60: 180 100% 60%;
  --sf-c-darkcyan-65: 180 100% 65%;
  --sf-c-darkcyan-70: 180 100% 70%;
  --sf-c-darkcyan-75: 180 100% 75%;
  --sf-c-darkcyan-80: 180 100% 80%;
  --sf-c-darkcyan-85: 180 100% 85%;
  --sf-c-darkcyan-90: 180 100% 90%;
  --sf-c-darkcyan-95: 180 100% 95%;
  --sf-c-darkcyan-100: 180 100% 100%;
}

.sf-c-darkcyan, .sf-c-darkcyan\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 27%) }
.sf-c-darkcyan\:0, .sf-c-darkcyan\:0\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 0%) }
.sf-c-darkcyan\:5, .sf-c-darkcyan\:5\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 5%) }
.sf-c-darkcyan\:10, .sf-c-darkcyan\:10\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 10%) }
.sf-c-darkcyan\:15, .sf-c-darkcyan\:15\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 15%) }
.sf-c-darkcyan\:20, .sf-c-darkcyan\:20\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 20%) }
.sf-c-darkcyan\:25, .sf-c-darkcyan\:25\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 25%) }
.sf-c-darkcyan\:30, .sf-c-darkcyan\:30\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 30%) }
.sf-c-darkcyan\:35, .sf-c-darkcyan\:35\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 35%) }
.sf-c-darkcyan\:40, .sf-c-darkcyan\:40\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 40%) }
.sf-c-darkcyan\:45, .sf-c-darkcyan\:45\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 45%) }
.sf-c-darkcyan\:50, .sf-c-darkcyan\:50\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 50%) }
.sf-c-darkcyan\:55, .sf-c-darkcyan\:55\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 55%) }
.sf-c-darkcyan\:60, .sf-c-darkcyan\:60\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 60%) }
.sf-c-darkcyan\:65, .sf-c-darkcyan\:65\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 65%) }
.sf-c-darkcyan\:70, .sf-c-darkcyan\:70\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 70%) }
.sf-c-darkcyan\:75, .sf-c-darkcyan\:75\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 75%) }
.sf-c-darkcyan\:80, .sf-c-darkcyan\:80\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 80%) }
.sf-c-darkcyan\:85, .sf-c-darkcyan\:85\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 85%) }
.sf-c-darkcyan\:90, .sf-c-darkcyan\:90\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 90%) }
.sf-c-darkcyan\:95, .sf-c-darkcyan\:95\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 95%) }
.sf-c-darkcyan\:100, .sf-c-darkcyan\:100\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 100%) }

.sf-c-txt-darkcyan { color: hsl(180, 100%, 27%) }
.sf-c-txt-darkcyan\:st { color: hsl(180, 100%, 27%) }
.sf-c-txt-darkcyan\:0, .sf-c-txt-darkcyan\:0\:st { color: hsl(180, 100%, 0%) }
.sf-c-txt-darkcyan\:5, .sf-c-txt-darkcyan\:5\:st { color: hsl(180, 100%, 5%) }
.sf-c-txt-darkcyan\:10, .sf-c-txt-darkcyan\:10\:st { color: hsl(180, 100%, 10%) }
.sf-c-txt-darkcyan\:15, .sf-c-txt-darkcyan\:15\:st { color: hsl(180, 100%, 15%) }
.sf-c-txt-darkcyan\:20, .sf-c-txt-darkcyan\:20\:st { color: hsl(180, 100%, 20%) }
.sf-c-txt-darkcyan\:25, .sf-c-txt-darkcyan\:25\:st { color: hsl(180, 100%, 25%) }
.sf-c-txt-darkcyan\:30, .sf-c-txt-darkcyan\:30\:st { color: hsl(180, 100%, 30%) }
.sf-c-txt-darkcyan\:35, .sf-c-txt-darkcyan\:35\:st { color: hsl(180, 100%, 35%) }
.sf-c-txt-darkcyan\:40, .sf-c-txt-darkcyan\:40\:st { color: hsl(180, 100%, 40%) }
.sf-c-txt-darkcyan\:45, .sf-c-txt-darkcyan\:45\:st { color: hsl(180, 100%, 45%) }
.sf-c-txt-darkcyan\:50, .sf-c-txt-darkcyan\:50\:st { color: hsl(180, 100%, 50%) }
.sf-c-txt-darkcyan\:55, .sf-c-txt-darkcyan\:55\:st { color: hsl(180, 100%, 55%) }
.sf-c-txt-darkcyan\:60, .sf-c-txt-darkcyan\:60\:st { color: hsl(180, 100%, 60%) }
.sf-c-txt-darkcyan\:65, .sf-c-txt-darkcyan\:65\:st { color: hsl(180, 100%, 65%) }
.sf-c-txt-darkcyan\:70, .sf-c-txt-darkcyan\:70\:st { color: hsl(180, 100%, 70%) }
.sf-c-txt-darkcyan\:75, .sf-c-txt-darkcyan\:75\:st { color: hsl(180, 100%, 75%) }
.sf-c-txt-darkcyan\:80, .sf-c-txt-darkcyan\:80\:st { color: hsl(180, 100%, 80%) }
.sf-c-txt-darkcyan\:85, .sf-c-txt-darkcyan\:85\:st { color: hsl(180, 100%, 85%) }
.sf-c-txt-darkcyan\:90, .sf-c-txt-darkcyan\:90\:st { color: hsl(180, 100%, 90%) }
.sf-c-txt-darkcyan\:95, .sf-c-txt-darkcyan\:95\:st { color: hsl(180, 100%, 95%) }
.sf-c-txt-darkcyan\:100, .sf-c-txt-darkcyan\:100\:st { color: hsl(180, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkcyan, html.dark .sf-c-darkcyan { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 73%) }
html[data-theme='dark'] .sf-c-darkcyan\:0, html.dark .sf-c-darkcyan\:0 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkcyan\:5, html.dark .sf-c-darkcyan\:5 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkcyan\:10, html.dark .sf-c-darkcyan\:10 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkcyan\:15, html.dark .sf-c-darkcyan\:15 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkcyan\:20, html.dark .sf-c-darkcyan\:20 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkcyan\:25, html.dark .sf-c-darkcyan\:25 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkcyan\:30, html.dark .sf-c-darkcyan\:30 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkcyan\:35, html.dark .sf-c-darkcyan\:35 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkcyan\:40, html.dark .sf-c-darkcyan\:40 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkcyan\:45, html.dark .sf-c-darkcyan\:45 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkcyan\:50, html.dark .sf-c-darkcyan\:50 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkcyan\:55, html.dark .sf-c-darkcyan\:55 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkcyan\:60, html.dark .sf-c-darkcyan\:60 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkcyan\:65, html.dark .sf-c-darkcyan\:65 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkcyan\:70, html.dark .sf-c-darkcyan\:70 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkcyan\:75, html.dark .sf-c-darkcyan\:75 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkcyan\:80, html.dark .sf-c-darkcyan\:80 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkcyan\:85, html.dark .sf-c-darkcyan\:85 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkcyan\:90, html.dark .sf-c-darkcyan\:90 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkcyan\:95, html.dark .sf-c-darkcyan\:95 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkcyan\:100, html.dark .sf-c-darkcyan\:100 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkcyan\:st, html.dark .sf-c-darkcyan\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 27%) }
html[data-theme='dark'] .sf-c-darkcyan\:0\:st, html.dark .sf-c-darkcyan\:0\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkcyan\:5\:st, html.dark .sf-c-darkcyan\:5\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 5%) }
html[data-theme='dark'] .sf-c-darkcyan\:10\:st, html.dark .sf-c-darkcyan\:10\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkcyan\:15\:st, html.dark .sf-c-darkcyan\:15\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 15%) }
html[data-theme='dark'] .sf-c-darkcyan\:20\:st, html.dark .sf-c-darkcyan\:20\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkcyan\:25\:st, html.dark .sf-c-darkcyan\:25\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 25%) }
html[data-theme='dark'] .sf-c-darkcyan\:30\:st, html.dark .sf-c-darkcyan\:30\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkcyan\:35\:st, html.dark .sf-c-darkcyan\:35\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 35%) }
html[data-theme='dark'] .sf-c-darkcyan\:40\:st, html.dark .sf-c-darkcyan\:40\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkcyan\:45\:st, html.dark .sf-c-darkcyan\:45\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 45%) }
html[data-theme='dark'] .sf-c-darkcyan\:50\:st, html.dark .sf-c-darkcyan\:50\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkcyan\:55\:st, html.dark .sf-c-darkcyan\:55\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 55%) }
html[data-theme='dark'] .sf-c-darkcyan\:60\:st, html.dark .sf-c-darkcyan\:60\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkcyan\:65\:st, html.dark .sf-c-darkcyan\:65\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 65%) }
html[data-theme='dark'] .sf-c-darkcyan\:70\:st, html.dark .sf-c-darkcyan\:70\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkcyan\:75\:st, html.dark .sf-c-darkcyan\:75\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 75%) }
html[data-theme='dark'] .sf-c-darkcyan\:80\:st, html.dark .sf-c-darkcyan\:80\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkcyan\:85\:st, html.dark .sf-c-darkcyan\:85\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 85%) }
html[data-theme='dark'] .sf-c-darkcyan\:90\:st, html.dark .sf-c-darkcyan\:90\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkcyan\:95\:st, html.dark .sf-c-darkcyan\:95\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 95%) }
html[data-theme='dark'] .sf-c-darkcyan\:100\:st, html.dark .sf-c-darkcyan\:100\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkcyan, html.dark .sf-c-txt-darkcyan { color: hsl(180, 100%, 73%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:0, html.dark .sf-c-txt-darkcyan\:0 { color: hsl(180, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:5, html.dark .sf-c-txt-darkcyan\:5 { color: hsl(180, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:10, html.dark .sf-c-txt-darkcyan\:10 { color: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:15, html.dark .sf-c-txt-darkcyan\:15 { color: hsl(180, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:20, html.dark .sf-c-txt-darkcyan\:20 { color: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:25, html.dark .sf-c-txt-darkcyan\:25 { color: hsl(180, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:30, html.dark .sf-c-txt-darkcyan\:30 { color: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:35, html.dark .sf-c-txt-darkcyan\:35 { color: hsl(180, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:40, html.dark .sf-c-txt-darkcyan\:40 { color: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:45, html.dark .sf-c-txt-darkcyan\:45 { color: hsl(180, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:50, html.dark .sf-c-txt-darkcyan\:50 { color: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:55, html.dark .sf-c-txt-darkcyan\:55 { color: hsl(180, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:60, html.dark .sf-c-txt-darkcyan\:60 { color: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:65, html.dark .sf-c-txt-darkcyan\:65 { color: hsl(180, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:70, html.dark .sf-c-txt-darkcyan\:70 { color: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:75, html.dark .sf-c-txt-darkcyan\:75 { color: hsl(180, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:80, html.dark .sf-c-txt-darkcyan\:80 { color: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:85, html.dark .sf-c-txt-darkcyan\:85 { color: hsl(180, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:90, html.dark .sf-c-txt-darkcyan\:90 { color: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:95, html.dark .sf-c-txt-darkcyan\:95 { color: hsl(180, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:100, html.dark .sf-c-txt-darkcyan\:100 { color: hsl(180, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkcyan\:st, html.dark .sf-c-txt-darkcyan\:st { color: hsl(180, 100%, 27%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:0\:st, html.dark .sf-c-txt-darkcyan\:0\:st { color: hsl(180, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:5\:st, html.dark .sf-c-txt-darkcyan\:5\:st { color: hsl(180, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:10\:st, html.dark .sf-c-txt-darkcyan\:10\:st { color: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:15\:st, html.dark .sf-c-txt-darkcyan\:15\:st { color: hsl(180, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:20\:st, html.dark .sf-c-txt-darkcyan\:20\:st { color: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:25\:st, html.dark .sf-c-txt-darkcyan\:25\:st { color: hsl(180, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:30\:st, html.dark .sf-c-txt-darkcyan\:30\:st { color: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:35\:st, html.dark .sf-c-txt-darkcyan\:35\:st { color: hsl(180, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:40\:st, html.dark .sf-c-txt-darkcyan\:40\:st { color: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:45\:st, html.dark .sf-c-txt-darkcyan\:45\:st { color: hsl(180, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:50\:st, html.dark .sf-c-txt-darkcyan\:50\:st { color: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:55\:st, html.dark .sf-c-txt-darkcyan\:55\:st { color: hsl(180, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:60\:st, html.dark .sf-c-txt-darkcyan\:60\:st { color: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:65\:st, html.dark .sf-c-txt-darkcyan\:65\:st { color: hsl(180, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:70\:st, html.dark .sf-c-txt-darkcyan\:70\:st { color: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:75\:st, html.dark .sf-c-txt-darkcyan\:75\:st { color: hsl(180, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:80\:st, html.dark .sf-c-txt-darkcyan\:80\:st { color: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:85\:st, html.dark .sf-c-txt-darkcyan\:85\:st { color: hsl(180, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:90\:st, html.dark .sf-c-txt-darkcyan\:90\:st { color: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:95\:st, html.dark .sf-c-txt-darkcyan\:95\:st { color: hsl(180, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-darkcyan\:100\:st, html.dark .sf-c-txt-darkcyan\:100\:st { color: hsl(180, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkcyan, html.auto .sf-c-darkcyan { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 73%) }
  html[data-theme='auto'] .sf-c-darkcyan\:0, html.auto .sf-c-darkcyan\:0 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkcyan\:5, html.auto .sf-c-darkcyan\:5 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkcyan\:10, html.auto .sf-c-darkcyan\:10 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkcyan\:15, html.auto .sf-c-darkcyan\:15 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkcyan\:20, html.auto .sf-c-darkcyan\:20 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkcyan\:25, html.auto .sf-c-darkcyan\:25 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkcyan\:30, html.auto .sf-c-darkcyan\:30 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkcyan\:35, html.auto .sf-c-darkcyan\:35 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkcyan\:40, html.auto .sf-c-darkcyan\:40 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkcyan\:45, html.auto .sf-c-darkcyan\:45 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkcyan\:50, html.auto .sf-c-darkcyan\:50 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkcyan\:55, html.auto .sf-c-darkcyan\:55 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkcyan\:60, html.auto .sf-c-darkcyan\:60 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkcyan\:65, html.auto .sf-c-darkcyan\:65 { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkcyan\:70, html.auto .sf-c-darkcyan\:70 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkcyan\:75, html.auto .sf-c-darkcyan\:75 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkcyan\:80, html.auto .sf-c-darkcyan\:80 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkcyan\:85, html.auto .sf-c-darkcyan\:85 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkcyan\:90, html.auto .sf-c-darkcyan\:90 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkcyan\:95, html.auto .sf-c-darkcyan\:95 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkcyan\:100, html.auto .sf-c-darkcyan\:100 { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkcyan\:st, html.auto .sf-c-darkcyan\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 27%) }
  html[data-theme='auto'] .sf-c-darkcyan\:0\:st, html.auto .sf-c-darkcyan\:0\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkcyan\:5\:st, html.auto .sf-c-darkcyan\:5\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 5%) }
  html[data-theme='auto'] .sf-c-darkcyan\:10\:st, html.auto .sf-c-darkcyan\:10\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkcyan\:15\:st, html.auto .sf-c-darkcyan\:15\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 15%) }
  html[data-theme='auto'] .sf-c-darkcyan\:20\:st, html.auto .sf-c-darkcyan\:20\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkcyan\:25\:st, html.auto .sf-c-darkcyan\:25\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 25%) }
  html[data-theme='auto'] .sf-c-darkcyan\:30\:st, html.auto .sf-c-darkcyan\:30\:st { color: hsl(180, 100%, 95%); background: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkcyan\:35\:st, html.auto .sf-c-darkcyan\:35\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 35%) }
  html[data-theme='auto'] .sf-c-darkcyan\:40\:st, html.auto .sf-c-darkcyan\:40\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkcyan\:45\:st, html.auto .sf-c-darkcyan\:45\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 45%) }
  html[data-theme='auto'] .sf-c-darkcyan\:50\:st, html.auto .sf-c-darkcyan\:50\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkcyan\:55\:st, html.auto .sf-c-darkcyan\:55\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 55%) }
  html[data-theme='auto'] .sf-c-darkcyan\:60\:st, html.auto .sf-c-darkcyan\:60\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkcyan\:65\:st, html.auto .sf-c-darkcyan\:65\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 65%) }
  html[data-theme='auto'] .sf-c-darkcyan\:70\:st, html.auto .sf-c-darkcyan\:70\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkcyan\:75\:st, html.auto .sf-c-darkcyan\:75\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 75%) }
  html[data-theme='auto'] .sf-c-darkcyan\:80\:st, html.auto .sf-c-darkcyan\:80\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkcyan\:85\:st, html.auto .sf-c-darkcyan\:85\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 85%) }
  html[data-theme='auto'] .sf-c-darkcyan\:90\:st, html.auto .sf-c-darkcyan\:90\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkcyan\:95\:st, html.auto .sf-c-darkcyan\:95\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 95%) }
  html[data-theme='auto'] .sf-c-darkcyan\:100\:st, html.auto .sf-c-darkcyan\:100\:st { color: hsl(180, 100%, 5%); background: hsl(180, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkcyan, html.auto .sf-c-txt-darkcyan { color: hsl(180, 100%, 73%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:0, html.auto .sf-c-txt-darkcyan\:0 { color: hsl(180, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:5, html.auto .sf-c-txt-darkcyan\:5 { color: hsl(180, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:10, html.auto .sf-c-txt-darkcyan\:10 { color: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:15, html.auto .sf-c-txt-darkcyan\:15 { color: hsl(180, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:20, html.auto .sf-c-txt-darkcyan\:20 { color: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:25, html.auto .sf-c-txt-darkcyan\:25 { color: hsl(180, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:30, html.auto .sf-c-txt-darkcyan\:30 { color: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:35, html.auto .sf-c-txt-darkcyan\:35 { color: hsl(180, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:40, html.auto .sf-c-txt-darkcyan\:40 { color: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:45, html.auto .sf-c-txt-darkcyan\:45 { color: hsl(180, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:50, html.auto .sf-c-txt-darkcyan\:50 { color: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:55, html.auto .sf-c-txt-darkcyan\:55 { color: hsl(180, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:60, html.auto .sf-c-txt-darkcyan\:60 { color: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:65, html.auto .sf-c-txt-darkcyan\:65 { color: hsl(180, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:70, html.auto .sf-c-txt-darkcyan\:70 { color: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:75, html.auto .sf-c-txt-darkcyan\:75 { color: hsl(180, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:80, html.auto .sf-c-txt-darkcyan\:80 { color: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:85, html.auto .sf-c-txt-darkcyan\:85 { color: hsl(180, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:90, html.auto .sf-c-txt-darkcyan\:90 { color: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:95, html.auto .sf-c-txt-darkcyan\:95 { color: hsl(180, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:100, html.auto .sf-c-txt-darkcyan\:100 { color: hsl(180, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkcyan\:st, html.auto .sf-c-txt-darkcyan\:st { color: hsl(180, 100%, 27%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:0\:st, html.auto .sf-c-txt-darkcyan\:0\:st { color: hsl(180, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:5\:st, html.auto .sf-c-txt-darkcyan\:5\:st { color: hsl(180, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:10\:st, html.auto .sf-c-txt-darkcyan\:10\:st { color: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:15\:st, html.auto .sf-c-txt-darkcyan\:15\:st { color: hsl(180, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:20\:st, html.auto .sf-c-txt-darkcyan\:20\:st { color: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:25\:st, html.auto .sf-c-txt-darkcyan\:25\:st { color: hsl(180, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:30\:st, html.auto .sf-c-txt-darkcyan\:30\:st { color: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:35\:st, html.auto .sf-c-txt-darkcyan\:35\:st { color: hsl(180, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:40\:st, html.auto .sf-c-txt-darkcyan\:40\:st { color: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:45\:st, html.auto .sf-c-txt-darkcyan\:45\:st { color: hsl(180, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:50\:st, html.auto .sf-c-txt-darkcyan\:50\:st { color: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:55\:st, html.auto .sf-c-txt-darkcyan\:55\:st { color: hsl(180, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:60\:st, html.auto .sf-c-txt-darkcyan\:60\:st { color: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:65\:st, html.auto .sf-c-txt-darkcyan\:65\:st { color: hsl(180, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:70\:st, html.auto .sf-c-txt-darkcyan\:70\:st { color: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:75\:st, html.auto .sf-c-txt-darkcyan\:75\:st { color: hsl(180, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:80\:st, html.auto .sf-c-txt-darkcyan\:80\:st { color: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:85\:st, html.auto .sf-c-txt-darkcyan\:85\:st { color: hsl(180, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:90\:st, html.auto .sf-c-txt-darkcyan\:90\:st { color: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:95\:st, html.auto .sf-c-txt-darkcyan\:95\:st { color: hsl(180, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-darkcyan\:100\:st, html.auto .sf-c-txt-darkcyan\:100\:st { color: hsl(180, 100%, 100%) }
}