.sf-var-gray {
  --sf-c-gray: 0 0% 50%;
  --sf-c-gray-0: 0 0% 0%;
  --sf-c-gray-5: 0 0% 5%;
  --sf-c-gray-10: 0 0% 10%;
  --sf-c-gray-15: 0 0% 15%;
  --sf-c-gray-20: 0 0% 20%;
  --sf-c-gray-25: 0 0% 25%;
  --sf-c-gray-30: 0 0% 30%;
  --sf-c-gray-35: 0 0% 35%;
  --sf-c-gray-40: 0 0% 40%;
  --sf-c-gray-45: 0 0% 45%;
  --sf-c-gray-50: 0 0% 50%;
  --sf-c-gray-55: 0 0% 55%;
  --sf-c-gray-60: 0 0% 60%;
  --sf-c-gray-65: 0 0% 65%;
  --sf-c-gray-70: 0 0% 70%;
  --sf-c-gray-75: 0 0% 75%;
  --sf-c-gray-80: 0 0% 80%;
  --sf-c-gray-85: 0 0% 85%;
  --sf-c-gray-90: 0 0% 90%;
  --sf-c-gray-95: 0 0% 95%;
  --sf-c-gray-100: 0 0% 100%;
}

.sf-c-gray, .sf-c-gray\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
.sf-c-gray\:0, .sf-c-gray\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
.sf-c-gray\:5, .sf-c-gray\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
.sf-c-gray\:10, .sf-c-gray\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
.sf-c-gray\:15, .sf-c-gray\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
.sf-c-gray\:20, .sf-c-gray\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
.sf-c-gray\:25, .sf-c-gray\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
.sf-c-gray\:30, .sf-c-gray\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
.sf-c-gray\:35, .sf-c-gray\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
.sf-c-gray\:40, .sf-c-gray\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
.sf-c-gray\:45, .sf-c-gray\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
.sf-c-gray\:50, .sf-c-gray\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
.sf-c-gray\:55, .sf-c-gray\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
.sf-c-gray\:60, .sf-c-gray\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
.sf-c-gray\:65, .sf-c-gray\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
.sf-c-gray\:70, .sf-c-gray\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
.sf-c-gray\:75, .sf-c-gray\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
.sf-c-gray\:80, .sf-c-gray\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
.sf-c-gray\:85, .sf-c-gray\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
.sf-c-gray\:90, .sf-c-gray\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
.sf-c-gray\:95, .sf-c-gray\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
.sf-c-gray\:100, .sf-c-gray\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

.sf-c-txt-gray { color: hsl(0, 0%, 50%) }
.sf-c-txt-gray\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-gray\:0, .sf-c-txt-gray\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-gray\:5, .sf-c-txt-gray\:5\:st { color: hsl(0, 0%, 5%) }
.sf-c-txt-gray\:10, .sf-c-txt-gray\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-gray\:15, .sf-c-txt-gray\:15\:st { color: hsl(0, 0%, 15%) }
.sf-c-txt-gray\:20, .sf-c-txt-gray\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-gray\:25, .sf-c-txt-gray\:25\:st { color: hsl(0, 0%, 25%) }
.sf-c-txt-gray\:30, .sf-c-txt-gray\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-gray\:35, .sf-c-txt-gray\:35\:st { color: hsl(0, 0%, 35%) }
.sf-c-txt-gray\:40, .sf-c-txt-gray\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-gray\:45, .sf-c-txt-gray\:45\:st { color: hsl(0, 0%, 45%) }
.sf-c-txt-gray\:50, .sf-c-txt-gray\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-gray\:55, .sf-c-txt-gray\:55\:st { color: hsl(0, 0%, 55%) }
.sf-c-txt-gray\:60, .sf-c-txt-gray\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-gray\:65, .sf-c-txt-gray\:65\:st { color: hsl(0, 0%, 65%) }
.sf-c-txt-gray\:70, .sf-c-txt-gray\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-gray\:75, .sf-c-txt-gray\:75\:st { color: hsl(0, 0%, 75%) }
.sf-c-txt-gray\:80, .sf-c-txt-gray\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-gray\:85, .sf-c-txt-gray\:85\:st { color: hsl(0, 0%, 85%) }
.sf-c-txt-gray\:90, .sf-c-txt-gray\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-gray\:95, .sf-c-txt-gray\:95\:st { color: hsl(0, 0%, 95%) }
.sf-c-txt-gray\:100, .sf-c-txt-gray\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-gray, html.dark .sf-c-gray { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-gray\:0, html.dark .sf-c-gray\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-gray\:5, html.dark .sf-c-gray\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-gray\:10, html.dark .sf-c-gray\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-gray\:15, html.dark .sf-c-gray\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-gray\:20, html.dark .sf-c-gray\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-gray\:25, html.dark .sf-c-gray\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-gray\:30, html.dark .sf-c-gray\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-gray\:35, html.dark .sf-c-gray\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-gray\:40, html.dark .sf-c-gray\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-gray\:45, html.dark .sf-c-gray\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-gray\:50, html.dark .sf-c-gray\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-gray\:55, html.dark .sf-c-gray\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-gray\:60, html.dark .sf-c-gray\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-gray\:65, html.dark .sf-c-gray\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-gray\:70, html.dark .sf-c-gray\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-gray\:75, html.dark .sf-c-gray\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-gray\:80, html.dark .sf-c-gray\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-gray\:85, html.dark .sf-c-gray\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-gray\:90, html.dark .sf-c-gray\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-gray\:95, html.dark .sf-c-gray\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-gray\:100, html.dark .sf-c-gray\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-gray\:st, html.dark .sf-c-gray\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-gray\:0\:st, html.dark .sf-c-gray\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-gray\:5\:st, html.dark .sf-c-gray\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-gray\:10\:st, html.dark .sf-c-gray\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-gray\:15\:st, html.dark .sf-c-gray\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-gray\:20\:st, html.dark .sf-c-gray\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-gray\:25\:st, html.dark .sf-c-gray\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-gray\:30\:st, html.dark .sf-c-gray\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-gray\:35\:st, html.dark .sf-c-gray\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-gray\:40\:st, html.dark .sf-c-gray\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-gray\:45\:st, html.dark .sf-c-gray\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-gray\:50\:st, html.dark .sf-c-gray\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-gray\:55\:st, html.dark .sf-c-gray\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-gray\:60\:st, html.dark .sf-c-gray\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-gray\:65\:st, html.dark .sf-c-gray\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-gray\:70\:st, html.dark .sf-c-gray\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-gray\:75\:st, html.dark .sf-c-gray\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-gray\:80\:st, html.dark .sf-c-gray\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-gray\:85\:st, html.dark .sf-c-gray\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-gray\:90\:st, html.dark .sf-c-gray\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-gray\:95\:st, html.dark .sf-c-gray\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-gray\:100\:st, html.dark .sf-c-gray\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-gray, html.dark .sf-c-txt-gray { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-gray\:0, html.dark .sf-c-txt-gray\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-gray\:5, html.dark .sf-c-txt-gray\:5 { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-gray\:10, html.dark .sf-c-txt-gray\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-gray\:15, html.dark .sf-c-txt-gray\:15 { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-gray\:20, html.dark .sf-c-txt-gray\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-gray\:25, html.dark .sf-c-txt-gray\:25 { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-gray\:30, html.dark .sf-c-txt-gray\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-gray\:35, html.dark .sf-c-txt-gray\:35 { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-gray\:40, html.dark .sf-c-txt-gray\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-gray\:45, html.dark .sf-c-txt-gray\:45 { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-gray\:50, html.dark .sf-c-txt-gray\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-gray\:55, html.dark .sf-c-txt-gray\:55 { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-gray\:60, html.dark .sf-c-txt-gray\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-gray\:65, html.dark .sf-c-txt-gray\:65 { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-gray\:70, html.dark .sf-c-txt-gray\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-gray\:75, html.dark .sf-c-txt-gray\:75 { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-gray\:80, html.dark .sf-c-txt-gray\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-gray\:85, html.dark .sf-c-txt-gray\:85 { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-gray\:90, html.dark .sf-c-txt-gray\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-gray\:95, html.dark .sf-c-txt-gray\:95 { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-gray\:100, html.dark .sf-c-txt-gray\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-gray\:st, html.dark .sf-c-txt-gray\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-gray\:0\:st, html.dark .sf-c-txt-gray\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-gray\:5\:st, html.dark .sf-c-txt-gray\:5\:st { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-gray\:10\:st, html.dark .sf-c-txt-gray\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-gray\:15\:st, html.dark .sf-c-txt-gray\:15\:st { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-gray\:20\:st, html.dark .sf-c-txt-gray\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-gray\:25\:st, html.dark .sf-c-txt-gray\:25\:st { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-gray\:30\:st, html.dark .sf-c-txt-gray\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-gray\:35\:st, html.dark .sf-c-txt-gray\:35\:st { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-gray\:40\:st, html.dark .sf-c-txt-gray\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-gray\:45\:st, html.dark .sf-c-txt-gray\:45\:st { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-gray\:50\:st, html.dark .sf-c-txt-gray\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-gray\:55\:st, html.dark .sf-c-txt-gray\:55\:st { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-gray\:60\:st, html.dark .sf-c-txt-gray\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-gray\:65\:st, html.dark .sf-c-txt-gray\:65\:st { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-gray\:70\:st, html.dark .sf-c-txt-gray\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-gray\:75\:st, html.dark .sf-c-txt-gray\:75\:st { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-gray\:80\:st, html.dark .sf-c-txt-gray\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-gray\:85\:st, html.dark .sf-c-txt-gray\:85\:st { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-gray\:90\:st, html.dark .sf-c-txt-gray\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-gray\:95\:st, html.dark .sf-c-txt-gray\:95\:st { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-gray\:100\:st, html.dark .sf-c-txt-gray\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-gray, html.auto .sf-c-gray { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-gray\:0, html.auto .sf-c-gray\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-gray\:5, html.auto .sf-c-gray\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-gray\:10, html.auto .sf-c-gray\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-gray\:15, html.auto .sf-c-gray\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-gray\:20, html.auto .sf-c-gray\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-gray\:25, html.auto .sf-c-gray\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-gray\:30, html.auto .sf-c-gray\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-gray\:35, html.auto .sf-c-gray\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-gray\:40, html.auto .sf-c-gray\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-gray\:45, html.auto .sf-c-gray\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-gray\:50, html.auto .sf-c-gray\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-gray\:55, html.auto .sf-c-gray\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-gray\:60, html.auto .sf-c-gray\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-gray\:65, html.auto .sf-c-gray\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-gray\:70, html.auto .sf-c-gray\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-gray\:75, html.auto .sf-c-gray\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-gray\:80, html.auto .sf-c-gray\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-gray\:85, html.auto .sf-c-gray\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-gray\:90, html.auto .sf-c-gray\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-gray\:95, html.auto .sf-c-gray\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-gray\:100, html.auto .sf-c-gray\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-gray\:st, html.auto .sf-c-gray\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-gray\:0\:st, html.auto .sf-c-gray\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-gray\:5\:st, html.auto .sf-c-gray\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-gray\:10\:st, html.auto .sf-c-gray\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-gray\:15\:st, html.auto .sf-c-gray\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-gray\:20\:st, html.auto .sf-c-gray\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-gray\:25\:st, html.auto .sf-c-gray\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-gray\:30\:st, html.auto .sf-c-gray\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-gray\:35\:st, html.auto .sf-c-gray\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-gray\:40\:st, html.auto .sf-c-gray\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-gray\:45\:st, html.auto .sf-c-gray\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-gray\:50\:st, html.auto .sf-c-gray\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-gray\:55\:st, html.auto .sf-c-gray\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-gray\:60\:st, html.auto .sf-c-gray\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-gray\:65\:st, html.auto .sf-c-gray\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-gray\:70\:st, html.auto .sf-c-gray\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-gray\:75\:st, html.auto .sf-c-gray\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-gray\:80\:st, html.auto .sf-c-gray\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-gray\:85\:st, html.auto .sf-c-gray\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-gray\:90\:st, html.auto .sf-c-gray\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-gray\:95\:st, html.auto .sf-c-gray\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-gray\:100\:st, html.auto .sf-c-gray\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-gray, html.auto .sf-c-txt-gray { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gray\:0, html.auto .sf-c-txt-gray\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-gray\:5, html.auto .sf-c-txt-gray\:5 { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-gray\:10, html.auto .sf-c-txt-gray\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-gray\:15, html.auto .sf-c-txt-gray\:15 { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-gray\:20, html.auto .sf-c-txt-gray\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-gray\:25, html.auto .sf-c-txt-gray\:25 { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-gray\:30, html.auto .sf-c-txt-gray\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-gray\:35, html.auto .sf-c-txt-gray\:35 { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-gray\:40, html.auto .sf-c-txt-gray\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-gray\:45, html.auto .sf-c-txt-gray\:45 { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-gray\:50, html.auto .sf-c-txt-gray\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gray\:55, html.auto .sf-c-txt-gray\:55 { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-gray\:60, html.auto .sf-c-txt-gray\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-gray\:65, html.auto .sf-c-txt-gray\:65 { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-gray\:70, html.auto .sf-c-txt-gray\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-gray\:75, html.auto .sf-c-txt-gray\:75 { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-gray\:80, html.auto .sf-c-txt-gray\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-gray\:85, html.auto .sf-c-txt-gray\:85 { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-gray\:90, html.auto .sf-c-txt-gray\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-gray\:95, html.auto .sf-c-txt-gray\:95 { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-gray\:100, html.auto .sf-c-txt-gray\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-gray\:st, html.auto .sf-c-txt-gray\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gray\:0\:st, html.auto .sf-c-txt-gray\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-gray\:5\:st, html.auto .sf-c-txt-gray\:5\:st { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-gray\:10\:st, html.auto .sf-c-txt-gray\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-gray\:15\:st, html.auto .sf-c-txt-gray\:15\:st { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-gray\:20\:st, html.auto .sf-c-txt-gray\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-gray\:25\:st, html.auto .sf-c-txt-gray\:25\:st { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-gray\:30\:st, html.auto .sf-c-txt-gray\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-gray\:35\:st, html.auto .sf-c-txt-gray\:35\:st { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-gray\:40\:st, html.auto .sf-c-txt-gray\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-gray\:45\:st, html.auto .sf-c-txt-gray\:45\:st { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-gray\:50\:st, html.auto .sf-c-txt-gray\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gray\:55\:st, html.auto .sf-c-txt-gray\:55\:st { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-gray\:60\:st, html.auto .sf-c-txt-gray\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-gray\:65\:st, html.auto .sf-c-txt-gray\:65\:st { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-gray\:70\:st, html.auto .sf-c-txt-gray\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-gray\:75\:st, html.auto .sf-c-txt-gray\:75\:st { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-gray\:80\:st, html.auto .sf-c-txt-gray\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-gray\:85\:st, html.auto .sf-c-txt-gray\:85\:st { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-gray\:90\:st, html.auto .sf-c-txt-gray\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-gray\:95\:st, html.auto .sf-c-txt-gray\:95\:st { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-gray\:100\:st, html.auto .sf-c-txt-gray\:100\:st { color: hsl(0, 0%, 100%) }
}