.sf-var-lightpink {
  --sf-c-lightpink: 351 100% 86%;
  --sf-c-lightpink-0: 351 100% 0%;
  --sf-c-lightpink-5: 351 100% 5%;
  --sf-c-lightpink-10: 351 100% 10%;
  --sf-c-lightpink-15: 351 100% 15%;
  --sf-c-lightpink-20: 351 100% 20%;
  --sf-c-lightpink-25: 351 100% 25%;
  --sf-c-lightpink-30: 351 100% 30%;
  --sf-c-lightpink-35: 351 100% 35%;
  --sf-c-lightpink-40: 351 100% 40%;
  --sf-c-lightpink-45: 351 100% 45%;
  --sf-c-lightpink-50: 351 100% 50%;
  --sf-c-lightpink-55: 351 100% 55%;
  --sf-c-lightpink-60: 351 100% 60%;
  --sf-c-lightpink-65: 351 100% 65%;
  --sf-c-lightpink-70: 351 100% 70%;
  --sf-c-lightpink-75: 351 100% 75%;
  --sf-c-lightpink-80: 351 100% 80%;
  --sf-c-lightpink-85: 351 100% 85%;
  --sf-c-lightpink-90: 351 100% 90%;
  --sf-c-lightpink-95: 351 100% 95%;
  --sf-c-lightpink-100: 351 100% 100%;
}

.sf-c-lightpink, .sf-c-lightpink\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 86%) }
.sf-c-lightpink\:0, .sf-c-lightpink\:0\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 0%) }
.sf-c-lightpink\:5, .sf-c-lightpink\:5\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 5%) }
.sf-c-lightpink\:10, .sf-c-lightpink\:10\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 10%) }
.sf-c-lightpink\:15, .sf-c-lightpink\:15\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 15%) }
.sf-c-lightpink\:20, .sf-c-lightpink\:20\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 20%) }
.sf-c-lightpink\:25, .sf-c-lightpink\:25\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 25%) }
.sf-c-lightpink\:30, .sf-c-lightpink\:30\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 30%) }
.sf-c-lightpink\:35, .sf-c-lightpink\:35\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 35%) }
.sf-c-lightpink\:40, .sf-c-lightpink\:40\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 40%) }
.sf-c-lightpink\:45, .sf-c-lightpink\:45\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 45%) }
.sf-c-lightpink\:50, .sf-c-lightpink\:50\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 50%) }
.sf-c-lightpink\:55, .sf-c-lightpink\:55\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 55%) }
.sf-c-lightpink\:60, .sf-c-lightpink\:60\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 60%) }
.sf-c-lightpink\:65, .sf-c-lightpink\:65\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 65%) }
.sf-c-lightpink\:70, .sf-c-lightpink\:70\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 70%) }
.sf-c-lightpink\:75, .sf-c-lightpink\:75\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 75%) }
.sf-c-lightpink\:80, .sf-c-lightpink\:80\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 80%) }
.sf-c-lightpink\:85, .sf-c-lightpink\:85\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 85%) }
.sf-c-lightpink\:90, .sf-c-lightpink\:90\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 90%) }
.sf-c-lightpink\:95, .sf-c-lightpink\:95\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 95%) }
.sf-c-lightpink\:100, .sf-c-lightpink\:100\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 100%) }

.sf-c-txt-lightpink { color: hsl(351, 100%, 10%) }
.sf-c-txt-lightpink\:st { color: hsl(351, 100%, 86%) }
.sf-c-txt-lightpink\:0, .sf-c-txt-lightpink\:0\:st { color: hsl(351, 100%, 0%) }
.sf-c-txt-lightpink\:5, .sf-c-txt-lightpink\:5\:st { color: hsl(351, 100%, 5%) }
.sf-c-txt-lightpink\:10, .sf-c-txt-lightpink\:10\:st { color: hsl(351, 100%, 10%) }
.sf-c-txt-lightpink\:15, .sf-c-txt-lightpink\:15\:st { color: hsl(351, 100%, 15%) }
.sf-c-txt-lightpink\:20, .sf-c-txt-lightpink\:20\:st { color: hsl(351, 100%, 20%) }
.sf-c-txt-lightpink\:25, .sf-c-txt-lightpink\:25\:st { color: hsl(351, 100%, 25%) }
.sf-c-txt-lightpink\:30, .sf-c-txt-lightpink\:30\:st { color: hsl(351, 100%, 30%) }
.sf-c-txt-lightpink\:35, .sf-c-txt-lightpink\:35\:st { color: hsl(351, 100%, 35%) }
.sf-c-txt-lightpink\:40, .sf-c-txt-lightpink\:40\:st { color: hsl(351, 100%, 40%) }
.sf-c-txt-lightpink\:45, .sf-c-txt-lightpink\:45\:st { color: hsl(351, 100%, 45%) }
.sf-c-txt-lightpink\:50, .sf-c-txt-lightpink\:50\:st { color: hsl(351, 100%, 50%) }
.sf-c-txt-lightpink\:55, .sf-c-txt-lightpink\:55\:st { color: hsl(351, 100%, 55%) }
.sf-c-txt-lightpink\:60, .sf-c-txt-lightpink\:60\:st { color: hsl(351, 100%, 60%) }
.sf-c-txt-lightpink\:65, .sf-c-txt-lightpink\:65\:st { color: hsl(351, 100%, 65%) }
.sf-c-txt-lightpink\:70, .sf-c-txt-lightpink\:70\:st { color: hsl(351, 100%, 70%) }
.sf-c-txt-lightpink\:75, .sf-c-txt-lightpink\:75\:st { color: hsl(351, 100%, 75%) }
.sf-c-txt-lightpink\:80, .sf-c-txt-lightpink\:80\:st { color: hsl(351, 100%, 80%) }
.sf-c-txt-lightpink\:85, .sf-c-txt-lightpink\:85\:st { color: hsl(351, 100%, 85%) }
.sf-c-txt-lightpink\:90, .sf-c-txt-lightpink\:90\:st { color: hsl(351, 100%, 90%) }
.sf-c-txt-lightpink\:95, .sf-c-txt-lightpink\:95\:st { color: hsl(351, 100%, 95%) }
.sf-c-txt-lightpink\:100, .sf-c-txt-lightpink\:100\:st { color: hsl(351, 100%, 100%) }

html[data-theme='dark'] .sf-c-lightpink, html.dark .sf-c-lightpink { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 14%) }
html[data-theme='dark'] .sf-c-lightpink\:0, html.dark .sf-c-lightpink\:0 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 100%) }
html[data-theme='dark'] .sf-c-lightpink\:5, html.dark .sf-c-lightpink\:5 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 95%) }
html[data-theme='dark'] .sf-c-lightpink\:10, html.dark .sf-c-lightpink\:10 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 90%) }
html[data-theme='dark'] .sf-c-lightpink\:15, html.dark .sf-c-lightpink\:15 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 85%) }
html[data-theme='dark'] .sf-c-lightpink\:20, html.dark .sf-c-lightpink\:20 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 80%) }
html[data-theme='dark'] .sf-c-lightpink\:25, html.dark .sf-c-lightpink\:25 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 75%) }
html[data-theme='dark'] .sf-c-lightpink\:30, html.dark .sf-c-lightpink\:30 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 70%) }
html[data-theme='dark'] .sf-c-lightpink\:35, html.dark .sf-c-lightpink\:35 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 65%) }
html[data-theme='dark'] .sf-c-lightpink\:40, html.dark .sf-c-lightpink\:40 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 60%) }
html[data-theme='dark'] .sf-c-lightpink\:45, html.dark .sf-c-lightpink\:45 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 55%) }
html[data-theme='dark'] .sf-c-lightpink\:50, html.dark .sf-c-lightpink\:50 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 50%) }
html[data-theme='dark'] .sf-c-lightpink\:55, html.dark .sf-c-lightpink\:55 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 45%) }
html[data-theme='dark'] .sf-c-lightpink\:60, html.dark .sf-c-lightpink\:60 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 40%) }
html[data-theme='dark'] .sf-c-lightpink\:65, html.dark .sf-c-lightpink\:65 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 35%) }
html[data-theme='dark'] .sf-c-lightpink\:70, html.dark .sf-c-lightpink\:70 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 30%) }
html[data-theme='dark'] .sf-c-lightpink\:75, html.dark .sf-c-lightpink\:75 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 25%) }
html[data-theme='dark'] .sf-c-lightpink\:80, html.dark .sf-c-lightpink\:80 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 20%) }
html[data-theme='dark'] .sf-c-lightpink\:85, html.dark .sf-c-lightpink\:85 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 15%) }
html[data-theme='dark'] .sf-c-lightpink\:90, html.dark .sf-c-lightpink\:90 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 10%) }
html[data-theme='dark'] .sf-c-lightpink\:95, html.dark .sf-c-lightpink\:95 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 5%) }
html[data-theme='dark'] .sf-c-lightpink\:100, html.dark .sf-c-lightpink\:100 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 0%) }

html[data-theme='dark'] .sf-c-lightpink\:st, html.dark .sf-c-lightpink\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 86%) }
html[data-theme='dark'] .sf-c-lightpink\:0\:st, html.dark .sf-c-lightpink\:0\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 0%) }
html[data-theme='dark'] .sf-c-lightpink\:5\:st, html.dark .sf-c-lightpink\:5\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 5%) }
html[data-theme='dark'] .sf-c-lightpink\:10\:st, html.dark .sf-c-lightpink\:10\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 10%) }
html[data-theme='dark'] .sf-c-lightpink\:15\:st, html.dark .sf-c-lightpink\:15\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 15%) }
html[data-theme='dark'] .sf-c-lightpink\:20\:st, html.dark .sf-c-lightpink\:20\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 20%) }
html[data-theme='dark'] .sf-c-lightpink\:25\:st, html.dark .sf-c-lightpink\:25\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 25%) }
html[data-theme='dark'] .sf-c-lightpink\:30\:st, html.dark .sf-c-lightpink\:30\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 30%) }
html[data-theme='dark'] .sf-c-lightpink\:35\:st, html.dark .sf-c-lightpink\:35\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 35%) }
html[data-theme='dark'] .sf-c-lightpink\:40\:st, html.dark .sf-c-lightpink\:40\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 40%) }
html[data-theme='dark'] .sf-c-lightpink\:45\:st, html.dark .sf-c-lightpink\:45\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 45%) }
html[data-theme='dark'] .sf-c-lightpink\:50\:st, html.dark .sf-c-lightpink\:50\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 50%) }
html[data-theme='dark'] .sf-c-lightpink\:55\:st, html.dark .sf-c-lightpink\:55\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 55%) }
html[data-theme='dark'] .sf-c-lightpink\:60\:st, html.dark .sf-c-lightpink\:60\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 60%) }
html[data-theme='dark'] .sf-c-lightpink\:65\:st, html.dark .sf-c-lightpink\:65\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 65%) }
html[data-theme='dark'] .sf-c-lightpink\:70\:st, html.dark .sf-c-lightpink\:70\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 70%) }
html[data-theme='dark'] .sf-c-lightpink\:75\:st, html.dark .sf-c-lightpink\:75\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 75%) }
html[data-theme='dark'] .sf-c-lightpink\:80\:st, html.dark .sf-c-lightpink\:80\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 80%) }
html[data-theme='dark'] .sf-c-lightpink\:85\:st, html.dark .sf-c-lightpink\:85\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 85%) }
html[data-theme='dark'] .sf-c-lightpink\:90\:st, html.dark .sf-c-lightpink\:90\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 90%) }
html[data-theme='dark'] .sf-c-lightpink\:95\:st, html.dark .sf-c-lightpink\:95\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 95%) }
html[data-theme='dark'] .sf-c-lightpink\:100\:st, html.dark .sf-c-lightpink\:100\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-lightpink, html.dark .sf-c-txt-lightpink { color: hsl(351, 100%, 86%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:0, html.dark .sf-c-txt-lightpink\:0 { color: hsl(351, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:5, html.dark .sf-c-txt-lightpink\:5 { color: hsl(351, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:10, html.dark .sf-c-txt-lightpink\:10 { color: hsl(351, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:15, html.dark .sf-c-txt-lightpink\:15 { color: hsl(351, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:20, html.dark .sf-c-txt-lightpink\:20 { color: hsl(351, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:25, html.dark .sf-c-txt-lightpink\:25 { color: hsl(351, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:30, html.dark .sf-c-txt-lightpink\:30 { color: hsl(351, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:35, html.dark .sf-c-txt-lightpink\:35 { color: hsl(351, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:40, html.dark .sf-c-txt-lightpink\:40 { color: hsl(351, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:45, html.dark .sf-c-txt-lightpink\:45 { color: hsl(351, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:50, html.dark .sf-c-txt-lightpink\:50 { color: hsl(351, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:55, html.dark .sf-c-txt-lightpink\:55 { color: hsl(351, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:60, html.dark .sf-c-txt-lightpink\:60 { color: hsl(351, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:65, html.dark .sf-c-txt-lightpink\:65 { color: hsl(351, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:70, html.dark .sf-c-txt-lightpink\:70 { color: hsl(351, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:75, html.dark .sf-c-txt-lightpink\:75 { color: hsl(351, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:80, html.dark .sf-c-txt-lightpink\:80 { color: hsl(351, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:85, html.dark .sf-c-txt-lightpink\:85 { color: hsl(351, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:90, html.dark .sf-c-txt-lightpink\:90 { color: hsl(351, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:95, html.dark .sf-c-txt-lightpink\:95 { color: hsl(351, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:100, html.dark .sf-c-txt-lightpink\:100 { color: hsl(351, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-lightpink\:st, html.dark .sf-c-txt-lightpink\:st { color: hsl(351, 100%, 86%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:0\:st, html.dark .sf-c-txt-lightpink\:0\:st { color: hsl(351, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:5\:st, html.dark .sf-c-txt-lightpink\:5\:st { color: hsl(351, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:10\:st, html.dark .sf-c-txt-lightpink\:10\:st { color: hsl(351, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:15\:st, html.dark .sf-c-txt-lightpink\:15\:st { color: hsl(351, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:20\:st, html.dark .sf-c-txt-lightpink\:20\:st { color: hsl(351, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:25\:st, html.dark .sf-c-txt-lightpink\:25\:st { color: hsl(351, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:30\:st, html.dark .sf-c-txt-lightpink\:30\:st { color: hsl(351, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:35\:st, html.dark .sf-c-txt-lightpink\:35\:st { color: hsl(351, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:40\:st, html.dark .sf-c-txt-lightpink\:40\:st { color: hsl(351, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:45\:st, html.dark .sf-c-txt-lightpink\:45\:st { color: hsl(351, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:50\:st, html.dark .sf-c-txt-lightpink\:50\:st { color: hsl(351, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:55\:st, html.dark .sf-c-txt-lightpink\:55\:st { color: hsl(351, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:60\:st, html.dark .sf-c-txt-lightpink\:60\:st { color: hsl(351, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:65\:st, html.dark .sf-c-txt-lightpink\:65\:st { color: hsl(351, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:70\:st, html.dark .sf-c-txt-lightpink\:70\:st { color: hsl(351, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:75\:st, html.dark .sf-c-txt-lightpink\:75\:st { color: hsl(351, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:80\:st, html.dark .sf-c-txt-lightpink\:80\:st { color: hsl(351, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:85\:st, html.dark .sf-c-txt-lightpink\:85\:st { color: hsl(351, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:90\:st, html.dark .sf-c-txt-lightpink\:90\:st { color: hsl(351, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:95\:st, html.dark .sf-c-txt-lightpink\:95\:st { color: hsl(351, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-lightpink\:100\:st, html.dark .sf-c-txt-lightpink\:100\:st { color: hsl(351, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lightpink, html.auto .sf-c-lightpink { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 14%) }
  html[data-theme='auto'] .sf-c-lightpink\:0, html.auto .sf-c-lightpink\:0 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 100%) }
  html[data-theme='auto'] .sf-c-lightpink\:5, html.auto .sf-c-lightpink\:5 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 95%) }
  html[data-theme='auto'] .sf-c-lightpink\:10, html.auto .sf-c-lightpink\:10 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lightpink\:15, html.auto .sf-c-lightpink\:15 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 85%) }
  html[data-theme='auto'] .sf-c-lightpink\:20, html.auto .sf-c-lightpink\:20 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lightpink\:25, html.auto .sf-c-lightpink\:25 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 75%) }
  html[data-theme='auto'] .sf-c-lightpink\:30, html.auto .sf-c-lightpink\:30 { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lightpink\:35, html.auto .sf-c-lightpink\:35 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 65%) }
  html[data-theme='auto'] .sf-c-lightpink\:40, html.auto .sf-c-lightpink\:40 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lightpink\:45, html.auto .sf-c-lightpink\:45 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 55%) }
  html[data-theme='auto'] .sf-c-lightpink\:50, html.auto .sf-c-lightpink\:50 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lightpink\:55, html.auto .sf-c-lightpink\:55 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 45%) }
  html[data-theme='auto'] .sf-c-lightpink\:60, html.auto .sf-c-lightpink\:60 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lightpink\:65, html.auto .sf-c-lightpink\:65 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 35%) }
  html[data-theme='auto'] .sf-c-lightpink\:70, html.auto .sf-c-lightpink\:70 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lightpink\:75, html.auto .sf-c-lightpink\:75 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 25%) }
  html[data-theme='auto'] .sf-c-lightpink\:80, html.auto .sf-c-lightpink\:80 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lightpink\:85, html.auto .sf-c-lightpink\:85 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 15%) }
  html[data-theme='auto'] .sf-c-lightpink\:90, html.auto .sf-c-lightpink\:90 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lightpink\:95, html.auto .sf-c-lightpink\:95 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 5%) }
  html[data-theme='auto'] .sf-c-lightpink\:100, html.auto .sf-c-lightpink\:100 { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 0%) }

  html[data-theme='auto'] .sf-c-lightpink\:st, html.auto .sf-c-lightpink\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 86%) }
  html[data-theme='auto'] .sf-c-lightpink\:0\:st, html.auto .sf-c-lightpink\:0\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 0%) }
  html[data-theme='auto'] .sf-c-lightpink\:5\:st, html.auto .sf-c-lightpink\:5\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 5%) }
  html[data-theme='auto'] .sf-c-lightpink\:10\:st, html.auto .sf-c-lightpink\:10\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lightpink\:15\:st, html.auto .sf-c-lightpink\:15\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 15%) }
  html[data-theme='auto'] .sf-c-lightpink\:20\:st, html.auto .sf-c-lightpink\:20\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lightpink\:25\:st, html.auto .sf-c-lightpink\:25\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 25%) }
  html[data-theme='auto'] .sf-c-lightpink\:30\:st, html.auto .sf-c-lightpink\:30\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lightpink\:35\:st, html.auto .sf-c-lightpink\:35\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 35%) }
  html[data-theme='auto'] .sf-c-lightpink\:40\:st, html.auto .sf-c-lightpink\:40\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lightpink\:45\:st, html.auto .sf-c-lightpink\:45\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 45%) }
  html[data-theme='auto'] .sf-c-lightpink\:50\:st, html.auto .sf-c-lightpink\:50\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lightpink\:55\:st, html.auto .sf-c-lightpink\:55\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 55%) }
  html[data-theme='auto'] .sf-c-lightpink\:60\:st, html.auto .sf-c-lightpink\:60\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lightpink\:65\:st, html.auto .sf-c-lightpink\:65\:st { color: hsl(351, 100%, 95%); background: hsl(351, 100%, 65%) }
  html[data-theme='auto'] .sf-c-lightpink\:70\:st, html.auto .sf-c-lightpink\:70\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lightpink\:75\:st, html.auto .sf-c-lightpink\:75\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 75%) }
  html[data-theme='auto'] .sf-c-lightpink\:80\:st, html.auto .sf-c-lightpink\:80\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lightpink\:85\:st, html.auto .sf-c-lightpink\:85\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 85%) }
  html[data-theme='auto'] .sf-c-lightpink\:90\:st, html.auto .sf-c-lightpink\:90\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lightpink\:95\:st, html.auto .sf-c-lightpink\:95\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 95%) }
  html[data-theme='auto'] .sf-c-lightpink\:100\:st, html.auto .sf-c-lightpink\:100\:st { color: hsl(351, 100%, 5%); background: hsl(351, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-lightpink, html.auto .sf-c-txt-lightpink { color: hsl(351, 100%, 86%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:0, html.auto .sf-c-txt-lightpink\:0 { color: hsl(351, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:5, html.auto .sf-c-txt-lightpink\:5 { color: hsl(351, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:10, html.auto .sf-c-txt-lightpink\:10 { color: hsl(351, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:15, html.auto .sf-c-txt-lightpink\:15 { color: hsl(351, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:20, html.auto .sf-c-txt-lightpink\:20 { color: hsl(351, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:25, html.auto .sf-c-txt-lightpink\:25 { color: hsl(351, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:30, html.auto .sf-c-txt-lightpink\:30 { color: hsl(351, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:35, html.auto .sf-c-txt-lightpink\:35 { color: hsl(351, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:40, html.auto .sf-c-txt-lightpink\:40 { color: hsl(351, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:45, html.auto .sf-c-txt-lightpink\:45 { color: hsl(351, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:50, html.auto .sf-c-txt-lightpink\:50 { color: hsl(351, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:55, html.auto .sf-c-txt-lightpink\:55 { color: hsl(351, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:60, html.auto .sf-c-txt-lightpink\:60 { color: hsl(351, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:65, html.auto .sf-c-txt-lightpink\:65 { color: hsl(351, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:70, html.auto .sf-c-txt-lightpink\:70 { color: hsl(351, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:75, html.auto .sf-c-txt-lightpink\:75 { color: hsl(351, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:80, html.auto .sf-c-txt-lightpink\:80 { color: hsl(351, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:85, html.auto .sf-c-txt-lightpink\:85 { color: hsl(351, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:90, html.auto .sf-c-txt-lightpink\:90 { color: hsl(351, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:95, html.auto .sf-c-txt-lightpink\:95 { color: hsl(351, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:100, html.auto .sf-c-txt-lightpink\:100 { color: hsl(351, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-lightpink\:st, html.auto .sf-c-txt-lightpink\:st { color: hsl(351, 100%, 86%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:0\:st, html.auto .sf-c-txt-lightpink\:0\:st { color: hsl(351, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:5\:st, html.auto .sf-c-txt-lightpink\:5\:st { color: hsl(351, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:10\:st, html.auto .sf-c-txt-lightpink\:10\:st { color: hsl(351, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:15\:st, html.auto .sf-c-txt-lightpink\:15\:st { color: hsl(351, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:20\:st, html.auto .sf-c-txt-lightpink\:20\:st { color: hsl(351, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:25\:st, html.auto .sf-c-txt-lightpink\:25\:st { color: hsl(351, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:30\:st, html.auto .sf-c-txt-lightpink\:30\:st { color: hsl(351, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:35\:st, html.auto .sf-c-txt-lightpink\:35\:st { color: hsl(351, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:40\:st, html.auto .sf-c-txt-lightpink\:40\:st { color: hsl(351, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:45\:st, html.auto .sf-c-txt-lightpink\:45\:st { color: hsl(351, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:50\:st, html.auto .sf-c-txt-lightpink\:50\:st { color: hsl(351, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:55\:st, html.auto .sf-c-txt-lightpink\:55\:st { color: hsl(351, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:60\:st, html.auto .sf-c-txt-lightpink\:60\:st { color: hsl(351, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:65\:st, html.auto .sf-c-txt-lightpink\:65\:st { color: hsl(351, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:70\:st, html.auto .sf-c-txt-lightpink\:70\:st { color: hsl(351, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:75\:st, html.auto .sf-c-txt-lightpink\:75\:st { color: hsl(351, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:80\:st, html.auto .sf-c-txt-lightpink\:80\:st { color: hsl(351, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:85\:st, html.auto .sf-c-txt-lightpink\:85\:st { color: hsl(351, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:90\:st, html.auto .sf-c-txt-lightpink\:90\:st { color: hsl(351, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:95\:st, html.auto .sf-c-txt-lightpink\:95\:st { color: hsl(351, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-lightpink\:100\:st, html.auto .sf-c-txt-lightpink\:100\:st { color: hsl(351, 100%, 100%) }
}