.sf-var-lightyellow {
  --sf-c-lightyellow: 60 100% 94%;
  --sf-c-lightyellow-0: 60 100% 0%;
  --sf-c-lightyellow-5: 60 100% 5%;
  --sf-c-lightyellow-10: 60 100% 10%;
  --sf-c-lightyellow-15: 60 100% 15%;
  --sf-c-lightyellow-20: 60 100% 20%;
  --sf-c-lightyellow-25: 60 100% 25%;
  --sf-c-lightyellow-30: 60 100% 30%;
  --sf-c-lightyellow-35: 60 100% 35%;
  --sf-c-lightyellow-40: 60 100% 40%;
  --sf-c-lightyellow-45: 60 100% 45%;
  --sf-c-lightyellow-50: 60 100% 50%;
  --sf-c-lightyellow-55: 60 100% 55%;
  --sf-c-lightyellow-60: 60 100% 60%;
  --sf-c-lightyellow-65: 60 100% 65%;
  --sf-c-lightyellow-70: 60 100% 70%;
  --sf-c-lightyellow-75: 60 100% 75%;
  --sf-c-lightyellow-80: 60 100% 80%;
  --sf-c-lightyellow-85: 60 100% 85%;
  --sf-c-lightyellow-90: 60 100% 90%;
  --sf-c-lightyellow-95: 60 100% 95%;
  --sf-c-lightyellow-100: 60 100% 100%;
}

.sf-c-lightyellow, .sf-c-lightyellow\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 94%) }
.sf-c-lightyellow\:0, .sf-c-lightyellow\:0\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 0%) }
.sf-c-lightyellow\:5, .sf-c-lightyellow\:5\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 5%) }
.sf-c-lightyellow\:10, .sf-c-lightyellow\:10\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 10%) }
.sf-c-lightyellow\:15, .sf-c-lightyellow\:15\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 15%) }
.sf-c-lightyellow\:20, .sf-c-lightyellow\:20\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 20%) }
.sf-c-lightyellow\:25, .sf-c-lightyellow\:25\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 25%) }
.sf-c-lightyellow\:30, .sf-c-lightyellow\:30\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 30%) }
.sf-c-lightyellow\:35, .sf-c-lightyellow\:35\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 35%) }
.sf-c-lightyellow\:40, .sf-c-lightyellow\:40\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 40%) }
.sf-c-lightyellow\:45, .sf-c-lightyellow\:45\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 45%) }
.sf-c-lightyellow\:50, .sf-c-lightyellow\:50\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 50%) }
.sf-c-lightyellow\:55, .sf-c-lightyellow\:55\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 55%) }
.sf-c-lightyellow\:60, .sf-c-lightyellow\:60\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 60%) }
.sf-c-lightyellow\:65, .sf-c-lightyellow\:65\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 65%) }
.sf-c-lightyellow\:70, .sf-c-lightyellow\:70\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 70%) }
.sf-c-lightyellow\:75, .sf-c-lightyellow\:75\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 75%) }
.sf-c-lightyellow\:80, .sf-c-lightyellow\:80\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 80%) }
.sf-c-lightyellow\:85, .sf-c-lightyellow\:85\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 85%) }
.sf-c-lightyellow\:90, .sf-c-lightyellow\:90\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 90%) }
.sf-c-lightyellow\:95, .sf-c-lightyellow\:95\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 95%) }
.sf-c-lightyellow\:100, .sf-c-lightyellow\:100\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 100%) }

.sf-c-txt-lightyellow { color: hsl(60, 100%, 10%) }
.sf-c-txt-lightyellow\:st { color: hsl(60, 100%, 94%) }
.sf-c-txt-lightyellow\:0, .sf-c-txt-lightyellow\:0\:st { color: hsl(60, 100%, 0%) }
.sf-c-txt-lightyellow\:5, .sf-c-txt-lightyellow\:5\:st { color: hsl(60, 100%, 5%) }
.sf-c-txt-lightyellow\:10, .sf-c-txt-lightyellow\:10\:st { color: hsl(60, 100%, 10%) }
.sf-c-txt-lightyellow\:15, .sf-c-txt-lightyellow\:15\:st { color: hsl(60, 100%, 15%) }
.sf-c-txt-lightyellow\:20, .sf-c-txt-lightyellow\:20\:st { color: hsl(60, 100%, 20%) }
.sf-c-txt-lightyellow\:25, .sf-c-txt-lightyellow\:25\:st { color: hsl(60, 100%, 25%) }
.sf-c-txt-lightyellow\:30, .sf-c-txt-lightyellow\:30\:st { color: hsl(60, 100%, 30%) }
.sf-c-txt-lightyellow\:35, .sf-c-txt-lightyellow\:35\:st { color: hsl(60, 100%, 35%) }
.sf-c-txt-lightyellow\:40, .sf-c-txt-lightyellow\:40\:st { color: hsl(60, 100%, 40%) }
.sf-c-txt-lightyellow\:45, .sf-c-txt-lightyellow\:45\:st { color: hsl(60, 100%, 45%) }
.sf-c-txt-lightyellow\:50, .sf-c-txt-lightyellow\:50\:st { color: hsl(60, 100%, 50%) }
.sf-c-txt-lightyellow\:55, .sf-c-txt-lightyellow\:55\:st { color: hsl(60, 100%, 55%) }
.sf-c-txt-lightyellow\:60, .sf-c-txt-lightyellow\:60\:st { color: hsl(60, 100%, 60%) }
.sf-c-txt-lightyellow\:65, .sf-c-txt-lightyellow\:65\:st { color: hsl(60, 100%, 65%) }
.sf-c-txt-lightyellow\:70, .sf-c-txt-lightyellow\:70\:st { color: hsl(60, 100%, 70%) }
.sf-c-txt-lightyellow\:75, .sf-c-txt-lightyellow\:75\:st { color: hsl(60, 100%, 75%) }
.sf-c-txt-lightyellow\:80, .sf-c-txt-lightyellow\:80\:st { color: hsl(60, 100%, 80%) }
.sf-c-txt-lightyellow\:85, .sf-c-txt-lightyellow\:85\:st { color: hsl(60, 100%, 85%) }
.sf-c-txt-lightyellow\:90, .sf-c-txt-lightyellow\:90\:st { color: hsl(60, 100%, 90%) }
.sf-c-txt-lightyellow\:95, .sf-c-txt-lightyellow\:95\:st { color: hsl(60, 100%, 95%) }
.sf-c-txt-lightyellow\:100, .sf-c-txt-lightyellow\:100\:st { color: hsl(60, 100%, 100%) }

html[data-theme='dark'] .sf-c-lightyellow, html.dark .sf-c-lightyellow { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 6%) }
html[data-theme='dark'] .sf-c-lightyellow\:0, html.dark .sf-c-lightyellow\:0 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 100%) }
html[data-theme='dark'] .sf-c-lightyellow\:5, html.dark .sf-c-lightyellow\:5 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 95%) }
html[data-theme='dark'] .sf-c-lightyellow\:10, html.dark .sf-c-lightyellow\:10 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-lightyellow\:15, html.dark .sf-c-lightyellow\:15 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 85%) }
html[data-theme='dark'] .sf-c-lightyellow\:20, html.dark .sf-c-lightyellow\:20 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-lightyellow\:25, html.dark .sf-c-lightyellow\:25 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 75%) }
html[data-theme='dark'] .sf-c-lightyellow\:30, html.dark .sf-c-lightyellow\:30 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-lightyellow\:35, html.dark .sf-c-lightyellow\:35 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 65%) }
html[data-theme='dark'] .sf-c-lightyellow\:40, html.dark .sf-c-lightyellow\:40 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-lightyellow\:45, html.dark .sf-c-lightyellow\:45 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 55%) }
html[data-theme='dark'] .sf-c-lightyellow\:50, html.dark .sf-c-lightyellow\:50 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-lightyellow\:55, html.dark .sf-c-lightyellow\:55 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 45%) }
html[data-theme='dark'] .sf-c-lightyellow\:60, html.dark .sf-c-lightyellow\:60 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-lightyellow\:65, html.dark .sf-c-lightyellow\:65 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 35%) }
html[data-theme='dark'] .sf-c-lightyellow\:70, html.dark .sf-c-lightyellow\:70 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-lightyellow\:75, html.dark .sf-c-lightyellow\:75 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 25%) }
html[data-theme='dark'] .sf-c-lightyellow\:80, html.dark .sf-c-lightyellow\:80 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-lightyellow\:85, html.dark .sf-c-lightyellow\:85 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 15%) }
html[data-theme='dark'] .sf-c-lightyellow\:90, html.dark .sf-c-lightyellow\:90 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-lightyellow\:95, html.dark .sf-c-lightyellow\:95 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 5%) }
html[data-theme='dark'] .sf-c-lightyellow\:100, html.dark .sf-c-lightyellow\:100 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 0%) }

html[data-theme='dark'] .sf-c-lightyellow\:st, html.dark .sf-c-lightyellow\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 94%) }
html[data-theme='dark'] .sf-c-lightyellow\:0\:st, html.dark .sf-c-lightyellow\:0\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 0%) }
html[data-theme='dark'] .sf-c-lightyellow\:5\:st, html.dark .sf-c-lightyellow\:5\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 5%) }
html[data-theme='dark'] .sf-c-lightyellow\:10\:st, html.dark .sf-c-lightyellow\:10\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-lightyellow\:15\:st, html.dark .sf-c-lightyellow\:15\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 15%) }
html[data-theme='dark'] .sf-c-lightyellow\:20\:st, html.dark .sf-c-lightyellow\:20\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-lightyellow\:25\:st, html.dark .sf-c-lightyellow\:25\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 25%) }
html[data-theme='dark'] .sf-c-lightyellow\:30\:st, html.dark .sf-c-lightyellow\:30\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-lightyellow\:35\:st, html.dark .sf-c-lightyellow\:35\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 35%) }
html[data-theme='dark'] .sf-c-lightyellow\:40\:st, html.dark .sf-c-lightyellow\:40\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-lightyellow\:45\:st, html.dark .sf-c-lightyellow\:45\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 45%) }
html[data-theme='dark'] .sf-c-lightyellow\:50\:st, html.dark .sf-c-lightyellow\:50\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-lightyellow\:55\:st, html.dark .sf-c-lightyellow\:55\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 55%) }
html[data-theme='dark'] .sf-c-lightyellow\:60\:st, html.dark .sf-c-lightyellow\:60\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-lightyellow\:65\:st, html.dark .sf-c-lightyellow\:65\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 65%) }
html[data-theme='dark'] .sf-c-lightyellow\:70\:st, html.dark .sf-c-lightyellow\:70\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-lightyellow\:75\:st, html.dark .sf-c-lightyellow\:75\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 75%) }
html[data-theme='dark'] .sf-c-lightyellow\:80\:st, html.dark .sf-c-lightyellow\:80\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-lightyellow\:85\:st, html.dark .sf-c-lightyellow\:85\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 85%) }
html[data-theme='dark'] .sf-c-lightyellow\:90\:st, html.dark .sf-c-lightyellow\:90\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-lightyellow\:95\:st, html.dark .sf-c-lightyellow\:95\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 95%) }
html[data-theme='dark'] .sf-c-lightyellow\:100\:st, html.dark .sf-c-lightyellow\:100\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-lightyellow, html.dark .sf-c-txt-lightyellow { color: hsl(60, 100%, 94%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:0, html.dark .sf-c-txt-lightyellow\:0 { color: hsl(60, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:5, html.dark .sf-c-txt-lightyellow\:5 { color: hsl(60, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:10, html.dark .sf-c-txt-lightyellow\:10 { color: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:15, html.dark .sf-c-txt-lightyellow\:15 { color: hsl(60, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:20, html.dark .sf-c-txt-lightyellow\:20 { color: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:25, html.dark .sf-c-txt-lightyellow\:25 { color: hsl(60, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:30, html.dark .sf-c-txt-lightyellow\:30 { color: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:35, html.dark .sf-c-txt-lightyellow\:35 { color: hsl(60, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:40, html.dark .sf-c-txt-lightyellow\:40 { color: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:45, html.dark .sf-c-txt-lightyellow\:45 { color: hsl(60, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:50, html.dark .sf-c-txt-lightyellow\:50 { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:55, html.dark .sf-c-txt-lightyellow\:55 { color: hsl(60, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:60, html.dark .sf-c-txt-lightyellow\:60 { color: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:65, html.dark .sf-c-txt-lightyellow\:65 { color: hsl(60, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:70, html.dark .sf-c-txt-lightyellow\:70 { color: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:75, html.dark .sf-c-txt-lightyellow\:75 { color: hsl(60, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:80, html.dark .sf-c-txt-lightyellow\:80 { color: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:85, html.dark .sf-c-txt-lightyellow\:85 { color: hsl(60, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:90, html.dark .sf-c-txt-lightyellow\:90 { color: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:95, html.dark .sf-c-txt-lightyellow\:95 { color: hsl(60, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:100, html.dark .sf-c-txt-lightyellow\:100 { color: hsl(60, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-lightyellow\:st, html.dark .sf-c-txt-lightyellow\:st { color: hsl(60, 100%, 94%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:0\:st, html.dark .sf-c-txt-lightyellow\:0\:st { color: hsl(60, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:5\:st, html.dark .sf-c-txt-lightyellow\:5\:st { color: hsl(60, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:10\:st, html.dark .sf-c-txt-lightyellow\:10\:st { color: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:15\:st, html.dark .sf-c-txt-lightyellow\:15\:st { color: hsl(60, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:20\:st, html.dark .sf-c-txt-lightyellow\:20\:st { color: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:25\:st, html.dark .sf-c-txt-lightyellow\:25\:st { color: hsl(60, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:30\:st, html.dark .sf-c-txt-lightyellow\:30\:st { color: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:35\:st, html.dark .sf-c-txt-lightyellow\:35\:st { color: hsl(60, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:40\:st, html.dark .sf-c-txt-lightyellow\:40\:st { color: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:45\:st, html.dark .sf-c-txt-lightyellow\:45\:st { color: hsl(60, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:50\:st, html.dark .sf-c-txt-lightyellow\:50\:st { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:55\:st, html.dark .sf-c-txt-lightyellow\:55\:st { color: hsl(60, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:60\:st, html.dark .sf-c-txt-lightyellow\:60\:st { color: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:65\:st, html.dark .sf-c-txt-lightyellow\:65\:st { color: hsl(60, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:70\:st, html.dark .sf-c-txt-lightyellow\:70\:st { color: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:75\:st, html.dark .sf-c-txt-lightyellow\:75\:st { color: hsl(60, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:80\:st, html.dark .sf-c-txt-lightyellow\:80\:st { color: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:85\:st, html.dark .sf-c-txt-lightyellow\:85\:st { color: hsl(60, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:90\:st, html.dark .sf-c-txt-lightyellow\:90\:st { color: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:95\:st, html.dark .sf-c-txt-lightyellow\:95\:st { color: hsl(60, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-lightyellow\:100\:st, html.dark .sf-c-txt-lightyellow\:100\:st { color: hsl(60, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lightyellow, html.auto .sf-c-lightyellow { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 6%) }
  html[data-theme='auto'] .sf-c-lightyellow\:0, html.auto .sf-c-lightyellow\:0 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 100%) }
  html[data-theme='auto'] .sf-c-lightyellow\:5, html.auto .sf-c-lightyellow\:5 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 95%) }
  html[data-theme='auto'] .sf-c-lightyellow\:10, html.auto .sf-c-lightyellow\:10 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lightyellow\:15, html.auto .sf-c-lightyellow\:15 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 85%) }
  html[data-theme='auto'] .sf-c-lightyellow\:20, html.auto .sf-c-lightyellow\:20 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lightyellow\:25, html.auto .sf-c-lightyellow\:25 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 75%) }
  html[data-theme='auto'] .sf-c-lightyellow\:30, html.auto .sf-c-lightyellow\:30 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lightyellow\:35, html.auto .sf-c-lightyellow\:35 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 65%) }
  html[data-theme='auto'] .sf-c-lightyellow\:40, html.auto .sf-c-lightyellow\:40 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lightyellow\:45, html.auto .sf-c-lightyellow\:45 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 55%) }
  html[data-theme='auto'] .sf-c-lightyellow\:50, html.auto .sf-c-lightyellow\:50 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lightyellow\:55, html.auto .sf-c-lightyellow\:55 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 45%) }
  html[data-theme='auto'] .sf-c-lightyellow\:60, html.auto .sf-c-lightyellow\:60 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lightyellow\:65, html.auto .sf-c-lightyellow\:65 { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 35%) }
  html[data-theme='auto'] .sf-c-lightyellow\:70, html.auto .sf-c-lightyellow\:70 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lightyellow\:75, html.auto .sf-c-lightyellow\:75 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 25%) }
  html[data-theme='auto'] .sf-c-lightyellow\:80, html.auto .sf-c-lightyellow\:80 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lightyellow\:85, html.auto .sf-c-lightyellow\:85 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 15%) }
  html[data-theme='auto'] .sf-c-lightyellow\:90, html.auto .sf-c-lightyellow\:90 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lightyellow\:95, html.auto .sf-c-lightyellow\:95 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 5%) }
  html[data-theme='auto'] .sf-c-lightyellow\:100, html.auto .sf-c-lightyellow\:100 { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 0%) }

  html[data-theme='auto'] .sf-c-lightyellow\:st, html.auto .sf-c-lightyellow\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 94%) }
  html[data-theme='auto'] .sf-c-lightyellow\:0\:st, html.auto .sf-c-lightyellow\:0\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 0%) }
  html[data-theme='auto'] .sf-c-lightyellow\:5\:st, html.auto .sf-c-lightyellow\:5\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 5%) }
  html[data-theme='auto'] .sf-c-lightyellow\:10\:st, html.auto .sf-c-lightyellow\:10\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lightyellow\:15\:st, html.auto .sf-c-lightyellow\:15\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 15%) }
  html[data-theme='auto'] .sf-c-lightyellow\:20\:st, html.auto .sf-c-lightyellow\:20\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lightyellow\:25\:st, html.auto .sf-c-lightyellow\:25\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 25%) }
  html[data-theme='auto'] .sf-c-lightyellow\:30\:st, html.auto .sf-c-lightyellow\:30\:st { color: hsl(60, 100%, 95%); background: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lightyellow\:35\:st, html.auto .sf-c-lightyellow\:35\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 35%) }
  html[data-theme='auto'] .sf-c-lightyellow\:40\:st, html.auto .sf-c-lightyellow\:40\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lightyellow\:45\:st, html.auto .sf-c-lightyellow\:45\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 45%) }
  html[data-theme='auto'] .sf-c-lightyellow\:50\:st, html.auto .sf-c-lightyellow\:50\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lightyellow\:55\:st, html.auto .sf-c-lightyellow\:55\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 55%) }
  html[data-theme='auto'] .sf-c-lightyellow\:60\:st, html.auto .sf-c-lightyellow\:60\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lightyellow\:65\:st, html.auto .sf-c-lightyellow\:65\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 65%) }
  html[data-theme='auto'] .sf-c-lightyellow\:70\:st, html.auto .sf-c-lightyellow\:70\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lightyellow\:75\:st, html.auto .sf-c-lightyellow\:75\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 75%) }
  html[data-theme='auto'] .sf-c-lightyellow\:80\:st, html.auto .sf-c-lightyellow\:80\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lightyellow\:85\:st, html.auto .sf-c-lightyellow\:85\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 85%) }
  html[data-theme='auto'] .sf-c-lightyellow\:90\:st, html.auto .sf-c-lightyellow\:90\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lightyellow\:95\:st, html.auto .sf-c-lightyellow\:95\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 95%) }
  html[data-theme='auto'] .sf-c-lightyellow\:100\:st, html.auto .sf-c-lightyellow\:100\:st { color: hsl(60, 100%, 5%); background: hsl(60, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-lightyellow, html.auto .sf-c-txt-lightyellow { color: hsl(60, 100%, 94%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:0, html.auto .sf-c-txt-lightyellow\:0 { color: hsl(60, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:5, html.auto .sf-c-txt-lightyellow\:5 { color: hsl(60, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:10, html.auto .sf-c-txt-lightyellow\:10 { color: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:15, html.auto .sf-c-txt-lightyellow\:15 { color: hsl(60, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:20, html.auto .sf-c-txt-lightyellow\:20 { color: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:25, html.auto .sf-c-txt-lightyellow\:25 { color: hsl(60, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:30, html.auto .sf-c-txt-lightyellow\:30 { color: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:35, html.auto .sf-c-txt-lightyellow\:35 { color: hsl(60, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:40, html.auto .sf-c-txt-lightyellow\:40 { color: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:45, html.auto .sf-c-txt-lightyellow\:45 { color: hsl(60, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:50, html.auto .sf-c-txt-lightyellow\:50 { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:55, html.auto .sf-c-txt-lightyellow\:55 { color: hsl(60, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:60, html.auto .sf-c-txt-lightyellow\:60 { color: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:65, html.auto .sf-c-txt-lightyellow\:65 { color: hsl(60, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:70, html.auto .sf-c-txt-lightyellow\:70 { color: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:75, html.auto .sf-c-txt-lightyellow\:75 { color: hsl(60, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:80, html.auto .sf-c-txt-lightyellow\:80 { color: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:85, html.auto .sf-c-txt-lightyellow\:85 { color: hsl(60, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:90, html.auto .sf-c-txt-lightyellow\:90 { color: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:95, html.auto .sf-c-txt-lightyellow\:95 { color: hsl(60, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:100, html.auto .sf-c-txt-lightyellow\:100 { color: hsl(60, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-lightyellow\:st, html.auto .sf-c-txt-lightyellow\:st { color: hsl(60, 100%, 94%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:0\:st, html.auto .sf-c-txt-lightyellow\:0\:st { color: hsl(60, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:5\:st, html.auto .sf-c-txt-lightyellow\:5\:st { color: hsl(60, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:10\:st, html.auto .sf-c-txt-lightyellow\:10\:st { color: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:15\:st, html.auto .sf-c-txt-lightyellow\:15\:st { color: hsl(60, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:20\:st, html.auto .sf-c-txt-lightyellow\:20\:st { color: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:25\:st, html.auto .sf-c-txt-lightyellow\:25\:st { color: hsl(60, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:30\:st, html.auto .sf-c-txt-lightyellow\:30\:st { color: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:35\:st, html.auto .sf-c-txt-lightyellow\:35\:st { color: hsl(60, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:40\:st, html.auto .sf-c-txt-lightyellow\:40\:st { color: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:45\:st, html.auto .sf-c-txt-lightyellow\:45\:st { color: hsl(60, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:50\:st, html.auto .sf-c-txt-lightyellow\:50\:st { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:55\:st, html.auto .sf-c-txt-lightyellow\:55\:st { color: hsl(60, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:60\:st, html.auto .sf-c-txt-lightyellow\:60\:st { color: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:65\:st, html.auto .sf-c-txt-lightyellow\:65\:st { color: hsl(60, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:70\:st, html.auto .sf-c-txt-lightyellow\:70\:st { color: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:75\:st, html.auto .sf-c-txt-lightyellow\:75\:st { color: hsl(60, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:80\:st, html.auto .sf-c-txt-lightyellow\:80\:st { color: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:85\:st, html.auto .sf-c-txt-lightyellow\:85\:st { color: hsl(60, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:90\:st, html.auto .sf-c-txt-lightyellow\:90\:st { color: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:95\:st, html.auto .sf-c-txt-lightyellow\:95\:st { color: hsl(60, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-lightyellow\:100\:st, html.auto .sf-c-txt-lightyellow\:100\:st { color: hsl(60, 100%, 100%) }
}