.sf-var-mediumblue {
  --sf-c-mediumblue: 240 100% 40%;
  --sf-c-mediumblue-0: 240 100% 0%;
  --sf-c-mediumblue-5: 240 100% 5%;
  --sf-c-mediumblue-10: 240 100% 10%;
  --sf-c-mediumblue-15: 240 100% 15%;
  --sf-c-mediumblue-20: 240 100% 20%;
  --sf-c-mediumblue-25: 240 100% 25%;
  --sf-c-mediumblue-30: 240 100% 30%;
  --sf-c-mediumblue-35: 240 100% 35%;
  --sf-c-mediumblue-40: 240 100% 40%;
  --sf-c-mediumblue-45: 240 100% 45%;
  --sf-c-mediumblue-50: 240 100% 50%;
  --sf-c-mediumblue-55: 240 100% 55%;
  --sf-c-mediumblue-60: 240 100% 60%;
  --sf-c-mediumblue-65: 240 100% 65%;
  --sf-c-mediumblue-70: 240 100% 70%;
  --sf-c-mediumblue-75: 240 100% 75%;
  --sf-c-mediumblue-80: 240 100% 80%;
  --sf-c-mediumblue-85: 240 100% 85%;
  --sf-c-mediumblue-90: 240 100% 90%;
  --sf-c-mediumblue-95: 240 100% 95%;
  --sf-c-mediumblue-100: 240 100% 100%;
}

.sf-c-mediumblue, .sf-c-mediumblue\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
.sf-c-mediumblue\:0, .sf-c-mediumblue\:0\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }
.sf-c-mediumblue\:5, .sf-c-mediumblue\:5\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
.sf-c-mediumblue\:10, .sf-c-mediumblue\:10\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
.sf-c-mediumblue\:15, .sf-c-mediumblue\:15\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
.sf-c-mediumblue\:20, .sf-c-mediumblue\:20\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
.sf-c-mediumblue\:25, .sf-c-mediumblue\:25\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
.sf-c-mediumblue\:30, .sf-c-mediumblue\:30\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
.sf-c-mediumblue\:35, .sf-c-mediumblue\:35\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
.sf-c-mediumblue\:40, .sf-c-mediumblue\:40\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
.sf-c-mediumblue\:45, .sf-c-mediumblue\:45\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
.sf-c-mediumblue\:50, .sf-c-mediumblue\:50\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
.sf-c-mediumblue\:55, .sf-c-mediumblue\:55\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
.sf-c-mediumblue\:60, .sf-c-mediumblue\:60\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
.sf-c-mediumblue\:65, .sf-c-mediumblue\:65\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
.sf-c-mediumblue\:70, .sf-c-mediumblue\:70\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
.sf-c-mediumblue\:75, .sf-c-mediumblue\:75\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
.sf-c-mediumblue\:80, .sf-c-mediumblue\:80\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
.sf-c-mediumblue\:85, .sf-c-mediumblue\:85\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
.sf-c-mediumblue\:90, .sf-c-mediumblue\:90\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
.sf-c-mediumblue\:95, .sf-c-mediumblue\:95\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
.sf-c-mediumblue\:100, .sf-c-mediumblue\:100\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }

.sf-c-txt-mediumblue { color: hsl(240, 100%, 40%) }
.sf-c-txt-mediumblue\:st { color: hsl(240, 100%, 40%) }
.sf-c-txt-mediumblue\:0, .sf-c-txt-mediumblue\:0\:st { color: hsl(240, 100%, 0%) }
.sf-c-txt-mediumblue\:5, .sf-c-txt-mediumblue\:5\:st { color: hsl(240, 100%, 5%) }
.sf-c-txt-mediumblue\:10, .sf-c-txt-mediumblue\:10\:st { color: hsl(240, 100%, 10%) }
.sf-c-txt-mediumblue\:15, .sf-c-txt-mediumblue\:15\:st { color: hsl(240, 100%, 15%) }
.sf-c-txt-mediumblue\:20, .sf-c-txt-mediumblue\:20\:st { color: hsl(240, 100%, 20%) }
.sf-c-txt-mediumblue\:25, .sf-c-txt-mediumblue\:25\:st { color: hsl(240, 100%, 25%) }
.sf-c-txt-mediumblue\:30, .sf-c-txt-mediumblue\:30\:st { color: hsl(240, 100%, 30%) }
.sf-c-txt-mediumblue\:35, .sf-c-txt-mediumblue\:35\:st { color: hsl(240, 100%, 35%) }
.sf-c-txt-mediumblue\:40, .sf-c-txt-mediumblue\:40\:st { color: hsl(240, 100%, 40%) }
.sf-c-txt-mediumblue\:45, .sf-c-txt-mediumblue\:45\:st { color: hsl(240, 100%, 45%) }
.sf-c-txt-mediumblue\:50, .sf-c-txt-mediumblue\:50\:st { color: hsl(240, 100%, 50%) }
.sf-c-txt-mediumblue\:55, .sf-c-txt-mediumblue\:55\:st { color: hsl(240, 100%, 55%) }
.sf-c-txt-mediumblue\:60, .sf-c-txt-mediumblue\:60\:st { color: hsl(240, 100%, 60%) }
.sf-c-txt-mediumblue\:65, .sf-c-txt-mediumblue\:65\:st { color: hsl(240, 100%, 65%) }
.sf-c-txt-mediumblue\:70, .sf-c-txt-mediumblue\:70\:st { color: hsl(240, 100%, 70%) }
.sf-c-txt-mediumblue\:75, .sf-c-txt-mediumblue\:75\:st { color: hsl(240, 100%, 75%) }
.sf-c-txt-mediumblue\:80, .sf-c-txt-mediumblue\:80\:st { color: hsl(240, 100%, 80%) }
.sf-c-txt-mediumblue\:85, .sf-c-txt-mediumblue\:85\:st { color: hsl(240, 100%, 85%) }
.sf-c-txt-mediumblue\:90, .sf-c-txt-mediumblue\:90\:st { color: hsl(240, 100%, 90%) }
.sf-c-txt-mediumblue\:95, .sf-c-txt-mediumblue\:95\:st { color: hsl(240, 100%, 95%) }
.sf-c-txt-mediumblue\:100, .sf-c-txt-mediumblue\:100\:st { color: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-mediumblue, html.dark .sf-c-mediumblue { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-mediumblue\:0, html.dark .sf-c-mediumblue\:0 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }
html[data-theme='dark'] .sf-c-mediumblue\:5, html.dark .sf-c-mediumblue\:5 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
html[data-theme='dark'] .sf-c-mediumblue\:10, html.dark .sf-c-mediumblue\:10 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-mediumblue\:15, html.dark .sf-c-mediumblue\:15 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
html[data-theme='dark'] .sf-c-mediumblue\:20, html.dark .sf-c-mediumblue\:20 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-mediumblue\:25, html.dark .sf-c-mediumblue\:25 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
html[data-theme='dark'] .sf-c-mediumblue\:30, html.dark .sf-c-mediumblue\:30 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-mediumblue\:35, html.dark .sf-c-mediumblue\:35 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
html[data-theme='dark'] .sf-c-mediumblue\:40, html.dark .sf-c-mediumblue\:40 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-mediumblue\:45, html.dark .sf-c-mediumblue\:45 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
html[data-theme='dark'] .sf-c-mediumblue\:50, html.dark .sf-c-mediumblue\:50 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-mediumblue\:55, html.dark .sf-c-mediumblue\:55 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
html[data-theme='dark'] .sf-c-mediumblue\:60, html.dark .sf-c-mediumblue\:60 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-mediumblue\:65, html.dark .sf-c-mediumblue\:65 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
html[data-theme='dark'] .sf-c-mediumblue\:70, html.dark .sf-c-mediumblue\:70 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-mediumblue\:75, html.dark .sf-c-mediumblue\:75 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
html[data-theme='dark'] .sf-c-mediumblue\:80, html.dark .sf-c-mediumblue\:80 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-mediumblue\:85, html.dark .sf-c-mediumblue\:85 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
html[data-theme='dark'] .sf-c-mediumblue\:90, html.dark .sf-c-mediumblue\:90 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-mediumblue\:95, html.dark .sf-c-mediumblue\:95 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
html[data-theme='dark'] .sf-c-mediumblue\:100, html.dark .sf-c-mediumblue\:100 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }

html[data-theme='dark'] .sf-c-mediumblue\:st, html.dark .sf-c-mediumblue\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-mediumblue\:0\:st, html.dark .sf-c-mediumblue\:0\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }
html[data-theme='dark'] .sf-c-mediumblue\:5\:st, html.dark .sf-c-mediumblue\:5\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
html[data-theme='dark'] .sf-c-mediumblue\:10\:st, html.dark .sf-c-mediumblue\:10\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-mediumblue\:15\:st, html.dark .sf-c-mediumblue\:15\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
html[data-theme='dark'] .sf-c-mediumblue\:20\:st, html.dark .sf-c-mediumblue\:20\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-mediumblue\:25\:st, html.dark .sf-c-mediumblue\:25\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
html[data-theme='dark'] .sf-c-mediumblue\:30\:st, html.dark .sf-c-mediumblue\:30\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-mediumblue\:35\:st, html.dark .sf-c-mediumblue\:35\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
html[data-theme='dark'] .sf-c-mediumblue\:40\:st, html.dark .sf-c-mediumblue\:40\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-mediumblue\:45\:st, html.dark .sf-c-mediumblue\:45\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
html[data-theme='dark'] .sf-c-mediumblue\:50\:st, html.dark .sf-c-mediumblue\:50\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-mediumblue\:55\:st, html.dark .sf-c-mediumblue\:55\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
html[data-theme='dark'] .sf-c-mediumblue\:60\:st, html.dark .sf-c-mediumblue\:60\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-mediumblue\:65\:st, html.dark .sf-c-mediumblue\:65\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
html[data-theme='dark'] .sf-c-mediumblue\:70\:st, html.dark .sf-c-mediumblue\:70\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-mediumblue\:75\:st, html.dark .sf-c-mediumblue\:75\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
html[data-theme='dark'] .sf-c-mediumblue\:80\:st, html.dark .sf-c-mediumblue\:80\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-mediumblue\:85\:st, html.dark .sf-c-mediumblue\:85\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
html[data-theme='dark'] .sf-c-mediumblue\:90\:st, html.dark .sf-c-mediumblue\:90\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-mediumblue\:95\:st, html.dark .sf-c-mediumblue\:95\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
html[data-theme='dark'] .sf-c-mediumblue\:100\:st, html.dark .sf-c-mediumblue\:100\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-mediumblue, html.dark .sf-c-txt-mediumblue { color: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:0, html.dark .sf-c-txt-mediumblue\:0 { color: hsl(240, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:5, html.dark .sf-c-txt-mediumblue\:5 { color: hsl(240, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:10, html.dark .sf-c-txt-mediumblue\:10 { color: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:15, html.dark .sf-c-txt-mediumblue\:15 { color: hsl(240, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:20, html.dark .sf-c-txt-mediumblue\:20 { color: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:25, html.dark .sf-c-txt-mediumblue\:25 { color: hsl(240, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:30, html.dark .sf-c-txt-mediumblue\:30 { color: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:35, html.dark .sf-c-txt-mediumblue\:35 { color: hsl(240, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:40, html.dark .sf-c-txt-mediumblue\:40 { color: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:45, html.dark .sf-c-txt-mediumblue\:45 { color: hsl(240, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:50, html.dark .sf-c-txt-mediumblue\:50 { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:55, html.dark .sf-c-txt-mediumblue\:55 { color: hsl(240, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:60, html.dark .sf-c-txt-mediumblue\:60 { color: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:65, html.dark .sf-c-txt-mediumblue\:65 { color: hsl(240, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:70, html.dark .sf-c-txt-mediumblue\:70 { color: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:75, html.dark .sf-c-txt-mediumblue\:75 { color: hsl(240, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:80, html.dark .sf-c-txt-mediumblue\:80 { color: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:85, html.dark .sf-c-txt-mediumblue\:85 { color: hsl(240, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:90, html.dark .sf-c-txt-mediumblue\:90 { color: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:95, html.dark .sf-c-txt-mediumblue\:95 { color: hsl(240, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:100, html.dark .sf-c-txt-mediumblue\:100 { color: hsl(240, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-mediumblue\:st, html.dark .sf-c-txt-mediumblue\:st { color: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:0\:st, html.dark .sf-c-txt-mediumblue\:0\:st { color: hsl(240, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:5\:st, html.dark .sf-c-txt-mediumblue\:5\:st { color: hsl(240, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:10\:st, html.dark .sf-c-txt-mediumblue\:10\:st { color: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:15\:st, html.dark .sf-c-txt-mediumblue\:15\:st { color: hsl(240, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:20\:st, html.dark .sf-c-txt-mediumblue\:20\:st { color: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:25\:st, html.dark .sf-c-txt-mediumblue\:25\:st { color: hsl(240, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:30\:st, html.dark .sf-c-txt-mediumblue\:30\:st { color: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:35\:st, html.dark .sf-c-txt-mediumblue\:35\:st { color: hsl(240, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:40\:st, html.dark .sf-c-txt-mediumblue\:40\:st { color: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:45\:st, html.dark .sf-c-txt-mediumblue\:45\:st { color: hsl(240, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:50\:st, html.dark .sf-c-txt-mediumblue\:50\:st { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:55\:st, html.dark .sf-c-txt-mediumblue\:55\:st { color: hsl(240, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:60\:st, html.dark .sf-c-txt-mediumblue\:60\:st { color: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:65\:st, html.dark .sf-c-txt-mediumblue\:65\:st { color: hsl(240, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:70\:st, html.dark .sf-c-txt-mediumblue\:70\:st { color: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:75\:st, html.dark .sf-c-txt-mediumblue\:75\:st { color: hsl(240, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:80\:st, html.dark .sf-c-txt-mediumblue\:80\:st { color: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:85\:st, html.dark .sf-c-txt-mediumblue\:85\:st { color: hsl(240, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:90\:st, html.dark .sf-c-txt-mediumblue\:90\:st { color: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:95\:st, html.dark .sf-c-txt-mediumblue\:95\:st { color: hsl(240, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-mediumblue\:100\:st, html.dark .sf-c-txt-mediumblue\:100\:st { color: hsl(240, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumblue, html.auto .sf-c-mediumblue { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mediumblue\:0, html.auto .sf-c-mediumblue\:0 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }
  html[data-theme='auto'] .sf-c-mediumblue\:5, html.auto .sf-c-mediumblue\:5 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
  html[data-theme='auto'] .sf-c-mediumblue\:10, html.auto .sf-c-mediumblue\:10 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mediumblue\:15, html.auto .sf-c-mediumblue\:15 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
  html[data-theme='auto'] .sf-c-mediumblue\:20, html.auto .sf-c-mediumblue\:20 { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mediumblue\:25, html.auto .sf-c-mediumblue\:25 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
  html[data-theme='auto'] .sf-c-mediumblue\:30, html.auto .sf-c-mediumblue\:30 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mediumblue\:35, html.auto .sf-c-mediumblue\:35 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
  html[data-theme='auto'] .sf-c-mediumblue\:40, html.auto .sf-c-mediumblue\:40 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mediumblue\:45, html.auto .sf-c-mediumblue\:45 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
  html[data-theme='auto'] .sf-c-mediumblue\:50, html.auto .sf-c-mediumblue\:50 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mediumblue\:55, html.auto .sf-c-mediumblue\:55 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
  html[data-theme='auto'] .sf-c-mediumblue\:60, html.auto .sf-c-mediumblue\:60 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mediumblue\:65, html.auto .sf-c-mediumblue\:65 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
  html[data-theme='auto'] .sf-c-mediumblue\:70, html.auto .sf-c-mediumblue\:70 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mediumblue\:75, html.auto .sf-c-mediumblue\:75 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
  html[data-theme='auto'] .sf-c-mediumblue\:80, html.auto .sf-c-mediumblue\:80 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mediumblue\:85, html.auto .sf-c-mediumblue\:85 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
  html[data-theme='auto'] .sf-c-mediumblue\:90, html.auto .sf-c-mediumblue\:90 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mediumblue\:95, html.auto .sf-c-mediumblue\:95 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
  html[data-theme='auto'] .sf-c-mediumblue\:100, html.auto .sf-c-mediumblue\:100 { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }

  html[data-theme='auto'] .sf-c-mediumblue\:st, html.auto .sf-c-mediumblue\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mediumblue\:0\:st, html.auto .sf-c-mediumblue\:0\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 0%) }
  html[data-theme='auto'] .sf-c-mediumblue\:5\:st, html.auto .sf-c-mediumblue\:5\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 5%) }
  html[data-theme='auto'] .sf-c-mediumblue\:10\:st, html.auto .sf-c-mediumblue\:10\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mediumblue\:15\:st, html.auto .sf-c-mediumblue\:15\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 15%) }
  html[data-theme='auto'] .sf-c-mediumblue\:20\:st, html.auto .sf-c-mediumblue\:20\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mediumblue\:25\:st, html.auto .sf-c-mediumblue\:25\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 25%) }
  html[data-theme='auto'] .sf-c-mediumblue\:30\:st, html.auto .sf-c-mediumblue\:30\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mediumblue\:35\:st, html.auto .sf-c-mediumblue\:35\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 35%) }
  html[data-theme='auto'] .sf-c-mediumblue\:40\:st, html.auto .sf-c-mediumblue\:40\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mediumblue\:45\:st, html.auto .sf-c-mediumblue\:45\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 45%) }
  html[data-theme='auto'] .sf-c-mediumblue\:50\:st, html.auto .sf-c-mediumblue\:50\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mediumblue\:55\:st, html.auto .sf-c-mediumblue\:55\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 55%) }
  html[data-theme='auto'] .sf-c-mediumblue\:60\:st, html.auto .sf-c-mediumblue\:60\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mediumblue\:65\:st, html.auto .sf-c-mediumblue\:65\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 65%) }
  html[data-theme='auto'] .sf-c-mediumblue\:70\:st, html.auto .sf-c-mediumblue\:70\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mediumblue\:75\:st, html.auto .sf-c-mediumblue\:75\:st { color: hsl(240, 100%, 95%); background: hsl(240, 100%, 75%) }
  html[data-theme='auto'] .sf-c-mediumblue\:80\:st, html.auto .sf-c-mediumblue\:80\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mediumblue\:85\:st, html.auto .sf-c-mediumblue\:85\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 85%) }
  html[data-theme='auto'] .sf-c-mediumblue\:90\:st, html.auto .sf-c-mediumblue\:90\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mediumblue\:95\:st, html.auto .sf-c-mediumblue\:95\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 95%) }
  html[data-theme='auto'] .sf-c-mediumblue\:100\:st, html.auto .sf-c-mediumblue\:100\:st { color: hsl(240, 100%, 5%); background: hsl(240, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mediumblue, html.auto .sf-c-txt-mediumblue { color: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:0, html.auto .sf-c-txt-mediumblue\:0 { color: hsl(240, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:5, html.auto .sf-c-txt-mediumblue\:5 { color: hsl(240, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:10, html.auto .sf-c-txt-mediumblue\:10 { color: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:15, html.auto .sf-c-txt-mediumblue\:15 { color: hsl(240, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:20, html.auto .sf-c-txt-mediumblue\:20 { color: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:25, html.auto .sf-c-txt-mediumblue\:25 { color: hsl(240, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:30, html.auto .sf-c-txt-mediumblue\:30 { color: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:35, html.auto .sf-c-txt-mediumblue\:35 { color: hsl(240, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:40, html.auto .sf-c-txt-mediumblue\:40 { color: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:45, html.auto .sf-c-txt-mediumblue\:45 { color: hsl(240, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:50, html.auto .sf-c-txt-mediumblue\:50 { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:55, html.auto .sf-c-txt-mediumblue\:55 { color: hsl(240, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:60, html.auto .sf-c-txt-mediumblue\:60 { color: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:65, html.auto .sf-c-txt-mediumblue\:65 { color: hsl(240, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:70, html.auto .sf-c-txt-mediumblue\:70 { color: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:75, html.auto .sf-c-txt-mediumblue\:75 { color: hsl(240, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:80, html.auto .sf-c-txt-mediumblue\:80 { color: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:85, html.auto .sf-c-txt-mediumblue\:85 { color: hsl(240, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:90, html.auto .sf-c-txt-mediumblue\:90 { color: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:95, html.auto .sf-c-txt-mediumblue\:95 { color: hsl(240, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:100, html.auto .sf-c-txt-mediumblue\:100 { color: hsl(240, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mediumblue\:st, html.auto .sf-c-txt-mediumblue\:st { color: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:0\:st, html.auto .sf-c-txt-mediumblue\:0\:st { color: hsl(240, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:5\:st, html.auto .sf-c-txt-mediumblue\:5\:st { color: hsl(240, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:10\:st, html.auto .sf-c-txt-mediumblue\:10\:st { color: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:15\:st, html.auto .sf-c-txt-mediumblue\:15\:st { color: hsl(240, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:20\:st, html.auto .sf-c-txt-mediumblue\:20\:st { color: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:25\:st, html.auto .sf-c-txt-mediumblue\:25\:st { color: hsl(240, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:30\:st, html.auto .sf-c-txt-mediumblue\:30\:st { color: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:35\:st, html.auto .sf-c-txt-mediumblue\:35\:st { color: hsl(240, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:40\:st, html.auto .sf-c-txt-mediumblue\:40\:st { color: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:45\:st, html.auto .sf-c-txt-mediumblue\:45\:st { color: hsl(240, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:50\:st, html.auto .sf-c-txt-mediumblue\:50\:st { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:55\:st, html.auto .sf-c-txt-mediumblue\:55\:st { color: hsl(240, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:60\:st, html.auto .sf-c-txt-mediumblue\:60\:st { color: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:65\:st, html.auto .sf-c-txt-mediumblue\:65\:st { color: hsl(240, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:70\:st, html.auto .sf-c-txt-mediumblue\:70\:st { color: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:75\:st, html.auto .sf-c-txt-mediumblue\:75\:st { color: hsl(240, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:80\:st, html.auto .sf-c-txt-mediumblue\:80\:st { color: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:85\:st, html.auto .sf-c-txt-mediumblue\:85\:st { color: hsl(240, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:90\:st, html.auto .sf-c-txt-mediumblue\:90\:st { color: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:95\:st, html.auto .sf-c-txt-mediumblue\:95\:st { color: hsl(240, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-mediumblue\:100\:st, html.auto .sf-c-txt-mediumblue\:100\:st { color: hsl(240, 100%, 100%) }
}