.sf-var-mintcream {
  --sf-c-mintcream: 150 100% 98%;
  --sf-c-mintcream-0: 150 100% 0%;
  --sf-c-mintcream-5: 150 100% 5%;
  --sf-c-mintcream-10: 150 100% 10%;
  --sf-c-mintcream-15: 150 100% 15%;
  --sf-c-mintcream-20: 150 100% 20%;
  --sf-c-mintcream-25: 150 100% 25%;
  --sf-c-mintcream-30: 150 100% 30%;
  --sf-c-mintcream-35: 150 100% 35%;
  --sf-c-mintcream-40: 150 100% 40%;
  --sf-c-mintcream-45: 150 100% 45%;
  --sf-c-mintcream-50: 150 100% 50%;
  --sf-c-mintcream-55: 150 100% 55%;
  --sf-c-mintcream-60: 150 100% 60%;
  --sf-c-mintcream-65: 150 100% 65%;
  --sf-c-mintcream-70: 150 100% 70%;
  --sf-c-mintcream-75: 150 100% 75%;
  --sf-c-mintcream-80: 150 100% 80%;
  --sf-c-mintcream-85: 150 100% 85%;
  --sf-c-mintcream-90: 150 100% 90%;
  --sf-c-mintcream-95: 150 100% 95%;
  --sf-c-mintcream-100: 150 100% 100%;
}

.sf-c-mintcream, .sf-c-mintcream\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 98%) }
.sf-c-mintcream\:0, .sf-c-mintcream\:0\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 0%) }
.sf-c-mintcream\:5, .sf-c-mintcream\:5\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 5%) }
.sf-c-mintcream\:10, .sf-c-mintcream\:10\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 10%) }
.sf-c-mintcream\:15, .sf-c-mintcream\:15\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 15%) }
.sf-c-mintcream\:20, .sf-c-mintcream\:20\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 20%) }
.sf-c-mintcream\:25, .sf-c-mintcream\:25\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 25%) }
.sf-c-mintcream\:30, .sf-c-mintcream\:30\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 30%) }
.sf-c-mintcream\:35, .sf-c-mintcream\:35\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 35%) }
.sf-c-mintcream\:40, .sf-c-mintcream\:40\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 40%) }
.sf-c-mintcream\:45, .sf-c-mintcream\:45\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 45%) }
.sf-c-mintcream\:50, .sf-c-mintcream\:50\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 50%) }
.sf-c-mintcream\:55, .sf-c-mintcream\:55\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 55%) }
.sf-c-mintcream\:60, .sf-c-mintcream\:60\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 60%) }
.sf-c-mintcream\:65, .sf-c-mintcream\:65\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 65%) }
.sf-c-mintcream\:70, .sf-c-mintcream\:70\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 70%) }
.sf-c-mintcream\:75, .sf-c-mintcream\:75\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 75%) }
.sf-c-mintcream\:80, .sf-c-mintcream\:80\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 80%) }
.sf-c-mintcream\:85, .sf-c-mintcream\:85\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 85%) }
.sf-c-mintcream\:90, .sf-c-mintcream\:90\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 90%) }
.sf-c-mintcream\:95, .sf-c-mintcream\:95\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 95%) }
.sf-c-mintcream\:100, .sf-c-mintcream\:100\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 100%) }

.sf-c-txt-mintcream { color: hsl(150, 100%, 10%) }
.sf-c-txt-mintcream\:st { color: hsl(150, 100%, 98%) }
.sf-c-txt-mintcream\:0, .sf-c-txt-mintcream\:0\:st { color: hsl(150, 100%, 0%) }
.sf-c-txt-mintcream\:5, .sf-c-txt-mintcream\:5\:st { color: hsl(150, 100%, 5%) }
.sf-c-txt-mintcream\:10, .sf-c-txt-mintcream\:10\:st { color: hsl(150, 100%, 10%) }
.sf-c-txt-mintcream\:15, .sf-c-txt-mintcream\:15\:st { color: hsl(150, 100%, 15%) }
.sf-c-txt-mintcream\:20, .sf-c-txt-mintcream\:20\:st { color: hsl(150, 100%, 20%) }
.sf-c-txt-mintcream\:25, .sf-c-txt-mintcream\:25\:st { color: hsl(150, 100%, 25%) }
.sf-c-txt-mintcream\:30, .sf-c-txt-mintcream\:30\:st { color: hsl(150, 100%, 30%) }
.sf-c-txt-mintcream\:35, .sf-c-txt-mintcream\:35\:st { color: hsl(150, 100%, 35%) }
.sf-c-txt-mintcream\:40, .sf-c-txt-mintcream\:40\:st { color: hsl(150, 100%, 40%) }
.sf-c-txt-mintcream\:45, .sf-c-txt-mintcream\:45\:st { color: hsl(150, 100%, 45%) }
.sf-c-txt-mintcream\:50, .sf-c-txt-mintcream\:50\:st { color: hsl(150, 100%, 50%) }
.sf-c-txt-mintcream\:55, .sf-c-txt-mintcream\:55\:st { color: hsl(150, 100%, 55%) }
.sf-c-txt-mintcream\:60, .sf-c-txt-mintcream\:60\:st { color: hsl(150, 100%, 60%) }
.sf-c-txt-mintcream\:65, .sf-c-txt-mintcream\:65\:st { color: hsl(150, 100%, 65%) }
.sf-c-txt-mintcream\:70, .sf-c-txt-mintcream\:70\:st { color: hsl(150, 100%, 70%) }
.sf-c-txt-mintcream\:75, .sf-c-txt-mintcream\:75\:st { color: hsl(150, 100%, 75%) }
.sf-c-txt-mintcream\:80, .sf-c-txt-mintcream\:80\:st { color: hsl(150, 100%, 80%) }
.sf-c-txt-mintcream\:85, .sf-c-txt-mintcream\:85\:st { color: hsl(150, 100%, 85%) }
.sf-c-txt-mintcream\:90, .sf-c-txt-mintcream\:90\:st { color: hsl(150, 100%, 90%) }
.sf-c-txt-mintcream\:95, .sf-c-txt-mintcream\:95\:st { color: hsl(150, 100%, 95%) }
.sf-c-txt-mintcream\:100, .sf-c-txt-mintcream\:100\:st { color: hsl(150, 100%, 100%) }

html[data-theme='dark'] .sf-c-mintcream, html.dark .sf-c-mintcream { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 2%) }
html[data-theme='dark'] .sf-c-mintcream\:0, html.dark .sf-c-mintcream\:0 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 100%) }
html[data-theme='dark'] .sf-c-mintcream\:5, html.dark .sf-c-mintcream\:5 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 95%) }
html[data-theme='dark'] .sf-c-mintcream\:10, html.dark .sf-c-mintcream\:10 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 90%) }
html[data-theme='dark'] .sf-c-mintcream\:15, html.dark .sf-c-mintcream\:15 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 85%) }
html[data-theme='dark'] .sf-c-mintcream\:20, html.dark .sf-c-mintcream\:20 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 80%) }
html[data-theme='dark'] .sf-c-mintcream\:25, html.dark .sf-c-mintcream\:25 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 75%) }
html[data-theme='dark'] .sf-c-mintcream\:30, html.dark .sf-c-mintcream\:30 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 70%) }
html[data-theme='dark'] .sf-c-mintcream\:35, html.dark .sf-c-mintcream\:35 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 65%) }
html[data-theme='dark'] .sf-c-mintcream\:40, html.dark .sf-c-mintcream\:40 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 60%) }
html[data-theme='dark'] .sf-c-mintcream\:45, html.dark .sf-c-mintcream\:45 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 55%) }
html[data-theme='dark'] .sf-c-mintcream\:50, html.dark .sf-c-mintcream\:50 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 50%) }
html[data-theme='dark'] .sf-c-mintcream\:55, html.dark .sf-c-mintcream\:55 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 45%) }
html[data-theme='dark'] .sf-c-mintcream\:60, html.dark .sf-c-mintcream\:60 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 40%) }
html[data-theme='dark'] .sf-c-mintcream\:65, html.dark .sf-c-mintcream\:65 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 35%) }
html[data-theme='dark'] .sf-c-mintcream\:70, html.dark .sf-c-mintcream\:70 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 30%) }
html[data-theme='dark'] .sf-c-mintcream\:75, html.dark .sf-c-mintcream\:75 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 25%) }
html[data-theme='dark'] .sf-c-mintcream\:80, html.dark .sf-c-mintcream\:80 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 20%) }
html[data-theme='dark'] .sf-c-mintcream\:85, html.dark .sf-c-mintcream\:85 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 15%) }
html[data-theme='dark'] .sf-c-mintcream\:90, html.dark .sf-c-mintcream\:90 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 10%) }
html[data-theme='dark'] .sf-c-mintcream\:95, html.dark .sf-c-mintcream\:95 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 5%) }
html[data-theme='dark'] .sf-c-mintcream\:100, html.dark .sf-c-mintcream\:100 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 0%) }

html[data-theme='dark'] .sf-c-mintcream\:st, html.dark .sf-c-mintcream\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 98%) }
html[data-theme='dark'] .sf-c-mintcream\:0\:st, html.dark .sf-c-mintcream\:0\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 0%) }
html[data-theme='dark'] .sf-c-mintcream\:5\:st, html.dark .sf-c-mintcream\:5\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 5%) }
html[data-theme='dark'] .sf-c-mintcream\:10\:st, html.dark .sf-c-mintcream\:10\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 10%) }
html[data-theme='dark'] .sf-c-mintcream\:15\:st, html.dark .sf-c-mintcream\:15\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 15%) }
html[data-theme='dark'] .sf-c-mintcream\:20\:st, html.dark .sf-c-mintcream\:20\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 20%) }
html[data-theme='dark'] .sf-c-mintcream\:25\:st, html.dark .sf-c-mintcream\:25\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 25%) }
html[data-theme='dark'] .sf-c-mintcream\:30\:st, html.dark .sf-c-mintcream\:30\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 30%) }
html[data-theme='dark'] .sf-c-mintcream\:35\:st, html.dark .sf-c-mintcream\:35\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 35%) }
html[data-theme='dark'] .sf-c-mintcream\:40\:st, html.dark .sf-c-mintcream\:40\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 40%) }
html[data-theme='dark'] .sf-c-mintcream\:45\:st, html.dark .sf-c-mintcream\:45\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 45%) }
html[data-theme='dark'] .sf-c-mintcream\:50\:st, html.dark .sf-c-mintcream\:50\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 50%) }
html[data-theme='dark'] .sf-c-mintcream\:55\:st, html.dark .sf-c-mintcream\:55\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 55%) }
html[data-theme='dark'] .sf-c-mintcream\:60\:st, html.dark .sf-c-mintcream\:60\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 60%) }
html[data-theme='dark'] .sf-c-mintcream\:65\:st, html.dark .sf-c-mintcream\:65\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 65%) }
html[data-theme='dark'] .sf-c-mintcream\:70\:st, html.dark .sf-c-mintcream\:70\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 70%) }
html[data-theme='dark'] .sf-c-mintcream\:75\:st, html.dark .sf-c-mintcream\:75\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 75%) }
html[data-theme='dark'] .sf-c-mintcream\:80\:st, html.dark .sf-c-mintcream\:80\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 80%) }
html[data-theme='dark'] .sf-c-mintcream\:85\:st, html.dark .sf-c-mintcream\:85\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 85%) }
html[data-theme='dark'] .sf-c-mintcream\:90\:st, html.dark .sf-c-mintcream\:90\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 90%) }
html[data-theme='dark'] .sf-c-mintcream\:95\:st, html.dark .sf-c-mintcream\:95\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 95%) }
html[data-theme='dark'] .sf-c-mintcream\:100\:st, html.dark .sf-c-mintcream\:100\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-mintcream, html.dark .sf-c-txt-mintcream { color: hsl(150, 100%, 98%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:0, html.dark .sf-c-txt-mintcream\:0 { color: hsl(150, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:5, html.dark .sf-c-txt-mintcream\:5 { color: hsl(150, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:10, html.dark .sf-c-txt-mintcream\:10 { color: hsl(150, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:15, html.dark .sf-c-txt-mintcream\:15 { color: hsl(150, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:20, html.dark .sf-c-txt-mintcream\:20 { color: hsl(150, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:25, html.dark .sf-c-txt-mintcream\:25 { color: hsl(150, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:30, html.dark .sf-c-txt-mintcream\:30 { color: hsl(150, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:35, html.dark .sf-c-txt-mintcream\:35 { color: hsl(150, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:40, html.dark .sf-c-txt-mintcream\:40 { color: hsl(150, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:45, html.dark .sf-c-txt-mintcream\:45 { color: hsl(150, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:50, html.dark .sf-c-txt-mintcream\:50 { color: hsl(150, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:55, html.dark .sf-c-txt-mintcream\:55 { color: hsl(150, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:60, html.dark .sf-c-txt-mintcream\:60 { color: hsl(150, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:65, html.dark .sf-c-txt-mintcream\:65 { color: hsl(150, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:70, html.dark .sf-c-txt-mintcream\:70 { color: hsl(150, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:75, html.dark .sf-c-txt-mintcream\:75 { color: hsl(150, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:80, html.dark .sf-c-txt-mintcream\:80 { color: hsl(150, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:85, html.dark .sf-c-txt-mintcream\:85 { color: hsl(150, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:90, html.dark .sf-c-txt-mintcream\:90 { color: hsl(150, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:95, html.dark .sf-c-txt-mintcream\:95 { color: hsl(150, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:100, html.dark .sf-c-txt-mintcream\:100 { color: hsl(150, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-mintcream\:st, html.dark .sf-c-txt-mintcream\:st { color: hsl(150, 100%, 98%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:0\:st, html.dark .sf-c-txt-mintcream\:0\:st { color: hsl(150, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:5\:st, html.dark .sf-c-txt-mintcream\:5\:st { color: hsl(150, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:10\:st, html.dark .sf-c-txt-mintcream\:10\:st { color: hsl(150, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:15\:st, html.dark .sf-c-txt-mintcream\:15\:st { color: hsl(150, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:20\:st, html.dark .sf-c-txt-mintcream\:20\:st { color: hsl(150, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:25\:st, html.dark .sf-c-txt-mintcream\:25\:st { color: hsl(150, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:30\:st, html.dark .sf-c-txt-mintcream\:30\:st { color: hsl(150, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:35\:st, html.dark .sf-c-txt-mintcream\:35\:st { color: hsl(150, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:40\:st, html.dark .sf-c-txt-mintcream\:40\:st { color: hsl(150, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:45\:st, html.dark .sf-c-txt-mintcream\:45\:st { color: hsl(150, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:50\:st, html.dark .sf-c-txt-mintcream\:50\:st { color: hsl(150, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:55\:st, html.dark .sf-c-txt-mintcream\:55\:st { color: hsl(150, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:60\:st, html.dark .sf-c-txt-mintcream\:60\:st { color: hsl(150, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:65\:st, html.dark .sf-c-txt-mintcream\:65\:st { color: hsl(150, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:70\:st, html.dark .sf-c-txt-mintcream\:70\:st { color: hsl(150, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:75\:st, html.dark .sf-c-txt-mintcream\:75\:st { color: hsl(150, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:80\:st, html.dark .sf-c-txt-mintcream\:80\:st { color: hsl(150, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:85\:st, html.dark .sf-c-txt-mintcream\:85\:st { color: hsl(150, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:90\:st, html.dark .sf-c-txt-mintcream\:90\:st { color: hsl(150, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:95\:st, html.dark .sf-c-txt-mintcream\:95\:st { color: hsl(150, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-mintcream\:100\:st, html.dark .sf-c-txt-mintcream\:100\:st { color: hsl(150, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mintcream, html.auto .sf-c-mintcream { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 2%) }
  html[data-theme='auto'] .sf-c-mintcream\:0, html.auto .sf-c-mintcream\:0 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 100%) }
  html[data-theme='auto'] .sf-c-mintcream\:5, html.auto .sf-c-mintcream\:5 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 95%) }
  html[data-theme='auto'] .sf-c-mintcream\:10, html.auto .sf-c-mintcream\:10 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mintcream\:15, html.auto .sf-c-mintcream\:15 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 85%) }
  html[data-theme='auto'] .sf-c-mintcream\:20, html.auto .sf-c-mintcream\:20 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mintcream\:25, html.auto .sf-c-mintcream\:25 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 75%) }
  html[data-theme='auto'] .sf-c-mintcream\:30, html.auto .sf-c-mintcream\:30 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mintcream\:35, html.auto .sf-c-mintcream\:35 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 65%) }
  html[data-theme='auto'] .sf-c-mintcream\:40, html.auto .sf-c-mintcream\:40 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mintcream\:45, html.auto .sf-c-mintcream\:45 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 55%) }
  html[data-theme='auto'] .sf-c-mintcream\:50, html.auto .sf-c-mintcream\:50 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mintcream\:55, html.auto .sf-c-mintcream\:55 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 45%) }
  html[data-theme='auto'] .sf-c-mintcream\:60, html.auto .sf-c-mintcream\:60 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mintcream\:65, html.auto .sf-c-mintcream\:65 { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 35%) }
  html[data-theme='auto'] .sf-c-mintcream\:70, html.auto .sf-c-mintcream\:70 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mintcream\:75, html.auto .sf-c-mintcream\:75 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 25%) }
  html[data-theme='auto'] .sf-c-mintcream\:80, html.auto .sf-c-mintcream\:80 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mintcream\:85, html.auto .sf-c-mintcream\:85 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 15%) }
  html[data-theme='auto'] .sf-c-mintcream\:90, html.auto .sf-c-mintcream\:90 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mintcream\:95, html.auto .sf-c-mintcream\:95 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 5%) }
  html[data-theme='auto'] .sf-c-mintcream\:100, html.auto .sf-c-mintcream\:100 { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 0%) }

  html[data-theme='auto'] .sf-c-mintcream\:st, html.auto .sf-c-mintcream\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 98%) }
  html[data-theme='auto'] .sf-c-mintcream\:0\:st, html.auto .sf-c-mintcream\:0\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 0%) }
  html[data-theme='auto'] .sf-c-mintcream\:5\:st, html.auto .sf-c-mintcream\:5\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 5%) }
  html[data-theme='auto'] .sf-c-mintcream\:10\:st, html.auto .sf-c-mintcream\:10\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mintcream\:15\:st, html.auto .sf-c-mintcream\:15\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 15%) }
  html[data-theme='auto'] .sf-c-mintcream\:20\:st, html.auto .sf-c-mintcream\:20\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mintcream\:25\:st, html.auto .sf-c-mintcream\:25\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 25%) }
  html[data-theme='auto'] .sf-c-mintcream\:30\:st, html.auto .sf-c-mintcream\:30\:st { color: hsl(150, 100%, 95%); background: hsl(150, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mintcream\:35\:st, html.auto .sf-c-mintcream\:35\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 35%) }
  html[data-theme='auto'] .sf-c-mintcream\:40\:st, html.auto .sf-c-mintcream\:40\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mintcream\:45\:st, html.auto .sf-c-mintcream\:45\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 45%) }
  html[data-theme='auto'] .sf-c-mintcream\:50\:st, html.auto .sf-c-mintcream\:50\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mintcream\:55\:st, html.auto .sf-c-mintcream\:55\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 55%) }
  html[data-theme='auto'] .sf-c-mintcream\:60\:st, html.auto .sf-c-mintcream\:60\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mintcream\:65\:st, html.auto .sf-c-mintcream\:65\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 65%) }
  html[data-theme='auto'] .sf-c-mintcream\:70\:st, html.auto .sf-c-mintcream\:70\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mintcream\:75\:st, html.auto .sf-c-mintcream\:75\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 75%) }
  html[data-theme='auto'] .sf-c-mintcream\:80\:st, html.auto .sf-c-mintcream\:80\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mintcream\:85\:st, html.auto .sf-c-mintcream\:85\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 85%) }
  html[data-theme='auto'] .sf-c-mintcream\:90\:st, html.auto .sf-c-mintcream\:90\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mintcream\:95\:st, html.auto .sf-c-mintcream\:95\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 95%) }
  html[data-theme='auto'] .sf-c-mintcream\:100\:st, html.auto .sf-c-mintcream\:100\:st { color: hsl(150, 100%, 5%); background: hsl(150, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mintcream, html.auto .sf-c-txt-mintcream { color: hsl(150, 100%, 98%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:0, html.auto .sf-c-txt-mintcream\:0 { color: hsl(150, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:5, html.auto .sf-c-txt-mintcream\:5 { color: hsl(150, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:10, html.auto .sf-c-txt-mintcream\:10 { color: hsl(150, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:15, html.auto .sf-c-txt-mintcream\:15 { color: hsl(150, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:20, html.auto .sf-c-txt-mintcream\:20 { color: hsl(150, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:25, html.auto .sf-c-txt-mintcream\:25 { color: hsl(150, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:30, html.auto .sf-c-txt-mintcream\:30 { color: hsl(150, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:35, html.auto .sf-c-txt-mintcream\:35 { color: hsl(150, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:40, html.auto .sf-c-txt-mintcream\:40 { color: hsl(150, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:45, html.auto .sf-c-txt-mintcream\:45 { color: hsl(150, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:50, html.auto .sf-c-txt-mintcream\:50 { color: hsl(150, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:55, html.auto .sf-c-txt-mintcream\:55 { color: hsl(150, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:60, html.auto .sf-c-txt-mintcream\:60 { color: hsl(150, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:65, html.auto .sf-c-txt-mintcream\:65 { color: hsl(150, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:70, html.auto .sf-c-txt-mintcream\:70 { color: hsl(150, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:75, html.auto .sf-c-txt-mintcream\:75 { color: hsl(150, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:80, html.auto .sf-c-txt-mintcream\:80 { color: hsl(150, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:85, html.auto .sf-c-txt-mintcream\:85 { color: hsl(150, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:90, html.auto .sf-c-txt-mintcream\:90 { color: hsl(150, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:95, html.auto .sf-c-txt-mintcream\:95 { color: hsl(150, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:100, html.auto .sf-c-txt-mintcream\:100 { color: hsl(150, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mintcream\:st, html.auto .sf-c-txt-mintcream\:st { color: hsl(150, 100%, 98%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:0\:st, html.auto .sf-c-txt-mintcream\:0\:st { color: hsl(150, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:5\:st, html.auto .sf-c-txt-mintcream\:5\:st { color: hsl(150, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:10\:st, html.auto .sf-c-txt-mintcream\:10\:st { color: hsl(150, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:15\:st, html.auto .sf-c-txt-mintcream\:15\:st { color: hsl(150, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:20\:st, html.auto .sf-c-txt-mintcream\:20\:st { color: hsl(150, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:25\:st, html.auto .sf-c-txt-mintcream\:25\:st { color: hsl(150, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:30\:st, html.auto .sf-c-txt-mintcream\:30\:st { color: hsl(150, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:35\:st, html.auto .sf-c-txt-mintcream\:35\:st { color: hsl(150, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:40\:st, html.auto .sf-c-txt-mintcream\:40\:st { color: hsl(150, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:45\:st, html.auto .sf-c-txt-mintcream\:45\:st { color: hsl(150, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:50\:st, html.auto .sf-c-txt-mintcream\:50\:st { color: hsl(150, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:55\:st, html.auto .sf-c-txt-mintcream\:55\:st { color: hsl(150, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:60\:st, html.auto .sf-c-txt-mintcream\:60\:st { color: hsl(150, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:65\:st, html.auto .sf-c-txt-mintcream\:65\:st { color: hsl(150, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:70\:st, html.auto .sf-c-txt-mintcream\:70\:st { color: hsl(150, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:75\:st, html.auto .sf-c-txt-mintcream\:75\:st { color: hsl(150, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:80\:st, html.auto .sf-c-txt-mintcream\:80\:st { color: hsl(150, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:85\:st, html.auto .sf-c-txt-mintcream\:85\:st { color: hsl(150, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:90\:st, html.auto .sf-c-txt-mintcream\:90\:st { color: hsl(150, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:95\:st, html.auto .sf-c-txt-mintcream\:95\:st { color: hsl(150, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-mintcream\:100\:st, html.auto .sf-c-txt-mintcream\:100\:st { color: hsl(150, 100%, 100%) }
}