.sf-var-orchid {
  --sf-c-orchid: 302 59% 65%;
  --sf-c-orchid-0: 302 59% 0%;
  --sf-c-orchid-5: 302 59% 5%;
  --sf-c-orchid-10: 302 59% 10%;
  --sf-c-orchid-15: 302 59% 15%;
  --sf-c-orchid-20: 302 59% 20%;
  --sf-c-orchid-25: 302 59% 25%;
  --sf-c-orchid-30: 302 59% 30%;
  --sf-c-orchid-35: 302 59% 35%;
  --sf-c-orchid-40: 302 59% 40%;
  --sf-c-orchid-45: 302 59% 45%;
  --sf-c-orchid-50: 302 59% 50%;
  --sf-c-orchid-55: 302 59% 55%;
  --sf-c-orchid-60: 302 59% 60%;
  --sf-c-orchid-65: 302 59% 65%;
  --sf-c-orchid-70: 302 59% 70%;
  --sf-c-orchid-75: 302 59% 75%;
  --sf-c-orchid-80: 302 59% 80%;
  --sf-c-orchid-85: 302 59% 85%;
  --sf-c-orchid-90: 302 59% 90%;
  --sf-c-orchid-95: 302 59% 95%;
  --sf-c-orchid-100: 302 59% 100%;
}

.sf-c-orchid, .sf-c-orchid\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
.sf-c-orchid\:0, .sf-c-orchid\:0\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 0%) }
.sf-c-orchid\:5, .sf-c-orchid\:5\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 5%) }
.sf-c-orchid\:10, .sf-c-orchid\:10\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 10%) }
.sf-c-orchid\:15, .sf-c-orchid\:15\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 15%) }
.sf-c-orchid\:20, .sf-c-orchid\:20\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 20%) }
.sf-c-orchid\:25, .sf-c-orchid\:25\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 25%) }
.sf-c-orchid\:30, .sf-c-orchid\:30\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 30%) }
.sf-c-orchid\:35, .sf-c-orchid\:35\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
.sf-c-orchid\:40, .sf-c-orchid\:40\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 40%) }
.sf-c-orchid\:45, .sf-c-orchid\:45\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 45%) }
.sf-c-orchid\:50, .sf-c-orchid\:50\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 50%) }
.sf-c-orchid\:55, .sf-c-orchid\:55\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 55%) }
.sf-c-orchid\:60, .sf-c-orchid\:60\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 60%) }
.sf-c-orchid\:65, .sf-c-orchid\:65\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
.sf-c-orchid\:70, .sf-c-orchid\:70\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 70%) }
.sf-c-orchid\:75, .sf-c-orchid\:75\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 75%) }
.sf-c-orchid\:80, .sf-c-orchid\:80\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 80%) }
.sf-c-orchid\:85, .sf-c-orchid\:85\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 85%) }
.sf-c-orchid\:90, .sf-c-orchid\:90\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 90%) }
.sf-c-orchid\:95, .sf-c-orchid\:95\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 95%) }
.sf-c-orchid\:100, .sf-c-orchid\:100\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 100%) }

.sf-c-txt-orchid { color: hsl(302, 59%, 10%) }
.sf-c-txt-orchid\:st { color: hsl(302, 59%, 65%) }
.sf-c-txt-orchid\:0, .sf-c-txt-orchid\:0\:st { color: hsl(302, 59%, 0%) }
.sf-c-txt-orchid\:5, .sf-c-txt-orchid\:5\:st { color: hsl(302, 59%, 5%) }
.sf-c-txt-orchid\:10, .sf-c-txt-orchid\:10\:st { color: hsl(302, 59%, 10%) }
.sf-c-txt-orchid\:15, .sf-c-txt-orchid\:15\:st { color: hsl(302, 59%, 15%) }
.sf-c-txt-orchid\:20, .sf-c-txt-orchid\:20\:st { color: hsl(302, 59%, 20%) }
.sf-c-txt-orchid\:25, .sf-c-txt-orchid\:25\:st { color: hsl(302, 59%, 25%) }
.sf-c-txt-orchid\:30, .sf-c-txt-orchid\:30\:st { color: hsl(302, 59%, 30%) }
.sf-c-txt-orchid\:35, .sf-c-txt-orchid\:35\:st { color: hsl(302, 59%, 35%) }
.sf-c-txt-orchid\:40, .sf-c-txt-orchid\:40\:st { color: hsl(302, 59%, 40%) }
.sf-c-txt-orchid\:45, .sf-c-txt-orchid\:45\:st { color: hsl(302, 59%, 45%) }
.sf-c-txt-orchid\:50, .sf-c-txt-orchid\:50\:st { color: hsl(302, 59%, 50%) }
.sf-c-txt-orchid\:55, .sf-c-txt-orchid\:55\:st { color: hsl(302, 59%, 55%) }
.sf-c-txt-orchid\:60, .sf-c-txt-orchid\:60\:st { color: hsl(302, 59%, 60%) }
.sf-c-txt-orchid\:65, .sf-c-txt-orchid\:65\:st { color: hsl(302, 59%, 65%) }
.sf-c-txt-orchid\:70, .sf-c-txt-orchid\:70\:st { color: hsl(302, 59%, 70%) }
.sf-c-txt-orchid\:75, .sf-c-txt-orchid\:75\:st { color: hsl(302, 59%, 75%) }
.sf-c-txt-orchid\:80, .sf-c-txt-orchid\:80\:st { color: hsl(302, 59%, 80%) }
.sf-c-txt-orchid\:85, .sf-c-txt-orchid\:85\:st { color: hsl(302, 59%, 85%) }
.sf-c-txt-orchid\:90, .sf-c-txt-orchid\:90\:st { color: hsl(302, 59%, 90%) }
.sf-c-txt-orchid\:95, .sf-c-txt-orchid\:95\:st { color: hsl(302, 59%, 95%) }
.sf-c-txt-orchid\:100, .sf-c-txt-orchid\:100\:st { color: hsl(302, 59%, 100%) }

html[data-theme='dark'] .sf-c-orchid, html.dark .sf-c-orchid { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
html[data-theme='dark'] .sf-c-orchid\:0, html.dark .sf-c-orchid\:0 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 100%) }
html[data-theme='dark'] .sf-c-orchid\:5, html.dark .sf-c-orchid\:5 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 95%) }
html[data-theme='dark'] .sf-c-orchid\:10, html.dark .sf-c-orchid\:10 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 90%) }
html[data-theme='dark'] .sf-c-orchid\:15, html.dark .sf-c-orchid\:15 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 85%) }
html[data-theme='dark'] .sf-c-orchid\:20, html.dark .sf-c-orchid\:20 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 80%) }
html[data-theme='dark'] .sf-c-orchid\:25, html.dark .sf-c-orchid\:25 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 75%) }
html[data-theme='dark'] .sf-c-orchid\:30, html.dark .sf-c-orchid\:30 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 70%) }
html[data-theme='dark'] .sf-c-orchid\:35, html.dark .sf-c-orchid\:35 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-orchid\:40, html.dark .sf-c-orchid\:40 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 60%) }
html[data-theme='dark'] .sf-c-orchid\:45, html.dark .sf-c-orchid\:45 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 55%) }
html[data-theme='dark'] .sf-c-orchid\:50, html.dark .sf-c-orchid\:50 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 50%) }
html[data-theme='dark'] .sf-c-orchid\:55, html.dark .sf-c-orchid\:55 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 45%) }
html[data-theme='dark'] .sf-c-orchid\:60, html.dark .sf-c-orchid\:60 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 40%) }
html[data-theme='dark'] .sf-c-orchid\:65, html.dark .sf-c-orchid\:65 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
html[data-theme='dark'] .sf-c-orchid\:70, html.dark .sf-c-orchid\:70 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 30%) }
html[data-theme='dark'] .sf-c-orchid\:75, html.dark .sf-c-orchid\:75 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 25%) }
html[data-theme='dark'] .sf-c-orchid\:80, html.dark .sf-c-orchid\:80 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 20%) }
html[data-theme='dark'] .sf-c-orchid\:85, html.dark .sf-c-orchid\:85 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 15%) }
html[data-theme='dark'] .sf-c-orchid\:90, html.dark .sf-c-orchid\:90 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 10%) }
html[data-theme='dark'] .sf-c-orchid\:95, html.dark .sf-c-orchid\:95 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 5%) }
html[data-theme='dark'] .sf-c-orchid\:100, html.dark .sf-c-orchid\:100 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 0%) }

html[data-theme='dark'] .sf-c-orchid\:st, html.dark .sf-c-orchid\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-orchid\:0\:st, html.dark .sf-c-orchid\:0\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 0%) }
html[data-theme='dark'] .sf-c-orchid\:5\:st, html.dark .sf-c-orchid\:5\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 5%) }
html[data-theme='dark'] .sf-c-orchid\:10\:st, html.dark .sf-c-orchid\:10\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 10%) }
html[data-theme='dark'] .sf-c-orchid\:15\:st, html.dark .sf-c-orchid\:15\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 15%) }
html[data-theme='dark'] .sf-c-orchid\:20\:st, html.dark .sf-c-orchid\:20\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 20%) }
html[data-theme='dark'] .sf-c-orchid\:25\:st, html.dark .sf-c-orchid\:25\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 25%) }
html[data-theme='dark'] .sf-c-orchid\:30\:st, html.dark .sf-c-orchid\:30\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 30%) }
html[data-theme='dark'] .sf-c-orchid\:35\:st, html.dark .sf-c-orchid\:35\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
html[data-theme='dark'] .sf-c-orchid\:40\:st, html.dark .sf-c-orchid\:40\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 40%) }
html[data-theme='dark'] .sf-c-orchid\:45\:st, html.dark .sf-c-orchid\:45\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 45%) }
html[data-theme='dark'] .sf-c-orchid\:50\:st, html.dark .sf-c-orchid\:50\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 50%) }
html[data-theme='dark'] .sf-c-orchid\:55\:st, html.dark .sf-c-orchid\:55\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 55%) }
html[data-theme='dark'] .sf-c-orchid\:60\:st, html.dark .sf-c-orchid\:60\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 60%) }
html[data-theme='dark'] .sf-c-orchid\:65\:st, html.dark .sf-c-orchid\:65\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-orchid\:70\:st, html.dark .sf-c-orchid\:70\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 70%) }
html[data-theme='dark'] .sf-c-orchid\:75\:st, html.dark .sf-c-orchid\:75\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 75%) }
html[data-theme='dark'] .sf-c-orchid\:80\:st, html.dark .sf-c-orchid\:80\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 80%) }
html[data-theme='dark'] .sf-c-orchid\:85\:st, html.dark .sf-c-orchid\:85\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 85%) }
html[data-theme='dark'] .sf-c-orchid\:90\:st, html.dark .sf-c-orchid\:90\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 90%) }
html[data-theme='dark'] .sf-c-orchid\:95\:st, html.dark .sf-c-orchid\:95\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 95%) }
html[data-theme='dark'] .sf-c-orchid\:100\:st, html.dark .sf-c-orchid\:100\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 100%) }

html[data-theme='dark'] .sf-c-txt-orchid, html.dark .sf-c-txt-orchid { color: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-txt-orchid\:0, html.dark .sf-c-txt-orchid\:0 { color: hsl(302, 59%, 100%) }
html[data-theme='dark'] .sf-c-txt-orchid\:5, html.dark .sf-c-txt-orchid\:5 { color: hsl(302, 59%, 95%) }
html[data-theme='dark'] .sf-c-txt-orchid\:10, html.dark .sf-c-txt-orchid\:10 { color: hsl(302, 59%, 90%) }
html[data-theme='dark'] .sf-c-txt-orchid\:15, html.dark .sf-c-txt-orchid\:15 { color: hsl(302, 59%, 85%) }
html[data-theme='dark'] .sf-c-txt-orchid\:20, html.dark .sf-c-txt-orchid\:20 { color: hsl(302, 59%, 80%) }
html[data-theme='dark'] .sf-c-txt-orchid\:25, html.dark .sf-c-txt-orchid\:25 { color: hsl(302, 59%, 75%) }
html[data-theme='dark'] .sf-c-txt-orchid\:30, html.dark .sf-c-txt-orchid\:30 { color: hsl(302, 59%, 70%) }
html[data-theme='dark'] .sf-c-txt-orchid\:35, html.dark .sf-c-txt-orchid\:35 { color: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-txt-orchid\:40, html.dark .sf-c-txt-orchid\:40 { color: hsl(302, 59%, 60%) }
html[data-theme='dark'] .sf-c-txt-orchid\:45, html.dark .sf-c-txt-orchid\:45 { color: hsl(302, 59%, 55%) }
html[data-theme='dark'] .sf-c-txt-orchid\:50, html.dark .sf-c-txt-orchid\:50 { color: hsl(302, 59%, 50%) }
html[data-theme='dark'] .sf-c-txt-orchid\:55, html.dark .sf-c-txt-orchid\:55 { color: hsl(302, 59%, 45%) }
html[data-theme='dark'] .sf-c-txt-orchid\:60, html.dark .sf-c-txt-orchid\:60 { color: hsl(302, 59%, 40%) }
html[data-theme='dark'] .sf-c-txt-orchid\:65, html.dark .sf-c-txt-orchid\:65 { color: hsl(302, 59%, 35%) }
html[data-theme='dark'] .sf-c-txt-orchid\:70, html.dark .sf-c-txt-orchid\:70 { color: hsl(302, 59%, 30%) }
html[data-theme='dark'] .sf-c-txt-orchid\:75, html.dark .sf-c-txt-orchid\:75 { color: hsl(302, 59%, 25%) }
html[data-theme='dark'] .sf-c-txt-orchid\:80, html.dark .sf-c-txt-orchid\:80 { color: hsl(302, 59%, 20%) }
html[data-theme='dark'] .sf-c-txt-orchid\:85, html.dark .sf-c-txt-orchid\:85 { color: hsl(302, 59%, 15%) }
html[data-theme='dark'] .sf-c-txt-orchid\:90, html.dark .sf-c-txt-orchid\:90 { color: hsl(302, 59%, 10%) }
html[data-theme='dark'] .sf-c-txt-orchid\:95, html.dark .sf-c-txt-orchid\:95 { color: hsl(302, 59%, 5%) }
html[data-theme='dark'] .sf-c-txt-orchid\:100, html.dark .sf-c-txt-orchid\:100 { color: hsl(302, 59%, 0%) }

html[data-theme='dark'] .sf-c-txt-orchid\:st, html.dark .sf-c-txt-orchid\:st { color: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-txt-orchid\:0\:st, html.dark .sf-c-txt-orchid\:0\:st { color: hsl(302, 59%, 0%) }
html[data-theme='dark'] .sf-c-txt-orchid\:5\:st, html.dark .sf-c-txt-orchid\:5\:st { color: hsl(302, 59%, 5%) }
html[data-theme='dark'] .sf-c-txt-orchid\:10\:st, html.dark .sf-c-txt-orchid\:10\:st { color: hsl(302, 59%, 10%) }
html[data-theme='dark'] .sf-c-txt-orchid\:15\:st, html.dark .sf-c-txt-orchid\:15\:st { color: hsl(302, 59%, 15%) }
html[data-theme='dark'] .sf-c-txt-orchid\:20\:st, html.dark .sf-c-txt-orchid\:20\:st { color: hsl(302, 59%, 20%) }
html[data-theme='dark'] .sf-c-txt-orchid\:25\:st, html.dark .sf-c-txt-orchid\:25\:st { color: hsl(302, 59%, 25%) }
html[data-theme='dark'] .sf-c-txt-orchid\:30\:st, html.dark .sf-c-txt-orchid\:30\:st { color: hsl(302, 59%, 30%) }
html[data-theme='dark'] .sf-c-txt-orchid\:35\:st, html.dark .sf-c-txt-orchid\:35\:st { color: hsl(302, 59%, 35%) }
html[data-theme='dark'] .sf-c-txt-orchid\:40\:st, html.dark .sf-c-txt-orchid\:40\:st { color: hsl(302, 59%, 40%) }
html[data-theme='dark'] .sf-c-txt-orchid\:45\:st, html.dark .sf-c-txt-orchid\:45\:st { color: hsl(302, 59%, 45%) }
html[data-theme='dark'] .sf-c-txt-orchid\:50\:st, html.dark .sf-c-txt-orchid\:50\:st { color: hsl(302, 59%, 50%) }
html[data-theme='dark'] .sf-c-txt-orchid\:55\:st, html.dark .sf-c-txt-orchid\:55\:st { color: hsl(302, 59%, 55%) }
html[data-theme='dark'] .sf-c-txt-orchid\:60\:st, html.dark .sf-c-txt-orchid\:60\:st { color: hsl(302, 59%, 60%) }
html[data-theme='dark'] .sf-c-txt-orchid\:65\:st, html.dark .sf-c-txt-orchid\:65\:st { color: hsl(302, 59%, 65%) }
html[data-theme='dark'] .sf-c-txt-orchid\:70\:st, html.dark .sf-c-txt-orchid\:70\:st { color: hsl(302, 59%, 70%) }
html[data-theme='dark'] .sf-c-txt-orchid\:75\:st, html.dark .sf-c-txt-orchid\:75\:st { color: hsl(302, 59%, 75%) }
html[data-theme='dark'] .sf-c-txt-orchid\:80\:st, html.dark .sf-c-txt-orchid\:80\:st { color: hsl(302, 59%, 80%) }
html[data-theme='dark'] .sf-c-txt-orchid\:85\:st, html.dark .sf-c-txt-orchid\:85\:st { color: hsl(302, 59%, 85%) }
html[data-theme='dark'] .sf-c-txt-orchid\:90\:st, html.dark .sf-c-txt-orchid\:90\:st { color: hsl(302, 59%, 90%) }
html[data-theme='dark'] .sf-c-txt-orchid\:95\:st, html.dark .sf-c-txt-orchid\:95\:st { color: hsl(302, 59%, 95%) }
html[data-theme='dark'] .sf-c-txt-orchid\:100\:st, html.dark .sf-c-txt-orchid\:100\:st { color: hsl(302, 59%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-orchid, html.auto .sf-c-orchid { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
  html[data-theme='auto'] .sf-c-orchid\:0, html.auto .sf-c-orchid\:0 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 100%) }
  html[data-theme='auto'] .sf-c-orchid\:5, html.auto .sf-c-orchid\:5 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 95%) }
  html[data-theme='auto'] .sf-c-orchid\:10, html.auto .sf-c-orchid\:10 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 90%) }
  html[data-theme='auto'] .sf-c-orchid\:15, html.auto .sf-c-orchid\:15 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 85%) }
  html[data-theme='auto'] .sf-c-orchid\:20, html.auto .sf-c-orchid\:20 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 80%) }
  html[data-theme='auto'] .sf-c-orchid\:25, html.auto .sf-c-orchid\:25 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 75%) }
  html[data-theme='auto'] .sf-c-orchid\:30, html.auto .sf-c-orchid\:30 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 70%) }
  html[data-theme='auto'] .sf-c-orchid\:35, html.auto .sf-c-orchid\:35 { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-orchid\:40, html.auto .sf-c-orchid\:40 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 60%) }
  html[data-theme='auto'] .sf-c-orchid\:45, html.auto .sf-c-orchid\:45 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 55%) }
  html[data-theme='auto'] .sf-c-orchid\:50, html.auto .sf-c-orchid\:50 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 50%) }
  html[data-theme='auto'] .sf-c-orchid\:55, html.auto .sf-c-orchid\:55 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 45%) }
  html[data-theme='auto'] .sf-c-orchid\:60, html.auto .sf-c-orchid\:60 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 40%) }
  html[data-theme='auto'] .sf-c-orchid\:65, html.auto .sf-c-orchid\:65 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
  html[data-theme='auto'] .sf-c-orchid\:70, html.auto .sf-c-orchid\:70 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 30%) }
  html[data-theme='auto'] .sf-c-orchid\:75, html.auto .sf-c-orchid\:75 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 25%) }
  html[data-theme='auto'] .sf-c-orchid\:80, html.auto .sf-c-orchid\:80 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 20%) }
  html[data-theme='auto'] .sf-c-orchid\:85, html.auto .sf-c-orchid\:85 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 15%) }
  html[data-theme='auto'] .sf-c-orchid\:90, html.auto .sf-c-orchid\:90 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 10%) }
  html[data-theme='auto'] .sf-c-orchid\:95, html.auto .sf-c-orchid\:95 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 5%) }
  html[data-theme='auto'] .sf-c-orchid\:100, html.auto .sf-c-orchid\:100 { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 0%) }

  html[data-theme='auto'] .sf-c-orchid\:st, html.auto .sf-c-orchid\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-orchid\:0\:st, html.auto .sf-c-orchid\:0\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 0%) }
  html[data-theme='auto'] .sf-c-orchid\:5\:st, html.auto .sf-c-orchid\:5\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 5%) }
  html[data-theme='auto'] .sf-c-orchid\:10\:st, html.auto .sf-c-orchid\:10\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 10%) }
  html[data-theme='auto'] .sf-c-orchid\:15\:st, html.auto .sf-c-orchid\:15\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 15%) }
  html[data-theme='auto'] .sf-c-orchid\:20\:st, html.auto .sf-c-orchid\:20\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 20%) }
  html[data-theme='auto'] .sf-c-orchid\:25\:st, html.auto .sf-c-orchid\:25\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 25%) }
  html[data-theme='auto'] .sf-c-orchid\:30\:st, html.auto .sf-c-orchid\:30\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 30%) }
  html[data-theme='auto'] .sf-c-orchid\:35\:st, html.auto .sf-c-orchid\:35\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 35%) }
  html[data-theme='auto'] .sf-c-orchid\:40\:st, html.auto .sf-c-orchid\:40\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 40%) }
  html[data-theme='auto'] .sf-c-orchid\:45\:st, html.auto .sf-c-orchid\:45\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 45%) }
  html[data-theme='auto'] .sf-c-orchid\:50\:st, html.auto .sf-c-orchid\:50\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 50%) }
  html[data-theme='auto'] .sf-c-orchid\:55\:st, html.auto .sf-c-orchid\:55\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 55%) }
  html[data-theme='auto'] .sf-c-orchid\:60\:st, html.auto .sf-c-orchid\:60\:st { color: hsl(302, 59%, 95%); background: hsl(302, 59%, 60%) }
  html[data-theme='auto'] .sf-c-orchid\:65\:st, html.auto .sf-c-orchid\:65\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-orchid\:70\:st, html.auto .sf-c-orchid\:70\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 70%) }
  html[data-theme='auto'] .sf-c-orchid\:75\:st, html.auto .sf-c-orchid\:75\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 75%) }
  html[data-theme='auto'] .sf-c-orchid\:80\:st, html.auto .sf-c-orchid\:80\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 80%) }
  html[data-theme='auto'] .sf-c-orchid\:85\:st, html.auto .sf-c-orchid\:85\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 85%) }
  html[data-theme='auto'] .sf-c-orchid\:90\:st, html.auto .sf-c-orchid\:90\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 90%) }
  html[data-theme='auto'] .sf-c-orchid\:95\:st, html.auto .sf-c-orchid\:95\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 95%) }
  html[data-theme='auto'] .sf-c-orchid\:100\:st, html.auto .sf-c-orchid\:100\:st { color: hsl(302, 59%, 5%); background: hsl(302, 59%, 100%) }

  html[data-theme='auto'] .sf-c-txt-orchid, html.auto .sf-c-txt-orchid { color: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:0, html.auto .sf-c-txt-orchid\:0 { color: hsl(302, 59%, 100%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:5, html.auto .sf-c-txt-orchid\:5 { color: hsl(302, 59%, 95%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:10, html.auto .sf-c-txt-orchid\:10 { color: hsl(302, 59%, 90%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:15, html.auto .sf-c-txt-orchid\:15 { color: hsl(302, 59%, 85%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:20, html.auto .sf-c-txt-orchid\:20 { color: hsl(302, 59%, 80%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:25, html.auto .sf-c-txt-orchid\:25 { color: hsl(302, 59%, 75%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:30, html.auto .sf-c-txt-orchid\:30 { color: hsl(302, 59%, 70%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:35, html.auto .sf-c-txt-orchid\:35 { color: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:40, html.auto .sf-c-txt-orchid\:40 { color: hsl(302, 59%, 60%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:45, html.auto .sf-c-txt-orchid\:45 { color: hsl(302, 59%, 55%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:50, html.auto .sf-c-txt-orchid\:50 { color: hsl(302, 59%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:55, html.auto .sf-c-txt-orchid\:55 { color: hsl(302, 59%, 45%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:60, html.auto .sf-c-txt-orchid\:60 { color: hsl(302, 59%, 40%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:65, html.auto .sf-c-txt-orchid\:65 { color: hsl(302, 59%, 35%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:70, html.auto .sf-c-txt-orchid\:70 { color: hsl(302, 59%, 30%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:75, html.auto .sf-c-txt-orchid\:75 { color: hsl(302, 59%, 25%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:80, html.auto .sf-c-txt-orchid\:80 { color: hsl(302, 59%, 20%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:85, html.auto .sf-c-txt-orchid\:85 { color: hsl(302, 59%, 15%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:90, html.auto .sf-c-txt-orchid\:90 { color: hsl(302, 59%, 10%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:95, html.auto .sf-c-txt-orchid\:95 { color: hsl(302, 59%, 5%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:100, html.auto .sf-c-txt-orchid\:100 { color: hsl(302, 59%, 0%) }

  html[data-theme='auto'] .sf-c-txt-orchid\:st, html.auto .sf-c-txt-orchid\:st { color: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:0\:st, html.auto .sf-c-txt-orchid\:0\:st { color: hsl(302, 59%, 0%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:5\:st, html.auto .sf-c-txt-orchid\:5\:st { color: hsl(302, 59%, 5%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:10\:st, html.auto .sf-c-txt-orchid\:10\:st { color: hsl(302, 59%, 10%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:15\:st, html.auto .sf-c-txt-orchid\:15\:st { color: hsl(302, 59%, 15%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:20\:st, html.auto .sf-c-txt-orchid\:20\:st { color: hsl(302, 59%, 20%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:25\:st, html.auto .sf-c-txt-orchid\:25\:st { color: hsl(302, 59%, 25%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:30\:st, html.auto .sf-c-txt-orchid\:30\:st { color: hsl(302, 59%, 30%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:35\:st, html.auto .sf-c-txt-orchid\:35\:st { color: hsl(302, 59%, 35%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:40\:st, html.auto .sf-c-txt-orchid\:40\:st { color: hsl(302, 59%, 40%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:45\:st, html.auto .sf-c-txt-orchid\:45\:st { color: hsl(302, 59%, 45%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:50\:st, html.auto .sf-c-txt-orchid\:50\:st { color: hsl(302, 59%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:55\:st, html.auto .sf-c-txt-orchid\:55\:st { color: hsl(302, 59%, 55%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:60\:st, html.auto .sf-c-txt-orchid\:60\:st { color: hsl(302, 59%, 60%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:65\:st, html.auto .sf-c-txt-orchid\:65\:st { color: hsl(302, 59%, 65%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:70\:st, html.auto .sf-c-txt-orchid\:70\:st { color: hsl(302, 59%, 70%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:75\:st, html.auto .sf-c-txt-orchid\:75\:st { color: hsl(302, 59%, 75%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:80\:st, html.auto .sf-c-txt-orchid\:80\:st { color: hsl(302, 59%, 80%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:85\:st, html.auto .sf-c-txt-orchid\:85\:st { color: hsl(302, 59%, 85%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:90\:st, html.auto .sf-c-txt-orchid\:90\:st { color: hsl(302, 59%, 90%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:95\:st, html.auto .sf-c-txt-orchid\:95\:st { color: hsl(302, 59%, 95%) }
  html[data-theme='auto'] .sf-c-txt-orchid\:100\:st, html.auto .sf-c-txt-orchid\:100\:st { color: hsl(302, 59%, 100%) }
}