.sf-var-peachpuff {
  --sf-c-peachpuff: 28 100% 86%;
  --sf-c-peachpuff-0: 28 100% 0%;
  --sf-c-peachpuff-5: 28 100% 5%;
  --sf-c-peachpuff-10: 28 100% 10%;
  --sf-c-peachpuff-15: 28 100% 15%;
  --sf-c-peachpuff-20: 28 100% 20%;
  --sf-c-peachpuff-25: 28 100% 25%;
  --sf-c-peachpuff-30: 28 100% 30%;
  --sf-c-peachpuff-35: 28 100% 35%;
  --sf-c-peachpuff-40: 28 100% 40%;
  --sf-c-peachpuff-45: 28 100% 45%;
  --sf-c-peachpuff-50: 28 100% 50%;
  --sf-c-peachpuff-55: 28 100% 55%;
  --sf-c-peachpuff-60: 28 100% 60%;
  --sf-c-peachpuff-65: 28 100% 65%;
  --sf-c-peachpuff-70: 28 100% 70%;
  --sf-c-peachpuff-75: 28 100% 75%;
  --sf-c-peachpuff-80: 28 100% 80%;
  --sf-c-peachpuff-85: 28 100% 85%;
  --sf-c-peachpuff-90: 28 100% 90%;
  --sf-c-peachpuff-95: 28 100% 95%;
  --sf-c-peachpuff-100: 28 100% 100%;
}

.sf-c-peachpuff, .sf-c-peachpuff\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 86%) }
.sf-c-peachpuff\:0, .sf-c-peachpuff\:0\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 0%) }
.sf-c-peachpuff\:5, .sf-c-peachpuff\:5\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 5%) }
.sf-c-peachpuff\:10, .sf-c-peachpuff\:10\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 10%) }
.sf-c-peachpuff\:15, .sf-c-peachpuff\:15\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 15%) }
.sf-c-peachpuff\:20, .sf-c-peachpuff\:20\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 20%) }
.sf-c-peachpuff\:25, .sf-c-peachpuff\:25\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 25%) }
.sf-c-peachpuff\:30, .sf-c-peachpuff\:30\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 30%) }
.sf-c-peachpuff\:35, .sf-c-peachpuff\:35\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 35%) }
.sf-c-peachpuff\:40, .sf-c-peachpuff\:40\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 40%) }
.sf-c-peachpuff\:45, .sf-c-peachpuff\:45\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 45%) }
.sf-c-peachpuff\:50, .sf-c-peachpuff\:50\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 50%) }
.sf-c-peachpuff\:55, .sf-c-peachpuff\:55\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 55%) }
.sf-c-peachpuff\:60, .sf-c-peachpuff\:60\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 60%) }
.sf-c-peachpuff\:65, .sf-c-peachpuff\:65\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 65%) }
.sf-c-peachpuff\:70, .sf-c-peachpuff\:70\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 70%) }
.sf-c-peachpuff\:75, .sf-c-peachpuff\:75\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 75%) }
.sf-c-peachpuff\:80, .sf-c-peachpuff\:80\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 80%) }
.sf-c-peachpuff\:85, .sf-c-peachpuff\:85\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 85%) }
.sf-c-peachpuff\:90, .sf-c-peachpuff\:90\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 90%) }
.sf-c-peachpuff\:95, .sf-c-peachpuff\:95\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 95%) }
.sf-c-peachpuff\:100, .sf-c-peachpuff\:100\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 100%) }

.sf-c-txt-peachpuff { color: hsl(28, 100%, 10%) }
.sf-c-txt-peachpuff\:st { color: hsl(28, 100%, 86%) }
.sf-c-txt-peachpuff\:0, .sf-c-txt-peachpuff\:0\:st { color: hsl(28, 100%, 0%) }
.sf-c-txt-peachpuff\:5, .sf-c-txt-peachpuff\:5\:st { color: hsl(28, 100%, 5%) }
.sf-c-txt-peachpuff\:10, .sf-c-txt-peachpuff\:10\:st { color: hsl(28, 100%, 10%) }
.sf-c-txt-peachpuff\:15, .sf-c-txt-peachpuff\:15\:st { color: hsl(28, 100%, 15%) }
.sf-c-txt-peachpuff\:20, .sf-c-txt-peachpuff\:20\:st { color: hsl(28, 100%, 20%) }
.sf-c-txt-peachpuff\:25, .sf-c-txt-peachpuff\:25\:st { color: hsl(28, 100%, 25%) }
.sf-c-txt-peachpuff\:30, .sf-c-txt-peachpuff\:30\:st { color: hsl(28, 100%, 30%) }
.sf-c-txt-peachpuff\:35, .sf-c-txt-peachpuff\:35\:st { color: hsl(28, 100%, 35%) }
.sf-c-txt-peachpuff\:40, .sf-c-txt-peachpuff\:40\:st { color: hsl(28, 100%, 40%) }
.sf-c-txt-peachpuff\:45, .sf-c-txt-peachpuff\:45\:st { color: hsl(28, 100%, 45%) }
.sf-c-txt-peachpuff\:50, .sf-c-txt-peachpuff\:50\:st { color: hsl(28, 100%, 50%) }
.sf-c-txt-peachpuff\:55, .sf-c-txt-peachpuff\:55\:st { color: hsl(28, 100%, 55%) }
.sf-c-txt-peachpuff\:60, .sf-c-txt-peachpuff\:60\:st { color: hsl(28, 100%, 60%) }
.sf-c-txt-peachpuff\:65, .sf-c-txt-peachpuff\:65\:st { color: hsl(28, 100%, 65%) }
.sf-c-txt-peachpuff\:70, .sf-c-txt-peachpuff\:70\:st { color: hsl(28, 100%, 70%) }
.sf-c-txt-peachpuff\:75, .sf-c-txt-peachpuff\:75\:st { color: hsl(28, 100%, 75%) }
.sf-c-txt-peachpuff\:80, .sf-c-txt-peachpuff\:80\:st { color: hsl(28, 100%, 80%) }
.sf-c-txt-peachpuff\:85, .sf-c-txt-peachpuff\:85\:st { color: hsl(28, 100%, 85%) }
.sf-c-txt-peachpuff\:90, .sf-c-txt-peachpuff\:90\:st { color: hsl(28, 100%, 90%) }
.sf-c-txt-peachpuff\:95, .sf-c-txt-peachpuff\:95\:st { color: hsl(28, 100%, 95%) }
.sf-c-txt-peachpuff\:100, .sf-c-txt-peachpuff\:100\:st { color: hsl(28, 100%, 100%) }

html[data-theme='dark'] .sf-c-peachpuff, html.dark .sf-c-peachpuff { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 14%) }
html[data-theme='dark'] .sf-c-peachpuff\:0, html.dark .sf-c-peachpuff\:0 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 100%) }
html[data-theme='dark'] .sf-c-peachpuff\:5, html.dark .sf-c-peachpuff\:5 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 95%) }
html[data-theme='dark'] .sf-c-peachpuff\:10, html.dark .sf-c-peachpuff\:10 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 90%) }
html[data-theme='dark'] .sf-c-peachpuff\:15, html.dark .sf-c-peachpuff\:15 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 85%) }
html[data-theme='dark'] .sf-c-peachpuff\:20, html.dark .sf-c-peachpuff\:20 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 80%) }
html[data-theme='dark'] .sf-c-peachpuff\:25, html.dark .sf-c-peachpuff\:25 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 75%) }
html[data-theme='dark'] .sf-c-peachpuff\:30, html.dark .sf-c-peachpuff\:30 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 70%) }
html[data-theme='dark'] .sf-c-peachpuff\:35, html.dark .sf-c-peachpuff\:35 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 65%) }
html[data-theme='dark'] .sf-c-peachpuff\:40, html.dark .sf-c-peachpuff\:40 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 60%) }
html[data-theme='dark'] .sf-c-peachpuff\:45, html.dark .sf-c-peachpuff\:45 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 55%) }
html[data-theme='dark'] .sf-c-peachpuff\:50, html.dark .sf-c-peachpuff\:50 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 50%) }
html[data-theme='dark'] .sf-c-peachpuff\:55, html.dark .sf-c-peachpuff\:55 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 45%) }
html[data-theme='dark'] .sf-c-peachpuff\:60, html.dark .sf-c-peachpuff\:60 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 40%) }
html[data-theme='dark'] .sf-c-peachpuff\:65, html.dark .sf-c-peachpuff\:65 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 35%) }
html[data-theme='dark'] .sf-c-peachpuff\:70, html.dark .sf-c-peachpuff\:70 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 30%) }
html[data-theme='dark'] .sf-c-peachpuff\:75, html.dark .sf-c-peachpuff\:75 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 25%) }
html[data-theme='dark'] .sf-c-peachpuff\:80, html.dark .sf-c-peachpuff\:80 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 20%) }
html[data-theme='dark'] .sf-c-peachpuff\:85, html.dark .sf-c-peachpuff\:85 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 15%) }
html[data-theme='dark'] .sf-c-peachpuff\:90, html.dark .sf-c-peachpuff\:90 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 10%) }
html[data-theme='dark'] .sf-c-peachpuff\:95, html.dark .sf-c-peachpuff\:95 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 5%) }
html[data-theme='dark'] .sf-c-peachpuff\:100, html.dark .sf-c-peachpuff\:100 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 0%) }

html[data-theme='dark'] .sf-c-peachpuff\:st, html.dark .sf-c-peachpuff\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 86%) }
html[data-theme='dark'] .sf-c-peachpuff\:0\:st, html.dark .sf-c-peachpuff\:0\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 0%) }
html[data-theme='dark'] .sf-c-peachpuff\:5\:st, html.dark .sf-c-peachpuff\:5\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 5%) }
html[data-theme='dark'] .sf-c-peachpuff\:10\:st, html.dark .sf-c-peachpuff\:10\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 10%) }
html[data-theme='dark'] .sf-c-peachpuff\:15\:st, html.dark .sf-c-peachpuff\:15\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 15%) }
html[data-theme='dark'] .sf-c-peachpuff\:20\:st, html.dark .sf-c-peachpuff\:20\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 20%) }
html[data-theme='dark'] .sf-c-peachpuff\:25\:st, html.dark .sf-c-peachpuff\:25\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 25%) }
html[data-theme='dark'] .sf-c-peachpuff\:30\:st, html.dark .sf-c-peachpuff\:30\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 30%) }
html[data-theme='dark'] .sf-c-peachpuff\:35\:st, html.dark .sf-c-peachpuff\:35\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 35%) }
html[data-theme='dark'] .sf-c-peachpuff\:40\:st, html.dark .sf-c-peachpuff\:40\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 40%) }
html[data-theme='dark'] .sf-c-peachpuff\:45\:st, html.dark .sf-c-peachpuff\:45\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 45%) }
html[data-theme='dark'] .sf-c-peachpuff\:50\:st, html.dark .sf-c-peachpuff\:50\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 50%) }
html[data-theme='dark'] .sf-c-peachpuff\:55\:st, html.dark .sf-c-peachpuff\:55\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 55%) }
html[data-theme='dark'] .sf-c-peachpuff\:60\:st, html.dark .sf-c-peachpuff\:60\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 60%) }
html[data-theme='dark'] .sf-c-peachpuff\:65\:st, html.dark .sf-c-peachpuff\:65\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 65%) }
html[data-theme='dark'] .sf-c-peachpuff\:70\:st, html.dark .sf-c-peachpuff\:70\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 70%) }
html[data-theme='dark'] .sf-c-peachpuff\:75\:st, html.dark .sf-c-peachpuff\:75\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 75%) }
html[data-theme='dark'] .sf-c-peachpuff\:80\:st, html.dark .sf-c-peachpuff\:80\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 80%) }
html[data-theme='dark'] .sf-c-peachpuff\:85\:st, html.dark .sf-c-peachpuff\:85\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 85%) }
html[data-theme='dark'] .sf-c-peachpuff\:90\:st, html.dark .sf-c-peachpuff\:90\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 90%) }
html[data-theme='dark'] .sf-c-peachpuff\:95\:st, html.dark .sf-c-peachpuff\:95\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 95%) }
html[data-theme='dark'] .sf-c-peachpuff\:100\:st, html.dark .sf-c-peachpuff\:100\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-peachpuff, html.dark .sf-c-txt-peachpuff { color: hsl(28, 100%, 86%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:0, html.dark .sf-c-txt-peachpuff\:0 { color: hsl(28, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:5, html.dark .sf-c-txt-peachpuff\:5 { color: hsl(28, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:10, html.dark .sf-c-txt-peachpuff\:10 { color: hsl(28, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:15, html.dark .sf-c-txt-peachpuff\:15 { color: hsl(28, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:20, html.dark .sf-c-txt-peachpuff\:20 { color: hsl(28, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:25, html.dark .sf-c-txt-peachpuff\:25 { color: hsl(28, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:30, html.dark .sf-c-txt-peachpuff\:30 { color: hsl(28, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:35, html.dark .sf-c-txt-peachpuff\:35 { color: hsl(28, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:40, html.dark .sf-c-txt-peachpuff\:40 { color: hsl(28, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:45, html.dark .sf-c-txt-peachpuff\:45 { color: hsl(28, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:50, html.dark .sf-c-txt-peachpuff\:50 { color: hsl(28, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:55, html.dark .sf-c-txt-peachpuff\:55 { color: hsl(28, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:60, html.dark .sf-c-txt-peachpuff\:60 { color: hsl(28, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:65, html.dark .sf-c-txt-peachpuff\:65 { color: hsl(28, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:70, html.dark .sf-c-txt-peachpuff\:70 { color: hsl(28, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:75, html.dark .sf-c-txt-peachpuff\:75 { color: hsl(28, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:80, html.dark .sf-c-txt-peachpuff\:80 { color: hsl(28, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:85, html.dark .sf-c-txt-peachpuff\:85 { color: hsl(28, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:90, html.dark .sf-c-txt-peachpuff\:90 { color: hsl(28, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:95, html.dark .sf-c-txt-peachpuff\:95 { color: hsl(28, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:100, html.dark .sf-c-txt-peachpuff\:100 { color: hsl(28, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-peachpuff\:st, html.dark .sf-c-txt-peachpuff\:st { color: hsl(28, 100%, 86%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:0\:st, html.dark .sf-c-txt-peachpuff\:0\:st { color: hsl(28, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:5\:st, html.dark .sf-c-txt-peachpuff\:5\:st { color: hsl(28, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:10\:st, html.dark .sf-c-txt-peachpuff\:10\:st { color: hsl(28, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:15\:st, html.dark .sf-c-txt-peachpuff\:15\:st { color: hsl(28, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:20\:st, html.dark .sf-c-txt-peachpuff\:20\:st { color: hsl(28, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:25\:st, html.dark .sf-c-txt-peachpuff\:25\:st { color: hsl(28, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:30\:st, html.dark .sf-c-txt-peachpuff\:30\:st { color: hsl(28, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:35\:st, html.dark .sf-c-txt-peachpuff\:35\:st { color: hsl(28, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:40\:st, html.dark .sf-c-txt-peachpuff\:40\:st { color: hsl(28, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:45\:st, html.dark .sf-c-txt-peachpuff\:45\:st { color: hsl(28, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:50\:st, html.dark .sf-c-txt-peachpuff\:50\:st { color: hsl(28, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:55\:st, html.dark .sf-c-txt-peachpuff\:55\:st { color: hsl(28, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:60\:st, html.dark .sf-c-txt-peachpuff\:60\:st { color: hsl(28, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:65\:st, html.dark .sf-c-txt-peachpuff\:65\:st { color: hsl(28, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:70\:st, html.dark .sf-c-txt-peachpuff\:70\:st { color: hsl(28, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:75\:st, html.dark .sf-c-txt-peachpuff\:75\:st { color: hsl(28, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:80\:st, html.dark .sf-c-txt-peachpuff\:80\:st { color: hsl(28, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:85\:st, html.dark .sf-c-txt-peachpuff\:85\:st { color: hsl(28, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:90\:st, html.dark .sf-c-txt-peachpuff\:90\:st { color: hsl(28, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:95\:st, html.dark .sf-c-txt-peachpuff\:95\:st { color: hsl(28, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-peachpuff\:100\:st, html.dark .sf-c-txt-peachpuff\:100\:st { color: hsl(28, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-peachpuff, html.auto .sf-c-peachpuff { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 14%) }
  html[data-theme='auto'] .sf-c-peachpuff\:0, html.auto .sf-c-peachpuff\:0 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 100%) }
  html[data-theme='auto'] .sf-c-peachpuff\:5, html.auto .sf-c-peachpuff\:5 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 95%) }
  html[data-theme='auto'] .sf-c-peachpuff\:10, html.auto .sf-c-peachpuff\:10 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 90%) }
  html[data-theme='auto'] .sf-c-peachpuff\:15, html.auto .sf-c-peachpuff\:15 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 85%) }
  html[data-theme='auto'] .sf-c-peachpuff\:20, html.auto .sf-c-peachpuff\:20 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 80%) }
  html[data-theme='auto'] .sf-c-peachpuff\:25, html.auto .sf-c-peachpuff\:25 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 75%) }
  html[data-theme='auto'] .sf-c-peachpuff\:30, html.auto .sf-c-peachpuff\:30 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 70%) }
  html[data-theme='auto'] .sf-c-peachpuff\:35, html.auto .sf-c-peachpuff\:35 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 65%) }
  html[data-theme='auto'] .sf-c-peachpuff\:40, html.auto .sf-c-peachpuff\:40 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 60%) }
  html[data-theme='auto'] .sf-c-peachpuff\:45, html.auto .sf-c-peachpuff\:45 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 55%) }
  html[data-theme='auto'] .sf-c-peachpuff\:50, html.auto .sf-c-peachpuff\:50 { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 50%) }
  html[data-theme='auto'] .sf-c-peachpuff\:55, html.auto .sf-c-peachpuff\:55 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 45%) }
  html[data-theme='auto'] .sf-c-peachpuff\:60, html.auto .sf-c-peachpuff\:60 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 40%) }
  html[data-theme='auto'] .sf-c-peachpuff\:65, html.auto .sf-c-peachpuff\:65 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 35%) }
  html[data-theme='auto'] .sf-c-peachpuff\:70, html.auto .sf-c-peachpuff\:70 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 30%) }
  html[data-theme='auto'] .sf-c-peachpuff\:75, html.auto .sf-c-peachpuff\:75 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 25%) }
  html[data-theme='auto'] .sf-c-peachpuff\:80, html.auto .sf-c-peachpuff\:80 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 20%) }
  html[data-theme='auto'] .sf-c-peachpuff\:85, html.auto .sf-c-peachpuff\:85 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 15%) }
  html[data-theme='auto'] .sf-c-peachpuff\:90, html.auto .sf-c-peachpuff\:90 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 10%) }
  html[data-theme='auto'] .sf-c-peachpuff\:95, html.auto .sf-c-peachpuff\:95 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 5%) }
  html[data-theme='auto'] .sf-c-peachpuff\:100, html.auto .sf-c-peachpuff\:100 { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 0%) }

  html[data-theme='auto'] .sf-c-peachpuff\:st, html.auto .sf-c-peachpuff\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 86%) }
  html[data-theme='auto'] .sf-c-peachpuff\:0\:st, html.auto .sf-c-peachpuff\:0\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 0%) }
  html[data-theme='auto'] .sf-c-peachpuff\:5\:st, html.auto .sf-c-peachpuff\:5\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 5%) }
  html[data-theme='auto'] .sf-c-peachpuff\:10\:st, html.auto .sf-c-peachpuff\:10\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 10%) }
  html[data-theme='auto'] .sf-c-peachpuff\:15\:st, html.auto .sf-c-peachpuff\:15\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 15%) }
  html[data-theme='auto'] .sf-c-peachpuff\:20\:st, html.auto .sf-c-peachpuff\:20\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 20%) }
  html[data-theme='auto'] .sf-c-peachpuff\:25\:st, html.auto .sf-c-peachpuff\:25\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 25%) }
  html[data-theme='auto'] .sf-c-peachpuff\:30\:st, html.auto .sf-c-peachpuff\:30\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 30%) }
  html[data-theme='auto'] .sf-c-peachpuff\:35\:st, html.auto .sf-c-peachpuff\:35\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 35%) }
  html[data-theme='auto'] .sf-c-peachpuff\:40\:st, html.auto .sf-c-peachpuff\:40\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 40%) }
  html[data-theme='auto'] .sf-c-peachpuff\:45\:st, html.auto .sf-c-peachpuff\:45\:st { color: hsl(28, 100%, 95%); background: hsl(28, 100%, 45%) }
  html[data-theme='auto'] .sf-c-peachpuff\:50\:st, html.auto .sf-c-peachpuff\:50\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 50%) }
  html[data-theme='auto'] .sf-c-peachpuff\:55\:st, html.auto .sf-c-peachpuff\:55\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 55%) }
  html[data-theme='auto'] .sf-c-peachpuff\:60\:st, html.auto .sf-c-peachpuff\:60\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 60%) }
  html[data-theme='auto'] .sf-c-peachpuff\:65\:st, html.auto .sf-c-peachpuff\:65\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 65%) }
  html[data-theme='auto'] .sf-c-peachpuff\:70\:st, html.auto .sf-c-peachpuff\:70\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 70%) }
  html[data-theme='auto'] .sf-c-peachpuff\:75\:st, html.auto .sf-c-peachpuff\:75\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 75%) }
  html[data-theme='auto'] .sf-c-peachpuff\:80\:st, html.auto .sf-c-peachpuff\:80\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 80%) }
  html[data-theme='auto'] .sf-c-peachpuff\:85\:st, html.auto .sf-c-peachpuff\:85\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 85%) }
  html[data-theme='auto'] .sf-c-peachpuff\:90\:st, html.auto .sf-c-peachpuff\:90\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 90%) }
  html[data-theme='auto'] .sf-c-peachpuff\:95\:st, html.auto .sf-c-peachpuff\:95\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 95%) }
  html[data-theme='auto'] .sf-c-peachpuff\:100\:st, html.auto .sf-c-peachpuff\:100\:st { color: hsl(28, 100%, 5%); background: hsl(28, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-peachpuff, html.auto .sf-c-txt-peachpuff { color: hsl(28, 100%, 86%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:0, html.auto .sf-c-txt-peachpuff\:0 { color: hsl(28, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:5, html.auto .sf-c-txt-peachpuff\:5 { color: hsl(28, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:10, html.auto .sf-c-txt-peachpuff\:10 { color: hsl(28, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:15, html.auto .sf-c-txt-peachpuff\:15 { color: hsl(28, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:20, html.auto .sf-c-txt-peachpuff\:20 { color: hsl(28, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:25, html.auto .sf-c-txt-peachpuff\:25 { color: hsl(28, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:30, html.auto .sf-c-txt-peachpuff\:30 { color: hsl(28, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:35, html.auto .sf-c-txt-peachpuff\:35 { color: hsl(28, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:40, html.auto .sf-c-txt-peachpuff\:40 { color: hsl(28, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:45, html.auto .sf-c-txt-peachpuff\:45 { color: hsl(28, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:50, html.auto .sf-c-txt-peachpuff\:50 { color: hsl(28, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:55, html.auto .sf-c-txt-peachpuff\:55 { color: hsl(28, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:60, html.auto .sf-c-txt-peachpuff\:60 { color: hsl(28, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:65, html.auto .sf-c-txt-peachpuff\:65 { color: hsl(28, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:70, html.auto .sf-c-txt-peachpuff\:70 { color: hsl(28, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:75, html.auto .sf-c-txt-peachpuff\:75 { color: hsl(28, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:80, html.auto .sf-c-txt-peachpuff\:80 { color: hsl(28, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:85, html.auto .sf-c-txt-peachpuff\:85 { color: hsl(28, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:90, html.auto .sf-c-txt-peachpuff\:90 { color: hsl(28, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:95, html.auto .sf-c-txt-peachpuff\:95 { color: hsl(28, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:100, html.auto .sf-c-txt-peachpuff\:100 { color: hsl(28, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-peachpuff\:st, html.auto .sf-c-txt-peachpuff\:st { color: hsl(28, 100%, 86%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:0\:st, html.auto .sf-c-txt-peachpuff\:0\:st { color: hsl(28, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:5\:st, html.auto .sf-c-txt-peachpuff\:5\:st { color: hsl(28, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:10\:st, html.auto .sf-c-txt-peachpuff\:10\:st { color: hsl(28, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:15\:st, html.auto .sf-c-txt-peachpuff\:15\:st { color: hsl(28, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:20\:st, html.auto .sf-c-txt-peachpuff\:20\:st { color: hsl(28, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:25\:st, html.auto .sf-c-txt-peachpuff\:25\:st { color: hsl(28, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:30\:st, html.auto .sf-c-txt-peachpuff\:30\:st { color: hsl(28, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:35\:st, html.auto .sf-c-txt-peachpuff\:35\:st { color: hsl(28, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:40\:st, html.auto .sf-c-txt-peachpuff\:40\:st { color: hsl(28, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:45\:st, html.auto .sf-c-txt-peachpuff\:45\:st { color: hsl(28, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:50\:st, html.auto .sf-c-txt-peachpuff\:50\:st { color: hsl(28, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:55\:st, html.auto .sf-c-txt-peachpuff\:55\:st { color: hsl(28, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:60\:st, html.auto .sf-c-txt-peachpuff\:60\:st { color: hsl(28, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:65\:st, html.auto .sf-c-txt-peachpuff\:65\:st { color: hsl(28, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:70\:st, html.auto .sf-c-txt-peachpuff\:70\:st { color: hsl(28, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:75\:st, html.auto .sf-c-txt-peachpuff\:75\:st { color: hsl(28, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:80\:st, html.auto .sf-c-txt-peachpuff\:80\:st { color: hsl(28, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:85\:st, html.auto .sf-c-txt-peachpuff\:85\:st { color: hsl(28, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:90\:st, html.auto .sf-c-txt-peachpuff\:90\:st { color: hsl(28, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:95\:st, html.auto .sf-c-txt-peachpuff\:95\:st { color: hsl(28, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-peachpuff\:100\:st, html.auto .sf-c-txt-peachpuff\:100\:st { color: hsl(28, 100%, 100%) }
}