.sf-var-seagreen {
  --sf-c-seagreen: 146 50% 36%;
  --sf-c-seagreen-0: 146 50% 0%;
  --sf-c-seagreen-5: 146 50% 5%;
  --sf-c-seagreen-10: 146 50% 10%;
  --sf-c-seagreen-15: 146 50% 15%;
  --sf-c-seagreen-20: 146 50% 20%;
  --sf-c-seagreen-25: 146 50% 25%;
  --sf-c-seagreen-30: 146 50% 30%;
  --sf-c-seagreen-35: 146 50% 35%;
  --sf-c-seagreen-40: 146 50% 40%;
  --sf-c-seagreen-45: 146 50% 45%;
  --sf-c-seagreen-50: 146 50% 50%;
  --sf-c-seagreen-55: 146 50% 55%;
  --sf-c-seagreen-60: 146 50% 60%;
  --sf-c-seagreen-65: 146 50% 65%;
  --sf-c-seagreen-70: 146 50% 70%;
  --sf-c-seagreen-75: 146 50% 75%;
  --sf-c-seagreen-80: 146 50% 80%;
  --sf-c-seagreen-85: 146 50% 85%;
  --sf-c-seagreen-90: 146 50% 90%;
  --sf-c-seagreen-95: 146 50% 95%;
  --sf-c-seagreen-100: 146 50% 100%;
}

.sf-c-seagreen, .sf-c-seagreen\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 36%) }
.sf-c-seagreen\:0, .sf-c-seagreen\:0\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 0%) }
.sf-c-seagreen\:5, .sf-c-seagreen\:5\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 5%) }
.sf-c-seagreen\:10, .sf-c-seagreen\:10\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 10%) }
.sf-c-seagreen\:15, .sf-c-seagreen\:15\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 15%) }
.sf-c-seagreen\:20, .sf-c-seagreen\:20\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 20%) }
.sf-c-seagreen\:25, .sf-c-seagreen\:25\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 25%) }
.sf-c-seagreen\:30, .sf-c-seagreen\:30\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 30%) }
.sf-c-seagreen\:35, .sf-c-seagreen\:35\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 35%) }
.sf-c-seagreen\:40, .sf-c-seagreen\:40\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 40%) }
.sf-c-seagreen\:45, .sf-c-seagreen\:45\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 45%) }
.sf-c-seagreen\:50, .sf-c-seagreen\:50\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 50%) }
.sf-c-seagreen\:55, .sf-c-seagreen\:55\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 55%) }
.sf-c-seagreen\:60, .sf-c-seagreen\:60\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 60%) }
.sf-c-seagreen\:65, .sf-c-seagreen\:65\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 65%) }
.sf-c-seagreen\:70, .sf-c-seagreen\:70\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 70%) }
.sf-c-seagreen\:75, .sf-c-seagreen\:75\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 75%) }
.sf-c-seagreen\:80, .sf-c-seagreen\:80\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 80%) }
.sf-c-seagreen\:85, .sf-c-seagreen\:85\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 85%) }
.sf-c-seagreen\:90, .sf-c-seagreen\:90\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 90%) }
.sf-c-seagreen\:95, .sf-c-seagreen\:95\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 95%) }
.sf-c-seagreen\:100, .sf-c-seagreen\:100\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 100%) }

.sf-c-txt-seagreen { color: hsl(146, 50%, 36%) }
.sf-c-txt-seagreen\:st { color: hsl(146, 50%, 36%) }
.sf-c-txt-seagreen\:0, .sf-c-txt-seagreen\:0\:st { color: hsl(146, 50%, 0%) }
.sf-c-txt-seagreen\:5, .sf-c-txt-seagreen\:5\:st { color: hsl(146, 50%, 5%) }
.sf-c-txt-seagreen\:10, .sf-c-txt-seagreen\:10\:st { color: hsl(146, 50%, 10%) }
.sf-c-txt-seagreen\:15, .sf-c-txt-seagreen\:15\:st { color: hsl(146, 50%, 15%) }
.sf-c-txt-seagreen\:20, .sf-c-txt-seagreen\:20\:st { color: hsl(146, 50%, 20%) }
.sf-c-txt-seagreen\:25, .sf-c-txt-seagreen\:25\:st { color: hsl(146, 50%, 25%) }
.sf-c-txt-seagreen\:30, .sf-c-txt-seagreen\:30\:st { color: hsl(146, 50%, 30%) }
.sf-c-txt-seagreen\:35, .sf-c-txt-seagreen\:35\:st { color: hsl(146, 50%, 35%) }
.sf-c-txt-seagreen\:40, .sf-c-txt-seagreen\:40\:st { color: hsl(146, 50%, 40%) }
.sf-c-txt-seagreen\:45, .sf-c-txt-seagreen\:45\:st { color: hsl(146, 50%, 45%) }
.sf-c-txt-seagreen\:50, .sf-c-txt-seagreen\:50\:st { color: hsl(146, 50%, 50%) }
.sf-c-txt-seagreen\:55, .sf-c-txt-seagreen\:55\:st { color: hsl(146, 50%, 55%) }
.sf-c-txt-seagreen\:60, .sf-c-txt-seagreen\:60\:st { color: hsl(146, 50%, 60%) }
.sf-c-txt-seagreen\:65, .sf-c-txt-seagreen\:65\:st { color: hsl(146, 50%, 65%) }
.sf-c-txt-seagreen\:70, .sf-c-txt-seagreen\:70\:st { color: hsl(146, 50%, 70%) }
.sf-c-txt-seagreen\:75, .sf-c-txt-seagreen\:75\:st { color: hsl(146, 50%, 75%) }
.sf-c-txt-seagreen\:80, .sf-c-txt-seagreen\:80\:st { color: hsl(146, 50%, 80%) }
.sf-c-txt-seagreen\:85, .sf-c-txt-seagreen\:85\:st { color: hsl(146, 50%, 85%) }
.sf-c-txt-seagreen\:90, .sf-c-txt-seagreen\:90\:st { color: hsl(146, 50%, 90%) }
.sf-c-txt-seagreen\:95, .sf-c-txt-seagreen\:95\:st { color: hsl(146, 50%, 95%) }
.sf-c-txt-seagreen\:100, .sf-c-txt-seagreen\:100\:st { color: hsl(146, 50%, 100%) }

html[data-theme='dark'] .sf-c-seagreen, html.dark .sf-c-seagreen { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 64%) }
html[data-theme='dark'] .sf-c-seagreen\:0, html.dark .sf-c-seagreen\:0 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 100%) }
html[data-theme='dark'] .sf-c-seagreen\:5, html.dark .sf-c-seagreen\:5 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 95%) }
html[data-theme='dark'] .sf-c-seagreen\:10, html.dark .sf-c-seagreen\:10 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 90%) }
html[data-theme='dark'] .sf-c-seagreen\:15, html.dark .sf-c-seagreen\:15 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 85%) }
html[data-theme='dark'] .sf-c-seagreen\:20, html.dark .sf-c-seagreen\:20 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 80%) }
html[data-theme='dark'] .sf-c-seagreen\:25, html.dark .sf-c-seagreen\:25 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 75%) }
html[data-theme='dark'] .sf-c-seagreen\:30, html.dark .sf-c-seagreen\:30 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 70%) }
html[data-theme='dark'] .sf-c-seagreen\:35, html.dark .sf-c-seagreen\:35 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 65%) }
html[data-theme='dark'] .sf-c-seagreen\:40, html.dark .sf-c-seagreen\:40 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 60%) }
html[data-theme='dark'] .sf-c-seagreen\:45, html.dark .sf-c-seagreen\:45 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 55%) }
html[data-theme='dark'] .sf-c-seagreen\:50, html.dark .sf-c-seagreen\:50 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 50%) }
html[data-theme='dark'] .sf-c-seagreen\:55, html.dark .sf-c-seagreen\:55 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 45%) }
html[data-theme='dark'] .sf-c-seagreen\:60, html.dark .sf-c-seagreen\:60 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 40%) }
html[data-theme='dark'] .sf-c-seagreen\:65, html.dark .sf-c-seagreen\:65 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 35%) }
html[data-theme='dark'] .sf-c-seagreen\:70, html.dark .sf-c-seagreen\:70 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 30%) }
html[data-theme='dark'] .sf-c-seagreen\:75, html.dark .sf-c-seagreen\:75 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 25%) }
html[data-theme='dark'] .sf-c-seagreen\:80, html.dark .sf-c-seagreen\:80 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 20%) }
html[data-theme='dark'] .sf-c-seagreen\:85, html.dark .sf-c-seagreen\:85 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 15%) }
html[data-theme='dark'] .sf-c-seagreen\:90, html.dark .sf-c-seagreen\:90 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 10%) }
html[data-theme='dark'] .sf-c-seagreen\:95, html.dark .sf-c-seagreen\:95 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 5%) }
html[data-theme='dark'] .sf-c-seagreen\:100, html.dark .sf-c-seagreen\:100 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 0%) }

html[data-theme='dark'] .sf-c-seagreen\:st, html.dark .sf-c-seagreen\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 36%) }
html[data-theme='dark'] .sf-c-seagreen\:0\:st, html.dark .sf-c-seagreen\:0\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 0%) }
html[data-theme='dark'] .sf-c-seagreen\:5\:st, html.dark .sf-c-seagreen\:5\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 5%) }
html[data-theme='dark'] .sf-c-seagreen\:10\:st, html.dark .sf-c-seagreen\:10\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 10%) }
html[data-theme='dark'] .sf-c-seagreen\:15\:st, html.dark .sf-c-seagreen\:15\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 15%) }
html[data-theme='dark'] .sf-c-seagreen\:20\:st, html.dark .sf-c-seagreen\:20\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 20%) }
html[data-theme='dark'] .sf-c-seagreen\:25\:st, html.dark .sf-c-seagreen\:25\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 25%) }
html[data-theme='dark'] .sf-c-seagreen\:30\:st, html.dark .sf-c-seagreen\:30\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 30%) }
html[data-theme='dark'] .sf-c-seagreen\:35\:st, html.dark .sf-c-seagreen\:35\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 35%) }
html[data-theme='dark'] .sf-c-seagreen\:40\:st, html.dark .sf-c-seagreen\:40\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 40%) }
html[data-theme='dark'] .sf-c-seagreen\:45\:st, html.dark .sf-c-seagreen\:45\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 45%) }
html[data-theme='dark'] .sf-c-seagreen\:50\:st, html.dark .sf-c-seagreen\:50\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 50%) }
html[data-theme='dark'] .sf-c-seagreen\:55\:st, html.dark .sf-c-seagreen\:55\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 55%) }
html[data-theme='dark'] .sf-c-seagreen\:60\:st, html.dark .sf-c-seagreen\:60\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 60%) }
html[data-theme='dark'] .sf-c-seagreen\:65\:st, html.dark .sf-c-seagreen\:65\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 65%) }
html[data-theme='dark'] .sf-c-seagreen\:70\:st, html.dark .sf-c-seagreen\:70\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 70%) }
html[data-theme='dark'] .sf-c-seagreen\:75\:st, html.dark .sf-c-seagreen\:75\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 75%) }
html[data-theme='dark'] .sf-c-seagreen\:80\:st, html.dark .sf-c-seagreen\:80\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 80%) }
html[data-theme='dark'] .sf-c-seagreen\:85\:st, html.dark .sf-c-seagreen\:85\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 85%) }
html[data-theme='dark'] .sf-c-seagreen\:90\:st, html.dark .sf-c-seagreen\:90\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 90%) }
html[data-theme='dark'] .sf-c-seagreen\:95\:st, html.dark .sf-c-seagreen\:95\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 95%) }
html[data-theme='dark'] .sf-c-seagreen\:100\:st, html.dark .sf-c-seagreen\:100\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 100%) }

html[data-theme='dark'] .sf-c-txt-seagreen, html.dark .sf-c-txt-seagreen { color: hsl(146, 50%, 64%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:0, html.dark .sf-c-txt-seagreen\:0 { color: hsl(146, 50%, 100%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:5, html.dark .sf-c-txt-seagreen\:5 { color: hsl(146, 50%, 95%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:10, html.dark .sf-c-txt-seagreen\:10 { color: hsl(146, 50%, 90%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:15, html.dark .sf-c-txt-seagreen\:15 { color: hsl(146, 50%, 85%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:20, html.dark .sf-c-txt-seagreen\:20 { color: hsl(146, 50%, 80%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:25, html.dark .sf-c-txt-seagreen\:25 { color: hsl(146, 50%, 75%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:30, html.dark .sf-c-txt-seagreen\:30 { color: hsl(146, 50%, 70%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:35, html.dark .sf-c-txt-seagreen\:35 { color: hsl(146, 50%, 65%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:40, html.dark .sf-c-txt-seagreen\:40 { color: hsl(146, 50%, 60%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:45, html.dark .sf-c-txt-seagreen\:45 { color: hsl(146, 50%, 55%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:50, html.dark .sf-c-txt-seagreen\:50 { color: hsl(146, 50%, 50%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:55, html.dark .sf-c-txt-seagreen\:55 { color: hsl(146, 50%, 45%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:60, html.dark .sf-c-txt-seagreen\:60 { color: hsl(146, 50%, 40%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:65, html.dark .sf-c-txt-seagreen\:65 { color: hsl(146, 50%, 35%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:70, html.dark .sf-c-txt-seagreen\:70 { color: hsl(146, 50%, 30%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:75, html.dark .sf-c-txt-seagreen\:75 { color: hsl(146, 50%, 25%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:80, html.dark .sf-c-txt-seagreen\:80 { color: hsl(146, 50%, 20%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:85, html.dark .sf-c-txt-seagreen\:85 { color: hsl(146, 50%, 15%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:90, html.dark .sf-c-txt-seagreen\:90 { color: hsl(146, 50%, 10%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:95, html.dark .sf-c-txt-seagreen\:95 { color: hsl(146, 50%, 5%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:100, html.dark .sf-c-txt-seagreen\:100 { color: hsl(146, 50%, 0%) }

html[data-theme='dark'] .sf-c-txt-seagreen\:st, html.dark .sf-c-txt-seagreen\:st { color: hsl(146, 50%, 36%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:0\:st, html.dark .sf-c-txt-seagreen\:0\:st { color: hsl(146, 50%, 0%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:5\:st, html.dark .sf-c-txt-seagreen\:5\:st { color: hsl(146, 50%, 5%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:10\:st, html.dark .sf-c-txt-seagreen\:10\:st { color: hsl(146, 50%, 10%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:15\:st, html.dark .sf-c-txt-seagreen\:15\:st { color: hsl(146, 50%, 15%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:20\:st, html.dark .sf-c-txt-seagreen\:20\:st { color: hsl(146, 50%, 20%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:25\:st, html.dark .sf-c-txt-seagreen\:25\:st { color: hsl(146, 50%, 25%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:30\:st, html.dark .sf-c-txt-seagreen\:30\:st { color: hsl(146, 50%, 30%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:35\:st, html.dark .sf-c-txt-seagreen\:35\:st { color: hsl(146, 50%, 35%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:40\:st, html.dark .sf-c-txt-seagreen\:40\:st { color: hsl(146, 50%, 40%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:45\:st, html.dark .sf-c-txt-seagreen\:45\:st { color: hsl(146, 50%, 45%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:50\:st, html.dark .sf-c-txt-seagreen\:50\:st { color: hsl(146, 50%, 50%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:55\:st, html.dark .sf-c-txt-seagreen\:55\:st { color: hsl(146, 50%, 55%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:60\:st, html.dark .sf-c-txt-seagreen\:60\:st { color: hsl(146, 50%, 60%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:65\:st, html.dark .sf-c-txt-seagreen\:65\:st { color: hsl(146, 50%, 65%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:70\:st, html.dark .sf-c-txt-seagreen\:70\:st { color: hsl(146, 50%, 70%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:75\:st, html.dark .sf-c-txt-seagreen\:75\:st { color: hsl(146, 50%, 75%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:80\:st, html.dark .sf-c-txt-seagreen\:80\:st { color: hsl(146, 50%, 80%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:85\:st, html.dark .sf-c-txt-seagreen\:85\:st { color: hsl(146, 50%, 85%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:90\:st, html.dark .sf-c-txt-seagreen\:90\:st { color: hsl(146, 50%, 90%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:95\:st, html.dark .sf-c-txt-seagreen\:95\:st { color: hsl(146, 50%, 95%) }
html[data-theme='dark'] .sf-c-txt-seagreen\:100\:st, html.dark .sf-c-txt-seagreen\:100\:st { color: hsl(146, 50%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-seagreen, html.auto .sf-c-seagreen { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 64%) }
  html[data-theme='auto'] .sf-c-seagreen\:0, html.auto .sf-c-seagreen\:0 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 100%) }
  html[data-theme='auto'] .sf-c-seagreen\:5, html.auto .sf-c-seagreen\:5 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 95%) }
  html[data-theme='auto'] .sf-c-seagreen\:10, html.auto .sf-c-seagreen\:10 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 90%) }
  html[data-theme='auto'] .sf-c-seagreen\:15, html.auto .sf-c-seagreen\:15 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 85%) }
  html[data-theme='auto'] .sf-c-seagreen\:20, html.auto .sf-c-seagreen\:20 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 80%) }
  html[data-theme='auto'] .sf-c-seagreen\:25, html.auto .sf-c-seagreen\:25 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 75%) }
  html[data-theme='auto'] .sf-c-seagreen\:30, html.auto .sf-c-seagreen\:30 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 70%) }
  html[data-theme='auto'] .sf-c-seagreen\:35, html.auto .sf-c-seagreen\:35 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 65%) }
  html[data-theme='auto'] .sf-c-seagreen\:40, html.auto .sf-c-seagreen\:40 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 60%) }
  html[data-theme='auto'] .sf-c-seagreen\:45, html.auto .sf-c-seagreen\:45 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 55%) }
  html[data-theme='auto'] .sf-c-seagreen\:50, html.auto .sf-c-seagreen\:50 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 50%) }
  html[data-theme='auto'] .sf-c-seagreen\:55, html.auto .sf-c-seagreen\:55 { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 45%) }
  html[data-theme='auto'] .sf-c-seagreen\:60, html.auto .sf-c-seagreen\:60 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 40%) }
  html[data-theme='auto'] .sf-c-seagreen\:65, html.auto .sf-c-seagreen\:65 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 35%) }
  html[data-theme='auto'] .sf-c-seagreen\:70, html.auto .sf-c-seagreen\:70 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 30%) }
  html[data-theme='auto'] .sf-c-seagreen\:75, html.auto .sf-c-seagreen\:75 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 25%) }
  html[data-theme='auto'] .sf-c-seagreen\:80, html.auto .sf-c-seagreen\:80 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 20%) }
  html[data-theme='auto'] .sf-c-seagreen\:85, html.auto .sf-c-seagreen\:85 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 15%) }
  html[data-theme='auto'] .sf-c-seagreen\:90, html.auto .sf-c-seagreen\:90 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 10%) }
  html[data-theme='auto'] .sf-c-seagreen\:95, html.auto .sf-c-seagreen\:95 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 5%) }
  html[data-theme='auto'] .sf-c-seagreen\:100, html.auto .sf-c-seagreen\:100 { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 0%) }

  html[data-theme='auto'] .sf-c-seagreen\:st, html.auto .sf-c-seagreen\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 36%) }
  html[data-theme='auto'] .sf-c-seagreen\:0\:st, html.auto .sf-c-seagreen\:0\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 0%) }
  html[data-theme='auto'] .sf-c-seagreen\:5\:st, html.auto .sf-c-seagreen\:5\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 5%) }
  html[data-theme='auto'] .sf-c-seagreen\:10\:st, html.auto .sf-c-seagreen\:10\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 10%) }
  html[data-theme='auto'] .sf-c-seagreen\:15\:st, html.auto .sf-c-seagreen\:15\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 15%) }
  html[data-theme='auto'] .sf-c-seagreen\:20\:st, html.auto .sf-c-seagreen\:20\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 20%) }
  html[data-theme='auto'] .sf-c-seagreen\:25\:st, html.auto .sf-c-seagreen\:25\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 25%) }
  html[data-theme='auto'] .sf-c-seagreen\:30\:st, html.auto .sf-c-seagreen\:30\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 30%) }
  html[data-theme='auto'] .sf-c-seagreen\:35\:st, html.auto .sf-c-seagreen\:35\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 35%) }
  html[data-theme='auto'] .sf-c-seagreen\:40\:st, html.auto .sf-c-seagreen\:40\:st { color: hsl(146, 50%, 95%); background: hsl(146, 50%, 40%) }
  html[data-theme='auto'] .sf-c-seagreen\:45\:st, html.auto .sf-c-seagreen\:45\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 45%) }
  html[data-theme='auto'] .sf-c-seagreen\:50\:st, html.auto .sf-c-seagreen\:50\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 50%) }
  html[data-theme='auto'] .sf-c-seagreen\:55\:st, html.auto .sf-c-seagreen\:55\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 55%) }
  html[data-theme='auto'] .sf-c-seagreen\:60\:st, html.auto .sf-c-seagreen\:60\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 60%) }
  html[data-theme='auto'] .sf-c-seagreen\:65\:st, html.auto .sf-c-seagreen\:65\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 65%) }
  html[data-theme='auto'] .sf-c-seagreen\:70\:st, html.auto .sf-c-seagreen\:70\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 70%) }
  html[data-theme='auto'] .sf-c-seagreen\:75\:st, html.auto .sf-c-seagreen\:75\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 75%) }
  html[data-theme='auto'] .sf-c-seagreen\:80\:st, html.auto .sf-c-seagreen\:80\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 80%) }
  html[data-theme='auto'] .sf-c-seagreen\:85\:st, html.auto .sf-c-seagreen\:85\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 85%) }
  html[data-theme='auto'] .sf-c-seagreen\:90\:st, html.auto .sf-c-seagreen\:90\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 90%) }
  html[data-theme='auto'] .sf-c-seagreen\:95\:st, html.auto .sf-c-seagreen\:95\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 95%) }
  html[data-theme='auto'] .sf-c-seagreen\:100\:st, html.auto .sf-c-seagreen\:100\:st { color: hsl(146, 50%, 5%); background: hsl(146, 50%, 100%) }

  html[data-theme='auto'] .sf-c-txt-seagreen, html.auto .sf-c-txt-seagreen { color: hsl(146, 50%, 64%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:0, html.auto .sf-c-txt-seagreen\:0 { color: hsl(146, 50%, 100%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:5, html.auto .sf-c-txt-seagreen\:5 { color: hsl(146, 50%, 95%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:10, html.auto .sf-c-txt-seagreen\:10 { color: hsl(146, 50%, 90%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:15, html.auto .sf-c-txt-seagreen\:15 { color: hsl(146, 50%, 85%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:20, html.auto .sf-c-txt-seagreen\:20 { color: hsl(146, 50%, 80%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:25, html.auto .sf-c-txt-seagreen\:25 { color: hsl(146, 50%, 75%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:30, html.auto .sf-c-txt-seagreen\:30 { color: hsl(146, 50%, 70%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:35, html.auto .sf-c-txt-seagreen\:35 { color: hsl(146, 50%, 65%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:40, html.auto .sf-c-txt-seagreen\:40 { color: hsl(146, 50%, 60%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:45, html.auto .sf-c-txt-seagreen\:45 { color: hsl(146, 50%, 55%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:50, html.auto .sf-c-txt-seagreen\:50 { color: hsl(146, 50%, 50%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:55, html.auto .sf-c-txt-seagreen\:55 { color: hsl(146, 50%, 45%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:60, html.auto .sf-c-txt-seagreen\:60 { color: hsl(146, 50%, 40%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:65, html.auto .sf-c-txt-seagreen\:65 { color: hsl(146, 50%, 35%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:70, html.auto .sf-c-txt-seagreen\:70 { color: hsl(146, 50%, 30%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:75, html.auto .sf-c-txt-seagreen\:75 { color: hsl(146, 50%, 25%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:80, html.auto .sf-c-txt-seagreen\:80 { color: hsl(146, 50%, 20%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:85, html.auto .sf-c-txt-seagreen\:85 { color: hsl(146, 50%, 15%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:90, html.auto .sf-c-txt-seagreen\:90 { color: hsl(146, 50%, 10%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:95, html.auto .sf-c-txt-seagreen\:95 { color: hsl(146, 50%, 5%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:100, html.auto .sf-c-txt-seagreen\:100 { color: hsl(146, 50%, 0%) }

  html[data-theme='auto'] .sf-c-txt-seagreen\:st, html.auto .sf-c-txt-seagreen\:st { color: hsl(146, 50%, 36%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:0\:st, html.auto .sf-c-txt-seagreen\:0\:st { color: hsl(146, 50%, 0%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:5\:st, html.auto .sf-c-txt-seagreen\:5\:st { color: hsl(146, 50%, 5%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:10\:st, html.auto .sf-c-txt-seagreen\:10\:st { color: hsl(146, 50%, 10%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:15\:st, html.auto .sf-c-txt-seagreen\:15\:st { color: hsl(146, 50%, 15%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:20\:st, html.auto .sf-c-txt-seagreen\:20\:st { color: hsl(146, 50%, 20%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:25\:st, html.auto .sf-c-txt-seagreen\:25\:st { color: hsl(146, 50%, 25%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:30\:st, html.auto .sf-c-txt-seagreen\:30\:st { color: hsl(146, 50%, 30%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:35\:st, html.auto .sf-c-txt-seagreen\:35\:st { color: hsl(146, 50%, 35%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:40\:st, html.auto .sf-c-txt-seagreen\:40\:st { color: hsl(146, 50%, 40%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:45\:st, html.auto .sf-c-txt-seagreen\:45\:st { color: hsl(146, 50%, 45%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:50\:st, html.auto .sf-c-txt-seagreen\:50\:st { color: hsl(146, 50%, 50%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:55\:st, html.auto .sf-c-txt-seagreen\:55\:st { color: hsl(146, 50%, 55%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:60\:st, html.auto .sf-c-txt-seagreen\:60\:st { color: hsl(146, 50%, 60%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:65\:st, html.auto .sf-c-txt-seagreen\:65\:st { color: hsl(146, 50%, 65%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:70\:st, html.auto .sf-c-txt-seagreen\:70\:st { color: hsl(146, 50%, 70%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:75\:st, html.auto .sf-c-txt-seagreen\:75\:st { color: hsl(146, 50%, 75%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:80\:st, html.auto .sf-c-txt-seagreen\:80\:st { color: hsl(146, 50%, 80%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:85\:st, html.auto .sf-c-txt-seagreen\:85\:st { color: hsl(146, 50%, 85%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:90\:st, html.auto .sf-c-txt-seagreen\:90\:st { color: hsl(146, 50%, 90%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:95\:st, html.auto .sf-c-txt-seagreen\:95\:st { color: hsl(146, 50%, 95%) }
  html[data-theme='auto'] .sf-c-txt-seagreen\:100\:st, html.auto .sf-c-txt-seagreen\:100\:st { color: hsl(146, 50%, 100%) }
}