.sf-var-seashell {
  --sf-c-seashell: 25 100% 97%;
  --sf-c-seashell-0: 25 100% 0%;
  --sf-c-seashell-5: 25 100% 5%;
  --sf-c-seashell-10: 25 100% 10%;
  --sf-c-seashell-15: 25 100% 15%;
  --sf-c-seashell-20: 25 100% 20%;
  --sf-c-seashell-25: 25 100% 25%;
  --sf-c-seashell-30: 25 100% 30%;
  --sf-c-seashell-35: 25 100% 35%;
  --sf-c-seashell-40: 25 100% 40%;
  --sf-c-seashell-45: 25 100% 45%;
  --sf-c-seashell-50: 25 100% 50%;
  --sf-c-seashell-55: 25 100% 55%;
  --sf-c-seashell-60: 25 100% 60%;
  --sf-c-seashell-65: 25 100% 65%;
  --sf-c-seashell-70: 25 100% 70%;
  --sf-c-seashell-75: 25 100% 75%;
  --sf-c-seashell-80: 25 100% 80%;
  --sf-c-seashell-85: 25 100% 85%;
  --sf-c-seashell-90: 25 100% 90%;
  --sf-c-seashell-95: 25 100% 95%;
  --sf-c-seashell-100: 25 100% 100%;
}

.sf-c-seashell, .sf-c-seashell\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 97%) }
.sf-c-seashell\:0, .sf-c-seashell\:0\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 0%) }
.sf-c-seashell\:5, .sf-c-seashell\:5\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 5%) }
.sf-c-seashell\:10, .sf-c-seashell\:10\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 10%) }
.sf-c-seashell\:15, .sf-c-seashell\:15\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 15%) }
.sf-c-seashell\:20, .sf-c-seashell\:20\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 20%) }
.sf-c-seashell\:25, .sf-c-seashell\:25\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 25%) }
.sf-c-seashell\:30, .sf-c-seashell\:30\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 30%) }
.sf-c-seashell\:35, .sf-c-seashell\:35\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 35%) }
.sf-c-seashell\:40, .sf-c-seashell\:40\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 40%) }
.sf-c-seashell\:45, .sf-c-seashell\:45\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 45%) }
.sf-c-seashell\:50, .sf-c-seashell\:50\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 50%) }
.sf-c-seashell\:55, .sf-c-seashell\:55\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 55%) }
.sf-c-seashell\:60, .sf-c-seashell\:60\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 60%) }
.sf-c-seashell\:65, .sf-c-seashell\:65\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 65%) }
.sf-c-seashell\:70, .sf-c-seashell\:70\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 70%) }
.sf-c-seashell\:75, .sf-c-seashell\:75\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 75%) }
.sf-c-seashell\:80, .sf-c-seashell\:80\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 80%) }
.sf-c-seashell\:85, .sf-c-seashell\:85\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 85%) }
.sf-c-seashell\:90, .sf-c-seashell\:90\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 90%) }
.sf-c-seashell\:95, .sf-c-seashell\:95\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 95%) }
.sf-c-seashell\:100, .sf-c-seashell\:100\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 100%) }

.sf-c-txt-seashell { color: hsl(25, 100%, 10%) }
.sf-c-txt-seashell\:st { color: hsl(25, 100%, 97%) }
.sf-c-txt-seashell\:0, .sf-c-txt-seashell\:0\:st { color: hsl(25, 100%, 0%) }
.sf-c-txt-seashell\:5, .sf-c-txt-seashell\:5\:st { color: hsl(25, 100%, 5%) }
.sf-c-txt-seashell\:10, .sf-c-txt-seashell\:10\:st { color: hsl(25, 100%, 10%) }
.sf-c-txt-seashell\:15, .sf-c-txt-seashell\:15\:st { color: hsl(25, 100%, 15%) }
.sf-c-txt-seashell\:20, .sf-c-txt-seashell\:20\:st { color: hsl(25, 100%, 20%) }
.sf-c-txt-seashell\:25, .sf-c-txt-seashell\:25\:st { color: hsl(25, 100%, 25%) }
.sf-c-txt-seashell\:30, .sf-c-txt-seashell\:30\:st { color: hsl(25, 100%, 30%) }
.sf-c-txt-seashell\:35, .sf-c-txt-seashell\:35\:st { color: hsl(25, 100%, 35%) }
.sf-c-txt-seashell\:40, .sf-c-txt-seashell\:40\:st { color: hsl(25, 100%, 40%) }
.sf-c-txt-seashell\:45, .sf-c-txt-seashell\:45\:st { color: hsl(25, 100%, 45%) }
.sf-c-txt-seashell\:50, .sf-c-txt-seashell\:50\:st { color: hsl(25, 100%, 50%) }
.sf-c-txt-seashell\:55, .sf-c-txt-seashell\:55\:st { color: hsl(25, 100%, 55%) }
.sf-c-txt-seashell\:60, .sf-c-txt-seashell\:60\:st { color: hsl(25, 100%, 60%) }
.sf-c-txt-seashell\:65, .sf-c-txt-seashell\:65\:st { color: hsl(25, 100%, 65%) }
.sf-c-txt-seashell\:70, .sf-c-txt-seashell\:70\:st { color: hsl(25, 100%, 70%) }
.sf-c-txt-seashell\:75, .sf-c-txt-seashell\:75\:st { color: hsl(25, 100%, 75%) }
.sf-c-txt-seashell\:80, .sf-c-txt-seashell\:80\:st { color: hsl(25, 100%, 80%) }
.sf-c-txt-seashell\:85, .sf-c-txt-seashell\:85\:st { color: hsl(25, 100%, 85%) }
.sf-c-txt-seashell\:90, .sf-c-txt-seashell\:90\:st { color: hsl(25, 100%, 90%) }
.sf-c-txt-seashell\:95, .sf-c-txt-seashell\:95\:st { color: hsl(25, 100%, 95%) }
.sf-c-txt-seashell\:100, .sf-c-txt-seashell\:100\:st { color: hsl(25, 100%, 100%) }

html[data-theme='dark'] .sf-c-seashell, html.dark .sf-c-seashell { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 3%) }
html[data-theme='dark'] .sf-c-seashell\:0, html.dark .sf-c-seashell\:0 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 100%) }
html[data-theme='dark'] .sf-c-seashell\:5, html.dark .sf-c-seashell\:5 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 95%) }
html[data-theme='dark'] .sf-c-seashell\:10, html.dark .sf-c-seashell\:10 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 90%) }
html[data-theme='dark'] .sf-c-seashell\:15, html.dark .sf-c-seashell\:15 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 85%) }
html[data-theme='dark'] .sf-c-seashell\:20, html.dark .sf-c-seashell\:20 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 80%) }
html[data-theme='dark'] .sf-c-seashell\:25, html.dark .sf-c-seashell\:25 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 75%) }
html[data-theme='dark'] .sf-c-seashell\:30, html.dark .sf-c-seashell\:30 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 70%) }
html[data-theme='dark'] .sf-c-seashell\:35, html.dark .sf-c-seashell\:35 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 65%) }
html[data-theme='dark'] .sf-c-seashell\:40, html.dark .sf-c-seashell\:40 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 60%) }
html[data-theme='dark'] .sf-c-seashell\:45, html.dark .sf-c-seashell\:45 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 55%) }
html[data-theme='dark'] .sf-c-seashell\:50, html.dark .sf-c-seashell\:50 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 50%) }
html[data-theme='dark'] .sf-c-seashell\:55, html.dark .sf-c-seashell\:55 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 45%) }
html[data-theme='dark'] .sf-c-seashell\:60, html.dark .sf-c-seashell\:60 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 40%) }
html[data-theme='dark'] .sf-c-seashell\:65, html.dark .sf-c-seashell\:65 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 35%) }
html[data-theme='dark'] .sf-c-seashell\:70, html.dark .sf-c-seashell\:70 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 30%) }
html[data-theme='dark'] .sf-c-seashell\:75, html.dark .sf-c-seashell\:75 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 25%) }
html[data-theme='dark'] .sf-c-seashell\:80, html.dark .sf-c-seashell\:80 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 20%) }
html[data-theme='dark'] .sf-c-seashell\:85, html.dark .sf-c-seashell\:85 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 15%) }
html[data-theme='dark'] .sf-c-seashell\:90, html.dark .sf-c-seashell\:90 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 10%) }
html[data-theme='dark'] .sf-c-seashell\:95, html.dark .sf-c-seashell\:95 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 5%) }
html[data-theme='dark'] .sf-c-seashell\:100, html.dark .sf-c-seashell\:100 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 0%) }

html[data-theme='dark'] .sf-c-seashell\:st, html.dark .sf-c-seashell\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 97%) }
html[data-theme='dark'] .sf-c-seashell\:0\:st, html.dark .sf-c-seashell\:0\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 0%) }
html[data-theme='dark'] .sf-c-seashell\:5\:st, html.dark .sf-c-seashell\:5\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 5%) }
html[data-theme='dark'] .sf-c-seashell\:10\:st, html.dark .sf-c-seashell\:10\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 10%) }
html[data-theme='dark'] .sf-c-seashell\:15\:st, html.dark .sf-c-seashell\:15\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 15%) }
html[data-theme='dark'] .sf-c-seashell\:20\:st, html.dark .sf-c-seashell\:20\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 20%) }
html[data-theme='dark'] .sf-c-seashell\:25\:st, html.dark .sf-c-seashell\:25\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 25%) }
html[data-theme='dark'] .sf-c-seashell\:30\:st, html.dark .sf-c-seashell\:30\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 30%) }
html[data-theme='dark'] .sf-c-seashell\:35\:st, html.dark .sf-c-seashell\:35\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 35%) }
html[data-theme='dark'] .sf-c-seashell\:40\:st, html.dark .sf-c-seashell\:40\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 40%) }
html[data-theme='dark'] .sf-c-seashell\:45\:st, html.dark .sf-c-seashell\:45\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 45%) }
html[data-theme='dark'] .sf-c-seashell\:50\:st, html.dark .sf-c-seashell\:50\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 50%) }
html[data-theme='dark'] .sf-c-seashell\:55\:st, html.dark .sf-c-seashell\:55\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 55%) }
html[data-theme='dark'] .sf-c-seashell\:60\:st, html.dark .sf-c-seashell\:60\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 60%) }
html[data-theme='dark'] .sf-c-seashell\:65\:st, html.dark .sf-c-seashell\:65\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 65%) }
html[data-theme='dark'] .sf-c-seashell\:70\:st, html.dark .sf-c-seashell\:70\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 70%) }
html[data-theme='dark'] .sf-c-seashell\:75\:st, html.dark .sf-c-seashell\:75\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 75%) }
html[data-theme='dark'] .sf-c-seashell\:80\:st, html.dark .sf-c-seashell\:80\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 80%) }
html[data-theme='dark'] .sf-c-seashell\:85\:st, html.dark .sf-c-seashell\:85\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 85%) }
html[data-theme='dark'] .sf-c-seashell\:90\:st, html.dark .sf-c-seashell\:90\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 90%) }
html[data-theme='dark'] .sf-c-seashell\:95\:st, html.dark .sf-c-seashell\:95\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 95%) }
html[data-theme='dark'] .sf-c-seashell\:100\:st, html.dark .sf-c-seashell\:100\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-seashell, html.dark .sf-c-txt-seashell { color: hsl(25, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-seashell\:0, html.dark .sf-c-txt-seashell\:0 { color: hsl(25, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-seashell\:5, html.dark .sf-c-txt-seashell\:5 { color: hsl(25, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-seashell\:10, html.dark .sf-c-txt-seashell\:10 { color: hsl(25, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-seashell\:15, html.dark .sf-c-txt-seashell\:15 { color: hsl(25, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-seashell\:20, html.dark .sf-c-txt-seashell\:20 { color: hsl(25, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-seashell\:25, html.dark .sf-c-txt-seashell\:25 { color: hsl(25, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-seashell\:30, html.dark .sf-c-txt-seashell\:30 { color: hsl(25, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-seashell\:35, html.dark .sf-c-txt-seashell\:35 { color: hsl(25, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-seashell\:40, html.dark .sf-c-txt-seashell\:40 { color: hsl(25, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-seashell\:45, html.dark .sf-c-txt-seashell\:45 { color: hsl(25, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-seashell\:50, html.dark .sf-c-txt-seashell\:50 { color: hsl(25, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-seashell\:55, html.dark .sf-c-txt-seashell\:55 { color: hsl(25, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-seashell\:60, html.dark .sf-c-txt-seashell\:60 { color: hsl(25, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-seashell\:65, html.dark .sf-c-txt-seashell\:65 { color: hsl(25, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-seashell\:70, html.dark .sf-c-txt-seashell\:70 { color: hsl(25, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-seashell\:75, html.dark .sf-c-txt-seashell\:75 { color: hsl(25, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-seashell\:80, html.dark .sf-c-txt-seashell\:80 { color: hsl(25, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-seashell\:85, html.dark .sf-c-txt-seashell\:85 { color: hsl(25, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-seashell\:90, html.dark .sf-c-txt-seashell\:90 { color: hsl(25, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-seashell\:95, html.dark .sf-c-txt-seashell\:95 { color: hsl(25, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-seashell\:100, html.dark .sf-c-txt-seashell\:100 { color: hsl(25, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-seashell\:st, html.dark .sf-c-txt-seashell\:st { color: hsl(25, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-seashell\:0\:st, html.dark .sf-c-txt-seashell\:0\:st { color: hsl(25, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-seashell\:5\:st, html.dark .sf-c-txt-seashell\:5\:st { color: hsl(25, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-seashell\:10\:st, html.dark .sf-c-txt-seashell\:10\:st { color: hsl(25, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-seashell\:15\:st, html.dark .sf-c-txt-seashell\:15\:st { color: hsl(25, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-seashell\:20\:st, html.dark .sf-c-txt-seashell\:20\:st { color: hsl(25, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-seashell\:25\:st, html.dark .sf-c-txt-seashell\:25\:st { color: hsl(25, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-seashell\:30\:st, html.dark .sf-c-txt-seashell\:30\:st { color: hsl(25, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-seashell\:35\:st, html.dark .sf-c-txt-seashell\:35\:st { color: hsl(25, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-seashell\:40\:st, html.dark .sf-c-txt-seashell\:40\:st { color: hsl(25, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-seashell\:45\:st, html.dark .sf-c-txt-seashell\:45\:st { color: hsl(25, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-seashell\:50\:st, html.dark .sf-c-txt-seashell\:50\:st { color: hsl(25, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-seashell\:55\:st, html.dark .sf-c-txt-seashell\:55\:st { color: hsl(25, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-seashell\:60\:st, html.dark .sf-c-txt-seashell\:60\:st { color: hsl(25, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-seashell\:65\:st, html.dark .sf-c-txt-seashell\:65\:st { color: hsl(25, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-seashell\:70\:st, html.dark .sf-c-txt-seashell\:70\:st { color: hsl(25, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-seashell\:75\:st, html.dark .sf-c-txt-seashell\:75\:st { color: hsl(25, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-seashell\:80\:st, html.dark .sf-c-txt-seashell\:80\:st { color: hsl(25, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-seashell\:85\:st, html.dark .sf-c-txt-seashell\:85\:st { color: hsl(25, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-seashell\:90\:st, html.dark .sf-c-txt-seashell\:90\:st { color: hsl(25, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-seashell\:95\:st, html.dark .sf-c-txt-seashell\:95\:st { color: hsl(25, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-seashell\:100\:st, html.dark .sf-c-txt-seashell\:100\:st { color: hsl(25, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-seashell, html.auto .sf-c-seashell { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 3%) }
  html[data-theme='auto'] .sf-c-seashell\:0, html.auto .sf-c-seashell\:0 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 100%) }
  html[data-theme='auto'] .sf-c-seashell\:5, html.auto .sf-c-seashell\:5 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 95%) }
  html[data-theme='auto'] .sf-c-seashell\:10, html.auto .sf-c-seashell\:10 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 90%) }
  html[data-theme='auto'] .sf-c-seashell\:15, html.auto .sf-c-seashell\:15 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 85%) }
  html[data-theme='auto'] .sf-c-seashell\:20, html.auto .sf-c-seashell\:20 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 80%) }
  html[data-theme='auto'] .sf-c-seashell\:25, html.auto .sf-c-seashell\:25 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 75%) }
  html[data-theme='auto'] .sf-c-seashell\:30, html.auto .sf-c-seashell\:30 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 70%) }
  html[data-theme='auto'] .sf-c-seashell\:35, html.auto .sf-c-seashell\:35 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 65%) }
  html[data-theme='auto'] .sf-c-seashell\:40, html.auto .sf-c-seashell\:40 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 60%) }
  html[data-theme='auto'] .sf-c-seashell\:45, html.auto .sf-c-seashell\:45 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 55%) }
  html[data-theme='auto'] .sf-c-seashell\:50, html.auto .sf-c-seashell\:50 { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 50%) }
  html[data-theme='auto'] .sf-c-seashell\:55, html.auto .sf-c-seashell\:55 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 45%) }
  html[data-theme='auto'] .sf-c-seashell\:60, html.auto .sf-c-seashell\:60 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 40%) }
  html[data-theme='auto'] .sf-c-seashell\:65, html.auto .sf-c-seashell\:65 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 35%) }
  html[data-theme='auto'] .sf-c-seashell\:70, html.auto .sf-c-seashell\:70 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 30%) }
  html[data-theme='auto'] .sf-c-seashell\:75, html.auto .sf-c-seashell\:75 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 25%) }
  html[data-theme='auto'] .sf-c-seashell\:80, html.auto .sf-c-seashell\:80 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 20%) }
  html[data-theme='auto'] .sf-c-seashell\:85, html.auto .sf-c-seashell\:85 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 15%) }
  html[data-theme='auto'] .sf-c-seashell\:90, html.auto .sf-c-seashell\:90 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 10%) }
  html[data-theme='auto'] .sf-c-seashell\:95, html.auto .sf-c-seashell\:95 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 5%) }
  html[data-theme='auto'] .sf-c-seashell\:100, html.auto .sf-c-seashell\:100 { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 0%) }

  html[data-theme='auto'] .sf-c-seashell\:st, html.auto .sf-c-seashell\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 97%) }
  html[data-theme='auto'] .sf-c-seashell\:0\:st, html.auto .sf-c-seashell\:0\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 0%) }
  html[data-theme='auto'] .sf-c-seashell\:5\:st, html.auto .sf-c-seashell\:5\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 5%) }
  html[data-theme='auto'] .sf-c-seashell\:10\:st, html.auto .sf-c-seashell\:10\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 10%) }
  html[data-theme='auto'] .sf-c-seashell\:15\:st, html.auto .sf-c-seashell\:15\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 15%) }
  html[data-theme='auto'] .sf-c-seashell\:20\:st, html.auto .sf-c-seashell\:20\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 20%) }
  html[data-theme='auto'] .sf-c-seashell\:25\:st, html.auto .sf-c-seashell\:25\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 25%) }
  html[data-theme='auto'] .sf-c-seashell\:30\:st, html.auto .sf-c-seashell\:30\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 30%) }
  html[data-theme='auto'] .sf-c-seashell\:35\:st, html.auto .sf-c-seashell\:35\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 35%) }
  html[data-theme='auto'] .sf-c-seashell\:40\:st, html.auto .sf-c-seashell\:40\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 40%) }
  html[data-theme='auto'] .sf-c-seashell\:45\:st, html.auto .sf-c-seashell\:45\:st { color: hsl(25, 100%, 95%); background: hsl(25, 100%, 45%) }
  html[data-theme='auto'] .sf-c-seashell\:50\:st, html.auto .sf-c-seashell\:50\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 50%) }
  html[data-theme='auto'] .sf-c-seashell\:55\:st, html.auto .sf-c-seashell\:55\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 55%) }
  html[data-theme='auto'] .sf-c-seashell\:60\:st, html.auto .sf-c-seashell\:60\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 60%) }
  html[data-theme='auto'] .sf-c-seashell\:65\:st, html.auto .sf-c-seashell\:65\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 65%) }
  html[data-theme='auto'] .sf-c-seashell\:70\:st, html.auto .sf-c-seashell\:70\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 70%) }
  html[data-theme='auto'] .sf-c-seashell\:75\:st, html.auto .sf-c-seashell\:75\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 75%) }
  html[data-theme='auto'] .sf-c-seashell\:80\:st, html.auto .sf-c-seashell\:80\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 80%) }
  html[data-theme='auto'] .sf-c-seashell\:85\:st, html.auto .sf-c-seashell\:85\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 85%) }
  html[data-theme='auto'] .sf-c-seashell\:90\:st, html.auto .sf-c-seashell\:90\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 90%) }
  html[data-theme='auto'] .sf-c-seashell\:95\:st, html.auto .sf-c-seashell\:95\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 95%) }
  html[data-theme='auto'] .sf-c-seashell\:100\:st, html.auto .sf-c-seashell\:100\:st { color: hsl(25, 100%, 5%); background: hsl(25, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-seashell, html.auto .sf-c-txt-seashell { color: hsl(25, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:0, html.auto .sf-c-txt-seashell\:0 { color: hsl(25, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:5, html.auto .sf-c-txt-seashell\:5 { color: hsl(25, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:10, html.auto .sf-c-txt-seashell\:10 { color: hsl(25, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:15, html.auto .sf-c-txt-seashell\:15 { color: hsl(25, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:20, html.auto .sf-c-txt-seashell\:20 { color: hsl(25, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:25, html.auto .sf-c-txt-seashell\:25 { color: hsl(25, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:30, html.auto .sf-c-txt-seashell\:30 { color: hsl(25, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:35, html.auto .sf-c-txt-seashell\:35 { color: hsl(25, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:40, html.auto .sf-c-txt-seashell\:40 { color: hsl(25, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:45, html.auto .sf-c-txt-seashell\:45 { color: hsl(25, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:50, html.auto .sf-c-txt-seashell\:50 { color: hsl(25, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:55, html.auto .sf-c-txt-seashell\:55 { color: hsl(25, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:60, html.auto .sf-c-txt-seashell\:60 { color: hsl(25, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:65, html.auto .sf-c-txt-seashell\:65 { color: hsl(25, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:70, html.auto .sf-c-txt-seashell\:70 { color: hsl(25, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:75, html.auto .sf-c-txt-seashell\:75 { color: hsl(25, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:80, html.auto .sf-c-txt-seashell\:80 { color: hsl(25, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:85, html.auto .sf-c-txt-seashell\:85 { color: hsl(25, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:90, html.auto .sf-c-txt-seashell\:90 { color: hsl(25, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:95, html.auto .sf-c-txt-seashell\:95 { color: hsl(25, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:100, html.auto .sf-c-txt-seashell\:100 { color: hsl(25, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-seashell\:st, html.auto .sf-c-txt-seashell\:st { color: hsl(25, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:0\:st, html.auto .sf-c-txt-seashell\:0\:st { color: hsl(25, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:5\:st, html.auto .sf-c-txt-seashell\:5\:st { color: hsl(25, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:10\:st, html.auto .sf-c-txt-seashell\:10\:st { color: hsl(25, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:15\:st, html.auto .sf-c-txt-seashell\:15\:st { color: hsl(25, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:20\:st, html.auto .sf-c-txt-seashell\:20\:st { color: hsl(25, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:25\:st, html.auto .sf-c-txt-seashell\:25\:st { color: hsl(25, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:30\:st, html.auto .sf-c-txt-seashell\:30\:st { color: hsl(25, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:35\:st, html.auto .sf-c-txt-seashell\:35\:st { color: hsl(25, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:40\:st, html.auto .sf-c-txt-seashell\:40\:st { color: hsl(25, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:45\:st, html.auto .sf-c-txt-seashell\:45\:st { color: hsl(25, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:50\:st, html.auto .sf-c-txt-seashell\:50\:st { color: hsl(25, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:55\:st, html.auto .sf-c-txt-seashell\:55\:st { color: hsl(25, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:60\:st, html.auto .sf-c-txt-seashell\:60\:st { color: hsl(25, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:65\:st, html.auto .sf-c-txt-seashell\:65\:st { color: hsl(25, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:70\:st, html.auto .sf-c-txt-seashell\:70\:st { color: hsl(25, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:75\:st, html.auto .sf-c-txt-seashell\:75\:st { color: hsl(25, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:80\:st, html.auto .sf-c-txt-seashell\:80\:st { color: hsl(25, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:85\:st, html.auto .sf-c-txt-seashell\:85\:st { color: hsl(25, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:90\:st, html.auto .sf-c-txt-seashell\:90\:st { color: hsl(25, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:95\:st, html.auto .sf-c-txt-seashell\:95\:st { color: hsl(25, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-seashell\:100\:st, html.auto .sf-c-txt-seashell\:100\:st { color: hsl(25, 100%, 100%) }
}