.sf-var-sienna {
  --sf-c-sienna: 19 56% 40%;
  --sf-c-sienna-0: 19 56% 0%;
  --sf-c-sienna-5: 19 56% 5%;
  --sf-c-sienna-10: 19 56% 10%;
  --sf-c-sienna-15: 19 56% 15%;
  --sf-c-sienna-20: 19 56% 20%;
  --sf-c-sienna-25: 19 56% 25%;
  --sf-c-sienna-30: 19 56% 30%;
  --sf-c-sienna-35: 19 56% 35%;
  --sf-c-sienna-40: 19 56% 40%;
  --sf-c-sienna-45: 19 56% 45%;
  --sf-c-sienna-50: 19 56% 50%;
  --sf-c-sienna-55: 19 56% 55%;
  --sf-c-sienna-60: 19 56% 60%;
  --sf-c-sienna-65: 19 56% 65%;
  --sf-c-sienna-70: 19 56% 70%;
  --sf-c-sienna-75: 19 56% 75%;
  --sf-c-sienna-80: 19 56% 80%;
  --sf-c-sienna-85: 19 56% 85%;
  --sf-c-sienna-90: 19 56% 90%;
  --sf-c-sienna-95: 19 56% 95%;
  --sf-c-sienna-100: 19 56% 100%;
}

.sf-c-sienna, .sf-c-sienna\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
.sf-c-sienna\:0, .sf-c-sienna\:0\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 0%) }
.sf-c-sienna\:5, .sf-c-sienna\:5\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 5%) }
.sf-c-sienna\:10, .sf-c-sienna\:10\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 10%) }
.sf-c-sienna\:15, .sf-c-sienna\:15\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 15%) }
.sf-c-sienna\:20, .sf-c-sienna\:20\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 20%) }
.sf-c-sienna\:25, .sf-c-sienna\:25\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 25%) }
.sf-c-sienna\:30, .sf-c-sienna\:30\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 30%) }
.sf-c-sienna\:35, .sf-c-sienna\:35\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 35%) }
.sf-c-sienna\:40, .sf-c-sienna\:40\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
.sf-c-sienna\:45, .sf-c-sienna\:45\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 45%) }
.sf-c-sienna\:50, .sf-c-sienna\:50\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 50%) }
.sf-c-sienna\:55, .sf-c-sienna\:55\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 55%) }
.sf-c-sienna\:60, .sf-c-sienna\:60\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
.sf-c-sienna\:65, .sf-c-sienna\:65\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 65%) }
.sf-c-sienna\:70, .sf-c-sienna\:70\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 70%) }
.sf-c-sienna\:75, .sf-c-sienna\:75\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 75%) }
.sf-c-sienna\:80, .sf-c-sienna\:80\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 80%) }
.sf-c-sienna\:85, .sf-c-sienna\:85\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 85%) }
.sf-c-sienna\:90, .sf-c-sienna\:90\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 90%) }
.sf-c-sienna\:95, .sf-c-sienna\:95\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 95%) }
.sf-c-sienna\:100, .sf-c-sienna\:100\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 100%) }

.sf-c-txt-sienna { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:0, .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
.sf-c-txt-sienna\:5, .sf-c-txt-sienna\:5\:st { color: hsl(19, 56%, 5%) }
.sf-c-txt-sienna\:10, .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
.sf-c-txt-sienna\:15, .sf-c-txt-sienna\:15\:st { color: hsl(19, 56%, 15%) }
.sf-c-txt-sienna\:20, .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
.sf-c-txt-sienna\:25, .sf-c-txt-sienna\:25\:st { color: hsl(19, 56%, 25%) }
.sf-c-txt-sienna\:30, .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
.sf-c-txt-sienna\:35, .sf-c-txt-sienna\:35\:st { color: hsl(19, 56%, 35%) }
.sf-c-txt-sienna\:40, .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:45, .sf-c-txt-sienna\:45\:st { color: hsl(19, 56%, 45%) }
.sf-c-txt-sienna\:50, .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
.sf-c-txt-sienna\:55, .sf-c-txt-sienna\:55\:st { color: hsl(19, 56%, 55%) }
.sf-c-txt-sienna\:60, .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
.sf-c-txt-sienna\:65, .sf-c-txt-sienna\:65\:st { color: hsl(19, 56%, 65%) }
.sf-c-txt-sienna\:70, .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
.sf-c-txt-sienna\:75, .sf-c-txt-sienna\:75\:st { color: hsl(19, 56%, 75%) }
.sf-c-txt-sienna\:80, .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
.sf-c-txt-sienna\:85, .sf-c-txt-sienna\:85\:st { color: hsl(19, 56%, 85%) }
.sf-c-txt-sienna\:90, .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
.sf-c-txt-sienna\:95, .sf-c-txt-sienna\:95\:st { color: hsl(19, 56%, 95%) }
.sf-c-txt-sienna\:100, .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }

html[data-theme='dark'] .sf-c-sienna, html.dark .sf-c-sienna { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:0, html.dark .sf-c-sienna\:0 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 100%) }
html[data-theme='dark'] .sf-c-sienna\:5, html.dark .sf-c-sienna\:5 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 95%) }
html[data-theme='dark'] .sf-c-sienna\:10, html.dark .sf-c-sienna\:10 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-sienna\:15, html.dark .sf-c-sienna\:15 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 85%) }
html[data-theme='dark'] .sf-c-sienna\:20, html.dark .sf-c-sienna\:20 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-sienna\:25, html.dark .sf-c-sienna\:25 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 75%) }
html[data-theme='dark'] .sf-c-sienna\:30, html.dark .sf-c-sienna\:30 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-sienna\:35, html.dark .sf-c-sienna\:35 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 65%) }
html[data-theme='dark'] .sf-c-sienna\:40, html.dark .sf-c-sienna\:40 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:45, html.dark .sf-c-sienna\:45 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 55%) }
html[data-theme='dark'] .sf-c-sienna\:50, html.dark .sf-c-sienna\:50 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-sienna\:55, html.dark .sf-c-sienna\:55 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 45%) }
html[data-theme='dark'] .sf-c-sienna\:60, html.dark .sf-c-sienna\:60 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:65, html.dark .sf-c-sienna\:65 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 35%) }
html[data-theme='dark'] .sf-c-sienna\:70, html.dark .sf-c-sienna\:70 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-sienna\:75, html.dark .sf-c-sienna\:75 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 25%) }
html[data-theme='dark'] .sf-c-sienna\:80, html.dark .sf-c-sienna\:80 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-sienna\:85, html.dark .sf-c-sienna\:85 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 15%) }
html[data-theme='dark'] .sf-c-sienna\:90, html.dark .sf-c-sienna\:90 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-sienna\:95, html.dark .sf-c-sienna\:95 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 5%) }
html[data-theme='dark'] .sf-c-sienna\:100, html.dark .sf-c-sienna\:100 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 0%) }

html[data-theme='dark'] .sf-c-sienna\:st, html.dark .sf-c-sienna\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:0\:st, html.dark .sf-c-sienna\:0\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 0%) }
html[data-theme='dark'] .sf-c-sienna\:5\:st, html.dark .sf-c-sienna\:5\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 5%) }
html[data-theme='dark'] .sf-c-sienna\:10\:st, html.dark .sf-c-sienna\:10\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-sienna\:15\:st, html.dark .sf-c-sienna\:15\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 15%) }
html[data-theme='dark'] .sf-c-sienna\:20\:st, html.dark .sf-c-sienna\:20\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-sienna\:25\:st, html.dark .sf-c-sienna\:25\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 25%) }
html[data-theme='dark'] .sf-c-sienna\:30\:st, html.dark .sf-c-sienna\:30\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-sienna\:35\:st, html.dark .sf-c-sienna\:35\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 35%) }
html[data-theme='dark'] .sf-c-sienna\:40\:st, html.dark .sf-c-sienna\:40\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:45\:st, html.dark .sf-c-sienna\:45\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 45%) }
html[data-theme='dark'] .sf-c-sienna\:50\:st, html.dark .sf-c-sienna\:50\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-sienna\:55\:st, html.dark .sf-c-sienna\:55\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 55%) }
html[data-theme='dark'] .sf-c-sienna\:60\:st, html.dark .sf-c-sienna\:60\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:65\:st, html.dark .sf-c-sienna\:65\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 65%) }
html[data-theme='dark'] .sf-c-sienna\:70\:st, html.dark .sf-c-sienna\:70\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-sienna\:75\:st, html.dark .sf-c-sienna\:75\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 75%) }
html[data-theme='dark'] .sf-c-sienna\:80\:st, html.dark .sf-c-sienna\:80\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-sienna\:85\:st, html.dark .sf-c-sienna\:85\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 85%) }
html[data-theme='dark'] .sf-c-sienna\:90\:st, html.dark .sf-c-sienna\:90\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-sienna\:95\:st, html.dark .sf-c-sienna\:95\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 95%) }
html[data-theme='dark'] .sf-c-sienna\:100\:st, html.dark .sf-c-sienna\:100\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 100%) }

html[data-theme='dark'] .sf-c-txt-sienna, html.dark .sf-c-txt-sienna { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:0, html.dark .sf-c-txt-sienna\:0 { color: hsl(19, 56%, 100%) }
html[data-theme='dark'] .sf-c-txt-sienna\:5, html.dark .sf-c-txt-sienna\:5 { color: hsl(19, 56%, 95%) }
html[data-theme='dark'] .sf-c-txt-sienna\:10, html.dark .sf-c-txt-sienna\:10 { color: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-sienna\:15, html.dark .sf-c-txt-sienna\:15 { color: hsl(19, 56%, 85%) }
html[data-theme='dark'] .sf-c-txt-sienna\:20, html.dark .sf-c-txt-sienna\:20 { color: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-sienna\:25, html.dark .sf-c-txt-sienna\:25 { color: hsl(19, 56%, 75%) }
html[data-theme='dark'] .sf-c-txt-sienna\:30, html.dark .sf-c-txt-sienna\:30 { color: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-sienna\:35, html.dark .sf-c-txt-sienna\:35 { color: hsl(19, 56%, 65%) }
html[data-theme='dark'] .sf-c-txt-sienna\:40, html.dark .sf-c-txt-sienna\:40 { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:45, html.dark .sf-c-txt-sienna\:45 { color: hsl(19, 56%, 55%) }
html[data-theme='dark'] .sf-c-txt-sienna\:50, html.dark .sf-c-txt-sienna\:50 { color: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-sienna\:55, html.dark .sf-c-txt-sienna\:55 { color: hsl(19, 56%, 45%) }
html[data-theme='dark'] .sf-c-txt-sienna\:60, html.dark .sf-c-txt-sienna\:60 { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:65, html.dark .sf-c-txt-sienna\:65 { color: hsl(19, 56%, 35%) }
html[data-theme='dark'] .sf-c-txt-sienna\:70, html.dark .sf-c-txt-sienna\:70 { color: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-sienna\:75, html.dark .sf-c-txt-sienna\:75 { color: hsl(19, 56%, 25%) }
html[data-theme='dark'] .sf-c-txt-sienna\:80, html.dark .sf-c-txt-sienna\:80 { color: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-sienna\:85, html.dark .sf-c-txt-sienna\:85 { color: hsl(19, 56%, 15%) }
html[data-theme='dark'] .sf-c-txt-sienna\:90, html.dark .sf-c-txt-sienna\:90 { color: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-sienna\:95, html.dark .sf-c-txt-sienna\:95 { color: hsl(19, 56%, 5%) }
html[data-theme='dark'] .sf-c-txt-sienna\:100, html.dark .sf-c-txt-sienna\:100 { color: hsl(19, 56%, 0%) }

html[data-theme='dark'] .sf-c-txt-sienna\:st, html.dark .sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:0\:st, html.dark .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
html[data-theme='dark'] .sf-c-txt-sienna\:5\:st, html.dark .sf-c-txt-sienna\:5\:st { color: hsl(19, 56%, 5%) }
html[data-theme='dark'] .sf-c-txt-sienna\:10\:st, html.dark .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-sienna\:15\:st, html.dark .sf-c-txt-sienna\:15\:st { color: hsl(19, 56%, 15%) }
html[data-theme='dark'] .sf-c-txt-sienna\:20\:st, html.dark .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-sienna\:25\:st, html.dark .sf-c-txt-sienna\:25\:st { color: hsl(19, 56%, 25%) }
html[data-theme='dark'] .sf-c-txt-sienna\:30\:st, html.dark .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-sienna\:35\:st, html.dark .sf-c-txt-sienna\:35\:st { color: hsl(19, 56%, 35%) }
html[data-theme='dark'] .sf-c-txt-sienna\:40\:st, html.dark .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:45\:st, html.dark .sf-c-txt-sienna\:45\:st { color: hsl(19, 56%, 45%) }
html[data-theme='dark'] .sf-c-txt-sienna\:50\:st, html.dark .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-sienna\:55\:st, html.dark .sf-c-txt-sienna\:55\:st { color: hsl(19, 56%, 55%) }
html[data-theme='dark'] .sf-c-txt-sienna\:60\:st, html.dark .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:65\:st, html.dark .sf-c-txt-sienna\:65\:st { color: hsl(19, 56%, 65%) }
html[data-theme='dark'] .sf-c-txt-sienna\:70\:st, html.dark .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-sienna\:75\:st, html.dark .sf-c-txt-sienna\:75\:st { color: hsl(19, 56%, 75%) }
html[data-theme='dark'] .sf-c-txt-sienna\:80\:st, html.dark .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-sienna\:85\:st, html.dark .sf-c-txt-sienna\:85\:st { color: hsl(19, 56%, 85%) }
html[data-theme='dark'] .sf-c-txt-sienna\:90\:st, html.dark .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-sienna\:95\:st, html.dark .sf-c-txt-sienna\:95\:st { color: hsl(19, 56%, 95%) }
html[data-theme='dark'] .sf-c-txt-sienna\:100\:st, html.dark .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-sienna, html.auto .sf-c-sienna { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:0, html.auto .sf-c-sienna\:0 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 100%) }
  html[data-theme='auto'] .sf-c-sienna\:5, html.auto .sf-c-sienna\:5 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 95%) }
  html[data-theme='auto'] .sf-c-sienna\:10, html.auto .sf-c-sienna\:10 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-sienna\:15, html.auto .sf-c-sienna\:15 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 85%) }
  html[data-theme='auto'] .sf-c-sienna\:20, html.auto .sf-c-sienna\:20 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-sienna\:25, html.auto .sf-c-sienna\:25 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 75%) }
  html[data-theme='auto'] .sf-c-sienna\:30, html.auto .sf-c-sienna\:30 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-sienna\:35, html.auto .sf-c-sienna\:35 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 65%) }
  html[data-theme='auto'] .sf-c-sienna\:40, html.auto .sf-c-sienna\:40 { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:45, html.auto .sf-c-sienna\:45 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 55%) }
  html[data-theme='auto'] .sf-c-sienna\:50, html.auto .sf-c-sienna\:50 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-sienna\:55, html.auto .sf-c-sienna\:55 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 45%) }
  html[data-theme='auto'] .sf-c-sienna\:60, html.auto .sf-c-sienna\:60 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:65, html.auto .sf-c-sienna\:65 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 35%) }
  html[data-theme='auto'] .sf-c-sienna\:70, html.auto .sf-c-sienna\:70 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-sienna\:75, html.auto .sf-c-sienna\:75 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 25%) }
  html[data-theme='auto'] .sf-c-sienna\:80, html.auto .sf-c-sienna\:80 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-sienna\:85, html.auto .sf-c-sienna\:85 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 15%) }
  html[data-theme='auto'] .sf-c-sienna\:90, html.auto .sf-c-sienna\:90 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-sienna\:95, html.auto .sf-c-sienna\:95 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 5%) }
  html[data-theme='auto'] .sf-c-sienna\:100, html.auto .sf-c-sienna\:100 { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 0%) }

  html[data-theme='auto'] .sf-c-sienna\:st, html.auto .sf-c-sienna\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:0\:st, html.auto .sf-c-sienna\:0\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 0%) }
  html[data-theme='auto'] .sf-c-sienna\:5\:st, html.auto .sf-c-sienna\:5\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 5%) }
  html[data-theme='auto'] .sf-c-sienna\:10\:st, html.auto .sf-c-sienna\:10\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-sienna\:15\:st, html.auto .sf-c-sienna\:15\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 15%) }
  html[data-theme='auto'] .sf-c-sienna\:20\:st, html.auto .sf-c-sienna\:20\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-sienna\:25\:st, html.auto .sf-c-sienna\:25\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 25%) }
  html[data-theme='auto'] .sf-c-sienna\:30\:st, html.auto .sf-c-sienna\:30\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-sienna\:35\:st, html.auto .sf-c-sienna\:35\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 35%) }
  html[data-theme='auto'] .sf-c-sienna\:40\:st, html.auto .sf-c-sienna\:40\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:45\:st, html.auto .sf-c-sienna\:45\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 45%) }
  html[data-theme='auto'] .sf-c-sienna\:50\:st, html.auto .sf-c-sienna\:50\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-sienna\:55\:st, html.auto .sf-c-sienna\:55\:st { color: hsl(19, 56%, 95%); background: hsl(19, 56%, 55%) }
  html[data-theme='auto'] .sf-c-sienna\:60\:st, html.auto .sf-c-sienna\:60\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:65\:st, html.auto .sf-c-sienna\:65\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 65%) }
  html[data-theme='auto'] .sf-c-sienna\:70\:st, html.auto .sf-c-sienna\:70\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-sienna\:75\:st, html.auto .sf-c-sienna\:75\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 75%) }
  html[data-theme='auto'] .sf-c-sienna\:80\:st, html.auto .sf-c-sienna\:80\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-sienna\:85\:st, html.auto .sf-c-sienna\:85\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 85%) }
  html[data-theme='auto'] .sf-c-sienna\:90\:st, html.auto .sf-c-sienna\:90\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-sienna\:95\:st, html.auto .sf-c-sienna\:95\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 95%) }
  html[data-theme='auto'] .sf-c-sienna\:100\:st, html.auto .sf-c-sienna\:100\:st { color: hsl(19, 56%, 5%); background: hsl(19, 56%, 100%) }

  html[data-theme='auto'] .sf-c-txt-sienna, html.auto .sf-c-txt-sienna { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:0, html.auto .sf-c-txt-sienna\:0 { color: hsl(19, 56%, 100%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:5, html.auto .sf-c-txt-sienna\:5 { color: hsl(19, 56%, 95%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:10, html.auto .sf-c-txt-sienna\:10 { color: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:15, html.auto .sf-c-txt-sienna\:15 { color: hsl(19, 56%, 85%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:20, html.auto .sf-c-txt-sienna\:20 { color: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:25, html.auto .sf-c-txt-sienna\:25 { color: hsl(19, 56%, 75%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:30, html.auto .sf-c-txt-sienna\:30 { color: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:35, html.auto .sf-c-txt-sienna\:35 { color: hsl(19, 56%, 65%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:40, html.auto .sf-c-txt-sienna\:40 { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:45, html.auto .sf-c-txt-sienna\:45 { color: hsl(19, 56%, 55%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:50, html.auto .sf-c-txt-sienna\:50 { color: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:55, html.auto .sf-c-txt-sienna\:55 { color: hsl(19, 56%, 45%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:60, html.auto .sf-c-txt-sienna\:60 { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:65, html.auto .sf-c-txt-sienna\:65 { color: hsl(19, 56%, 35%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:70, html.auto .sf-c-txt-sienna\:70 { color: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:75, html.auto .sf-c-txt-sienna\:75 { color: hsl(19, 56%, 25%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:80, html.auto .sf-c-txt-sienna\:80 { color: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:85, html.auto .sf-c-txt-sienna\:85 { color: hsl(19, 56%, 15%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:90, html.auto .sf-c-txt-sienna\:90 { color: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:95, html.auto .sf-c-txt-sienna\:95 { color: hsl(19, 56%, 5%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:100, html.auto .sf-c-txt-sienna\:100 { color: hsl(19, 56%, 0%) }

  html[data-theme='auto'] .sf-c-txt-sienna\:st, html.auto .sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:0\:st, html.auto .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:5\:st, html.auto .sf-c-txt-sienna\:5\:st { color: hsl(19, 56%, 5%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:10\:st, html.auto .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:15\:st, html.auto .sf-c-txt-sienna\:15\:st { color: hsl(19, 56%, 15%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:20\:st, html.auto .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:25\:st, html.auto .sf-c-txt-sienna\:25\:st { color: hsl(19, 56%, 25%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:30\:st, html.auto .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:35\:st, html.auto .sf-c-txt-sienna\:35\:st { color: hsl(19, 56%, 35%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:40\:st, html.auto .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:45\:st, html.auto .sf-c-txt-sienna\:45\:st { color: hsl(19, 56%, 45%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:50\:st, html.auto .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:55\:st, html.auto .sf-c-txt-sienna\:55\:st { color: hsl(19, 56%, 55%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:60\:st, html.auto .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:65\:st, html.auto .sf-c-txt-sienna\:65\:st { color: hsl(19, 56%, 65%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:70\:st, html.auto .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:75\:st, html.auto .sf-c-txt-sienna\:75\:st { color: hsl(19, 56%, 75%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:80\:st, html.auto .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:85\:st, html.auto .sf-c-txt-sienna\:85\:st { color: hsl(19, 56%, 85%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:90\:st, html.auto .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:95\:st, html.auto .sf-c-txt-sienna\:95\:st { color: hsl(19, 56%, 95%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:100\:st, html.auto .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }
}