.sf-var-slategrey {
  --sf-c-slategrey: 210 13% 50%;
  --sf-c-slategrey-0: 210 13% 0%;
  --sf-c-slategrey-5: 210 13% 5%;
  --sf-c-slategrey-10: 210 13% 10%;
  --sf-c-slategrey-15: 210 13% 15%;
  --sf-c-slategrey-20: 210 13% 20%;
  --sf-c-slategrey-25: 210 13% 25%;
  --sf-c-slategrey-30: 210 13% 30%;
  --sf-c-slategrey-35: 210 13% 35%;
  --sf-c-slategrey-40: 210 13% 40%;
  --sf-c-slategrey-45: 210 13% 45%;
  --sf-c-slategrey-50: 210 13% 50%;
  --sf-c-slategrey-55: 210 13% 55%;
  --sf-c-slategrey-60: 210 13% 60%;
  --sf-c-slategrey-65: 210 13% 65%;
  --sf-c-slategrey-70: 210 13% 70%;
  --sf-c-slategrey-75: 210 13% 75%;
  --sf-c-slategrey-80: 210 13% 80%;
  --sf-c-slategrey-85: 210 13% 85%;
  --sf-c-slategrey-90: 210 13% 90%;
  --sf-c-slategrey-95: 210 13% 95%;
  --sf-c-slategrey-100: 210 13% 100%;
}

.sf-c-slategrey, .sf-c-slategrey\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
.sf-c-slategrey\:0, .sf-c-slategrey\:0\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 0%) }
.sf-c-slategrey\:5, .sf-c-slategrey\:5\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 5%) }
.sf-c-slategrey\:10, .sf-c-slategrey\:10\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 10%) }
.sf-c-slategrey\:15, .sf-c-slategrey\:15\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 15%) }
.sf-c-slategrey\:20, .sf-c-slategrey\:20\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 20%) }
.sf-c-slategrey\:25, .sf-c-slategrey\:25\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 25%) }
.sf-c-slategrey\:30, .sf-c-slategrey\:30\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 30%) }
.sf-c-slategrey\:35, .sf-c-slategrey\:35\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 35%) }
.sf-c-slategrey\:40, .sf-c-slategrey\:40\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 40%) }
.sf-c-slategrey\:45, .sf-c-slategrey\:45\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 45%) }
.sf-c-slategrey\:50, .sf-c-slategrey\:50\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
.sf-c-slategrey\:55, .sf-c-slategrey\:55\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 55%) }
.sf-c-slategrey\:60, .sf-c-slategrey\:60\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 60%) }
.sf-c-slategrey\:65, .sf-c-slategrey\:65\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 65%) }
.sf-c-slategrey\:70, .sf-c-slategrey\:70\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 70%) }
.sf-c-slategrey\:75, .sf-c-slategrey\:75\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 75%) }
.sf-c-slategrey\:80, .sf-c-slategrey\:80\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 80%) }
.sf-c-slategrey\:85, .sf-c-slategrey\:85\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 85%) }
.sf-c-slategrey\:90, .sf-c-slategrey\:90\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 90%) }
.sf-c-slategrey\:95, .sf-c-slategrey\:95\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 95%) }
.sf-c-slategrey\:100, .sf-c-slategrey\:100\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 100%) }

.sf-c-txt-slategrey { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategrey\:st { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategrey\:0, .sf-c-txt-slategrey\:0\:st { color: hsl(210, 13%, 0%) }
.sf-c-txt-slategrey\:5, .sf-c-txt-slategrey\:5\:st { color: hsl(210, 13%, 5%) }
.sf-c-txt-slategrey\:10, .sf-c-txt-slategrey\:10\:st { color: hsl(210, 13%, 10%) }
.sf-c-txt-slategrey\:15, .sf-c-txt-slategrey\:15\:st { color: hsl(210, 13%, 15%) }
.sf-c-txt-slategrey\:20, .sf-c-txt-slategrey\:20\:st { color: hsl(210, 13%, 20%) }
.sf-c-txt-slategrey\:25, .sf-c-txt-slategrey\:25\:st { color: hsl(210, 13%, 25%) }
.sf-c-txt-slategrey\:30, .sf-c-txt-slategrey\:30\:st { color: hsl(210, 13%, 30%) }
.sf-c-txt-slategrey\:35, .sf-c-txt-slategrey\:35\:st { color: hsl(210, 13%, 35%) }
.sf-c-txt-slategrey\:40, .sf-c-txt-slategrey\:40\:st { color: hsl(210, 13%, 40%) }
.sf-c-txt-slategrey\:45, .sf-c-txt-slategrey\:45\:st { color: hsl(210, 13%, 45%) }
.sf-c-txt-slategrey\:50, .sf-c-txt-slategrey\:50\:st { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategrey\:55, .sf-c-txt-slategrey\:55\:st { color: hsl(210, 13%, 55%) }
.sf-c-txt-slategrey\:60, .sf-c-txt-slategrey\:60\:st { color: hsl(210, 13%, 60%) }
.sf-c-txt-slategrey\:65, .sf-c-txt-slategrey\:65\:st { color: hsl(210, 13%, 65%) }
.sf-c-txt-slategrey\:70, .sf-c-txt-slategrey\:70\:st { color: hsl(210, 13%, 70%) }
.sf-c-txt-slategrey\:75, .sf-c-txt-slategrey\:75\:st { color: hsl(210, 13%, 75%) }
.sf-c-txt-slategrey\:80, .sf-c-txt-slategrey\:80\:st { color: hsl(210, 13%, 80%) }
.sf-c-txt-slategrey\:85, .sf-c-txt-slategrey\:85\:st { color: hsl(210, 13%, 85%) }
.sf-c-txt-slategrey\:90, .sf-c-txt-slategrey\:90\:st { color: hsl(210, 13%, 90%) }
.sf-c-txt-slategrey\:95, .sf-c-txt-slategrey\:95\:st { color: hsl(210, 13%, 95%) }
.sf-c-txt-slategrey\:100, .sf-c-txt-slategrey\:100\:st { color: hsl(210, 13%, 100%) }

html[data-theme='dark'] .sf-c-slategrey, html.dark .sf-c-slategrey { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategrey\:0, html.dark .sf-c-slategrey\:0 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 100%) }
html[data-theme='dark'] .sf-c-slategrey\:5, html.dark .sf-c-slategrey\:5 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 95%) }
html[data-theme='dark'] .sf-c-slategrey\:10, html.dark .sf-c-slategrey\:10 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-slategrey\:15, html.dark .sf-c-slategrey\:15 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 85%) }
html[data-theme='dark'] .sf-c-slategrey\:20, html.dark .sf-c-slategrey\:20 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-slategrey\:25, html.dark .sf-c-slategrey\:25 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 75%) }
html[data-theme='dark'] .sf-c-slategrey\:30, html.dark .sf-c-slategrey\:30 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-slategrey\:35, html.dark .sf-c-slategrey\:35 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 65%) }
html[data-theme='dark'] .sf-c-slategrey\:40, html.dark .sf-c-slategrey\:40 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-slategrey\:45, html.dark .sf-c-slategrey\:45 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 55%) }
html[data-theme='dark'] .sf-c-slategrey\:50, html.dark .sf-c-slategrey\:50 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategrey\:55, html.dark .sf-c-slategrey\:55 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 45%) }
html[data-theme='dark'] .sf-c-slategrey\:60, html.dark .sf-c-slategrey\:60 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-slategrey\:65, html.dark .sf-c-slategrey\:65 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 35%) }
html[data-theme='dark'] .sf-c-slategrey\:70, html.dark .sf-c-slategrey\:70 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-slategrey\:75, html.dark .sf-c-slategrey\:75 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 25%) }
html[data-theme='dark'] .sf-c-slategrey\:80, html.dark .sf-c-slategrey\:80 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-slategrey\:85, html.dark .sf-c-slategrey\:85 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 15%) }
html[data-theme='dark'] .sf-c-slategrey\:90, html.dark .sf-c-slategrey\:90 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-slategrey\:95, html.dark .sf-c-slategrey\:95 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 5%) }
html[data-theme='dark'] .sf-c-slategrey\:100, html.dark .sf-c-slategrey\:100 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 0%) }

html[data-theme='dark'] .sf-c-slategrey\:st, html.dark .sf-c-slategrey\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategrey\:0\:st, html.dark .sf-c-slategrey\:0\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 0%) }
html[data-theme='dark'] .sf-c-slategrey\:5\:st, html.dark .sf-c-slategrey\:5\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 5%) }
html[data-theme='dark'] .sf-c-slategrey\:10\:st, html.dark .sf-c-slategrey\:10\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-slategrey\:15\:st, html.dark .sf-c-slategrey\:15\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 15%) }
html[data-theme='dark'] .sf-c-slategrey\:20\:st, html.dark .sf-c-slategrey\:20\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-slategrey\:25\:st, html.dark .sf-c-slategrey\:25\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 25%) }
html[data-theme='dark'] .sf-c-slategrey\:30\:st, html.dark .sf-c-slategrey\:30\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-slategrey\:35\:st, html.dark .sf-c-slategrey\:35\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 35%) }
html[data-theme='dark'] .sf-c-slategrey\:40\:st, html.dark .sf-c-slategrey\:40\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-slategrey\:45\:st, html.dark .sf-c-slategrey\:45\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 45%) }
html[data-theme='dark'] .sf-c-slategrey\:50\:st, html.dark .sf-c-slategrey\:50\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategrey\:55\:st, html.dark .sf-c-slategrey\:55\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 55%) }
html[data-theme='dark'] .sf-c-slategrey\:60\:st, html.dark .sf-c-slategrey\:60\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-slategrey\:65\:st, html.dark .sf-c-slategrey\:65\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 65%) }
html[data-theme='dark'] .sf-c-slategrey\:70\:st, html.dark .sf-c-slategrey\:70\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-slategrey\:75\:st, html.dark .sf-c-slategrey\:75\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 75%) }
html[data-theme='dark'] .sf-c-slategrey\:80\:st, html.dark .sf-c-slategrey\:80\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-slategrey\:85\:st, html.dark .sf-c-slategrey\:85\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 85%) }
html[data-theme='dark'] .sf-c-slategrey\:90\:st, html.dark .sf-c-slategrey\:90\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-slategrey\:95\:st, html.dark .sf-c-slategrey\:95\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 95%) }
html[data-theme='dark'] .sf-c-slategrey\:100\:st, html.dark .sf-c-slategrey\:100\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 100%) }

html[data-theme='dark'] .sf-c-txt-slategrey, html.dark .sf-c-txt-slategrey { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:0, html.dark .sf-c-txt-slategrey\:0 { color: hsl(210, 13%, 100%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:5, html.dark .sf-c-txt-slategrey\:5 { color: hsl(210, 13%, 95%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:10, html.dark .sf-c-txt-slategrey\:10 { color: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:15, html.dark .sf-c-txt-slategrey\:15 { color: hsl(210, 13%, 85%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:20, html.dark .sf-c-txt-slategrey\:20 { color: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:25, html.dark .sf-c-txt-slategrey\:25 { color: hsl(210, 13%, 75%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:30, html.dark .sf-c-txt-slategrey\:30 { color: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:35, html.dark .sf-c-txt-slategrey\:35 { color: hsl(210, 13%, 65%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:40, html.dark .sf-c-txt-slategrey\:40 { color: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:45, html.dark .sf-c-txt-slategrey\:45 { color: hsl(210, 13%, 55%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:50, html.dark .sf-c-txt-slategrey\:50 { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:55, html.dark .sf-c-txt-slategrey\:55 { color: hsl(210, 13%, 45%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:60, html.dark .sf-c-txt-slategrey\:60 { color: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:65, html.dark .sf-c-txt-slategrey\:65 { color: hsl(210, 13%, 35%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:70, html.dark .sf-c-txt-slategrey\:70 { color: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:75, html.dark .sf-c-txt-slategrey\:75 { color: hsl(210, 13%, 25%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:80, html.dark .sf-c-txt-slategrey\:80 { color: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:85, html.dark .sf-c-txt-slategrey\:85 { color: hsl(210, 13%, 15%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:90, html.dark .sf-c-txt-slategrey\:90 { color: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:95, html.dark .sf-c-txt-slategrey\:95 { color: hsl(210, 13%, 5%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:100, html.dark .sf-c-txt-slategrey\:100 { color: hsl(210, 13%, 0%) }

html[data-theme='dark'] .sf-c-txt-slategrey\:st, html.dark .sf-c-txt-slategrey\:st { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:0\:st, html.dark .sf-c-txt-slategrey\:0\:st { color: hsl(210, 13%, 0%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:5\:st, html.dark .sf-c-txt-slategrey\:5\:st { color: hsl(210, 13%, 5%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:10\:st, html.dark .sf-c-txt-slategrey\:10\:st { color: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:15\:st, html.dark .sf-c-txt-slategrey\:15\:st { color: hsl(210, 13%, 15%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:20\:st, html.dark .sf-c-txt-slategrey\:20\:st { color: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:25\:st, html.dark .sf-c-txt-slategrey\:25\:st { color: hsl(210, 13%, 25%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:30\:st, html.dark .sf-c-txt-slategrey\:30\:st { color: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:35\:st, html.dark .sf-c-txt-slategrey\:35\:st { color: hsl(210, 13%, 35%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:40\:st, html.dark .sf-c-txt-slategrey\:40\:st { color: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:45\:st, html.dark .sf-c-txt-slategrey\:45\:st { color: hsl(210, 13%, 45%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:50\:st, html.dark .sf-c-txt-slategrey\:50\:st { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:55\:st, html.dark .sf-c-txt-slategrey\:55\:st { color: hsl(210, 13%, 55%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:60\:st, html.dark .sf-c-txt-slategrey\:60\:st { color: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:65\:st, html.dark .sf-c-txt-slategrey\:65\:st { color: hsl(210, 13%, 65%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:70\:st, html.dark .sf-c-txt-slategrey\:70\:st { color: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:75\:st, html.dark .sf-c-txt-slategrey\:75\:st { color: hsl(210, 13%, 75%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:80\:st, html.dark .sf-c-txt-slategrey\:80\:st { color: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:85\:st, html.dark .sf-c-txt-slategrey\:85\:st { color: hsl(210, 13%, 85%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:90\:st, html.dark .sf-c-txt-slategrey\:90\:st { color: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:95\:st, html.dark .sf-c-txt-slategrey\:95\:st { color: hsl(210, 13%, 95%) }
html[data-theme='dark'] .sf-c-txt-slategrey\:100\:st, html.dark .sf-c-txt-slategrey\:100\:st { color: hsl(210, 13%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-slategrey, html.auto .sf-c-slategrey { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategrey\:0, html.auto .sf-c-slategrey\:0 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 100%) }
  html[data-theme='auto'] .sf-c-slategrey\:5, html.auto .sf-c-slategrey\:5 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 95%) }
  html[data-theme='auto'] .sf-c-slategrey\:10, html.auto .sf-c-slategrey\:10 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-slategrey\:15, html.auto .sf-c-slategrey\:15 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 85%) }
  html[data-theme='auto'] .sf-c-slategrey\:20, html.auto .sf-c-slategrey\:20 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-slategrey\:25, html.auto .sf-c-slategrey\:25 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 75%) }
  html[data-theme='auto'] .sf-c-slategrey\:30, html.auto .sf-c-slategrey\:30 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-slategrey\:35, html.auto .sf-c-slategrey\:35 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 65%) }
  html[data-theme='auto'] .sf-c-slategrey\:40, html.auto .sf-c-slategrey\:40 { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-slategrey\:45, html.auto .sf-c-slategrey\:45 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 55%) }
  html[data-theme='auto'] .sf-c-slategrey\:50, html.auto .sf-c-slategrey\:50 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategrey\:55, html.auto .sf-c-slategrey\:55 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 45%) }
  html[data-theme='auto'] .sf-c-slategrey\:60, html.auto .sf-c-slategrey\:60 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-slategrey\:65, html.auto .sf-c-slategrey\:65 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 35%) }
  html[data-theme='auto'] .sf-c-slategrey\:70, html.auto .sf-c-slategrey\:70 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-slategrey\:75, html.auto .sf-c-slategrey\:75 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 25%) }
  html[data-theme='auto'] .sf-c-slategrey\:80, html.auto .sf-c-slategrey\:80 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-slategrey\:85, html.auto .sf-c-slategrey\:85 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 15%) }
  html[data-theme='auto'] .sf-c-slategrey\:90, html.auto .sf-c-slategrey\:90 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-slategrey\:95, html.auto .sf-c-slategrey\:95 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 5%) }
  html[data-theme='auto'] .sf-c-slategrey\:100, html.auto .sf-c-slategrey\:100 { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 0%) }

  html[data-theme='auto'] .sf-c-slategrey\:st, html.auto .sf-c-slategrey\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategrey\:0\:st, html.auto .sf-c-slategrey\:0\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 0%) }
  html[data-theme='auto'] .sf-c-slategrey\:5\:st, html.auto .sf-c-slategrey\:5\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 5%) }
  html[data-theme='auto'] .sf-c-slategrey\:10\:st, html.auto .sf-c-slategrey\:10\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-slategrey\:15\:st, html.auto .sf-c-slategrey\:15\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 15%) }
  html[data-theme='auto'] .sf-c-slategrey\:20\:st, html.auto .sf-c-slategrey\:20\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-slategrey\:25\:st, html.auto .sf-c-slategrey\:25\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 25%) }
  html[data-theme='auto'] .sf-c-slategrey\:30\:st, html.auto .sf-c-slategrey\:30\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-slategrey\:35\:st, html.auto .sf-c-slategrey\:35\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 35%) }
  html[data-theme='auto'] .sf-c-slategrey\:40\:st, html.auto .sf-c-slategrey\:40\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-slategrey\:45\:st, html.auto .sf-c-slategrey\:45\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 45%) }
  html[data-theme='auto'] .sf-c-slategrey\:50\:st, html.auto .sf-c-slategrey\:50\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategrey\:55\:st, html.auto .sf-c-slategrey\:55\:st { color: hsl(210, 13%, 95%); background: hsl(210, 13%, 55%) }
  html[data-theme='auto'] .sf-c-slategrey\:60\:st, html.auto .sf-c-slategrey\:60\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-slategrey\:65\:st, html.auto .sf-c-slategrey\:65\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 65%) }
  html[data-theme='auto'] .sf-c-slategrey\:70\:st, html.auto .sf-c-slategrey\:70\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-slategrey\:75\:st, html.auto .sf-c-slategrey\:75\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 75%) }
  html[data-theme='auto'] .sf-c-slategrey\:80\:st, html.auto .sf-c-slategrey\:80\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-slategrey\:85\:st, html.auto .sf-c-slategrey\:85\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 85%) }
  html[data-theme='auto'] .sf-c-slategrey\:90\:st, html.auto .sf-c-slategrey\:90\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-slategrey\:95\:st, html.auto .sf-c-slategrey\:95\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 95%) }
  html[data-theme='auto'] .sf-c-slategrey\:100\:st, html.auto .sf-c-slategrey\:100\:st { color: hsl(210, 13%, 5%); background: hsl(210, 13%, 100%) }

  html[data-theme='auto'] .sf-c-txt-slategrey, html.auto .sf-c-txt-slategrey { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:0, html.auto .sf-c-txt-slategrey\:0 { color: hsl(210, 13%, 100%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:5, html.auto .sf-c-txt-slategrey\:5 { color: hsl(210, 13%, 95%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:10, html.auto .sf-c-txt-slategrey\:10 { color: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:15, html.auto .sf-c-txt-slategrey\:15 { color: hsl(210, 13%, 85%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:20, html.auto .sf-c-txt-slategrey\:20 { color: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:25, html.auto .sf-c-txt-slategrey\:25 { color: hsl(210, 13%, 75%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:30, html.auto .sf-c-txt-slategrey\:30 { color: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:35, html.auto .sf-c-txt-slategrey\:35 { color: hsl(210, 13%, 65%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:40, html.auto .sf-c-txt-slategrey\:40 { color: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:45, html.auto .sf-c-txt-slategrey\:45 { color: hsl(210, 13%, 55%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:50, html.auto .sf-c-txt-slategrey\:50 { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:55, html.auto .sf-c-txt-slategrey\:55 { color: hsl(210, 13%, 45%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:60, html.auto .sf-c-txt-slategrey\:60 { color: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:65, html.auto .sf-c-txt-slategrey\:65 { color: hsl(210, 13%, 35%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:70, html.auto .sf-c-txt-slategrey\:70 { color: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:75, html.auto .sf-c-txt-slategrey\:75 { color: hsl(210, 13%, 25%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:80, html.auto .sf-c-txt-slategrey\:80 { color: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:85, html.auto .sf-c-txt-slategrey\:85 { color: hsl(210, 13%, 15%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:90, html.auto .sf-c-txt-slategrey\:90 { color: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:95, html.auto .sf-c-txt-slategrey\:95 { color: hsl(210, 13%, 5%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:100, html.auto .sf-c-txt-slategrey\:100 { color: hsl(210, 13%, 0%) }

  html[data-theme='auto'] .sf-c-txt-slategrey\:st, html.auto .sf-c-txt-slategrey\:st { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:0\:st, html.auto .sf-c-txt-slategrey\:0\:st { color: hsl(210, 13%, 0%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:5\:st, html.auto .sf-c-txt-slategrey\:5\:st { color: hsl(210, 13%, 5%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:10\:st, html.auto .sf-c-txt-slategrey\:10\:st { color: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:15\:st, html.auto .sf-c-txt-slategrey\:15\:st { color: hsl(210, 13%, 15%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:20\:st, html.auto .sf-c-txt-slategrey\:20\:st { color: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:25\:st, html.auto .sf-c-txt-slategrey\:25\:st { color: hsl(210, 13%, 25%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:30\:st, html.auto .sf-c-txt-slategrey\:30\:st { color: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:35\:st, html.auto .sf-c-txt-slategrey\:35\:st { color: hsl(210, 13%, 35%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:40\:st, html.auto .sf-c-txt-slategrey\:40\:st { color: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:45\:st, html.auto .sf-c-txt-slategrey\:45\:st { color: hsl(210, 13%, 45%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:50\:st, html.auto .sf-c-txt-slategrey\:50\:st { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:55\:st, html.auto .sf-c-txt-slategrey\:55\:st { color: hsl(210, 13%, 55%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:60\:st, html.auto .sf-c-txt-slategrey\:60\:st { color: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:65\:st, html.auto .sf-c-txt-slategrey\:65\:st { color: hsl(210, 13%, 65%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:70\:st, html.auto .sf-c-txt-slategrey\:70\:st { color: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:75\:st, html.auto .sf-c-txt-slategrey\:75\:st { color: hsl(210, 13%, 75%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:80\:st, html.auto .sf-c-txt-slategrey\:80\:st { color: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:85\:st, html.auto .sf-c-txt-slategrey\:85\:st { color: hsl(210, 13%, 85%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:90\:st, html.auto .sf-c-txt-slategrey\:90\:st { color: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:95\:st, html.auto .sf-c-txt-slategrey\:95\:st { color: hsl(210, 13%, 95%) }
  html[data-theme='auto'] .sf-c-txt-slategrey\:100\:st, html.auto .sf-c-txt-slategrey\:100\:st { color: hsl(210, 13%, 100%) }
}