.sf-var-snow {
  --sf-c-snow: 0 100% 99%;
  --sf-c-snow-0: 0 100% 0%;
  --sf-c-snow-5: 0 100% 5%;
  --sf-c-snow-10: 0 100% 10%;
  --sf-c-snow-15: 0 100% 15%;
  --sf-c-snow-20: 0 100% 20%;
  --sf-c-snow-25: 0 100% 25%;
  --sf-c-snow-30: 0 100% 30%;
  --sf-c-snow-35: 0 100% 35%;
  --sf-c-snow-40: 0 100% 40%;
  --sf-c-snow-45: 0 100% 45%;
  --sf-c-snow-50: 0 100% 50%;
  --sf-c-snow-55: 0 100% 55%;
  --sf-c-snow-60: 0 100% 60%;
  --sf-c-snow-65: 0 100% 65%;
  --sf-c-snow-70: 0 100% 70%;
  --sf-c-snow-75: 0 100% 75%;
  --sf-c-snow-80: 0 100% 80%;
  --sf-c-snow-85: 0 100% 85%;
  --sf-c-snow-90: 0 100% 90%;
  --sf-c-snow-95: 0 100% 95%;
  --sf-c-snow-100: 0 100% 100%;
}

.sf-c-snow, .sf-c-snow\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 99%) }
.sf-c-snow\:0, .sf-c-snow\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
.sf-c-snow\:5, .sf-c-snow\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
.sf-c-snow\:10, .sf-c-snow\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
.sf-c-snow\:15, .sf-c-snow\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
.sf-c-snow\:20, .sf-c-snow\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
.sf-c-snow\:25, .sf-c-snow\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
.sf-c-snow\:30, .sf-c-snow\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
.sf-c-snow\:35, .sf-c-snow\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
.sf-c-snow\:40, .sf-c-snow\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
.sf-c-snow\:45, .sf-c-snow\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
.sf-c-snow\:50, .sf-c-snow\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
.sf-c-snow\:55, .sf-c-snow\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
.sf-c-snow\:60, .sf-c-snow\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
.sf-c-snow\:65, .sf-c-snow\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
.sf-c-snow\:70, .sf-c-snow\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
.sf-c-snow\:75, .sf-c-snow\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
.sf-c-snow\:80, .sf-c-snow\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
.sf-c-snow\:85, .sf-c-snow\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
.sf-c-snow\:90, .sf-c-snow\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
.sf-c-snow\:95, .sf-c-snow\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
.sf-c-snow\:100, .sf-c-snow\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

.sf-c-txt-snow { color: hsl(0, 100%, 10%) }
.sf-c-txt-snow\:st { color: hsl(0, 100%, 99%) }
.sf-c-txt-snow\:0, .sf-c-txt-snow\:0\:st { color: hsl(0, 100%, 0%) }
.sf-c-txt-snow\:5, .sf-c-txt-snow\:5\:st { color: hsl(0, 100%, 5%) }
.sf-c-txt-snow\:10, .sf-c-txt-snow\:10\:st { color: hsl(0, 100%, 10%) }
.sf-c-txt-snow\:15, .sf-c-txt-snow\:15\:st { color: hsl(0, 100%, 15%) }
.sf-c-txt-snow\:20, .sf-c-txt-snow\:20\:st { color: hsl(0, 100%, 20%) }
.sf-c-txt-snow\:25, .sf-c-txt-snow\:25\:st { color: hsl(0, 100%, 25%) }
.sf-c-txt-snow\:30, .sf-c-txt-snow\:30\:st { color: hsl(0, 100%, 30%) }
.sf-c-txt-snow\:35, .sf-c-txt-snow\:35\:st { color: hsl(0, 100%, 35%) }
.sf-c-txt-snow\:40, .sf-c-txt-snow\:40\:st { color: hsl(0, 100%, 40%) }
.sf-c-txt-snow\:45, .sf-c-txt-snow\:45\:st { color: hsl(0, 100%, 45%) }
.sf-c-txt-snow\:50, .sf-c-txt-snow\:50\:st { color: hsl(0, 100%, 50%) }
.sf-c-txt-snow\:55, .sf-c-txt-snow\:55\:st { color: hsl(0, 100%, 55%) }
.sf-c-txt-snow\:60, .sf-c-txt-snow\:60\:st { color: hsl(0, 100%, 60%) }
.sf-c-txt-snow\:65, .sf-c-txt-snow\:65\:st { color: hsl(0, 100%, 65%) }
.sf-c-txt-snow\:70, .sf-c-txt-snow\:70\:st { color: hsl(0, 100%, 70%) }
.sf-c-txt-snow\:75, .sf-c-txt-snow\:75\:st { color: hsl(0, 100%, 75%) }
.sf-c-txt-snow\:80, .sf-c-txt-snow\:80\:st { color: hsl(0, 100%, 80%) }
.sf-c-txt-snow\:85, .sf-c-txt-snow\:85\:st { color: hsl(0, 100%, 85%) }
.sf-c-txt-snow\:90, .sf-c-txt-snow\:90\:st { color: hsl(0, 100%, 90%) }
.sf-c-txt-snow\:95, .sf-c-txt-snow\:95\:st { color: hsl(0, 100%, 95%) }
.sf-c-txt-snow\:100, .sf-c-txt-snow\:100\:st { color: hsl(0, 100%, 100%) }

html[data-theme='dark'] .sf-c-snow, html.dark .sf-c-snow { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 1%) }
html[data-theme='dark'] .sf-c-snow\:0, html.dark .sf-c-snow\:0 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }
html[data-theme='dark'] .sf-c-snow\:5, html.dark .sf-c-snow\:5 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-snow\:10, html.dark .sf-c-snow\:10 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-snow\:15, html.dark .sf-c-snow\:15 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-snow\:20, html.dark .sf-c-snow\:20 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-snow\:25, html.dark .sf-c-snow\:25 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-snow\:30, html.dark .sf-c-snow\:30 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-snow\:35, html.dark .sf-c-snow\:35 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-snow\:40, html.dark .sf-c-snow\:40 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-snow\:45, html.dark .sf-c-snow\:45 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-snow\:50, html.dark .sf-c-snow\:50 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-snow\:55, html.dark .sf-c-snow\:55 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-snow\:60, html.dark .sf-c-snow\:60 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-snow\:65, html.dark .sf-c-snow\:65 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-snow\:70, html.dark .sf-c-snow\:70 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-snow\:75, html.dark .sf-c-snow\:75 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-snow\:80, html.dark .sf-c-snow\:80 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-snow\:85, html.dark .sf-c-snow\:85 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-snow\:90, html.dark .sf-c-snow\:90 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-snow\:95, html.dark .sf-c-snow\:95 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-snow\:100, html.dark .sf-c-snow\:100 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }

html[data-theme='dark'] .sf-c-snow\:st, html.dark .sf-c-snow\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 99%) }
html[data-theme='dark'] .sf-c-snow\:0\:st, html.dark .sf-c-snow\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
html[data-theme='dark'] .sf-c-snow\:5\:st, html.dark .sf-c-snow\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-snow\:10\:st, html.dark .sf-c-snow\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-snow\:15\:st, html.dark .sf-c-snow\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-snow\:20\:st, html.dark .sf-c-snow\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-snow\:25\:st, html.dark .sf-c-snow\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-snow\:30\:st, html.dark .sf-c-snow\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-snow\:35\:st, html.dark .sf-c-snow\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-snow\:40\:st, html.dark .sf-c-snow\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-snow\:45\:st, html.dark .sf-c-snow\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-snow\:50\:st, html.dark .sf-c-snow\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-snow\:55\:st, html.dark .sf-c-snow\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-snow\:60\:st, html.dark .sf-c-snow\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-snow\:65\:st, html.dark .sf-c-snow\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-snow\:70\:st, html.dark .sf-c-snow\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-snow\:75\:st, html.dark .sf-c-snow\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-snow\:80\:st, html.dark .sf-c-snow\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-snow\:85\:st, html.dark .sf-c-snow\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-snow\:90\:st, html.dark .sf-c-snow\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-snow\:95\:st, html.dark .sf-c-snow\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-snow\:100\:st, html.dark .sf-c-snow\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-snow, html.dark .sf-c-txt-snow { color: hsl(0, 100%, 99%) }
html[data-theme='dark'] .sf-c-txt-snow\:0, html.dark .sf-c-txt-snow\:0 { color: hsl(0, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-snow\:5, html.dark .sf-c-txt-snow\:5 { color: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-snow\:10, html.dark .sf-c-txt-snow\:10 { color: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-snow\:15, html.dark .sf-c-txt-snow\:15 { color: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-snow\:20, html.dark .sf-c-txt-snow\:20 { color: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-snow\:25, html.dark .sf-c-txt-snow\:25 { color: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-snow\:30, html.dark .sf-c-txt-snow\:30 { color: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-snow\:35, html.dark .sf-c-txt-snow\:35 { color: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-snow\:40, html.dark .sf-c-txt-snow\:40 { color: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-snow\:45, html.dark .sf-c-txt-snow\:45 { color: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-snow\:50, html.dark .sf-c-txt-snow\:50 { color: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-snow\:55, html.dark .sf-c-txt-snow\:55 { color: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-snow\:60, html.dark .sf-c-txt-snow\:60 { color: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-snow\:65, html.dark .sf-c-txt-snow\:65 { color: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-snow\:70, html.dark .sf-c-txt-snow\:70 { color: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-snow\:75, html.dark .sf-c-txt-snow\:75 { color: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-snow\:80, html.dark .sf-c-txt-snow\:80 { color: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-snow\:85, html.dark .sf-c-txt-snow\:85 { color: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-snow\:90, html.dark .sf-c-txt-snow\:90 { color: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-snow\:95, html.dark .sf-c-txt-snow\:95 { color: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-snow\:100, html.dark .sf-c-txt-snow\:100 { color: hsl(0, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-snow\:st, html.dark .sf-c-txt-snow\:st { color: hsl(0, 100%, 99%) }
html[data-theme='dark'] .sf-c-txt-snow\:0\:st, html.dark .sf-c-txt-snow\:0\:st { color: hsl(0, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-snow\:5\:st, html.dark .sf-c-txt-snow\:5\:st { color: hsl(0, 100%, 5%) }
html[data-theme='dark'] .sf-c-txt-snow\:10\:st, html.dark .sf-c-txt-snow\:10\:st { color: hsl(0, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-snow\:15\:st, html.dark .sf-c-txt-snow\:15\:st { color: hsl(0, 100%, 15%) }
html[data-theme='dark'] .sf-c-txt-snow\:20\:st, html.dark .sf-c-txt-snow\:20\:st { color: hsl(0, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-snow\:25\:st, html.dark .sf-c-txt-snow\:25\:st { color: hsl(0, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-snow\:30\:st, html.dark .sf-c-txt-snow\:30\:st { color: hsl(0, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-snow\:35\:st, html.dark .sf-c-txt-snow\:35\:st { color: hsl(0, 100%, 35%) }
html[data-theme='dark'] .sf-c-txt-snow\:40\:st, html.dark .sf-c-txt-snow\:40\:st { color: hsl(0, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-snow\:45\:st, html.dark .sf-c-txt-snow\:45\:st { color: hsl(0, 100%, 45%) }
html[data-theme='dark'] .sf-c-txt-snow\:50\:st, html.dark .sf-c-txt-snow\:50\:st { color: hsl(0, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-snow\:55\:st, html.dark .sf-c-txt-snow\:55\:st { color: hsl(0, 100%, 55%) }
html[data-theme='dark'] .sf-c-txt-snow\:60\:st, html.dark .sf-c-txt-snow\:60\:st { color: hsl(0, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-snow\:65\:st, html.dark .sf-c-txt-snow\:65\:st { color: hsl(0, 100%, 65%) }
html[data-theme='dark'] .sf-c-txt-snow\:70\:st, html.dark .sf-c-txt-snow\:70\:st { color: hsl(0, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-snow\:75\:st, html.dark .sf-c-txt-snow\:75\:st { color: hsl(0, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-snow\:80\:st, html.dark .sf-c-txt-snow\:80\:st { color: hsl(0, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-snow\:85\:st, html.dark .sf-c-txt-snow\:85\:st { color: hsl(0, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-snow\:90\:st, html.dark .sf-c-txt-snow\:90\:st { color: hsl(0, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-snow\:95\:st, html.dark .sf-c-txt-snow\:95\:st { color: hsl(0, 100%, 95%) }
html[data-theme='dark'] .sf-c-txt-snow\:100\:st, html.dark .sf-c-txt-snow\:100\:st { color: hsl(0, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-snow, html.auto .sf-c-snow { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 1%) }
  html[data-theme='auto'] .sf-c-snow\:0, html.auto .sf-c-snow\:0 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }
  html[data-theme='auto'] .sf-c-snow\:5, html.auto .sf-c-snow\:5 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-snow\:10, html.auto .sf-c-snow\:10 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-snow\:15, html.auto .sf-c-snow\:15 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-snow\:20, html.auto .sf-c-snow\:20 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-snow\:25, html.auto .sf-c-snow\:25 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-snow\:30, html.auto .sf-c-snow\:30 { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-snow\:35, html.auto .sf-c-snow\:35 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-snow\:40, html.auto .sf-c-snow\:40 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-snow\:45, html.auto .sf-c-snow\:45 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-snow\:50, html.auto .sf-c-snow\:50 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-snow\:55, html.auto .sf-c-snow\:55 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-snow\:60, html.auto .sf-c-snow\:60 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-snow\:65, html.auto .sf-c-snow\:65 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-snow\:70, html.auto .sf-c-snow\:70 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-snow\:75, html.auto .sf-c-snow\:75 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-snow\:80, html.auto .sf-c-snow\:80 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-snow\:85, html.auto .sf-c-snow\:85 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-snow\:90, html.auto .sf-c-snow\:90 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-snow\:95, html.auto .sf-c-snow\:95 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-snow\:100, html.auto .sf-c-snow\:100 { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }

  html[data-theme='auto'] .sf-c-snow\:st, html.auto .sf-c-snow\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 99%) }
  html[data-theme='auto'] .sf-c-snow\:0\:st, html.auto .sf-c-snow\:0\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 0%) }
  html[data-theme='auto'] .sf-c-snow\:5\:st, html.auto .sf-c-snow\:5\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-snow\:10\:st, html.auto .sf-c-snow\:10\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-snow\:15\:st, html.auto .sf-c-snow\:15\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-snow\:20\:st, html.auto .sf-c-snow\:20\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-snow\:25\:st, html.auto .sf-c-snow\:25\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-snow\:30\:st, html.auto .sf-c-snow\:30\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-snow\:35\:st, html.auto .sf-c-snow\:35\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-snow\:40\:st, html.auto .sf-c-snow\:40\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-snow\:45\:st, html.auto .sf-c-snow\:45\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-snow\:50\:st, html.auto .sf-c-snow\:50\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-snow\:55\:st, html.auto .sf-c-snow\:55\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-snow\:60\:st, html.auto .sf-c-snow\:60\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-snow\:65\:st, html.auto .sf-c-snow\:65\:st { color: hsl(0, 100%, 95%); background: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-snow\:70\:st, html.auto .sf-c-snow\:70\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-snow\:75\:st, html.auto .sf-c-snow\:75\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-snow\:80\:st, html.auto .sf-c-snow\:80\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-snow\:85\:st, html.auto .sf-c-snow\:85\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-snow\:90\:st, html.auto .sf-c-snow\:90\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-snow\:95\:st, html.auto .sf-c-snow\:95\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-snow\:100\:st, html.auto .sf-c-snow\:100\:st { color: hsl(0, 100%, 5%); background: hsl(0, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-snow, html.auto .sf-c-txt-snow { color: hsl(0, 100%, 99%) }
  html[data-theme='auto'] .sf-c-txt-snow\:0, html.auto .sf-c-txt-snow\:0 { color: hsl(0, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-snow\:5, html.auto .sf-c-txt-snow\:5 { color: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-snow\:10, html.auto .sf-c-txt-snow\:10 { color: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-snow\:15, html.auto .sf-c-txt-snow\:15 { color: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-snow\:20, html.auto .sf-c-txt-snow\:20 { color: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-snow\:25, html.auto .sf-c-txt-snow\:25 { color: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-snow\:30, html.auto .sf-c-txt-snow\:30 { color: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-snow\:35, html.auto .sf-c-txt-snow\:35 { color: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-snow\:40, html.auto .sf-c-txt-snow\:40 { color: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-snow\:45, html.auto .sf-c-txt-snow\:45 { color: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-snow\:50, html.auto .sf-c-txt-snow\:50 { color: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-snow\:55, html.auto .sf-c-txt-snow\:55 { color: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-snow\:60, html.auto .sf-c-txt-snow\:60 { color: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-snow\:65, html.auto .sf-c-txt-snow\:65 { color: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-snow\:70, html.auto .sf-c-txt-snow\:70 { color: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-snow\:75, html.auto .sf-c-txt-snow\:75 { color: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-snow\:80, html.auto .sf-c-txt-snow\:80 { color: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-snow\:85, html.auto .sf-c-txt-snow\:85 { color: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-snow\:90, html.auto .sf-c-txt-snow\:90 { color: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-snow\:95, html.auto .sf-c-txt-snow\:95 { color: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-snow\:100, html.auto .sf-c-txt-snow\:100 { color: hsl(0, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-snow\:st, html.auto .sf-c-txt-snow\:st { color: hsl(0, 100%, 99%) }
  html[data-theme='auto'] .sf-c-txt-snow\:0\:st, html.auto .sf-c-txt-snow\:0\:st { color: hsl(0, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-snow\:5\:st, html.auto .sf-c-txt-snow\:5\:st { color: hsl(0, 100%, 5%) }
  html[data-theme='auto'] .sf-c-txt-snow\:10\:st, html.auto .sf-c-txt-snow\:10\:st { color: hsl(0, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-snow\:15\:st, html.auto .sf-c-txt-snow\:15\:st { color: hsl(0, 100%, 15%) }
  html[data-theme='auto'] .sf-c-txt-snow\:20\:st, html.auto .sf-c-txt-snow\:20\:st { color: hsl(0, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-snow\:25\:st, html.auto .sf-c-txt-snow\:25\:st { color: hsl(0, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-snow\:30\:st, html.auto .sf-c-txt-snow\:30\:st { color: hsl(0, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-snow\:35\:st, html.auto .sf-c-txt-snow\:35\:st { color: hsl(0, 100%, 35%) }
  html[data-theme='auto'] .sf-c-txt-snow\:40\:st, html.auto .sf-c-txt-snow\:40\:st { color: hsl(0, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-snow\:45\:st, html.auto .sf-c-txt-snow\:45\:st { color: hsl(0, 100%, 45%) }
  html[data-theme='auto'] .sf-c-txt-snow\:50\:st, html.auto .sf-c-txt-snow\:50\:st { color: hsl(0, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-snow\:55\:st, html.auto .sf-c-txt-snow\:55\:st { color: hsl(0, 100%, 55%) }
  html[data-theme='auto'] .sf-c-txt-snow\:60\:st, html.auto .sf-c-txt-snow\:60\:st { color: hsl(0, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-snow\:65\:st, html.auto .sf-c-txt-snow\:65\:st { color: hsl(0, 100%, 65%) }
  html[data-theme='auto'] .sf-c-txt-snow\:70\:st, html.auto .sf-c-txt-snow\:70\:st { color: hsl(0, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-snow\:75\:st, html.auto .sf-c-txt-snow\:75\:st { color: hsl(0, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-snow\:80\:st, html.auto .sf-c-txt-snow\:80\:st { color: hsl(0, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-snow\:85\:st, html.auto .sf-c-txt-snow\:85\:st { color: hsl(0, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-snow\:90\:st, html.auto .sf-c-txt-snow\:90\:st { color: hsl(0, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-snow\:95\:st, html.auto .sf-c-txt-snow\:95\:st { color: hsl(0, 100%, 95%) }
  html[data-theme='auto'] .sf-c-txt-snow\:100\:st, html.auto .sf-c-txt-snow\:100\:st { color: hsl(0, 100%, 100%) }
}