.sf-var-turquoise {
  --sf-c-turquoise: 174 72% 56%;
  --sf-c-turquoise-0: 174 72% 0%;
  --sf-c-turquoise-5: 174 72% 5%;
  --sf-c-turquoise-10: 174 72% 10%;
  --sf-c-turquoise-15: 174 72% 15%;
  --sf-c-turquoise-20: 174 72% 20%;
  --sf-c-turquoise-25: 174 72% 25%;
  --sf-c-turquoise-30: 174 72% 30%;
  --sf-c-turquoise-35: 174 72% 35%;
  --sf-c-turquoise-40: 174 72% 40%;
  --sf-c-turquoise-45: 174 72% 45%;
  --sf-c-turquoise-50: 174 72% 50%;
  --sf-c-turquoise-55: 174 72% 55%;
  --sf-c-turquoise-60: 174 72% 60%;
  --sf-c-turquoise-65: 174 72% 65%;
  --sf-c-turquoise-70: 174 72% 70%;
  --sf-c-turquoise-75: 174 72% 75%;
  --sf-c-turquoise-80: 174 72% 80%;
  --sf-c-turquoise-85: 174 72% 85%;
  --sf-c-turquoise-90: 174 72% 90%;
  --sf-c-turquoise-95: 174 72% 95%;
  --sf-c-turquoise-100: 174 72% 100%;
}

.sf-c-turquoise, .sf-c-turquoise\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 56%) }
.sf-c-turquoise\:0, .sf-c-turquoise\:0\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 0%) }
.sf-c-turquoise\:5, .sf-c-turquoise\:5\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 5%) }
.sf-c-turquoise\:10, .sf-c-turquoise\:10\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 10%) }
.sf-c-turquoise\:15, .sf-c-turquoise\:15\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 15%) }
.sf-c-turquoise\:20, .sf-c-turquoise\:20\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 20%) }
.sf-c-turquoise\:25, .sf-c-turquoise\:25\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 25%) }
.sf-c-turquoise\:30, .sf-c-turquoise\:30\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 30%) }
.sf-c-turquoise\:35, .sf-c-turquoise\:35\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 35%) }
.sf-c-turquoise\:40, .sf-c-turquoise\:40\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 40%) }
.sf-c-turquoise\:45, .sf-c-turquoise\:45\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 45%) }
.sf-c-turquoise\:50, .sf-c-turquoise\:50\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 50%) }
.sf-c-turquoise\:55, .sf-c-turquoise\:55\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 55%) }
.sf-c-turquoise\:60, .sf-c-turquoise\:60\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 60%) }
.sf-c-turquoise\:65, .sf-c-turquoise\:65\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 65%) }
.sf-c-turquoise\:70, .sf-c-turquoise\:70\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 70%) }
.sf-c-turquoise\:75, .sf-c-turquoise\:75\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 75%) }
.sf-c-turquoise\:80, .sf-c-turquoise\:80\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 80%) }
.sf-c-turquoise\:85, .sf-c-turquoise\:85\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 85%) }
.sf-c-turquoise\:90, .sf-c-turquoise\:90\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 90%) }
.sf-c-turquoise\:95, .sf-c-turquoise\:95\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 95%) }
.sf-c-turquoise\:100, .sf-c-turquoise\:100\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 100%) }

.sf-c-txt-turquoise { color: hsl(174, 72%, 10%) }
.sf-c-txt-turquoise\:st { color: hsl(174, 72%, 56%) }
.sf-c-txt-turquoise\:0, .sf-c-txt-turquoise\:0\:st { color: hsl(174, 72%, 0%) }
.sf-c-txt-turquoise\:5, .sf-c-txt-turquoise\:5\:st { color: hsl(174, 72%, 5%) }
.sf-c-txt-turquoise\:10, .sf-c-txt-turquoise\:10\:st { color: hsl(174, 72%, 10%) }
.sf-c-txt-turquoise\:15, .sf-c-txt-turquoise\:15\:st { color: hsl(174, 72%, 15%) }
.sf-c-txt-turquoise\:20, .sf-c-txt-turquoise\:20\:st { color: hsl(174, 72%, 20%) }
.sf-c-txt-turquoise\:25, .sf-c-txt-turquoise\:25\:st { color: hsl(174, 72%, 25%) }
.sf-c-txt-turquoise\:30, .sf-c-txt-turquoise\:30\:st { color: hsl(174, 72%, 30%) }
.sf-c-txt-turquoise\:35, .sf-c-txt-turquoise\:35\:st { color: hsl(174, 72%, 35%) }
.sf-c-txt-turquoise\:40, .sf-c-txt-turquoise\:40\:st { color: hsl(174, 72%, 40%) }
.sf-c-txt-turquoise\:45, .sf-c-txt-turquoise\:45\:st { color: hsl(174, 72%, 45%) }
.sf-c-txt-turquoise\:50, .sf-c-txt-turquoise\:50\:st { color: hsl(174, 72%, 50%) }
.sf-c-txt-turquoise\:55, .sf-c-txt-turquoise\:55\:st { color: hsl(174, 72%, 55%) }
.sf-c-txt-turquoise\:60, .sf-c-txt-turquoise\:60\:st { color: hsl(174, 72%, 60%) }
.sf-c-txt-turquoise\:65, .sf-c-txt-turquoise\:65\:st { color: hsl(174, 72%, 65%) }
.sf-c-txt-turquoise\:70, .sf-c-txt-turquoise\:70\:st { color: hsl(174, 72%, 70%) }
.sf-c-txt-turquoise\:75, .sf-c-txt-turquoise\:75\:st { color: hsl(174, 72%, 75%) }
.sf-c-txt-turquoise\:80, .sf-c-txt-turquoise\:80\:st { color: hsl(174, 72%, 80%) }
.sf-c-txt-turquoise\:85, .sf-c-txt-turquoise\:85\:st { color: hsl(174, 72%, 85%) }
.sf-c-txt-turquoise\:90, .sf-c-txt-turquoise\:90\:st { color: hsl(174, 72%, 90%) }
.sf-c-txt-turquoise\:95, .sf-c-txt-turquoise\:95\:st { color: hsl(174, 72%, 95%) }
.sf-c-txt-turquoise\:100, .sf-c-txt-turquoise\:100\:st { color: hsl(174, 72%, 100%) }

html[data-theme='dark'] .sf-c-turquoise, html.dark .sf-c-turquoise { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 44%) }
html[data-theme='dark'] .sf-c-turquoise\:0, html.dark .sf-c-turquoise\:0 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 100%) }
html[data-theme='dark'] .sf-c-turquoise\:5, html.dark .sf-c-turquoise\:5 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 95%) }
html[data-theme='dark'] .sf-c-turquoise\:10, html.dark .sf-c-turquoise\:10 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 90%) }
html[data-theme='dark'] .sf-c-turquoise\:15, html.dark .sf-c-turquoise\:15 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 85%) }
html[data-theme='dark'] .sf-c-turquoise\:20, html.dark .sf-c-turquoise\:20 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 80%) }
html[data-theme='dark'] .sf-c-turquoise\:25, html.dark .sf-c-turquoise\:25 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 75%) }
html[data-theme='dark'] .sf-c-turquoise\:30, html.dark .sf-c-turquoise\:30 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 70%) }
html[data-theme='dark'] .sf-c-turquoise\:35, html.dark .sf-c-turquoise\:35 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 65%) }
html[data-theme='dark'] .sf-c-turquoise\:40, html.dark .sf-c-turquoise\:40 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 60%) }
html[data-theme='dark'] .sf-c-turquoise\:45, html.dark .sf-c-turquoise\:45 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 55%) }
html[data-theme='dark'] .sf-c-turquoise\:50, html.dark .sf-c-turquoise\:50 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 50%) }
html[data-theme='dark'] .sf-c-turquoise\:55, html.dark .sf-c-turquoise\:55 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 45%) }
html[data-theme='dark'] .sf-c-turquoise\:60, html.dark .sf-c-turquoise\:60 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 40%) }
html[data-theme='dark'] .sf-c-turquoise\:65, html.dark .sf-c-turquoise\:65 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 35%) }
html[data-theme='dark'] .sf-c-turquoise\:70, html.dark .sf-c-turquoise\:70 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 30%) }
html[data-theme='dark'] .sf-c-turquoise\:75, html.dark .sf-c-turquoise\:75 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 25%) }
html[data-theme='dark'] .sf-c-turquoise\:80, html.dark .sf-c-turquoise\:80 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 20%) }
html[data-theme='dark'] .sf-c-turquoise\:85, html.dark .sf-c-turquoise\:85 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 15%) }
html[data-theme='dark'] .sf-c-turquoise\:90, html.dark .sf-c-turquoise\:90 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 10%) }
html[data-theme='dark'] .sf-c-turquoise\:95, html.dark .sf-c-turquoise\:95 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 5%) }
html[data-theme='dark'] .sf-c-turquoise\:100, html.dark .sf-c-turquoise\:100 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 0%) }

html[data-theme='dark'] .sf-c-turquoise\:st, html.dark .sf-c-turquoise\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 56%) }
html[data-theme='dark'] .sf-c-turquoise\:0\:st, html.dark .sf-c-turquoise\:0\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 0%) }
html[data-theme='dark'] .sf-c-turquoise\:5\:st, html.dark .sf-c-turquoise\:5\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 5%) }
html[data-theme='dark'] .sf-c-turquoise\:10\:st, html.dark .sf-c-turquoise\:10\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 10%) }
html[data-theme='dark'] .sf-c-turquoise\:15\:st, html.dark .sf-c-turquoise\:15\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 15%) }
html[data-theme='dark'] .sf-c-turquoise\:20\:st, html.dark .sf-c-turquoise\:20\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 20%) }
html[data-theme='dark'] .sf-c-turquoise\:25\:st, html.dark .sf-c-turquoise\:25\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 25%) }
html[data-theme='dark'] .sf-c-turquoise\:30\:st, html.dark .sf-c-turquoise\:30\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 30%) }
html[data-theme='dark'] .sf-c-turquoise\:35\:st, html.dark .sf-c-turquoise\:35\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 35%) }
html[data-theme='dark'] .sf-c-turquoise\:40\:st, html.dark .sf-c-turquoise\:40\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 40%) }
html[data-theme='dark'] .sf-c-turquoise\:45\:st, html.dark .sf-c-turquoise\:45\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 45%) }
html[data-theme='dark'] .sf-c-turquoise\:50\:st, html.dark .sf-c-turquoise\:50\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 50%) }
html[data-theme='dark'] .sf-c-turquoise\:55\:st, html.dark .sf-c-turquoise\:55\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 55%) }
html[data-theme='dark'] .sf-c-turquoise\:60\:st, html.dark .sf-c-turquoise\:60\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 60%) }
html[data-theme='dark'] .sf-c-turquoise\:65\:st, html.dark .sf-c-turquoise\:65\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 65%) }
html[data-theme='dark'] .sf-c-turquoise\:70\:st, html.dark .sf-c-turquoise\:70\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 70%) }
html[data-theme='dark'] .sf-c-turquoise\:75\:st, html.dark .sf-c-turquoise\:75\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 75%) }
html[data-theme='dark'] .sf-c-turquoise\:80\:st, html.dark .sf-c-turquoise\:80\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 80%) }
html[data-theme='dark'] .sf-c-turquoise\:85\:st, html.dark .sf-c-turquoise\:85\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 85%) }
html[data-theme='dark'] .sf-c-turquoise\:90\:st, html.dark .sf-c-turquoise\:90\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 90%) }
html[data-theme='dark'] .sf-c-turquoise\:95\:st, html.dark .sf-c-turquoise\:95\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 95%) }
html[data-theme='dark'] .sf-c-turquoise\:100\:st, html.dark .sf-c-turquoise\:100\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 100%) }

html[data-theme='dark'] .sf-c-txt-turquoise, html.dark .sf-c-txt-turquoise { color: hsl(174, 72%, 56%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:0, html.dark .sf-c-txt-turquoise\:0 { color: hsl(174, 72%, 100%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:5, html.dark .sf-c-txt-turquoise\:5 { color: hsl(174, 72%, 95%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:10, html.dark .sf-c-txt-turquoise\:10 { color: hsl(174, 72%, 90%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:15, html.dark .sf-c-txt-turquoise\:15 { color: hsl(174, 72%, 85%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:20, html.dark .sf-c-txt-turquoise\:20 { color: hsl(174, 72%, 80%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:25, html.dark .sf-c-txt-turquoise\:25 { color: hsl(174, 72%, 75%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:30, html.dark .sf-c-txt-turquoise\:30 { color: hsl(174, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:35, html.dark .sf-c-txt-turquoise\:35 { color: hsl(174, 72%, 65%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:40, html.dark .sf-c-txt-turquoise\:40 { color: hsl(174, 72%, 60%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:45, html.dark .sf-c-txt-turquoise\:45 { color: hsl(174, 72%, 55%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:50, html.dark .sf-c-txt-turquoise\:50 { color: hsl(174, 72%, 50%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:55, html.dark .sf-c-txt-turquoise\:55 { color: hsl(174, 72%, 45%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:60, html.dark .sf-c-txt-turquoise\:60 { color: hsl(174, 72%, 40%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:65, html.dark .sf-c-txt-turquoise\:65 { color: hsl(174, 72%, 35%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:70, html.dark .sf-c-txt-turquoise\:70 { color: hsl(174, 72%, 30%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:75, html.dark .sf-c-txt-turquoise\:75 { color: hsl(174, 72%, 25%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:80, html.dark .sf-c-txt-turquoise\:80 { color: hsl(174, 72%, 20%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:85, html.dark .sf-c-txt-turquoise\:85 { color: hsl(174, 72%, 15%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:90, html.dark .sf-c-txt-turquoise\:90 { color: hsl(174, 72%, 10%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:95, html.dark .sf-c-txt-turquoise\:95 { color: hsl(174, 72%, 5%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:100, html.dark .sf-c-txt-turquoise\:100 { color: hsl(174, 72%, 0%) }

html[data-theme='dark'] .sf-c-txt-turquoise\:st, html.dark .sf-c-txt-turquoise\:st { color: hsl(174, 72%, 56%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:0\:st, html.dark .sf-c-txt-turquoise\:0\:st { color: hsl(174, 72%, 0%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:5\:st, html.dark .sf-c-txt-turquoise\:5\:st { color: hsl(174, 72%, 5%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:10\:st, html.dark .sf-c-txt-turquoise\:10\:st { color: hsl(174, 72%, 10%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:15\:st, html.dark .sf-c-txt-turquoise\:15\:st { color: hsl(174, 72%, 15%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:20\:st, html.dark .sf-c-txt-turquoise\:20\:st { color: hsl(174, 72%, 20%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:25\:st, html.dark .sf-c-txt-turquoise\:25\:st { color: hsl(174, 72%, 25%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:30\:st, html.dark .sf-c-txt-turquoise\:30\:st { color: hsl(174, 72%, 30%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:35\:st, html.dark .sf-c-txt-turquoise\:35\:st { color: hsl(174, 72%, 35%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:40\:st, html.dark .sf-c-txt-turquoise\:40\:st { color: hsl(174, 72%, 40%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:45\:st, html.dark .sf-c-txt-turquoise\:45\:st { color: hsl(174, 72%, 45%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:50\:st, html.dark .sf-c-txt-turquoise\:50\:st { color: hsl(174, 72%, 50%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:55\:st, html.dark .sf-c-txt-turquoise\:55\:st { color: hsl(174, 72%, 55%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:60\:st, html.dark .sf-c-txt-turquoise\:60\:st { color: hsl(174, 72%, 60%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:65\:st, html.dark .sf-c-txt-turquoise\:65\:st { color: hsl(174, 72%, 65%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:70\:st, html.dark .sf-c-txt-turquoise\:70\:st { color: hsl(174, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:75\:st, html.dark .sf-c-txt-turquoise\:75\:st { color: hsl(174, 72%, 75%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:80\:st, html.dark .sf-c-txt-turquoise\:80\:st { color: hsl(174, 72%, 80%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:85\:st, html.dark .sf-c-txt-turquoise\:85\:st { color: hsl(174, 72%, 85%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:90\:st, html.dark .sf-c-txt-turquoise\:90\:st { color: hsl(174, 72%, 90%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:95\:st, html.dark .sf-c-txt-turquoise\:95\:st { color: hsl(174, 72%, 95%) }
html[data-theme='dark'] .sf-c-txt-turquoise\:100\:st, html.dark .sf-c-txt-turquoise\:100\:st { color: hsl(174, 72%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-turquoise, html.auto .sf-c-turquoise { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 44%) }
  html[data-theme='auto'] .sf-c-turquoise\:0, html.auto .sf-c-turquoise\:0 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 100%) }
  html[data-theme='auto'] .sf-c-turquoise\:5, html.auto .sf-c-turquoise\:5 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 95%) }
  html[data-theme='auto'] .sf-c-turquoise\:10, html.auto .sf-c-turquoise\:10 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 90%) }
  html[data-theme='auto'] .sf-c-turquoise\:15, html.auto .sf-c-turquoise\:15 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 85%) }
  html[data-theme='auto'] .sf-c-turquoise\:20, html.auto .sf-c-turquoise\:20 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 80%) }
  html[data-theme='auto'] .sf-c-turquoise\:25, html.auto .sf-c-turquoise\:25 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 75%) }
  html[data-theme='auto'] .sf-c-turquoise\:30, html.auto .sf-c-turquoise\:30 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 70%) }
  html[data-theme='auto'] .sf-c-turquoise\:35, html.auto .sf-c-turquoise\:35 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 65%) }
  html[data-theme='auto'] .sf-c-turquoise\:40, html.auto .sf-c-turquoise\:40 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 60%) }
  html[data-theme='auto'] .sf-c-turquoise\:45, html.auto .sf-c-turquoise\:45 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 55%) }
  html[data-theme='auto'] .sf-c-turquoise\:50, html.auto .sf-c-turquoise\:50 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 50%) }
  html[data-theme='auto'] .sf-c-turquoise\:55, html.auto .sf-c-turquoise\:55 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 45%) }
  html[data-theme='auto'] .sf-c-turquoise\:60, html.auto .sf-c-turquoise\:60 { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 40%) }
  html[data-theme='auto'] .sf-c-turquoise\:65, html.auto .sf-c-turquoise\:65 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 35%) }
  html[data-theme='auto'] .sf-c-turquoise\:70, html.auto .sf-c-turquoise\:70 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 30%) }
  html[data-theme='auto'] .sf-c-turquoise\:75, html.auto .sf-c-turquoise\:75 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 25%) }
  html[data-theme='auto'] .sf-c-turquoise\:80, html.auto .sf-c-turquoise\:80 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 20%) }
  html[data-theme='auto'] .sf-c-turquoise\:85, html.auto .sf-c-turquoise\:85 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 15%) }
  html[data-theme='auto'] .sf-c-turquoise\:90, html.auto .sf-c-turquoise\:90 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 10%) }
  html[data-theme='auto'] .sf-c-turquoise\:95, html.auto .sf-c-turquoise\:95 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 5%) }
  html[data-theme='auto'] .sf-c-turquoise\:100, html.auto .sf-c-turquoise\:100 { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 0%) }

  html[data-theme='auto'] .sf-c-turquoise\:st, html.auto .sf-c-turquoise\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 56%) }
  html[data-theme='auto'] .sf-c-turquoise\:0\:st, html.auto .sf-c-turquoise\:0\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 0%) }
  html[data-theme='auto'] .sf-c-turquoise\:5\:st, html.auto .sf-c-turquoise\:5\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 5%) }
  html[data-theme='auto'] .sf-c-turquoise\:10\:st, html.auto .sf-c-turquoise\:10\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 10%) }
  html[data-theme='auto'] .sf-c-turquoise\:15\:st, html.auto .sf-c-turquoise\:15\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 15%) }
  html[data-theme='auto'] .sf-c-turquoise\:20\:st, html.auto .sf-c-turquoise\:20\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 20%) }
  html[data-theme='auto'] .sf-c-turquoise\:25\:st, html.auto .sf-c-turquoise\:25\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 25%) }
  html[data-theme='auto'] .sf-c-turquoise\:30\:st, html.auto .sf-c-turquoise\:30\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 30%) }
  html[data-theme='auto'] .sf-c-turquoise\:35\:st, html.auto .sf-c-turquoise\:35\:st { color: hsl(174, 72%, 95%); background: hsl(174, 72%, 35%) }
  html[data-theme='auto'] .sf-c-turquoise\:40\:st, html.auto .sf-c-turquoise\:40\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 40%) }
  html[data-theme='auto'] .sf-c-turquoise\:45\:st, html.auto .sf-c-turquoise\:45\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 45%) }
  html[data-theme='auto'] .sf-c-turquoise\:50\:st, html.auto .sf-c-turquoise\:50\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 50%) }
  html[data-theme='auto'] .sf-c-turquoise\:55\:st, html.auto .sf-c-turquoise\:55\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 55%) }
  html[data-theme='auto'] .sf-c-turquoise\:60\:st, html.auto .sf-c-turquoise\:60\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 60%) }
  html[data-theme='auto'] .sf-c-turquoise\:65\:st, html.auto .sf-c-turquoise\:65\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 65%) }
  html[data-theme='auto'] .sf-c-turquoise\:70\:st, html.auto .sf-c-turquoise\:70\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 70%) }
  html[data-theme='auto'] .sf-c-turquoise\:75\:st, html.auto .sf-c-turquoise\:75\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 75%) }
  html[data-theme='auto'] .sf-c-turquoise\:80\:st, html.auto .sf-c-turquoise\:80\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 80%) }
  html[data-theme='auto'] .sf-c-turquoise\:85\:st, html.auto .sf-c-turquoise\:85\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 85%) }
  html[data-theme='auto'] .sf-c-turquoise\:90\:st, html.auto .sf-c-turquoise\:90\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 90%) }
  html[data-theme='auto'] .sf-c-turquoise\:95\:st, html.auto .sf-c-turquoise\:95\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 95%) }
  html[data-theme='auto'] .sf-c-turquoise\:100\:st, html.auto .sf-c-turquoise\:100\:st { color: hsl(174, 72%, 5%); background: hsl(174, 72%, 100%) }

  html[data-theme='auto'] .sf-c-txt-turquoise, html.auto .sf-c-txt-turquoise { color: hsl(174, 72%, 56%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:0, html.auto .sf-c-txt-turquoise\:0 { color: hsl(174, 72%, 100%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:5, html.auto .sf-c-txt-turquoise\:5 { color: hsl(174, 72%, 95%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:10, html.auto .sf-c-txt-turquoise\:10 { color: hsl(174, 72%, 90%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:15, html.auto .sf-c-txt-turquoise\:15 { color: hsl(174, 72%, 85%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:20, html.auto .sf-c-txt-turquoise\:20 { color: hsl(174, 72%, 80%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:25, html.auto .sf-c-txt-turquoise\:25 { color: hsl(174, 72%, 75%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:30, html.auto .sf-c-txt-turquoise\:30 { color: hsl(174, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:35, html.auto .sf-c-txt-turquoise\:35 { color: hsl(174, 72%, 65%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:40, html.auto .sf-c-txt-turquoise\:40 { color: hsl(174, 72%, 60%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:45, html.auto .sf-c-txt-turquoise\:45 { color: hsl(174, 72%, 55%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:50, html.auto .sf-c-txt-turquoise\:50 { color: hsl(174, 72%, 50%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:55, html.auto .sf-c-txt-turquoise\:55 { color: hsl(174, 72%, 45%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:60, html.auto .sf-c-txt-turquoise\:60 { color: hsl(174, 72%, 40%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:65, html.auto .sf-c-txt-turquoise\:65 { color: hsl(174, 72%, 35%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:70, html.auto .sf-c-txt-turquoise\:70 { color: hsl(174, 72%, 30%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:75, html.auto .sf-c-txt-turquoise\:75 { color: hsl(174, 72%, 25%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:80, html.auto .sf-c-txt-turquoise\:80 { color: hsl(174, 72%, 20%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:85, html.auto .sf-c-txt-turquoise\:85 { color: hsl(174, 72%, 15%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:90, html.auto .sf-c-txt-turquoise\:90 { color: hsl(174, 72%, 10%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:95, html.auto .sf-c-txt-turquoise\:95 { color: hsl(174, 72%, 5%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:100, html.auto .sf-c-txt-turquoise\:100 { color: hsl(174, 72%, 0%) }

  html[data-theme='auto'] .sf-c-txt-turquoise\:st, html.auto .sf-c-txt-turquoise\:st { color: hsl(174, 72%, 56%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:0\:st, html.auto .sf-c-txt-turquoise\:0\:st { color: hsl(174, 72%, 0%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:5\:st, html.auto .sf-c-txt-turquoise\:5\:st { color: hsl(174, 72%, 5%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:10\:st, html.auto .sf-c-txt-turquoise\:10\:st { color: hsl(174, 72%, 10%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:15\:st, html.auto .sf-c-txt-turquoise\:15\:st { color: hsl(174, 72%, 15%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:20\:st, html.auto .sf-c-txt-turquoise\:20\:st { color: hsl(174, 72%, 20%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:25\:st, html.auto .sf-c-txt-turquoise\:25\:st { color: hsl(174, 72%, 25%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:30\:st, html.auto .sf-c-txt-turquoise\:30\:st { color: hsl(174, 72%, 30%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:35\:st, html.auto .sf-c-txt-turquoise\:35\:st { color: hsl(174, 72%, 35%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:40\:st, html.auto .sf-c-txt-turquoise\:40\:st { color: hsl(174, 72%, 40%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:45\:st, html.auto .sf-c-txt-turquoise\:45\:st { color: hsl(174, 72%, 45%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:50\:st, html.auto .sf-c-txt-turquoise\:50\:st { color: hsl(174, 72%, 50%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:55\:st, html.auto .sf-c-txt-turquoise\:55\:st { color: hsl(174, 72%, 55%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:60\:st, html.auto .sf-c-txt-turquoise\:60\:st { color: hsl(174, 72%, 60%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:65\:st, html.auto .sf-c-txt-turquoise\:65\:st { color: hsl(174, 72%, 65%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:70\:st, html.auto .sf-c-txt-turquoise\:70\:st { color: hsl(174, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:75\:st, html.auto .sf-c-txt-turquoise\:75\:st { color: hsl(174, 72%, 75%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:80\:st, html.auto .sf-c-txt-turquoise\:80\:st { color: hsl(174, 72%, 80%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:85\:st, html.auto .sf-c-txt-turquoise\:85\:st { color: hsl(174, 72%, 85%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:90\:st, html.auto .sf-c-txt-turquoise\:90\:st { color: hsl(174, 72%, 90%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:95\:st, html.auto .sf-c-txt-turquoise\:95\:st { color: hsl(174, 72%, 95%) }
  html[data-theme='auto'] .sf-c-txt-turquoise\:100\:st, html.auto .sf-c-txt-turquoise\:100\:st { color: hsl(174, 72%, 100%) }
}