.sf-var-whitesmoke {
  --sf-c-whitesmoke: 0 0% 96%;
  --sf-c-whitesmoke-0: 0 0% 0%;
  --sf-c-whitesmoke-5: 0 0% 5%;
  --sf-c-whitesmoke-10: 0 0% 10%;
  --sf-c-whitesmoke-15: 0 0% 15%;
  --sf-c-whitesmoke-20: 0 0% 20%;
  --sf-c-whitesmoke-25: 0 0% 25%;
  --sf-c-whitesmoke-30: 0 0% 30%;
  --sf-c-whitesmoke-35: 0 0% 35%;
  --sf-c-whitesmoke-40: 0 0% 40%;
  --sf-c-whitesmoke-45: 0 0% 45%;
  --sf-c-whitesmoke-50: 0 0% 50%;
  --sf-c-whitesmoke-55: 0 0% 55%;
  --sf-c-whitesmoke-60: 0 0% 60%;
  --sf-c-whitesmoke-65: 0 0% 65%;
  --sf-c-whitesmoke-70: 0 0% 70%;
  --sf-c-whitesmoke-75: 0 0% 75%;
  --sf-c-whitesmoke-80: 0 0% 80%;
  --sf-c-whitesmoke-85: 0 0% 85%;
  --sf-c-whitesmoke-90: 0 0% 90%;
  --sf-c-whitesmoke-95: 0 0% 95%;
  --sf-c-whitesmoke-100: 0 0% 100%;
}

.sf-c-whitesmoke, .sf-c-whitesmoke\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 96%) }
.sf-c-whitesmoke\:0, .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
.sf-c-whitesmoke\:5, .sf-c-whitesmoke\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
.sf-c-whitesmoke\:10, .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
.sf-c-whitesmoke\:15, .sf-c-whitesmoke\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
.sf-c-whitesmoke\:20, .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
.sf-c-whitesmoke\:25, .sf-c-whitesmoke\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
.sf-c-whitesmoke\:30, .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
.sf-c-whitesmoke\:35, .sf-c-whitesmoke\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
.sf-c-whitesmoke\:40, .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
.sf-c-whitesmoke\:45, .sf-c-whitesmoke\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
.sf-c-whitesmoke\:50, .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
.sf-c-whitesmoke\:55, .sf-c-whitesmoke\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
.sf-c-whitesmoke\:60, .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
.sf-c-whitesmoke\:65, .sf-c-whitesmoke\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
.sf-c-whitesmoke\:70, .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
.sf-c-whitesmoke\:75, .sf-c-whitesmoke\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
.sf-c-whitesmoke\:80, .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
.sf-c-whitesmoke\:85, .sf-c-whitesmoke\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
.sf-c-whitesmoke\:90, .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
.sf-c-whitesmoke\:95, .sf-c-whitesmoke\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
.sf-c-whitesmoke\:100, .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

.sf-c-txt-whitesmoke { color: hsl(0, 0%, 10%) }
.sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
.sf-c-txt-whitesmoke\:0, .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-whitesmoke\:5, .sf-c-txt-whitesmoke\:5\:st { color: hsl(0, 0%, 5%) }
.sf-c-txt-whitesmoke\:10, .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-whitesmoke\:15, .sf-c-txt-whitesmoke\:15\:st { color: hsl(0, 0%, 15%) }
.sf-c-txt-whitesmoke\:20, .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-whitesmoke\:25, .sf-c-txt-whitesmoke\:25\:st { color: hsl(0, 0%, 25%) }
.sf-c-txt-whitesmoke\:30, .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-whitesmoke\:35, .sf-c-txt-whitesmoke\:35\:st { color: hsl(0, 0%, 35%) }
.sf-c-txt-whitesmoke\:40, .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-whitesmoke\:45, .sf-c-txt-whitesmoke\:45\:st { color: hsl(0, 0%, 45%) }
.sf-c-txt-whitesmoke\:50, .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-whitesmoke\:55, .sf-c-txt-whitesmoke\:55\:st { color: hsl(0, 0%, 55%) }
.sf-c-txt-whitesmoke\:60, .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-whitesmoke\:65, .sf-c-txt-whitesmoke\:65\:st { color: hsl(0, 0%, 65%) }
.sf-c-txt-whitesmoke\:70, .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-whitesmoke\:75, .sf-c-txt-whitesmoke\:75\:st { color: hsl(0, 0%, 75%) }
.sf-c-txt-whitesmoke\:80, .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-whitesmoke\:85, .sf-c-txt-whitesmoke\:85\:st { color: hsl(0, 0%, 85%) }
.sf-c-txt-whitesmoke\:90, .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-whitesmoke\:95, .sf-c-txt-whitesmoke\:95\:st { color: hsl(0, 0%, 95%) }
.sf-c-txt-whitesmoke\:100, .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-whitesmoke, html.dark .sf-c-whitesmoke { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 4%) }
html[data-theme='dark'] .sf-c-whitesmoke\:0, html.dark .sf-c-whitesmoke\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-whitesmoke\:5, html.dark .sf-c-whitesmoke\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-whitesmoke\:10, html.dark .sf-c-whitesmoke\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-whitesmoke\:15, html.dark .sf-c-whitesmoke\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-whitesmoke\:20, html.dark .sf-c-whitesmoke\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-whitesmoke\:25, html.dark .sf-c-whitesmoke\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-whitesmoke\:30, html.dark .sf-c-whitesmoke\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-whitesmoke\:35, html.dark .sf-c-whitesmoke\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-whitesmoke\:40, html.dark .sf-c-whitesmoke\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-whitesmoke\:45, html.dark .sf-c-whitesmoke\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-whitesmoke\:50, html.dark .sf-c-whitesmoke\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-whitesmoke\:55, html.dark .sf-c-whitesmoke\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-whitesmoke\:60, html.dark .sf-c-whitesmoke\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-whitesmoke\:65, html.dark .sf-c-whitesmoke\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-whitesmoke\:70, html.dark .sf-c-whitesmoke\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-whitesmoke\:75, html.dark .sf-c-whitesmoke\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-whitesmoke\:80, html.dark .sf-c-whitesmoke\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-whitesmoke\:85, html.dark .sf-c-whitesmoke\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-whitesmoke\:90, html.dark .sf-c-whitesmoke\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-whitesmoke\:95, html.dark .sf-c-whitesmoke\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-whitesmoke\:100, html.dark .sf-c-whitesmoke\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-whitesmoke\:st, html.dark .sf-c-whitesmoke\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-whitesmoke\:0\:st, html.dark .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-whitesmoke\:5\:st, html.dark .sf-c-whitesmoke\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-whitesmoke\:10\:st, html.dark .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-whitesmoke\:15\:st, html.dark .sf-c-whitesmoke\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-whitesmoke\:20\:st, html.dark .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-whitesmoke\:25\:st, html.dark .sf-c-whitesmoke\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-whitesmoke\:30\:st, html.dark .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-whitesmoke\:35\:st, html.dark .sf-c-whitesmoke\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-whitesmoke\:40\:st, html.dark .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-whitesmoke\:45\:st, html.dark .sf-c-whitesmoke\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-whitesmoke\:50\:st, html.dark .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-whitesmoke\:55\:st, html.dark .sf-c-whitesmoke\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-whitesmoke\:60\:st, html.dark .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-whitesmoke\:65\:st, html.dark .sf-c-whitesmoke\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-whitesmoke\:70\:st, html.dark .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-whitesmoke\:75\:st, html.dark .sf-c-whitesmoke\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-whitesmoke\:80\:st, html.dark .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-whitesmoke\:85\:st, html.dark .sf-c-whitesmoke\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-whitesmoke\:90\:st, html.dark .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-whitesmoke\:95\:st, html.dark .sf-c-whitesmoke\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-whitesmoke\:100\:st, html.dark .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-whitesmoke, html.dark .sf-c-txt-whitesmoke { color: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:0, html.dark .sf-c-txt-whitesmoke\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:5, html.dark .sf-c-txt-whitesmoke\:5 { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:10, html.dark .sf-c-txt-whitesmoke\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:15, html.dark .sf-c-txt-whitesmoke\:15 { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:20, html.dark .sf-c-txt-whitesmoke\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:25, html.dark .sf-c-txt-whitesmoke\:25 { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:30, html.dark .sf-c-txt-whitesmoke\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:35, html.dark .sf-c-txt-whitesmoke\:35 { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:40, html.dark .sf-c-txt-whitesmoke\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:45, html.dark .sf-c-txt-whitesmoke\:45 { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:50, html.dark .sf-c-txt-whitesmoke\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:55, html.dark .sf-c-txt-whitesmoke\:55 { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:60, html.dark .sf-c-txt-whitesmoke\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:65, html.dark .sf-c-txt-whitesmoke\:65 { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:70, html.dark .sf-c-txt-whitesmoke\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:75, html.dark .sf-c-txt-whitesmoke\:75 { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:80, html.dark .sf-c-txt-whitesmoke\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:85, html.dark .sf-c-txt-whitesmoke\:85 { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:90, html.dark .sf-c-txt-whitesmoke\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:95, html.dark .sf-c-txt-whitesmoke\:95 { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:100, html.dark .sf-c-txt-whitesmoke\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-whitesmoke\:st, html.dark .sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:0\:st, html.dark .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:5\:st, html.dark .sf-c-txt-whitesmoke\:5\:st { color: hsl(0, 0%, 5%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:10\:st, html.dark .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:15\:st, html.dark .sf-c-txt-whitesmoke\:15\:st { color: hsl(0, 0%, 15%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:20\:st, html.dark .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:25\:st, html.dark .sf-c-txt-whitesmoke\:25\:st { color: hsl(0, 0%, 25%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:30\:st, html.dark .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:35\:st, html.dark .sf-c-txt-whitesmoke\:35\:st { color: hsl(0, 0%, 35%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:40\:st, html.dark .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:45\:st, html.dark .sf-c-txt-whitesmoke\:45\:st { color: hsl(0, 0%, 45%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:50\:st, html.dark .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:55\:st, html.dark .sf-c-txt-whitesmoke\:55\:st { color: hsl(0, 0%, 55%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:60\:st, html.dark .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:65\:st, html.dark .sf-c-txt-whitesmoke\:65\:st { color: hsl(0, 0%, 65%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:70\:st, html.dark .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:75\:st, html.dark .sf-c-txt-whitesmoke\:75\:st { color: hsl(0, 0%, 75%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:80\:st, html.dark .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:85\:st, html.dark .sf-c-txt-whitesmoke\:85\:st { color: hsl(0, 0%, 85%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:90\:st, html.dark .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:95\:st, html.dark .sf-c-txt-whitesmoke\:95\:st { color: hsl(0, 0%, 95%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:100\:st, html.dark .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-whitesmoke, html.auto .sf-c-whitesmoke { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 4%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:0, html.auto .sf-c-whitesmoke\:0 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:5, html.auto .sf-c-whitesmoke\:5 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:10, html.auto .sf-c-whitesmoke\:10 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:15, html.auto .sf-c-whitesmoke\:15 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:20, html.auto .sf-c-whitesmoke\:20 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:25, html.auto .sf-c-whitesmoke\:25 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:30, html.auto .sf-c-whitesmoke\:30 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:35, html.auto .sf-c-whitesmoke\:35 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:40, html.auto .sf-c-whitesmoke\:40 { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:45, html.auto .sf-c-whitesmoke\:45 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:50, html.auto .sf-c-whitesmoke\:50 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:55, html.auto .sf-c-whitesmoke\:55 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:60, html.auto .sf-c-whitesmoke\:60 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:65, html.auto .sf-c-whitesmoke\:65 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:70, html.auto .sf-c-whitesmoke\:70 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:75, html.auto .sf-c-whitesmoke\:75 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:80, html.auto .sf-c-whitesmoke\:80 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:85, html.auto .sf-c-whitesmoke\:85 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:90, html.auto .sf-c-whitesmoke\:90 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:95, html.auto .sf-c-whitesmoke\:95 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:100, html.auto .sf-c-whitesmoke\:100 { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-whitesmoke\:st, html.auto .sf-c-whitesmoke\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:0\:st, html.auto .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:5\:st, html.auto .sf-c-whitesmoke\:5\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:10\:st, html.auto .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:15\:st, html.auto .sf-c-whitesmoke\:15\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:20\:st, html.auto .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:25\:st, html.auto .sf-c-whitesmoke\:25\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:30\:st, html.auto .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:35\:st, html.auto .sf-c-whitesmoke\:35\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:40\:st, html.auto .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:45\:st, html.auto .sf-c-whitesmoke\:45\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:50\:st, html.auto .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:55\:st, html.auto .sf-c-whitesmoke\:55\:st { color: hsl(0, 0%, 95%); background: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:60\:st, html.auto .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:65\:st, html.auto .sf-c-whitesmoke\:65\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:70\:st, html.auto .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:75\:st, html.auto .sf-c-whitesmoke\:75\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:80\:st, html.auto .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:85\:st, html.auto .sf-c-whitesmoke\:85\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:90\:st, html.auto .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:95\:st, html.auto .sf-c-whitesmoke\:95\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:100\:st, html.auto .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 5%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-whitesmoke, html.auto .sf-c-txt-whitesmoke { color: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:0, html.auto .sf-c-txt-whitesmoke\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:5, html.auto .sf-c-txt-whitesmoke\:5 { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:10, html.auto .sf-c-txt-whitesmoke\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:15, html.auto .sf-c-txt-whitesmoke\:15 { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:20, html.auto .sf-c-txt-whitesmoke\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:25, html.auto .sf-c-txt-whitesmoke\:25 { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:30, html.auto .sf-c-txt-whitesmoke\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:35, html.auto .sf-c-txt-whitesmoke\:35 { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:40, html.auto .sf-c-txt-whitesmoke\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:45, html.auto .sf-c-txt-whitesmoke\:45 { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:50, html.auto .sf-c-txt-whitesmoke\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:55, html.auto .sf-c-txt-whitesmoke\:55 { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:60, html.auto .sf-c-txt-whitesmoke\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:65, html.auto .sf-c-txt-whitesmoke\:65 { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:70, html.auto .sf-c-txt-whitesmoke\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:75, html.auto .sf-c-txt-whitesmoke\:75 { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:80, html.auto .sf-c-txt-whitesmoke\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:85, html.auto .sf-c-txt-whitesmoke\:85 { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:90, html.auto .sf-c-txt-whitesmoke\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:95, html.auto .sf-c-txt-whitesmoke\:95 { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:100, html.auto .sf-c-txt-whitesmoke\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-whitesmoke\:st, html.auto .sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:0\:st, html.auto .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:5\:st, html.auto .sf-c-txt-whitesmoke\:5\:st { color: hsl(0, 0%, 5%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:10\:st, html.auto .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:15\:st, html.auto .sf-c-txt-whitesmoke\:15\:st { color: hsl(0, 0%, 15%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:20\:st, html.auto .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:25\:st, html.auto .sf-c-txt-whitesmoke\:25\:st { color: hsl(0, 0%, 25%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:30\:st, html.auto .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:35\:st, html.auto .sf-c-txt-whitesmoke\:35\:st { color: hsl(0, 0%, 35%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:40\:st, html.auto .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:45\:st, html.auto .sf-c-txt-whitesmoke\:45\:st { color: hsl(0, 0%, 45%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:50\:st, html.auto .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:55\:st, html.auto .sf-c-txt-whitesmoke\:55\:st { color: hsl(0, 0%, 55%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:60\:st, html.auto .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:65\:st, html.auto .sf-c-txt-whitesmoke\:65\:st { color: hsl(0, 0%, 65%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:70\:st, html.auto .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:75\:st, html.auto .sf-c-txt-whitesmoke\:75\:st { color: hsl(0, 0%, 75%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:80\:st, html.auto .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:85\:st, html.auto .sf-c-txt-whitesmoke\:85\:st { color: hsl(0, 0%, 85%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:90\:st, html.auto .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:95\:st, html.auto .sf-c-txt-whitesmoke\:95\:st { color: hsl(0, 0%, 95%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:100\:st, html.auto .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }
}