.sf-var-yellowgreen {
  --sf-c-yellowgreen: 80 61% 50%;
  --sf-c-yellowgreen-0: 80 61% 0%;
  --sf-c-yellowgreen-5: 80 61% 5%;
  --sf-c-yellowgreen-10: 80 61% 10%;
  --sf-c-yellowgreen-15: 80 61% 15%;
  --sf-c-yellowgreen-20: 80 61% 20%;
  --sf-c-yellowgreen-25: 80 61% 25%;
  --sf-c-yellowgreen-30: 80 61% 30%;
  --sf-c-yellowgreen-35: 80 61% 35%;
  --sf-c-yellowgreen-40: 80 61% 40%;
  --sf-c-yellowgreen-45: 80 61% 45%;
  --sf-c-yellowgreen-50: 80 61% 50%;
  --sf-c-yellowgreen-55: 80 61% 55%;
  --sf-c-yellowgreen-60: 80 61% 60%;
  --sf-c-yellowgreen-65: 80 61% 65%;
  --sf-c-yellowgreen-70: 80 61% 70%;
  --sf-c-yellowgreen-75: 80 61% 75%;
  --sf-c-yellowgreen-80: 80 61% 80%;
  --sf-c-yellowgreen-85: 80 61% 85%;
  --sf-c-yellowgreen-90: 80 61% 90%;
  --sf-c-yellowgreen-95: 80 61% 95%;
  --sf-c-yellowgreen-100: 80 61% 100%;
}

.sf-c-yellowgreen, .sf-c-yellowgreen\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
.sf-c-yellowgreen\:0, .sf-c-yellowgreen\:0\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 0%) }
.sf-c-yellowgreen\:5, .sf-c-yellowgreen\:5\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 5%) }
.sf-c-yellowgreen\:10, .sf-c-yellowgreen\:10\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 10%) }
.sf-c-yellowgreen\:15, .sf-c-yellowgreen\:15\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 15%) }
.sf-c-yellowgreen\:20, .sf-c-yellowgreen\:20\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 20%) }
.sf-c-yellowgreen\:25, .sf-c-yellowgreen\:25\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 25%) }
.sf-c-yellowgreen\:30, .sf-c-yellowgreen\:30\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 30%) }
.sf-c-yellowgreen\:35, .sf-c-yellowgreen\:35\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 35%) }
.sf-c-yellowgreen\:40, .sf-c-yellowgreen\:40\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 40%) }
.sf-c-yellowgreen\:45, .sf-c-yellowgreen\:45\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 45%) }
.sf-c-yellowgreen\:50, .sf-c-yellowgreen\:50\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
.sf-c-yellowgreen\:55, .sf-c-yellowgreen\:55\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 55%) }
.sf-c-yellowgreen\:60, .sf-c-yellowgreen\:60\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 60%) }
.sf-c-yellowgreen\:65, .sf-c-yellowgreen\:65\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 65%) }
.sf-c-yellowgreen\:70, .sf-c-yellowgreen\:70\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 70%) }
.sf-c-yellowgreen\:75, .sf-c-yellowgreen\:75\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 75%) }
.sf-c-yellowgreen\:80, .sf-c-yellowgreen\:80\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 80%) }
.sf-c-yellowgreen\:85, .sf-c-yellowgreen\:85\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 85%) }
.sf-c-yellowgreen\:90, .sf-c-yellowgreen\:90\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 90%) }
.sf-c-yellowgreen\:95, .sf-c-yellowgreen\:95\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 95%) }
.sf-c-yellowgreen\:100, .sf-c-yellowgreen\:100\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 100%) }

.sf-c-txt-yellowgreen { color: hsl(80, 61%, 50%) }
.sf-c-txt-yellowgreen\:st { color: hsl(80, 61%, 50%) }
.sf-c-txt-yellowgreen\:0, .sf-c-txt-yellowgreen\:0\:st { color: hsl(80, 61%, 0%) }
.sf-c-txt-yellowgreen\:5, .sf-c-txt-yellowgreen\:5\:st { color: hsl(80, 61%, 5%) }
.sf-c-txt-yellowgreen\:10, .sf-c-txt-yellowgreen\:10\:st { color: hsl(80, 61%, 10%) }
.sf-c-txt-yellowgreen\:15, .sf-c-txt-yellowgreen\:15\:st { color: hsl(80, 61%, 15%) }
.sf-c-txt-yellowgreen\:20, .sf-c-txt-yellowgreen\:20\:st { color: hsl(80, 61%, 20%) }
.sf-c-txt-yellowgreen\:25, .sf-c-txt-yellowgreen\:25\:st { color: hsl(80, 61%, 25%) }
.sf-c-txt-yellowgreen\:30, .sf-c-txt-yellowgreen\:30\:st { color: hsl(80, 61%, 30%) }
.sf-c-txt-yellowgreen\:35, .sf-c-txt-yellowgreen\:35\:st { color: hsl(80, 61%, 35%) }
.sf-c-txt-yellowgreen\:40, .sf-c-txt-yellowgreen\:40\:st { color: hsl(80, 61%, 40%) }
.sf-c-txt-yellowgreen\:45, .sf-c-txt-yellowgreen\:45\:st { color: hsl(80, 61%, 45%) }
.sf-c-txt-yellowgreen\:50, .sf-c-txt-yellowgreen\:50\:st { color: hsl(80, 61%, 50%) }
.sf-c-txt-yellowgreen\:55, .sf-c-txt-yellowgreen\:55\:st { color: hsl(80, 61%, 55%) }
.sf-c-txt-yellowgreen\:60, .sf-c-txt-yellowgreen\:60\:st { color: hsl(80, 61%, 60%) }
.sf-c-txt-yellowgreen\:65, .sf-c-txt-yellowgreen\:65\:st { color: hsl(80, 61%, 65%) }
.sf-c-txt-yellowgreen\:70, .sf-c-txt-yellowgreen\:70\:st { color: hsl(80, 61%, 70%) }
.sf-c-txt-yellowgreen\:75, .sf-c-txt-yellowgreen\:75\:st { color: hsl(80, 61%, 75%) }
.sf-c-txt-yellowgreen\:80, .sf-c-txt-yellowgreen\:80\:st { color: hsl(80, 61%, 80%) }
.sf-c-txt-yellowgreen\:85, .sf-c-txt-yellowgreen\:85\:st { color: hsl(80, 61%, 85%) }
.sf-c-txt-yellowgreen\:90, .sf-c-txt-yellowgreen\:90\:st { color: hsl(80, 61%, 90%) }
.sf-c-txt-yellowgreen\:95, .sf-c-txt-yellowgreen\:95\:st { color: hsl(80, 61%, 95%) }
.sf-c-txt-yellowgreen\:100, .sf-c-txt-yellowgreen\:100\:st { color: hsl(80, 61%, 100%) }

html[data-theme='dark'] .sf-c-yellowgreen, html.dark .sf-c-yellowgreen { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-yellowgreen\:0, html.dark .sf-c-yellowgreen\:0 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 100%) }
html[data-theme='dark'] .sf-c-yellowgreen\:5, html.dark .sf-c-yellowgreen\:5 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 95%) }
html[data-theme='dark'] .sf-c-yellowgreen\:10, html.dark .sf-c-yellowgreen\:10 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 90%) }
html[data-theme='dark'] .sf-c-yellowgreen\:15, html.dark .sf-c-yellowgreen\:15 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 85%) }
html[data-theme='dark'] .sf-c-yellowgreen\:20, html.dark .sf-c-yellowgreen\:20 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 80%) }
html[data-theme='dark'] .sf-c-yellowgreen\:25, html.dark .sf-c-yellowgreen\:25 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 75%) }
html[data-theme='dark'] .sf-c-yellowgreen\:30, html.dark .sf-c-yellowgreen\:30 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 70%) }
html[data-theme='dark'] .sf-c-yellowgreen\:35, html.dark .sf-c-yellowgreen\:35 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 65%) }
html[data-theme='dark'] .sf-c-yellowgreen\:40, html.dark .sf-c-yellowgreen\:40 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 60%) }
html[data-theme='dark'] .sf-c-yellowgreen\:45, html.dark .sf-c-yellowgreen\:45 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 55%) }
html[data-theme='dark'] .sf-c-yellowgreen\:50, html.dark .sf-c-yellowgreen\:50 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-yellowgreen\:55, html.dark .sf-c-yellowgreen\:55 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 45%) }
html[data-theme='dark'] .sf-c-yellowgreen\:60, html.dark .sf-c-yellowgreen\:60 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 40%) }
html[data-theme='dark'] .sf-c-yellowgreen\:65, html.dark .sf-c-yellowgreen\:65 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 35%) }
html[data-theme='dark'] .sf-c-yellowgreen\:70, html.dark .sf-c-yellowgreen\:70 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 30%) }
html[data-theme='dark'] .sf-c-yellowgreen\:75, html.dark .sf-c-yellowgreen\:75 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 25%) }
html[data-theme='dark'] .sf-c-yellowgreen\:80, html.dark .sf-c-yellowgreen\:80 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 20%) }
html[data-theme='dark'] .sf-c-yellowgreen\:85, html.dark .sf-c-yellowgreen\:85 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 15%) }
html[data-theme='dark'] .sf-c-yellowgreen\:90, html.dark .sf-c-yellowgreen\:90 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 10%) }
html[data-theme='dark'] .sf-c-yellowgreen\:95, html.dark .sf-c-yellowgreen\:95 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 5%) }
html[data-theme='dark'] .sf-c-yellowgreen\:100, html.dark .sf-c-yellowgreen\:100 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 0%) }

html[data-theme='dark'] .sf-c-yellowgreen\:st, html.dark .sf-c-yellowgreen\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-yellowgreen\:0\:st, html.dark .sf-c-yellowgreen\:0\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 0%) }
html[data-theme='dark'] .sf-c-yellowgreen\:5\:st, html.dark .sf-c-yellowgreen\:5\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 5%) }
html[data-theme='dark'] .sf-c-yellowgreen\:10\:st, html.dark .sf-c-yellowgreen\:10\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 10%) }
html[data-theme='dark'] .sf-c-yellowgreen\:15\:st, html.dark .sf-c-yellowgreen\:15\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 15%) }
html[data-theme='dark'] .sf-c-yellowgreen\:20\:st, html.dark .sf-c-yellowgreen\:20\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 20%) }
html[data-theme='dark'] .sf-c-yellowgreen\:25\:st, html.dark .sf-c-yellowgreen\:25\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 25%) }
html[data-theme='dark'] .sf-c-yellowgreen\:30\:st, html.dark .sf-c-yellowgreen\:30\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 30%) }
html[data-theme='dark'] .sf-c-yellowgreen\:35\:st, html.dark .sf-c-yellowgreen\:35\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 35%) }
html[data-theme='dark'] .sf-c-yellowgreen\:40\:st, html.dark .sf-c-yellowgreen\:40\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 40%) }
html[data-theme='dark'] .sf-c-yellowgreen\:45\:st, html.dark .sf-c-yellowgreen\:45\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 45%) }
html[data-theme='dark'] .sf-c-yellowgreen\:50\:st, html.dark .sf-c-yellowgreen\:50\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-yellowgreen\:55\:st, html.dark .sf-c-yellowgreen\:55\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 55%) }
html[data-theme='dark'] .sf-c-yellowgreen\:60\:st, html.dark .sf-c-yellowgreen\:60\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 60%) }
html[data-theme='dark'] .sf-c-yellowgreen\:65\:st, html.dark .sf-c-yellowgreen\:65\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 65%) }
html[data-theme='dark'] .sf-c-yellowgreen\:70\:st, html.dark .sf-c-yellowgreen\:70\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 70%) }
html[data-theme='dark'] .sf-c-yellowgreen\:75\:st, html.dark .sf-c-yellowgreen\:75\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 75%) }
html[data-theme='dark'] .sf-c-yellowgreen\:80\:st, html.dark .sf-c-yellowgreen\:80\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 80%) }
html[data-theme='dark'] .sf-c-yellowgreen\:85\:st, html.dark .sf-c-yellowgreen\:85\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 85%) }
html[data-theme='dark'] .sf-c-yellowgreen\:90\:st, html.dark .sf-c-yellowgreen\:90\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 90%) }
html[data-theme='dark'] .sf-c-yellowgreen\:95\:st, html.dark .sf-c-yellowgreen\:95\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 95%) }
html[data-theme='dark'] .sf-c-yellowgreen\:100\:st, html.dark .sf-c-yellowgreen\:100\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 100%) }

html[data-theme='dark'] .sf-c-txt-yellowgreen, html.dark .sf-c-txt-yellowgreen { color: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:0, html.dark .sf-c-txt-yellowgreen\:0 { color: hsl(80, 61%, 100%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:5, html.dark .sf-c-txt-yellowgreen\:5 { color: hsl(80, 61%, 95%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:10, html.dark .sf-c-txt-yellowgreen\:10 { color: hsl(80, 61%, 90%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:15, html.dark .sf-c-txt-yellowgreen\:15 { color: hsl(80, 61%, 85%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:20, html.dark .sf-c-txt-yellowgreen\:20 { color: hsl(80, 61%, 80%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:25, html.dark .sf-c-txt-yellowgreen\:25 { color: hsl(80, 61%, 75%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:30, html.dark .sf-c-txt-yellowgreen\:30 { color: hsl(80, 61%, 70%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:35, html.dark .sf-c-txt-yellowgreen\:35 { color: hsl(80, 61%, 65%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:40, html.dark .sf-c-txt-yellowgreen\:40 { color: hsl(80, 61%, 60%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:45, html.dark .sf-c-txt-yellowgreen\:45 { color: hsl(80, 61%, 55%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:50, html.dark .sf-c-txt-yellowgreen\:50 { color: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:55, html.dark .sf-c-txt-yellowgreen\:55 { color: hsl(80, 61%, 45%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:60, html.dark .sf-c-txt-yellowgreen\:60 { color: hsl(80, 61%, 40%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:65, html.dark .sf-c-txt-yellowgreen\:65 { color: hsl(80, 61%, 35%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:70, html.dark .sf-c-txt-yellowgreen\:70 { color: hsl(80, 61%, 30%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:75, html.dark .sf-c-txt-yellowgreen\:75 { color: hsl(80, 61%, 25%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:80, html.dark .sf-c-txt-yellowgreen\:80 { color: hsl(80, 61%, 20%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:85, html.dark .sf-c-txt-yellowgreen\:85 { color: hsl(80, 61%, 15%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:90, html.dark .sf-c-txt-yellowgreen\:90 { color: hsl(80, 61%, 10%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:95, html.dark .sf-c-txt-yellowgreen\:95 { color: hsl(80, 61%, 5%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:100, html.dark .sf-c-txt-yellowgreen\:100 { color: hsl(80, 61%, 0%) }

html[data-theme='dark'] .sf-c-txt-yellowgreen\:st, html.dark .sf-c-txt-yellowgreen\:st { color: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:0\:st, html.dark .sf-c-txt-yellowgreen\:0\:st { color: hsl(80, 61%, 0%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:5\:st, html.dark .sf-c-txt-yellowgreen\:5\:st { color: hsl(80, 61%, 5%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:10\:st, html.dark .sf-c-txt-yellowgreen\:10\:st { color: hsl(80, 61%, 10%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:15\:st, html.dark .sf-c-txt-yellowgreen\:15\:st { color: hsl(80, 61%, 15%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:20\:st, html.dark .sf-c-txt-yellowgreen\:20\:st { color: hsl(80, 61%, 20%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:25\:st, html.dark .sf-c-txt-yellowgreen\:25\:st { color: hsl(80, 61%, 25%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:30\:st, html.dark .sf-c-txt-yellowgreen\:30\:st { color: hsl(80, 61%, 30%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:35\:st, html.dark .sf-c-txt-yellowgreen\:35\:st { color: hsl(80, 61%, 35%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:40\:st, html.dark .sf-c-txt-yellowgreen\:40\:st { color: hsl(80, 61%, 40%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:45\:st, html.dark .sf-c-txt-yellowgreen\:45\:st { color: hsl(80, 61%, 45%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:50\:st, html.dark .sf-c-txt-yellowgreen\:50\:st { color: hsl(80, 61%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:55\:st, html.dark .sf-c-txt-yellowgreen\:55\:st { color: hsl(80, 61%, 55%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:60\:st, html.dark .sf-c-txt-yellowgreen\:60\:st { color: hsl(80, 61%, 60%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:65\:st, html.dark .sf-c-txt-yellowgreen\:65\:st { color: hsl(80, 61%, 65%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:70\:st, html.dark .sf-c-txt-yellowgreen\:70\:st { color: hsl(80, 61%, 70%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:75\:st, html.dark .sf-c-txt-yellowgreen\:75\:st { color: hsl(80, 61%, 75%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:80\:st, html.dark .sf-c-txt-yellowgreen\:80\:st { color: hsl(80, 61%, 80%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:85\:st, html.dark .sf-c-txt-yellowgreen\:85\:st { color: hsl(80, 61%, 85%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:90\:st, html.dark .sf-c-txt-yellowgreen\:90\:st { color: hsl(80, 61%, 90%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:95\:st, html.dark .sf-c-txt-yellowgreen\:95\:st { color: hsl(80, 61%, 95%) }
html[data-theme='dark'] .sf-c-txt-yellowgreen\:100\:st, html.dark .sf-c-txt-yellowgreen\:100\:st { color: hsl(80, 61%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-yellowgreen, html.auto .sf-c-yellowgreen { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:0, html.auto .sf-c-yellowgreen\:0 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 100%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:5, html.auto .sf-c-yellowgreen\:5 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 95%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:10, html.auto .sf-c-yellowgreen\:10 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 90%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:15, html.auto .sf-c-yellowgreen\:15 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 85%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:20, html.auto .sf-c-yellowgreen\:20 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 80%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:25, html.auto .sf-c-yellowgreen\:25 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 75%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:30, html.auto .sf-c-yellowgreen\:30 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 70%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:35, html.auto .sf-c-yellowgreen\:35 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 65%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:40, html.auto .sf-c-yellowgreen\:40 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 60%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:45, html.auto .sf-c-yellowgreen\:45 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 55%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:50, html.auto .sf-c-yellowgreen\:50 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:55, html.auto .sf-c-yellowgreen\:55 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 45%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:60, html.auto .sf-c-yellowgreen\:60 { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 40%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:65, html.auto .sf-c-yellowgreen\:65 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 35%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:70, html.auto .sf-c-yellowgreen\:70 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 30%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:75, html.auto .sf-c-yellowgreen\:75 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 25%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:80, html.auto .sf-c-yellowgreen\:80 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 20%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:85, html.auto .sf-c-yellowgreen\:85 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 15%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:90, html.auto .sf-c-yellowgreen\:90 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 10%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:95, html.auto .sf-c-yellowgreen\:95 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 5%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:100, html.auto .sf-c-yellowgreen\:100 { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 0%) }

  html[data-theme='auto'] .sf-c-yellowgreen\:st, html.auto .sf-c-yellowgreen\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:0\:st, html.auto .sf-c-yellowgreen\:0\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 0%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:5\:st, html.auto .sf-c-yellowgreen\:5\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 5%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:10\:st, html.auto .sf-c-yellowgreen\:10\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 10%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:15\:st, html.auto .sf-c-yellowgreen\:15\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 15%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:20\:st, html.auto .sf-c-yellowgreen\:20\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 20%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:25\:st, html.auto .sf-c-yellowgreen\:25\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 25%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:30\:st, html.auto .sf-c-yellowgreen\:30\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 30%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:35\:st, html.auto .sf-c-yellowgreen\:35\:st { color: hsl(80, 61%, 95%); background: hsl(80, 61%, 35%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:40\:st, html.auto .sf-c-yellowgreen\:40\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 40%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:45\:st, html.auto .sf-c-yellowgreen\:45\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 45%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:50\:st, html.auto .sf-c-yellowgreen\:50\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:55\:st, html.auto .sf-c-yellowgreen\:55\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 55%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:60\:st, html.auto .sf-c-yellowgreen\:60\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 60%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:65\:st, html.auto .sf-c-yellowgreen\:65\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 65%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:70\:st, html.auto .sf-c-yellowgreen\:70\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 70%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:75\:st, html.auto .sf-c-yellowgreen\:75\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 75%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:80\:st, html.auto .sf-c-yellowgreen\:80\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 80%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:85\:st, html.auto .sf-c-yellowgreen\:85\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 85%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:90\:st, html.auto .sf-c-yellowgreen\:90\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 90%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:95\:st, html.auto .sf-c-yellowgreen\:95\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 95%) }
  html[data-theme='auto'] .sf-c-yellowgreen\:100\:st, html.auto .sf-c-yellowgreen\:100\:st { color: hsl(80, 61%, 5%); background: hsl(80, 61%, 100%) }

  html[data-theme='auto'] .sf-c-txt-yellowgreen, html.auto .sf-c-txt-yellowgreen { color: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:0, html.auto .sf-c-txt-yellowgreen\:0 { color: hsl(80, 61%, 100%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:5, html.auto .sf-c-txt-yellowgreen\:5 { color: hsl(80, 61%, 95%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:10, html.auto .sf-c-txt-yellowgreen\:10 { color: hsl(80, 61%, 90%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:15, html.auto .sf-c-txt-yellowgreen\:15 { color: hsl(80, 61%, 85%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:20, html.auto .sf-c-txt-yellowgreen\:20 { color: hsl(80, 61%, 80%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:25, html.auto .sf-c-txt-yellowgreen\:25 { color: hsl(80, 61%, 75%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:30, html.auto .sf-c-txt-yellowgreen\:30 { color: hsl(80, 61%, 70%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:35, html.auto .sf-c-txt-yellowgreen\:35 { color: hsl(80, 61%, 65%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:40, html.auto .sf-c-txt-yellowgreen\:40 { color: hsl(80, 61%, 60%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:45, html.auto .sf-c-txt-yellowgreen\:45 { color: hsl(80, 61%, 55%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:50, html.auto .sf-c-txt-yellowgreen\:50 { color: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:55, html.auto .sf-c-txt-yellowgreen\:55 { color: hsl(80, 61%, 45%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:60, html.auto .sf-c-txt-yellowgreen\:60 { color: hsl(80, 61%, 40%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:65, html.auto .sf-c-txt-yellowgreen\:65 { color: hsl(80, 61%, 35%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:70, html.auto .sf-c-txt-yellowgreen\:70 { color: hsl(80, 61%, 30%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:75, html.auto .sf-c-txt-yellowgreen\:75 { color: hsl(80, 61%, 25%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:80, html.auto .sf-c-txt-yellowgreen\:80 { color: hsl(80, 61%, 20%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:85, html.auto .sf-c-txt-yellowgreen\:85 { color: hsl(80, 61%, 15%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:90, html.auto .sf-c-txt-yellowgreen\:90 { color: hsl(80, 61%, 10%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:95, html.auto .sf-c-txt-yellowgreen\:95 { color: hsl(80, 61%, 5%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:100, html.auto .sf-c-txt-yellowgreen\:100 { color: hsl(80, 61%, 0%) }

  html[data-theme='auto'] .sf-c-txt-yellowgreen\:st, html.auto .sf-c-txt-yellowgreen\:st { color: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:0\:st, html.auto .sf-c-txt-yellowgreen\:0\:st { color: hsl(80, 61%, 0%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:5\:st, html.auto .sf-c-txt-yellowgreen\:5\:st { color: hsl(80, 61%, 5%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:10\:st, html.auto .sf-c-txt-yellowgreen\:10\:st { color: hsl(80, 61%, 10%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:15\:st, html.auto .sf-c-txt-yellowgreen\:15\:st { color: hsl(80, 61%, 15%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:20\:st, html.auto .sf-c-txt-yellowgreen\:20\:st { color: hsl(80, 61%, 20%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:25\:st, html.auto .sf-c-txt-yellowgreen\:25\:st { color: hsl(80, 61%, 25%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:30\:st, html.auto .sf-c-txt-yellowgreen\:30\:st { color: hsl(80, 61%, 30%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:35\:st, html.auto .sf-c-txt-yellowgreen\:35\:st { color: hsl(80, 61%, 35%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:40\:st, html.auto .sf-c-txt-yellowgreen\:40\:st { color: hsl(80, 61%, 40%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:45\:st, html.auto .sf-c-txt-yellowgreen\:45\:st { color: hsl(80, 61%, 45%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:50\:st, html.auto .sf-c-txt-yellowgreen\:50\:st { color: hsl(80, 61%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:55\:st, html.auto .sf-c-txt-yellowgreen\:55\:st { color: hsl(80, 61%, 55%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:60\:st, html.auto .sf-c-txt-yellowgreen\:60\:st { color: hsl(80, 61%, 60%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:65\:st, html.auto .sf-c-txt-yellowgreen\:65\:st { color: hsl(80, 61%, 65%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:70\:st, html.auto .sf-c-txt-yellowgreen\:70\:st { color: hsl(80, 61%, 70%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:75\:st, html.auto .sf-c-txt-yellowgreen\:75\:st { color: hsl(80, 61%, 75%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:80\:st, html.auto .sf-c-txt-yellowgreen\:80\:st { color: hsl(80, 61%, 80%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:85\:st, html.auto .sf-c-txt-yellowgreen\:85\:st { color: hsl(80, 61%, 85%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:90\:st, html.auto .sf-c-txt-yellowgreen\:90\:st { color: hsl(80, 61%, 90%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:95\:st, html.auto .sf-c-txt-yellowgreen\:95\:st { color: hsl(80, 61%, 95%) }
  html[data-theme='auto'] .sf-c-txt-yellowgreen\:100\:st, html.auto .sf-c-txt-yellowgreen\:100\:st { color: hsl(80, 61%, 100%) }
}