.sf-var-azure {
  --sf-c-azure: 180 100% 97%;
  --sf-c-azure-0: 180 100% 0%;
  --sf-c-azure-10: 180 100% 10%;
  --sf-c-azure-20: 180 100% 20%;
  --sf-c-azure-30: 180 100% 30%;
  --sf-c-azure-40: 180 100% 40%;
  --sf-c-azure-50: 180 100% 50%;
  --sf-c-azure-60: 180 100% 60%;
  --sf-c-azure-70: 180 100% 70%;
  --sf-c-azure-80: 180 100% 80%;
  --sf-c-azure-90: 180 100% 90%;
  --sf-c-azure-100: 180 100% 100%;
}

.sf-c-azure, .sf-c-azure\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 97%) }
.sf-c-azure\:0, .sf-c-azure\:0\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
.sf-c-azure\:10, .sf-c-azure\:10\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
.sf-c-azure\:20, .sf-c-azure\:20\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
.sf-c-azure\:30, .sf-c-azure\:30\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
.sf-c-azure\:40, .sf-c-azure\:40\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
.sf-c-azure\:50, .sf-c-azure\:50\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
.sf-c-azure\:60, .sf-c-azure\:60\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
.sf-c-azure\:70, .sf-c-azure\:70\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
.sf-c-azure\:80, .sf-c-azure\:80\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
.sf-c-azure\:90, .sf-c-azure\:90\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
.sf-c-azure\:100, .sf-c-azure\:100\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }

.sf-c-txt-azure { color: hsl(180, 100%, 10%) }
.sf-c-txt-azure\:st { color: hsl(180, 100%, 97%) }
.sf-c-txt-azure\:0, .sf-c-txt-azure\:0\:st { color: hsl(180, 100%, 0%) }
.sf-c-txt-azure\:10, .sf-c-txt-azure\:10\:st { color: hsl(180, 100%, 10%) }
.sf-c-txt-azure\:20, .sf-c-txt-azure\:20\:st { color: hsl(180, 100%, 20%) }
.sf-c-txt-azure\:30, .sf-c-txt-azure\:30\:st { color: hsl(180, 100%, 30%) }
.sf-c-txt-azure\:40, .sf-c-txt-azure\:40\:st { color: hsl(180, 100%, 40%) }
.sf-c-txt-azure\:50, .sf-c-txt-azure\:50\:st { color: hsl(180, 100%, 50%) }
.sf-c-txt-azure\:60, .sf-c-txt-azure\:60\:st { color: hsl(180, 100%, 60%) }
.sf-c-txt-azure\:70, .sf-c-txt-azure\:70\:st { color: hsl(180, 100%, 70%) }
.sf-c-txt-azure\:80, .sf-c-txt-azure\:80\:st { color: hsl(180, 100%, 80%) }
.sf-c-txt-azure\:90, .sf-c-txt-azure\:90\:st { color: hsl(180, 100%, 90%) }
.sf-c-txt-azure\:100, .sf-c-txt-azure\:100\:st { color: hsl(180, 100%, 100%) }

html[data-theme='dark'] .sf-c-azure, html.dark .sf-c-azure { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 3%) }
html[data-theme='dark'] .sf-c-azure\:0, html.dark .sf-c-azure\:0 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }
html[data-theme='dark'] .sf-c-azure\:10, html.dark .sf-c-azure\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-azure\:20, html.dark .sf-c-azure\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-azure\:30, html.dark .sf-c-azure\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-azure\:40, html.dark .sf-c-azure\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-azure\:50, html.dark .sf-c-azure\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-azure\:60, html.dark .sf-c-azure\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-azure\:70, html.dark .sf-c-azure\:70 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-azure\:80, html.dark .sf-c-azure\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-azure\:90, html.dark .sf-c-azure\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-azure\:100, html.dark .sf-c-azure\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

html[data-theme='dark'] .sf-c-azure\:st, html.dark .sf-c-azure\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 97%) }
html[data-theme='dark'] .sf-c-azure\:0\:st, html.dark .sf-c-azure\:0\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
html[data-theme='dark'] .sf-c-azure\:10\:st, html.dark .sf-c-azure\:10\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-azure\:20\:st, html.dark .sf-c-azure\:20\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-azure\:30\:st, html.dark .sf-c-azure\:30\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-azure\:40\:st, html.dark .sf-c-azure\:40\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-azure\:50\:st, html.dark .sf-c-azure\:50\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-azure\:60\:st, html.dark .sf-c-azure\:60\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-azure\:70\:st, html.dark .sf-c-azure\:70\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-azure\:80\:st, html.dark .sf-c-azure\:80\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-azure\:90\:st, html.dark .sf-c-azure\:90\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-azure\:100\:st, html.dark .sf-c-azure\:100\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-azure, html.dark .sf-c-txt-azure { color: hsl(180, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-azure\:0, html.dark .sf-c-txt-azure\:0 { color: hsl(180, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-azure\:10, html.dark .sf-c-txt-azure\:10 { color: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-azure\:20, html.dark .sf-c-txt-azure\:20 { color: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-azure\:30, html.dark .sf-c-txt-azure\:30 { color: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-azure\:40, html.dark .sf-c-txt-azure\:40 { color: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-azure\:50, html.dark .sf-c-txt-azure\:50 { color: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-azure\:60, html.dark .sf-c-txt-azure\:60 { color: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-azure\:70, html.dark .sf-c-txt-azure\:70 { color: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-azure\:80, html.dark .sf-c-txt-azure\:80 { color: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-azure\:90, html.dark .sf-c-txt-azure\:90 { color: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-azure\:100, html.dark .sf-c-txt-azure\:100 { color: hsl(180, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-azure\:st, html.dark .sf-c-txt-azure\:st { color: hsl(180, 100%, 97%) }
html[data-theme='dark'] .sf-c-txt-azure\:0\:st, html.dark .sf-c-txt-azure\:0\:st { color: hsl(180, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-azure\:10\:st, html.dark .sf-c-txt-azure\:10\:st { color: hsl(180, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-azure\:20\:st, html.dark .sf-c-txt-azure\:20\:st { color: hsl(180, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-azure\:30\:st, html.dark .sf-c-txt-azure\:30\:st { color: hsl(180, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-azure\:40\:st, html.dark .sf-c-txt-azure\:40\:st { color: hsl(180, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-azure\:50\:st, html.dark .sf-c-txt-azure\:50\:st { color: hsl(180, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-azure\:60\:st, html.dark .sf-c-txt-azure\:60\:st { color: hsl(180, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-azure\:70\:st, html.dark .sf-c-txt-azure\:70\:st { color: hsl(180, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-azure\:80\:st, html.dark .sf-c-txt-azure\:80\:st { color: hsl(180, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-azure\:90\:st, html.dark .sf-c-txt-azure\:90\:st { color: hsl(180, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-azure\:100\:st, html.dark .sf-c-txt-azure\:100\:st { color: hsl(180, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-azure, html.auto .sf-c-azure { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 3%) }
  html[data-theme='auto'] .sf-c-azure\:0, html.auto .sf-c-azure\:0 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }
  html[data-theme='auto'] .sf-c-azure\:10, html.auto .sf-c-azure\:10 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-azure\:20, html.auto .sf-c-azure\:20 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-azure\:30, html.auto .sf-c-azure\:30 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-azure\:40, html.auto .sf-c-azure\:40 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-azure\:50, html.auto .sf-c-azure\:50 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-azure\:60, html.auto .sf-c-azure\:60 { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-azure\:70, html.auto .sf-c-azure\:70 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-azure\:80, html.auto .sf-c-azure\:80 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-azure\:90, html.auto .sf-c-azure\:90 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-azure\:100, html.auto .sf-c-azure\:100 { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }

  html[data-theme='auto'] .sf-c-azure\:st, html.auto .sf-c-azure\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 97%) }
  html[data-theme='auto'] .sf-c-azure\:0\:st, html.auto .sf-c-azure\:0\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 0%) }
  html[data-theme='auto'] .sf-c-azure\:10\:st, html.auto .sf-c-azure\:10\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-azure\:20\:st, html.auto .sf-c-azure\:20\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-azure\:30\:st, html.auto .sf-c-azure\:30\:st { color: hsl(180, 100%, 90%); background: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-azure\:40\:st, html.auto .sf-c-azure\:40\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-azure\:50\:st, html.auto .sf-c-azure\:50\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-azure\:60\:st, html.auto .sf-c-azure\:60\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-azure\:70\:st, html.auto .sf-c-azure\:70\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-azure\:80\:st, html.auto .sf-c-azure\:80\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-azure\:90\:st, html.auto .sf-c-azure\:90\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-azure\:100\:st, html.auto .sf-c-azure\:100\:st { color: hsl(180, 100%, 10%); background: hsl(180, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-azure, html.auto .sf-c-txt-azure { color: hsl(180, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-azure\:0, html.auto .sf-c-txt-azure\:0 { color: hsl(180, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-azure\:10, html.auto .sf-c-txt-azure\:10 { color: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-azure\:20, html.auto .sf-c-txt-azure\:20 { color: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-azure\:30, html.auto .sf-c-txt-azure\:30 { color: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-azure\:40, html.auto .sf-c-txt-azure\:40 { color: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-azure\:50, html.auto .sf-c-txt-azure\:50 { color: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-azure\:60, html.auto .sf-c-txt-azure\:60 { color: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-azure\:70, html.auto .sf-c-txt-azure\:70 { color: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-azure\:80, html.auto .sf-c-txt-azure\:80 { color: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-azure\:90, html.auto .sf-c-txt-azure\:90 { color: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-azure\:100, html.auto .sf-c-txt-azure\:100 { color: hsl(180, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-azure\:st, html.auto .sf-c-txt-azure\:st { color: hsl(180, 100%, 97%) }
  html[data-theme='auto'] .sf-c-txt-azure\:0\:st, html.auto .sf-c-txt-azure\:0\:st { color: hsl(180, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-azure\:10\:st, html.auto .sf-c-txt-azure\:10\:st { color: hsl(180, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-azure\:20\:st, html.auto .sf-c-txt-azure\:20\:st { color: hsl(180, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-azure\:30\:st, html.auto .sf-c-txt-azure\:30\:st { color: hsl(180, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-azure\:40\:st, html.auto .sf-c-txt-azure\:40\:st { color: hsl(180, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-azure\:50\:st, html.auto .sf-c-txt-azure\:50\:st { color: hsl(180, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-azure\:60\:st, html.auto .sf-c-txt-azure\:60\:st { color: hsl(180, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-azure\:70\:st, html.auto .sf-c-txt-azure\:70\:st { color: hsl(180, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-azure\:80\:st, html.auto .sf-c-txt-azure\:80\:st { color: hsl(180, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-azure\:90\:st, html.auto .sf-c-txt-azure\:90\:st { color: hsl(180, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-azure\:100\:st, html.auto .sf-c-txt-azure\:100\:st { color: hsl(180, 100%, 100%) }
}