.sf-var-beige {
  --sf-c-beige: 60 56% 91%;
  --sf-c-beige-0: 60 56% 0%;
  --sf-c-beige-10: 60 56% 10%;
  --sf-c-beige-20: 60 56% 20%;
  --sf-c-beige-30: 60 56% 30%;
  --sf-c-beige-40: 60 56% 40%;
  --sf-c-beige-50: 60 56% 50%;
  --sf-c-beige-60: 60 56% 60%;
  --sf-c-beige-70: 60 56% 70%;
  --sf-c-beige-80: 60 56% 80%;
  --sf-c-beige-90: 60 56% 90%;
  --sf-c-beige-100: 60 56% 100%;
}

.sf-c-beige, .sf-c-beige\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 91%) }
.sf-c-beige\:0, .sf-c-beige\:0\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 0%) }
.sf-c-beige\:10, .sf-c-beige\:10\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 10%) }
.sf-c-beige\:20, .sf-c-beige\:20\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 20%) }
.sf-c-beige\:30, .sf-c-beige\:30\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 30%) }
.sf-c-beige\:40, .sf-c-beige\:40\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 40%) }
.sf-c-beige\:50, .sf-c-beige\:50\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 50%) }
.sf-c-beige\:60, .sf-c-beige\:60\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 60%) }
.sf-c-beige\:70, .sf-c-beige\:70\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 70%) }
.sf-c-beige\:80, .sf-c-beige\:80\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 80%) }
.sf-c-beige\:90, .sf-c-beige\:90\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 90%) }
.sf-c-beige\:100, .sf-c-beige\:100\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 100%) }

.sf-c-txt-beige { color: hsl(60, 56%, 10%) }
.sf-c-txt-beige\:st { color: hsl(60, 56%, 91%) }
.sf-c-txt-beige\:0, .sf-c-txt-beige\:0\:st { color: hsl(60, 56%, 0%) }
.sf-c-txt-beige\:10, .sf-c-txt-beige\:10\:st { color: hsl(60, 56%, 10%) }
.sf-c-txt-beige\:20, .sf-c-txt-beige\:20\:st { color: hsl(60, 56%, 20%) }
.sf-c-txt-beige\:30, .sf-c-txt-beige\:30\:st { color: hsl(60, 56%, 30%) }
.sf-c-txt-beige\:40, .sf-c-txt-beige\:40\:st { color: hsl(60, 56%, 40%) }
.sf-c-txt-beige\:50, .sf-c-txt-beige\:50\:st { color: hsl(60, 56%, 50%) }
.sf-c-txt-beige\:60, .sf-c-txt-beige\:60\:st { color: hsl(60, 56%, 60%) }
.sf-c-txt-beige\:70, .sf-c-txt-beige\:70\:st { color: hsl(60, 56%, 70%) }
.sf-c-txt-beige\:80, .sf-c-txt-beige\:80\:st { color: hsl(60, 56%, 80%) }
.sf-c-txt-beige\:90, .sf-c-txt-beige\:90\:st { color: hsl(60, 56%, 90%) }
.sf-c-txt-beige\:100, .sf-c-txt-beige\:100\:st { color: hsl(60, 56%, 100%) }

html[data-theme='dark'] .sf-c-beige, html.dark .sf-c-beige { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 9%) }
html[data-theme='dark'] .sf-c-beige\:0, html.dark .sf-c-beige\:0 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 100%) }
html[data-theme='dark'] .sf-c-beige\:10, html.dark .sf-c-beige\:10 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 90%) }
html[data-theme='dark'] .sf-c-beige\:20, html.dark .sf-c-beige\:20 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 80%) }
html[data-theme='dark'] .sf-c-beige\:30, html.dark .sf-c-beige\:30 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 70%) }
html[data-theme='dark'] .sf-c-beige\:40, html.dark .sf-c-beige\:40 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 60%) }
html[data-theme='dark'] .sf-c-beige\:50, html.dark .sf-c-beige\:50 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 50%) }
html[data-theme='dark'] .sf-c-beige\:60, html.dark .sf-c-beige\:60 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 40%) }
html[data-theme='dark'] .sf-c-beige\:70, html.dark .sf-c-beige\:70 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 30%) }
html[data-theme='dark'] .sf-c-beige\:80, html.dark .sf-c-beige\:80 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 20%) }
html[data-theme='dark'] .sf-c-beige\:90, html.dark .sf-c-beige\:90 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 10%) }
html[data-theme='dark'] .sf-c-beige\:100, html.dark .sf-c-beige\:100 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 0%) }

html[data-theme='dark'] .sf-c-beige\:st, html.dark .sf-c-beige\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 91%) }
html[data-theme='dark'] .sf-c-beige\:0\:st, html.dark .sf-c-beige\:0\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 0%) }
html[data-theme='dark'] .sf-c-beige\:10\:st, html.dark .sf-c-beige\:10\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 10%) }
html[data-theme='dark'] .sf-c-beige\:20\:st, html.dark .sf-c-beige\:20\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 20%) }
html[data-theme='dark'] .sf-c-beige\:30\:st, html.dark .sf-c-beige\:30\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 30%) }
html[data-theme='dark'] .sf-c-beige\:40\:st, html.dark .sf-c-beige\:40\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 40%) }
html[data-theme='dark'] .sf-c-beige\:50\:st, html.dark .sf-c-beige\:50\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 50%) }
html[data-theme='dark'] .sf-c-beige\:60\:st, html.dark .sf-c-beige\:60\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 60%) }
html[data-theme='dark'] .sf-c-beige\:70\:st, html.dark .sf-c-beige\:70\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 70%) }
html[data-theme='dark'] .sf-c-beige\:80\:st, html.dark .sf-c-beige\:80\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 80%) }
html[data-theme='dark'] .sf-c-beige\:90\:st, html.dark .sf-c-beige\:90\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 90%) }
html[data-theme='dark'] .sf-c-beige\:100\:st, html.dark .sf-c-beige\:100\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 100%) }

html[data-theme='dark'] .sf-c-txt-beige, html.dark .sf-c-txt-beige { color: hsl(60, 56%, 91%) }
html[data-theme='dark'] .sf-c-txt-beige\:0, html.dark .sf-c-txt-beige\:0 { color: hsl(60, 56%, 100%) }
html[data-theme='dark'] .sf-c-txt-beige\:10, html.dark .sf-c-txt-beige\:10 { color: hsl(60, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-beige\:20, html.dark .sf-c-txt-beige\:20 { color: hsl(60, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-beige\:30, html.dark .sf-c-txt-beige\:30 { color: hsl(60, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-beige\:40, html.dark .sf-c-txt-beige\:40 { color: hsl(60, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-beige\:50, html.dark .sf-c-txt-beige\:50 { color: hsl(60, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-beige\:60, html.dark .sf-c-txt-beige\:60 { color: hsl(60, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-beige\:70, html.dark .sf-c-txt-beige\:70 { color: hsl(60, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-beige\:80, html.dark .sf-c-txt-beige\:80 { color: hsl(60, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-beige\:90, html.dark .sf-c-txt-beige\:90 { color: hsl(60, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-beige\:100, html.dark .sf-c-txt-beige\:100 { color: hsl(60, 56%, 0%) }

html[data-theme='dark'] .sf-c-txt-beige\:st, html.dark .sf-c-txt-beige\:st { color: hsl(60, 56%, 91%) }
html[data-theme='dark'] .sf-c-txt-beige\:0\:st, html.dark .sf-c-txt-beige\:0\:st { color: hsl(60, 56%, 0%) }
html[data-theme='dark'] .sf-c-txt-beige\:10\:st, html.dark .sf-c-txt-beige\:10\:st { color: hsl(60, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-beige\:20\:st, html.dark .sf-c-txt-beige\:20\:st { color: hsl(60, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-beige\:30\:st, html.dark .sf-c-txt-beige\:30\:st { color: hsl(60, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-beige\:40\:st, html.dark .sf-c-txt-beige\:40\:st { color: hsl(60, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-beige\:50\:st, html.dark .sf-c-txt-beige\:50\:st { color: hsl(60, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-beige\:60\:st, html.dark .sf-c-txt-beige\:60\:st { color: hsl(60, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-beige\:70\:st, html.dark .sf-c-txt-beige\:70\:st { color: hsl(60, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-beige\:80\:st, html.dark .sf-c-txt-beige\:80\:st { color: hsl(60, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-beige\:90\:st, html.dark .sf-c-txt-beige\:90\:st { color: hsl(60, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-beige\:100\:st, html.dark .sf-c-txt-beige\:100\:st { color: hsl(60, 56%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-beige, html.auto .sf-c-beige { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 9%) }
  html[data-theme='auto'] .sf-c-beige\:0, html.auto .sf-c-beige\:0 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 100%) }
  html[data-theme='auto'] .sf-c-beige\:10, html.auto .sf-c-beige\:10 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 90%) }
  html[data-theme='auto'] .sf-c-beige\:20, html.auto .sf-c-beige\:20 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 80%) }
  html[data-theme='auto'] .sf-c-beige\:30, html.auto .sf-c-beige\:30 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 70%) }
  html[data-theme='auto'] .sf-c-beige\:40, html.auto .sf-c-beige\:40 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 60%) }
  html[data-theme='auto'] .sf-c-beige\:50, html.auto .sf-c-beige\:50 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 50%) }
  html[data-theme='auto'] .sf-c-beige\:60, html.auto .sf-c-beige\:60 { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 40%) }
  html[data-theme='auto'] .sf-c-beige\:70, html.auto .sf-c-beige\:70 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 30%) }
  html[data-theme='auto'] .sf-c-beige\:80, html.auto .sf-c-beige\:80 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 20%) }
  html[data-theme='auto'] .sf-c-beige\:90, html.auto .sf-c-beige\:90 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 10%) }
  html[data-theme='auto'] .sf-c-beige\:100, html.auto .sf-c-beige\:100 { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 0%) }

  html[data-theme='auto'] .sf-c-beige\:st, html.auto .sf-c-beige\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 91%) }
  html[data-theme='auto'] .sf-c-beige\:0\:st, html.auto .sf-c-beige\:0\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 0%) }
  html[data-theme='auto'] .sf-c-beige\:10\:st, html.auto .sf-c-beige\:10\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 10%) }
  html[data-theme='auto'] .sf-c-beige\:20\:st, html.auto .sf-c-beige\:20\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 20%) }
  html[data-theme='auto'] .sf-c-beige\:30\:st, html.auto .sf-c-beige\:30\:st { color: hsl(60, 56%, 90%); background: hsl(60, 56%, 30%) }
  html[data-theme='auto'] .sf-c-beige\:40\:st, html.auto .sf-c-beige\:40\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 40%) }
  html[data-theme='auto'] .sf-c-beige\:50\:st, html.auto .sf-c-beige\:50\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 50%) }
  html[data-theme='auto'] .sf-c-beige\:60\:st, html.auto .sf-c-beige\:60\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 60%) }
  html[data-theme='auto'] .sf-c-beige\:70\:st, html.auto .sf-c-beige\:70\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 70%) }
  html[data-theme='auto'] .sf-c-beige\:80\:st, html.auto .sf-c-beige\:80\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 80%) }
  html[data-theme='auto'] .sf-c-beige\:90\:st, html.auto .sf-c-beige\:90\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 90%) }
  html[data-theme='auto'] .sf-c-beige\:100\:st, html.auto .sf-c-beige\:100\:st { color: hsl(60, 56%, 10%); background: hsl(60, 56%, 100%) }

  html[data-theme='auto'] .sf-c-txt-beige, html.auto .sf-c-txt-beige { color: hsl(60, 56%, 91%) }
  html[data-theme='auto'] .sf-c-txt-beige\:0, html.auto .sf-c-txt-beige\:0 { color: hsl(60, 56%, 100%) }
  html[data-theme='auto'] .sf-c-txt-beige\:10, html.auto .sf-c-txt-beige\:10 { color: hsl(60, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-beige\:20, html.auto .sf-c-txt-beige\:20 { color: hsl(60, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-beige\:30, html.auto .sf-c-txt-beige\:30 { color: hsl(60, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-beige\:40, html.auto .sf-c-txt-beige\:40 { color: hsl(60, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-beige\:50, html.auto .sf-c-txt-beige\:50 { color: hsl(60, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-beige\:60, html.auto .sf-c-txt-beige\:60 { color: hsl(60, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-beige\:70, html.auto .sf-c-txt-beige\:70 { color: hsl(60, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-beige\:80, html.auto .sf-c-txt-beige\:80 { color: hsl(60, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-beige\:90, html.auto .sf-c-txt-beige\:90 { color: hsl(60, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-beige\:100, html.auto .sf-c-txt-beige\:100 { color: hsl(60, 56%, 0%) }

  html[data-theme='auto'] .sf-c-txt-beige\:st, html.auto .sf-c-txt-beige\:st { color: hsl(60, 56%, 91%) }
  html[data-theme='auto'] .sf-c-txt-beige\:0\:st, html.auto .sf-c-txt-beige\:0\:st { color: hsl(60, 56%, 0%) }
  html[data-theme='auto'] .sf-c-txt-beige\:10\:st, html.auto .sf-c-txt-beige\:10\:st { color: hsl(60, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-beige\:20\:st, html.auto .sf-c-txt-beige\:20\:st { color: hsl(60, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-beige\:30\:st, html.auto .sf-c-txt-beige\:30\:st { color: hsl(60, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-beige\:40\:st, html.auto .sf-c-txt-beige\:40\:st { color: hsl(60, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-beige\:50\:st, html.auto .sf-c-txt-beige\:50\:st { color: hsl(60, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-beige\:60\:st, html.auto .sf-c-txt-beige\:60\:st { color: hsl(60, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-beige\:70\:st, html.auto .sf-c-txt-beige\:70\:st { color: hsl(60, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-beige\:80\:st, html.auto .sf-c-txt-beige\:80\:st { color: hsl(60, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-beige\:90\:st, html.auto .sf-c-txt-beige\:90\:st { color: hsl(60, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-beige\:100\:st, html.auto .sf-c-txt-beige\:100\:st { color: hsl(60, 56%, 100%) }
}