.sf-var-blanchedalmond {
  --sf-c-blanchedalmond: 36 100% 90%;
  --sf-c-blanchedalmond-0: 36 100% 0%;
  --sf-c-blanchedalmond-10: 36 100% 10%;
  --sf-c-blanchedalmond-20: 36 100% 20%;
  --sf-c-blanchedalmond-30: 36 100% 30%;
  --sf-c-blanchedalmond-40: 36 100% 40%;
  --sf-c-blanchedalmond-50: 36 100% 50%;
  --sf-c-blanchedalmond-60: 36 100% 60%;
  --sf-c-blanchedalmond-70: 36 100% 70%;
  --sf-c-blanchedalmond-80: 36 100% 80%;
  --sf-c-blanchedalmond-90: 36 100% 90%;
  --sf-c-blanchedalmond-100: 36 100% 100%;
}

.sf-c-blanchedalmond, .sf-c-blanchedalmond\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
.sf-c-blanchedalmond\:0, .sf-c-blanchedalmond\:0\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 0%) }
.sf-c-blanchedalmond\:10, .sf-c-blanchedalmond\:10\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
.sf-c-blanchedalmond\:20, .sf-c-blanchedalmond\:20\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 20%) }
.sf-c-blanchedalmond\:30, .sf-c-blanchedalmond\:30\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 30%) }
.sf-c-blanchedalmond\:40, .sf-c-blanchedalmond\:40\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 40%) }
.sf-c-blanchedalmond\:50, .sf-c-blanchedalmond\:50\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 50%) }
.sf-c-blanchedalmond\:60, .sf-c-blanchedalmond\:60\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 60%) }
.sf-c-blanchedalmond\:70, .sf-c-blanchedalmond\:70\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 70%) }
.sf-c-blanchedalmond\:80, .sf-c-blanchedalmond\:80\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 80%) }
.sf-c-blanchedalmond\:90, .sf-c-blanchedalmond\:90\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
.sf-c-blanchedalmond\:100, .sf-c-blanchedalmond\:100\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 100%) }

.sf-c-txt-blanchedalmond { color: hsl(36, 100%, 10%) }
.sf-c-txt-blanchedalmond\:st { color: hsl(36, 100%, 90%) }
.sf-c-txt-blanchedalmond\:0, .sf-c-txt-blanchedalmond\:0\:st { color: hsl(36, 100%, 0%) }
.sf-c-txt-blanchedalmond\:10, .sf-c-txt-blanchedalmond\:10\:st { color: hsl(36, 100%, 10%) }
.sf-c-txt-blanchedalmond\:20, .sf-c-txt-blanchedalmond\:20\:st { color: hsl(36, 100%, 20%) }
.sf-c-txt-blanchedalmond\:30, .sf-c-txt-blanchedalmond\:30\:st { color: hsl(36, 100%, 30%) }
.sf-c-txt-blanchedalmond\:40, .sf-c-txt-blanchedalmond\:40\:st { color: hsl(36, 100%, 40%) }
.sf-c-txt-blanchedalmond\:50, .sf-c-txt-blanchedalmond\:50\:st { color: hsl(36, 100%, 50%) }
.sf-c-txt-blanchedalmond\:60, .sf-c-txt-blanchedalmond\:60\:st { color: hsl(36, 100%, 60%) }
.sf-c-txt-blanchedalmond\:70, .sf-c-txt-blanchedalmond\:70\:st { color: hsl(36, 100%, 70%) }
.sf-c-txt-blanchedalmond\:80, .sf-c-txt-blanchedalmond\:80\:st { color: hsl(36, 100%, 80%) }
.sf-c-txt-blanchedalmond\:90, .sf-c-txt-blanchedalmond\:90\:st { color: hsl(36, 100%, 90%) }
.sf-c-txt-blanchedalmond\:100, .sf-c-txt-blanchedalmond\:100\:st { color: hsl(36, 100%, 100%) }

html[data-theme='dark'] .sf-c-blanchedalmond, html.dark .sf-c-blanchedalmond { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:0, html.dark .sf-c-blanchedalmond\:0 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 100%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:10, html.dark .sf-c-blanchedalmond\:10 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:20, html.dark .sf-c-blanchedalmond\:20 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 80%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:30, html.dark .sf-c-blanchedalmond\:30 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 70%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:40, html.dark .sf-c-blanchedalmond\:40 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 60%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:50, html.dark .sf-c-blanchedalmond\:50 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 50%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:60, html.dark .sf-c-blanchedalmond\:60 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 40%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:70, html.dark .sf-c-blanchedalmond\:70 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 30%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:80, html.dark .sf-c-blanchedalmond\:80 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 20%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:90, html.dark .sf-c-blanchedalmond\:90 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:100, html.dark .sf-c-blanchedalmond\:100 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 0%) }

html[data-theme='dark'] .sf-c-blanchedalmond\:st, html.dark .sf-c-blanchedalmond\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:0\:st, html.dark .sf-c-blanchedalmond\:0\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 0%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:10\:st, html.dark .sf-c-blanchedalmond\:10\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:20\:st, html.dark .sf-c-blanchedalmond\:20\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 20%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:30\:st, html.dark .sf-c-blanchedalmond\:30\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 30%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:40\:st, html.dark .sf-c-blanchedalmond\:40\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 40%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:50\:st, html.dark .sf-c-blanchedalmond\:50\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 50%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:60\:st, html.dark .sf-c-blanchedalmond\:60\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 60%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:70\:st, html.dark .sf-c-blanchedalmond\:70\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 70%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:80\:st, html.dark .sf-c-blanchedalmond\:80\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 80%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:90\:st, html.dark .sf-c-blanchedalmond\:90\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-blanchedalmond\:100\:st, html.dark .sf-c-blanchedalmond\:100\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-blanchedalmond, html.dark .sf-c-txt-blanchedalmond { color: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:0, html.dark .sf-c-txt-blanchedalmond\:0 { color: hsl(36, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:10, html.dark .sf-c-txt-blanchedalmond\:10 { color: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:20, html.dark .sf-c-txt-blanchedalmond\:20 { color: hsl(36, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:30, html.dark .sf-c-txt-blanchedalmond\:30 { color: hsl(36, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:40, html.dark .sf-c-txt-blanchedalmond\:40 { color: hsl(36, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:50, html.dark .sf-c-txt-blanchedalmond\:50 { color: hsl(36, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:60, html.dark .sf-c-txt-blanchedalmond\:60 { color: hsl(36, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:70, html.dark .sf-c-txt-blanchedalmond\:70 { color: hsl(36, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:80, html.dark .sf-c-txt-blanchedalmond\:80 { color: hsl(36, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:90, html.dark .sf-c-txt-blanchedalmond\:90 { color: hsl(36, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:100, html.dark .sf-c-txt-blanchedalmond\:100 { color: hsl(36, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-blanchedalmond\:st, html.dark .sf-c-txt-blanchedalmond\:st { color: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:0\:st, html.dark .sf-c-txt-blanchedalmond\:0\:st { color: hsl(36, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:10\:st, html.dark .sf-c-txt-blanchedalmond\:10\:st { color: hsl(36, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:20\:st, html.dark .sf-c-txt-blanchedalmond\:20\:st { color: hsl(36, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:30\:st, html.dark .sf-c-txt-blanchedalmond\:30\:st { color: hsl(36, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:40\:st, html.dark .sf-c-txt-blanchedalmond\:40\:st { color: hsl(36, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:50\:st, html.dark .sf-c-txt-blanchedalmond\:50\:st { color: hsl(36, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:60\:st, html.dark .sf-c-txt-blanchedalmond\:60\:st { color: hsl(36, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:70\:st, html.dark .sf-c-txt-blanchedalmond\:70\:st { color: hsl(36, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:80\:st, html.dark .sf-c-txt-blanchedalmond\:80\:st { color: hsl(36, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:90\:st, html.dark .sf-c-txt-blanchedalmond\:90\:st { color: hsl(36, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blanchedalmond\:100\:st, html.dark .sf-c-txt-blanchedalmond\:100\:st { color: hsl(36, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-blanchedalmond, html.auto .sf-c-blanchedalmond { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:0, html.auto .sf-c-blanchedalmond\:0 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 100%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:10, html.auto .sf-c-blanchedalmond\:10 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:20, html.auto .sf-c-blanchedalmond\:20 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 80%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:30, html.auto .sf-c-blanchedalmond\:30 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 70%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:40, html.auto .sf-c-blanchedalmond\:40 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 60%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:50, html.auto .sf-c-blanchedalmond\:50 { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:60, html.auto .sf-c-blanchedalmond\:60 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 40%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:70, html.auto .sf-c-blanchedalmond\:70 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 30%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:80, html.auto .sf-c-blanchedalmond\:80 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 20%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:90, html.auto .sf-c-blanchedalmond\:90 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:100, html.auto .sf-c-blanchedalmond\:100 { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 0%) }

  html[data-theme='auto'] .sf-c-blanchedalmond\:st, html.auto .sf-c-blanchedalmond\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:0\:st, html.auto .sf-c-blanchedalmond\:0\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 0%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:10\:st, html.auto .sf-c-blanchedalmond\:10\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 10%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:20\:st, html.auto .sf-c-blanchedalmond\:20\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 20%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:30\:st, html.auto .sf-c-blanchedalmond\:30\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 30%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:40\:st, html.auto .sf-c-blanchedalmond\:40\:st { color: hsl(36, 100%, 90%); background: hsl(36, 100%, 40%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:50\:st, html.auto .sf-c-blanchedalmond\:50\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:60\:st, html.auto .sf-c-blanchedalmond\:60\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 60%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:70\:st, html.auto .sf-c-blanchedalmond\:70\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 70%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:80\:st, html.auto .sf-c-blanchedalmond\:80\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 80%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:90\:st, html.auto .sf-c-blanchedalmond\:90\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-blanchedalmond\:100\:st, html.auto .sf-c-blanchedalmond\:100\:st { color: hsl(36, 100%, 10%); background: hsl(36, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-blanchedalmond, html.auto .sf-c-txt-blanchedalmond { color: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:0, html.auto .sf-c-txt-blanchedalmond\:0 { color: hsl(36, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:10, html.auto .sf-c-txt-blanchedalmond\:10 { color: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:20, html.auto .sf-c-txt-blanchedalmond\:20 { color: hsl(36, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:30, html.auto .sf-c-txt-blanchedalmond\:30 { color: hsl(36, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:40, html.auto .sf-c-txt-blanchedalmond\:40 { color: hsl(36, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:50, html.auto .sf-c-txt-blanchedalmond\:50 { color: hsl(36, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:60, html.auto .sf-c-txt-blanchedalmond\:60 { color: hsl(36, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:70, html.auto .sf-c-txt-blanchedalmond\:70 { color: hsl(36, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:80, html.auto .sf-c-txt-blanchedalmond\:80 { color: hsl(36, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:90, html.auto .sf-c-txt-blanchedalmond\:90 { color: hsl(36, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:100, html.auto .sf-c-txt-blanchedalmond\:100 { color: hsl(36, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:st, html.auto .sf-c-txt-blanchedalmond\:st { color: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:0\:st, html.auto .sf-c-txt-blanchedalmond\:0\:st { color: hsl(36, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:10\:st, html.auto .sf-c-txt-blanchedalmond\:10\:st { color: hsl(36, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:20\:st, html.auto .sf-c-txt-blanchedalmond\:20\:st { color: hsl(36, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:30\:st, html.auto .sf-c-txt-blanchedalmond\:30\:st { color: hsl(36, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:40\:st, html.auto .sf-c-txt-blanchedalmond\:40\:st { color: hsl(36, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:50\:st, html.auto .sf-c-txt-blanchedalmond\:50\:st { color: hsl(36, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:60\:st, html.auto .sf-c-txt-blanchedalmond\:60\:st { color: hsl(36, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:70\:st, html.auto .sf-c-txt-blanchedalmond\:70\:st { color: hsl(36, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:80\:st, html.auto .sf-c-txt-blanchedalmond\:80\:st { color: hsl(36, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:90\:st, html.auto .sf-c-txt-blanchedalmond\:90\:st { color: hsl(36, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blanchedalmond\:100\:st, html.auto .sf-c-txt-blanchedalmond\:100\:st { color: hsl(36, 100%, 100%) }
}