.sf-var-blue {
  --sf-c-blue: 240 100% 50%;
  --sf-c-blue-0: 240 100% 0%;
  --sf-c-blue-10: 240 100% 10%;
  --sf-c-blue-20: 240 100% 20%;
  --sf-c-blue-30: 240 100% 30%;
  --sf-c-blue-40: 240 100% 40%;
  --sf-c-blue-50: 240 100% 50%;
  --sf-c-blue-60: 240 100% 60%;
  --sf-c-blue-70: 240 100% 70%;
  --sf-c-blue-80: 240 100% 80%;
  --sf-c-blue-90: 240 100% 90%;
  --sf-c-blue-100: 240 100% 100%;
}

.sf-c-blue, .sf-c-blue\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
.sf-c-blue\:0, .sf-c-blue\:0\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
.sf-c-blue\:10, .sf-c-blue\:10\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
.sf-c-blue\:20, .sf-c-blue\:20\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
.sf-c-blue\:30, .sf-c-blue\:30\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
.sf-c-blue\:40, .sf-c-blue\:40\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
.sf-c-blue\:50, .sf-c-blue\:50\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
.sf-c-blue\:60, .sf-c-blue\:60\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
.sf-c-blue\:70, .sf-c-blue\:70\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
.sf-c-blue\:80, .sf-c-blue\:80\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
.sf-c-blue\:90, .sf-c-blue\:90\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
.sf-c-blue\:100, .sf-c-blue\:100\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

.sf-c-txt-blue { color: hsl(240, 100%, 50%) }
.sf-c-txt-blue\:st { color: hsl(240, 100%, 50%) }
.sf-c-txt-blue\:0, .sf-c-txt-blue\:0\:st { color: hsl(240, 100%, 0%) }
.sf-c-txt-blue\:10, .sf-c-txt-blue\:10\:st { color: hsl(240, 100%, 10%) }
.sf-c-txt-blue\:20, .sf-c-txt-blue\:20\:st { color: hsl(240, 100%, 20%) }
.sf-c-txt-blue\:30, .sf-c-txt-blue\:30\:st { color: hsl(240, 100%, 30%) }
.sf-c-txt-blue\:40, .sf-c-txt-blue\:40\:st { color: hsl(240, 100%, 40%) }
.sf-c-txt-blue\:50, .sf-c-txt-blue\:50\:st { color: hsl(240, 100%, 50%) }
.sf-c-txt-blue\:60, .sf-c-txt-blue\:60\:st { color: hsl(240, 100%, 60%) }
.sf-c-txt-blue\:70, .sf-c-txt-blue\:70\:st { color: hsl(240, 100%, 70%) }
.sf-c-txt-blue\:80, .sf-c-txt-blue\:80\:st { color: hsl(240, 100%, 80%) }
.sf-c-txt-blue\:90, .sf-c-txt-blue\:90\:st { color: hsl(240, 100%, 90%) }
.sf-c-txt-blue\:100, .sf-c-txt-blue\:100\:st { color: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-blue, html.dark .sf-c-blue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-blue\:0, html.dark .sf-c-blue\:0 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }
html[data-theme='dark'] .sf-c-blue\:10, html.dark .sf-c-blue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-blue\:20, html.dark .sf-c-blue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-blue\:30, html.dark .sf-c-blue\:30 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-blue\:40, html.dark .sf-c-blue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-blue\:50, html.dark .sf-c-blue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-blue\:60, html.dark .sf-c-blue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-blue\:70, html.dark .sf-c-blue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-blue\:80, html.dark .sf-c-blue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-blue\:90, html.dark .sf-c-blue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-blue\:100, html.dark .sf-c-blue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

html[data-theme='dark'] .sf-c-blue\:st, html.dark .sf-c-blue\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-blue\:0\:st, html.dark .sf-c-blue\:0\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
html[data-theme='dark'] .sf-c-blue\:10\:st, html.dark .sf-c-blue\:10\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-blue\:20\:st, html.dark .sf-c-blue\:20\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-blue\:30\:st, html.dark .sf-c-blue\:30\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-blue\:40\:st, html.dark .sf-c-blue\:40\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-blue\:50\:st, html.dark .sf-c-blue\:50\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-blue\:60\:st, html.dark .sf-c-blue\:60\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-blue\:70\:st, html.dark .sf-c-blue\:70\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-blue\:80\:st, html.dark .sf-c-blue\:80\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-blue\:90\:st, html.dark .sf-c-blue\:90\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-blue\:100\:st, html.dark .sf-c-blue\:100\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-blue, html.dark .sf-c-txt-blue { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blue\:0, html.dark .sf-c-txt-blue\:0 { color: hsl(240, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-blue\:10, html.dark .sf-c-txt-blue\:10 { color: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blue\:20, html.dark .sf-c-txt-blue\:20 { color: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-blue\:30, html.dark .sf-c-txt-blue\:30 { color: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-blue\:40, html.dark .sf-c-txt-blue\:40 { color: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-blue\:50, html.dark .sf-c-txt-blue\:50 { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blue\:60, html.dark .sf-c-txt-blue\:60 { color: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-blue\:70, html.dark .sf-c-txt-blue\:70 { color: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-blue\:80, html.dark .sf-c-txt-blue\:80 { color: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-blue\:90, html.dark .sf-c-txt-blue\:90 { color: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-blue\:100, html.dark .sf-c-txt-blue\:100 { color: hsl(240, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-blue\:st, html.dark .sf-c-txt-blue\:st { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blue\:0\:st, html.dark .sf-c-txt-blue\:0\:st { color: hsl(240, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-blue\:10\:st, html.dark .sf-c-txt-blue\:10\:st { color: hsl(240, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-blue\:20\:st, html.dark .sf-c-txt-blue\:20\:st { color: hsl(240, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-blue\:30\:st, html.dark .sf-c-txt-blue\:30\:st { color: hsl(240, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-blue\:40\:st, html.dark .sf-c-txt-blue\:40\:st { color: hsl(240, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-blue\:50\:st, html.dark .sf-c-txt-blue\:50\:st { color: hsl(240, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-blue\:60\:st, html.dark .sf-c-txt-blue\:60\:st { color: hsl(240, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-blue\:70\:st, html.dark .sf-c-txt-blue\:70\:st { color: hsl(240, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-blue\:80\:st, html.dark .sf-c-txt-blue\:80\:st { color: hsl(240, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-blue\:90\:st, html.dark .sf-c-txt-blue\:90\:st { color: hsl(240, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-blue\:100\:st, html.dark .sf-c-txt-blue\:100\:st { color: hsl(240, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-blue, html.auto .sf-c-blue { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blue\:0, html.auto .sf-c-blue\:0 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }
  html[data-theme='auto'] .sf-c-blue\:10, html.auto .sf-c-blue\:10 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-blue\:20, html.auto .sf-c-blue\:20 { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-blue\:30, html.auto .sf-c-blue\:30 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-blue\:40, html.auto .sf-c-blue\:40 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-blue\:50, html.auto .sf-c-blue\:50 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blue\:60, html.auto .sf-c-blue\:60 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-blue\:70, html.auto .sf-c-blue\:70 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-blue\:80, html.auto .sf-c-blue\:80 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-blue\:90, html.auto .sf-c-blue\:90 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-blue\:100, html.auto .sf-c-blue\:100 { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }

  html[data-theme='auto'] .sf-c-blue\:st, html.auto .sf-c-blue\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blue\:0\:st, html.auto .sf-c-blue\:0\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 0%) }
  html[data-theme='auto'] .sf-c-blue\:10\:st, html.auto .sf-c-blue\:10\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-blue\:20\:st, html.auto .sf-c-blue\:20\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-blue\:30\:st, html.auto .sf-c-blue\:30\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-blue\:40\:st, html.auto .sf-c-blue\:40\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-blue\:50\:st, html.auto .sf-c-blue\:50\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-blue\:60\:st, html.auto .sf-c-blue\:60\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-blue\:70\:st, html.auto .sf-c-blue\:70\:st { color: hsl(240, 100%, 90%); background: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-blue\:80\:st, html.auto .sf-c-blue\:80\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-blue\:90\:st, html.auto .sf-c-blue\:90\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-blue\:100\:st, html.auto .sf-c-blue\:100\:st { color: hsl(240, 100%, 10%); background: hsl(240, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-blue, html.auto .sf-c-txt-blue { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blue\:0, html.auto .sf-c-txt-blue\:0 { color: hsl(240, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-blue\:10, html.auto .sf-c-txt-blue\:10 { color: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blue\:20, html.auto .sf-c-txt-blue\:20 { color: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-blue\:30, html.auto .sf-c-txt-blue\:30 { color: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-blue\:40, html.auto .sf-c-txt-blue\:40 { color: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-blue\:50, html.auto .sf-c-txt-blue\:50 { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blue\:60, html.auto .sf-c-txt-blue\:60 { color: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-blue\:70, html.auto .sf-c-txt-blue\:70 { color: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-blue\:80, html.auto .sf-c-txt-blue\:80 { color: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-blue\:90, html.auto .sf-c-txt-blue\:90 { color: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-blue\:100, html.auto .sf-c-txt-blue\:100 { color: hsl(240, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-blue\:st, html.auto .sf-c-txt-blue\:st { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blue\:0\:st, html.auto .sf-c-txt-blue\:0\:st { color: hsl(240, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-blue\:10\:st, html.auto .sf-c-txt-blue\:10\:st { color: hsl(240, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-blue\:20\:st, html.auto .sf-c-txt-blue\:20\:st { color: hsl(240, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-blue\:30\:st, html.auto .sf-c-txt-blue\:30\:st { color: hsl(240, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-blue\:40\:st, html.auto .sf-c-txt-blue\:40\:st { color: hsl(240, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-blue\:50\:st, html.auto .sf-c-txt-blue\:50\:st { color: hsl(240, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-blue\:60\:st, html.auto .sf-c-txt-blue\:60\:st { color: hsl(240, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-blue\:70\:st, html.auto .sf-c-txt-blue\:70\:st { color: hsl(240, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-blue\:80\:st, html.auto .sf-c-txt-blue\:80\:st { color: hsl(240, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-blue\:90\:st, html.auto .sf-c-txt-blue\:90\:st { color: hsl(240, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-blue\:100\:st, html.auto .sf-c-txt-blue\:100\:st { color: hsl(240, 100%, 100%) }
}