.sf-var-burlywood {
  --sf-c-burlywood: 34 57% 70%;
  --sf-c-burlywood-0: 34 57% 0%;
  --sf-c-burlywood-10: 34 57% 10%;
  --sf-c-burlywood-20: 34 57% 20%;
  --sf-c-burlywood-30: 34 57% 30%;
  --sf-c-burlywood-40: 34 57% 40%;
  --sf-c-burlywood-50: 34 57% 50%;
  --sf-c-burlywood-60: 34 57% 60%;
  --sf-c-burlywood-70: 34 57% 70%;
  --sf-c-burlywood-80: 34 57% 80%;
  --sf-c-burlywood-90: 34 57% 90%;
  --sf-c-burlywood-100: 34 57% 100%;
}

.sf-c-burlywood, .sf-c-burlywood\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
.sf-c-burlywood\:0, .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 0%) }
.sf-c-burlywood\:10, .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 10%) }
.sf-c-burlywood\:20, .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 20%) }
.sf-c-burlywood\:30, .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
.sf-c-burlywood\:40, .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 40%) }
.sf-c-burlywood\:50, .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 50%) }
.sf-c-burlywood\:60, .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 60%) }
.sf-c-burlywood\:70, .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
.sf-c-burlywood\:80, .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 80%) }
.sf-c-burlywood\:90, .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 90%) }
.sf-c-burlywood\:100, .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 100%) }

.sf-c-txt-burlywood { color: hsl(34, 57%, 10%) }
.sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
.sf-c-txt-burlywood\:0, .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
.sf-c-txt-burlywood\:10, .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
.sf-c-txt-burlywood\:20, .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
.sf-c-txt-burlywood\:30, .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
.sf-c-txt-burlywood\:40, .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
.sf-c-txt-burlywood\:50, .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
.sf-c-txt-burlywood\:60, .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
.sf-c-txt-burlywood\:70, .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
.sf-c-txt-burlywood\:80, .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
.sf-c-txt-burlywood\:90, .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
.sf-c-txt-burlywood\:100, .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }

html[data-theme='dark'] .sf-c-burlywood, html.dark .sf-c-burlywood { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:0, html.dark .sf-c-burlywood\:0 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 100%) }
html[data-theme='dark'] .sf-c-burlywood\:10, html.dark .sf-c-burlywood\:10 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-burlywood\:20, html.dark .sf-c-burlywood\:20 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-burlywood\:30, html.dark .sf-c-burlywood\:30 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:40, html.dark .sf-c-burlywood\:40 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-burlywood\:50, html.dark .sf-c-burlywood\:50 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-burlywood\:60, html.dark .sf-c-burlywood\:60 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-burlywood\:70, html.dark .sf-c-burlywood\:70 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:80, html.dark .sf-c-burlywood\:80 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-burlywood\:90, html.dark .sf-c-burlywood\:90 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-burlywood\:100, html.dark .sf-c-burlywood\:100 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 0%) }

html[data-theme='dark'] .sf-c-burlywood\:st, html.dark .sf-c-burlywood\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:0\:st, html.dark .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 0%) }
html[data-theme='dark'] .sf-c-burlywood\:10\:st, html.dark .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-burlywood\:20\:st, html.dark .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-burlywood\:30\:st, html.dark .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-burlywood\:40\:st, html.dark .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-burlywood\:50\:st, html.dark .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-burlywood\:60\:st, html.dark .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-burlywood\:70\:st, html.dark .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-burlywood\:80\:st, html.dark .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-burlywood\:90\:st, html.dark .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-burlywood\:100\:st, html.dark .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 100%) }

html[data-theme='dark'] .sf-c-txt-burlywood, html.dark .sf-c-txt-burlywood { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:0, html.dark .sf-c-txt-burlywood\:0 { color: hsl(34, 57%, 100%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:10, html.dark .sf-c-txt-burlywood\:10 { color: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:20, html.dark .sf-c-txt-burlywood\:20 { color: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:30, html.dark .sf-c-txt-burlywood\:30 { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:40, html.dark .sf-c-txt-burlywood\:40 { color: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:50, html.dark .sf-c-txt-burlywood\:50 { color: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:60, html.dark .sf-c-txt-burlywood\:60 { color: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:70, html.dark .sf-c-txt-burlywood\:70 { color: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:80, html.dark .sf-c-txt-burlywood\:80 { color: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:90, html.dark .sf-c-txt-burlywood\:90 { color: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:100, html.dark .sf-c-txt-burlywood\:100 { color: hsl(34, 57%, 0%) }

html[data-theme='dark'] .sf-c-txt-burlywood\:st, html.dark .sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:0\:st, html.dark .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:10\:st, html.dark .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:20\:st, html.dark .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:30\:st, html.dark .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:40\:st, html.dark .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:50\:st, html.dark .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:60\:st, html.dark .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:70\:st, html.dark .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:80\:st, html.dark .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:90\:st, html.dark .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
html[data-theme='dark'] .sf-c-txt-burlywood\:100\:st, html.dark .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-burlywood, html.auto .sf-c-burlywood { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:0, html.auto .sf-c-burlywood\:0 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 100%) }
  html[data-theme='auto'] .sf-c-burlywood\:10, html.auto .sf-c-burlywood\:10 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-burlywood\:20, html.auto .sf-c-burlywood\:20 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-burlywood\:30, html.auto .sf-c-burlywood\:30 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:40, html.auto .sf-c-burlywood\:40 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-burlywood\:50, html.auto .sf-c-burlywood\:50 { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-burlywood\:60, html.auto .sf-c-burlywood\:60 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-burlywood\:70, html.auto .sf-c-burlywood\:70 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:80, html.auto .sf-c-burlywood\:80 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-burlywood\:90, html.auto .sf-c-burlywood\:90 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-burlywood\:100, html.auto .sf-c-burlywood\:100 { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 0%) }

  html[data-theme='auto'] .sf-c-burlywood\:st, html.auto .sf-c-burlywood\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:0\:st, html.auto .sf-c-burlywood\:0\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 0%) }
  html[data-theme='auto'] .sf-c-burlywood\:10\:st, html.auto .sf-c-burlywood\:10\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-burlywood\:20\:st, html.auto .sf-c-burlywood\:20\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-burlywood\:30\:st, html.auto .sf-c-burlywood\:30\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-burlywood\:40\:st, html.auto .sf-c-burlywood\:40\:st { color: hsl(34, 57%, 90%); background: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-burlywood\:50\:st, html.auto .sf-c-burlywood\:50\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-burlywood\:60\:st, html.auto .sf-c-burlywood\:60\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-burlywood\:70\:st, html.auto .sf-c-burlywood\:70\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-burlywood\:80\:st, html.auto .sf-c-burlywood\:80\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-burlywood\:90\:st, html.auto .sf-c-burlywood\:90\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-burlywood\:100\:st, html.auto .sf-c-burlywood\:100\:st { color: hsl(34, 57%, 10%); background: hsl(34, 57%, 100%) }

  html[data-theme='auto'] .sf-c-txt-burlywood, html.auto .sf-c-txt-burlywood { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:0, html.auto .sf-c-txt-burlywood\:0 { color: hsl(34, 57%, 100%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:10, html.auto .sf-c-txt-burlywood\:10 { color: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:20, html.auto .sf-c-txt-burlywood\:20 { color: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:30, html.auto .sf-c-txt-burlywood\:30 { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:40, html.auto .sf-c-txt-burlywood\:40 { color: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:50, html.auto .sf-c-txt-burlywood\:50 { color: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:60, html.auto .sf-c-txt-burlywood\:60 { color: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:70, html.auto .sf-c-txt-burlywood\:70 { color: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:80, html.auto .sf-c-txt-burlywood\:80 { color: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:90, html.auto .sf-c-txt-burlywood\:90 { color: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:100, html.auto .sf-c-txt-burlywood\:100 { color: hsl(34, 57%, 0%) }

  html[data-theme='auto'] .sf-c-txt-burlywood\:st, html.auto .sf-c-txt-burlywood\:st { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:0\:st, html.auto .sf-c-txt-burlywood\:0\:st { color: hsl(34, 57%, 0%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:10\:st, html.auto .sf-c-txt-burlywood\:10\:st { color: hsl(34, 57%, 10%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:20\:st, html.auto .sf-c-txt-burlywood\:20\:st { color: hsl(34, 57%, 20%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:30\:st, html.auto .sf-c-txt-burlywood\:30\:st { color: hsl(34, 57%, 30%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:40\:st, html.auto .sf-c-txt-burlywood\:40\:st { color: hsl(34, 57%, 40%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:50\:st, html.auto .sf-c-txt-burlywood\:50\:st { color: hsl(34, 57%, 50%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:60\:st, html.auto .sf-c-txt-burlywood\:60\:st { color: hsl(34, 57%, 60%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:70\:st, html.auto .sf-c-txt-burlywood\:70\:st { color: hsl(34, 57%, 70%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:80\:st, html.auto .sf-c-txt-burlywood\:80\:st { color: hsl(34, 57%, 80%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:90\:st, html.auto .sf-c-txt-burlywood\:90\:st { color: hsl(34, 57%, 90%) }
  html[data-theme='auto'] .sf-c-txt-burlywood\:100\:st, html.auto .sf-c-txt-burlywood\:100\:st { color: hsl(34, 57%, 100%) }
}