.sf-var-cadetblue {
  --sf-c-cadetblue: 182 25% 50%;
  --sf-c-cadetblue-0: 182 25% 0%;
  --sf-c-cadetblue-10: 182 25% 10%;
  --sf-c-cadetblue-20: 182 25% 20%;
  --sf-c-cadetblue-30: 182 25% 30%;
  --sf-c-cadetblue-40: 182 25% 40%;
  --sf-c-cadetblue-50: 182 25% 50%;
  --sf-c-cadetblue-60: 182 25% 60%;
  --sf-c-cadetblue-70: 182 25% 70%;
  --sf-c-cadetblue-80: 182 25% 80%;
  --sf-c-cadetblue-90: 182 25% 90%;
  --sf-c-cadetblue-100: 182 25% 100%;
}

.sf-c-cadetblue, .sf-c-cadetblue\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
.sf-c-cadetblue\:0, .sf-c-cadetblue\:0\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 0%) }
.sf-c-cadetblue\:10, .sf-c-cadetblue\:10\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 10%) }
.sf-c-cadetblue\:20, .sf-c-cadetblue\:20\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 20%) }
.sf-c-cadetblue\:30, .sf-c-cadetblue\:30\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 30%) }
.sf-c-cadetblue\:40, .sf-c-cadetblue\:40\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 40%) }
.sf-c-cadetblue\:50, .sf-c-cadetblue\:50\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
.sf-c-cadetblue\:60, .sf-c-cadetblue\:60\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 60%) }
.sf-c-cadetblue\:70, .sf-c-cadetblue\:70\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 70%) }
.sf-c-cadetblue\:80, .sf-c-cadetblue\:80\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 80%) }
.sf-c-cadetblue\:90, .sf-c-cadetblue\:90\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 90%) }
.sf-c-cadetblue\:100, .sf-c-cadetblue\:100\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 100%) }

.sf-c-txt-cadetblue { color: hsl(182, 25%, 50%) }
.sf-c-txt-cadetblue\:st { color: hsl(182, 25%, 50%) }
.sf-c-txt-cadetblue\:0, .sf-c-txt-cadetblue\:0\:st { color: hsl(182, 25%, 0%) }
.sf-c-txt-cadetblue\:10, .sf-c-txt-cadetblue\:10\:st { color: hsl(182, 25%, 10%) }
.sf-c-txt-cadetblue\:20, .sf-c-txt-cadetblue\:20\:st { color: hsl(182, 25%, 20%) }
.sf-c-txt-cadetblue\:30, .sf-c-txt-cadetblue\:30\:st { color: hsl(182, 25%, 30%) }
.sf-c-txt-cadetblue\:40, .sf-c-txt-cadetblue\:40\:st { color: hsl(182, 25%, 40%) }
.sf-c-txt-cadetblue\:50, .sf-c-txt-cadetblue\:50\:st { color: hsl(182, 25%, 50%) }
.sf-c-txt-cadetblue\:60, .sf-c-txt-cadetblue\:60\:st { color: hsl(182, 25%, 60%) }
.sf-c-txt-cadetblue\:70, .sf-c-txt-cadetblue\:70\:st { color: hsl(182, 25%, 70%) }
.sf-c-txt-cadetblue\:80, .sf-c-txt-cadetblue\:80\:st { color: hsl(182, 25%, 80%) }
.sf-c-txt-cadetblue\:90, .sf-c-txt-cadetblue\:90\:st { color: hsl(182, 25%, 90%) }
.sf-c-txt-cadetblue\:100, .sf-c-txt-cadetblue\:100\:st { color: hsl(182, 25%, 100%) }

html[data-theme='dark'] .sf-c-cadetblue, html.dark .sf-c-cadetblue { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-cadetblue\:0, html.dark .sf-c-cadetblue\:0 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 100%) }
html[data-theme='dark'] .sf-c-cadetblue\:10, html.dark .sf-c-cadetblue\:10 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 90%) }
html[data-theme='dark'] .sf-c-cadetblue\:20, html.dark .sf-c-cadetblue\:20 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 80%) }
html[data-theme='dark'] .sf-c-cadetblue\:30, html.dark .sf-c-cadetblue\:30 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 70%) }
html[data-theme='dark'] .sf-c-cadetblue\:40, html.dark .sf-c-cadetblue\:40 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 60%) }
html[data-theme='dark'] .sf-c-cadetblue\:50, html.dark .sf-c-cadetblue\:50 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-cadetblue\:60, html.dark .sf-c-cadetblue\:60 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 40%) }
html[data-theme='dark'] .sf-c-cadetblue\:70, html.dark .sf-c-cadetblue\:70 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 30%) }
html[data-theme='dark'] .sf-c-cadetblue\:80, html.dark .sf-c-cadetblue\:80 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 20%) }
html[data-theme='dark'] .sf-c-cadetblue\:90, html.dark .sf-c-cadetblue\:90 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 10%) }
html[data-theme='dark'] .sf-c-cadetblue\:100, html.dark .sf-c-cadetblue\:100 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 0%) }

html[data-theme='dark'] .sf-c-cadetblue\:st, html.dark .sf-c-cadetblue\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-cadetblue\:0\:st, html.dark .sf-c-cadetblue\:0\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 0%) }
html[data-theme='dark'] .sf-c-cadetblue\:10\:st, html.dark .sf-c-cadetblue\:10\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 10%) }
html[data-theme='dark'] .sf-c-cadetblue\:20\:st, html.dark .sf-c-cadetblue\:20\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 20%) }
html[data-theme='dark'] .sf-c-cadetblue\:30\:st, html.dark .sf-c-cadetblue\:30\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 30%) }
html[data-theme='dark'] .sf-c-cadetblue\:40\:st, html.dark .sf-c-cadetblue\:40\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 40%) }
html[data-theme='dark'] .sf-c-cadetblue\:50\:st, html.dark .sf-c-cadetblue\:50\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-cadetblue\:60\:st, html.dark .sf-c-cadetblue\:60\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 60%) }
html[data-theme='dark'] .sf-c-cadetblue\:70\:st, html.dark .sf-c-cadetblue\:70\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 70%) }
html[data-theme='dark'] .sf-c-cadetblue\:80\:st, html.dark .sf-c-cadetblue\:80\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 80%) }
html[data-theme='dark'] .sf-c-cadetblue\:90\:st, html.dark .sf-c-cadetblue\:90\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 90%) }
html[data-theme='dark'] .sf-c-cadetblue\:100\:st, html.dark .sf-c-cadetblue\:100\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 100%) }

html[data-theme='dark'] .sf-c-txt-cadetblue, html.dark .sf-c-txt-cadetblue { color: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:0, html.dark .sf-c-txt-cadetblue\:0 { color: hsl(182, 25%, 100%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:10, html.dark .sf-c-txt-cadetblue\:10 { color: hsl(182, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:20, html.dark .sf-c-txt-cadetblue\:20 { color: hsl(182, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:30, html.dark .sf-c-txt-cadetblue\:30 { color: hsl(182, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:40, html.dark .sf-c-txt-cadetblue\:40 { color: hsl(182, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:50, html.dark .sf-c-txt-cadetblue\:50 { color: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:60, html.dark .sf-c-txt-cadetblue\:60 { color: hsl(182, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:70, html.dark .sf-c-txt-cadetblue\:70 { color: hsl(182, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:80, html.dark .sf-c-txt-cadetblue\:80 { color: hsl(182, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:90, html.dark .sf-c-txt-cadetblue\:90 { color: hsl(182, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:100, html.dark .sf-c-txt-cadetblue\:100 { color: hsl(182, 25%, 0%) }

html[data-theme='dark'] .sf-c-txt-cadetblue\:st, html.dark .sf-c-txt-cadetblue\:st { color: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:0\:st, html.dark .sf-c-txt-cadetblue\:0\:st { color: hsl(182, 25%, 0%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:10\:st, html.dark .sf-c-txt-cadetblue\:10\:st { color: hsl(182, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:20\:st, html.dark .sf-c-txt-cadetblue\:20\:st { color: hsl(182, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:30\:st, html.dark .sf-c-txt-cadetblue\:30\:st { color: hsl(182, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:40\:st, html.dark .sf-c-txt-cadetblue\:40\:st { color: hsl(182, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:50\:st, html.dark .sf-c-txt-cadetblue\:50\:st { color: hsl(182, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:60\:st, html.dark .sf-c-txt-cadetblue\:60\:st { color: hsl(182, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:70\:st, html.dark .sf-c-txt-cadetblue\:70\:st { color: hsl(182, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:80\:st, html.dark .sf-c-txt-cadetblue\:80\:st { color: hsl(182, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:90\:st, html.dark .sf-c-txt-cadetblue\:90\:st { color: hsl(182, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-cadetblue\:100\:st, html.dark .sf-c-txt-cadetblue\:100\:st { color: hsl(182, 25%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-cadetblue, html.auto .sf-c-cadetblue { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-cadetblue\:0, html.auto .sf-c-cadetblue\:0 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 100%) }
  html[data-theme='auto'] .sf-c-cadetblue\:10, html.auto .sf-c-cadetblue\:10 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 90%) }
  html[data-theme='auto'] .sf-c-cadetblue\:20, html.auto .sf-c-cadetblue\:20 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 80%) }
  html[data-theme='auto'] .sf-c-cadetblue\:30, html.auto .sf-c-cadetblue\:30 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 70%) }
  html[data-theme='auto'] .sf-c-cadetblue\:40, html.auto .sf-c-cadetblue\:40 { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 60%) }
  html[data-theme='auto'] .sf-c-cadetblue\:50, html.auto .sf-c-cadetblue\:50 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-cadetblue\:60, html.auto .sf-c-cadetblue\:60 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 40%) }
  html[data-theme='auto'] .sf-c-cadetblue\:70, html.auto .sf-c-cadetblue\:70 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 30%) }
  html[data-theme='auto'] .sf-c-cadetblue\:80, html.auto .sf-c-cadetblue\:80 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 20%) }
  html[data-theme='auto'] .sf-c-cadetblue\:90, html.auto .sf-c-cadetblue\:90 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 10%) }
  html[data-theme='auto'] .sf-c-cadetblue\:100, html.auto .sf-c-cadetblue\:100 { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 0%) }

  html[data-theme='auto'] .sf-c-cadetblue\:st, html.auto .sf-c-cadetblue\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-cadetblue\:0\:st, html.auto .sf-c-cadetblue\:0\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 0%) }
  html[data-theme='auto'] .sf-c-cadetblue\:10\:st, html.auto .sf-c-cadetblue\:10\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 10%) }
  html[data-theme='auto'] .sf-c-cadetblue\:20\:st, html.auto .sf-c-cadetblue\:20\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 20%) }
  html[data-theme='auto'] .sf-c-cadetblue\:30\:st, html.auto .sf-c-cadetblue\:30\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 30%) }
  html[data-theme='auto'] .sf-c-cadetblue\:40\:st, html.auto .sf-c-cadetblue\:40\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 40%) }
  html[data-theme='auto'] .sf-c-cadetblue\:50\:st, html.auto .sf-c-cadetblue\:50\:st { color: hsl(182, 25%, 90%); background: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-cadetblue\:60\:st, html.auto .sf-c-cadetblue\:60\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 60%) }
  html[data-theme='auto'] .sf-c-cadetblue\:70\:st, html.auto .sf-c-cadetblue\:70\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 70%) }
  html[data-theme='auto'] .sf-c-cadetblue\:80\:st, html.auto .sf-c-cadetblue\:80\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 80%) }
  html[data-theme='auto'] .sf-c-cadetblue\:90\:st, html.auto .sf-c-cadetblue\:90\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 90%) }
  html[data-theme='auto'] .sf-c-cadetblue\:100\:st, html.auto .sf-c-cadetblue\:100\:st { color: hsl(182, 25%, 10%); background: hsl(182, 25%, 100%) }

  html[data-theme='auto'] .sf-c-txt-cadetblue, html.auto .sf-c-txt-cadetblue { color: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:0, html.auto .sf-c-txt-cadetblue\:0 { color: hsl(182, 25%, 100%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:10, html.auto .sf-c-txt-cadetblue\:10 { color: hsl(182, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:20, html.auto .sf-c-txt-cadetblue\:20 { color: hsl(182, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:30, html.auto .sf-c-txt-cadetblue\:30 { color: hsl(182, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:40, html.auto .sf-c-txt-cadetblue\:40 { color: hsl(182, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:50, html.auto .sf-c-txt-cadetblue\:50 { color: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:60, html.auto .sf-c-txt-cadetblue\:60 { color: hsl(182, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:70, html.auto .sf-c-txt-cadetblue\:70 { color: hsl(182, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:80, html.auto .sf-c-txt-cadetblue\:80 { color: hsl(182, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:90, html.auto .sf-c-txt-cadetblue\:90 { color: hsl(182, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:100, html.auto .sf-c-txt-cadetblue\:100 { color: hsl(182, 25%, 0%) }

  html[data-theme='auto'] .sf-c-txt-cadetblue\:st, html.auto .sf-c-txt-cadetblue\:st { color: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:0\:st, html.auto .sf-c-txt-cadetblue\:0\:st { color: hsl(182, 25%, 0%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:10\:st, html.auto .sf-c-txt-cadetblue\:10\:st { color: hsl(182, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:20\:st, html.auto .sf-c-txt-cadetblue\:20\:st { color: hsl(182, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:30\:st, html.auto .sf-c-txt-cadetblue\:30\:st { color: hsl(182, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:40\:st, html.auto .sf-c-txt-cadetblue\:40\:st { color: hsl(182, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:50\:st, html.auto .sf-c-txt-cadetblue\:50\:st { color: hsl(182, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:60\:st, html.auto .sf-c-txt-cadetblue\:60\:st { color: hsl(182, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:70\:st, html.auto .sf-c-txt-cadetblue\:70\:st { color: hsl(182, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:80\:st, html.auto .sf-c-txt-cadetblue\:80\:st { color: hsl(182, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:90\:st, html.auto .sf-c-txt-cadetblue\:90\:st { color: hsl(182, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cadetblue\:100\:st, html.auto .sf-c-txt-cadetblue\:100\:st { color: hsl(182, 25%, 100%) }
}