.sf-var-chartreuse {
  --sf-c-chartreuse: 90 100% 50%;
  --sf-c-chartreuse-0: 90 100% 0%;
  --sf-c-chartreuse-10: 90 100% 10%;
  --sf-c-chartreuse-20: 90 100% 20%;
  --sf-c-chartreuse-30: 90 100% 30%;
  --sf-c-chartreuse-40: 90 100% 40%;
  --sf-c-chartreuse-50: 90 100% 50%;
  --sf-c-chartreuse-60: 90 100% 60%;
  --sf-c-chartreuse-70: 90 100% 70%;
  --sf-c-chartreuse-80: 90 100% 80%;
  --sf-c-chartreuse-90: 90 100% 90%;
  --sf-c-chartreuse-100: 90 100% 100%;
}

.sf-c-chartreuse, .sf-c-chartreuse\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
.sf-c-chartreuse\:0, .sf-c-chartreuse\:0\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 0%) }
.sf-c-chartreuse\:10, .sf-c-chartreuse\:10\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 10%) }
.sf-c-chartreuse\:20, .sf-c-chartreuse\:20\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 20%) }
.sf-c-chartreuse\:30, .sf-c-chartreuse\:30\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 30%) }
.sf-c-chartreuse\:40, .sf-c-chartreuse\:40\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 40%) }
.sf-c-chartreuse\:50, .sf-c-chartreuse\:50\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
.sf-c-chartreuse\:60, .sf-c-chartreuse\:60\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 60%) }
.sf-c-chartreuse\:70, .sf-c-chartreuse\:70\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 70%) }
.sf-c-chartreuse\:80, .sf-c-chartreuse\:80\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 80%) }
.sf-c-chartreuse\:90, .sf-c-chartreuse\:90\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 90%) }
.sf-c-chartreuse\:100, .sf-c-chartreuse\:100\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 100%) }

.sf-c-txt-chartreuse { color: hsl(90, 100%, 50%) }
.sf-c-txt-chartreuse\:st { color: hsl(90, 100%, 50%) }
.sf-c-txt-chartreuse\:0, .sf-c-txt-chartreuse\:0\:st { color: hsl(90, 100%, 0%) }
.sf-c-txt-chartreuse\:10, .sf-c-txt-chartreuse\:10\:st { color: hsl(90, 100%, 10%) }
.sf-c-txt-chartreuse\:20, .sf-c-txt-chartreuse\:20\:st { color: hsl(90, 100%, 20%) }
.sf-c-txt-chartreuse\:30, .sf-c-txt-chartreuse\:30\:st { color: hsl(90, 100%, 30%) }
.sf-c-txt-chartreuse\:40, .sf-c-txt-chartreuse\:40\:st { color: hsl(90, 100%, 40%) }
.sf-c-txt-chartreuse\:50, .sf-c-txt-chartreuse\:50\:st { color: hsl(90, 100%, 50%) }
.sf-c-txt-chartreuse\:60, .sf-c-txt-chartreuse\:60\:st { color: hsl(90, 100%, 60%) }
.sf-c-txt-chartreuse\:70, .sf-c-txt-chartreuse\:70\:st { color: hsl(90, 100%, 70%) }
.sf-c-txt-chartreuse\:80, .sf-c-txt-chartreuse\:80\:st { color: hsl(90, 100%, 80%) }
.sf-c-txt-chartreuse\:90, .sf-c-txt-chartreuse\:90\:st { color: hsl(90, 100%, 90%) }
.sf-c-txt-chartreuse\:100, .sf-c-txt-chartreuse\:100\:st { color: hsl(90, 100%, 100%) }

html[data-theme='dark'] .sf-c-chartreuse, html.dark .sf-c-chartreuse { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-chartreuse\:0, html.dark .sf-c-chartreuse\:0 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 100%) }
html[data-theme='dark'] .sf-c-chartreuse\:10, html.dark .sf-c-chartreuse\:10 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 90%) }
html[data-theme='dark'] .sf-c-chartreuse\:20, html.dark .sf-c-chartreuse\:20 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 80%) }
html[data-theme='dark'] .sf-c-chartreuse\:30, html.dark .sf-c-chartreuse\:30 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 70%) }
html[data-theme='dark'] .sf-c-chartreuse\:40, html.dark .sf-c-chartreuse\:40 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 60%) }
html[data-theme='dark'] .sf-c-chartreuse\:50, html.dark .sf-c-chartreuse\:50 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-chartreuse\:60, html.dark .sf-c-chartreuse\:60 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 40%) }
html[data-theme='dark'] .sf-c-chartreuse\:70, html.dark .sf-c-chartreuse\:70 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 30%) }
html[data-theme='dark'] .sf-c-chartreuse\:80, html.dark .sf-c-chartreuse\:80 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 20%) }
html[data-theme='dark'] .sf-c-chartreuse\:90, html.dark .sf-c-chartreuse\:90 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 10%) }
html[data-theme='dark'] .sf-c-chartreuse\:100, html.dark .sf-c-chartreuse\:100 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 0%) }

html[data-theme='dark'] .sf-c-chartreuse\:st, html.dark .sf-c-chartreuse\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-chartreuse\:0\:st, html.dark .sf-c-chartreuse\:0\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 0%) }
html[data-theme='dark'] .sf-c-chartreuse\:10\:st, html.dark .sf-c-chartreuse\:10\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 10%) }
html[data-theme='dark'] .sf-c-chartreuse\:20\:st, html.dark .sf-c-chartreuse\:20\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 20%) }
html[data-theme='dark'] .sf-c-chartreuse\:30\:st, html.dark .sf-c-chartreuse\:30\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 30%) }
html[data-theme='dark'] .sf-c-chartreuse\:40\:st, html.dark .sf-c-chartreuse\:40\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 40%) }
html[data-theme='dark'] .sf-c-chartreuse\:50\:st, html.dark .sf-c-chartreuse\:50\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-chartreuse\:60\:st, html.dark .sf-c-chartreuse\:60\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 60%) }
html[data-theme='dark'] .sf-c-chartreuse\:70\:st, html.dark .sf-c-chartreuse\:70\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 70%) }
html[data-theme='dark'] .sf-c-chartreuse\:80\:st, html.dark .sf-c-chartreuse\:80\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 80%) }
html[data-theme='dark'] .sf-c-chartreuse\:90\:st, html.dark .sf-c-chartreuse\:90\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 90%) }
html[data-theme='dark'] .sf-c-chartreuse\:100\:st, html.dark .sf-c-chartreuse\:100\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-chartreuse, html.dark .sf-c-txt-chartreuse { color: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:0, html.dark .sf-c-txt-chartreuse\:0 { color: hsl(90, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:10, html.dark .sf-c-txt-chartreuse\:10 { color: hsl(90, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:20, html.dark .sf-c-txt-chartreuse\:20 { color: hsl(90, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:30, html.dark .sf-c-txt-chartreuse\:30 { color: hsl(90, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:40, html.dark .sf-c-txt-chartreuse\:40 { color: hsl(90, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:50, html.dark .sf-c-txt-chartreuse\:50 { color: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:60, html.dark .sf-c-txt-chartreuse\:60 { color: hsl(90, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:70, html.dark .sf-c-txt-chartreuse\:70 { color: hsl(90, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:80, html.dark .sf-c-txt-chartreuse\:80 { color: hsl(90, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:90, html.dark .sf-c-txt-chartreuse\:90 { color: hsl(90, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:100, html.dark .sf-c-txt-chartreuse\:100 { color: hsl(90, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-chartreuse\:st, html.dark .sf-c-txt-chartreuse\:st { color: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:0\:st, html.dark .sf-c-txt-chartreuse\:0\:st { color: hsl(90, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:10\:st, html.dark .sf-c-txt-chartreuse\:10\:st { color: hsl(90, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:20\:st, html.dark .sf-c-txt-chartreuse\:20\:st { color: hsl(90, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:30\:st, html.dark .sf-c-txt-chartreuse\:30\:st { color: hsl(90, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:40\:st, html.dark .sf-c-txt-chartreuse\:40\:st { color: hsl(90, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:50\:st, html.dark .sf-c-txt-chartreuse\:50\:st { color: hsl(90, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:60\:st, html.dark .sf-c-txt-chartreuse\:60\:st { color: hsl(90, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:70\:st, html.dark .sf-c-txt-chartreuse\:70\:st { color: hsl(90, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:80\:st, html.dark .sf-c-txt-chartreuse\:80\:st { color: hsl(90, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:90\:st, html.dark .sf-c-txt-chartreuse\:90\:st { color: hsl(90, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-chartreuse\:100\:st, html.dark .sf-c-txt-chartreuse\:100\:st { color: hsl(90, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-chartreuse, html.auto .sf-c-chartreuse { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-chartreuse\:0, html.auto .sf-c-chartreuse\:0 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 100%) }
  html[data-theme='auto'] .sf-c-chartreuse\:10, html.auto .sf-c-chartreuse\:10 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 90%) }
  html[data-theme='auto'] .sf-c-chartreuse\:20, html.auto .sf-c-chartreuse\:20 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 80%) }
  html[data-theme='auto'] .sf-c-chartreuse\:30, html.auto .sf-c-chartreuse\:30 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 70%) }
  html[data-theme='auto'] .sf-c-chartreuse\:40, html.auto .sf-c-chartreuse\:40 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 60%) }
  html[data-theme='auto'] .sf-c-chartreuse\:50, html.auto .sf-c-chartreuse\:50 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-chartreuse\:60, html.auto .sf-c-chartreuse\:60 { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 40%) }
  html[data-theme='auto'] .sf-c-chartreuse\:70, html.auto .sf-c-chartreuse\:70 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 30%) }
  html[data-theme='auto'] .sf-c-chartreuse\:80, html.auto .sf-c-chartreuse\:80 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 20%) }
  html[data-theme='auto'] .sf-c-chartreuse\:90, html.auto .sf-c-chartreuse\:90 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 10%) }
  html[data-theme='auto'] .sf-c-chartreuse\:100, html.auto .sf-c-chartreuse\:100 { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 0%) }

  html[data-theme='auto'] .sf-c-chartreuse\:st, html.auto .sf-c-chartreuse\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-chartreuse\:0\:st, html.auto .sf-c-chartreuse\:0\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 0%) }
  html[data-theme='auto'] .sf-c-chartreuse\:10\:st, html.auto .sf-c-chartreuse\:10\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 10%) }
  html[data-theme='auto'] .sf-c-chartreuse\:20\:st, html.auto .sf-c-chartreuse\:20\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 20%) }
  html[data-theme='auto'] .sf-c-chartreuse\:30\:st, html.auto .sf-c-chartreuse\:30\:st { color: hsl(90, 100%, 90%); background: hsl(90, 100%, 30%) }
  html[data-theme='auto'] .sf-c-chartreuse\:40\:st, html.auto .sf-c-chartreuse\:40\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 40%) }
  html[data-theme='auto'] .sf-c-chartreuse\:50\:st, html.auto .sf-c-chartreuse\:50\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-chartreuse\:60\:st, html.auto .sf-c-chartreuse\:60\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 60%) }
  html[data-theme='auto'] .sf-c-chartreuse\:70\:st, html.auto .sf-c-chartreuse\:70\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 70%) }
  html[data-theme='auto'] .sf-c-chartreuse\:80\:st, html.auto .sf-c-chartreuse\:80\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 80%) }
  html[data-theme='auto'] .sf-c-chartreuse\:90\:st, html.auto .sf-c-chartreuse\:90\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 90%) }
  html[data-theme='auto'] .sf-c-chartreuse\:100\:st, html.auto .sf-c-chartreuse\:100\:st { color: hsl(90, 100%, 10%); background: hsl(90, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-chartreuse, html.auto .sf-c-txt-chartreuse { color: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:0, html.auto .sf-c-txt-chartreuse\:0 { color: hsl(90, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:10, html.auto .sf-c-txt-chartreuse\:10 { color: hsl(90, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:20, html.auto .sf-c-txt-chartreuse\:20 { color: hsl(90, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:30, html.auto .sf-c-txt-chartreuse\:30 { color: hsl(90, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:40, html.auto .sf-c-txt-chartreuse\:40 { color: hsl(90, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:50, html.auto .sf-c-txt-chartreuse\:50 { color: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:60, html.auto .sf-c-txt-chartreuse\:60 { color: hsl(90, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:70, html.auto .sf-c-txt-chartreuse\:70 { color: hsl(90, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:80, html.auto .sf-c-txt-chartreuse\:80 { color: hsl(90, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:90, html.auto .sf-c-txt-chartreuse\:90 { color: hsl(90, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:100, html.auto .sf-c-txt-chartreuse\:100 { color: hsl(90, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-chartreuse\:st, html.auto .sf-c-txt-chartreuse\:st { color: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:0\:st, html.auto .sf-c-txt-chartreuse\:0\:st { color: hsl(90, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:10\:st, html.auto .sf-c-txt-chartreuse\:10\:st { color: hsl(90, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:20\:st, html.auto .sf-c-txt-chartreuse\:20\:st { color: hsl(90, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:30\:st, html.auto .sf-c-txt-chartreuse\:30\:st { color: hsl(90, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:40\:st, html.auto .sf-c-txt-chartreuse\:40\:st { color: hsl(90, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:50\:st, html.auto .sf-c-txt-chartreuse\:50\:st { color: hsl(90, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:60\:st, html.auto .sf-c-txt-chartreuse\:60\:st { color: hsl(90, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:70\:st, html.auto .sf-c-txt-chartreuse\:70\:st { color: hsl(90, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:80\:st, html.auto .sf-c-txt-chartreuse\:80\:st { color: hsl(90, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:90\:st, html.auto .sf-c-txt-chartreuse\:90\:st { color: hsl(90, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-chartreuse\:100\:st, html.auto .sf-c-txt-chartreuse\:100\:st { color: hsl(90, 100%, 100%) }
}