.sf-var-coral {
  --sf-c-coral: 16 100% 66%;
  --sf-c-coral-0: 16 100% 0%;
  --sf-c-coral-10: 16 100% 10%;
  --sf-c-coral-20: 16 100% 20%;
  --sf-c-coral-30: 16 100% 30%;
  --sf-c-coral-40: 16 100% 40%;
  --sf-c-coral-50: 16 100% 50%;
  --sf-c-coral-60: 16 100% 60%;
  --sf-c-coral-70: 16 100% 70%;
  --sf-c-coral-80: 16 100% 80%;
  --sf-c-coral-90: 16 100% 90%;
  --sf-c-coral-100: 16 100% 100%;
}

.sf-c-coral, .sf-c-coral\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 66%) }
.sf-c-coral\:0, .sf-c-coral\:0\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }
.sf-c-coral\:10, .sf-c-coral\:10\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
.sf-c-coral\:20, .sf-c-coral\:20\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
.sf-c-coral\:30, .sf-c-coral\:30\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
.sf-c-coral\:40, .sf-c-coral\:40\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
.sf-c-coral\:50, .sf-c-coral\:50\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
.sf-c-coral\:60, .sf-c-coral\:60\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
.sf-c-coral\:70, .sf-c-coral\:70\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
.sf-c-coral\:80, .sf-c-coral\:80\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
.sf-c-coral\:90, .sf-c-coral\:90\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
.sf-c-coral\:100, .sf-c-coral\:100\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }

.sf-c-txt-coral { color: hsl(16, 100%, 10%) }
.sf-c-txt-coral\:st { color: hsl(16, 100%, 66%) }
.sf-c-txt-coral\:0, .sf-c-txt-coral\:0\:st { color: hsl(16, 100%, 0%) }
.sf-c-txt-coral\:10, .sf-c-txt-coral\:10\:st { color: hsl(16, 100%, 10%) }
.sf-c-txt-coral\:20, .sf-c-txt-coral\:20\:st { color: hsl(16, 100%, 20%) }
.sf-c-txt-coral\:30, .sf-c-txt-coral\:30\:st { color: hsl(16, 100%, 30%) }
.sf-c-txt-coral\:40, .sf-c-txt-coral\:40\:st { color: hsl(16, 100%, 40%) }
.sf-c-txt-coral\:50, .sf-c-txt-coral\:50\:st { color: hsl(16, 100%, 50%) }
.sf-c-txt-coral\:60, .sf-c-txt-coral\:60\:st { color: hsl(16, 100%, 60%) }
.sf-c-txt-coral\:70, .sf-c-txt-coral\:70\:st { color: hsl(16, 100%, 70%) }
.sf-c-txt-coral\:80, .sf-c-txt-coral\:80\:st { color: hsl(16, 100%, 80%) }
.sf-c-txt-coral\:90, .sf-c-txt-coral\:90\:st { color: hsl(16, 100%, 90%) }
.sf-c-txt-coral\:100, .sf-c-txt-coral\:100\:st { color: hsl(16, 100%, 100%) }

html[data-theme='dark'] .sf-c-coral, html.dark .sf-c-coral { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 34%) }
html[data-theme='dark'] .sf-c-coral\:0, html.dark .sf-c-coral\:0 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }
html[data-theme='dark'] .sf-c-coral\:10, html.dark .sf-c-coral\:10 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
html[data-theme='dark'] .sf-c-coral\:20, html.dark .sf-c-coral\:20 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
html[data-theme='dark'] .sf-c-coral\:30, html.dark .sf-c-coral\:30 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
html[data-theme='dark'] .sf-c-coral\:40, html.dark .sf-c-coral\:40 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
html[data-theme='dark'] .sf-c-coral\:50, html.dark .sf-c-coral\:50 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html[data-theme='dark'] .sf-c-coral\:60, html.dark .sf-c-coral\:60 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
html[data-theme='dark'] .sf-c-coral\:70, html.dark .sf-c-coral\:70 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
html[data-theme='dark'] .sf-c-coral\:80, html.dark .sf-c-coral\:80 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
html[data-theme='dark'] .sf-c-coral\:90, html.dark .sf-c-coral\:90 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
html[data-theme='dark'] .sf-c-coral\:100, html.dark .sf-c-coral\:100 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }

html[data-theme='dark'] .sf-c-coral\:st, html.dark .sf-c-coral\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 66%) }
html[data-theme='dark'] .sf-c-coral\:0\:st, html.dark .sf-c-coral\:0\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }
html[data-theme='dark'] .sf-c-coral\:10\:st, html.dark .sf-c-coral\:10\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
html[data-theme='dark'] .sf-c-coral\:20\:st, html.dark .sf-c-coral\:20\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
html[data-theme='dark'] .sf-c-coral\:30\:st, html.dark .sf-c-coral\:30\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
html[data-theme='dark'] .sf-c-coral\:40\:st, html.dark .sf-c-coral\:40\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
html[data-theme='dark'] .sf-c-coral\:50\:st, html.dark .sf-c-coral\:50\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
html[data-theme='dark'] .sf-c-coral\:60\:st, html.dark .sf-c-coral\:60\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
html[data-theme='dark'] .sf-c-coral\:70\:st, html.dark .sf-c-coral\:70\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
html[data-theme='dark'] .sf-c-coral\:80\:st, html.dark .sf-c-coral\:80\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
html[data-theme='dark'] .sf-c-coral\:90\:st, html.dark .sf-c-coral\:90\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
html[data-theme='dark'] .sf-c-coral\:100\:st, html.dark .sf-c-coral\:100\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-coral, html.dark .sf-c-txt-coral { color: hsl(16, 100%, 66%) }
html[data-theme='dark'] .sf-c-txt-coral\:0, html.dark .sf-c-txt-coral\:0 { color: hsl(16, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-coral\:10, html.dark .sf-c-txt-coral\:10 { color: hsl(16, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-coral\:20, html.dark .sf-c-txt-coral\:20 { color: hsl(16, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-coral\:30, html.dark .sf-c-txt-coral\:30 { color: hsl(16, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-coral\:40, html.dark .sf-c-txt-coral\:40 { color: hsl(16, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-coral\:50, html.dark .sf-c-txt-coral\:50 { color: hsl(16, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-coral\:60, html.dark .sf-c-txt-coral\:60 { color: hsl(16, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-coral\:70, html.dark .sf-c-txt-coral\:70 { color: hsl(16, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-coral\:80, html.dark .sf-c-txt-coral\:80 { color: hsl(16, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-coral\:90, html.dark .sf-c-txt-coral\:90 { color: hsl(16, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-coral\:100, html.dark .sf-c-txt-coral\:100 { color: hsl(16, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-coral\:st, html.dark .sf-c-txt-coral\:st { color: hsl(16, 100%, 66%) }
html[data-theme='dark'] .sf-c-txt-coral\:0\:st, html.dark .sf-c-txt-coral\:0\:st { color: hsl(16, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-coral\:10\:st, html.dark .sf-c-txt-coral\:10\:st { color: hsl(16, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-coral\:20\:st, html.dark .sf-c-txt-coral\:20\:st { color: hsl(16, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-coral\:30\:st, html.dark .sf-c-txt-coral\:30\:st { color: hsl(16, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-coral\:40\:st, html.dark .sf-c-txt-coral\:40\:st { color: hsl(16, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-coral\:50\:st, html.dark .sf-c-txt-coral\:50\:st { color: hsl(16, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-coral\:60\:st, html.dark .sf-c-txt-coral\:60\:st { color: hsl(16, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-coral\:70\:st, html.dark .sf-c-txt-coral\:70\:st { color: hsl(16, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-coral\:80\:st, html.dark .sf-c-txt-coral\:80\:st { color: hsl(16, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-coral\:90\:st, html.dark .sf-c-txt-coral\:90\:st { color: hsl(16, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-coral\:100\:st, html.dark .sf-c-txt-coral\:100\:st { color: hsl(16, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-coral, html.auto .sf-c-coral { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 34%) }
  html[data-theme='auto'] .sf-c-coral\:0, html.auto .sf-c-coral\:0 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }
  html[data-theme='auto'] .sf-c-coral\:10, html.auto .sf-c-coral\:10 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
  html[data-theme='auto'] .sf-c-coral\:20, html.auto .sf-c-coral\:20 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
  html[data-theme='auto'] .sf-c-coral\:30, html.auto .sf-c-coral\:30 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
  html[data-theme='auto'] .sf-c-coral\:40, html.auto .sf-c-coral\:40 { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
  html[data-theme='auto'] .sf-c-coral\:50, html.auto .sf-c-coral\:50 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
  html[data-theme='auto'] .sf-c-coral\:60, html.auto .sf-c-coral\:60 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
  html[data-theme='auto'] .sf-c-coral\:70, html.auto .sf-c-coral\:70 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
  html[data-theme='auto'] .sf-c-coral\:80, html.auto .sf-c-coral\:80 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
  html[data-theme='auto'] .sf-c-coral\:90, html.auto .sf-c-coral\:90 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
  html[data-theme='auto'] .sf-c-coral\:100, html.auto .sf-c-coral\:100 { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }

  html[data-theme='auto'] .sf-c-coral\:st, html.auto .sf-c-coral\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 66%) }
  html[data-theme='auto'] .sf-c-coral\:0\:st, html.auto .sf-c-coral\:0\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 0%) }
  html[data-theme='auto'] .sf-c-coral\:10\:st, html.auto .sf-c-coral\:10\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 10%) }
  html[data-theme='auto'] .sf-c-coral\:20\:st, html.auto .sf-c-coral\:20\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 20%) }
  html[data-theme='auto'] .sf-c-coral\:30\:st, html.auto .sf-c-coral\:30\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 30%) }
  html[data-theme='auto'] .sf-c-coral\:40\:st, html.auto .sf-c-coral\:40\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 40%) }
  html[data-theme='auto'] .sf-c-coral\:50\:st, html.auto .sf-c-coral\:50\:st { color: hsl(16, 100%, 90%); background: hsl(16, 100%, 50%) }
  html[data-theme='auto'] .sf-c-coral\:60\:st, html.auto .sf-c-coral\:60\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 60%) }
  html[data-theme='auto'] .sf-c-coral\:70\:st, html.auto .sf-c-coral\:70\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 70%) }
  html[data-theme='auto'] .sf-c-coral\:80\:st, html.auto .sf-c-coral\:80\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 80%) }
  html[data-theme='auto'] .sf-c-coral\:90\:st, html.auto .sf-c-coral\:90\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 90%) }
  html[data-theme='auto'] .sf-c-coral\:100\:st, html.auto .sf-c-coral\:100\:st { color: hsl(16, 100%, 10%); background: hsl(16, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-coral, html.auto .sf-c-txt-coral { color: hsl(16, 100%, 66%) }
  html[data-theme='auto'] .sf-c-txt-coral\:0, html.auto .sf-c-txt-coral\:0 { color: hsl(16, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-coral\:10, html.auto .sf-c-txt-coral\:10 { color: hsl(16, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-coral\:20, html.auto .sf-c-txt-coral\:20 { color: hsl(16, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-coral\:30, html.auto .sf-c-txt-coral\:30 { color: hsl(16, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-coral\:40, html.auto .sf-c-txt-coral\:40 { color: hsl(16, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-coral\:50, html.auto .sf-c-txt-coral\:50 { color: hsl(16, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-coral\:60, html.auto .sf-c-txt-coral\:60 { color: hsl(16, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-coral\:70, html.auto .sf-c-txt-coral\:70 { color: hsl(16, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-coral\:80, html.auto .sf-c-txt-coral\:80 { color: hsl(16, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-coral\:90, html.auto .sf-c-txt-coral\:90 { color: hsl(16, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-coral\:100, html.auto .sf-c-txt-coral\:100 { color: hsl(16, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-coral\:st, html.auto .sf-c-txt-coral\:st { color: hsl(16, 100%, 66%) }
  html[data-theme='auto'] .sf-c-txt-coral\:0\:st, html.auto .sf-c-txt-coral\:0\:st { color: hsl(16, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-coral\:10\:st, html.auto .sf-c-txt-coral\:10\:st { color: hsl(16, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-coral\:20\:st, html.auto .sf-c-txt-coral\:20\:st { color: hsl(16, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-coral\:30\:st, html.auto .sf-c-txt-coral\:30\:st { color: hsl(16, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-coral\:40\:st, html.auto .sf-c-txt-coral\:40\:st { color: hsl(16, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-coral\:50\:st, html.auto .sf-c-txt-coral\:50\:st { color: hsl(16, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-coral\:60\:st, html.auto .sf-c-txt-coral\:60\:st { color: hsl(16, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-coral\:70\:st, html.auto .sf-c-txt-coral\:70\:st { color: hsl(16, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-coral\:80\:st, html.auto .sf-c-txt-coral\:80\:st { color: hsl(16, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-coral\:90\:st, html.auto .sf-c-txt-coral\:90\:st { color: hsl(16, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-coral\:100\:st, html.auto .sf-c-txt-coral\:100\:st { color: hsl(16, 100%, 100%) }
}