.sf-var-cornsilk {
  --sf-c-cornsilk: 48 100% 93%;
  --sf-c-cornsilk-0: 48 100% 0%;
  --sf-c-cornsilk-10: 48 100% 10%;
  --sf-c-cornsilk-20: 48 100% 20%;
  --sf-c-cornsilk-30: 48 100% 30%;
  --sf-c-cornsilk-40: 48 100% 40%;
  --sf-c-cornsilk-50: 48 100% 50%;
  --sf-c-cornsilk-60: 48 100% 60%;
  --sf-c-cornsilk-70: 48 100% 70%;
  --sf-c-cornsilk-80: 48 100% 80%;
  --sf-c-cornsilk-90: 48 100% 90%;
  --sf-c-cornsilk-100: 48 100% 100%;
}

.sf-c-cornsilk, .sf-c-cornsilk\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 93%) }
.sf-c-cornsilk\:0, .sf-c-cornsilk\:0\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }
.sf-c-cornsilk\:10, .sf-c-cornsilk\:10\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
.sf-c-cornsilk\:20, .sf-c-cornsilk\:20\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
.sf-c-cornsilk\:30, .sf-c-cornsilk\:30\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
.sf-c-cornsilk\:40, .sf-c-cornsilk\:40\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
.sf-c-cornsilk\:50, .sf-c-cornsilk\:50\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
.sf-c-cornsilk\:60, .sf-c-cornsilk\:60\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
.sf-c-cornsilk\:70, .sf-c-cornsilk\:70\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
.sf-c-cornsilk\:80, .sf-c-cornsilk\:80\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
.sf-c-cornsilk\:90, .sf-c-cornsilk\:90\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
.sf-c-cornsilk\:100, .sf-c-cornsilk\:100\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }

.sf-c-txt-cornsilk { color: hsl(48, 100%, 10%) }
.sf-c-txt-cornsilk\:st { color: hsl(48, 100%, 93%) }
.sf-c-txt-cornsilk\:0, .sf-c-txt-cornsilk\:0\:st { color: hsl(48, 100%, 0%) }
.sf-c-txt-cornsilk\:10, .sf-c-txt-cornsilk\:10\:st { color: hsl(48, 100%, 10%) }
.sf-c-txt-cornsilk\:20, .sf-c-txt-cornsilk\:20\:st { color: hsl(48, 100%, 20%) }
.sf-c-txt-cornsilk\:30, .sf-c-txt-cornsilk\:30\:st { color: hsl(48, 100%, 30%) }
.sf-c-txt-cornsilk\:40, .sf-c-txt-cornsilk\:40\:st { color: hsl(48, 100%, 40%) }
.sf-c-txt-cornsilk\:50, .sf-c-txt-cornsilk\:50\:st { color: hsl(48, 100%, 50%) }
.sf-c-txt-cornsilk\:60, .sf-c-txt-cornsilk\:60\:st { color: hsl(48, 100%, 60%) }
.sf-c-txt-cornsilk\:70, .sf-c-txt-cornsilk\:70\:st { color: hsl(48, 100%, 70%) }
.sf-c-txt-cornsilk\:80, .sf-c-txt-cornsilk\:80\:st { color: hsl(48, 100%, 80%) }
.sf-c-txt-cornsilk\:90, .sf-c-txt-cornsilk\:90\:st { color: hsl(48, 100%, 90%) }
.sf-c-txt-cornsilk\:100, .sf-c-txt-cornsilk\:100\:st { color: hsl(48, 100%, 100%) }

html[data-theme='dark'] .sf-c-cornsilk, html.dark .sf-c-cornsilk { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
html[data-theme='dark'] .sf-c-cornsilk\:0, html.dark .sf-c-cornsilk\:0 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }
html[data-theme='dark'] .sf-c-cornsilk\:10, html.dark .sf-c-cornsilk\:10 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
html[data-theme='dark'] .sf-c-cornsilk\:20, html.dark .sf-c-cornsilk\:20 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
html[data-theme='dark'] .sf-c-cornsilk\:30, html.dark .sf-c-cornsilk\:30 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
html[data-theme='dark'] .sf-c-cornsilk\:40, html.dark .sf-c-cornsilk\:40 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
html[data-theme='dark'] .sf-c-cornsilk\:50, html.dark .sf-c-cornsilk\:50 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
html[data-theme='dark'] .sf-c-cornsilk\:60, html.dark .sf-c-cornsilk\:60 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
html[data-theme='dark'] .sf-c-cornsilk\:70, html.dark .sf-c-cornsilk\:70 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
html[data-theme='dark'] .sf-c-cornsilk\:80, html.dark .sf-c-cornsilk\:80 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
html[data-theme='dark'] .sf-c-cornsilk\:90, html.dark .sf-c-cornsilk\:90 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
html[data-theme='dark'] .sf-c-cornsilk\:100, html.dark .sf-c-cornsilk\:100 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }

html[data-theme='dark'] .sf-c-cornsilk\:st, html.dark .sf-c-cornsilk\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 93%) }
html[data-theme='dark'] .sf-c-cornsilk\:0\:st, html.dark .sf-c-cornsilk\:0\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }
html[data-theme='dark'] .sf-c-cornsilk\:10\:st, html.dark .sf-c-cornsilk\:10\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
html[data-theme='dark'] .sf-c-cornsilk\:20\:st, html.dark .sf-c-cornsilk\:20\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
html[data-theme='dark'] .sf-c-cornsilk\:30\:st, html.dark .sf-c-cornsilk\:30\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
html[data-theme='dark'] .sf-c-cornsilk\:40\:st, html.dark .sf-c-cornsilk\:40\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
html[data-theme='dark'] .sf-c-cornsilk\:50\:st, html.dark .sf-c-cornsilk\:50\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
html[data-theme='dark'] .sf-c-cornsilk\:60\:st, html.dark .sf-c-cornsilk\:60\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
html[data-theme='dark'] .sf-c-cornsilk\:70\:st, html.dark .sf-c-cornsilk\:70\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
html[data-theme='dark'] .sf-c-cornsilk\:80\:st, html.dark .sf-c-cornsilk\:80\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
html[data-theme='dark'] .sf-c-cornsilk\:90\:st, html.dark .sf-c-cornsilk\:90\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
html[data-theme='dark'] .sf-c-cornsilk\:100\:st, html.dark .sf-c-cornsilk\:100\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-cornsilk, html.dark .sf-c-txt-cornsilk { color: hsl(48, 100%, 93%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:0, html.dark .sf-c-txt-cornsilk\:0 { color: hsl(48, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:10, html.dark .sf-c-txt-cornsilk\:10 { color: hsl(48, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:20, html.dark .sf-c-txt-cornsilk\:20 { color: hsl(48, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:30, html.dark .sf-c-txt-cornsilk\:30 { color: hsl(48, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:40, html.dark .sf-c-txt-cornsilk\:40 { color: hsl(48, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:50, html.dark .sf-c-txt-cornsilk\:50 { color: hsl(48, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:60, html.dark .sf-c-txt-cornsilk\:60 { color: hsl(48, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:70, html.dark .sf-c-txt-cornsilk\:70 { color: hsl(48, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:80, html.dark .sf-c-txt-cornsilk\:80 { color: hsl(48, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:90, html.dark .sf-c-txt-cornsilk\:90 { color: hsl(48, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:100, html.dark .sf-c-txt-cornsilk\:100 { color: hsl(48, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-cornsilk\:st, html.dark .sf-c-txt-cornsilk\:st { color: hsl(48, 100%, 93%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:0\:st, html.dark .sf-c-txt-cornsilk\:0\:st { color: hsl(48, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:10\:st, html.dark .sf-c-txt-cornsilk\:10\:st { color: hsl(48, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:20\:st, html.dark .sf-c-txt-cornsilk\:20\:st { color: hsl(48, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:30\:st, html.dark .sf-c-txt-cornsilk\:30\:st { color: hsl(48, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:40\:st, html.dark .sf-c-txt-cornsilk\:40\:st { color: hsl(48, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:50\:st, html.dark .sf-c-txt-cornsilk\:50\:st { color: hsl(48, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:60\:st, html.dark .sf-c-txt-cornsilk\:60\:st { color: hsl(48, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:70\:st, html.dark .sf-c-txt-cornsilk\:70\:st { color: hsl(48, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:80\:st, html.dark .sf-c-txt-cornsilk\:80\:st { color: hsl(48, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:90\:st, html.dark .sf-c-txt-cornsilk\:90\:st { color: hsl(48, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-cornsilk\:100\:st, html.dark .sf-c-txt-cornsilk\:100\:st { color: hsl(48, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-cornsilk, html.auto .sf-c-cornsilk { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 7%) }
  html[data-theme='auto'] .sf-c-cornsilk\:0, html.auto .sf-c-cornsilk\:0 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }
  html[data-theme='auto'] .sf-c-cornsilk\:10, html.auto .sf-c-cornsilk\:10 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
  html[data-theme='auto'] .sf-c-cornsilk\:20, html.auto .sf-c-cornsilk\:20 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
  html[data-theme='auto'] .sf-c-cornsilk\:30, html.auto .sf-c-cornsilk\:30 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
  html[data-theme='auto'] .sf-c-cornsilk\:40, html.auto .sf-c-cornsilk\:40 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
  html[data-theme='auto'] .sf-c-cornsilk\:50, html.auto .sf-c-cornsilk\:50 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
  html[data-theme='auto'] .sf-c-cornsilk\:60, html.auto .sf-c-cornsilk\:60 { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
  html[data-theme='auto'] .sf-c-cornsilk\:70, html.auto .sf-c-cornsilk\:70 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
  html[data-theme='auto'] .sf-c-cornsilk\:80, html.auto .sf-c-cornsilk\:80 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
  html[data-theme='auto'] .sf-c-cornsilk\:90, html.auto .sf-c-cornsilk\:90 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
  html[data-theme='auto'] .sf-c-cornsilk\:100, html.auto .sf-c-cornsilk\:100 { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }

  html[data-theme='auto'] .sf-c-cornsilk\:st, html.auto .sf-c-cornsilk\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 93%) }
  html[data-theme='auto'] .sf-c-cornsilk\:0\:st, html.auto .sf-c-cornsilk\:0\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 0%) }
  html[data-theme='auto'] .sf-c-cornsilk\:10\:st, html.auto .sf-c-cornsilk\:10\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 10%) }
  html[data-theme='auto'] .sf-c-cornsilk\:20\:st, html.auto .sf-c-cornsilk\:20\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 20%) }
  html[data-theme='auto'] .sf-c-cornsilk\:30\:st, html.auto .sf-c-cornsilk\:30\:st { color: hsl(48, 100%, 90%); background: hsl(48, 100%, 30%) }
  html[data-theme='auto'] .sf-c-cornsilk\:40\:st, html.auto .sf-c-cornsilk\:40\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 40%) }
  html[data-theme='auto'] .sf-c-cornsilk\:50\:st, html.auto .sf-c-cornsilk\:50\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 50%) }
  html[data-theme='auto'] .sf-c-cornsilk\:60\:st, html.auto .sf-c-cornsilk\:60\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 60%) }
  html[data-theme='auto'] .sf-c-cornsilk\:70\:st, html.auto .sf-c-cornsilk\:70\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 70%) }
  html[data-theme='auto'] .sf-c-cornsilk\:80\:st, html.auto .sf-c-cornsilk\:80\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 80%) }
  html[data-theme='auto'] .sf-c-cornsilk\:90\:st, html.auto .sf-c-cornsilk\:90\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 90%) }
  html[data-theme='auto'] .sf-c-cornsilk\:100\:st, html.auto .sf-c-cornsilk\:100\:st { color: hsl(48, 100%, 10%); background: hsl(48, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-cornsilk, html.auto .sf-c-txt-cornsilk { color: hsl(48, 100%, 93%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:0, html.auto .sf-c-txt-cornsilk\:0 { color: hsl(48, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:10, html.auto .sf-c-txt-cornsilk\:10 { color: hsl(48, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:20, html.auto .sf-c-txt-cornsilk\:20 { color: hsl(48, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:30, html.auto .sf-c-txt-cornsilk\:30 { color: hsl(48, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:40, html.auto .sf-c-txt-cornsilk\:40 { color: hsl(48, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:50, html.auto .sf-c-txt-cornsilk\:50 { color: hsl(48, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:60, html.auto .sf-c-txt-cornsilk\:60 { color: hsl(48, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:70, html.auto .sf-c-txt-cornsilk\:70 { color: hsl(48, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:80, html.auto .sf-c-txt-cornsilk\:80 { color: hsl(48, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:90, html.auto .sf-c-txt-cornsilk\:90 { color: hsl(48, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:100, html.auto .sf-c-txt-cornsilk\:100 { color: hsl(48, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-cornsilk\:st, html.auto .sf-c-txt-cornsilk\:st { color: hsl(48, 100%, 93%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:0\:st, html.auto .sf-c-txt-cornsilk\:0\:st { color: hsl(48, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:10\:st, html.auto .sf-c-txt-cornsilk\:10\:st { color: hsl(48, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:20\:st, html.auto .sf-c-txt-cornsilk\:20\:st { color: hsl(48, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:30\:st, html.auto .sf-c-txt-cornsilk\:30\:st { color: hsl(48, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:40\:st, html.auto .sf-c-txt-cornsilk\:40\:st { color: hsl(48, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:50\:st, html.auto .sf-c-txt-cornsilk\:50\:st { color: hsl(48, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:60\:st, html.auto .sf-c-txt-cornsilk\:60\:st { color: hsl(48, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:70\:st, html.auto .sf-c-txt-cornsilk\:70\:st { color: hsl(48, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:80\:st, html.auto .sf-c-txt-cornsilk\:80\:st { color: hsl(48, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:90\:st, html.auto .sf-c-txt-cornsilk\:90\:st { color: hsl(48, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cornsilk\:100\:st, html.auto .sf-c-txt-cornsilk\:100\:st { color: hsl(48, 100%, 100%) }
}