.sf-var-cornflowerblue {
  --sf-c-cornflowerblue: 219 79% 66%;
  --sf-c-cornflowerblue-0: 219 79% 0%;
  --sf-c-cornflowerblue-10: 219 79% 10%;
  --sf-c-cornflowerblue-20: 219 79% 20%;
  --sf-c-cornflowerblue-30: 219 79% 30%;
  --sf-c-cornflowerblue-40: 219 79% 40%;
  --sf-c-cornflowerblue-50: 219 79% 50%;
  --sf-c-cornflowerblue-60: 219 79% 60%;
  --sf-c-cornflowerblue-70: 219 79% 70%;
  --sf-c-cornflowerblue-80: 219 79% 80%;
  --sf-c-cornflowerblue-90: 219 79% 90%;
  --sf-c-cornflowerblue-100: 219 79% 100%;
}

.sf-c-cornflowerblue, .sf-c-cornflowerblue\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 66%) }
.sf-c-cornflowerblue\:0, .sf-c-cornflowerblue\:0\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 0%) }
.sf-c-cornflowerblue\:10, .sf-c-cornflowerblue\:10\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 10%) }
.sf-c-cornflowerblue\:20, .sf-c-cornflowerblue\:20\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 20%) }
.sf-c-cornflowerblue\:30, .sf-c-cornflowerblue\:30\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 30%) }
.sf-c-cornflowerblue\:40, .sf-c-cornflowerblue\:40\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 40%) }
.sf-c-cornflowerblue\:50, .sf-c-cornflowerblue\:50\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 50%) }
.sf-c-cornflowerblue\:60, .sf-c-cornflowerblue\:60\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 60%) }
.sf-c-cornflowerblue\:70, .sf-c-cornflowerblue\:70\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 70%) }
.sf-c-cornflowerblue\:80, .sf-c-cornflowerblue\:80\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 80%) }
.sf-c-cornflowerblue\:90, .sf-c-cornflowerblue\:90\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 90%) }
.sf-c-cornflowerblue\:100, .sf-c-cornflowerblue\:100\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 100%) }

.sf-c-txt-cornflowerblue { color: hsl(219, 79%, 10%) }
.sf-c-txt-cornflowerblue\:st { color: hsl(219, 79%, 66%) }
.sf-c-txt-cornflowerblue\:0, .sf-c-txt-cornflowerblue\:0\:st { color: hsl(219, 79%, 0%) }
.sf-c-txt-cornflowerblue\:10, .sf-c-txt-cornflowerblue\:10\:st { color: hsl(219, 79%, 10%) }
.sf-c-txt-cornflowerblue\:20, .sf-c-txt-cornflowerblue\:20\:st { color: hsl(219, 79%, 20%) }
.sf-c-txt-cornflowerblue\:30, .sf-c-txt-cornflowerblue\:30\:st { color: hsl(219, 79%, 30%) }
.sf-c-txt-cornflowerblue\:40, .sf-c-txt-cornflowerblue\:40\:st { color: hsl(219, 79%, 40%) }
.sf-c-txt-cornflowerblue\:50, .sf-c-txt-cornflowerblue\:50\:st { color: hsl(219, 79%, 50%) }
.sf-c-txt-cornflowerblue\:60, .sf-c-txt-cornflowerblue\:60\:st { color: hsl(219, 79%, 60%) }
.sf-c-txt-cornflowerblue\:70, .sf-c-txt-cornflowerblue\:70\:st { color: hsl(219, 79%, 70%) }
.sf-c-txt-cornflowerblue\:80, .sf-c-txt-cornflowerblue\:80\:st { color: hsl(219, 79%, 80%) }
.sf-c-txt-cornflowerblue\:90, .sf-c-txt-cornflowerblue\:90\:st { color: hsl(219, 79%, 90%) }
.sf-c-txt-cornflowerblue\:100, .sf-c-txt-cornflowerblue\:100\:st { color: hsl(219, 79%, 100%) }

html[data-theme='dark'] .sf-c-cornflowerblue, html.dark .sf-c-cornflowerblue { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 34%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:0, html.dark .sf-c-cornflowerblue\:0 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 100%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:10, html.dark .sf-c-cornflowerblue\:10 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 90%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:20, html.dark .sf-c-cornflowerblue\:20 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 80%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:30, html.dark .sf-c-cornflowerblue\:30 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 70%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:40, html.dark .sf-c-cornflowerblue\:40 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 60%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:50, html.dark .sf-c-cornflowerblue\:50 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 50%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:60, html.dark .sf-c-cornflowerblue\:60 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 40%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:70, html.dark .sf-c-cornflowerblue\:70 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 30%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:80, html.dark .sf-c-cornflowerblue\:80 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 20%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:90, html.dark .sf-c-cornflowerblue\:90 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 10%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:100, html.dark .sf-c-cornflowerblue\:100 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 0%) }

html[data-theme='dark'] .sf-c-cornflowerblue\:st, html.dark .sf-c-cornflowerblue\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 66%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:0\:st, html.dark .sf-c-cornflowerblue\:0\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 0%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:10\:st, html.dark .sf-c-cornflowerblue\:10\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 10%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:20\:st, html.dark .sf-c-cornflowerblue\:20\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 20%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:30\:st, html.dark .sf-c-cornflowerblue\:30\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 30%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:40\:st, html.dark .sf-c-cornflowerblue\:40\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 40%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:50\:st, html.dark .sf-c-cornflowerblue\:50\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 50%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:60\:st, html.dark .sf-c-cornflowerblue\:60\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 60%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:70\:st, html.dark .sf-c-cornflowerblue\:70\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 70%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:80\:st, html.dark .sf-c-cornflowerblue\:80\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 80%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:90\:st, html.dark .sf-c-cornflowerblue\:90\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 90%) }
html[data-theme='dark'] .sf-c-cornflowerblue\:100\:st, html.dark .sf-c-cornflowerblue\:100\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 100%) }

html[data-theme='dark'] .sf-c-txt-cornflowerblue, html.dark .sf-c-txt-cornflowerblue { color: hsl(219, 79%, 66%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:0, html.dark .sf-c-txt-cornflowerblue\:0 { color: hsl(219, 79%, 100%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:10, html.dark .sf-c-txt-cornflowerblue\:10 { color: hsl(219, 79%, 90%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:20, html.dark .sf-c-txt-cornflowerblue\:20 { color: hsl(219, 79%, 80%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:30, html.dark .sf-c-txt-cornflowerblue\:30 { color: hsl(219, 79%, 70%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:40, html.dark .sf-c-txt-cornflowerblue\:40 { color: hsl(219, 79%, 60%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:50, html.dark .sf-c-txt-cornflowerblue\:50 { color: hsl(219, 79%, 50%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:60, html.dark .sf-c-txt-cornflowerblue\:60 { color: hsl(219, 79%, 40%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:70, html.dark .sf-c-txt-cornflowerblue\:70 { color: hsl(219, 79%, 30%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:80, html.dark .sf-c-txt-cornflowerblue\:80 { color: hsl(219, 79%, 20%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:90, html.dark .sf-c-txt-cornflowerblue\:90 { color: hsl(219, 79%, 10%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:100, html.dark .sf-c-txt-cornflowerblue\:100 { color: hsl(219, 79%, 0%) }

html[data-theme='dark'] .sf-c-txt-cornflowerblue\:st, html.dark .sf-c-txt-cornflowerblue\:st { color: hsl(219, 79%, 66%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:0\:st, html.dark .sf-c-txt-cornflowerblue\:0\:st { color: hsl(219, 79%, 0%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:10\:st, html.dark .sf-c-txt-cornflowerblue\:10\:st { color: hsl(219, 79%, 10%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:20\:st, html.dark .sf-c-txt-cornflowerblue\:20\:st { color: hsl(219, 79%, 20%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:30\:st, html.dark .sf-c-txt-cornflowerblue\:30\:st { color: hsl(219, 79%, 30%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:40\:st, html.dark .sf-c-txt-cornflowerblue\:40\:st { color: hsl(219, 79%, 40%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:50\:st, html.dark .sf-c-txt-cornflowerblue\:50\:st { color: hsl(219, 79%, 50%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:60\:st, html.dark .sf-c-txt-cornflowerblue\:60\:st { color: hsl(219, 79%, 60%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:70\:st, html.dark .sf-c-txt-cornflowerblue\:70\:st { color: hsl(219, 79%, 70%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:80\:st, html.dark .sf-c-txt-cornflowerblue\:80\:st { color: hsl(219, 79%, 80%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:90\:st, html.dark .sf-c-txt-cornflowerblue\:90\:st { color: hsl(219, 79%, 90%) }
html[data-theme='dark'] .sf-c-txt-cornflowerblue\:100\:st, html.dark .sf-c-txt-cornflowerblue\:100\:st { color: hsl(219, 79%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-cornflowerblue, html.auto .sf-c-cornflowerblue { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 34%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:0, html.auto .sf-c-cornflowerblue\:0 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 100%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:10, html.auto .sf-c-cornflowerblue\:10 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 90%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:20, html.auto .sf-c-cornflowerblue\:20 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 80%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:30, html.auto .sf-c-cornflowerblue\:30 { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 70%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:40, html.auto .sf-c-cornflowerblue\:40 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 60%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:50, html.auto .sf-c-cornflowerblue\:50 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 50%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:60, html.auto .sf-c-cornflowerblue\:60 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 40%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:70, html.auto .sf-c-cornflowerblue\:70 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 30%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:80, html.auto .sf-c-cornflowerblue\:80 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 20%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:90, html.auto .sf-c-cornflowerblue\:90 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 10%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:100, html.auto .sf-c-cornflowerblue\:100 { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 0%) }

  html[data-theme='auto'] .sf-c-cornflowerblue\:st, html.auto .sf-c-cornflowerblue\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 66%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:0\:st, html.auto .sf-c-cornflowerblue\:0\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 0%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:10\:st, html.auto .sf-c-cornflowerblue\:10\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 10%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:20\:st, html.auto .sf-c-cornflowerblue\:20\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 20%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:30\:st, html.auto .sf-c-cornflowerblue\:30\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 30%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:40\:st, html.auto .sf-c-cornflowerblue\:40\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 40%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:50\:st, html.auto .sf-c-cornflowerblue\:50\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 50%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:60\:st, html.auto .sf-c-cornflowerblue\:60\:st { color: hsl(219, 79%, 90%); background: hsl(219, 79%, 60%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:70\:st, html.auto .sf-c-cornflowerblue\:70\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 70%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:80\:st, html.auto .sf-c-cornflowerblue\:80\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 80%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:90\:st, html.auto .sf-c-cornflowerblue\:90\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 90%) }
  html[data-theme='auto'] .sf-c-cornflowerblue\:100\:st, html.auto .sf-c-cornflowerblue\:100\:st { color: hsl(219, 79%, 10%); background: hsl(219, 79%, 100%) }

  html[data-theme='auto'] .sf-c-txt-cornflowerblue, html.auto .sf-c-txt-cornflowerblue { color: hsl(219, 79%, 66%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:0, html.auto .sf-c-txt-cornflowerblue\:0 { color: hsl(219, 79%, 100%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:10, html.auto .sf-c-txt-cornflowerblue\:10 { color: hsl(219, 79%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:20, html.auto .sf-c-txt-cornflowerblue\:20 { color: hsl(219, 79%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:30, html.auto .sf-c-txt-cornflowerblue\:30 { color: hsl(219, 79%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:40, html.auto .sf-c-txt-cornflowerblue\:40 { color: hsl(219, 79%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:50, html.auto .sf-c-txt-cornflowerblue\:50 { color: hsl(219, 79%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:60, html.auto .sf-c-txt-cornflowerblue\:60 { color: hsl(219, 79%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:70, html.auto .sf-c-txt-cornflowerblue\:70 { color: hsl(219, 79%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:80, html.auto .sf-c-txt-cornflowerblue\:80 { color: hsl(219, 79%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:90, html.auto .sf-c-txt-cornflowerblue\:90 { color: hsl(219, 79%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:100, html.auto .sf-c-txt-cornflowerblue\:100 { color: hsl(219, 79%, 0%) }

  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:st, html.auto .sf-c-txt-cornflowerblue\:st { color: hsl(219, 79%, 66%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:0\:st, html.auto .sf-c-txt-cornflowerblue\:0\:st { color: hsl(219, 79%, 0%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:10\:st, html.auto .sf-c-txt-cornflowerblue\:10\:st { color: hsl(219, 79%, 10%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:20\:st, html.auto .sf-c-txt-cornflowerblue\:20\:st { color: hsl(219, 79%, 20%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:30\:st, html.auto .sf-c-txt-cornflowerblue\:30\:st { color: hsl(219, 79%, 30%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:40\:st, html.auto .sf-c-txt-cornflowerblue\:40\:st { color: hsl(219, 79%, 40%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:50\:st, html.auto .sf-c-txt-cornflowerblue\:50\:st { color: hsl(219, 79%, 50%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:60\:st, html.auto .sf-c-txt-cornflowerblue\:60\:st { color: hsl(219, 79%, 60%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:70\:st, html.auto .sf-c-txt-cornflowerblue\:70\:st { color: hsl(219, 79%, 70%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:80\:st, html.auto .sf-c-txt-cornflowerblue\:80\:st { color: hsl(219, 79%, 80%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:90\:st, html.auto .sf-c-txt-cornflowerblue\:90\:st { color: hsl(219, 79%, 90%) }
  html[data-theme='auto'] .sf-c-txt-cornflowerblue\:100\:st, html.auto .sf-c-txt-cornflowerblue\:100\:st { color: hsl(219, 79%, 100%) }
}