.sf-var-darkslategrey {
  --sf-c-darkslategrey: 180 25% 25%;
  --sf-c-darkslategrey-0: 180 25% 0%;
  --sf-c-darkslategrey-10: 180 25% 10%;
  --sf-c-darkslategrey-20: 180 25% 20%;
  --sf-c-darkslategrey-30: 180 25% 30%;
  --sf-c-darkslategrey-40: 180 25% 40%;
  --sf-c-darkslategrey-50: 180 25% 50%;
  --sf-c-darkslategrey-60: 180 25% 60%;
  --sf-c-darkslategrey-70: 180 25% 70%;
  --sf-c-darkslategrey-80: 180 25% 80%;
  --sf-c-darkslategrey-90: 180 25% 90%;
  --sf-c-darkslategrey-100: 180 25% 100%;
}

.sf-c-darkslategrey, .sf-c-darkslategrey\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 25%) }
.sf-c-darkslategrey\:0, .sf-c-darkslategrey\:0\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 0%) }
.sf-c-darkslategrey\:10, .sf-c-darkslategrey\:10\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 10%) }
.sf-c-darkslategrey\:20, .sf-c-darkslategrey\:20\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 20%) }
.sf-c-darkslategrey\:30, .sf-c-darkslategrey\:30\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 30%) }
.sf-c-darkslategrey\:40, .sf-c-darkslategrey\:40\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 40%) }
.sf-c-darkslategrey\:50, .sf-c-darkslategrey\:50\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 50%) }
.sf-c-darkslategrey\:60, .sf-c-darkslategrey\:60\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 60%) }
.sf-c-darkslategrey\:70, .sf-c-darkslategrey\:70\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 70%) }
.sf-c-darkslategrey\:80, .sf-c-darkslategrey\:80\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 80%) }
.sf-c-darkslategrey\:90, .sf-c-darkslategrey\:90\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 90%) }
.sf-c-darkslategrey\:100, .sf-c-darkslategrey\:100\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 100%) }

.sf-c-txt-darkslategrey { color: hsl(180, 25%, 25%) }
.sf-c-txt-darkslategrey\:st { color: hsl(180, 25%, 25%) }
.sf-c-txt-darkslategrey\:0, .sf-c-txt-darkslategrey\:0\:st { color: hsl(180, 25%, 0%) }
.sf-c-txt-darkslategrey\:10, .sf-c-txt-darkslategrey\:10\:st { color: hsl(180, 25%, 10%) }
.sf-c-txt-darkslategrey\:20, .sf-c-txt-darkslategrey\:20\:st { color: hsl(180, 25%, 20%) }
.sf-c-txt-darkslategrey\:30, .sf-c-txt-darkslategrey\:30\:st { color: hsl(180, 25%, 30%) }
.sf-c-txt-darkslategrey\:40, .sf-c-txt-darkslategrey\:40\:st { color: hsl(180, 25%, 40%) }
.sf-c-txt-darkslategrey\:50, .sf-c-txt-darkslategrey\:50\:st { color: hsl(180, 25%, 50%) }
.sf-c-txt-darkslategrey\:60, .sf-c-txt-darkslategrey\:60\:st { color: hsl(180, 25%, 60%) }
.sf-c-txt-darkslategrey\:70, .sf-c-txt-darkslategrey\:70\:st { color: hsl(180, 25%, 70%) }
.sf-c-txt-darkslategrey\:80, .sf-c-txt-darkslategrey\:80\:st { color: hsl(180, 25%, 80%) }
.sf-c-txt-darkslategrey\:90, .sf-c-txt-darkslategrey\:90\:st { color: hsl(180, 25%, 90%) }
.sf-c-txt-darkslategrey\:100, .sf-c-txt-darkslategrey\:100\:st { color: hsl(180, 25%, 100%) }

html[data-theme='dark'] .sf-c-darkslategrey, html.dark .sf-c-darkslategrey { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-darkslategrey\:0, html.dark .sf-c-darkslategrey\:0 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 100%) }
html[data-theme='dark'] .sf-c-darkslategrey\:10, html.dark .sf-c-darkslategrey\:10 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-darkslategrey\:20, html.dark .sf-c-darkslategrey\:20 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-darkslategrey\:30, html.dark .sf-c-darkslategrey\:30 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-darkslategrey\:40, html.dark .sf-c-darkslategrey\:40 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-darkslategrey\:50, html.dark .sf-c-darkslategrey\:50 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-darkslategrey\:60, html.dark .sf-c-darkslategrey\:60 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-darkslategrey\:70, html.dark .sf-c-darkslategrey\:70 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-darkslategrey\:80, html.dark .sf-c-darkslategrey\:80 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-darkslategrey\:90, html.dark .sf-c-darkslategrey\:90 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-darkslategrey\:100, html.dark .sf-c-darkslategrey\:100 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 0%) }

html[data-theme='dark'] .sf-c-darkslategrey\:st, html.dark .sf-c-darkslategrey\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-darkslategrey\:0\:st, html.dark .sf-c-darkslategrey\:0\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 0%) }
html[data-theme='dark'] .sf-c-darkslategrey\:10\:st, html.dark .sf-c-darkslategrey\:10\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-darkslategrey\:20\:st, html.dark .sf-c-darkslategrey\:20\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-darkslategrey\:30\:st, html.dark .sf-c-darkslategrey\:30\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-darkslategrey\:40\:st, html.dark .sf-c-darkslategrey\:40\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-darkslategrey\:50\:st, html.dark .sf-c-darkslategrey\:50\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-darkslategrey\:60\:st, html.dark .sf-c-darkslategrey\:60\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-darkslategrey\:70\:st, html.dark .sf-c-darkslategrey\:70\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-darkslategrey\:80\:st, html.dark .sf-c-darkslategrey\:80\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-darkslategrey\:90\:st, html.dark .sf-c-darkslategrey\:90\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-darkslategrey\:100\:st, html.dark .sf-c-darkslategrey\:100\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkslategrey, html.dark .sf-c-txt-darkslategrey { color: hsl(180, 25%, 75%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:0, html.dark .sf-c-txt-darkslategrey\:0 { color: hsl(180, 25%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:10, html.dark .sf-c-txt-darkslategrey\:10 { color: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:20, html.dark .sf-c-txt-darkslategrey\:20 { color: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:30, html.dark .sf-c-txt-darkslategrey\:30 { color: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:40, html.dark .sf-c-txt-darkslategrey\:40 { color: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:50, html.dark .sf-c-txt-darkslategrey\:50 { color: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:60, html.dark .sf-c-txt-darkslategrey\:60 { color: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:70, html.dark .sf-c-txt-darkslategrey\:70 { color: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:80, html.dark .sf-c-txt-darkslategrey\:80 { color: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:90, html.dark .sf-c-txt-darkslategrey\:90 { color: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:100, html.dark .sf-c-txt-darkslategrey\:100 { color: hsl(180, 25%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkslategrey\:st, html.dark .sf-c-txt-darkslategrey\:st { color: hsl(180, 25%, 25%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:0\:st, html.dark .sf-c-txt-darkslategrey\:0\:st { color: hsl(180, 25%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:10\:st, html.dark .sf-c-txt-darkslategrey\:10\:st { color: hsl(180, 25%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:20\:st, html.dark .sf-c-txt-darkslategrey\:20\:st { color: hsl(180, 25%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:30\:st, html.dark .sf-c-txt-darkslategrey\:30\:st { color: hsl(180, 25%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:40\:st, html.dark .sf-c-txt-darkslategrey\:40\:st { color: hsl(180, 25%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:50\:st, html.dark .sf-c-txt-darkslategrey\:50\:st { color: hsl(180, 25%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:60\:st, html.dark .sf-c-txt-darkslategrey\:60\:st { color: hsl(180, 25%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:70\:st, html.dark .sf-c-txt-darkslategrey\:70\:st { color: hsl(180, 25%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:80\:st, html.dark .sf-c-txt-darkslategrey\:80\:st { color: hsl(180, 25%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:90\:st, html.dark .sf-c-txt-darkslategrey\:90\:st { color: hsl(180, 25%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkslategrey\:100\:st, html.dark .sf-c-txt-darkslategrey\:100\:st { color: hsl(180, 25%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkslategrey, html.auto .sf-c-darkslategrey { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:0, html.auto .sf-c-darkslategrey\:0 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 100%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:10, html.auto .sf-c-darkslategrey\:10 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:20, html.auto .sf-c-darkslategrey\:20 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:30, html.auto .sf-c-darkslategrey\:30 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:40, html.auto .sf-c-darkslategrey\:40 { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:50, html.auto .sf-c-darkslategrey\:50 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:60, html.auto .sf-c-darkslategrey\:60 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:70, html.auto .sf-c-darkslategrey\:70 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:80, html.auto .sf-c-darkslategrey\:80 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:90, html.auto .sf-c-darkslategrey\:90 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:100, html.auto .sf-c-darkslategrey\:100 { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 0%) }

  html[data-theme='auto'] .sf-c-darkslategrey\:st, html.auto .sf-c-darkslategrey\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:0\:st, html.auto .sf-c-darkslategrey\:0\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 0%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:10\:st, html.auto .sf-c-darkslategrey\:10\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:20\:st, html.auto .sf-c-darkslategrey\:20\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:30\:st, html.auto .sf-c-darkslategrey\:30\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:40\:st, html.auto .sf-c-darkslategrey\:40\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:50\:st, html.auto .sf-c-darkslategrey\:50\:st { color: hsl(180, 25%, 90%); background: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:60\:st, html.auto .sf-c-darkslategrey\:60\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:70\:st, html.auto .sf-c-darkslategrey\:70\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:80\:st, html.auto .sf-c-darkslategrey\:80\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:90\:st, html.auto .sf-c-darkslategrey\:90\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-darkslategrey\:100\:st, html.auto .sf-c-darkslategrey\:100\:st { color: hsl(180, 25%, 10%); background: hsl(180, 25%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkslategrey, html.auto .sf-c-txt-darkslategrey { color: hsl(180, 25%, 75%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:0, html.auto .sf-c-txt-darkslategrey\:0 { color: hsl(180, 25%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:10, html.auto .sf-c-txt-darkslategrey\:10 { color: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:20, html.auto .sf-c-txt-darkslategrey\:20 { color: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:30, html.auto .sf-c-txt-darkslategrey\:30 { color: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:40, html.auto .sf-c-txt-darkslategrey\:40 { color: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:50, html.auto .sf-c-txt-darkslategrey\:50 { color: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:60, html.auto .sf-c-txt-darkslategrey\:60 { color: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:70, html.auto .sf-c-txt-darkslategrey\:70 { color: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:80, html.auto .sf-c-txt-darkslategrey\:80 { color: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:90, html.auto .sf-c-txt-darkslategrey\:90 { color: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:100, html.auto .sf-c-txt-darkslategrey\:100 { color: hsl(180, 25%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkslategrey\:st, html.auto .sf-c-txt-darkslategrey\:st { color: hsl(180, 25%, 25%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:0\:st, html.auto .sf-c-txt-darkslategrey\:0\:st { color: hsl(180, 25%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:10\:st, html.auto .sf-c-txt-darkslategrey\:10\:st { color: hsl(180, 25%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:20\:st, html.auto .sf-c-txt-darkslategrey\:20\:st { color: hsl(180, 25%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:30\:st, html.auto .sf-c-txt-darkslategrey\:30\:st { color: hsl(180, 25%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:40\:st, html.auto .sf-c-txt-darkslategrey\:40\:st { color: hsl(180, 25%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:50\:st, html.auto .sf-c-txt-darkslategrey\:50\:st { color: hsl(180, 25%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:60\:st, html.auto .sf-c-txt-darkslategrey\:60\:st { color: hsl(180, 25%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:70\:st, html.auto .sf-c-txt-darkslategrey\:70\:st { color: hsl(180, 25%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:80\:st, html.auto .sf-c-txt-darkslategrey\:80\:st { color: hsl(180, 25%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:90\:st, html.auto .sf-c-txt-darkslategrey\:90\:st { color: hsl(180, 25%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkslategrey\:100\:st, html.auto .sf-c-txt-darkslategrey\:100\:st { color: hsl(180, 25%, 100%) }
}