.sf-var-darkkhaki {
  --sf-c-darkkhaki: 56 38% 58%;
  --sf-c-darkkhaki-0: 56 38% 0%;
  --sf-c-darkkhaki-10: 56 38% 10%;
  --sf-c-darkkhaki-20: 56 38% 20%;
  --sf-c-darkkhaki-30: 56 38% 30%;
  --sf-c-darkkhaki-40: 56 38% 40%;
  --sf-c-darkkhaki-50: 56 38% 50%;
  --sf-c-darkkhaki-60: 56 38% 60%;
  --sf-c-darkkhaki-70: 56 38% 70%;
  --sf-c-darkkhaki-80: 56 38% 80%;
  --sf-c-darkkhaki-90: 56 38% 90%;
  --sf-c-darkkhaki-100: 56 38% 100%;
}

.sf-c-darkkhaki, .sf-c-darkkhaki\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 58%) }
.sf-c-darkkhaki\:0, .sf-c-darkkhaki\:0\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 0%) }
.sf-c-darkkhaki\:10, .sf-c-darkkhaki\:10\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 10%) }
.sf-c-darkkhaki\:20, .sf-c-darkkhaki\:20\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 20%) }
.sf-c-darkkhaki\:30, .sf-c-darkkhaki\:30\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 30%) }
.sf-c-darkkhaki\:40, .sf-c-darkkhaki\:40\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 40%) }
.sf-c-darkkhaki\:50, .sf-c-darkkhaki\:50\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 50%) }
.sf-c-darkkhaki\:60, .sf-c-darkkhaki\:60\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 60%) }
.sf-c-darkkhaki\:70, .sf-c-darkkhaki\:70\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 70%) }
.sf-c-darkkhaki\:80, .sf-c-darkkhaki\:80\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 80%) }
.sf-c-darkkhaki\:90, .sf-c-darkkhaki\:90\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 90%) }
.sf-c-darkkhaki\:100, .sf-c-darkkhaki\:100\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 100%) }

.sf-c-txt-darkkhaki { color: hsl(56, 38%, 10%) }
.sf-c-txt-darkkhaki\:st { color: hsl(56, 38%, 58%) }
.sf-c-txt-darkkhaki\:0, .sf-c-txt-darkkhaki\:0\:st { color: hsl(56, 38%, 0%) }
.sf-c-txt-darkkhaki\:10, .sf-c-txt-darkkhaki\:10\:st { color: hsl(56, 38%, 10%) }
.sf-c-txt-darkkhaki\:20, .sf-c-txt-darkkhaki\:20\:st { color: hsl(56, 38%, 20%) }
.sf-c-txt-darkkhaki\:30, .sf-c-txt-darkkhaki\:30\:st { color: hsl(56, 38%, 30%) }
.sf-c-txt-darkkhaki\:40, .sf-c-txt-darkkhaki\:40\:st { color: hsl(56, 38%, 40%) }
.sf-c-txt-darkkhaki\:50, .sf-c-txt-darkkhaki\:50\:st { color: hsl(56, 38%, 50%) }
.sf-c-txt-darkkhaki\:60, .sf-c-txt-darkkhaki\:60\:st { color: hsl(56, 38%, 60%) }
.sf-c-txt-darkkhaki\:70, .sf-c-txt-darkkhaki\:70\:st { color: hsl(56, 38%, 70%) }
.sf-c-txt-darkkhaki\:80, .sf-c-txt-darkkhaki\:80\:st { color: hsl(56, 38%, 80%) }
.sf-c-txt-darkkhaki\:90, .sf-c-txt-darkkhaki\:90\:st { color: hsl(56, 38%, 90%) }
.sf-c-txt-darkkhaki\:100, .sf-c-txt-darkkhaki\:100\:st { color: hsl(56, 38%, 100%) }

html[data-theme='dark'] .sf-c-darkkhaki, html.dark .sf-c-darkkhaki { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 42%) }
html[data-theme='dark'] .sf-c-darkkhaki\:0, html.dark .sf-c-darkkhaki\:0 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 100%) }
html[data-theme='dark'] .sf-c-darkkhaki\:10, html.dark .sf-c-darkkhaki\:10 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 90%) }
html[data-theme='dark'] .sf-c-darkkhaki\:20, html.dark .sf-c-darkkhaki\:20 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 80%) }
html[data-theme='dark'] .sf-c-darkkhaki\:30, html.dark .sf-c-darkkhaki\:30 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 70%) }
html[data-theme='dark'] .sf-c-darkkhaki\:40, html.dark .sf-c-darkkhaki\:40 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 60%) }
html[data-theme='dark'] .sf-c-darkkhaki\:50, html.dark .sf-c-darkkhaki\:50 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 50%) }
html[data-theme='dark'] .sf-c-darkkhaki\:60, html.dark .sf-c-darkkhaki\:60 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 40%) }
html[data-theme='dark'] .sf-c-darkkhaki\:70, html.dark .sf-c-darkkhaki\:70 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 30%) }
html[data-theme='dark'] .sf-c-darkkhaki\:80, html.dark .sf-c-darkkhaki\:80 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 20%) }
html[data-theme='dark'] .sf-c-darkkhaki\:90, html.dark .sf-c-darkkhaki\:90 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 10%) }
html[data-theme='dark'] .sf-c-darkkhaki\:100, html.dark .sf-c-darkkhaki\:100 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 0%) }

html[data-theme='dark'] .sf-c-darkkhaki\:st, html.dark .sf-c-darkkhaki\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 58%) }
html[data-theme='dark'] .sf-c-darkkhaki\:0\:st, html.dark .sf-c-darkkhaki\:0\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 0%) }
html[data-theme='dark'] .sf-c-darkkhaki\:10\:st, html.dark .sf-c-darkkhaki\:10\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 10%) }
html[data-theme='dark'] .sf-c-darkkhaki\:20\:st, html.dark .sf-c-darkkhaki\:20\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 20%) }
html[data-theme='dark'] .sf-c-darkkhaki\:30\:st, html.dark .sf-c-darkkhaki\:30\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 30%) }
html[data-theme='dark'] .sf-c-darkkhaki\:40\:st, html.dark .sf-c-darkkhaki\:40\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 40%) }
html[data-theme='dark'] .sf-c-darkkhaki\:50\:st, html.dark .sf-c-darkkhaki\:50\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 50%) }
html[data-theme='dark'] .sf-c-darkkhaki\:60\:st, html.dark .sf-c-darkkhaki\:60\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 60%) }
html[data-theme='dark'] .sf-c-darkkhaki\:70\:st, html.dark .sf-c-darkkhaki\:70\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 70%) }
html[data-theme='dark'] .sf-c-darkkhaki\:80\:st, html.dark .sf-c-darkkhaki\:80\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 80%) }
html[data-theme='dark'] .sf-c-darkkhaki\:90\:st, html.dark .sf-c-darkkhaki\:90\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 90%) }
html[data-theme='dark'] .sf-c-darkkhaki\:100\:st, html.dark .sf-c-darkkhaki\:100\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkkhaki, html.dark .sf-c-txt-darkkhaki { color: hsl(56, 38%, 58%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:0, html.dark .sf-c-txt-darkkhaki\:0 { color: hsl(56, 38%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:10, html.dark .sf-c-txt-darkkhaki\:10 { color: hsl(56, 38%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:20, html.dark .sf-c-txt-darkkhaki\:20 { color: hsl(56, 38%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:30, html.dark .sf-c-txt-darkkhaki\:30 { color: hsl(56, 38%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:40, html.dark .sf-c-txt-darkkhaki\:40 { color: hsl(56, 38%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:50, html.dark .sf-c-txt-darkkhaki\:50 { color: hsl(56, 38%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:60, html.dark .sf-c-txt-darkkhaki\:60 { color: hsl(56, 38%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:70, html.dark .sf-c-txt-darkkhaki\:70 { color: hsl(56, 38%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:80, html.dark .sf-c-txt-darkkhaki\:80 { color: hsl(56, 38%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:90, html.dark .sf-c-txt-darkkhaki\:90 { color: hsl(56, 38%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:100, html.dark .sf-c-txt-darkkhaki\:100 { color: hsl(56, 38%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkkhaki\:st, html.dark .sf-c-txt-darkkhaki\:st { color: hsl(56, 38%, 58%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:0\:st, html.dark .sf-c-txt-darkkhaki\:0\:st { color: hsl(56, 38%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:10\:st, html.dark .sf-c-txt-darkkhaki\:10\:st { color: hsl(56, 38%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:20\:st, html.dark .sf-c-txt-darkkhaki\:20\:st { color: hsl(56, 38%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:30\:st, html.dark .sf-c-txt-darkkhaki\:30\:st { color: hsl(56, 38%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:40\:st, html.dark .sf-c-txt-darkkhaki\:40\:st { color: hsl(56, 38%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:50\:st, html.dark .sf-c-txt-darkkhaki\:50\:st { color: hsl(56, 38%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:60\:st, html.dark .sf-c-txt-darkkhaki\:60\:st { color: hsl(56, 38%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:70\:st, html.dark .sf-c-txt-darkkhaki\:70\:st { color: hsl(56, 38%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:80\:st, html.dark .sf-c-txt-darkkhaki\:80\:st { color: hsl(56, 38%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:90\:st, html.dark .sf-c-txt-darkkhaki\:90\:st { color: hsl(56, 38%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkkhaki\:100\:st, html.dark .sf-c-txt-darkkhaki\:100\:st { color: hsl(56, 38%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkkhaki, html.auto .sf-c-darkkhaki { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 42%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:0, html.auto .sf-c-darkkhaki\:0 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 100%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:10, html.auto .sf-c-darkkhaki\:10 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 90%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:20, html.auto .sf-c-darkkhaki\:20 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 80%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:30, html.auto .sf-c-darkkhaki\:30 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 70%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:40, html.auto .sf-c-darkkhaki\:40 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 60%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:50, html.auto .sf-c-darkkhaki\:50 { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 50%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:60, html.auto .sf-c-darkkhaki\:60 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 40%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:70, html.auto .sf-c-darkkhaki\:70 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 30%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:80, html.auto .sf-c-darkkhaki\:80 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 20%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:90, html.auto .sf-c-darkkhaki\:90 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 10%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:100, html.auto .sf-c-darkkhaki\:100 { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 0%) }

  html[data-theme='auto'] .sf-c-darkkhaki\:st, html.auto .sf-c-darkkhaki\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 58%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:0\:st, html.auto .sf-c-darkkhaki\:0\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 0%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:10\:st, html.auto .sf-c-darkkhaki\:10\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 10%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:20\:st, html.auto .sf-c-darkkhaki\:20\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 20%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:30\:st, html.auto .sf-c-darkkhaki\:30\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 30%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:40\:st, html.auto .sf-c-darkkhaki\:40\:st { color: hsl(56, 38%, 90%); background: hsl(56, 38%, 40%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:50\:st, html.auto .sf-c-darkkhaki\:50\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 50%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:60\:st, html.auto .sf-c-darkkhaki\:60\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 60%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:70\:st, html.auto .sf-c-darkkhaki\:70\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 70%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:80\:st, html.auto .sf-c-darkkhaki\:80\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 80%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:90\:st, html.auto .sf-c-darkkhaki\:90\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 90%) }
  html[data-theme='auto'] .sf-c-darkkhaki\:100\:st, html.auto .sf-c-darkkhaki\:100\:st { color: hsl(56, 38%, 10%); background: hsl(56, 38%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkkhaki, html.auto .sf-c-txt-darkkhaki { color: hsl(56, 38%, 58%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:0, html.auto .sf-c-txt-darkkhaki\:0 { color: hsl(56, 38%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:10, html.auto .sf-c-txt-darkkhaki\:10 { color: hsl(56, 38%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:20, html.auto .sf-c-txt-darkkhaki\:20 { color: hsl(56, 38%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:30, html.auto .sf-c-txt-darkkhaki\:30 { color: hsl(56, 38%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:40, html.auto .sf-c-txt-darkkhaki\:40 { color: hsl(56, 38%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:50, html.auto .sf-c-txt-darkkhaki\:50 { color: hsl(56, 38%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:60, html.auto .sf-c-txt-darkkhaki\:60 { color: hsl(56, 38%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:70, html.auto .sf-c-txt-darkkhaki\:70 { color: hsl(56, 38%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:80, html.auto .sf-c-txt-darkkhaki\:80 { color: hsl(56, 38%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:90, html.auto .sf-c-txt-darkkhaki\:90 { color: hsl(56, 38%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:100, html.auto .sf-c-txt-darkkhaki\:100 { color: hsl(56, 38%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkkhaki\:st, html.auto .sf-c-txt-darkkhaki\:st { color: hsl(56, 38%, 58%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:0\:st, html.auto .sf-c-txt-darkkhaki\:0\:st { color: hsl(56, 38%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:10\:st, html.auto .sf-c-txt-darkkhaki\:10\:st { color: hsl(56, 38%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:20\:st, html.auto .sf-c-txt-darkkhaki\:20\:st { color: hsl(56, 38%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:30\:st, html.auto .sf-c-txt-darkkhaki\:30\:st { color: hsl(56, 38%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:40\:st, html.auto .sf-c-txt-darkkhaki\:40\:st { color: hsl(56, 38%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:50\:st, html.auto .sf-c-txt-darkkhaki\:50\:st { color: hsl(56, 38%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:60\:st, html.auto .sf-c-txt-darkkhaki\:60\:st { color: hsl(56, 38%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:70\:st, html.auto .sf-c-txt-darkkhaki\:70\:st { color: hsl(56, 38%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:80\:st, html.auto .sf-c-txt-darkkhaki\:80\:st { color: hsl(56, 38%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:90\:st, html.auto .sf-c-txt-darkkhaki\:90\:st { color: hsl(56, 38%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkkhaki\:100\:st, html.auto .sf-c-txt-darkkhaki\:100\:st { color: hsl(56, 38%, 100%) }
}