.sf-var-darkgreen {
  --sf-c-darkgreen: 120 100% 20%;
  --sf-c-darkgreen-0: 120 100% 0%;
  --sf-c-darkgreen-10: 120 100% 10%;
  --sf-c-darkgreen-20: 120 100% 20%;
  --sf-c-darkgreen-30: 120 100% 30%;
  --sf-c-darkgreen-40: 120 100% 40%;
  --sf-c-darkgreen-50: 120 100% 50%;
  --sf-c-darkgreen-60: 120 100% 60%;
  --sf-c-darkgreen-70: 120 100% 70%;
  --sf-c-darkgreen-80: 120 100% 80%;
  --sf-c-darkgreen-90: 120 100% 90%;
  --sf-c-darkgreen-100: 120 100% 100%;
}

.sf-c-darkgreen, .sf-c-darkgreen\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
.sf-c-darkgreen\:0, .sf-c-darkgreen\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
.sf-c-darkgreen\:10, .sf-c-darkgreen\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
.sf-c-darkgreen\:20, .sf-c-darkgreen\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
.sf-c-darkgreen\:30, .sf-c-darkgreen\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
.sf-c-darkgreen\:40, .sf-c-darkgreen\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
.sf-c-darkgreen\:50, .sf-c-darkgreen\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
.sf-c-darkgreen\:60, .sf-c-darkgreen\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
.sf-c-darkgreen\:70, .sf-c-darkgreen\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
.sf-c-darkgreen\:80, .sf-c-darkgreen\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
.sf-c-darkgreen\:90, .sf-c-darkgreen\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
.sf-c-darkgreen\:100, .sf-c-darkgreen\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

.sf-c-txt-darkgreen { color: hsl(120, 100%, 20%) }
.sf-c-txt-darkgreen\:st { color: hsl(120, 100%, 20%) }
.sf-c-txt-darkgreen\:0, .sf-c-txt-darkgreen\:0\:st { color: hsl(120, 100%, 0%) }
.sf-c-txt-darkgreen\:10, .sf-c-txt-darkgreen\:10\:st { color: hsl(120, 100%, 10%) }
.sf-c-txt-darkgreen\:20, .sf-c-txt-darkgreen\:20\:st { color: hsl(120, 100%, 20%) }
.sf-c-txt-darkgreen\:30, .sf-c-txt-darkgreen\:30\:st { color: hsl(120, 100%, 30%) }
.sf-c-txt-darkgreen\:40, .sf-c-txt-darkgreen\:40\:st { color: hsl(120, 100%, 40%) }
.sf-c-txt-darkgreen\:50, .sf-c-txt-darkgreen\:50\:st { color: hsl(120, 100%, 50%) }
.sf-c-txt-darkgreen\:60, .sf-c-txt-darkgreen\:60\:st { color: hsl(120, 100%, 60%) }
.sf-c-txt-darkgreen\:70, .sf-c-txt-darkgreen\:70\:st { color: hsl(120, 100%, 70%) }
.sf-c-txt-darkgreen\:80, .sf-c-txt-darkgreen\:80\:st { color: hsl(120, 100%, 80%) }
.sf-c-txt-darkgreen\:90, .sf-c-txt-darkgreen\:90\:st { color: hsl(120, 100%, 90%) }
.sf-c-txt-darkgreen\:100, .sf-c-txt-darkgreen\:100\:st { color: hsl(120, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkgreen, html.dark .sf-c-darkgreen { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkgreen\:0, html.dark .sf-c-darkgreen\:0 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkgreen\:10, html.dark .sf-c-darkgreen\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkgreen\:20, html.dark .sf-c-darkgreen\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkgreen\:30, html.dark .sf-c-darkgreen\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkgreen\:40, html.dark .sf-c-darkgreen\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkgreen\:50, html.dark .sf-c-darkgreen\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkgreen\:60, html.dark .sf-c-darkgreen\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkgreen\:70, html.dark .sf-c-darkgreen\:70 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkgreen\:80, html.dark .sf-c-darkgreen\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkgreen\:90, html.dark .sf-c-darkgreen\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkgreen\:100, html.dark .sf-c-darkgreen\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkgreen\:st, html.dark .sf-c-darkgreen\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkgreen\:0\:st, html.dark .sf-c-darkgreen\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkgreen\:10\:st, html.dark .sf-c-darkgreen\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkgreen\:20\:st, html.dark .sf-c-darkgreen\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkgreen\:30\:st, html.dark .sf-c-darkgreen\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkgreen\:40\:st, html.dark .sf-c-darkgreen\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkgreen\:50\:st, html.dark .sf-c-darkgreen\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkgreen\:60\:st, html.dark .sf-c-darkgreen\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkgreen\:70\:st, html.dark .sf-c-darkgreen\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkgreen\:80\:st, html.dark .sf-c-darkgreen\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkgreen\:90\:st, html.dark .sf-c-darkgreen\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkgreen\:100\:st, html.dark .sf-c-darkgreen\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkgreen, html.dark .sf-c-txt-darkgreen { color: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:0, html.dark .sf-c-txt-darkgreen\:0 { color: hsl(120, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:10, html.dark .sf-c-txt-darkgreen\:10 { color: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:20, html.dark .sf-c-txt-darkgreen\:20 { color: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:30, html.dark .sf-c-txt-darkgreen\:30 { color: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:40, html.dark .sf-c-txt-darkgreen\:40 { color: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:50, html.dark .sf-c-txt-darkgreen\:50 { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:60, html.dark .sf-c-txt-darkgreen\:60 { color: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:70, html.dark .sf-c-txt-darkgreen\:70 { color: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:80, html.dark .sf-c-txt-darkgreen\:80 { color: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:90, html.dark .sf-c-txt-darkgreen\:90 { color: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:100, html.dark .sf-c-txt-darkgreen\:100 { color: hsl(120, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkgreen\:st, html.dark .sf-c-txt-darkgreen\:st { color: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:0\:st, html.dark .sf-c-txt-darkgreen\:0\:st { color: hsl(120, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:10\:st, html.dark .sf-c-txt-darkgreen\:10\:st { color: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:20\:st, html.dark .sf-c-txt-darkgreen\:20\:st { color: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:30\:st, html.dark .sf-c-txt-darkgreen\:30\:st { color: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:40\:st, html.dark .sf-c-txt-darkgreen\:40\:st { color: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:50\:st, html.dark .sf-c-txt-darkgreen\:50\:st { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:60\:st, html.dark .sf-c-txt-darkgreen\:60\:st { color: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:70\:st, html.dark .sf-c-txt-darkgreen\:70\:st { color: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:80\:st, html.dark .sf-c-txt-darkgreen\:80\:st { color: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:90\:st, html.dark .sf-c-txt-darkgreen\:90\:st { color: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkgreen\:100\:st, html.dark .sf-c-txt-darkgreen\:100\:st { color: hsl(120, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkgreen, html.auto .sf-c-darkgreen { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkgreen\:0, html.auto .sf-c-darkgreen\:0 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkgreen\:10, html.auto .sf-c-darkgreen\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkgreen\:20, html.auto .sf-c-darkgreen\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkgreen\:30, html.auto .sf-c-darkgreen\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkgreen\:40, html.auto .sf-c-darkgreen\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkgreen\:50, html.auto .sf-c-darkgreen\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkgreen\:60, html.auto .sf-c-darkgreen\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkgreen\:70, html.auto .sf-c-darkgreen\:70 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkgreen\:80, html.auto .sf-c-darkgreen\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkgreen\:90, html.auto .sf-c-darkgreen\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkgreen\:100, html.auto .sf-c-darkgreen\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkgreen\:st, html.auto .sf-c-darkgreen\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkgreen\:0\:st, html.auto .sf-c-darkgreen\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkgreen\:10\:st, html.auto .sf-c-darkgreen\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkgreen\:20\:st, html.auto .sf-c-darkgreen\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkgreen\:30\:st, html.auto .sf-c-darkgreen\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkgreen\:40\:st, html.auto .sf-c-darkgreen\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkgreen\:50\:st, html.auto .sf-c-darkgreen\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkgreen\:60\:st, html.auto .sf-c-darkgreen\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkgreen\:70\:st, html.auto .sf-c-darkgreen\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkgreen\:80\:st, html.auto .sf-c-darkgreen\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkgreen\:90\:st, html.auto .sf-c-darkgreen\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkgreen\:100\:st, html.auto .sf-c-darkgreen\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkgreen, html.auto .sf-c-txt-darkgreen { color: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:0, html.auto .sf-c-txt-darkgreen\:0 { color: hsl(120, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:10, html.auto .sf-c-txt-darkgreen\:10 { color: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:20, html.auto .sf-c-txt-darkgreen\:20 { color: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:30, html.auto .sf-c-txt-darkgreen\:30 { color: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:40, html.auto .sf-c-txt-darkgreen\:40 { color: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:50, html.auto .sf-c-txt-darkgreen\:50 { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:60, html.auto .sf-c-txt-darkgreen\:60 { color: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:70, html.auto .sf-c-txt-darkgreen\:70 { color: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:80, html.auto .sf-c-txt-darkgreen\:80 { color: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:90, html.auto .sf-c-txt-darkgreen\:90 { color: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:100, html.auto .sf-c-txt-darkgreen\:100 { color: hsl(120, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkgreen\:st, html.auto .sf-c-txt-darkgreen\:st { color: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:0\:st, html.auto .sf-c-txt-darkgreen\:0\:st { color: hsl(120, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:10\:st, html.auto .sf-c-txt-darkgreen\:10\:st { color: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:20\:st, html.auto .sf-c-txt-darkgreen\:20\:st { color: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:30\:st, html.auto .sf-c-txt-darkgreen\:30\:st { color: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:40\:st, html.auto .sf-c-txt-darkgreen\:40\:st { color: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:50\:st, html.auto .sf-c-txt-darkgreen\:50\:st { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:60\:st, html.auto .sf-c-txt-darkgreen\:60\:st { color: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:70\:st, html.auto .sf-c-txt-darkgreen\:70\:st { color: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:80\:st, html.auto .sf-c-txt-darkgreen\:80\:st { color: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:90\:st, html.auto .sf-c-txt-darkgreen\:90\:st { color: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkgreen\:100\:st, html.auto .sf-c-txt-darkgreen\:100\:st { color: hsl(120, 100%, 100%) }
}