.sf-var-darkmagenta {
  --sf-c-darkmagenta: 300 100% 27%;
  --sf-c-darkmagenta-0: 300 100% 0%;
  --sf-c-darkmagenta-10: 300 100% 10%;
  --sf-c-darkmagenta-20: 300 100% 20%;
  --sf-c-darkmagenta-30: 300 100% 30%;
  --sf-c-darkmagenta-40: 300 100% 40%;
  --sf-c-darkmagenta-50: 300 100% 50%;
  --sf-c-darkmagenta-60: 300 100% 60%;
  --sf-c-darkmagenta-70: 300 100% 70%;
  --sf-c-darkmagenta-80: 300 100% 80%;
  --sf-c-darkmagenta-90: 300 100% 90%;
  --sf-c-darkmagenta-100: 300 100% 100%;
}

.sf-c-darkmagenta, .sf-c-darkmagenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 27%) }
.sf-c-darkmagenta\:0, .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
.sf-c-darkmagenta\:10, .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
.sf-c-darkmagenta\:20, .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
.sf-c-darkmagenta\:30, .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
.sf-c-darkmagenta\:40, .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
.sf-c-darkmagenta\:50, .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
.sf-c-darkmagenta\:60, .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
.sf-c-darkmagenta\:70, .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
.sf-c-darkmagenta\:80, .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
.sf-c-darkmagenta\:90, .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
.sf-c-darkmagenta\:100, .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

.sf-c-txt-darkmagenta { color: hsl(300, 100%, 27%) }
.sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
.sf-c-txt-darkmagenta\:0, .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
.sf-c-txt-darkmagenta\:10, .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
.sf-c-txt-darkmagenta\:20, .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
.sf-c-txt-darkmagenta\:30, .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
.sf-c-txt-darkmagenta\:40, .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
.sf-c-txt-darkmagenta\:50, .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
.sf-c-txt-darkmagenta\:60, .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
.sf-c-txt-darkmagenta\:70, .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
.sf-c-txt-darkmagenta\:80, .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
.sf-c-txt-darkmagenta\:90, .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
.sf-c-txt-darkmagenta\:100, .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkmagenta, html.dark .sf-c-darkmagenta { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
html[data-theme='dark'] .sf-c-darkmagenta\:0, html.dark .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkmagenta\:10, html.dark .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkmagenta\:20, html.dark .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkmagenta\:30, html.dark .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkmagenta\:40, html.dark .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkmagenta\:50, html.dark .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkmagenta\:60, html.dark .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkmagenta\:70, html.dark .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkmagenta\:80, html.dark .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkmagenta\:90, html.dark .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkmagenta\:100, html.dark .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkmagenta\:st, html.dark .sf-c-darkmagenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 27%) }
html[data-theme='dark'] .sf-c-darkmagenta\:0\:st, html.dark .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkmagenta\:10\:st, html.dark .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkmagenta\:20\:st, html.dark .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkmagenta\:30\:st, html.dark .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkmagenta\:40\:st, html.dark .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkmagenta\:50\:st, html.dark .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkmagenta\:60\:st, html.dark .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkmagenta\:70\:st, html.dark .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkmagenta\:80\:st, html.dark .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkmagenta\:90\:st, html.dark .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkmagenta\:100\:st, html.dark .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkmagenta, html.dark .sf-c-txt-darkmagenta { color: hsl(300, 100%, 73%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:0, html.dark .sf-c-txt-darkmagenta\:0 { color: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:10, html.dark .sf-c-txt-darkmagenta\:10 { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:20, html.dark .sf-c-txt-darkmagenta\:20 { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:30, html.dark .sf-c-txt-darkmagenta\:30 { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:40, html.dark .sf-c-txt-darkmagenta\:40 { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:50, html.dark .sf-c-txt-darkmagenta\:50 { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:60, html.dark .sf-c-txt-darkmagenta\:60 { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:70, html.dark .sf-c-txt-darkmagenta\:70 { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:80, html.dark .sf-c-txt-darkmagenta\:80 { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:90, html.dark .sf-c-txt-darkmagenta\:90 { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:100, html.dark .sf-c-txt-darkmagenta\:100 { color: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkmagenta\:st, html.dark .sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:0\:st, html.dark .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:10\:st, html.dark .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:20\:st, html.dark .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:30\:st, html.dark .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:40\:st, html.dark .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:50\:st, html.dark .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:60\:st, html.dark .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:70\:st, html.dark .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:80\:st, html.dark .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:90\:st, html.dark .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkmagenta\:100\:st, html.dark .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkmagenta, html.auto .sf-c-darkmagenta { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 73%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0, html.auto .sf-c-darkmagenta\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10, html.auto .sf-c-darkmagenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20, html.auto .sf-c-darkmagenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30, html.auto .sf-c-darkmagenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40, html.auto .sf-c-darkmagenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50, html.auto .sf-c-darkmagenta\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60, html.auto .sf-c-darkmagenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70, html.auto .sf-c-darkmagenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80, html.auto .sf-c-darkmagenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90, html.auto .sf-c-darkmagenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100, html.auto .sf-c-darkmagenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkmagenta\:st, html.auto .sf-c-darkmagenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 27%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:0\:st, html.auto .sf-c-darkmagenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:10\:st, html.auto .sf-c-darkmagenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:20\:st, html.auto .sf-c-darkmagenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:30\:st, html.auto .sf-c-darkmagenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:40\:st, html.auto .sf-c-darkmagenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:50\:st, html.auto .sf-c-darkmagenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:60\:st, html.auto .sf-c-darkmagenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:70\:st, html.auto .sf-c-darkmagenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:80\:st, html.auto .sf-c-darkmagenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:90\:st, html.auto .sf-c-darkmagenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkmagenta\:100\:st, html.auto .sf-c-darkmagenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkmagenta, html.auto .sf-c-txt-darkmagenta { color: hsl(300, 100%, 73%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:0, html.auto .sf-c-txt-darkmagenta\:0 { color: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:10, html.auto .sf-c-txt-darkmagenta\:10 { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:20, html.auto .sf-c-txt-darkmagenta\:20 { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:30, html.auto .sf-c-txt-darkmagenta\:30 { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:40, html.auto .sf-c-txt-darkmagenta\:40 { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:50, html.auto .sf-c-txt-darkmagenta\:50 { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:60, html.auto .sf-c-txt-darkmagenta\:60 { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:70, html.auto .sf-c-txt-darkmagenta\:70 { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:80, html.auto .sf-c-txt-darkmagenta\:80 { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:90, html.auto .sf-c-txt-darkmagenta\:90 { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:100, html.auto .sf-c-txt-darkmagenta\:100 { color: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkmagenta\:st, html.auto .sf-c-txt-darkmagenta\:st { color: hsl(300, 100%, 27%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:0\:st, html.auto .sf-c-txt-darkmagenta\:0\:st { color: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:10\:st, html.auto .sf-c-txt-darkmagenta\:10\:st { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:20\:st, html.auto .sf-c-txt-darkmagenta\:20\:st { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:30\:st, html.auto .sf-c-txt-darkmagenta\:30\:st { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:40\:st, html.auto .sf-c-txt-darkmagenta\:40\:st { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:50\:st, html.auto .sf-c-txt-darkmagenta\:50\:st { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:60\:st, html.auto .sf-c-txt-darkmagenta\:60\:st { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:70\:st, html.auto .sf-c-txt-darkmagenta\:70\:st { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:80\:st, html.auto .sf-c-txt-darkmagenta\:80\:st { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:90\:st, html.auto .sf-c-txt-darkmagenta\:90\:st { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkmagenta\:100\:st, html.auto .sf-c-txt-darkmagenta\:100\:st { color: hsl(300, 100%, 100%) }
}