.sf-var-darksalmon {
  --sf-c-darksalmon: 15 72% 70%;
  --sf-c-darksalmon-0: 15 72% 0%;
  --sf-c-darksalmon-10: 15 72% 10%;
  --sf-c-darksalmon-20: 15 72% 20%;
  --sf-c-darksalmon-30: 15 72% 30%;
  --sf-c-darksalmon-40: 15 72% 40%;
  --sf-c-darksalmon-50: 15 72% 50%;
  --sf-c-darksalmon-60: 15 72% 60%;
  --sf-c-darksalmon-70: 15 72% 70%;
  --sf-c-darksalmon-80: 15 72% 80%;
  --sf-c-darksalmon-90: 15 72% 90%;
  --sf-c-darksalmon-100: 15 72% 100%;
}

.sf-c-darksalmon, .sf-c-darksalmon\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
.sf-c-darksalmon\:0, .sf-c-darksalmon\:0\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 0%) }
.sf-c-darksalmon\:10, .sf-c-darksalmon\:10\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 10%) }
.sf-c-darksalmon\:20, .sf-c-darksalmon\:20\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 20%) }
.sf-c-darksalmon\:30, .sf-c-darksalmon\:30\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
.sf-c-darksalmon\:40, .sf-c-darksalmon\:40\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 40%) }
.sf-c-darksalmon\:50, .sf-c-darksalmon\:50\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 50%) }
.sf-c-darksalmon\:60, .sf-c-darksalmon\:60\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 60%) }
.sf-c-darksalmon\:70, .sf-c-darksalmon\:70\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
.sf-c-darksalmon\:80, .sf-c-darksalmon\:80\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 80%) }
.sf-c-darksalmon\:90, .sf-c-darksalmon\:90\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 90%) }
.sf-c-darksalmon\:100, .sf-c-darksalmon\:100\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 100%) }

.sf-c-txt-darksalmon { color: hsl(15, 72%, 10%) }
.sf-c-txt-darksalmon\:st { color: hsl(15, 72%, 70%) }
.sf-c-txt-darksalmon\:0, .sf-c-txt-darksalmon\:0\:st { color: hsl(15, 72%, 0%) }
.sf-c-txt-darksalmon\:10, .sf-c-txt-darksalmon\:10\:st { color: hsl(15, 72%, 10%) }
.sf-c-txt-darksalmon\:20, .sf-c-txt-darksalmon\:20\:st { color: hsl(15, 72%, 20%) }
.sf-c-txt-darksalmon\:30, .sf-c-txt-darksalmon\:30\:st { color: hsl(15, 72%, 30%) }
.sf-c-txt-darksalmon\:40, .sf-c-txt-darksalmon\:40\:st { color: hsl(15, 72%, 40%) }
.sf-c-txt-darksalmon\:50, .sf-c-txt-darksalmon\:50\:st { color: hsl(15, 72%, 50%) }
.sf-c-txt-darksalmon\:60, .sf-c-txt-darksalmon\:60\:st { color: hsl(15, 72%, 60%) }
.sf-c-txt-darksalmon\:70, .sf-c-txt-darksalmon\:70\:st { color: hsl(15, 72%, 70%) }
.sf-c-txt-darksalmon\:80, .sf-c-txt-darksalmon\:80\:st { color: hsl(15, 72%, 80%) }
.sf-c-txt-darksalmon\:90, .sf-c-txt-darksalmon\:90\:st { color: hsl(15, 72%, 90%) }
.sf-c-txt-darksalmon\:100, .sf-c-txt-darksalmon\:100\:st { color: hsl(15, 72%, 100%) }

html[data-theme='dark'] .sf-c-darksalmon, html.dark .sf-c-darksalmon { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
html[data-theme='dark'] .sf-c-darksalmon\:0, html.dark .sf-c-darksalmon\:0 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 100%) }
html[data-theme='dark'] .sf-c-darksalmon\:10, html.dark .sf-c-darksalmon\:10 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 90%) }
html[data-theme='dark'] .sf-c-darksalmon\:20, html.dark .sf-c-darksalmon\:20 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 80%) }
html[data-theme='dark'] .sf-c-darksalmon\:30, html.dark .sf-c-darksalmon\:30 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-darksalmon\:40, html.dark .sf-c-darksalmon\:40 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 60%) }
html[data-theme='dark'] .sf-c-darksalmon\:50, html.dark .sf-c-darksalmon\:50 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 50%) }
html[data-theme='dark'] .sf-c-darksalmon\:60, html.dark .sf-c-darksalmon\:60 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 40%) }
html[data-theme='dark'] .sf-c-darksalmon\:70, html.dark .sf-c-darksalmon\:70 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
html[data-theme='dark'] .sf-c-darksalmon\:80, html.dark .sf-c-darksalmon\:80 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 20%) }
html[data-theme='dark'] .sf-c-darksalmon\:90, html.dark .sf-c-darksalmon\:90 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 10%) }
html[data-theme='dark'] .sf-c-darksalmon\:100, html.dark .sf-c-darksalmon\:100 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 0%) }

html[data-theme='dark'] .sf-c-darksalmon\:st, html.dark .sf-c-darksalmon\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-darksalmon\:0\:st, html.dark .sf-c-darksalmon\:0\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 0%) }
html[data-theme='dark'] .sf-c-darksalmon\:10\:st, html.dark .sf-c-darksalmon\:10\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 10%) }
html[data-theme='dark'] .sf-c-darksalmon\:20\:st, html.dark .sf-c-darksalmon\:20\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 20%) }
html[data-theme='dark'] .sf-c-darksalmon\:30\:st, html.dark .sf-c-darksalmon\:30\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
html[data-theme='dark'] .sf-c-darksalmon\:40\:st, html.dark .sf-c-darksalmon\:40\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 40%) }
html[data-theme='dark'] .sf-c-darksalmon\:50\:st, html.dark .sf-c-darksalmon\:50\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 50%) }
html[data-theme='dark'] .sf-c-darksalmon\:60\:st, html.dark .sf-c-darksalmon\:60\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 60%) }
html[data-theme='dark'] .sf-c-darksalmon\:70\:st, html.dark .sf-c-darksalmon\:70\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-darksalmon\:80\:st, html.dark .sf-c-darksalmon\:80\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 80%) }
html[data-theme='dark'] .sf-c-darksalmon\:90\:st, html.dark .sf-c-darksalmon\:90\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 90%) }
html[data-theme='dark'] .sf-c-darksalmon\:100\:st, html.dark .sf-c-darksalmon\:100\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 100%) }

html[data-theme='dark'] .sf-c-txt-darksalmon, html.dark .sf-c-txt-darksalmon { color: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:0, html.dark .sf-c-txt-darksalmon\:0 { color: hsl(15, 72%, 100%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:10, html.dark .sf-c-txt-darksalmon\:10 { color: hsl(15, 72%, 90%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:20, html.dark .sf-c-txt-darksalmon\:20 { color: hsl(15, 72%, 80%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:30, html.dark .sf-c-txt-darksalmon\:30 { color: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:40, html.dark .sf-c-txt-darksalmon\:40 { color: hsl(15, 72%, 60%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:50, html.dark .sf-c-txt-darksalmon\:50 { color: hsl(15, 72%, 50%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:60, html.dark .sf-c-txt-darksalmon\:60 { color: hsl(15, 72%, 40%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:70, html.dark .sf-c-txt-darksalmon\:70 { color: hsl(15, 72%, 30%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:80, html.dark .sf-c-txt-darksalmon\:80 { color: hsl(15, 72%, 20%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:90, html.dark .sf-c-txt-darksalmon\:90 { color: hsl(15, 72%, 10%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:100, html.dark .sf-c-txt-darksalmon\:100 { color: hsl(15, 72%, 0%) }

html[data-theme='dark'] .sf-c-txt-darksalmon\:st, html.dark .sf-c-txt-darksalmon\:st { color: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:0\:st, html.dark .sf-c-txt-darksalmon\:0\:st { color: hsl(15, 72%, 0%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:10\:st, html.dark .sf-c-txt-darksalmon\:10\:st { color: hsl(15, 72%, 10%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:20\:st, html.dark .sf-c-txt-darksalmon\:20\:st { color: hsl(15, 72%, 20%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:30\:st, html.dark .sf-c-txt-darksalmon\:30\:st { color: hsl(15, 72%, 30%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:40\:st, html.dark .sf-c-txt-darksalmon\:40\:st { color: hsl(15, 72%, 40%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:50\:st, html.dark .sf-c-txt-darksalmon\:50\:st { color: hsl(15, 72%, 50%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:60\:st, html.dark .sf-c-txt-darksalmon\:60\:st { color: hsl(15, 72%, 60%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:70\:st, html.dark .sf-c-txt-darksalmon\:70\:st { color: hsl(15, 72%, 70%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:80\:st, html.dark .sf-c-txt-darksalmon\:80\:st { color: hsl(15, 72%, 80%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:90\:st, html.dark .sf-c-txt-darksalmon\:90\:st { color: hsl(15, 72%, 90%) }
html[data-theme='dark'] .sf-c-txt-darksalmon\:100\:st, html.dark .sf-c-txt-darksalmon\:100\:st { color: hsl(15, 72%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darksalmon, html.auto .sf-c-darksalmon { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
  html[data-theme='auto'] .sf-c-darksalmon\:0, html.auto .sf-c-darksalmon\:0 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 100%) }
  html[data-theme='auto'] .sf-c-darksalmon\:10, html.auto .sf-c-darksalmon\:10 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 90%) }
  html[data-theme='auto'] .sf-c-darksalmon\:20, html.auto .sf-c-darksalmon\:20 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 80%) }
  html[data-theme='auto'] .sf-c-darksalmon\:30, html.auto .sf-c-darksalmon\:30 { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-darksalmon\:40, html.auto .sf-c-darksalmon\:40 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 60%) }
  html[data-theme='auto'] .sf-c-darksalmon\:50, html.auto .sf-c-darksalmon\:50 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 50%) }
  html[data-theme='auto'] .sf-c-darksalmon\:60, html.auto .sf-c-darksalmon\:60 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 40%) }
  html[data-theme='auto'] .sf-c-darksalmon\:70, html.auto .sf-c-darksalmon\:70 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
  html[data-theme='auto'] .sf-c-darksalmon\:80, html.auto .sf-c-darksalmon\:80 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 20%) }
  html[data-theme='auto'] .sf-c-darksalmon\:90, html.auto .sf-c-darksalmon\:90 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 10%) }
  html[data-theme='auto'] .sf-c-darksalmon\:100, html.auto .sf-c-darksalmon\:100 { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 0%) }

  html[data-theme='auto'] .sf-c-darksalmon\:st, html.auto .sf-c-darksalmon\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-darksalmon\:0\:st, html.auto .sf-c-darksalmon\:0\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 0%) }
  html[data-theme='auto'] .sf-c-darksalmon\:10\:st, html.auto .sf-c-darksalmon\:10\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 10%) }
  html[data-theme='auto'] .sf-c-darksalmon\:20\:st, html.auto .sf-c-darksalmon\:20\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 20%) }
  html[data-theme='auto'] .sf-c-darksalmon\:30\:st, html.auto .sf-c-darksalmon\:30\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 30%) }
  html[data-theme='auto'] .sf-c-darksalmon\:40\:st, html.auto .sf-c-darksalmon\:40\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 40%) }
  html[data-theme='auto'] .sf-c-darksalmon\:50\:st, html.auto .sf-c-darksalmon\:50\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 50%) }
  html[data-theme='auto'] .sf-c-darksalmon\:60\:st, html.auto .sf-c-darksalmon\:60\:st { color: hsl(15, 72%, 90%); background: hsl(15, 72%, 60%) }
  html[data-theme='auto'] .sf-c-darksalmon\:70\:st, html.auto .sf-c-darksalmon\:70\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-darksalmon\:80\:st, html.auto .sf-c-darksalmon\:80\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 80%) }
  html[data-theme='auto'] .sf-c-darksalmon\:90\:st, html.auto .sf-c-darksalmon\:90\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 90%) }
  html[data-theme='auto'] .sf-c-darksalmon\:100\:st, html.auto .sf-c-darksalmon\:100\:st { color: hsl(15, 72%, 10%); background: hsl(15, 72%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darksalmon, html.auto .sf-c-txt-darksalmon { color: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:0, html.auto .sf-c-txt-darksalmon\:0 { color: hsl(15, 72%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:10, html.auto .sf-c-txt-darksalmon\:10 { color: hsl(15, 72%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:20, html.auto .sf-c-txt-darksalmon\:20 { color: hsl(15, 72%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:30, html.auto .sf-c-txt-darksalmon\:30 { color: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:40, html.auto .sf-c-txt-darksalmon\:40 { color: hsl(15, 72%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:50, html.auto .sf-c-txt-darksalmon\:50 { color: hsl(15, 72%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:60, html.auto .sf-c-txt-darksalmon\:60 { color: hsl(15, 72%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:70, html.auto .sf-c-txt-darksalmon\:70 { color: hsl(15, 72%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:80, html.auto .sf-c-txt-darksalmon\:80 { color: hsl(15, 72%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:90, html.auto .sf-c-txt-darksalmon\:90 { color: hsl(15, 72%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:100, html.auto .sf-c-txt-darksalmon\:100 { color: hsl(15, 72%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darksalmon\:st, html.auto .sf-c-txt-darksalmon\:st { color: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:0\:st, html.auto .sf-c-txt-darksalmon\:0\:st { color: hsl(15, 72%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:10\:st, html.auto .sf-c-txt-darksalmon\:10\:st { color: hsl(15, 72%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:20\:st, html.auto .sf-c-txt-darksalmon\:20\:st { color: hsl(15, 72%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:30\:st, html.auto .sf-c-txt-darksalmon\:30\:st { color: hsl(15, 72%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:40\:st, html.auto .sf-c-txt-darksalmon\:40\:st { color: hsl(15, 72%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:50\:st, html.auto .sf-c-txt-darksalmon\:50\:st { color: hsl(15, 72%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:60\:st, html.auto .sf-c-txt-darksalmon\:60\:st { color: hsl(15, 72%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:70\:st, html.auto .sf-c-txt-darksalmon\:70\:st { color: hsl(15, 72%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:80\:st, html.auto .sf-c-txt-darksalmon\:80\:st { color: hsl(15, 72%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:90\:st, html.auto .sf-c-txt-darksalmon\:90\:st { color: hsl(15, 72%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darksalmon\:100\:st, html.auto .sf-c-txt-darksalmon\:100\:st { color: hsl(15, 72%, 100%) }
}