.sf-var-darkorange {
  --sf-c-darkorange: 33 100% 50%;
  --sf-c-darkorange-0: 33 100% 0%;
  --sf-c-darkorange-10: 33 100% 10%;
  --sf-c-darkorange-20: 33 100% 20%;
  --sf-c-darkorange-30: 33 100% 30%;
  --sf-c-darkorange-40: 33 100% 40%;
  --sf-c-darkorange-50: 33 100% 50%;
  --sf-c-darkorange-60: 33 100% 60%;
  --sf-c-darkorange-70: 33 100% 70%;
  --sf-c-darkorange-80: 33 100% 80%;
  --sf-c-darkorange-90: 33 100% 90%;
  --sf-c-darkorange-100: 33 100% 100%;
}

.sf-c-darkorange, .sf-c-darkorange\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
.sf-c-darkorange\:0, .sf-c-darkorange\:0\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 0%) }
.sf-c-darkorange\:10, .sf-c-darkorange\:10\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 10%) }
.sf-c-darkorange\:20, .sf-c-darkorange\:20\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 20%) }
.sf-c-darkorange\:30, .sf-c-darkorange\:30\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 30%) }
.sf-c-darkorange\:40, .sf-c-darkorange\:40\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 40%) }
.sf-c-darkorange\:50, .sf-c-darkorange\:50\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
.sf-c-darkorange\:60, .sf-c-darkorange\:60\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 60%) }
.sf-c-darkorange\:70, .sf-c-darkorange\:70\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 70%) }
.sf-c-darkorange\:80, .sf-c-darkorange\:80\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 80%) }
.sf-c-darkorange\:90, .sf-c-darkorange\:90\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 90%) }
.sf-c-darkorange\:100, .sf-c-darkorange\:100\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 100%) }

.sf-c-txt-darkorange { color: hsl(33, 100%, 50%) }
.sf-c-txt-darkorange\:st { color: hsl(33, 100%, 50%) }
.sf-c-txt-darkorange\:0, .sf-c-txt-darkorange\:0\:st { color: hsl(33, 100%, 0%) }
.sf-c-txt-darkorange\:10, .sf-c-txt-darkorange\:10\:st { color: hsl(33, 100%, 10%) }
.sf-c-txt-darkorange\:20, .sf-c-txt-darkorange\:20\:st { color: hsl(33, 100%, 20%) }
.sf-c-txt-darkorange\:30, .sf-c-txt-darkorange\:30\:st { color: hsl(33, 100%, 30%) }
.sf-c-txt-darkorange\:40, .sf-c-txt-darkorange\:40\:st { color: hsl(33, 100%, 40%) }
.sf-c-txt-darkorange\:50, .sf-c-txt-darkorange\:50\:st { color: hsl(33, 100%, 50%) }
.sf-c-txt-darkorange\:60, .sf-c-txt-darkorange\:60\:st { color: hsl(33, 100%, 60%) }
.sf-c-txt-darkorange\:70, .sf-c-txt-darkorange\:70\:st { color: hsl(33, 100%, 70%) }
.sf-c-txt-darkorange\:80, .sf-c-txt-darkorange\:80\:st { color: hsl(33, 100%, 80%) }
.sf-c-txt-darkorange\:90, .sf-c-txt-darkorange\:90\:st { color: hsl(33, 100%, 90%) }
.sf-c-txt-darkorange\:100, .sf-c-txt-darkorange\:100\:st { color: hsl(33, 100%, 100%) }

html[data-theme='dark'] .sf-c-darkorange, html.dark .sf-c-darkorange { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkorange\:0, html.dark .sf-c-darkorange\:0 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 100%) }
html[data-theme='dark'] .sf-c-darkorange\:10, html.dark .sf-c-darkorange\:10 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkorange\:20, html.dark .sf-c-darkorange\:20 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkorange\:30, html.dark .sf-c-darkorange\:30 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkorange\:40, html.dark .sf-c-darkorange\:40 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkorange\:50, html.dark .sf-c-darkorange\:50 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkorange\:60, html.dark .sf-c-darkorange\:60 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkorange\:70, html.dark .sf-c-darkorange\:70 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkorange\:80, html.dark .sf-c-darkorange\:80 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkorange\:90, html.dark .sf-c-darkorange\:90 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkorange\:100, html.dark .sf-c-darkorange\:100 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 0%) }

html[data-theme='dark'] .sf-c-darkorange\:st, html.dark .sf-c-darkorange\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkorange\:0\:st, html.dark .sf-c-darkorange\:0\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 0%) }
html[data-theme='dark'] .sf-c-darkorange\:10\:st, html.dark .sf-c-darkorange\:10\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 10%) }
html[data-theme='dark'] .sf-c-darkorange\:20\:st, html.dark .sf-c-darkorange\:20\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 20%) }
html[data-theme='dark'] .sf-c-darkorange\:30\:st, html.dark .sf-c-darkorange\:30\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 30%) }
html[data-theme='dark'] .sf-c-darkorange\:40\:st, html.dark .sf-c-darkorange\:40\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 40%) }
html[data-theme='dark'] .sf-c-darkorange\:50\:st, html.dark .sf-c-darkorange\:50\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-darkorange\:60\:st, html.dark .sf-c-darkorange\:60\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 60%) }
html[data-theme='dark'] .sf-c-darkorange\:70\:st, html.dark .sf-c-darkorange\:70\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 70%) }
html[data-theme='dark'] .sf-c-darkorange\:80\:st, html.dark .sf-c-darkorange\:80\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 80%) }
html[data-theme='dark'] .sf-c-darkorange\:90\:st, html.dark .sf-c-darkorange\:90\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 90%) }
html[data-theme='dark'] .sf-c-darkorange\:100\:st, html.dark .sf-c-darkorange\:100\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-darkorange, html.dark .sf-c-txt-darkorange { color: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:0, html.dark .sf-c-txt-darkorange\:0 { color: hsl(33, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:10, html.dark .sf-c-txt-darkorange\:10 { color: hsl(33, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:20, html.dark .sf-c-txt-darkorange\:20 { color: hsl(33, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:30, html.dark .sf-c-txt-darkorange\:30 { color: hsl(33, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:40, html.dark .sf-c-txt-darkorange\:40 { color: hsl(33, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:50, html.dark .sf-c-txt-darkorange\:50 { color: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:60, html.dark .sf-c-txt-darkorange\:60 { color: hsl(33, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:70, html.dark .sf-c-txt-darkorange\:70 { color: hsl(33, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:80, html.dark .sf-c-txt-darkorange\:80 { color: hsl(33, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:90, html.dark .sf-c-txt-darkorange\:90 { color: hsl(33, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:100, html.dark .sf-c-txt-darkorange\:100 { color: hsl(33, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-darkorange\:st, html.dark .sf-c-txt-darkorange\:st { color: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:0\:st, html.dark .sf-c-txt-darkorange\:0\:st { color: hsl(33, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:10\:st, html.dark .sf-c-txt-darkorange\:10\:st { color: hsl(33, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:20\:st, html.dark .sf-c-txt-darkorange\:20\:st { color: hsl(33, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:30\:st, html.dark .sf-c-txt-darkorange\:30\:st { color: hsl(33, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:40\:st, html.dark .sf-c-txt-darkorange\:40\:st { color: hsl(33, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:50\:st, html.dark .sf-c-txt-darkorange\:50\:st { color: hsl(33, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:60\:st, html.dark .sf-c-txt-darkorange\:60\:st { color: hsl(33, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:70\:st, html.dark .sf-c-txt-darkorange\:70\:st { color: hsl(33, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:80\:st, html.dark .sf-c-txt-darkorange\:80\:st { color: hsl(33, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:90\:st, html.dark .sf-c-txt-darkorange\:90\:st { color: hsl(33, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-darkorange\:100\:st, html.dark .sf-c-txt-darkorange\:100\:st { color: hsl(33, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-darkorange, html.auto .sf-c-darkorange { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkorange\:0, html.auto .sf-c-darkorange\:0 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 100%) }
  html[data-theme='auto'] .sf-c-darkorange\:10, html.auto .sf-c-darkorange\:10 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkorange\:20, html.auto .sf-c-darkorange\:20 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkorange\:30, html.auto .sf-c-darkorange\:30 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkorange\:40, html.auto .sf-c-darkorange\:40 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkorange\:50, html.auto .sf-c-darkorange\:50 { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkorange\:60, html.auto .sf-c-darkorange\:60 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkorange\:70, html.auto .sf-c-darkorange\:70 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkorange\:80, html.auto .sf-c-darkorange\:80 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkorange\:90, html.auto .sf-c-darkorange\:90 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkorange\:100, html.auto .sf-c-darkorange\:100 { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 0%) }

  html[data-theme='auto'] .sf-c-darkorange\:st, html.auto .sf-c-darkorange\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkorange\:0\:st, html.auto .sf-c-darkorange\:0\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 0%) }
  html[data-theme='auto'] .sf-c-darkorange\:10\:st, html.auto .sf-c-darkorange\:10\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 10%) }
  html[data-theme='auto'] .sf-c-darkorange\:20\:st, html.auto .sf-c-darkorange\:20\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 20%) }
  html[data-theme='auto'] .sf-c-darkorange\:30\:st, html.auto .sf-c-darkorange\:30\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 30%) }
  html[data-theme='auto'] .sf-c-darkorange\:40\:st, html.auto .sf-c-darkorange\:40\:st { color: hsl(33, 100%, 90%); background: hsl(33, 100%, 40%) }
  html[data-theme='auto'] .sf-c-darkorange\:50\:st, html.auto .sf-c-darkorange\:50\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-darkorange\:60\:st, html.auto .sf-c-darkorange\:60\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 60%) }
  html[data-theme='auto'] .sf-c-darkorange\:70\:st, html.auto .sf-c-darkorange\:70\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 70%) }
  html[data-theme='auto'] .sf-c-darkorange\:80\:st, html.auto .sf-c-darkorange\:80\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 80%) }
  html[data-theme='auto'] .sf-c-darkorange\:90\:st, html.auto .sf-c-darkorange\:90\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 90%) }
  html[data-theme='auto'] .sf-c-darkorange\:100\:st, html.auto .sf-c-darkorange\:100\:st { color: hsl(33, 100%, 10%); background: hsl(33, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-darkorange, html.auto .sf-c-txt-darkorange { color: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:0, html.auto .sf-c-txt-darkorange\:0 { color: hsl(33, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:10, html.auto .sf-c-txt-darkorange\:10 { color: hsl(33, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:20, html.auto .sf-c-txt-darkorange\:20 { color: hsl(33, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:30, html.auto .sf-c-txt-darkorange\:30 { color: hsl(33, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:40, html.auto .sf-c-txt-darkorange\:40 { color: hsl(33, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:50, html.auto .sf-c-txt-darkorange\:50 { color: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:60, html.auto .sf-c-txt-darkorange\:60 { color: hsl(33, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:70, html.auto .sf-c-txt-darkorange\:70 { color: hsl(33, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:80, html.auto .sf-c-txt-darkorange\:80 { color: hsl(33, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:90, html.auto .sf-c-txt-darkorange\:90 { color: hsl(33, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:100, html.auto .sf-c-txt-darkorange\:100 { color: hsl(33, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-darkorange\:st, html.auto .sf-c-txt-darkorange\:st { color: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:0\:st, html.auto .sf-c-txt-darkorange\:0\:st { color: hsl(33, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:10\:st, html.auto .sf-c-txt-darkorange\:10\:st { color: hsl(33, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:20\:st, html.auto .sf-c-txt-darkorange\:20\:st { color: hsl(33, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:30\:st, html.auto .sf-c-txt-darkorange\:30\:st { color: hsl(33, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:40\:st, html.auto .sf-c-txt-darkorange\:40\:st { color: hsl(33, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:50\:st, html.auto .sf-c-txt-darkorange\:50\:st { color: hsl(33, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:60\:st, html.auto .sf-c-txt-darkorange\:60\:st { color: hsl(33, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:70\:st, html.auto .sf-c-txt-darkorange\:70\:st { color: hsl(33, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:80\:st, html.auto .sf-c-txt-darkorange\:80\:st { color: hsl(33, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:90\:st, html.auto .sf-c-txt-darkorange\:90\:st { color: hsl(33, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-darkorange\:100\:st, html.auto .sf-c-txt-darkorange\:100\:st { color: hsl(33, 100%, 100%) }
}