.sf-var-dodgerblue {
  --sf-c-dodgerblue: 210 100% 56%;
  --sf-c-dodgerblue-0: 210 100% 0%;
  --sf-c-dodgerblue-10: 210 100% 10%;
  --sf-c-dodgerblue-20: 210 100% 20%;
  --sf-c-dodgerblue-30: 210 100% 30%;
  --sf-c-dodgerblue-40: 210 100% 40%;
  --sf-c-dodgerblue-50: 210 100% 50%;
  --sf-c-dodgerblue-60: 210 100% 60%;
  --sf-c-dodgerblue-70: 210 100% 70%;
  --sf-c-dodgerblue-80: 210 100% 80%;
  --sf-c-dodgerblue-90: 210 100% 90%;
  --sf-c-dodgerblue-100: 210 100% 100%;
}

.sf-c-dodgerblue, .sf-c-dodgerblue\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 56%) }
.sf-c-dodgerblue\:0, .sf-c-dodgerblue\:0\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 0%) }
.sf-c-dodgerblue\:10, .sf-c-dodgerblue\:10\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 10%) }
.sf-c-dodgerblue\:20, .sf-c-dodgerblue\:20\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 20%) }
.sf-c-dodgerblue\:30, .sf-c-dodgerblue\:30\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 30%) }
.sf-c-dodgerblue\:40, .sf-c-dodgerblue\:40\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 40%) }
.sf-c-dodgerblue\:50, .sf-c-dodgerblue\:50\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 50%) }
.sf-c-dodgerblue\:60, .sf-c-dodgerblue\:60\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 60%) }
.sf-c-dodgerblue\:70, .sf-c-dodgerblue\:70\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 70%) }
.sf-c-dodgerblue\:80, .sf-c-dodgerblue\:80\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 80%) }
.sf-c-dodgerblue\:90, .sf-c-dodgerblue\:90\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 90%) }
.sf-c-dodgerblue\:100, .sf-c-dodgerblue\:100\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 100%) }

.sf-c-txt-dodgerblue { color: hsl(210, 100%, 10%) }
.sf-c-txt-dodgerblue\:st { color: hsl(210, 100%, 56%) }
.sf-c-txt-dodgerblue\:0, .sf-c-txt-dodgerblue\:0\:st { color: hsl(210, 100%, 0%) }
.sf-c-txt-dodgerblue\:10, .sf-c-txt-dodgerblue\:10\:st { color: hsl(210, 100%, 10%) }
.sf-c-txt-dodgerblue\:20, .sf-c-txt-dodgerblue\:20\:st { color: hsl(210, 100%, 20%) }
.sf-c-txt-dodgerblue\:30, .sf-c-txt-dodgerblue\:30\:st { color: hsl(210, 100%, 30%) }
.sf-c-txt-dodgerblue\:40, .sf-c-txt-dodgerblue\:40\:st { color: hsl(210, 100%, 40%) }
.sf-c-txt-dodgerblue\:50, .sf-c-txt-dodgerblue\:50\:st { color: hsl(210, 100%, 50%) }
.sf-c-txt-dodgerblue\:60, .sf-c-txt-dodgerblue\:60\:st { color: hsl(210, 100%, 60%) }
.sf-c-txt-dodgerblue\:70, .sf-c-txt-dodgerblue\:70\:st { color: hsl(210, 100%, 70%) }
.sf-c-txt-dodgerblue\:80, .sf-c-txt-dodgerblue\:80\:st { color: hsl(210, 100%, 80%) }
.sf-c-txt-dodgerblue\:90, .sf-c-txt-dodgerblue\:90\:st { color: hsl(210, 100%, 90%) }
.sf-c-txt-dodgerblue\:100, .sf-c-txt-dodgerblue\:100\:st { color: hsl(210, 100%, 100%) }

html[data-theme='dark'] .sf-c-dodgerblue, html.dark .sf-c-dodgerblue { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 44%) }
html[data-theme='dark'] .sf-c-dodgerblue\:0, html.dark .sf-c-dodgerblue\:0 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 100%) }
html[data-theme='dark'] .sf-c-dodgerblue\:10, html.dark .sf-c-dodgerblue\:10 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 90%) }
html[data-theme='dark'] .sf-c-dodgerblue\:20, html.dark .sf-c-dodgerblue\:20 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 80%) }
html[data-theme='dark'] .sf-c-dodgerblue\:30, html.dark .sf-c-dodgerblue\:30 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 70%) }
html[data-theme='dark'] .sf-c-dodgerblue\:40, html.dark .sf-c-dodgerblue\:40 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 60%) }
html[data-theme='dark'] .sf-c-dodgerblue\:50, html.dark .sf-c-dodgerblue\:50 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 50%) }
html[data-theme='dark'] .sf-c-dodgerblue\:60, html.dark .sf-c-dodgerblue\:60 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 40%) }
html[data-theme='dark'] .sf-c-dodgerblue\:70, html.dark .sf-c-dodgerblue\:70 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 30%) }
html[data-theme='dark'] .sf-c-dodgerblue\:80, html.dark .sf-c-dodgerblue\:80 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 20%) }
html[data-theme='dark'] .sf-c-dodgerblue\:90, html.dark .sf-c-dodgerblue\:90 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 10%) }
html[data-theme='dark'] .sf-c-dodgerblue\:100, html.dark .sf-c-dodgerblue\:100 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 0%) }

html[data-theme='dark'] .sf-c-dodgerblue\:st, html.dark .sf-c-dodgerblue\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 56%) }
html[data-theme='dark'] .sf-c-dodgerblue\:0\:st, html.dark .sf-c-dodgerblue\:0\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 0%) }
html[data-theme='dark'] .sf-c-dodgerblue\:10\:st, html.dark .sf-c-dodgerblue\:10\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 10%) }
html[data-theme='dark'] .sf-c-dodgerblue\:20\:st, html.dark .sf-c-dodgerblue\:20\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 20%) }
html[data-theme='dark'] .sf-c-dodgerblue\:30\:st, html.dark .sf-c-dodgerblue\:30\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 30%) }
html[data-theme='dark'] .sf-c-dodgerblue\:40\:st, html.dark .sf-c-dodgerblue\:40\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 40%) }
html[data-theme='dark'] .sf-c-dodgerblue\:50\:st, html.dark .sf-c-dodgerblue\:50\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 50%) }
html[data-theme='dark'] .sf-c-dodgerblue\:60\:st, html.dark .sf-c-dodgerblue\:60\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 60%) }
html[data-theme='dark'] .sf-c-dodgerblue\:70\:st, html.dark .sf-c-dodgerblue\:70\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 70%) }
html[data-theme='dark'] .sf-c-dodgerblue\:80\:st, html.dark .sf-c-dodgerblue\:80\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 80%) }
html[data-theme='dark'] .sf-c-dodgerblue\:90\:st, html.dark .sf-c-dodgerblue\:90\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 90%) }
html[data-theme='dark'] .sf-c-dodgerblue\:100\:st, html.dark .sf-c-dodgerblue\:100\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-dodgerblue, html.dark .sf-c-txt-dodgerblue { color: hsl(210, 100%, 56%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:0, html.dark .sf-c-txt-dodgerblue\:0 { color: hsl(210, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:10, html.dark .sf-c-txt-dodgerblue\:10 { color: hsl(210, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:20, html.dark .sf-c-txt-dodgerblue\:20 { color: hsl(210, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:30, html.dark .sf-c-txt-dodgerblue\:30 { color: hsl(210, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:40, html.dark .sf-c-txt-dodgerblue\:40 { color: hsl(210, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:50, html.dark .sf-c-txt-dodgerblue\:50 { color: hsl(210, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:60, html.dark .sf-c-txt-dodgerblue\:60 { color: hsl(210, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:70, html.dark .sf-c-txt-dodgerblue\:70 { color: hsl(210, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:80, html.dark .sf-c-txt-dodgerblue\:80 { color: hsl(210, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:90, html.dark .sf-c-txt-dodgerblue\:90 { color: hsl(210, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:100, html.dark .sf-c-txt-dodgerblue\:100 { color: hsl(210, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-dodgerblue\:st, html.dark .sf-c-txt-dodgerblue\:st { color: hsl(210, 100%, 56%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:0\:st, html.dark .sf-c-txt-dodgerblue\:0\:st { color: hsl(210, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:10\:st, html.dark .sf-c-txt-dodgerblue\:10\:st { color: hsl(210, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:20\:st, html.dark .sf-c-txt-dodgerblue\:20\:st { color: hsl(210, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:30\:st, html.dark .sf-c-txt-dodgerblue\:30\:st { color: hsl(210, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:40\:st, html.dark .sf-c-txt-dodgerblue\:40\:st { color: hsl(210, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:50\:st, html.dark .sf-c-txt-dodgerblue\:50\:st { color: hsl(210, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:60\:st, html.dark .sf-c-txt-dodgerblue\:60\:st { color: hsl(210, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:70\:st, html.dark .sf-c-txt-dodgerblue\:70\:st { color: hsl(210, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:80\:st, html.dark .sf-c-txt-dodgerblue\:80\:st { color: hsl(210, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:90\:st, html.dark .sf-c-txt-dodgerblue\:90\:st { color: hsl(210, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-dodgerblue\:100\:st, html.dark .sf-c-txt-dodgerblue\:100\:st { color: hsl(210, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-dodgerblue, html.auto .sf-c-dodgerblue { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 44%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:0, html.auto .sf-c-dodgerblue\:0 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 100%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:10, html.auto .sf-c-dodgerblue\:10 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 90%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:20, html.auto .sf-c-dodgerblue\:20 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 80%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:30, html.auto .sf-c-dodgerblue\:30 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 70%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:40, html.auto .sf-c-dodgerblue\:40 { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 60%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:50, html.auto .sf-c-dodgerblue\:50 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 50%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:60, html.auto .sf-c-dodgerblue\:60 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 40%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:70, html.auto .sf-c-dodgerblue\:70 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 30%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:80, html.auto .sf-c-dodgerblue\:80 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 20%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:90, html.auto .sf-c-dodgerblue\:90 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 10%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:100, html.auto .sf-c-dodgerblue\:100 { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 0%) }

  html[data-theme='auto'] .sf-c-dodgerblue\:st, html.auto .sf-c-dodgerblue\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 56%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:0\:st, html.auto .sf-c-dodgerblue\:0\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 0%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:10\:st, html.auto .sf-c-dodgerblue\:10\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 10%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:20\:st, html.auto .sf-c-dodgerblue\:20\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 20%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:30\:st, html.auto .sf-c-dodgerblue\:30\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 30%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:40\:st, html.auto .sf-c-dodgerblue\:40\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 40%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:50\:st, html.auto .sf-c-dodgerblue\:50\:st { color: hsl(210, 100%, 90%); background: hsl(210, 100%, 50%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:60\:st, html.auto .sf-c-dodgerblue\:60\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 60%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:70\:st, html.auto .sf-c-dodgerblue\:70\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 70%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:80\:st, html.auto .sf-c-dodgerblue\:80\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 80%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:90\:st, html.auto .sf-c-dodgerblue\:90\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 90%) }
  html[data-theme='auto'] .sf-c-dodgerblue\:100\:st, html.auto .sf-c-dodgerblue\:100\:st { color: hsl(210, 100%, 10%); background: hsl(210, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-dodgerblue, html.auto .sf-c-txt-dodgerblue { color: hsl(210, 100%, 56%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:0, html.auto .sf-c-txt-dodgerblue\:0 { color: hsl(210, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:10, html.auto .sf-c-txt-dodgerblue\:10 { color: hsl(210, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:20, html.auto .sf-c-txt-dodgerblue\:20 { color: hsl(210, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:30, html.auto .sf-c-txt-dodgerblue\:30 { color: hsl(210, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:40, html.auto .sf-c-txt-dodgerblue\:40 { color: hsl(210, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:50, html.auto .sf-c-txt-dodgerblue\:50 { color: hsl(210, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:60, html.auto .sf-c-txt-dodgerblue\:60 { color: hsl(210, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:70, html.auto .sf-c-txt-dodgerblue\:70 { color: hsl(210, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:80, html.auto .sf-c-txt-dodgerblue\:80 { color: hsl(210, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:90, html.auto .sf-c-txt-dodgerblue\:90 { color: hsl(210, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:100, html.auto .sf-c-txt-dodgerblue\:100 { color: hsl(210, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-dodgerblue\:st, html.auto .sf-c-txt-dodgerblue\:st { color: hsl(210, 100%, 56%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:0\:st, html.auto .sf-c-txt-dodgerblue\:0\:st { color: hsl(210, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:10\:st, html.auto .sf-c-txt-dodgerblue\:10\:st { color: hsl(210, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:20\:st, html.auto .sf-c-txt-dodgerblue\:20\:st { color: hsl(210, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:30\:st, html.auto .sf-c-txt-dodgerblue\:30\:st { color: hsl(210, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:40\:st, html.auto .sf-c-txt-dodgerblue\:40\:st { color: hsl(210, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:50\:st, html.auto .sf-c-txt-dodgerblue\:50\:st { color: hsl(210, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:60\:st, html.auto .sf-c-txt-dodgerblue\:60\:st { color: hsl(210, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:70\:st, html.auto .sf-c-txt-dodgerblue\:70\:st { color: hsl(210, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:80\:st, html.auto .sf-c-txt-dodgerblue\:80\:st { color: hsl(210, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:90\:st, html.auto .sf-c-txt-dodgerblue\:90\:st { color: hsl(210, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-dodgerblue\:100\:st, html.auto .sf-c-txt-dodgerblue\:100\:st { color: hsl(210, 100%, 100%) }
}