.sf-var-gold {
  --sf-c-gold: 51 100% 50%;
  --sf-c-gold-0: 51 100% 0%;
  --sf-c-gold-10: 51 100% 10%;
  --sf-c-gold-20: 51 100% 20%;
  --sf-c-gold-30: 51 100% 30%;
  --sf-c-gold-40: 51 100% 40%;
  --sf-c-gold-50: 51 100% 50%;
  --sf-c-gold-60: 51 100% 60%;
  --sf-c-gold-70: 51 100% 70%;
  --sf-c-gold-80: 51 100% 80%;
  --sf-c-gold-90: 51 100% 90%;
  --sf-c-gold-100: 51 100% 100%;
}

.sf-c-gold, .sf-c-gold\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
.sf-c-gold\:0, .sf-c-gold\:0\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 0%) }
.sf-c-gold\:10, .sf-c-gold\:10\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 10%) }
.sf-c-gold\:20, .sf-c-gold\:20\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 20%) }
.sf-c-gold\:30, .sf-c-gold\:30\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 30%) }
.sf-c-gold\:40, .sf-c-gold\:40\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 40%) }
.sf-c-gold\:50, .sf-c-gold\:50\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
.sf-c-gold\:60, .sf-c-gold\:60\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 60%) }
.sf-c-gold\:70, .sf-c-gold\:70\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 70%) }
.sf-c-gold\:80, .sf-c-gold\:80\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 80%) }
.sf-c-gold\:90, .sf-c-gold\:90\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 90%) }
.sf-c-gold\:100, .sf-c-gold\:100\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 100%) }

.sf-c-txt-gold { color: hsl(51, 100%, 50%) }
.sf-c-txt-gold\:st { color: hsl(51, 100%, 50%) }
.sf-c-txt-gold\:0, .sf-c-txt-gold\:0\:st { color: hsl(51, 100%, 0%) }
.sf-c-txt-gold\:10, .sf-c-txt-gold\:10\:st { color: hsl(51, 100%, 10%) }
.sf-c-txt-gold\:20, .sf-c-txt-gold\:20\:st { color: hsl(51, 100%, 20%) }
.sf-c-txt-gold\:30, .sf-c-txt-gold\:30\:st { color: hsl(51, 100%, 30%) }
.sf-c-txt-gold\:40, .sf-c-txt-gold\:40\:st { color: hsl(51, 100%, 40%) }
.sf-c-txt-gold\:50, .sf-c-txt-gold\:50\:st { color: hsl(51, 100%, 50%) }
.sf-c-txt-gold\:60, .sf-c-txt-gold\:60\:st { color: hsl(51, 100%, 60%) }
.sf-c-txt-gold\:70, .sf-c-txt-gold\:70\:st { color: hsl(51, 100%, 70%) }
.sf-c-txt-gold\:80, .sf-c-txt-gold\:80\:st { color: hsl(51, 100%, 80%) }
.sf-c-txt-gold\:90, .sf-c-txt-gold\:90\:st { color: hsl(51, 100%, 90%) }
.sf-c-txt-gold\:100, .sf-c-txt-gold\:100\:st { color: hsl(51, 100%, 100%) }

html[data-theme='dark'] .sf-c-gold, html.dark .sf-c-gold { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-gold\:0, html.dark .sf-c-gold\:0 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 100%) }
html[data-theme='dark'] .sf-c-gold\:10, html.dark .sf-c-gold\:10 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 90%) }
html[data-theme='dark'] .sf-c-gold\:20, html.dark .sf-c-gold\:20 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 80%) }
html[data-theme='dark'] .sf-c-gold\:30, html.dark .sf-c-gold\:30 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 70%) }
html[data-theme='dark'] .sf-c-gold\:40, html.dark .sf-c-gold\:40 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 60%) }
html[data-theme='dark'] .sf-c-gold\:50, html.dark .sf-c-gold\:50 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-gold\:60, html.dark .sf-c-gold\:60 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 40%) }
html[data-theme='dark'] .sf-c-gold\:70, html.dark .sf-c-gold\:70 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 30%) }
html[data-theme='dark'] .sf-c-gold\:80, html.dark .sf-c-gold\:80 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 20%) }
html[data-theme='dark'] .sf-c-gold\:90, html.dark .sf-c-gold\:90 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 10%) }
html[data-theme='dark'] .sf-c-gold\:100, html.dark .sf-c-gold\:100 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 0%) }

html[data-theme='dark'] .sf-c-gold\:st, html.dark .sf-c-gold\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-gold\:0\:st, html.dark .sf-c-gold\:0\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 0%) }
html[data-theme='dark'] .sf-c-gold\:10\:st, html.dark .sf-c-gold\:10\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 10%) }
html[data-theme='dark'] .sf-c-gold\:20\:st, html.dark .sf-c-gold\:20\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 20%) }
html[data-theme='dark'] .sf-c-gold\:30\:st, html.dark .sf-c-gold\:30\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 30%) }
html[data-theme='dark'] .sf-c-gold\:40\:st, html.dark .sf-c-gold\:40\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 40%) }
html[data-theme='dark'] .sf-c-gold\:50\:st, html.dark .sf-c-gold\:50\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-gold\:60\:st, html.dark .sf-c-gold\:60\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 60%) }
html[data-theme='dark'] .sf-c-gold\:70\:st, html.dark .sf-c-gold\:70\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 70%) }
html[data-theme='dark'] .sf-c-gold\:80\:st, html.dark .sf-c-gold\:80\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 80%) }
html[data-theme='dark'] .sf-c-gold\:90\:st, html.dark .sf-c-gold\:90\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 90%) }
html[data-theme='dark'] .sf-c-gold\:100\:st, html.dark .sf-c-gold\:100\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-gold, html.dark .sf-c-txt-gold { color: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-gold\:0, html.dark .sf-c-txt-gold\:0 { color: hsl(51, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-gold\:10, html.dark .sf-c-txt-gold\:10 { color: hsl(51, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-gold\:20, html.dark .sf-c-txt-gold\:20 { color: hsl(51, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-gold\:30, html.dark .sf-c-txt-gold\:30 { color: hsl(51, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-gold\:40, html.dark .sf-c-txt-gold\:40 { color: hsl(51, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-gold\:50, html.dark .sf-c-txt-gold\:50 { color: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-gold\:60, html.dark .sf-c-txt-gold\:60 { color: hsl(51, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-gold\:70, html.dark .sf-c-txt-gold\:70 { color: hsl(51, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-gold\:80, html.dark .sf-c-txt-gold\:80 { color: hsl(51, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-gold\:90, html.dark .sf-c-txt-gold\:90 { color: hsl(51, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-gold\:100, html.dark .sf-c-txt-gold\:100 { color: hsl(51, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-gold\:st, html.dark .sf-c-txt-gold\:st { color: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-gold\:0\:st, html.dark .sf-c-txt-gold\:0\:st { color: hsl(51, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-gold\:10\:st, html.dark .sf-c-txt-gold\:10\:st { color: hsl(51, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-gold\:20\:st, html.dark .sf-c-txt-gold\:20\:st { color: hsl(51, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-gold\:30\:st, html.dark .sf-c-txt-gold\:30\:st { color: hsl(51, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-gold\:40\:st, html.dark .sf-c-txt-gold\:40\:st { color: hsl(51, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-gold\:50\:st, html.dark .sf-c-txt-gold\:50\:st { color: hsl(51, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-gold\:60\:st, html.dark .sf-c-txt-gold\:60\:st { color: hsl(51, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-gold\:70\:st, html.dark .sf-c-txt-gold\:70\:st { color: hsl(51, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-gold\:80\:st, html.dark .sf-c-txt-gold\:80\:st { color: hsl(51, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-gold\:90\:st, html.dark .sf-c-txt-gold\:90\:st { color: hsl(51, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-gold\:100\:st, html.dark .sf-c-txt-gold\:100\:st { color: hsl(51, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-gold, html.auto .sf-c-gold { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-gold\:0, html.auto .sf-c-gold\:0 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 100%) }
  html[data-theme='auto'] .sf-c-gold\:10, html.auto .sf-c-gold\:10 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 90%) }
  html[data-theme='auto'] .sf-c-gold\:20, html.auto .sf-c-gold\:20 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 80%) }
  html[data-theme='auto'] .sf-c-gold\:30, html.auto .sf-c-gold\:30 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 70%) }
  html[data-theme='auto'] .sf-c-gold\:40, html.auto .sf-c-gold\:40 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 60%) }
  html[data-theme='auto'] .sf-c-gold\:50, html.auto .sf-c-gold\:50 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-gold\:60, html.auto .sf-c-gold\:60 { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 40%) }
  html[data-theme='auto'] .sf-c-gold\:70, html.auto .sf-c-gold\:70 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 30%) }
  html[data-theme='auto'] .sf-c-gold\:80, html.auto .sf-c-gold\:80 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 20%) }
  html[data-theme='auto'] .sf-c-gold\:90, html.auto .sf-c-gold\:90 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 10%) }
  html[data-theme='auto'] .sf-c-gold\:100, html.auto .sf-c-gold\:100 { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 0%) }

  html[data-theme='auto'] .sf-c-gold\:st, html.auto .sf-c-gold\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-gold\:0\:st, html.auto .sf-c-gold\:0\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 0%) }
  html[data-theme='auto'] .sf-c-gold\:10\:st, html.auto .sf-c-gold\:10\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 10%) }
  html[data-theme='auto'] .sf-c-gold\:20\:st, html.auto .sf-c-gold\:20\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 20%) }
  html[data-theme='auto'] .sf-c-gold\:30\:st, html.auto .sf-c-gold\:30\:st { color: hsl(51, 100%, 90%); background: hsl(51, 100%, 30%) }
  html[data-theme='auto'] .sf-c-gold\:40\:st, html.auto .sf-c-gold\:40\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 40%) }
  html[data-theme='auto'] .sf-c-gold\:50\:st, html.auto .sf-c-gold\:50\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-gold\:60\:st, html.auto .sf-c-gold\:60\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 60%) }
  html[data-theme='auto'] .sf-c-gold\:70\:st, html.auto .sf-c-gold\:70\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 70%) }
  html[data-theme='auto'] .sf-c-gold\:80\:st, html.auto .sf-c-gold\:80\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 80%) }
  html[data-theme='auto'] .sf-c-gold\:90\:st, html.auto .sf-c-gold\:90\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 90%) }
  html[data-theme='auto'] .sf-c-gold\:100\:st, html.auto .sf-c-gold\:100\:st { color: hsl(51, 100%, 10%); background: hsl(51, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-gold, html.auto .sf-c-txt-gold { color: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gold\:0, html.auto .sf-c-txt-gold\:0 { color: hsl(51, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-gold\:10, html.auto .sf-c-txt-gold\:10 { color: hsl(51, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-gold\:20, html.auto .sf-c-txt-gold\:20 { color: hsl(51, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-gold\:30, html.auto .sf-c-txt-gold\:30 { color: hsl(51, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-gold\:40, html.auto .sf-c-txt-gold\:40 { color: hsl(51, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-gold\:50, html.auto .sf-c-txt-gold\:50 { color: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gold\:60, html.auto .sf-c-txt-gold\:60 { color: hsl(51, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-gold\:70, html.auto .sf-c-txt-gold\:70 { color: hsl(51, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-gold\:80, html.auto .sf-c-txt-gold\:80 { color: hsl(51, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-gold\:90, html.auto .sf-c-txt-gold\:90 { color: hsl(51, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-gold\:100, html.auto .sf-c-txt-gold\:100 { color: hsl(51, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-gold\:st, html.auto .sf-c-txt-gold\:st { color: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gold\:0\:st, html.auto .sf-c-txt-gold\:0\:st { color: hsl(51, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-gold\:10\:st, html.auto .sf-c-txt-gold\:10\:st { color: hsl(51, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-gold\:20\:st, html.auto .sf-c-txt-gold\:20\:st { color: hsl(51, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-gold\:30\:st, html.auto .sf-c-txt-gold\:30\:st { color: hsl(51, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-gold\:40\:st, html.auto .sf-c-txt-gold\:40\:st { color: hsl(51, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-gold\:50\:st, html.auto .sf-c-txt-gold\:50\:st { color: hsl(51, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-gold\:60\:st, html.auto .sf-c-txt-gold\:60\:st { color: hsl(51, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-gold\:70\:st, html.auto .sf-c-txt-gold\:70\:st { color: hsl(51, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-gold\:80\:st, html.auto .sf-c-txt-gold\:80\:st { color: hsl(51, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-gold\:90\:st, html.auto .sf-c-txt-gold\:90\:st { color: hsl(51, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-gold\:100\:st, html.auto .sf-c-txt-gold\:100\:st { color: hsl(51, 100%, 100%) }
}