.sf-var-grey {
  --sf-c-grey: 0 0% 50%;
  --sf-c-grey-0: 0 0% 0%;
  --sf-c-grey-10: 0 0% 10%;
  --sf-c-grey-20: 0 0% 20%;
  --sf-c-grey-30: 0 0% 30%;
  --sf-c-grey-40: 0 0% 40%;
  --sf-c-grey-50: 0 0% 50%;
  --sf-c-grey-60: 0 0% 60%;
  --sf-c-grey-70: 0 0% 70%;
  --sf-c-grey-80: 0 0% 80%;
  --sf-c-grey-90: 0 0% 90%;
  --sf-c-grey-100: 0 0% 100%;
}

.sf-c-grey, .sf-c-grey\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
.sf-c-grey\:0, .sf-c-grey\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
.sf-c-grey\:10, .sf-c-grey\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
.sf-c-grey\:20, .sf-c-grey\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
.sf-c-grey\:30, .sf-c-grey\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
.sf-c-grey\:40, .sf-c-grey\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
.sf-c-grey\:50, .sf-c-grey\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
.sf-c-grey\:60, .sf-c-grey\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
.sf-c-grey\:70, .sf-c-grey\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
.sf-c-grey\:80, .sf-c-grey\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
.sf-c-grey\:90, .sf-c-grey\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
.sf-c-grey\:100, .sf-c-grey\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

.sf-c-txt-grey { color: hsl(0, 0%, 50%) }
.sf-c-txt-grey\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-grey\:0, .sf-c-txt-grey\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-grey\:10, .sf-c-txt-grey\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-grey\:20, .sf-c-txt-grey\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-grey\:30, .sf-c-txt-grey\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-grey\:40, .sf-c-txt-grey\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-grey\:50, .sf-c-txt-grey\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-grey\:60, .sf-c-txt-grey\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-grey\:70, .sf-c-txt-grey\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-grey\:80, .sf-c-txt-grey\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-grey\:90, .sf-c-txt-grey\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-grey\:100, .sf-c-txt-grey\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-grey, html.dark .sf-c-grey { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-grey\:0, html.dark .sf-c-grey\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-grey\:10, html.dark .sf-c-grey\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-grey\:20, html.dark .sf-c-grey\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-grey\:30, html.dark .sf-c-grey\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-grey\:40, html.dark .sf-c-grey\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-grey\:50, html.dark .sf-c-grey\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-grey\:60, html.dark .sf-c-grey\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-grey\:70, html.dark .sf-c-grey\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-grey\:80, html.dark .sf-c-grey\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-grey\:90, html.dark .sf-c-grey\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-grey\:100, html.dark .sf-c-grey\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-grey\:st, html.dark .sf-c-grey\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-grey\:0\:st, html.dark .sf-c-grey\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-grey\:10\:st, html.dark .sf-c-grey\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-grey\:20\:st, html.dark .sf-c-grey\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-grey\:30\:st, html.dark .sf-c-grey\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-grey\:40\:st, html.dark .sf-c-grey\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-grey\:50\:st, html.dark .sf-c-grey\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-grey\:60\:st, html.dark .sf-c-grey\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-grey\:70\:st, html.dark .sf-c-grey\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-grey\:80\:st, html.dark .sf-c-grey\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-grey\:90\:st, html.dark .sf-c-grey\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-grey\:100\:st, html.dark .sf-c-grey\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-grey, html.dark .sf-c-txt-grey { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-grey\:0, html.dark .sf-c-txt-grey\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-grey\:10, html.dark .sf-c-txt-grey\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-grey\:20, html.dark .sf-c-txt-grey\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-grey\:30, html.dark .sf-c-txt-grey\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-grey\:40, html.dark .sf-c-txt-grey\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-grey\:50, html.dark .sf-c-txt-grey\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-grey\:60, html.dark .sf-c-txt-grey\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-grey\:70, html.dark .sf-c-txt-grey\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-grey\:80, html.dark .sf-c-txt-grey\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-grey\:90, html.dark .sf-c-txt-grey\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-grey\:100, html.dark .sf-c-txt-grey\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-grey\:st, html.dark .sf-c-txt-grey\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-grey\:0\:st, html.dark .sf-c-txt-grey\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-grey\:10\:st, html.dark .sf-c-txt-grey\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-grey\:20\:st, html.dark .sf-c-txt-grey\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-grey\:30\:st, html.dark .sf-c-txt-grey\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-grey\:40\:st, html.dark .sf-c-txt-grey\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-grey\:50\:st, html.dark .sf-c-txt-grey\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-grey\:60\:st, html.dark .sf-c-txt-grey\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-grey\:70\:st, html.dark .sf-c-txt-grey\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-grey\:80\:st, html.dark .sf-c-txt-grey\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-grey\:90\:st, html.dark .sf-c-txt-grey\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-grey\:100\:st, html.dark .sf-c-txt-grey\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-grey, html.auto .sf-c-grey { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-grey\:0, html.auto .sf-c-grey\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-grey\:10, html.auto .sf-c-grey\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-grey\:20, html.auto .sf-c-grey\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-grey\:30, html.auto .sf-c-grey\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-grey\:40, html.auto .sf-c-grey\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-grey\:50, html.auto .sf-c-grey\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-grey\:60, html.auto .sf-c-grey\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-grey\:70, html.auto .sf-c-grey\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-grey\:80, html.auto .sf-c-grey\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-grey\:90, html.auto .sf-c-grey\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-grey\:100, html.auto .sf-c-grey\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-grey\:st, html.auto .sf-c-grey\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-grey\:0\:st, html.auto .sf-c-grey\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-grey\:10\:st, html.auto .sf-c-grey\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-grey\:20\:st, html.auto .sf-c-grey\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-grey\:30\:st, html.auto .sf-c-grey\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-grey\:40\:st, html.auto .sf-c-grey\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-grey\:50\:st, html.auto .sf-c-grey\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-grey\:60\:st, html.auto .sf-c-grey\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-grey\:70\:st, html.auto .sf-c-grey\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-grey\:80\:st, html.auto .sf-c-grey\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-grey\:90\:st, html.auto .sf-c-grey\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-grey\:100\:st, html.auto .sf-c-grey\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-grey, html.auto .sf-c-txt-grey { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-grey\:0, html.auto .sf-c-txt-grey\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-grey\:10, html.auto .sf-c-txt-grey\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-grey\:20, html.auto .sf-c-txt-grey\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-grey\:30, html.auto .sf-c-txt-grey\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-grey\:40, html.auto .sf-c-txt-grey\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-grey\:50, html.auto .sf-c-txt-grey\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-grey\:60, html.auto .sf-c-txt-grey\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-grey\:70, html.auto .sf-c-txt-grey\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-grey\:80, html.auto .sf-c-txt-grey\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-grey\:90, html.auto .sf-c-txt-grey\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-grey\:100, html.auto .sf-c-txt-grey\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-grey\:st, html.auto .sf-c-txt-grey\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-grey\:0\:st, html.auto .sf-c-txt-grey\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-grey\:10\:st, html.auto .sf-c-txt-grey\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-grey\:20\:st, html.auto .sf-c-txt-grey\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-grey\:30\:st, html.auto .sf-c-txt-grey\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-grey\:40\:st, html.auto .sf-c-txt-grey\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-grey\:50\:st, html.auto .sf-c-txt-grey\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-grey\:60\:st, html.auto .sf-c-txt-grey\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-grey\:70\:st, html.auto .sf-c-txt-grey\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-grey\:80\:st, html.auto .sf-c-txt-grey\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-grey\:90\:st, html.auto .sf-c-txt-grey\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-grey\:100\:st, html.auto .sf-c-txt-grey\:100\:st { color: hsl(0, 0%, 100%) }
}