.sf-var-hotpink {
  --sf-c-hotpink: 330 100% 71%;
  --sf-c-hotpink-0: 330 100% 0%;
  --sf-c-hotpink-10: 330 100% 10%;
  --sf-c-hotpink-20: 330 100% 20%;
  --sf-c-hotpink-30: 330 100% 30%;
  --sf-c-hotpink-40: 330 100% 40%;
  --sf-c-hotpink-50: 330 100% 50%;
  --sf-c-hotpink-60: 330 100% 60%;
  --sf-c-hotpink-70: 330 100% 70%;
  --sf-c-hotpink-80: 330 100% 80%;
  --sf-c-hotpink-90: 330 100% 90%;
  --sf-c-hotpink-100: 330 100% 100%;
}

.sf-c-hotpink, .sf-c-hotpink\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 71%) }
.sf-c-hotpink\:0, .sf-c-hotpink\:0\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 0%) }
.sf-c-hotpink\:10, .sf-c-hotpink\:10\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 10%) }
.sf-c-hotpink\:20, .sf-c-hotpink\:20\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 20%) }
.sf-c-hotpink\:30, .sf-c-hotpink\:30\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 30%) }
.sf-c-hotpink\:40, .sf-c-hotpink\:40\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 40%) }
.sf-c-hotpink\:50, .sf-c-hotpink\:50\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 50%) }
.sf-c-hotpink\:60, .sf-c-hotpink\:60\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 60%) }
.sf-c-hotpink\:70, .sf-c-hotpink\:70\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 70%) }
.sf-c-hotpink\:80, .sf-c-hotpink\:80\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 80%) }
.sf-c-hotpink\:90, .sf-c-hotpink\:90\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 90%) }
.sf-c-hotpink\:100, .sf-c-hotpink\:100\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 100%) }

.sf-c-txt-hotpink { color: hsl(330, 100%, 10%) }
.sf-c-txt-hotpink\:st { color: hsl(330, 100%, 71%) }
.sf-c-txt-hotpink\:0, .sf-c-txt-hotpink\:0\:st { color: hsl(330, 100%, 0%) }
.sf-c-txt-hotpink\:10, .sf-c-txt-hotpink\:10\:st { color: hsl(330, 100%, 10%) }
.sf-c-txt-hotpink\:20, .sf-c-txt-hotpink\:20\:st { color: hsl(330, 100%, 20%) }
.sf-c-txt-hotpink\:30, .sf-c-txt-hotpink\:30\:st { color: hsl(330, 100%, 30%) }
.sf-c-txt-hotpink\:40, .sf-c-txt-hotpink\:40\:st { color: hsl(330, 100%, 40%) }
.sf-c-txt-hotpink\:50, .sf-c-txt-hotpink\:50\:st { color: hsl(330, 100%, 50%) }
.sf-c-txt-hotpink\:60, .sf-c-txt-hotpink\:60\:st { color: hsl(330, 100%, 60%) }
.sf-c-txt-hotpink\:70, .sf-c-txt-hotpink\:70\:st { color: hsl(330, 100%, 70%) }
.sf-c-txt-hotpink\:80, .sf-c-txt-hotpink\:80\:st { color: hsl(330, 100%, 80%) }
.sf-c-txt-hotpink\:90, .sf-c-txt-hotpink\:90\:st { color: hsl(330, 100%, 90%) }
.sf-c-txt-hotpink\:100, .sf-c-txt-hotpink\:100\:st { color: hsl(330, 100%, 100%) }

html[data-theme='dark'] .sf-c-hotpink, html.dark .sf-c-hotpink { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 29%) }
html[data-theme='dark'] .sf-c-hotpink\:0, html.dark .sf-c-hotpink\:0 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 100%) }
html[data-theme='dark'] .sf-c-hotpink\:10, html.dark .sf-c-hotpink\:10 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 90%) }
html[data-theme='dark'] .sf-c-hotpink\:20, html.dark .sf-c-hotpink\:20 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 80%) }
html[data-theme='dark'] .sf-c-hotpink\:30, html.dark .sf-c-hotpink\:30 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 70%) }
html[data-theme='dark'] .sf-c-hotpink\:40, html.dark .sf-c-hotpink\:40 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 60%) }
html[data-theme='dark'] .sf-c-hotpink\:50, html.dark .sf-c-hotpink\:50 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 50%) }
html[data-theme='dark'] .sf-c-hotpink\:60, html.dark .sf-c-hotpink\:60 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 40%) }
html[data-theme='dark'] .sf-c-hotpink\:70, html.dark .sf-c-hotpink\:70 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 30%) }
html[data-theme='dark'] .sf-c-hotpink\:80, html.dark .sf-c-hotpink\:80 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 20%) }
html[data-theme='dark'] .sf-c-hotpink\:90, html.dark .sf-c-hotpink\:90 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 10%) }
html[data-theme='dark'] .sf-c-hotpink\:100, html.dark .sf-c-hotpink\:100 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 0%) }

html[data-theme='dark'] .sf-c-hotpink\:st, html.dark .sf-c-hotpink\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 71%) }
html[data-theme='dark'] .sf-c-hotpink\:0\:st, html.dark .sf-c-hotpink\:0\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 0%) }
html[data-theme='dark'] .sf-c-hotpink\:10\:st, html.dark .sf-c-hotpink\:10\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 10%) }
html[data-theme='dark'] .sf-c-hotpink\:20\:st, html.dark .sf-c-hotpink\:20\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 20%) }
html[data-theme='dark'] .sf-c-hotpink\:30\:st, html.dark .sf-c-hotpink\:30\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 30%) }
html[data-theme='dark'] .sf-c-hotpink\:40\:st, html.dark .sf-c-hotpink\:40\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 40%) }
html[data-theme='dark'] .sf-c-hotpink\:50\:st, html.dark .sf-c-hotpink\:50\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 50%) }
html[data-theme='dark'] .sf-c-hotpink\:60\:st, html.dark .sf-c-hotpink\:60\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 60%) }
html[data-theme='dark'] .sf-c-hotpink\:70\:st, html.dark .sf-c-hotpink\:70\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 70%) }
html[data-theme='dark'] .sf-c-hotpink\:80\:st, html.dark .sf-c-hotpink\:80\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 80%) }
html[data-theme='dark'] .sf-c-hotpink\:90\:st, html.dark .sf-c-hotpink\:90\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 90%) }
html[data-theme='dark'] .sf-c-hotpink\:100\:st, html.dark .sf-c-hotpink\:100\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-hotpink, html.dark .sf-c-txt-hotpink { color: hsl(330, 100%, 71%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:0, html.dark .sf-c-txt-hotpink\:0 { color: hsl(330, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:10, html.dark .sf-c-txt-hotpink\:10 { color: hsl(330, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:20, html.dark .sf-c-txt-hotpink\:20 { color: hsl(330, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:30, html.dark .sf-c-txt-hotpink\:30 { color: hsl(330, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:40, html.dark .sf-c-txt-hotpink\:40 { color: hsl(330, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:50, html.dark .sf-c-txt-hotpink\:50 { color: hsl(330, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:60, html.dark .sf-c-txt-hotpink\:60 { color: hsl(330, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:70, html.dark .sf-c-txt-hotpink\:70 { color: hsl(330, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:80, html.dark .sf-c-txt-hotpink\:80 { color: hsl(330, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:90, html.dark .sf-c-txt-hotpink\:90 { color: hsl(330, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:100, html.dark .sf-c-txt-hotpink\:100 { color: hsl(330, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-hotpink\:st, html.dark .sf-c-txt-hotpink\:st { color: hsl(330, 100%, 71%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:0\:st, html.dark .sf-c-txt-hotpink\:0\:st { color: hsl(330, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:10\:st, html.dark .sf-c-txt-hotpink\:10\:st { color: hsl(330, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:20\:st, html.dark .sf-c-txt-hotpink\:20\:st { color: hsl(330, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:30\:st, html.dark .sf-c-txt-hotpink\:30\:st { color: hsl(330, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:40\:st, html.dark .sf-c-txt-hotpink\:40\:st { color: hsl(330, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:50\:st, html.dark .sf-c-txt-hotpink\:50\:st { color: hsl(330, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:60\:st, html.dark .sf-c-txt-hotpink\:60\:st { color: hsl(330, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:70\:st, html.dark .sf-c-txt-hotpink\:70\:st { color: hsl(330, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:80\:st, html.dark .sf-c-txt-hotpink\:80\:st { color: hsl(330, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:90\:st, html.dark .sf-c-txt-hotpink\:90\:st { color: hsl(330, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-hotpink\:100\:st, html.dark .sf-c-txt-hotpink\:100\:st { color: hsl(330, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-hotpink, html.auto .sf-c-hotpink { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 29%) }
  html[data-theme='auto'] .sf-c-hotpink\:0, html.auto .sf-c-hotpink\:0 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 100%) }
  html[data-theme='auto'] .sf-c-hotpink\:10, html.auto .sf-c-hotpink\:10 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 90%) }
  html[data-theme='auto'] .sf-c-hotpink\:20, html.auto .sf-c-hotpink\:20 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 80%) }
  html[data-theme='auto'] .sf-c-hotpink\:30, html.auto .sf-c-hotpink\:30 { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 70%) }
  html[data-theme='auto'] .sf-c-hotpink\:40, html.auto .sf-c-hotpink\:40 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 60%) }
  html[data-theme='auto'] .sf-c-hotpink\:50, html.auto .sf-c-hotpink\:50 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 50%) }
  html[data-theme='auto'] .sf-c-hotpink\:60, html.auto .sf-c-hotpink\:60 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 40%) }
  html[data-theme='auto'] .sf-c-hotpink\:70, html.auto .sf-c-hotpink\:70 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 30%) }
  html[data-theme='auto'] .sf-c-hotpink\:80, html.auto .sf-c-hotpink\:80 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 20%) }
  html[data-theme='auto'] .sf-c-hotpink\:90, html.auto .sf-c-hotpink\:90 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 10%) }
  html[data-theme='auto'] .sf-c-hotpink\:100, html.auto .sf-c-hotpink\:100 { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 0%) }

  html[data-theme='auto'] .sf-c-hotpink\:st, html.auto .sf-c-hotpink\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 71%) }
  html[data-theme='auto'] .sf-c-hotpink\:0\:st, html.auto .sf-c-hotpink\:0\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 0%) }
  html[data-theme='auto'] .sf-c-hotpink\:10\:st, html.auto .sf-c-hotpink\:10\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 10%) }
  html[data-theme='auto'] .sf-c-hotpink\:20\:st, html.auto .sf-c-hotpink\:20\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 20%) }
  html[data-theme='auto'] .sf-c-hotpink\:30\:st, html.auto .sf-c-hotpink\:30\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 30%) }
  html[data-theme='auto'] .sf-c-hotpink\:40\:st, html.auto .sf-c-hotpink\:40\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 40%) }
  html[data-theme='auto'] .sf-c-hotpink\:50\:st, html.auto .sf-c-hotpink\:50\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 50%) }
  html[data-theme='auto'] .sf-c-hotpink\:60\:st, html.auto .sf-c-hotpink\:60\:st { color: hsl(330, 100%, 90%); background: hsl(330, 100%, 60%) }
  html[data-theme='auto'] .sf-c-hotpink\:70\:st, html.auto .sf-c-hotpink\:70\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 70%) }
  html[data-theme='auto'] .sf-c-hotpink\:80\:st, html.auto .sf-c-hotpink\:80\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 80%) }
  html[data-theme='auto'] .sf-c-hotpink\:90\:st, html.auto .sf-c-hotpink\:90\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 90%) }
  html[data-theme='auto'] .sf-c-hotpink\:100\:st, html.auto .sf-c-hotpink\:100\:st { color: hsl(330, 100%, 10%); background: hsl(330, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-hotpink, html.auto .sf-c-txt-hotpink { color: hsl(330, 100%, 71%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:0, html.auto .sf-c-txt-hotpink\:0 { color: hsl(330, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:10, html.auto .sf-c-txt-hotpink\:10 { color: hsl(330, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:20, html.auto .sf-c-txt-hotpink\:20 { color: hsl(330, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:30, html.auto .sf-c-txt-hotpink\:30 { color: hsl(330, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:40, html.auto .sf-c-txt-hotpink\:40 { color: hsl(330, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:50, html.auto .sf-c-txt-hotpink\:50 { color: hsl(330, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:60, html.auto .sf-c-txt-hotpink\:60 { color: hsl(330, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:70, html.auto .sf-c-txt-hotpink\:70 { color: hsl(330, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:80, html.auto .sf-c-txt-hotpink\:80 { color: hsl(330, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:90, html.auto .sf-c-txt-hotpink\:90 { color: hsl(330, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:100, html.auto .sf-c-txt-hotpink\:100 { color: hsl(330, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-hotpink\:st, html.auto .sf-c-txt-hotpink\:st { color: hsl(330, 100%, 71%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:0\:st, html.auto .sf-c-txt-hotpink\:0\:st { color: hsl(330, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:10\:st, html.auto .sf-c-txt-hotpink\:10\:st { color: hsl(330, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:20\:st, html.auto .sf-c-txt-hotpink\:20\:st { color: hsl(330, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:30\:st, html.auto .sf-c-txt-hotpink\:30\:st { color: hsl(330, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:40\:st, html.auto .sf-c-txt-hotpink\:40\:st { color: hsl(330, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:50\:st, html.auto .sf-c-txt-hotpink\:50\:st { color: hsl(330, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:60\:st, html.auto .sf-c-txt-hotpink\:60\:st { color: hsl(330, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:70\:st, html.auto .sf-c-txt-hotpink\:70\:st { color: hsl(330, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:80\:st, html.auto .sf-c-txt-hotpink\:80\:st { color: hsl(330, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:90\:st, html.auto .sf-c-txt-hotpink\:90\:st { color: hsl(330, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-hotpink\:100\:st, html.auto .sf-c-txt-hotpink\:100\:st { color: hsl(330, 100%, 100%) }
}