.sf-var-indianred {
  --sf-c-indianred: 0 53% 58%;
  --sf-c-indianred-0: 0 53% 0%;
  --sf-c-indianred-10: 0 53% 10%;
  --sf-c-indianred-20: 0 53% 20%;
  --sf-c-indianred-30: 0 53% 30%;
  --sf-c-indianred-40: 0 53% 40%;
  --sf-c-indianred-50: 0 53% 50%;
  --sf-c-indianred-60: 0 53% 60%;
  --sf-c-indianred-70: 0 53% 70%;
  --sf-c-indianred-80: 0 53% 80%;
  --sf-c-indianred-90: 0 53% 90%;
  --sf-c-indianred-100: 0 53% 100%;
}

.sf-c-indianred, .sf-c-indianred\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 58%) }
.sf-c-indianred\:0, .sf-c-indianred\:0\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 0%) }
.sf-c-indianred\:10, .sf-c-indianred\:10\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 10%) }
.sf-c-indianred\:20, .sf-c-indianred\:20\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 20%) }
.sf-c-indianred\:30, .sf-c-indianred\:30\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 30%) }
.sf-c-indianred\:40, .sf-c-indianred\:40\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 40%) }
.sf-c-indianred\:50, .sf-c-indianred\:50\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 50%) }
.sf-c-indianred\:60, .sf-c-indianred\:60\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 60%) }
.sf-c-indianred\:70, .sf-c-indianred\:70\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 70%) }
.sf-c-indianred\:80, .sf-c-indianred\:80\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 80%) }
.sf-c-indianred\:90, .sf-c-indianred\:90\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 90%) }
.sf-c-indianred\:100, .sf-c-indianred\:100\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 100%) }

.sf-c-txt-indianred { color: hsl(0, 53%, 10%) }
.sf-c-txt-indianred\:st { color: hsl(0, 53%, 58%) }
.sf-c-txt-indianred\:0, .sf-c-txt-indianred\:0\:st { color: hsl(0, 53%, 0%) }
.sf-c-txt-indianred\:10, .sf-c-txt-indianred\:10\:st { color: hsl(0, 53%, 10%) }
.sf-c-txt-indianred\:20, .sf-c-txt-indianred\:20\:st { color: hsl(0, 53%, 20%) }
.sf-c-txt-indianred\:30, .sf-c-txt-indianred\:30\:st { color: hsl(0, 53%, 30%) }
.sf-c-txt-indianred\:40, .sf-c-txt-indianred\:40\:st { color: hsl(0, 53%, 40%) }
.sf-c-txt-indianred\:50, .sf-c-txt-indianred\:50\:st { color: hsl(0, 53%, 50%) }
.sf-c-txt-indianred\:60, .sf-c-txt-indianred\:60\:st { color: hsl(0, 53%, 60%) }
.sf-c-txt-indianred\:70, .sf-c-txt-indianred\:70\:st { color: hsl(0, 53%, 70%) }
.sf-c-txt-indianred\:80, .sf-c-txt-indianred\:80\:st { color: hsl(0, 53%, 80%) }
.sf-c-txt-indianred\:90, .sf-c-txt-indianred\:90\:st { color: hsl(0, 53%, 90%) }
.sf-c-txt-indianred\:100, .sf-c-txt-indianred\:100\:st { color: hsl(0, 53%, 100%) }

html[data-theme='dark'] .sf-c-indianred, html.dark .sf-c-indianred { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 42%) }
html[data-theme='dark'] .sf-c-indianred\:0, html.dark .sf-c-indianred\:0 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 100%) }
html[data-theme='dark'] .sf-c-indianred\:10, html.dark .sf-c-indianred\:10 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 90%) }
html[data-theme='dark'] .sf-c-indianred\:20, html.dark .sf-c-indianred\:20 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 80%) }
html[data-theme='dark'] .sf-c-indianred\:30, html.dark .sf-c-indianred\:30 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 70%) }
html[data-theme='dark'] .sf-c-indianred\:40, html.dark .sf-c-indianred\:40 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 60%) }
html[data-theme='dark'] .sf-c-indianred\:50, html.dark .sf-c-indianred\:50 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 50%) }
html[data-theme='dark'] .sf-c-indianred\:60, html.dark .sf-c-indianred\:60 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 40%) }
html[data-theme='dark'] .sf-c-indianred\:70, html.dark .sf-c-indianred\:70 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 30%) }
html[data-theme='dark'] .sf-c-indianred\:80, html.dark .sf-c-indianred\:80 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 20%) }
html[data-theme='dark'] .sf-c-indianred\:90, html.dark .sf-c-indianred\:90 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 10%) }
html[data-theme='dark'] .sf-c-indianred\:100, html.dark .sf-c-indianred\:100 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 0%) }

html[data-theme='dark'] .sf-c-indianred\:st, html.dark .sf-c-indianred\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 58%) }
html[data-theme='dark'] .sf-c-indianred\:0\:st, html.dark .sf-c-indianred\:0\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 0%) }
html[data-theme='dark'] .sf-c-indianred\:10\:st, html.dark .sf-c-indianred\:10\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 10%) }
html[data-theme='dark'] .sf-c-indianred\:20\:st, html.dark .sf-c-indianred\:20\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 20%) }
html[data-theme='dark'] .sf-c-indianred\:30\:st, html.dark .sf-c-indianred\:30\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 30%) }
html[data-theme='dark'] .sf-c-indianred\:40\:st, html.dark .sf-c-indianred\:40\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 40%) }
html[data-theme='dark'] .sf-c-indianred\:50\:st, html.dark .sf-c-indianred\:50\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 50%) }
html[data-theme='dark'] .sf-c-indianred\:60\:st, html.dark .sf-c-indianred\:60\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 60%) }
html[data-theme='dark'] .sf-c-indianred\:70\:st, html.dark .sf-c-indianred\:70\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 70%) }
html[data-theme='dark'] .sf-c-indianred\:80\:st, html.dark .sf-c-indianred\:80\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 80%) }
html[data-theme='dark'] .sf-c-indianred\:90\:st, html.dark .sf-c-indianred\:90\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 90%) }
html[data-theme='dark'] .sf-c-indianred\:100\:st, html.dark .sf-c-indianred\:100\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 100%) }

html[data-theme='dark'] .sf-c-txt-indianred, html.dark .sf-c-txt-indianred { color: hsl(0, 53%, 58%) }
html[data-theme='dark'] .sf-c-txt-indianred\:0, html.dark .sf-c-txt-indianred\:0 { color: hsl(0, 53%, 100%) }
html[data-theme='dark'] .sf-c-txt-indianred\:10, html.dark .sf-c-txt-indianred\:10 { color: hsl(0, 53%, 90%) }
html[data-theme='dark'] .sf-c-txt-indianred\:20, html.dark .sf-c-txt-indianred\:20 { color: hsl(0, 53%, 80%) }
html[data-theme='dark'] .sf-c-txt-indianred\:30, html.dark .sf-c-txt-indianred\:30 { color: hsl(0, 53%, 70%) }
html[data-theme='dark'] .sf-c-txt-indianred\:40, html.dark .sf-c-txt-indianred\:40 { color: hsl(0, 53%, 60%) }
html[data-theme='dark'] .sf-c-txt-indianred\:50, html.dark .sf-c-txt-indianred\:50 { color: hsl(0, 53%, 50%) }
html[data-theme='dark'] .sf-c-txt-indianred\:60, html.dark .sf-c-txt-indianred\:60 { color: hsl(0, 53%, 40%) }
html[data-theme='dark'] .sf-c-txt-indianred\:70, html.dark .sf-c-txt-indianred\:70 { color: hsl(0, 53%, 30%) }
html[data-theme='dark'] .sf-c-txt-indianred\:80, html.dark .sf-c-txt-indianred\:80 { color: hsl(0, 53%, 20%) }
html[data-theme='dark'] .sf-c-txt-indianred\:90, html.dark .sf-c-txt-indianred\:90 { color: hsl(0, 53%, 10%) }
html[data-theme='dark'] .sf-c-txt-indianred\:100, html.dark .sf-c-txt-indianred\:100 { color: hsl(0, 53%, 0%) }

html[data-theme='dark'] .sf-c-txt-indianred\:st, html.dark .sf-c-txt-indianred\:st { color: hsl(0, 53%, 58%) }
html[data-theme='dark'] .sf-c-txt-indianred\:0\:st, html.dark .sf-c-txt-indianred\:0\:st { color: hsl(0, 53%, 0%) }
html[data-theme='dark'] .sf-c-txt-indianred\:10\:st, html.dark .sf-c-txt-indianred\:10\:st { color: hsl(0, 53%, 10%) }
html[data-theme='dark'] .sf-c-txt-indianred\:20\:st, html.dark .sf-c-txt-indianred\:20\:st { color: hsl(0, 53%, 20%) }
html[data-theme='dark'] .sf-c-txt-indianred\:30\:st, html.dark .sf-c-txt-indianred\:30\:st { color: hsl(0, 53%, 30%) }
html[data-theme='dark'] .sf-c-txt-indianred\:40\:st, html.dark .sf-c-txt-indianred\:40\:st { color: hsl(0, 53%, 40%) }
html[data-theme='dark'] .sf-c-txt-indianred\:50\:st, html.dark .sf-c-txt-indianred\:50\:st { color: hsl(0, 53%, 50%) }
html[data-theme='dark'] .sf-c-txt-indianred\:60\:st, html.dark .sf-c-txt-indianred\:60\:st { color: hsl(0, 53%, 60%) }
html[data-theme='dark'] .sf-c-txt-indianred\:70\:st, html.dark .sf-c-txt-indianred\:70\:st { color: hsl(0, 53%, 70%) }
html[data-theme='dark'] .sf-c-txt-indianred\:80\:st, html.dark .sf-c-txt-indianred\:80\:st { color: hsl(0, 53%, 80%) }
html[data-theme='dark'] .sf-c-txt-indianred\:90\:st, html.dark .sf-c-txt-indianred\:90\:st { color: hsl(0, 53%, 90%) }
html[data-theme='dark'] .sf-c-txt-indianred\:100\:st, html.dark .sf-c-txt-indianred\:100\:st { color: hsl(0, 53%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-indianred, html.auto .sf-c-indianred { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 42%) }
  html[data-theme='auto'] .sf-c-indianred\:0, html.auto .sf-c-indianred\:0 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 100%) }
  html[data-theme='auto'] .sf-c-indianred\:10, html.auto .sf-c-indianred\:10 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 90%) }
  html[data-theme='auto'] .sf-c-indianred\:20, html.auto .sf-c-indianred\:20 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 80%) }
  html[data-theme='auto'] .sf-c-indianred\:30, html.auto .sf-c-indianred\:30 { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 70%) }
  html[data-theme='auto'] .sf-c-indianred\:40, html.auto .sf-c-indianred\:40 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 60%) }
  html[data-theme='auto'] .sf-c-indianred\:50, html.auto .sf-c-indianred\:50 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 50%) }
  html[data-theme='auto'] .sf-c-indianred\:60, html.auto .sf-c-indianred\:60 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 40%) }
  html[data-theme='auto'] .sf-c-indianred\:70, html.auto .sf-c-indianred\:70 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 30%) }
  html[data-theme='auto'] .sf-c-indianred\:80, html.auto .sf-c-indianred\:80 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 20%) }
  html[data-theme='auto'] .sf-c-indianred\:90, html.auto .sf-c-indianred\:90 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 10%) }
  html[data-theme='auto'] .sf-c-indianred\:100, html.auto .sf-c-indianred\:100 { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 0%) }

  html[data-theme='auto'] .sf-c-indianred\:st, html.auto .sf-c-indianred\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 58%) }
  html[data-theme='auto'] .sf-c-indianred\:0\:st, html.auto .sf-c-indianred\:0\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 0%) }
  html[data-theme='auto'] .sf-c-indianred\:10\:st, html.auto .sf-c-indianred\:10\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 10%) }
  html[data-theme='auto'] .sf-c-indianred\:20\:st, html.auto .sf-c-indianred\:20\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 20%) }
  html[data-theme='auto'] .sf-c-indianred\:30\:st, html.auto .sf-c-indianred\:30\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 30%) }
  html[data-theme='auto'] .sf-c-indianred\:40\:st, html.auto .sf-c-indianred\:40\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 40%) }
  html[data-theme='auto'] .sf-c-indianred\:50\:st, html.auto .sf-c-indianred\:50\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 50%) }
  html[data-theme='auto'] .sf-c-indianred\:60\:st, html.auto .sf-c-indianred\:60\:st { color: hsl(0, 53%, 90%); background: hsl(0, 53%, 60%) }
  html[data-theme='auto'] .sf-c-indianred\:70\:st, html.auto .sf-c-indianred\:70\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 70%) }
  html[data-theme='auto'] .sf-c-indianred\:80\:st, html.auto .sf-c-indianred\:80\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 80%) }
  html[data-theme='auto'] .sf-c-indianred\:90\:st, html.auto .sf-c-indianred\:90\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 90%) }
  html[data-theme='auto'] .sf-c-indianred\:100\:st, html.auto .sf-c-indianred\:100\:st { color: hsl(0, 53%, 10%); background: hsl(0, 53%, 100%) }

  html[data-theme='auto'] .sf-c-txt-indianred, html.auto .sf-c-txt-indianred { color: hsl(0, 53%, 58%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:0, html.auto .sf-c-txt-indianred\:0 { color: hsl(0, 53%, 100%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:10, html.auto .sf-c-txt-indianred\:10 { color: hsl(0, 53%, 90%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:20, html.auto .sf-c-txt-indianred\:20 { color: hsl(0, 53%, 80%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:30, html.auto .sf-c-txt-indianred\:30 { color: hsl(0, 53%, 70%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:40, html.auto .sf-c-txt-indianred\:40 { color: hsl(0, 53%, 60%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:50, html.auto .sf-c-txt-indianred\:50 { color: hsl(0, 53%, 50%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:60, html.auto .sf-c-txt-indianred\:60 { color: hsl(0, 53%, 40%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:70, html.auto .sf-c-txt-indianred\:70 { color: hsl(0, 53%, 30%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:80, html.auto .sf-c-txt-indianred\:80 { color: hsl(0, 53%, 20%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:90, html.auto .sf-c-txt-indianred\:90 { color: hsl(0, 53%, 10%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:100, html.auto .sf-c-txt-indianred\:100 { color: hsl(0, 53%, 0%) }

  html[data-theme='auto'] .sf-c-txt-indianred\:st, html.auto .sf-c-txt-indianred\:st { color: hsl(0, 53%, 58%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:0\:st, html.auto .sf-c-txt-indianred\:0\:st { color: hsl(0, 53%, 0%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:10\:st, html.auto .sf-c-txt-indianred\:10\:st { color: hsl(0, 53%, 10%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:20\:st, html.auto .sf-c-txt-indianred\:20\:st { color: hsl(0, 53%, 20%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:30\:st, html.auto .sf-c-txt-indianred\:30\:st { color: hsl(0, 53%, 30%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:40\:st, html.auto .sf-c-txt-indianred\:40\:st { color: hsl(0, 53%, 40%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:50\:st, html.auto .sf-c-txt-indianred\:50\:st { color: hsl(0, 53%, 50%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:60\:st, html.auto .sf-c-txt-indianred\:60\:st { color: hsl(0, 53%, 60%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:70\:st, html.auto .sf-c-txt-indianred\:70\:st { color: hsl(0, 53%, 70%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:80\:st, html.auto .sf-c-txt-indianred\:80\:st { color: hsl(0, 53%, 80%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:90\:st, html.auto .sf-c-txt-indianred\:90\:st { color: hsl(0, 53%, 90%) }
  html[data-theme='auto'] .sf-c-txt-indianred\:100\:st, html.auto .sf-c-txt-indianred\:100\:st { color: hsl(0, 53%, 100%) }
}