.sf-var-lavender {
  --sf-c-lavender: 240 67% 94%;
  --sf-c-lavender-0: 240 67% 0%;
  --sf-c-lavender-10: 240 67% 10%;
  --sf-c-lavender-20: 240 67% 20%;
  --sf-c-lavender-30: 240 67% 30%;
  --sf-c-lavender-40: 240 67% 40%;
  --sf-c-lavender-50: 240 67% 50%;
  --sf-c-lavender-60: 240 67% 60%;
  --sf-c-lavender-70: 240 67% 70%;
  --sf-c-lavender-80: 240 67% 80%;
  --sf-c-lavender-90: 240 67% 90%;
  --sf-c-lavender-100: 240 67% 100%;
}

.sf-c-lavender, .sf-c-lavender\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 94%) }
.sf-c-lavender\:0, .sf-c-lavender\:0\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 0%) }
.sf-c-lavender\:10, .sf-c-lavender\:10\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 10%) }
.sf-c-lavender\:20, .sf-c-lavender\:20\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 20%) }
.sf-c-lavender\:30, .sf-c-lavender\:30\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 30%) }
.sf-c-lavender\:40, .sf-c-lavender\:40\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 40%) }
.sf-c-lavender\:50, .sf-c-lavender\:50\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 50%) }
.sf-c-lavender\:60, .sf-c-lavender\:60\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 60%) }
.sf-c-lavender\:70, .sf-c-lavender\:70\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 70%) }
.sf-c-lavender\:80, .sf-c-lavender\:80\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 80%) }
.sf-c-lavender\:90, .sf-c-lavender\:90\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 90%) }
.sf-c-lavender\:100, .sf-c-lavender\:100\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 100%) }

.sf-c-txt-lavender { color: hsl(240, 67%, 10%) }
.sf-c-txt-lavender\:st { color: hsl(240, 67%, 94%) }
.sf-c-txt-lavender\:0, .sf-c-txt-lavender\:0\:st { color: hsl(240, 67%, 0%) }
.sf-c-txt-lavender\:10, .sf-c-txt-lavender\:10\:st { color: hsl(240, 67%, 10%) }
.sf-c-txt-lavender\:20, .sf-c-txt-lavender\:20\:st { color: hsl(240, 67%, 20%) }
.sf-c-txt-lavender\:30, .sf-c-txt-lavender\:30\:st { color: hsl(240, 67%, 30%) }
.sf-c-txt-lavender\:40, .sf-c-txt-lavender\:40\:st { color: hsl(240, 67%, 40%) }
.sf-c-txt-lavender\:50, .sf-c-txt-lavender\:50\:st { color: hsl(240, 67%, 50%) }
.sf-c-txt-lavender\:60, .sf-c-txt-lavender\:60\:st { color: hsl(240, 67%, 60%) }
.sf-c-txt-lavender\:70, .sf-c-txt-lavender\:70\:st { color: hsl(240, 67%, 70%) }
.sf-c-txt-lavender\:80, .sf-c-txt-lavender\:80\:st { color: hsl(240, 67%, 80%) }
.sf-c-txt-lavender\:90, .sf-c-txt-lavender\:90\:st { color: hsl(240, 67%, 90%) }
.sf-c-txt-lavender\:100, .sf-c-txt-lavender\:100\:st { color: hsl(240, 67%, 100%) }

html[data-theme='dark'] .sf-c-lavender, html.dark .sf-c-lavender { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 6%) }
html[data-theme='dark'] .sf-c-lavender\:0, html.dark .sf-c-lavender\:0 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 100%) }
html[data-theme='dark'] .sf-c-lavender\:10, html.dark .sf-c-lavender\:10 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 90%) }
html[data-theme='dark'] .sf-c-lavender\:20, html.dark .sf-c-lavender\:20 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 80%) }
html[data-theme='dark'] .sf-c-lavender\:30, html.dark .sf-c-lavender\:30 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 70%) }
html[data-theme='dark'] .sf-c-lavender\:40, html.dark .sf-c-lavender\:40 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 60%) }
html[data-theme='dark'] .sf-c-lavender\:50, html.dark .sf-c-lavender\:50 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 50%) }
html[data-theme='dark'] .sf-c-lavender\:60, html.dark .sf-c-lavender\:60 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 40%) }
html[data-theme='dark'] .sf-c-lavender\:70, html.dark .sf-c-lavender\:70 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 30%) }
html[data-theme='dark'] .sf-c-lavender\:80, html.dark .sf-c-lavender\:80 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 20%) }
html[data-theme='dark'] .sf-c-lavender\:90, html.dark .sf-c-lavender\:90 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 10%) }
html[data-theme='dark'] .sf-c-lavender\:100, html.dark .sf-c-lavender\:100 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 0%) }

html[data-theme='dark'] .sf-c-lavender\:st, html.dark .sf-c-lavender\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 94%) }
html[data-theme='dark'] .sf-c-lavender\:0\:st, html.dark .sf-c-lavender\:0\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 0%) }
html[data-theme='dark'] .sf-c-lavender\:10\:st, html.dark .sf-c-lavender\:10\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 10%) }
html[data-theme='dark'] .sf-c-lavender\:20\:st, html.dark .sf-c-lavender\:20\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 20%) }
html[data-theme='dark'] .sf-c-lavender\:30\:st, html.dark .sf-c-lavender\:30\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 30%) }
html[data-theme='dark'] .sf-c-lavender\:40\:st, html.dark .sf-c-lavender\:40\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 40%) }
html[data-theme='dark'] .sf-c-lavender\:50\:st, html.dark .sf-c-lavender\:50\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 50%) }
html[data-theme='dark'] .sf-c-lavender\:60\:st, html.dark .sf-c-lavender\:60\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 60%) }
html[data-theme='dark'] .sf-c-lavender\:70\:st, html.dark .sf-c-lavender\:70\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 70%) }
html[data-theme='dark'] .sf-c-lavender\:80\:st, html.dark .sf-c-lavender\:80\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 80%) }
html[data-theme='dark'] .sf-c-lavender\:90\:st, html.dark .sf-c-lavender\:90\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 90%) }
html[data-theme='dark'] .sf-c-lavender\:100\:st, html.dark .sf-c-lavender\:100\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 100%) }

html[data-theme='dark'] .sf-c-txt-lavender, html.dark .sf-c-txt-lavender { color: hsl(240, 67%, 94%) }
html[data-theme='dark'] .sf-c-txt-lavender\:0, html.dark .sf-c-txt-lavender\:0 { color: hsl(240, 67%, 100%) }
html[data-theme='dark'] .sf-c-txt-lavender\:10, html.dark .sf-c-txt-lavender\:10 { color: hsl(240, 67%, 90%) }
html[data-theme='dark'] .sf-c-txt-lavender\:20, html.dark .sf-c-txt-lavender\:20 { color: hsl(240, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-lavender\:30, html.dark .sf-c-txt-lavender\:30 { color: hsl(240, 67%, 70%) }
html[data-theme='dark'] .sf-c-txt-lavender\:40, html.dark .sf-c-txt-lavender\:40 { color: hsl(240, 67%, 60%) }
html[data-theme='dark'] .sf-c-txt-lavender\:50, html.dark .sf-c-txt-lavender\:50 { color: hsl(240, 67%, 50%) }
html[data-theme='dark'] .sf-c-txt-lavender\:60, html.dark .sf-c-txt-lavender\:60 { color: hsl(240, 67%, 40%) }
html[data-theme='dark'] .sf-c-txt-lavender\:70, html.dark .sf-c-txt-lavender\:70 { color: hsl(240, 67%, 30%) }
html[data-theme='dark'] .sf-c-txt-lavender\:80, html.dark .sf-c-txt-lavender\:80 { color: hsl(240, 67%, 20%) }
html[data-theme='dark'] .sf-c-txt-lavender\:90, html.dark .sf-c-txt-lavender\:90 { color: hsl(240, 67%, 10%) }
html[data-theme='dark'] .sf-c-txt-lavender\:100, html.dark .sf-c-txt-lavender\:100 { color: hsl(240, 67%, 0%) }

html[data-theme='dark'] .sf-c-txt-lavender\:st, html.dark .sf-c-txt-lavender\:st { color: hsl(240, 67%, 94%) }
html[data-theme='dark'] .sf-c-txt-lavender\:0\:st, html.dark .sf-c-txt-lavender\:0\:st { color: hsl(240, 67%, 0%) }
html[data-theme='dark'] .sf-c-txt-lavender\:10\:st, html.dark .sf-c-txt-lavender\:10\:st { color: hsl(240, 67%, 10%) }
html[data-theme='dark'] .sf-c-txt-lavender\:20\:st, html.dark .sf-c-txt-lavender\:20\:st { color: hsl(240, 67%, 20%) }
html[data-theme='dark'] .sf-c-txt-lavender\:30\:st, html.dark .sf-c-txt-lavender\:30\:st { color: hsl(240, 67%, 30%) }
html[data-theme='dark'] .sf-c-txt-lavender\:40\:st, html.dark .sf-c-txt-lavender\:40\:st { color: hsl(240, 67%, 40%) }
html[data-theme='dark'] .sf-c-txt-lavender\:50\:st, html.dark .sf-c-txt-lavender\:50\:st { color: hsl(240, 67%, 50%) }
html[data-theme='dark'] .sf-c-txt-lavender\:60\:st, html.dark .sf-c-txt-lavender\:60\:st { color: hsl(240, 67%, 60%) }
html[data-theme='dark'] .sf-c-txt-lavender\:70\:st, html.dark .sf-c-txt-lavender\:70\:st { color: hsl(240, 67%, 70%) }
html[data-theme='dark'] .sf-c-txt-lavender\:80\:st, html.dark .sf-c-txt-lavender\:80\:st { color: hsl(240, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-lavender\:90\:st, html.dark .sf-c-txt-lavender\:90\:st { color: hsl(240, 67%, 90%) }
html[data-theme='dark'] .sf-c-txt-lavender\:100\:st, html.dark .sf-c-txt-lavender\:100\:st { color: hsl(240, 67%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lavender, html.auto .sf-c-lavender { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 6%) }
  html[data-theme='auto'] .sf-c-lavender\:0, html.auto .sf-c-lavender\:0 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 100%) }
  html[data-theme='auto'] .sf-c-lavender\:10, html.auto .sf-c-lavender\:10 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 90%) }
  html[data-theme='auto'] .sf-c-lavender\:20, html.auto .sf-c-lavender\:20 { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 80%) }
  html[data-theme='auto'] .sf-c-lavender\:30, html.auto .sf-c-lavender\:30 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 70%) }
  html[data-theme='auto'] .sf-c-lavender\:40, html.auto .sf-c-lavender\:40 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 60%) }
  html[data-theme='auto'] .sf-c-lavender\:50, html.auto .sf-c-lavender\:50 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 50%) }
  html[data-theme='auto'] .sf-c-lavender\:60, html.auto .sf-c-lavender\:60 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 40%) }
  html[data-theme='auto'] .sf-c-lavender\:70, html.auto .sf-c-lavender\:70 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 30%) }
  html[data-theme='auto'] .sf-c-lavender\:80, html.auto .sf-c-lavender\:80 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 20%) }
  html[data-theme='auto'] .sf-c-lavender\:90, html.auto .sf-c-lavender\:90 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 10%) }
  html[data-theme='auto'] .sf-c-lavender\:100, html.auto .sf-c-lavender\:100 { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 0%) }

  html[data-theme='auto'] .sf-c-lavender\:st, html.auto .sf-c-lavender\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 94%) }
  html[data-theme='auto'] .sf-c-lavender\:0\:st, html.auto .sf-c-lavender\:0\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 0%) }
  html[data-theme='auto'] .sf-c-lavender\:10\:st, html.auto .sf-c-lavender\:10\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 10%) }
  html[data-theme='auto'] .sf-c-lavender\:20\:st, html.auto .sf-c-lavender\:20\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 20%) }
  html[data-theme='auto'] .sf-c-lavender\:30\:st, html.auto .sf-c-lavender\:30\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 30%) }
  html[data-theme='auto'] .sf-c-lavender\:40\:st, html.auto .sf-c-lavender\:40\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 40%) }
  html[data-theme='auto'] .sf-c-lavender\:50\:st, html.auto .sf-c-lavender\:50\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 50%) }
  html[data-theme='auto'] .sf-c-lavender\:60\:st, html.auto .sf-c-lavender\:60\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 60%) }
  html[data-theme='auto'] .sf-c-lavender\:70\:st, html.auto .sf-c-lavender\:70\:st { color: hsl(240, 67%, 90%); background: hsl(240, 67%, 70%) }
  html[data-theme='auto'] .sf-c-lavender\:80\:st, html.auto .sf-c-lavender\:80\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 80%) }
  html[data-theme='auto'] .sf-c-lavender\:90\:st, html.auto .sf-c-lavender\:90\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 90%) }
  html[data-theme='auto'] .sf-c-lavender\:100\:st, html.auto .sf-c-lavender\:100\:st { color: hsl(240, 67%, 10%); background: hsl(240, 67%, 100%) }

  html[data-theme='auto'] .sf-c-txt-lavender, html.auto .sf-c-txt-lavender { color: hsl(240, 67%, 94%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:0, html.auto .sf-c-txt-lavender\:0 { color: hsl(240, 67%, 100%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:10, html.auto .sf-c-txt-lavender\:10 { color: hsl(240, 67%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:20, html.auto .sf-c-txt-lavender\:20 { color: hsl(240, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:30, html.auto .sf-c-txt-lavender\:30 { color: hsl(240, 67%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:40, html.auto .sf-c-txt-lavender\:40 { color: hsl(240, 67%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:50, html.auto .sf-c-txt-lavender\:50 { color: hsl(240, 67%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:60, html.auto .sf-c-txt-lavender\:60 { color: hsl(240, 67%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:70, html.auto .sf-c-txt-lavender\:70 { color: hsl(240, 67%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:80, html.auto .sf-c-txt-lavender\:80 { color: hsl(240, 67%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:90, html.auto .sf-c-txt-lavender\:90 { color: hsl(240, 67%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:100, html.auto .sf-c-txt-lavender\:100 { color: hsl(240, 67%, 0%) }

  html[data-theme='auto'] .sf-c-txt-lavender\:st, html.auto .sf-c-txt-lavender\:st { color: hsl(240, 67%, 94%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:0\:st, html.auto .sf-c-txt-lavender\:0\:st { color: hsl(240, 67%, 0%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:10\:st, html.auto .sf-c-txt-lavender\:10\:st { color: hsl(240, 67%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:20\:st, html.auto .sf-c-txt-lavender\:20\:st { color: hsl(240, 67%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:30\:st, html.auto .sf-c-txt-lavender\:30\:st { color: hsl(240, 67%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:40\:st, html.auto .sf-c-txt-lavender\:40\:st { color: hsl(240, 67%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:50\:st, html.auto .sf-c-txt-lavender\:50\:st { color: hsl(240, 67%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:60\:st, html.auto .sf-c-txt-lavender\:60\:st { color: hsl(240, 67%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:70\:st, html.auto .sf-c-txt-lavender\:70\:st { color: hsl(240, 67%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:80\:st, html.auto .sf-c-txt-lavender\:80\:st { color: hsl(240, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:90\:st, html.auto .sf-c-txt-lavender\:90\:st { color: hsl(240, 67%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lavender\:100\:st, html.auto .sf-c-txt-lavender\:100\:st { color: hsl(240, 67%, 100%) }
}