.sf-var-lightskyblue {
  --sf-c-lightskyblue: 203 92% 75%;
  --sf-c-lightskyblue-0: 203 92% 0%;
  --sf-c-lightskyblue-10: 203 92% 10%;
  --sf-c-lightskyblue-20: 203 92% 20%;
  --sf-c-lightskyblue-30: 203 92% 30%;
  --sf-c-lightskyblue-40: 203 92% 40%;
  --sf-c-lightskyblue-50: 203 92% 50%;
  --sf-c-lightskyblue-60: 203 92% 60%;
  --sf-c-lightskyblue-70: 203 92% 70%;
  --sf-c-lightskyblue-80: 203 92% 80%;
  --sf-c-lightskyblue-90: 203 92% 90%;
  --sf-c-lightskyblue-100: 203 92% 100%;
}

.sf-c-lightskyblue, .sf-c-lightskyblue\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 75%) }
.sf-c-lightskyblue\:0, .sf-c-lightskyblue\:0\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 0%) }
.sf-c-lightskyblue\:10, .sf-c-lightskyblue\:10\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 10%) }
.sf-c-lightskyblue\:20, .sf-c-lightskyblue\:20\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 20%) }
.sf-c-lightskyblue\:30, .sf-c-lightskyblue\:30\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 30%) }
.sf-c-lightskyblue\:40, .sf-c-lightskyblue\:40\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 40%) }
.sf-c-lightskyblue\:50, .sf-c-lightskyblue\:50\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 50%) }
.sf-c-lightskyblue\:60, .sf-c-lightskyblue\:60\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 60%) }
.sf-c-lightskyblue\:70, .sf-c-lightskyblue\:70\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 70%) }
.sf-c-lightskyblue\:80, .sf-c-lightskyblue\:80\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 80%) }
.sf-c-lightskyblue\:90, .sf-c-lightskyblue\:90\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 90%) }
.sf-c-lightskyblue\:100, .sf-c-lightskyblue\:100\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 100%) }

.sf-c-txt-lightskyblue { color: hsl(203, 92%, 10%) }
.sf-c-txt-lightskyblue\:st { color: hsl(203, 92%, 75%) }
.sf-c-txt-lightskyblue\:0, .sf-c-txt-lightskyblue\:0\:st { color: hsl(203, 92%, 0%) }
.sf-c-txt-lightskyblue\:10, .sf-c-txt-lightskyblue\:10\:st { color: hsl(203, 92%, 10%) }
.sf-c-txt-lightskyblue\:20, .sf-c-txt-lightskyblue\:20\:st { color: hsl(203, 92%, 20%) }
.sf-c-txt-lightskyblue\:30, .sf-c-txt-lightskyblue\:30\:st { color: hsl(203, 92%, 30%) }
.sf-c-txt-lightskyblue\:40, .sf-c-txt-lightskyblue\:40\:st { color: hsl(203, 92%, 40%) }
.sf-c-txt-lightskyblue\:50, .sf-c-txt-lightskyblue\:50\:st { color: hsl(203, 92%, 50%) }
.sf-c-txt-lightskyblue\:60, .sf-c-txt-lightskyblue\:60\:st { color: hsl(203, 92%, 60%) }
.sf-c-txt-lightskyblue\:70, .sf-c-txt-lightskyblue\:70\:st { color: hsl(203, 92%, 70%) }
.sf-c-txt-lightskyblue\:80, .sf-c-txt-lightskyblue\:80\:st { color: hsl(203, 92%, 80%) }
.sf-c-txt-lightskyblue\:90, .sf-c-txt-lightskyblue\:90\:st { color: hsl(203, 92%, 90%) }
.sf-c-txt-lightskyblue\:100, .sf-c-txt-lightskyblue\:100\:st { color: hsl(203, 92%, 100%) }

html[data-theme='dark'] .sf-c-lightskyblue, html.dark .sf-c-lightskyblue { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 25%) }
html[data-theme='dark'] .sf-c-lightskyblue\:0, html.dark .sf-c-lightskyblue\:0 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 100%) }
html[data-theme='dark'] .sf-c-lightskyblue\:10, html.dark .sf-c-lightskyblue\:10 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 90%) }
html[data-theme='dark'] .sf-c-lightskyblue\:20, html.dark .sf-c-lightskyblue\:20 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 80%) }
html[data-theme='dark'] .sf-c-lightskyblue\:30, html.dark .sf-c-lightskyblue\:30 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 70%) }
html[data-theme='dark'] .sf-c-lightskyblue\:40, html.dark .sf-c-lightskyblue\:40 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 60%) }
html[data-theme='dark'] .sf-c-lightskyblue\:50, html.dark .sf-c-lightskyblue\:50 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 50%) }
html[data-theme='dark'] .sf-c-lightskyblue\:60, html.dark .sf-c-lightskyblue\:60 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 40%) }
html[data-theme='dark'] .sf-c-lightskyblue\:70, html.dark .sf-c-lightskyblue\:70 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 30%) }
html[data-theme='dark'] .sf-c-lightskyblue\:80, html.dark .sf-c-lightskyblue\:80 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 20%) }
html[data-theme='dark'] .sf-c-lightskyblue\:90, html.dark .sf-c-lightskyblue\:90 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 10%) }
html[data-theme='dark'] .sf-c-lightskyblue\:100, html.dark .sf-c-lightskyblue\:100 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 0%) }

html[data-theme='dark'] .sf-c-lightskyblue\:st, html.dark .sf-c-lightskyblue\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 75%) }
html[data-theme='dark'] .sf-c-lightskyblue\:0\:st, html.dark .sf-c-lightskyblue\:0\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 0%) }
html[data-theme='dark'] .sf-c-lightskyblue\:10\:st, html.dark .sf-c-lightskyblue\:10\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 10%) }
html[data-theme='dark'] .sf-c-lightskyblue\:20\:st, html.dark .sf-c-lightskyblue\:20\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 20%) }
html[data-theme='dark'] .sf-c-lightskyblue\:30\:st, html.dark .sf-c-lightskyblue\:30\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 30%) }
html[data-theme='dark'] .sf-c-lightskyblue\:40\:st, html.dark .sf-c-lightskyblue\:40\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 40%) }
html[data-theme='dark'] .sf-c-lightskyblue\:50\:st, html.dark .sf-c-lightskyblue\:50\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 50%) }
html[data-theme='dark'] .sf-c-lightskyblue\:60\:st, html.dark .sf-c-lightskyblue\:60\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 60%) }
html[data-theme='dark'] .sf-c-lightskyblue\:70\:st, html.dark .sf-c-lightskyblue\:70\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 70%) }
html[data-theme='dark'] .sf-c-lightskyblue\:80\:st, html.dark .sf-c-lightskyblue\:80\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 80%) }
html[data-theme='dark'] .sf-c-lightskyblue\:90\:st, html.dark .sf-c-lightskyblue\:90\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 90%) }
html[data-theme='dark'] .sf-c-lightskyblue\:100\:st, html.dark .sf-c-lightskyblue\:100\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 100%) }

html[data-theme='dark'] .sf-c-txt-lightskyblue, html.dark .sf-c-txt-lightskyblue { color: hsl(203, 92%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:0, html.dark .sf-c-txt-lightskyblue\:0 { color: hsl(203, 92%, 100%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:10, html.dark .sf-c-txt-lightskyblue\:10 { color: hsl(203, 92%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:20, html.dark .sf-c-txt-lightskyblue\:20 { color: hsl(203, 92%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:30, html.dark .sf-c-txt-lightskyblue\:30 { color: hsl(203, 92%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:40, html.dark .sf-c-txt-lightskyblue\:40 { color: hsl(203, 92%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:50, html.dark .sf-c-txt-lightskyblue\:50 { color: hsl(203, 92%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:60, html.dark .sf-c-txt-lightskyblue\:60 { color: hsl(203, 92%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:70, html.dark .sf-c-txt-lightskyblue\:70 { color: hsl(203, 92%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:80, html.dark .sf-c-txt-lightskyblue\:80 { color: hsl(203, 92%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:90, html.dark .sf-c-txt-lightskyblue\:90 { color: hsl(203, 92%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:100, html.dark .sf-c-txt-lightskyblue\:100 { color: hsl(203, 92%, 0%) }

html[data-theme='dark'] .sf-c-txt-lightskyblue\:st, html.dark .sf-c-txt-lightskyblue\:st { color: hsl(203, 92%, 75%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:0\:st, html.dark .sf-c-txt-lightskyblue\:0\:st { color: hsl(203, 92%, 0%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:10\:st, html.dark .sf-c-txt-lightskyblue\:10\:st { color: hsl(203, 92%, 10%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:20\:st, html.dark .sf-c-txt-lightskyblue\:20\:st { color: hsl(203, 92%, 20%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:30\:st, html.dark .sf-c-txt-lightskyblue\:30\:st { color: hsl(203, 92%, 30%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:40\:st, html.dark .sf-c-txt-lightskyblue\:40\:st { color: hsl(203, 92%, 40%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:50\:st, html.dark .sf-c-txt-lightskyblue\:50\:st { color: hsl(203, 92%, 50%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:60\:st, html.dark .sf-c-txt-lightskyblue\:60\:st { color: hsl(203, 92%, 60%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:70\:st, html.dark .sf-c-txt-lightskyblue\:70\:st { color: hsl(203, 92%, 70%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:80\:st, html.dark .sf-c-txt-lightskyblue\:80\:st { color: hsl(203, 92%, 80%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:90\:st, html.dark .sf-c-txt-lightskyblue\:90\:st { color: hsl(203, 92%, 90%) }
html[data-theme='dark'] .sf-c-txt-lightskyblue\:100\:st, html.dark .sf-c-txt-lightskyblue\:100\:st { color: hsl(203, 92%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lightskyblue, html.auto .sf-c-lightskyblue { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 25%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:0, html.auto .sf-c-lightskyblue\:0 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 100%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:10, html.auto .sf-c-lightskyblue\:10 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 90%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:20, html.auto .sf-c-lightskyblue\:20 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 80%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:30, html.auto .sf-c-lightskyblue\:30 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 70%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:40, html.auto .sf-c-lightskyblue\:40 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 60%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:50, html.auto .sf-c-lightskyblue\:50 { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 50%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:60, html.auto .sf-c-lightskyblue\:60 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 40%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:70, html.auto .sf-c-lightskyblue\:70 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 30%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:80, html.auto .sf-c-lightskyblue\:80 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 20%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:90, html.auto .sf-c-lightskyblue\:90 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 10%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:100, html.auto .sf-c-lightskyblue\:100 { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 0%) }

  html[data-theme='auto'] .sf-c-lightskyblue\:st, html.auto .sf-c-lightskyblue\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 75%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:0\:st, html.auto .sf-c-lightskyblue\:0\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 0%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:10\:st, html.auto .sf-c-lightskyblue\:10\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 10%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:20\:st, html.auto .sf-c-lightskyblue\:20\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 20%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:30\:st, html.auto .sf-c-lightskyblue\:30\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 30%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:40\:st, html.auto .sf-c-lightskyblue\:40\:st { color: hsl(203, 92%, 90%); background: hsl(203, 92%, 40%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:50\:st, html.auto .sf-c-lightskyblue\:50\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 50%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:60\:st, html.auto .sf-c-lightskyblue\:60\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 60%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:70\:st, html.auto .sf-c-lightskyblue\:70\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 70%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:80\:st, html.auto .sf-c-lightskyblue\:80\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 80%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:90\:st, html.auto .sf-c-lightskyblue\:90\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 90%) }
  html[data-theme='auto'] .sf-c-lightskyblue\:100\:st, html.auto .sf-c-lightskyblue\:100\:st { color: hsl(203, 92%, 10%); background: hsl(203, 92%, 100%) }

  html[data-theme='auto'] .sf-c-txt-lightskyblue, html.auto .sf-c-txt-lightskyblue { color: hsl(203, 92%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:0, html.auto .sf-c-txt-lightskyblue\:0 { color: hsl(203, 92%, 100%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:10, html.auto .sf-c-txt-lightskyblue\:10 { color: hsl(203, 92%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:20, html.auto .sf-c-txt-lightskyblue\:20 { color: hsl(203, 92%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:30, html.auto .sf-c-txt-lightskyblue\:30 { color: hsl(203, 92%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:40, html.auto .sf-c-txt-lightskyblue\:40 { color: hsl(203, 92%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:50, html.auto .sf-c-txt-lightskyblue\:50 { color: hsl(203, 92%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:60, html.auto .sf-c-txt-lightskyblue\:60 { color: hsl(203, 92%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:70, html.auto .sf-c-txt-lightskyblue\:70 { color: hsl(203, 92%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:80, html.auto .sf-c-txt-lightskyblue\:80 { color: hsl(203, 92%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:90, html.auto .sf-c-txt-lightskyblue\:90 { color: hsl(203, 92%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:100, html.auto .sf-c-txt-lightskyblue\:100 { color: hsl(203, 92%, 0%) }

  html[data-theme='auto'] .sf-c-txt-lightskyblue\:st, html.auto .sf-c-txt-lightskyblue\:st { color: hsl(203, 92%, 75%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:0\:st, html.auto .sf-c-txt-lightskyblue\:0\:st { color: hsl(203, 92%, 0%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:10\:st, html.auto .sf-c-txt-lightskyblue\:10\:st { color: hsl(203, 92%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:20\:st, html.auto .sf-c-txt-lightskyblue\:20\:st { color: hsl(203, 92%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:30\:st, html.auto .sf-c-txt-lightskyblue\:30\:st { color: hsl(203, 92%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:40\:st, html.auto .sf-c-txt-lightskyblue\:40\:st { color: hsl(203, 92%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:50\:st, html.auto .sf-c-txt-lightskyblue\:50\:st { color: hsl(203, 92%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:60\:st, html.auto .sf-c-txt-lightskyblue\:60\:st { color: hsl(203, 92%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:70\:st, html.auto .sf-c-txt-lightskyblue\:70\:st { color: hsl(203, 92%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:80\:st, html.auto .sf-c-txt-lightskyblue\:80\:st { color: hsl(203, 92%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:90\:st, html.auto .sf-c-txt-lightskyblue\:90\:st { color: hsl(203, 92%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lightskyblue\:100\:st, html.auto .sf-c-txt-lightskyblue\:100\:st { color: hsl(203, 92%, 100%) }
}