.sf-var-lime {
  --sf-c-lime: 120 100% 50%;
  --sf-c-lime-0: 120 100% 0%;
  --sf-c-lime-10: 120 100% 10%;
  --sf-c-lime-20: 120 100% 20%;
  --sf-c-lime-30: 120 100% 30%;
  --sf-c-lime-40: 120 100% 40%;
  --sf-c-lime-50: 120 100% 50%;
  --sf-c-lime-60: 120 100% 60%;
  --sf-c-lime-70: 120 100% 70%;
  --sf-c-lime-80: 120 100% 80%;
  --sf-c-lime-90: 120 100% 90%;
  --sf-c-lime-100: 120 100% 100%;
}

.sf-c-lime, .sf-c-lime\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
.sf-c-lime\:0, .sf-c-lime\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
.sf-c-lime\:10, .sf-c-lime\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
.sf-c-lime\:20, .sf-c-lime\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
.sf-c-lime\:30, .sf-c-lime\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
.sf-c-lime\:40, .sf-c-lime\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
.sf-c-lime\:50, .sf-c-lime\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
.sf-c-lime\:60, .sf-c-lime\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
.sf-c-lime\:70, .sf-c-lime\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
.sf-c-lime\:80, .sf-c-lime\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
.sf-c-lime\:90, .sf-c-lime\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
.sf-c-lime\:100, .sf-c-lime\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

.sf-c-txt-lime { color: hsl(120, 100%, 50%) }
.sf-c-txt-lime\:st { color: hsl(120, 100%, 50%) }
.sf-c-txt-lime\:0, .sf-c-txt-lime\:0\:st { color: hsl(120, 100%, 0%) }
.sf-c-txt-lime\:10, .sf-c-txt-lime\:10\:st { color: hsl(120, 100%, 10%) }
.sf-c-txt-lime\:20, .sf-c-txt-lime\:20\:st { color: hsl(120, 100%, 20%) }
.sf-c-txt-lime\:30, .sf-c-txt-lime\:30\:st { color: hsl(120, 100%, 30%) }
.sf-c-txt-lime\:40, .sf-c-txt-lime\:40\:st { color: hsl(120, 100%, 40%) }
.sf-c-txt-lime\:50, .sf-c-txt-lime\:50\:st { color: hsl(120, 100%, 50%) }
.sf-c-txt-lime\:60, .sf-c-txt-lime\:60\:st { color: hsl(120, 100%, 60%) }
.sf-c-txt-lime\:70, .sf-c-txt-lime\:70\:st { color: hsl(120, 100%, 70%) }
.sf-c-txt-lime\:80, .sf-c-txt-lime\:80\:st { color: hsl(120, 100%, 80%) }
.sf-c-txt-lime\:90, .sf-c-txt-lime\:90\:st { color: hsl(120, 100%, 90%) }
.sf-c-txt-lime\:100, .sf-c-txt-lime\:100\:st { color: hsl(120, 100%, 100%) }

html[data-theme='dark'] .sf-c-lime, html.dark .sf-c-lime { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-lime\:0, html.dark .sf-c-lime\:0 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }
html[data-theme='dark'] .sf-c-lime\:10, html.dark .sf-c-lime\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-lime\:20, html.dark .sf-c-lime\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-lime\:30, html.dark .sf-c-lime\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-lime\:40, html.dark .sf-c-lime\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-lime\:50, html.dark .sf-c-lime\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-lime\:60, html.dark .sf-c-lime\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-lime\:70, html.dark .sf-c-lime\:70 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-lime\:80, html.dark .sf-c-lime\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-lime\:90, html.dark .sf-c-lime\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-lime\:100, html.dark .sf-c-lime\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

html[data-theme='dark'] .sf-c-lime\:st, html.dark .sf-c-lime\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-lime\:0\:st, html.dark .sf-c-lime\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
html[data-theme='dark'] .sf-c-lime\:10\:st, html.dark .sf-c-lime\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-lime\:20\:st, html.dark .sf-c-lime\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-lime\:30\:st, html.dark .sf-c-lime\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-lime\:40\:st, html.dark .sf-c-lime\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-lime\:50\:st, html.dark .sf-c-lime\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-lime\:60\:st, html.dark .sf-c-lime\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-lime\:70\:st, html.dark .sf-c-lime\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-lime\:80\:st, html.dark .sf-c-lime\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-lime\:90\:st, html.dark .sf-c-lime\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-lime\:100\:st, html.dark .sf-c-lime\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-lime, html.dark .sf-c-txt-lime { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lime\:0, html.dark .sf-c-txt-lime\:0 { color: hsl(120, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-lime\:10, html.dark .sf-c-txt-lime\:10 { color: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lime\:20, html.dark .sf-c-txt-lime\:20 { color: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lime\:30, html.dark .sf-c-txt-lime\:30 { color: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lime\:40, html.dark .sf-c-txt-lime\:40 { color: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lime\:50, html.dark .sf-c-txt-lime\:50 { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lime\:60, html.dark .sf-c-txt-lime\:60 { color: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lime\:70, html.dark .sf-c-txt-lime\:70 { color: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lime\:80, html.dark .sf-c-txt-lime\:80 { color: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lime\:90, html.dark .sf-c-txt-lime\:90 { color: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lime\:100, html.dark .sf-c-txt-lime\:100 { color: hsl(120, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-lime\:st, html.dark .sf-c-txt-lime\:st { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lime\:0\:st, html.dark .sf-c-txt-lime\:0\:st { color: hsl(120, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-lime\:10\:st, html.dark .sf-c-txt-lime\:10\:st { color: hsl(120, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-lime\:20\:st, html.dark .sf-c-txt-lime\:20\:st { color: hsl(120, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-lime\:30\:st, html.dark .sf-c-txt-lime\:30\:st { color: hsl(120, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-lime\:40\:st, html.dark .sf-c-txt-lime\:40\:st { color: hsl(120, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-lime\:50\:st, html.dark .sf-c-txt-lime\:50\:st { color: hsl(120, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-lime\:60\:st, html.dark .sf-c-txt-lime\:60\:st { color: hsl(120, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-lime\:70\:st, html.dark .sf-c-txt-lime\:70\:st { color: hsl(120, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-lime\:80\:st, html.dark .sf-c-txt-lime\:80\:st { color: hsl(120, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-lime\:90\:st, html.dark .sf-c-txt-lime\:90\:st { color: hsl(120, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-lime\:100\:st, html.dark .sf-c-txt-lime\:100\:st { color: hsl(120, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-lime, html.auto .sf-c-lime { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lime\:0, html.auto .sf-c-lime\:0 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }
  html[data-theme='auto'] .sf-c-lime\:10, html.auto .sf-c-lime\:10 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lime\:20, html.auto .sf-c-lime\:20 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lime\:30, html.auto .sf-c-lime\:30 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lime\:40, html.auto .sf-c-lime\:40 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lime\:50, html.auto .sf-c-lime\:50 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lime\:60, html.auto .sf-c-lime\:60 { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lime\:70, html.auto .sf-c-lime\:70 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lime\:80, html.auto .sf-c-lime\:80 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lime\:90, html.auto .sf-c-lime\:90 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lime\:100, html.auto .sf-c-lime\:100 { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }

  html[data-theme='auto'] .sf-c-lime\:st, html.auto .sf-c-lime\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lime\:0\:st, html.auto .sf-c-lime\:0\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 0%) }
  html[data-theme='auto'] .sf-c-lime\:10\:st, html.auto .sf-c-lime\:10\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-lime\:20\:st, html.auto .sf-c-lime\:20\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-lime\:30\:st, html.auto .sf-c-lime\:30\:st { color: hsl(120, 100%, 90%); background: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-lime\:40\:st, html.auto .sf-c-lime\:40\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-lime\:50\:st, html.auto .sf-c-lime\:50\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-lime\:60\:st, html.auto .sf-c-lime\:60\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-lime\:70\:st, html.auto .sf-c-lime\:70\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-lime\:80\:st, html.auto .sf-c-lime\:80\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-lime\:90\:st, html.auto .sf-c-lime\:90\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-lime\:100\:st, html.auto .sf-c-lime\:100\:st { color: hsl(120, 100%, 10%); background: hsl(120, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-lime, html.auto .sf-c-txt-lime { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lime\:0, html.auto .sf-c-txt-lime\:0 { color: hsl(120, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-lime\:10, html.auto .sf-c-txt-lime\:10 { color: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lime\:20, html.auto .sf-c-txt-lime\:20 { color: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lime\:30, html.auto .sf-c-txt-lime\:30 { color: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lime\:40, html.auto .sf-c-txt-lime\:40 { color: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lime\:50, html.auto .sf-c-txt-lime\:50 { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lime\:60, html.auto .sf-c-txt-lime\:60 { color: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lime\:70, html.auto .sf-c-txt-lime\:70 { color: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lime\:80, html.auto .sf-c-txt-lime\:80 { color: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lime\:90, html.auto .sf-c-txt-lime\:90 { color: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lime\:100, html.auto .sf-c-txt-lime\:100 { color: hsl(120, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-lime\:st, html.auto .sf-c-txt-lime\:st { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lime\:0\:st, html.auto .sf-c-txt-lime\:0\:st { color: hsl(120, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-lime\:10\:st, html.auto .sf-c-txt-lime\:10\:st { color: hsl(120, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-lime\:20\:st, html.auto .sf-c-txt-lime\:20\:st { color: hsl(120, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-lime\:30\:st, html.auto .sf-c-txt-lime\:30\:st { color: hsl(120, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-lime\:40\:st, html.auto .sf-c-txt-lime\:40\:st { color: hsl(120, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-lime\:50\:st, html.auto .sf-c-txt-lime\:50\:st { color: hsl(120, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-lime\:60\:st, html.auto .sf-c-txt-lime\:60\:st { color: hsl(120, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-lime\:70\:st, html.auto .sf-c-txt-lime\:70\:st { color: hsl(120, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-lime\:80\:st, html.auto .sf-c-txt-lime\:80\:st { color: hsl(120, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-lime\:90\:st, html.auto .sf-c-txt-lime\:90\:st { color: hsl(120, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-lime\:100\:st, html.auto .sf-c-txt-lime\:100\:st { color: hsl(120, 100%, 100%) }
}