.sf-var-magenta {
  --sf-c-magenta: 300 100% 50%;
  --sf-c-magenta-0: 300 100% 0%;
  --sf-c-magenta-10: 300 100% 10%;
  --sf-c-magenta-20: 300 100% 20%;
  --sf-c-magenta-30: 300 100% 30%;
  --sf-c-magenta-40: 300 100% 40%;
  --sf-c-magenta-50: 300 100% 50%;
  --sf-c-magenta-60: 300 100% 60%;
  --sf-c-magenta-70: 300 100% 70%;
  --sf-c-magenta-80: 300 100% 80%;
  --sf-c-magenta-90: 300 100% 90%;
  --sf-c-magenta-100: 300 100% 100%;
}

.sf-c-magenta, .sf-c-magenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
.sf-c-magenta\:0, .sf-c-magenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
.sf-c-magenta\:10, .sf-c-magenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
.sf-c-magenta\:20, .sf-c-magenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
.sf-c-magenta\:30, .sf-c-magenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
.sf-c-magenta\:40, .sf-c-magenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
.sf-c-magenta\:50, .sf-c-magenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
.sf-c-magenta\:60, .sf-c-magenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
.sf-c-magenta\:70, .sf-c-magenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
.sf-c-magenta\:80, .sf-c-magenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
.sf-c-magenta\:90, .sf-c-magenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
.sf-c-magenta\:100, .sf-c-magenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

.sf-c-txt-magenta { color: hsl(300, 100%, 50%) }
.sf-c-txt-magenta\:st { color: hsl(300, 100%, 50%) }
.sf-c-txt-magenta\:0, .sf-c-txt-magenta\:0\:st { color: hsl(300, 100%, 0%) }
.sf-c-txt-magenta\:10, .sf-c-txt-magenta\:10\:st { color: hsl(300, 100%, 10%) }
.sf-c-txt-magenta\:20, .sf-c-txt-magenta\:20\:st { color: hsl(300, 100%, 20%) }
.sf-c-txt-magenta\:30, .sf-c-txt-magenta\:30\:st { color: hsl(300, 100%, 30%) }
.sf-c-txt-magenta\:40, .sf-c-txt-magenta\:40\:st { color: hsl(300, 100%, 40%) }
.sf-c-txt-magenta\:50, .sf-c-txt-magenta\:50\:st { color: hsl(300, 100%, 50%) }
.sf-c-txt-magenta\:60, .sf-c-txt-magenta\:60\:st { color: hsl(300, 100%, 60%) }
.sf-c-txt-magenta\:70, .sf-c-txt-magenta\:70\:st { color: hsl(300, 100%, 70%) }
.sf-c-txt-magenta\:80, .sf-c-txt-magenta\:80\:st { color: hsl(300, 100%, 80%) }
.sf-c-txt-magenta\:90, .sf-c-txt-magenta\:90\:st { color: hsl(300, 100%, 90%) }
.sf-c-txt-magenta\:100, .sf-c-txt-magenta\:100\:st { color: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-magenta, html.dark .sf-c-magenta { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-magenta\:0, html.dark .sf-c-magenta\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-magenta\:10, html.dark .sf-c-magenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-magenta\:20, html.dark .sf-c-magenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-magenta\:30, html.dark .sf-c-magenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-magenta\:40, html.dark .sf-c-magenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-magenta\:50, html.dark .sf-c-magenta\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-magenta\:60, html.dark .sf-c-magenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-magenta\:70, html.dark .sf-c-magenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-magenta\:80, html.dark .sf-c-magenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-magenta\:90, html.dark .sf-c-magenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-magenta\:100, html.dark .sf-c-magenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-magenta\:st, html.dark .sf-c-magenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-magenta\:0\:st, html.dark .sf-c-magenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-magenta\:10\:st, html.dark .sf-c-magenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-magenta\:20\:st, html.dark .sf-c-magenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-magenta\:30\:st, html.dark .sf-c-magenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-magenta\:40\:st, html.dark .sf-c-magenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-magenta\:50\:st, html.dark .sf-c-magenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-magenta\:60\:st, html.dark .sf-c-magenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-magenta\:70\:st, html.dark .sf-c-magenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-magenta\:80\:st, html.dark .sf-c-magenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-magenta\:90\:st, html.dark .sf-c-magenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-magenta\:100\:st, html.dark .sf-c-magenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-magenta, html.dark .sf-c-txt-magenta { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-magenta\:0, html.dark .sf-c-txt-magenta\:0 { color: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-magenta\:10, html.dark .sf-c-txt-magenta\:10 { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-magenta\:20, html.dark .sf-c-txt-magenta\:20 { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-magenta\:30, html.dark .sf-c-txt-magenta\:30 { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-magenta\:40, html.dark .sf-c-txt-magenta\:40 { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-magenta\:50, html.dark .sf-c-txt-magenta\:50 { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-magenta\:60, html.dark .sf-c-txt-magenta\:60 { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-magenta\:70, html.dark .sf-c-txt-magenta\:70 { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-magenta\:80, html.dark .sf-c-txt-magenta\:80 { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-magenta\:90, html.dark .sf-c-txt-magenta\:90 { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-magenta\:100, html.dark .sf-c-txt-magenta\:100 { color: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-magenta\:st, html.dark .sf-c-txt-magenta\:st { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-magenta\:0\:st, html.dark .sf-c-txt-magenta\:0\:st { color: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-magenta\:10\:st, html.dark .sf-c-txt-magenta\:10\:st { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-magenta\:20\:st, html.dark .sf-c-txt-magenta\:20\:st { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-magenta\:30\:st, html.dark .sf-c-txt-magenta\:30\:st { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-magenta\:40\:st, html.dark .sf-c-txt-magenta\:40\:st { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-magenta\:50\:st, html.dark .sf-c-txt-magenta\:50\:st { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-magenta\:60\:st, html.dark .sf-c-txt-magenta\:60\:st { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-magenta\:70\:st, html.dark .sf-c-txt-magenta\:70\:st { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-magenta\:80\:st, html.dark .sf-c-txt-magenta\:80\:st { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-magenta\:90\:st, html.dark .sf-c-txt-magenta\:90\:st { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-magenta\:100\:st, html.dark .sf-c-txt-magenta\:100\:st { color: hsl(300, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-magenta, html.auto .sf-c-magenta { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-magenta\:0, html.auto .sf-c-magenta\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-magenta\:10, html.auto .sf-c-magenta\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-magenta\:20, html.auto .sf-c-magenta\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-magenta\:30, html.auto .sf-c-magenta\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-magenta\:40, html.auto .sf-c-magenta\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-magenta\:50, html.auto .sf-c-magenta\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-magenta\:60, html.auto .sf-c-magenta\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-magenta\:70, html.auto .sf-c-magenta\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-magenta\:80, html.auto .sf-c-magenta\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-magenta\:90, html.auto .sf-c-magenta\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-magenta\:100, html.auto .sf-c-magenta\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-magenta\:st, html.auto .sf-c-magenta\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-magenta\:0\:st, html.auto .sf-c-magenta\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-magenta\:10\:st, html.auto .sf-c-magenta\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-magenta\:20\:st, html.auto .sf-c-magenta\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-magenta\:30\:st, html.auto .sf-c-magenta\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-magenta\:40\:st, html.auto .sf-c-magenta\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-magenta\:50\:st, html.auto .sf-c-magenta\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-magenta\:60\:st, html.auto .sf-c-magenta\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-magenta\:70\:st, html.auto .sf-c-magenta\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-magenta\:80\:st, html.auto .sf-c-magenta\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-magenta\:90\:st, html.auto .sf-c-magenta\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-magenta\:100\:st, html.auto .sf-c-magenta\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-magenta, html.auto .sf-c-txt-magenta { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:0, html.auto .sf-c-txt-magenta\:0 { color: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:10, html.auto .sf-c-txt-magenta\:10 { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:20, html.auto .sf-c-txt-magenta\:20 { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:30, html.auto .sf-c-txt-magenta\:30 { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:40, html.auto .sf-c-txt-magenta\:40 { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:50, html.auto .sf-c-txt-magenta\:50 { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:60, html.auto .sf-c-txt-magenta\:60 { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:70, html.auto .sf-c-txt-magenta\:70 { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:80, html.auto .sf-c-txt-magenta\:80 { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:90, html.auto .sf-c-txt-magenta\:90 { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:100, html.auto .sf-c-txt-magenta\:100 { color: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-magenta\:st, html.auto .sf-c-txt-magenta\:st { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:0\:st, html.auto .sf-c-txt-magenta\:0\:st { color: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:10\:st, html.auto .sf-c-txt-magenta\:10\:st { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:20\:st, html.auto .sf-c-txt-magenta\:20\:st { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:30\:st, html.auto .sf-c-txt-magenta\:30\:st { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:40\:st, html.auto .sf-c-txt-magenta\:40\:st { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:50\:st, html.auto .sf-c-txt-magenta\:50\:st { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:60\:st, html.auto .sf-c-txt-magenta\:60\:st { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:70\:st, html.auto .sf-c-txt-magenta\:70\:st { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:80\:st, html.auto .sf-c-txt-magenta\:80\:st { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:90\:st, html.auto .sf-c-txt-magenta\:90\:st { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-magenta\:100\:st, html.auto .sf-c-txt-magenta\:100\:st { color: hsl(300, 100%, 100%) }
}