.sf-var-mediumvioletred {
  --sf-c-mediumvioletred: 322 81% 43%;
  --sf-c-mediumvioletred-0: 322 81% 0%;
  --sf-c-mediumvioletred-10: 322 81% 10%;
  --sf-c-mediumvioletred-20: 322 81% 20%;
  --sf-c-mediumvioletred-30: 322 81% 30%;
  --sf-c-mediumvioletred-40: 322 81% 40%;
  --sf-c-mediumvioletred-50: 322 81% 50%;
  --sf-c-mediumvioletred-60: 322 81% 60%;
  --sf-c-mediumvioletred-70: 322 81% 70%;
  --sf-c-mediumvioletred-80: 322 81% 80%;
  --sf-c-mediumvioletred-90: 322 81% 90%;
  --sf-c-mediumvioletred-100: 322 81% 100%;
}

.sf-c-mediumvioletred, .sf-c-mediumvioletred\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 43%) }
.sf-c-mediumvioletred\:0, .sf-c-mediumvioletred\:0\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 0%) }
.sf-c-mediumvioletred\:10, .sf-c-mediumvioletred\:10\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 10%) }
.sf-c-mediumvioletred\:20, .sf-c-mediumvioletred\:20\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 20%) }
.sf-c-mediumvioletred\:30, .sf-c-mediumvioletred\:30\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 30%) }
.sf-c-mediumvioletred\:40, .sf-c-mediumvioletred\:40\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 40%) }
.sf-c-mediumvioletred\:50, .sf-c-mediumvioletred\:50\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 50%) }
.sf-c-mediumvioletred\:60, .sf-c-mediumvioletred\:60\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 60%) }
.sf-c-mediumvioletred\:70, .sf-c-mediumvioletred\:70\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 70%) }
.sf-c-mediumvioletred\:80, .sf-c-mediumvioletred\:80\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 80%) }
.sf-c-mediumvioletred\:90, .sf-c-mediumvioletred\:90\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 90%) }
.sf-c-mediumvioletred\:100, .sf-c-mediumvioletred\:100\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 100%) }

.sf-c-txt-mediumvioletred { color: hsl(322, 81%, 43%) }
.sf-c-txt-mediumvioletred\:st { color: hsl(322, 81%, 43%) }
.sf-c-txt-mediumvioletred\:0, .sf-c-txt-mediumvioletred\:0\:st { color: hsl(322, 81%, 0%) }
.sf-c-txt-mediumvioletred\:10, .sf-c-txt-mediumvioletred\:10\:st { color: hsl(322, 81%, 10%) }
.sf-c-txt-mediumvioletred\:20, .sf-c-txt-mediumvioletred\:20\:st { color: hsl(322, 81%, 20%) }
.sf-c-txt-mediumvioletred\:30, .sf-c-txt-mediumvioletred\:30\:st { color: hsl(322, 81%, 30%) }
.sf-c-txt-mediumvioletred\:40, .sf-c-txt-mediumvioletred\:40\:st { color: hsl(322, 81%, 40%) }
.sf-c-txt-mediumvioletred\:50, .sf-c-txt-mediumvioletred\:50\:st { color: hsl(322, 81%, 50%) }
.sf-c-txt-mediumvioletred\:60, .sf-c-txt-mediumvioletred\:60\:st { color: hsl(322, 81%, 60%) }
.sf-c-txt-mediumvioletred\:70, .sf-c-txt-mediumvioletred\:70\:st { color: hsl(322, 81%, 70%) }
.sf-c-txt-mediumvioletred\:80, .sf-c-txt-mediumvioletred\:80\:st { color: hsl(322, 81%, 80%) }
.sf-c-txt-mediumvioletred\:90, .sf-c-txt-mediumvioletred\:90\:st { color: hsl(322, 81%, 90%) }
.sf-c-txt-mediumvioletred\:100, .sf-c-txt-mediumvioletred\:100\:st { color: hsl(322, 81%, 100%) }

html[data-theme='dark'] .sf-c-mediumvioletred, html.dark .sf-c-mediumvioletred { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 57%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:0, html.dark .sf-c-mediumvioletred\:0 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 100%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:10, html.dark .sf-c-mediumvioletred\:10 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 90%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:20, html.dark .sf-c-mediumvioletred\:20 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 80%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:30, html.dark .sf-c-mediumvioletred\:30 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 70%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:40, html.dark .sf-c-mediumvioletred\:40 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 60%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:50, html.dark .sf-c-mediumvioletred\:50 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 50%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:60, html.dark .sf-c-mediumvioletred\:60 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 40%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:70, html.dark .sf-c-mediumvioletred\:70 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 30%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:80, html.dark .sf-c-mediumvioletred\:80 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 20%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:90, html.dark .sf-c-mediumvioletred\:90 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 10%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:100, html.dark .sf-c-mediumvioletred\:100 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 0%) }

html[data-theme='dark'] .sf-c-mediumvioletred\:st, html.dark .sf-c-mediumvioletred\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 43%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:0\:st, html.dark .sf-c-mediumvioletred\:0\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 0%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:10\:st, html.dark .sf-c-mediumvioletred\:10\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 10%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:20\:st, html.dark .sf-c-mediumvioletred\:20\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 20%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:30\:st, html.dark .sf-c-mediumvioletred\:30\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 30%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:40\:st, html.dark .sf-c-mediumvioletred\:40\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 40%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:50\:st, html.dark .sf-c-mediumvioletred\:50\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 50%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:60\:st, html.dark .sf-c-mediumvioletred\:60\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 60%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:70\:st, html.dark .sf-c-mediumvioletred\:70\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 70%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:80\:st, html.dark .sf-c-mediumvioletred\:80\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 80%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:90\:st, html.dark .sf-c-mediumvioletred\:90\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 90%) }
html[data-theme='dark'] .sf-c-mediumvioletred\:100\:st, html.dark .sf-c-mediumvioletred\:100\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 100%) }

html[data-theme='dark'] .sf-c-txt-mediumvioletred, html.dark .sf-c-txt-mediumvioletred { color: hsl(322, 81%, 57%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:0, html.dark .sf-c-txt-mediumvioletred\:0 { color: hsl(322, 81%, 100%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:10, html.dark .sf-c-txt-mediumvioletred\:10 { color: hsl(322, 81%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:20, html.dark .sf-c-txt-mediumvioletred\:20 { color: hsl(322, 81%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:30, html.dark .sf-c-txt-mediumvioletred\:30 { color: hsl(322, 81%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:40, html.dark .sf-c-txt-mediumvioletred\:40 { color: hsl(322, 81%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:50, html.dark .sf-c-txt-mediumvioletred\:50 { color: hsl(322, 81%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:60, html.dark .sf-c-txt-mediumvioletred\:60 { color: hsl(322, 81%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:70, html.dark .sf-c-txt-mediumvioletred\:70 { color: hsl(322, 81%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:80, html.dark .sf-c-txt-mediumvioletred\:80 { color: hsl(322, 81%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:90, html.dark .sf-c-txt-mediumvioletred\:90 { color: hsl(322, 81%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:100, html.dark .sf-c-txt-mediumvioletred\:100 { color: hsl(322, 81%, 0%) }

html[data-theme='dark'] .sf-c-txt-mediumvioletred\:st, html.dark .sf-c-txt-mediumvioletred\:st { color: hsl(322, 81%, 43%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:0\:st, html.dark .sf-c-txt-mediumvioletred\:0\:st { color: hsl(322, 81%, 0%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:10\:st, html.dark .sf-c-txt-mediumvioletred\:10\:st { color: hsl(322, 81%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:20\:st, html.dark .sf-c-txt-mediumvioletred\:20\:st { color: hsl(322, 81%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:30\:st, html.dark .sf-c-txt-mediumvioletred\:30\:st { color: hsl(322, 81%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:40\:st, html.dark .sf-c-txt-mediumvioletred\:40\:st { color: hsl(322, 81%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:50\:st, html.dark .sf-c-txt-mediumvioletred\:50\:st { color: hsl(322, 81%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:60\:st, html.dark .sf-c-txt-mediumvioletred\:60\:st { color: hsl(322, 81%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:70\:st, html.dark .sf-c-txt-mediumvioletred\:70\:st { color: hsl(322, 81%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:80\:st, html.dark .sf-c-txt-mediumvioletred\:80\:st { color: hsl(322, 81%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:90\:st, html.dark .sf-c-txt-mediumvioletred\:90\:st { color: hsl(322, 81%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumvioletred\:100\:st, html.dark .sf-c-txt-mediumvioletred\:100\:st { color: hsl(322, 81%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumvioletred, html.auto .sf-c-mediumvioletred { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 57%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:0, html.auto .sf-c-mediumvioletred\:0 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 100%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:10, html.auto .sf-c-mediumvioletred\:10 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 90%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:20, html.auto .sf-c-mediumvioletred\:20 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 80%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:30, html.auto .sf-c-mediumvioletred\:30 { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 70%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:40, html.auto .sf-c-mediumvioletred\:40 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 60%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:50, html.auto .sf-c-mediumvioletred\:50 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 50%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:60, html.auto .sf-c-mediumvioletred\:60 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 40%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:70, html.auto .sf-c-mediumvioletred\:70 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 30%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:80, html.auto .sf-c-mediumvioletred\:80 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 20%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:90, html.auto .sf-c-mediumvioletred\:90 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 10%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:100, html.auto .sf-c-mediumvioletred\:100 { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 0%) }

  html[data-theme='auto'] .sf-c-mediumvioletred\:st, html.auto .sf-c-mediumvioletred\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 43%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:0\:st, html.auto .sf-c-mediumvioletred\:0\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 0%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:10\:st, html.auto .sf-c-mediumvioletred\:10\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 10%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:20\:st, html.auto .sf-c-mediumvioletred\:20\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 20%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:30\:st, html.auto .sf-c-mediumvioletred\:30\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 30%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:40\:st, html.auto .sf-c-mediumvioletred\:40\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 40%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:50\:st, html.auto .sf-c-mediumvioletred\:50\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 50%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:60\:st, html.auto .sf-c-mediumvioletred\:60\:st { color: hsl(322, 81%, 90%); background: hsl(322, 81%, 60%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:70\:st, html.auto .sf-c-mediumvioletred\:70\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 70%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:80\:st, html.auto .sf-c-mediumvioletred\:80\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 80%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:90\:st, html.auto .sf-c-mediumvioletred\:90\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 90%) }
  html[data-theme='auto'] .sf-c-mediumvioletred\:100\:st, html.auto .sf-c-mediumvioletred\:100\:st { color: hsl(322, 81%, 10%); background: hsl(322, 81%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mediumvioletred, html.auto .sf-c-txt-mediumvioletred { color: hsl(322, 81%, 57%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:0, html.auto .sf-c-txt-mediumvioletred\:0 { color: hsl(322, 81%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:10, html.auto .sf-c-txt-mediumvioletred\:10 { color: hsl(322, 81%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:20, html.auto .sf-c-txt-mediumvioletred\:20 { color: hsl(322, 81%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:30, html.auto .sf-c-txt-mediumvioletred\:30 { color: hsl(322, 81%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:40, html.auto .sf-c-txt-mediumvioletred\:40 { color: hsl(322, 81%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:50, html.auto .sf-c-txt-mediumvioletred\:50 { color: hsl(322, 81%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:60, html.auto .sf-c-txt-mediumvioletred\:60 { color: hsl(322, 81%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:70, html.auto .sf-c-txt-mediumvioletred\:70 { color: hsl(322, 81%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:80, html.auto .sf-c-txt-mediumvioletred\:80 { color: hsl(322, 81%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:90, html.auto .sf-c-txt-mediumvioletred\:90 { color: hsl(322, 81%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:100, html.auto .sf-c-txt-mediumvioletred\:100 { color: hsl(322, 81%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:st, html.auto .sf-c-txt-mediumvioletred\:st { color: hsl(322, 81%, 43%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:0\:st, html.auto .sf-c-txt-mediumvioletred\:0\:st { color: hsl(322, 81%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:10\:st, html.auto .sf-c-txt-mediumvioletred\:10\:st { color: hsl(322, 81%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:20\:st, html.auto .sf-c-txt-mediumvioletred\:20\:st { color: hsl(322, 81%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:30\:st, html.auto .sf-c-txt-mediumvioletred\:30\:st { color: hsl(322, 81%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:40\:st, html.auto .sf-c-txt-mediumvioletred\:40\:st { color: hsl(322, 81%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:50\:st, html.auto .sf-c-txt-mediumvioletred\:50\:st { color: hsl(322, 81%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:60\:st, html.auto .sf-c-txt-mediumvioletred\:60\:st { color: hsl(322, 81%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:70\:st, html.auto .sf-c-txt-mediumvioletred\:70\:st { color: hsl(322, 81%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:80\:st, html.auto .sf-c-txt-mediumvioletred\:80\:st { color: hsl(322, 81%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:90\:st, html.auto .sf-c-txt-mediumvioletred\:90\:st { color: hsl(322, 81%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumvioletred\:100\:st, html.auto .sf-c-txt-mediumvioletred\:100\:st { color: hsl(322, 81%, 100%) }
}