.sf-var-mediumaquamarine {
  --sf-c-mediumaquamarine: 160 51% 60%;
  --sf-c-mediumaquamarine-0: 160 51% 0%;
  --sf-c-mediumaquamarine-10: 160 51% 10%;
  --sf-c-mediumaquamarine-20: 160 51% 20%;
  --sf-c-mediumaquamarine-30: 160 51% 30%;
  --sf-c-mediumaquamarine-40: 160 51% 40%;
  --sf-c-mediumaquamarine-50: 160 51% 50%;
  --sf-c-mediumaquamarine-60: 160 51% 60%;
  --sf-c-mediumaquamarine-70: 160 51% 70%;
  --sf-c-mediumaquamarine-80: 160 51% 80%;
  --sf-c-mediumaquamarine-90: 160 51% 90%;
  --sf-c-mediumaquamarine-100: 160 51% 100%;
}

.sf-c-mediumaquamarine, .sf-c-mediumaquamarine\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
.sf-c-mediumaquamarine\:0, .sf-c-mediumaquamarine\:0\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 0%) }
.sf-c-mediumaquamarine\:10, .sf-c-mediumaquamarine\:10\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 10%) }
.sf-c-mediumaquamarine\:20, .sf-c-mediumaquamarine\:20\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 20%) }
.sf-c-mediumaquamarine\:30, .sf-c-mediumaquamarine\:30\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 30%) }
.sf-c-mediumaquamarine\:40, .sf-c-mediumaquamarine\:40\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
.sf-c-mediumaquamarine\:50, .sf-c-mediumaquamarine\:50\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 50%) }
.sf-c-mediumaquamarine\:60, .sf-c-mediumaquamarine\:60\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
.sf-c-mediumaquamarine\:70, .sf-c-mediumaquamarine\:70\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 70%) }
.sf-c-mediumaquamarine\:80, .sf-c-mediumaquamarine\:80\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 80%) }
.sf-c-mediumaquamarine\:90, .sf-c-mediumaquamarine\:90\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 90%) }
.sf-c-mediumaquamarine\:100, .sf-c-mediumaquamarine\:100\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 100%) }

.sf-c-txt-mediumaquamarine { color: hsl(160, 51%, 10%) }
.sf-c-txt-mediumaquamarine\:st { color: hsl(160, 51%, 60%) }
.sf-c-txt-mediumaquamarine\:0, .sf-c-txt-mediumaquamarine\:0\:st { color: hsl(160, 51%, 0%) }
.sf-c-txt-mediumaquamarine\:10, .sf-c-txt-mediumaquamarine\:10\:st { color: hsl(160, 51%, 10%) }
.sf-c-txt-mediumaquamarine\:20, .sf-c-txt-mediumaquamarine\:20\:st { color: hsl(160, 51%, 20%) }
.sf-c-txt-mediumaquamarine\:30, .sf-c-txt-mediumaquamarine\:30\:st { color: hsl(160, 51%, 30%) }
.sf-c-txt-mediumaquamarine\:40, .sf-c-txt-mediumaquamarine\:40\:st { color: hsl(160, 51%, 40%) }
.sf-c-txt-mediumaquamarine\:50, .sf-c-txt-mediumaquamarine\:50\:st { color: hsl(160, 51%, 50%) }
.sf-c-txt-mediumaquamarine\:60, .sf-c-txt-mediumaquamarine\:60\:st { color: hsl(160, 51%, 60%) }
.sf-c-txt-mediumaquamarine\:70, .sf-c-txt-mediumaquamarine\:70\:st { color: hsl(160, 51%, 70%) }
.sf-c-txt-mediumaquamarine\:80, .sf-c-txt-mediumaquamarine\:80\:st { color: hsl(160, 51%, 80%) }
.sf-c-txt-mediumaquamarine\:90, .sf-c-txt-mediumaquamarine\:90\:st { color: hsl(160, 51%, 90%) }
.sf-c-txt-mediumaquamarine\:100, .sf-c-txt-mediumaquamarine\:100\:st { color: hsl(160, 51%, 100%) }

html[data-theme='dark'] .sf-c-mediumaquamarine, html.dark .sf-c-mediumaquamarine { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:0, html.dark .sf-c-mediumaquamarine\:0 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 100%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:10, html.dark .sf-c-mediumaquamarine\:10 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 90%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:20, html.dark .sf-c-mediumaquamarine\:20 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 80%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:30, html.dark .sf-c-mediumaquamarine\:30 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 70%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:40, html.dark .sf-c-mediumaquamarine\:40 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:50, html.dark .sf-c-mediumaquamarine\:50 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 50%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:60, html.dark .sf-c-mediumaquamarine\:60 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:70, html.dark .sf-c-mediumaquamarine\:70 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 30%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:80, html.dark .sf-c-mediumaquamarine\:80 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 20%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:90, html.dark .sf-c-mediumaquamarine\:90 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 10%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:100, html.dark .sf-c-mediumaquamarine\:100 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 0%) }

html[data-theme='dark'] .sf-c-mediumaquamarine\:st, html.dark .sf-c-mediumaquamarine\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:0\:st, html.dark .sf-c-mediumaquamarine\:0\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 0%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:10\:st, html.dark .sf-c-mediumaquamarine\:10\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 10%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:20\:st, html.dark .sf-c-mediumaquamarine\:20\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 20%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:30\:st, html.dark .sf-c-mediumaquamarine\:30\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 30%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:40\:st, html.dark .sf-c-mediumaquamarine\:40\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:50\:st, html.dark .sf-c-mediumaquamarine\:50\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 50%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:60\:st, html.dark .sf-c-mediumaquamarine\:60\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:70\:st, html.dark .sf-c-mediumaquamarine\:70\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 70%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:80\:st, html.dark .sf-c-mediumaquamarine\:80\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 80%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:90\:st, html.dark .sf-c-mediumaquamarine\:90\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 90%) }
html[data-theme='dark'] .sf-c-mediumaquamarine\:100\:st, html.dark .sf-c-mediumaquamarine\:100\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 100%) }

html[data-theme='dark'] .sf-c-txt-mediumaquamarine, html.dark .sf-c-txt-mediumaquamarine { color: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:0, html.dark .sf-c-txt-mediumaquamarine\:0 { color: hsl(160, 51%, 100%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:10, html.dark .sf-c-txt-mediumaquamarine\:10 { color: hsl(160, 51%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:20, html.dark .sf-c-txt-mediumaquamarine\:20 { color: hsl(160, 51%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:30, html.dark .sf-c-txt-mediumaquamarine\:30 { color: hsl(160, 51%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:40, html.dark .sf-c-txt-mediumaquamarine\:40 { color: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:50, html.dark .sf-c-txt-mediumaquamarine\:50 { color: hsl(160, 51%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:60, html.dark .sf-c-txt-mediumaquamarine\:60 { color: hsl(160, 51%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:70, html.dark .sf-c-txt-mediumaquamarine\:70 { color: hsl(160, 51%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:80, html.dark .sf-c-txt-mediumaquamarine\:80 { color: hsl(160, 51%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:90, html.dark .sf-c-txt-mediumaquamarine\:90 { color: hsl(160, 51%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:100, html.dark .sf-c-txt-mediumaquamarine\:100 { color: hsl(160, 51%, 0%) }

html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:st, html.dark .sf-c-txt-mediumaquamarine\:st { color: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:0\:st, html.dark .sf-c-txt-mediumaquamarine\:0\:st { color: hsl(160, 51%, 0%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:10\:st, html.dark .sf-c-txt-mediumaquamarine\:10\:st { color: hsl(160, 51%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:20\:st, html.dark .sf-c-txt-mediumaquamarine\:20\:st { color: hsl(160, 51%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:30\:st, html.dark .sf-c-txt-mediumaquamarine\:30\:st { color: hsl(160, 51%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:40\:st, html.dark .sf-c-txt-mediumaquamarine\:40\:st { color: hsl(160, 51%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:50\:st, html.dark .sf-c-txt-mediumaquamarine\:50\:st { color: hsl(160, 51%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:60\:st, html.dark .sf-c-txt-mediumaquamarine\:60\:st { color: hsl(160, 51%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:70\:st, html.dark .sf-c-txt-mediumaquamarine\:70\:st { color: hsl(160, 51%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:80\:st, html.dark .sf-c-txt-mediumaquamarine\:80\:st { color: hsl(160, 51%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:90\:st, html.dark .sf-c-txt-mediumaquamarine\:90\:st { color: hsl(160, 51%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumaquamarine\:100\:st, html.dark .sf-c-txt-mediumaquamarine\:100\:st { color: hsl(160, 51%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumaquamarine, html.auto .sf-c-mediumaquamarine { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:0, html.auto .sf-c-mediumaquamarine\:0 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 100%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:10, html.auto .sf-c-mediumaquamarine\:10 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 90%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:20, html.auto .sf-c-mediumaquamarine\:20 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 80%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:30, html.auto .sf-c-mediumaquamarine\:30 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 70%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:40, html.auto .sf-c-mediumaquamarine\:40 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:50, html.auto .sf-c-mediumaquamarine\:50 { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 50%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:60, html.auto .sf-c-mediumaquamarine\:60 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:70, html.auto .sf-c-mediumaquamarine\:70 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 30%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:80, html.auto .sf-c-mediumaquamarine\:80 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 20%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:90, html.auto .sf-c-mediumaquamarine\:90 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 10%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:100, html.auto .sf-c-mediumaquamarine\:100 { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 0%) }

  html[data-theme='auto'] .sf-c-mediumaquamarine\:st, html.auto .sf-c-mediumaquamarine\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:0\:st, html.auto .sf-c-mediumaquamarine\:0\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 0%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:10\:st, html.auto .sf-c-mediumaquamarine\:10\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 10%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:20\:st, html.auto .sf-c-mediumaquamarine\:20\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 20%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:30\:st, html.auto .sf-c-mediumaquamarine\:30\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 30%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:40\:st, html.auto .sf-c-mediumaquamarine\:40\:st { color: hsl(160, 51%, 90%); background: hsl(160, 51%, 40%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:50\:st, html.auto .sf-c-mediumaquamarine\:50\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 50%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:60\:st, html.auto .sf-c-mediumaquamarine\:60\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:70\:st, html.auto .sf-c-mediumaquamarine\:70\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 70%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:80\:st, html.auto .sf-c-mediumaquamarine\:80\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 80%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:90\:st, html.auto .sf-c-mediumaquamarine\:90\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 90%) }
  html[data-theme='auto'] .sf-c-mediumaquamarine\:100\:st, html.auto .sf-c-mediumaquamarine\:100\:st { color: hsl(160, 51%, 10%); background: hsl(160, 51%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mediumaquamarine, html.auto .sf-c-txt-mediumaquamarine { color: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:0, html.auto .sf-c-txt-mediumaquamarine\:0 { color: hsl(160, 51%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:10, html.auto .sf-c-txt-mediumaquamarine\:10 { color: hsl(160, 51%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:20, html.auto .sf-c-txt-mediumaquamarine\:20 { color: hsl(160, 51%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:30, html.auto .sf-c-txt-mediumaquamarine\:30 { color: hsl(160, 51%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:40, html.auto .sf-c-txt-mediumaquamarine\:40 { color: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:50, html.auto .sf-c-txt-mediumaquamarine\:50 { color: hsl(160, 51%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:60, html.auto .sf-c-txt-mediumaquamarine\:60 { color: hsl(160, 51%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:70, html.auto .sf-c-txt-mediumaquamarine\:70 { color: hsl(160, 51%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:80, html.auto .sf-c-txt-mediumaquamarine\:80 { color: hsl(160, 51%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:90, html.auto .sf-c-txt-mediumaquamarine\:90 { color: hsl(160, 51%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:100, html.auto .sf-c-txt-mediumaquamarine\:100 { color: hsl(160, 51%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:st, html.auto .sf-c-txt-mediumaquamarine\:st { color: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:0\:st, html.auto .sf-c-txt-mediumaquamarine\:0\:st { color: hsl(160, 51%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:10\:st, html.auto .sf-c-txt-mediumaquamarine\:10\:st { color: hsl(160, 51%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:20\:st, html.auto .sf-c-txt-mediumaquamarine\:20\:st { color: hsl(160, 51%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:30\:st, html.auto .sf-c-txt-mediumaquamarine\:30\:st { color: hsl(160, 51%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:40\:st, html.auto .sf-c-txt-mediumaquamarine\:40\:st { color: hsl(160, 51%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:50\:st, html.auto .sf-c-txt-mediumaquamarine\:50\:st { color: hsl(160, 51%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:60\:st, html.auto .sf-c-txt-mediumaquamarine\:60\:st { color: hsl(160, 51%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:70\:st, html.auto .sf-c-txt-mediumaquamarine\:70\:st { color: hsl(160, 51%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:80\:st, html.auto .sf-c-txt-mediumaquamarine\:80\:st { color: hsl(160, 51%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:90\:st, html.auto .sf-c-txt-mediumaquamarine\:90\:st { color: hsl(160, 51%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumaquamarine\:100\:st, html.auto .sf-c-txt-mediumaquamarine\:100\:st { color: hsl(160, 51%, 100%) }
}