.sf-var-mediumpurple {
  --sf-c-mediumpurple: 260 60% 65%;
  --sf-c-mediumpurple-0: 260 60% 0%;
  --sf-c-mediumpurple-10: 260 60% 10%;
  --sf-c-mediumpurple-20: 260 60% 20%;
  --sf-c-mediumpurple-30: 260 60% 30%;
  --sf-c-mediumpurple-40: 260 60% 40%;
  --sf-c-mediumpurple-50: 260 60% 50%;
  --sf-c-mediumpurple-60: 260 60% 60%;
  --sf-c-mediumpurple-70: 260 60% 70%;
  --sf-c-mediumpurple-80: 260 60% 80%;
  --sf-c-mediumpurple-90: 260 60% 90%;
  --sf-c-mediumpurple-100: 260 60% 100%;
}

.sf-c-mediumpurple, .sf-c-mediumpurple\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 65%) }
.sf-c-mediumpurple\:0, .sf-c-mediumpurple\:0\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 0%) }
.sf-c-mediumpurple\:10, .sf-c-mediumpurple\:10\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 10%) }
.sf-c-mediumpurple\:20, .sf-c-mediumpurple\:20\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 20%) }
.sf-c-mediumpurple\:30, .sf-c-mediumpurple\:30\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 30%) }
.sf-c-mediumpurple\:40, .sf-c-mediumpurple\:40\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 40%) }
.sf-c-mediumpurple\:50, .sf-c-mediumpurple\:50\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 50%) }
.sf-c-mediumpurple\:60, .sf-c-mediumpurple\:60\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 60%) }
.sf-c-mediumpurple\:70, .sf-c-mediumpurple\:70\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 70%) }
.sf-c-mediumpurple\:80, .sf-c-mediumpurple\:80\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 80%) }
.sf-c-mediumpurple\:90, .sf-c-mediumpurple\:90\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 90%) }
.sf-c-mediumpurple\:100, .sf-c-mediumpurple\:100\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 100%) }

.sf-c-txt-mediumpurple { color: hsl(260, 60%, 10%) }
.sf-c-txt-mediumpurple\:st { color: hsl(260, 60%, 65%) }
.sf-c-txt-mediumpurple\:0, .sf-c-txt-mediumpurple\:0\:st { color: hsl(260, 60%, 0%) }
.sf-c-txt-mediumpurple\:10, .sf-c-txt-mediumpurple\:10\:st { color: hsl(260, 60%, 10%) }
.sf-c-txt-mediumpurple\:20, .sf-c-txt-mediumpurple\:20\:st { color: hsl(260, 60%, 20%) }
.sf-c-txt-mediumpurple\:30, .sf-c-txt-mediumpurple\:30\:st { color: hsl(260, 60%, 30%) }
.sf-c-txt-mediumpurple\:40, .sf-c-txt-mediumpurple\:40\:st { color: hsl(260, 60%, 40%) }
.sf-c-txt-mediumpurple\:50, .sf-c-txt-mediumpurple\:50\:st { color: hsl(260, 60%, 50%) }
.sf-c-txt-mediumpurple\:60, .sf-c-txt-mediumpurple\:60\:st { color: hsl(260, 60%, 60%) }
.sf-c-txt-mediumpurple\:70, .sf-c-txt-mediumpurple\:70\:st { color: hsl(260, 60%, 70%) }
.sf-c-txt-mediumpurple\:80, .sf-c-txt-mediumpurple\:80\:st { color: hsl(260, 60%, 80%) }
.sf-c-txt-mediumpurple\:90, .sf-c-txt-mediumpurple\:90\:st { color: hsl(260, 60%, 90%) }
.sf-c-txt-mediumpurple\:100, .sf-c-txt-mediumpurple\:100\:st { color: hsl(260, 60%, 100%) }

html[data-theme='dark'] .sf-c-mediumpurple, html.dark .sf-c-mediumpurple { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 35%) }
html[data-theme='dark'] .sf-c-mediumpurple\:0, html.dark .sf-c-mediumpurple\:0 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 100%) }
html[data-theme='dark'] .sf-c-mediumpurple\:10, html.dark .sf-c-mediumpurple\:10 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 90%) }
html[data-theme='dark'] .sf-c-mediumpurple\:20, html.dark .sf-c-mediumpurple\:20 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 80%) }
html[data-theme='dark'] .sf-c-mediumpurple\:30, html.dark .sf-c-mediumpurple\:30 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 70%) }
html[data-theme='dark'] .sf-c-mediumpurple\:40, html.dark .sf-c-mediumpurple\:40 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 60%) }
html[data-theme='dark'] .sf-c-mediumpurple\:50, html.dark .sf-c-mediumpurple\:50 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 50%) }
html[data-theme='dark'] .sf-c-mediumpurple\:60, html.dark .sf-c-mediumpurple\:60 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 40%) }
html[data-theme='dark'] .sf-c-mediumpurple\:70, html.dark .sf-c-mediumpurple\:70 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 30%) }
html[data-theme='dark'] .sf-c-mediumpurple\:80, html.dark .sf-c-mediumpurple\:80 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 20%) }
html[data-theme='dark'] .sf-c-mediumpurple\:90, html.dark .sf-c-mediumpurple\:90 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 10%) }
html[data-theme='dark'] .sf-c-mediumpurple\:100, html.dark .sf-c-mediumpurple\:100 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 0%) }

html[data-theme='dark'] .sf-c-mediumpurple\:st, html.dark .sf-c-mediumpurple\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 65%) }
html[data-theme='dark'] .sf-c-mediumpurple\:0\:st, html.dark .sf-c-mediumpurple\:0\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 0%) }
html[data-theme='dark'] .sf-c-mediumpurple\:10\:st, html.dark .sf-c-mediumpurple\:10\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 10%) }
html[data-theme='dark'] .sf-c-mediumpurple\:20\:st, html.dark .sf-c-mediumpurple\:20\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 20%) }
html[data-theme='dark'] .sf-c-mediumpurple\:30\:st, html.dark .sf-c-mediumpurple\:30\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 30%) }
html[data-theme='dark'] .sf-c-mediumpurple\:40\:st, html.dark .sf-c-mediumpurple\:40\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 40%) }
html[data-theme='dark'] .sf-c-mediumpurple\:50\:st, html.dark .sf-c-mediumpurple\:50\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 50%) }
html[data-theme='dark'] .sf-c-mediumpurple\:60\:st, html.dark .sf-c-mediumpurple\:60\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 60%) }
html[data-theme='dark'] .sf-c-mediumpurple\:70\:st, html.dark .sf-c-mediumpurple\:70\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 70%) }
html[data-theme='dark'] .sf-c-mediumpurple\:80\:st, html.dark .sf-c-mediumpurple\:80\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 80%) }
html[data-theme='dark'] .sf-c-mediumpurple\:90\:st, html.dark .sf-c-mediumpurple\:90\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 90%) }
html[data-theme='dark'] .sf-c-mediumpurple\:100\:st, html.dark .sf-c-mediumpurple\:100\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 100%) }

html[data-theme='dark'] .sf-c-txt-mediumpurple, html.dark .sf-c-txt-mediumpurple { color: hsl(260, 60%, 65%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:0, html.dark .sf-c-txt-mediumpurple\:0 { color: hsl(260, 60%, 100%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:10, html.dark .sf-c-txt-mediumpurple\:10 { color: hsl(260, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:20, html.dark .sf-c-txt-mediumpurple\:20 { color: hsl(260, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:30, html.dark .sf-c-txt-mediumpurple\:30 { color: hsl(260, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:40, html.dark .sf-c-txt-mediumpurple\:40 { color: hsl(260, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:50, html.dark .sf-c-txt-mediumpurple\:50 { color: hsl(260, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:60, html.dark .sf-c-txt-mediumpurple\:60 { color: hsl(260, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:70, html.dark .sf-c-txt-mediumpurple\:70 { color: hsl(260, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:80, html.dark .sf-c-txt-mediumpurple\:80 { color: hsl(260, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:90, html.dark .sf-c-txt-mediumpurple\:90 { color: hsl(260, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:100, html.dark .sf-c-txt-mediumpurple\:100 { color: hsl(260, 60%, 0%) }

html[data-theme='dark'] .sf-c-txt-mediumpurple\:st, html.dark .sf-c-txt-mediumpurple\:st { color: hsl(260, 60%, 65%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:0\:st, html.dark .sf-c-txt-mediumpurple\:0\:st { color: hsl(260, 60%, 0%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:10\:st, html.dark .sf-c-txt-mediumpurple\:10\:st { color: hsl(260, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:20\:st, html.dark .sf-c-txt-mediumpurple\:20\:st { color: hsl(260, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:30\:st, html.dark .sf-c-txt-mediumpurple\:30\:st { color: hsl(260, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:40\:st, html.dark .sf-c-txt-mediumpurple\:40\:st { color: hsl(260, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:50\:st, html.dark .sf-c-txt-mediumpurple\:50\:st { color: hsl(260, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:60\:st, html.dark .sf-c-txt-mediumpurple\:60\:st { color: hsl(260, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:70\:st, html.dark .sf-c-txt-mediumpurple\:70\:st { color: hsl(260, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:80\:st, html.dark .sf-c-txt-mediumpurple\:80\:st { color: hsl(260, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:90\:st, html.dark .sf-c-txt-mediumpurple\:90\:st { color: hsl(260, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumpurple\:100\:st, html.dark .sf-c-txt-mediumpurple\:100\:st { color: hsl(260, 60%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumpurple, html.auto .sf-c-mediumpurple { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 35%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:0, html.auto .sf-c-mediumpurple\:0 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 100%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:10, html.auto .sf-c-mediumpurple\:10 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 90%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:20, html.auto .sf-c-mediumpurple\:20 { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 80%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:30, html.auto .sf-c-mediumpurple\:30 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 70%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:40, html.auto .sf-c-mediumpurple\:40 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 60%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:50, html.auto .sf-c-mediumpurple\:50 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 50%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:60, html.auto .sf-c-mediumpurple\:60 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 40%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:70, html.auto .sf-c-mediumpurple\:70 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 30%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:80, html.auto .sf-c-mediumpurple\:80 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 20%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:90, html.auto .sf-c-mediumpurple\:90 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 10%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:100, html.auto .sf-c-mediumpurple\:100 { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 0%) }

  html[data-theme='auto'] .sf-c-mediumpurple\:st, html.auto .sf-c-mediumpurple\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 65%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:0\:st, html.auto .sf-c-mediumpurple\:0\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 0%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:10\:st, html.auto .sf-c-mediumpurple\:10\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 10%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:20\:st, html.auto .sf-c-mediumpurple\:20\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 20%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:30\:st, html.auto .sf-c-mediumpurple\:30\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 30%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:40\:st, html.auto .sf-c-mediumpurple\:40\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 40%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:50\:st, html.auto .sf-c-mediumpurple\:50\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 50%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:60\:st, html.auto .sf-c-mediumpurple\:60\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 60%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:70\:st, html.auto .sf-c-mediumpurple\:70\:st { color: hsl(260, 60%, 90%); background: hsl(260, 60%, 70%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:80\:st, html.auto .sf-c-mediumpurple\:80\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 80%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:90\:st, html.auto .sf-c-mediumpurple\:90\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 90%) }
  html[data-theme='auto'] .sf-c-mediumpurple\:100\:st, html.auto .sf-c-mediumpurple\:100\:st { color: hsl(260, 60%, 10%); background: hsl(260, 60%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mediumpurple, html.auto .sf-c-txt-mediumpurple { color: hsl(260, 60%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:0, html.auto .sf-c-txt-mediumpurple\:0 { color: hsl(260, 60%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:10, html.auto .sf-c-txt-mediumpurple\:10 { color: hsl(260, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:20, html.auto .sf-c-txt-mediumpurple\:20 { color: hsl(260, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:30, html.auto .sf-c-txt-mediumpurple\:30 { color: hsl(260, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:40, html.auto .sf-c-txt-mediumpurple\:40 { color: hsl(260, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:50, html.auto .sf-c-txt-mediumpurple\:50 { color: hsl(260, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:60, html.auto .sf-c-txt-mediumpurple\:60 { color: hsl(260, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:70, html.auto .sf-c-txt-mediumpurple\:70 { color: hsl(260, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:80, html.auto .sf-c-txt-mediumpurple\:80 { color: hsl(260, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:90, html.auto .sf-c-txt-mediumpurple\:90 { color: hsl(260, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:100, html.auto .sf-c-txt-mediumpurple\:100 { color: hsl(260, 60%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mediumpurple\:st, html.auto .sf-c-txt-mediumpurple\:st { color: hsl(260, 60%, 65%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:0\:st, html.auto .sf-c-txt-mediumpurple\:0\:st { color: hsl(260, 60%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:10\:st, html.auto .sf-c-txt-mediumpurple\:10\:st { color: hsl(260, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:20\:st, html.auto .sf-c-txt-mediumpurple\:20\:st { color: hsl(260, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:30\:st, html.auto .sf-c-txt-mediumpurple\:30\:st { color: hsl(260, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:40\:st, html.auto .sf-c-txt-mediumpurple\:40\:st { color: hsl(260, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:50\:st, html.auto .sf-c-txt-mediumpurple\:50\:st { color: hsl(260, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:60\:st, html.auto .sf-c-txt-mediumpurple\:60\:st { color: hsl(260, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:70\:st, html.auto .sf-c-txt-mediumpurple\:70\:st { color: hsl(260, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:80\:st, html.auto .sf-c-txt-mediumpurple\:80\:st { color: hsl(260, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:90\:st, html.auto .sf-c-txt-mediumpurple\:90\:st { color: hsl(260, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumpurple\:100\:st, html.auto .sf-c-txt-mediumpurple\:100\:st { color: hsl(260, 60%, 100%) }
}