.sf-var-mediumturquoise {
  --sf-c-mediumturquoise: 178 60% 55%;
  --sf-c-mediumturquoise-0: 178 60% 0%;
  --sf-c-mediumturquoise-10: 178 60% 10%;
  --sf-c-mediumturquoise-20: 178 60% 20%;
  --sf-c-mediumturquoise-30: 178 60% 30%;
  --sf-c-mediumturquoise-40: 178 60% 40%;
  --sf-c-mediumturquoise-50: 178 60% 50%;
  --sf-c-mediumturquoise-60: 178 60% 60%;
  --sf-c-mediumturquoise-70: 178 60% 70%;
  --sf-c-mediumturquoise-80: 178 60% 80%;
  --sf-c-mediumturquoise-90: 178 60% 90%;
  --sf-c-mediumturquoise-100: 178 60% 100%;
}

.sf-c-mediumturquoise, .sf-c-mediumturquoise\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 55%) }
.sf-c-mediumturquoise\:0, .sf-c-mediumturquoise\:0\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 0%) }
.sf-c-mediumturquoise\:10, .sf-c-mediumturquoise\:10\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 10%) }
.sf-c-mediumturquoise\:20, .sf-c-mediumturquoise\:20\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 20%) }
.sf-c-mediumturquoise\:30, .sf-c-mediumturquoise\:30\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 30%) }
.sf-c-mediumturquoise\:40, .sf-c-mediumturquoise\:40\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 40%) }
.sf-c-mediumturquoise\:50, .sf-c-mediumturquoise\:50\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 50%) }
.sf-c-mediumturquoise\:60, .sf-c-mediumturquoise\:60\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 60%) }
.sf-c-mediumturquoise\:70, .sf-c-mediumturquoise\:70\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 70%) }
.sf-c-mediumturquoise\:80, .sf-c-mediumturquoise\:80\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 80%) }
.sf-c-mediumturquoise\:90, .sf-c-mediumturquoise\:90\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 90%) }
.sf-c-mediumturquoise\:100, .sf-c-mediumturquoise\:100\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 100%) }

.sf-c-txt-mediumturquoise { color: hsl(178, 60%, 10%) }
.sf-c-txt-mediumturquoise\:st { color: hsl(178, 60%, 55%) }
.sf-c-txt-mediumturquoise\:0, .sf-c-txt-mediumturquoise\:0\:st { color: hsl(178, 60%, 0%) }
.sf-c-txt-mediumturquoise\:10, .sf-c-txt-mediumturquoise\:10\:st { color: hsl(178, 60%, 10%) }
.sf-c-txt-mediumturquoise\:20, .sf-c-txt-mediumturquoise\:20\:st { color: hsl(178, 60%, 20%) }
.sf-c-txt-mediumturquoise\:30, .sf-c-txt-mediumturquoise\:30\:st { color: hsl(178, 60%, 30%) }
.sf-c-txt-mediumturquoise\:40, .sf-c-txt-mediumturquoise\:40\:st { color: hsl(178, 60%, 40%) }
.sf-c-txt-mediumturquoise\:50, .sf-c-txt-mediumturquoise\:50\:st { color: hsl(178, 60%, 50%) }
.sf-c-txt-mediumturquoise\:60, .sf-c-txt-mediumturquoise\:60\:st { color: hsl(178, 60%, 60%) }
.sf-c-txt-mediumturquoise\:70, .sf-c-txt-mediumturquoise\:70\:st { color: hsl(178, 60%, 70%) }
.sf-c-txt-mediumturquoise\:80, .sf-c-txt-mediumturquoise\:80\:st { color: hsl(178, 60%, 80%) }
.sf-c-txt-mediumturquoise\:90, .sf-c-txt-mediumturquoise\:90\:st { color: hsl(178, 60%, 90%) }
.sf-c-txt-mediumturquoise\:100, .sf-c-txt-mediumturquoise\:100\:st { color: hsl(178, 60%, 100%) }

html[data-theme='dark'] .sf-c-mediumturquoise, html.dark .sf-c-mediumturquoise { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 45%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:0, html.dark .sf-c-mediumturquoise\:0 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 100%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:10, html.dark .sf-c-mediumturquoise\:10 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 90%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:20, html.dark .sf-c-mediumturquoise\:20 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 80%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:30, html.dark .sf-c-mediumturquoise\:30 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 70%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:40, html.dark .sf-c-mediumturquoise\:40 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 60%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:50, html.dark .sf-c-mediumturquoise\:50 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 50%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:60, html.dark .sf-c-mediumturquoise\:60 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 40%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:70, html.dark .sf-c-mediumturquoise\:70 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 30%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:80, html.dark .sf-c-mediumturquoise\:80 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 20%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:90, html.dark .sf-c-mediumturquoise\:90 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 10%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:100, html.dark .sf-c-mediumturquoise\:100 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 0%) }

html[data-theme='dark'] .sf-c-mediumturquoise\:st, html.dark .sf-c-mediumturquoise\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 55%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:0\:st, html.dark .sf-c-mediumturquoise\:0\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 0%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:10\:st, html.dark .sf-c-mediumturquoise\:10\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 10%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:20\:st, html.dark .sf-c-mediumturquoise\:20\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 20%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:30\:st, html.dark .sf-c-mediumturquoise\:30\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 30%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:40\:st, html.dark .sf-c-mediumturquoise\:40\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 40%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:50\:st, html.dark .sf-c-mediumturquoise\:50\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 50%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:60\:st, html.dark .sf-c-mediumturquoise\:60\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 60%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:70\:st, html.dark .sf-c-mediumturquoise\:70\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 70%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:80\:st, html.dark .sf-c-mediumturquoise\:80\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 80%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:90\:st, html.dark .sf-c-mediumturquoise\:90\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 90%) }
html[data-theme='dark'] .sf-c-mediumturquoise\:100\:st, html.dark .sf-c-mediumturquoise\:100\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 100%) }

html[data-theme='dark'] .sf-c-txt-mediumturquoise, html.dark .sf-c-txt-mediumturquoise { color: hsl(178, 60%, 55%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:0, html.dark .sf-c-txt-mediumturquoise\:0 { color: hsl(178, 60%, 100%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:10, html.dark .sf-c-txt-mediumturquoise\:10 { color: hsl(178, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:20, html.dark .sf-c-txt-mediumturquoise\:20 { color: hsl(178, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:30, html.dark .sf-c-txt-mediumturquoise\:30 { color: hsl(178, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:40, html.dark .sf-c-txt-mediumturquoise\:40 { color: hsl(178, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:50, html.dark .sf-c-txt-mediumturquoise\:50 { color: hsl(178, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:60, html.dark .sf-c-txt-mediumturquoise\:60 { color: hsl(178, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:70, html.dark .sf-c-txt-mediumturquoise\:70 { color: hsl(178, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:80, html.dark .sf-c-txt-mediumturquoise\:80 { color: hsl(178, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:90, html.dark .sf-c-txt-mediumturquoise\:90 { color: hsl(178, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:100, html.dark .sf-c-txt-mediumturquoise\:100 { color: hsl(178, 60%, 0%) }

html[data-theme='dark'] .sf-c-txt-mediumturquoise\:st, html.dark .sf-c-txt-mediumturquoise\:st { color: hsl(178, 60%, 55%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:0\:st, html.dark .sf-c-txt-mediumturquoise\:0\:st { color: hsl(178, 60%, 0%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:10\:st, html.dark .sf-c-txt-mediumturquoise\:10\:st { color: hsl(178, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:20\:st, html.dark .sf-c-txt-mediumturquoise\:20\:st { color: hsl(178, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:30\:st, html.dark .sf-c-txt-mediumturquoise\:30\:st { color: hsl(178, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:40\:st, html.dark .sf-c-txt-mediumturquoise\:40\:st { color: hsl(178, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:50\:st, html.dark .sf-c-txt-mediumturquoise\:50\:st { color: hsl(178, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:60\:st, html.dark .sf-c-txt-mediumturquoise\:60\:st { color: hsl(178, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:70\:st, html.dark .sf-c-txt-mediumturquoise\:70\:st { color: hsl(178, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:80\:st, html.dark .sf-c-txt-mediumturquoise\:80\:st { color: hsl(178, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:90\:st, html.dark .sf-c-txt-mediumturquoise\:90\:st { color: hsl(178, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-mediumturquoise\:100\:st, html.dark .sf-c-txt-mediumturquoise\:100\:st { color: hsl(178, 60%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mediumturquoise, html.auto .sf-c-mediumturquoise { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 45%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:0, html.auto .sf-c-mediumturquoise\:0 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 100%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:10, html.auto .sf-c-mediumturquoise\:10 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 90%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:20, html.auto .sf-c-mediumturquoise\:20 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 80%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:30, html.auto .sf-c-mediumturquoise\:30 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 70%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:40, html.auto .sf-c-mediumturquoise\:40 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 60%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:50, html.auto .sf-c-mediumturquoise\:50 { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 50%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:60, html.auto .sf-c-mediumturquoise\:60 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 40%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:70, html.auto .sf-c-mediumturquoise\:70 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 30%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:80, html.auto .sf-c-mediumturquoise\:80 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 20%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:90, html.auto .sf-c-mediumturquoise\:90 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 10%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:100, html.auto .sf-c-mediumturquoise\:100 { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 0%) }

  html[data-theme='auto'] .sf-c-mediumturquoise\:st, html.auto .sf-c-mediumturquoise\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 55%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:0\:st, html.auto .sf-c-mediumturquoise\:0\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 0%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:10\:st, html.auto .sf-c-mediumturquoise\:10\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 10%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:20\:st, html.auto .sf-c-mediumturquoise\:20\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 20%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:30\:st, html.auto .sf-c-mediumturquoise\:30\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 30%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:40\:st, html.auto .sf-c-mediumturquoise\:40\:st { color: hsl(178, 60%, 90%); background: hsl(178, 60%, 40%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:50\:st, html.auto .sf-c-mediumturquoise\:50\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 50%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:60\:st, html.auto .sf-c-mediumturquoise\:60\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 60%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:70\:st, html.auto .sf-c-mediumturquoise\:70\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 70%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:80\:st, html.auto .sf-c-mediumturquoise\:80\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 80%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:90\:st, html.auto .sf-c-mediumturquoise\:90\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 90%) }
  html[data-theme='auto'] .sf-c-mediumturquoise\:100\:st, html.auto .sf-c-mediumturquoise\:100\:st { color: hsl(178, 60%, 10%); background: hsl(178, 60%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mediumturquoise, html.auto .sf-c-txt-mediumturquoise { color: hsl(178, 60%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:0, html.auto .sf-c-txt-mediumturquoise\:0 { color: hsl(178, 60%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:10, html.auto .sf-c-txt-mediumturquoise\:10 { color: hsl(178, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:20, html.auto .sf-c-txt-mediumturquoise\:20 { color: hsl(178, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:30, html.auto .sf-c-txt-mediumturquoise\:30 { color: hsl(178, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:40, html.auto .sf-c-txt-mediumturquoise\:40 { color: hsl(178, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:50, html.auto .sf-c-txt-mediumturquoise\:50 { color: hsl(178, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:60, html.auto .sf-c-txt-mediumturquoise\:60 { color: hsl(178, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:70, html.auto .sf-c-txt-mediumturquoise\:70 { color: hsl(178, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:80, html.auto .sf-c-txt-mediumturquoise\:80 { color: hsl(178, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:90, html.auto .sf-c-txt-mediumturquoise\:90 { color: hsl(178, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:100, html.auto .sf-c-txt-mediumturquoise\:100 { color: hsl(178, 60%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:st, html.auto .sf-c-txt-mediumturquoise\:st { color: hsl(178, 60%, 55%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:0\:st, html.auto .sf-c-txt-mediumturquoise\:0\:st { color: hsl(178, 60%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:10\:st, html.auto .sf-c-txt-mediumturquoise\:10\:st { color: hsl(178, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:20\:st, html.auto .sf-c-txt-mediumturquoise\:20\:st { color: hsl(178, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:30\:st, html.auto .sf-c-txt-mediumturquoise\:30\:st { color: hsl(178, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:40\:st, html.auto .sf-c-txt-mediumturquoise\:40\:st { color: hsl(178, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:50\:st, html.auto .sf-c-txt-mediumturquoise\:50\:st { color: hsl(178, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:60\:st, html.auto .sf-c-txt-mediumturquoise\:60\:st { color: hsl(178, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:70\:st, html.auto .sf-c-txt-mediumturquoise\:70\:st { color: hsl(178, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:80\:st, html.auto .sf-c-txt-mediumturquoise\:80\:st { color: hsl(178, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:90\:st, html.auto .sf-c-txt-mediumturquoise\:90\:st { color: hsl(178, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mediumturquoise\:100\:st, html.auto .sf-c-txt-mediumturquoise\:100\:st { color: hsl(178, 60%, 100%) }
}