.sf-var-midnightblue {
  --sf-c-midnightblue: 240 64% 27%;
  --sf-c-midnightblue-0: 240 64% 0%;
  --sf-c-midnightblue-10: 240 64% 10%;
  --sf-c-midnightblue-20: 240 64% 20%;
  --sf-c-midnightblue-30: 240 64% 30%;
  --sf-c-midnightblue-40: 240 64% 40%;
  --sf-c-midnightblue-50: 240 64% 50%;
  --sf-c-midnightblue-60: 240 64% 60%;
  --sf-c-midnightblue-70: 240 64% 70%;
  --sf-c-midnightblue-80: 240 64% 80%;
  --sf-c-midnightblue-90: 240 64% 90%;
  --sf-c-midnightblue-100: 240 64% 100%;
}

.sf-c-midnightblue, .sf-c-midnightblue\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 27%) }
.sf-c-midnightblue\:0, .sf-c-midnightblue\:0\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 0%) }
.sf-c-midnightblue\:10, .sf-c-midnightblue\:10\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 10%) }
.sf-c-midnightblue\:20, .sf-c-midnightblue\:20\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 20%) }
.sf-c-midnightblue\:30, .sf-c-midnightblue\:30\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 30%) }
.sf-c-midnightblue\:40, .sf-c-midnightblue\:40\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 40%) }
.sf-c-midnightblue\:50, .sf-c-midnightblue\:50\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 50%) }
.sf-c-midnightblue\:60, .sf-c-midnightblue\:60\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 60%) }
.sf-c-midnightblue\:70, .sf-c-midnightblue\:70\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 70%) }
.sf-c-midnightblue\:80, .sf-c-midnightblue\:80\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 80%) }
.sf-c-midnightblue\:90, .sf-c-midnightblue\:90\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 90%) }
.sf-c-midnightblue\:100, .sf-c-midnightblue\:100\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 100%) }

.sf-c-txt-midnightblue { color: hsl(240, 64%, 27%) }
.sf-c-txt-midnightblue\:st { color: hsl(240, 64%, 27%) }
.sf-c-txt-midnightblue\:0, .sf-c-txt-midnightblue\:0\:st { color: hsl(240, 64%, 0%) }
.sf-c-txt-midnightblue\:10, .sf-c-txt-midnightblue\:10\:st { color: hsl(240, 64%, 10%) }
.sf-c-txt-midnightblue\:20, .sf-c-txt-midnightblue\:20\:st { color: hsl(240, 64%, 20%) }
.sf-c-txt-midnightblue\:30, .sf-c-txt-midnightblue\:30\:st { color: hsl(240, 64%, 30%) }
.sf-c-txt-midnightblue\:40, .sf-c-txt-midnightblue\:40\:st { color: hsl(240, 64%, 40%) }
.sf-c-txt-midnightblue\:50, .sf-c-txt-midnightblue\:50\:st { color: hsl(240, 64%, 50%) }
.sf-c-txt-midnightblue\:60, .sf-c-txt-midnightblue\:60\:st { color: hsl(240, 64%, 60%) }
.sf-c-txt-midnightblue\:70, .sf-c-txt-midnightblue\:70\:st { color: hsl(240, 64%, 70%) }
.sf-c-txt-midnightblue\:80, .sf-c-txt-midnightblue\:80\:st { color: hsl(240, 64%, 80%) }
.sf-c-txt-midnightblue\:90, .sf-c-txt-midnightblue\:90\:st { color: hsl(240, 64%, 90%) }
.sf-c-txt-midnightblue\:100, .sf-c-txt-midnightblue\:100\:st { color: hsl(240, 64%, 100%) }

html[data-theme='dark'] .sf-c-midnightblue, html.dark .sf-c-midnightblue { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 73%) }
html[data-theme='dark'] .sf-c-midnightblue\:0, html.dark .sf-c-midnightblue\:0 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 100%) }
html[data-theme='dark'] .sf-c-midnightblue\:10, html.dark .sf-c-midnightblue\:10 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 90%) }
html[data-theme='dark'] .sf-c-midnightblue\:20, html.dark .sf-c-midnightblue\:20 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 80%) }
html[data-theme='dark'] .sf-c-midnightblue\:30, html.dark .sf-c-midnightblue\:30 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 70%) }
html[data-theme='dark'] .sf-c-midnightblue\:40, html.dark .sf-c-midnightblue\:40 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 60%) }
html[data-theme='dark'] .sf-c-midnightblue\:50, html.dark .sf-c-midnightblue\:50 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 50%) }
html[data-theme='dark'] .sf-c-midnightblue\:60, html.dark .sf-c-midnightblue\:60 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 40%) }
html[data-theme='dark'] .sf-c-midnightblue\:70, html.dark .sf-c-midnightblue\:70 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 30%) }
html[data-theme='dark'] .sf-c-midnightblue\:80, html.dark .sf-c-midnightblue\:80 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 20%) }
html[data-theme='dark'] .sf-c-midnightblue\:90, html.dark .sf-c-midnightblue\:90 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 10%) }
html[data-theme='dark'] .sf-c-midnightblue\:100, html.dark .sf-c-midnightblue\:100 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 0%) }

html[data-theme='dark'] .sf-c-midnightblue\:st, html.dark .sf-c-midnightblue\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 27%) }
html[data-theme='dark'] .sf-c-midnightblue\:0\:st, html.dark .sf-c-midnightblue\:0\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 0%) }
html[data-theme='dark'] .sf-c-midnightblue\:10\:st, html.dark .sf-c-midnightblue\:10\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 10%) }
html[data-theme='dark'] .sf-c-midnightblue\:20\:st, html.dark .sf-c-midnightblue\:20\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 20%) }
html[data-theme='dark'] .sf-c-midnightblue\:30\:st, html.dark .sf-c-midnightblue\:30\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 30%) }
html[data-theme='dark'] .sf-c-midnightblue\:40\:st, html.dark .sf-c-midnightblue\:40\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 40%) }
html[data-theme='dark'] .sf-c-midnightblue\:50\:st, html.dark .sf-c-midnightblue\:50\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 50%) }
html[data-theme='dark'] .sf-c-midnightblue\:60\:st, html.dark .sf-c-midnightblue\:60\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 60%) }
html[data-theme='dark'] .sf-c-midnightblue\:70\:st, html.dark .sf-c-midnightblue\:70\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 70%) }
html[data-theme='dark'] .sf-c-midnightblue\:80\:st, html.dark .sf-c-midnightblue\:80\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 80%) }
html[data-theme='dark'] .sf-c-midnightblue\:90\:st, html.dark .sf-c-midnightblue\:90\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 90%) }
html[data-theme='dark'] .sf-c-midnightblue\:100\:st, html.dark .sf-c-midnightblue\:100\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 100%) }

html[data-theme='dark'] .sf-c-txt-midnightblue, html.dark .sf-c-txt-midnightblue { color: hsl(240, 64%, 73%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:0, html.dark .sf-c-txt-midnightblue\:0 { color: hsl(240, 64%, 100%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:10, html.dark .sf-c-txt-midnightblue\:10 { color: hsl(240, 64%, 90%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:20, html.dark .sf-c-txt-midnightblue\:20 { color: hsl(240, 64%, 80%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:30, html.dark .sf-c-txt-midnightblue\:30 { color: hsl(240, 64%, 70%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:40, html.dark .sf-c-txt-midnightblue\:40 { color: hsl(240, 64%, 60%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:50, html.dark .sf-c-txt-midnightblue\:50 { color: hsl(240, 64%, 50%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:60, html.dark .sf-c-txt-midnightblue\:60 { color: hsl(240, 64%, 40%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:70, html.dark .sf-c-txt-midnightblue\:70 { color: hsl(240, 64%, 30%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:80, html.dark .sf-c-txt-midnightblue\:80 { color: hsl(240, 64%, 20%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:90, html.dark .sf-c-txt-midnightblue\:90 { color: hsl(240, 64%, 10%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:100, html.dark .sf-c-txt-midnightblue\:100 { color: hsl(240, 64%, 0%) }

html[data-theme='dark'] .sf-c-txt-midnightblue\:st, html.dark .sf-c-txt-midnightblue\:st { color: hsl(240, 64%, 27%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:0\:st, html.dark .sf-c-txt-midnightblue\:0\:st { color: hsl(240, 64%, 0%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:10\:st, html.dark .sf-c-txt-midnightblue\:10\:st { color: hsl(240, 64%, 10%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:20\:st, html.dark .sf-c-txt-midnightblue\:20\:st { color: hsl(240, 64%, 20%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:30\:st, html.dark .sf-c-txt-midnightblue\:30\:st { color: hsl(240, 64%, 30%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:40\:st, html.dark .sf-c-txt-midnightblue\:40\:st { color: hsl(240, 64%, 40%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:50\:st, html.dark .sf-c-txt-midnightblue\:50\:st { color: hsl(240, 64%, 50%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:60\:st, html.dark .sf-c-txt-midnightblue\:60\:st { color: hsl(240, 64%, 60%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:70\:st, html.dark .sf-c-txt-midnightblue\:70\:st { color: hsl(240, 64%, 70%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:80\:st, html.dark .sf-c-txt-midnightblue\:80\:st { color: hsl(240, 64%, 80%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:90\:st, html.dark .sf-c-txt-midnightblue\:90\:st { color: hsl(240, 64%, 90%) }
html[data-theme='dark'] .sf-c-txt-midnightblue\:100\:st, html.dark .sf-c-txt-midnightblue\:100\:st { color: hsl(240, 64%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-midnightblue, html.auto .sf-c-midnightblue { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 73%) }
  html[data-theme='auto'] .sf-c-midnightblue\:0, html.auto .sf-c-midnightblue\:0 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 100%) }
  html[data-theme='auto'] .sf-c-midnightblue\:10, html.auto .sf-c-midnightblue\:10 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 90%) }
  html[data-theme='auto'] .sf-c-midnightblue\:20, html.auto .sf-c-midnightblue\:20 { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 80%) }
  html[data-theme='auto'] .sf-c-midnightblue\:30, html.auto .sf-c-midnightblue\:30 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 70%) }
  html[data-theme='auto'] .sf-c-midnightblue\:40, html.auto .sf-c-midnightblue\:40 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 60%) }
  html[data-theme='auto'] .sf-c-midnightblue\:50, html.auto .sf-c-midnightblue\:50 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 50%) }
  html[data-theme='auto'] .sf-c-midnightblue\:60, html.auto .sf-c-midnightblue\:60 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 40%) }
  html[data-theme='auto'] .sf-c-midnightblue\:70, html.auto .sf-c-midnightblue\:70 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 30%) }
  html[data-theme='auto'] .sf-c-midnightblue\:80, html.auto .sf-c-midnightblue\:80 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 20%) }
  html[data-theme='auto'] .sf-c-midnightblue\:90, html.auto .sf-c-midnightblue\:90 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 10%) }
  html[data-theme='auto'] .sf-c-midnightblue\:100, html.auto .sf-c-midnightblue\:100 { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 0%) }

  html[data-theme='auto'] .sf-c-midnightblue\:st, html.auto .sf-c-midnightblue\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 27%) }
  html[data-theme='auto'] .sf-c-midnightblue\:0\:st, html.auto .sf-c-midnightblue\:0\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 0%) }
  html[data-theme='auto'] .sf-c-midnightblue\:10\:st, html.auto .sf-c-midnightblue\:10\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 10%) }
  html[data-theme='auto'] .sf-c-midnightblue\:20\:st, html.auto .sf-c-midnightblue\:20\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 20%) }
  html[data-theme='auto'] .sf-c-midnightblue\:30\:st, html.auto .sf-c-midnightblue\:30\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 30%) }
  html[data-theme='auto'] .sf-c-midnightblue\:40\:st, html.auto .sf-c-midnightblue\:40\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 40%) }
  html[data-theme='auto'] .sf-c-midnightblue\:50\:st, html.auto .sf-c-midnightblue\:50\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 50%) }
  html[data-theme='auto'] .sf-c-midnightblue\:60\:st, html.auto .sf-c-midnightblue\:60\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 60%) }
  html[data-theme='auto'] .sf-c-midnightblue\:70\:st, html.auto .sf-c-midnightblue\:70\:st { color: hsl(240, 64%, 90%); background: hsl(240, 64%, 70%) }
  html[data-theme='auto'] .sf-c-midnightblue\:80\:st, html.auto .sf-c-midnightblue\:80\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 80%) }
  html[data-theme='auto'] .sf-c-midnightblue\:90\:st, html.auto .sf-c-midnightblue\:90\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 90%) }
  html[data-theme='auto'] .sf-c-midnightblue\:100\:st, html.auto .sf-c-midnightblue\:100\:st { color: hsl(240, 64%, 10%); background: hsl(240, 64%, 100%) }

  html[data-theme='auto'] .sf-c-txt-midnightblue, html.auto .sf-c-txt-midnightblue { color: hsl(240, 64%, 73%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:0, html.auto .sf-c-txt-midnightblue\:0 { color: hsl(240, 64%, 100%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:10, html.auto .sf-c-txt-midnightblue\:10 { color: hsl(240, 64%, 90%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:20, html.auto .sf-c-txt-midnightblue\:20 { color: hsl(240, 64%, 80%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:30, html.auto .sf-c-txt-midnightblue\:30 { color: hsl(240, 64%, 70%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:40, html.auto .sf-c-txt-midnightblue\:40 { color: hsl(240, 64%, 60%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:50, html.auto .sf-c-txt-midnightblue\:50 { color: hsl(240, 64%, 50%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:60, html.auto .sf-c-txt-midnightblue\:60 { color: hsl(240, 64%, 40%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:70, html.auto .sf-c-txt-midnightblue\:70 { color: hsl(240, 64%, 30%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:80, html.auto .sf-c-txt-midnightblue\:80 { color: hsl(240, 64%, 20%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:90, html.auto .sf-c-txt-midnightblue\:90 { color: hsl(240, 64%, 10%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:100, html.auto .sf-c-txt-midnightblue\:100 { color: hsl(240, 64%, 0%) }

  html[data-theme='auto'] .sf-c-txt-midnightblue\:st, html.auto .sf-c-txt-midnightblue\:st { color: hsl(240, 64%, 27%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:0\:st, html.auto .sf-c-txt-midnightblue\:0\:st { color: hsl(240, 64%, 0%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:10\:st, html.auto .sf-c-txt-midnightblue\:10\:st { color: hsl(240, 64%, 10%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:20\:st, html.auto .sf-c-txt-midnightblue\:20\:st { color: hsl(240, 64%, 20%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:30\:st, html.auto .sf-c-txt-midnightblue\:30\:st { color: hsl(240, 64%, 30%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:40\:st, html.auto .sf-c-txt-midnightblue\:40\:st { color: hsl(240, 64%, 40%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:50\:st, html.auto .sf-c-txt-midnightblue\:50\:st { color: hsl(240, 64%, 50%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:60\:st, html.auto .sf-c-txt-midnightblue\:60\:st { color: hsl(240, 64%, 60%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:70\:st, html.auto .sf-c-txt-midnightblue\:70\:st { color: hsl(240, 64%, 70%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:80\:st, html.auto .sf-c-txt-midnightblue\:80\:st { color: hsl(240, 64%, 80%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:90\:st, html.auto .sf-c-txt-midnightblue\:90\:st { color: hsl(240, 64%, 90%) }
  html[data-theme='auto'] .sf-c-txt-midnightblue\:100\:st, html.auto .sf-c-txt-midnightblue\:100\:st { color: hsl(240, 64%, 100%) }
}