.sf-var-mistyrose {
  --sf-c-mistyrose: 6 100% 94%;
  --sf-c-mistyrose-0: 6 100% 0%;
  --sf-c-mistyrose-10: 6 100% 10%;
  --sf-c-mistyrose-20: 6 100% 20%;
  --sf-c-mistyrose-30: 6 100% 30%;
  --sf-c-mistyrose-40: 6 100% 40%;
  --sf-c-mistyrose-50: 6 100% 50%;
  --sf-c-mistyrose-60: 6 100% 60%;
  --sf-c-mistyrose-70: 6 100% 70%;
  --sf-c-mistyrose-80: 6 100% 80%;
  --sf-c-mistyrose-90: 6 100% 90%;
  --sf-c-mistyrose-100: 6 100% 100%;
}

.sf-c-mistyrose, .sf-c-mistyrose\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 94%) }
.sf-c-mistyrose\:0, .sf-c-mistyrose\:0\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 0%) }
.sf-c-mistyrose\:10, .sf-c-mistyrose\:10\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 10%) }
.sf-c-mistyrose\:20, .sf-c-mistyrose\:20\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 20%) }
.sf-c-mistyrose\:30, .sf-c-mistyrose\:30\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 30%) }
.sf-c-mistyrose\:40, .sf-c-mistyrose\:40\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 40%) }
.sf-c-mistyrose\:50, .sf-c-mistyrose\:50\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 50%) }
.sf-c-mistyrose\:60, .sf-c-mistyrose\:60\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 60%) }
.sf-c-mistyrose\:70, .sf-c-mistyrose\:70\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 70%) }
.sf-c-mistyrose\:80, .sf-c-mistyrose\:80\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 80%) }
.sf-c-mistyrose\:90, .sf-c-mistyrose\:90\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 90%) }
.sf-c-mistyrose\:100, .sf-c-mistyrose\:100\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 100%) }

.sf-c-txt-mistyrose { color: hsl(6, 100%, 10%) }
.sf-c-txt-mistyrose\:st { color: hsl(6, 100%, 94%) }
.sf-c-txt-mistyrose\:0, .sf-c-txt-mistyrose\:0\:st { color: hsl(6, 100%, 0%) }
.sf-c-txt-mistyrose\:10, .sf-c-txt-mistyrose\:10\:st { color: hsl(6, 100%, 10%) }
.sf-c-txt-mistyrose\:20, .sf-c-txt-mistyrose\:20\:st { color: hsl(6, 100%, 20%) }
.sf-c-txt-mistyrose\:30, .sf-c-txt-mistyrose\:30\:st { color: hsl(6, 100%, 30%) }
.sf-c-txt-mistyrose\:40, .sf-c-txt-mistyrose\:40\:st { color: hsl(6, 100%, 40%) }
.sf-c-txt-mistyrose\:50, .sf-c-txt-mistyrose\:50\:st { color: hsl(6, 100%, 50%) }
.sf-c-txt-mistyrose\:60, .sf-c-txt-mistyrose\:60\:st { color: hsl(6, 100%, 60%) }
.sf-c-txt-mistyrose\:70, .sf-c-txt-mistyrose\:70\:st { color: hsl(6, 100%, 70%) }
.sf-c-txt-mistyrose\:80, .sf-c-txt-mistyrose\:80\:st { color: hsl(6, 100%, 80%) }
.sf-c-txt-mistyrose\:90, .sf-c-txt-mistyrose\:90\:st { color: hsl(6, 100%, 90%) }
.sf-c-txt-mistyrose\:100, .sf-c-txt-mistyrose\:100\:st { color: hsl(6, 100%, 100%) }

html[data-theme='dark'] .sf-c-mistyrose, html.dark .sf-c-mistyrose { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 6%) }
html[data-theme='dark'] .sf-c-mistyrose\:0, html.dark .sf-c-mistyrose\:0 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 100%) }
html[data-theme='dark'] .sf-c-mistyrose\:10, html.dark .sf-c-mistyrose\:10 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 90%) }
html[data-theme='dark'] .sf-c-mistyrose\:20, html.dark .sf-c-mistyrose\:20 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 80%) }
html[data-theme='dark'] .sf-c-mistyrose\:30, html.dark .sf-c-mistyrose\:30 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 70%) }
html[data-theme='dark'] .sf-c-mistyrose\:40, html.dark .sf-c-mistyrose\:40 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 60%) }
html[data-theme='dark'] .sf-c-mistyrose\:50, html.dark .sf-c-mistyrose\:50 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 50%) }
html[data-theme='dark'] .sf-c-mistyrose\:60, html.dark .sf-c-mistyrose\:60 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 40%) }
html[data-theme='dark'] .sf-c-mistyrose\:70, html.dark .sf-c-mistyrose\:70 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 30%) }
html[data-theme='dark'] .sf-c-mistyrose\:80, html.dark .sf-c-mistyrose\:80 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 20%) }
html[data-theme='dark'] .sf-c-mistyrose\:90, html.dark .sf-c-mistyrose\:90 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 10%) }
html[data-theme='dark'] .sf-c-mistyrose\:100, html.dark .sf-c-mistyrose\:100 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 0%) }

html[data-theme='dark'] .sf-c-mistyrose\:st, html.dark .sf-c-mistyrose\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 94%) }
html[data-theme='dark'] .sf-c-mistyrose\:0\:st, html.dark .sf-c-mistyrose\:0\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 0%) }
html[data-theme='dark'] .sf-c-mistyrose\:10\:st, html.dark .sf-c-mistyrose\:10\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 10%) }
html[data-theme='dark'] .sf-c-mistyrose\:20\:st, html.dark .sf-c-mistyrose\:20\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 20%) }
html[data-theme='dark'] .sf-c-mistyrose\:30\:st, html.dark .sf-c-mistyrose\:30\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 30%) }
html[data-theme='dark'] .sf-c-mistyrose\:40\:st, html.dark .sf-c-mistyrose\:40\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 40%) }
html[data-theme='dark'] .sf-c-mistyrose\:50\:st, html.dark .sf-c-mistyrose\:50\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 50%) }
html[data-theme='dark'] .sf-c-mistyrose\:60\:st, html.dark .sf-c-mistyrose\:60\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 60%) }
html[data-theme='dark'] .sf-c-mistyrose\:70\:st, html.dark .sf-c-mistyrose\:70\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 70%) }
html[data-theme='dark'] .sf-c-mistyrose\:80\:st, html.dark .sf-c-mistyrose\:80\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 80%) }
html[data-theme='dark'] .sf-c-mistyrose\:90\:st, html.dark .sf-c-mistyrose\:90\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 90%) }
html[data-theme='dark'] .sf-c-mistyrose\:100\:st, html.dark .sf-c-mistyrose\:100\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-mistyrose, html.dark .sf-c-txt-mistyrose { color: hsl(6, 100%, 94%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:0, html.dark .sf-c-txt-mistyrose\:0 { color: hsl(6, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:10, html.dark .sf-c-txt-mistyrose\:10 { color: hsl(6, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:20, html.dark .sf-c-txt-mistyrose\:20 { color: hsl(6, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:30, html.dark .sf-c-txt-mistyrose\:30 { color: hsl(6, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:40, html.dark .sf-c-txt-mistyrose\:40 { color: hsl(6, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:50, html.dark .sf-c-txt-mistyrose\:50 { color: hsl(6, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:60, html.dark .sf-c-txt-mistyrose\:60 { color: hsl(6, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:70, html.dark .sf-c-txt-mistyrose\:70 { color: hsl(6, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:80, html.dark .sf-c-txt-mistyrose\:80 { color: hsl(6, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:90, html.dark .sf-c-txt-mistyrose\:90 { color: hsl(6, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:100, html.dark .sf-c-txt-mistyrose\:100 { color: hsl(6, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-mistyrose\:st, html.dark .sf-c-txt-mistyrose\:st { color: hsl(6, 100%, 94%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:0\:st, html.dark .sf-c-txt-mistyrose\:0\:st { color: hsl(6, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:10\:st, html.dark .sf-c-txt-mistyrose\:10\:st { color: hsl(6, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:20\:st, html.dark .sf-c-txt-mistyrose\:20\:st { color: hsl(6, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:30\:st, html.dark .sf-c-txt-mistyrose\:30\:st { color: hsl(6, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:40\:st, html.dark .sf-c-txt-mistyrose\:40\:st { color: hsl(6, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:50\:st, html.dark .sf-c-txt-mistyrose\:50\:st { color: hsl(6, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:60\:st, html.dark .sf-c-txt-mistyrose\:60\:st { color: hsl(6, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:70\:st, html.dark .sf-c-txt-mistyrose\:70\:st { color: hsl(6, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:80\:st, html.dark .sf-c-txt-mistyrose\:80\:st { color: hsl(6, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:90\:st, html.dark .sf-c-txt-mistyrose\:90\:st { color: hsl(6, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-mistyrose\:100\:st, html.dark .sf-c-txt-mistyrose\:100\:st { color: hsl(6, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-mistyrose, html.auto .sf-c-mistyrose { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 6%) }
  html[data-theme='auto'] .sf-c-mistyrose\:0, html.auto .sf-c-mistyrose\:0 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 100%) }
  html[data-theme='auto'] .sf-c-mistyrose\:10, html.auto .sf-c-mistyrose\:10 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mistyrose\:20, html.auto .sf-c-mistyrose\:20 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mistyrose\:30, html.auto .sf-c-mistyrose\:30 { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mistyrose\:40, html.auto .sf-c-mistyrose\:40 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mistyrose\:50, html.auto .sf-c-mistyrose\:50 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mistyrose\:60, html.auto .sf-c-mistyrose\:60 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mistyrose\:70, html.auto .sf-c-mistyrose\:70 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mistyrose\:80, html.auto .sf-c-mistyrose\:80 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mistyrose\:90, html.auto .sf-c-mistyrose\:90 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mistyrose\:100, html.auto .sf-c-mistyrose\:100 { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 0%) }

  html[data-theme='auto'] .sf-c-mistyrose\:st, html.auto .sf-c-mistyrose\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 94%) }
  html[data-theme='auto'] .sf-c-mistyrose\:0\:st, html.auto .sf-c-mistyrose\:0\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 0%) }
  html[data-theme='auto'] .sf-c-mistyrose\:10\:st, html.auto .sf-c-mistyrose\:10\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 10%) }
  html[data-theme='auto'] .sf-c-mistyrose\:20\:st, html.auto .sf-c-mistyrose\:20\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 20%) }
  html[data-theme='auto'] .sf-c-mistyrose\:30\:st, html.auto .sf-c-mistyrose\:30\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 30%) }
  html[data-theme='auto'] .sf-c-mistyrose\:40\:st, html.auto .sf-c-mistyrose\:40\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 40%) }
  html[data-theme='auto'] .sf-c-mistyrose\:50\:st, html.auto .sf-c-mistyrose\:50\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 50%) }
  html[data-theme='auto'] .sf-c-mistyrose\:60\:st, html.auto .sf-c-mistyrose\:60\:st { color: hsl(6, 100%, 90%); background: hsl(6, 100%, 60%) }
  html[data-theme='auto'] .sf-c-mistyrose\:70\:st, html.auto .sf-c-mistyrose\:70\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 70%) }
  html[data-theme='auto'] .sf-c-mistyrose\:80\:st, html.auto .sf-c-mistyrose\:80\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 80%) }
  html[data-theme='auto'] .sf-c-mistyrose\:90\:st, html.auto .sf-c-mistyrose\:90\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 90%) }
  html[data-theme='auto'] .sf-c-mistyrose\:100\:st, html.auto .sf-c-mistyrose\:100\:st { color: hsl(6, 100%, 10%); background: hsl(6, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-mistyrose, html.auto .sf-c-txt-mistyrose { color: hsl(6, 100%, 94%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:0, html.auto .sf-c-txt-mistyrose\:0 { color: hsl(6, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:10, html.auto .sf-c-txt-mistyrose\:10 { color: hsl(6, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:20, html.auto .sf-c-txt-mistyrose\:20 { color: hsl(6, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:30, html.auto .sf-c-txt-mistyrose\:30 { color: hsl(6, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:40, html.auto .sf-c-txt-mistyrose\:40 { color: hsl(6, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:50, html.auto .sf-c-txt-mistyrose\:50 { color: hsl(6, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:60, html.auto .sf-c-txt-mistyrose\:60 { color: hsl(6, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:70, html.auto .sf-c-txt-mistyrose\:70 { color: hsl(6, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:80, html.auto .sf-c-txt-mistyrose\:80 { color: hsl(6, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:90, html.auto .sf-c-txt-mistyrose\:90 { color: hsl(6, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:100, html.auto .sf-c-txt-mistyrose\:100 { color: hsl(6, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-mistyrose\:st, html.auto .sf-c-txt-mistyrose\:st { color: hsl(6, 100%, 94%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:0\:st, html.auto .sf-c-txt-mistyrose\:0\:st { color: hsl(6, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:10\:st, html.auto .sf-c-txt-mistyrose\:10\:st { color: hsl(6, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:20\:st, html.auto .sf-c-txt-mistyrose\:20\:st { color: hsl(6, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:30\:st, html.auto .sf-c-txt-mistyrose\:30\:st { color: hsl(6, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:40\:st, html.auto .sf-c-txt-mistyrose\:40\:st { color: hsl(6, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:50\:st, html.auto .sf-c-txt-mistyrose\:50\:st { color: hsl(6, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:60\:st, html.auto .sf-c-txt-mistyrose\:60\:st { color: hsl(6, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:70\:st, html.auto .sf-c-txt-mistyrose\:70\:st { color: hsl(6, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:80\:st, html.auto .sf-c-txt-mistyrose\:80\:st { color: hsl(6, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:90\:st, html.auto .sf-c-txt-mistyrose\:90\:st { color: hsl(6, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-mistyrose\:100\:st, html.auto .sf-c-txt-mistyrose\:100\:st { color: hsl(6, 100%, 100%) }
}