.sf-var-moccasin {
  --sf-c-moccasin: 38 100% 85%;
  --sf-c-moccasin-0: 38 100% 0%;
  --sf-c-moccasin-10: 38 100% 10%;
  --sf-c-moccasin-20: 38 100% 20%;
  --sf-c-moccasin-30: 38 100% 30%;
  --sf-c-moccasin-40: 38 100% 40%;
  --sf-c-moccasin-50: 38 100% 50%;
  --sf-c-moccasin-60: 38 100% 60%;
  --sf-c-moccasin-70: 38 100% 70%;
  --sf-c-moccasin-80: 38 100% 80%;
  --sf-c-moccasin-90: 38 100% 90%;
  --sf-c-moccasin-100: 38 100% 100%;
}

.sf-c-moccasin, .sf-c-moccasin\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 85%) }
.sf-c-moccasin\:0, .sf-c-moccasin\:0\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 0%) }
.sf-c-moccasin\:10, .sf-c-moccasin\:10\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 10%) }
.sf-c-moccasin\:20, .sf-c-moccasin\:20\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 20%) }
.sf-c-moccasin\:30, .sf-c-moccasin\:30\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 30%) }
.sf-c-moccasin\:40, .sf-c-moccasin\:40\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 40%) }
.sf-c-moccasin\:50, .sf-c-moccasin\:50\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 50%) }
.sf-c-moccasin\:60, .sf-c-moccasin\:60\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 60%) }
.sf-c-moccasin\:70, .sf-c-moccasin\:70\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 70%) }
.sf-c-moccasin\:80, .sf-c-moccasin\:80\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 80%) }
.sf-c-moccasin\:90, .sf-c-moccasin\:90\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 90%) }
.sf-c-moccasin\:100, .sf-c-moccasin\:100\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 100%) }

.sf-c-txt-moccasin { color: hsl(38, 100%, 10%) }
.sf-c-txt-moccasin\:st { color: hsl(38, 100%, 85%) }
.sf-c-txt-moccasin\:0, .sf-c-txt-moccasin\:0\:st { color: hsl(38, 100%, 0%) }
.sf-c-txt-moccasin\:10, .sf-c-txt-moccasin\:10\:st { color: hsl(38, 100%, 10%) }
.sf-c-txt-moccasin\:20, .sf-c-txt-moccasin\:20\:st { color: hsl(38, 100%, 20%) }
.sf-c-txt-moccasin\:30, .sf-c-txt-moccasin\:30\:st { color: hsl(38, 100%, 30%) }
.sf-c-txt-moccasin\:40, .sf-c-txt-moccasin\:40\:st { color: hsl(38, 100%, 40%) }
.sf-c-txt-moccasin\:50, .sf-c-txt-moccasin\:50\:st { color: hsl(38, 100%, 50%) }
.sf-c-txt-moccasin\:60, .sf-c-txt-moccasin\:60\:st { color: hsl(38, 100%, 60%) }
.sf-c-txt-moccasin\:70, .sf-c-txt-moccasin\:70\:st { color: hsl(38, 100%, 70%) }
.sf-c-txt-moccasin\:80, .sf-c-txt-moccasin\:80\:st { color: hsl(38, 100%, 80%) }
.sf-c-txt-moccasin\:90, .sf-c-txt-moccasin\:90\:st { color: hsl(38, 100%, 90%) }
.sf-c-txt-moccasin\:100, .sf-c-txt-moccasin\:100\:st { color: hsl(38, 100%, 100%) }

html[data-theme='dark'] .sf-c-moccasin, html.dark .sf-c-moccasin { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 15%) }
html[data-theme='dark'] .sf-c-moccasin\:0, html.dark .sf-c-moccasin\:0 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 100%) }
html[data-theme='dark'] .sf-c-moccasin\:10, html.dark .sf-c-moccasin\:10 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 90%) }
html[data-theme='dark'] .sf-c-moccasin\:20, html.dark .sf-c-moccasin\:20 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 80%) }
html[data-theme='dark'] .sf-c-moccasin\:30, html.dark .sf-c-moccasin\:30 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 70%) }
html[data-theme='dark'] .sf-c-moccasin\:40, html.dark .sf-c-moccasin\:40 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 60%) }
html[data-theme='dark'] .sf-c-moccasin\:50, html.dark .sf-c-moccasin\:50 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 50%) }
html[data-theme='dark'] .sf-c-moccasin\:60, html.dark .sf-c-moccasin\:60 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 40%) }
html[data-theme='dark'] .sf-c-moccasin\:70, html.dark .sf-c-moccasin\:70 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 30%) }
html[data-theme='dark'] .sf-c-moccasin\:80, html.dark .sf-c-moccasin\:80 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 20%) }
html[data-theme='dark'] .sf-c-moccasin\:90, html.dark .sf-c-moccasin\:90 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 10%) }
html[data-theme='dark'] .sf-c-moccasin\:100, html.dark .sf-c-moccasin\:100 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 0%) }

html[data-theme='dark'] .sf-c-moccasin\:st, html.dark .sf-c-moccasin\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 85%) }
html[data-theme='dark'] .sf-c-moccasin\:0\:st, html.dark .sf-c-moccasin\:0\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 0%) }
html[data-theme='dark'] .sf-c-moccasin\:10\:st, html.dark .sf-c-moccasin\:10\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 10%) }
html[data-theme='dark'] .sf-c-moccasin\:20\:st, html.dark .sf-c-moccasin\:20\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 20%) }
html[data-theme='dark'] .sf-c-moccasin\:30\:st, html.dark .sf-c-moccasin\:30\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 30%) }
html[data-theme='dark'] .sf-c-moccasin\:40\:st, html.dark .sf-c-moccasin\:40\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 40%) }
html[data-theme='dark'] .sf-c-moccasin\:50\:st, html.dark .sf-c-moccasin\:50\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 50%) }
html[data-theme='dark'] .sf-c-moccasin\:60\:st, html.dark .sf-c-moccasin\:60\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 60%) }
html[data-theme='dark'] .sf-c-moccasin\:70\:st, html.dark .sf-c-moccasin\:70\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 70%) }
html[data-theme='dark'] .sf-c-moccasin\:80\:st, html.dark .sf-c-moccasin\:80\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 80%) }
html[data-theme='dark'] .sf-c-moccasin\:90\:st, html.dark .sf-c-moccasin\:90\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 90%) }
html[data-theme='dark'] .sf-c-moccasin\:100\:st, html.dark .sf-c-moccasin\:100\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-moccasin, html.dark .sf-c-txt-moccasin { color: hsl(38, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:0, html.dark .sf-c-txt-moccasin\:0 { color: hsl(38, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:10, html.dark .sf-c-txt-moccasin\:10 { color: hsl(38, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:20, html.dark .sf-c-txt-moccasin\:20 { color: hsl(38, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:30, html.dark .sf-c-txt-moccasin\:30 { color: hsl(38, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:40, html.dark .sf-c-txt-moccasin\:40 { color: hsl(38, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:50, html.dark .sf-c-txt-moccasin\:50 { color: hsl(38, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:60, html.dark .sf-c-txt-moccasin\:60 { color: hsl(38, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:70, html.dark .sf-c-txt-moccasin\:70 { color: hsl(38, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:80, html.dark .sf-c-txt-moccasin\:80 { color: hsl(38, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:90, html.dark .sf-c-txt-moccasin\:90 { color: hsl(38, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:100, html.dark .sf-c-txt-moccasin\:100 { color: hsl(38, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-moccasin\:st, html.dark .sf-c-txt-moccasin\:st { color: hsl(38, 100%, 85%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:0\:st, html.dark .sf-c-txt-moccasin\:0\:st { color: hsl(38, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:10\:st, html.dark .sf-c-txt-moccasin\:10\:st { color: hsl(38, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:20\:st, html.dark .sf-c-txt-moccasin\:20\:st { color: hsl(38, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:30\:st, html.dark .sf-c-txt-moccasin\:30\:st { color: hsl(38, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:40\:st, html.dark .sf-c-txt-moccasin\:40\:st { color: hsl(38, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:50\:st, html.dark .sf-c-txt-moccasin\:50\:st { color: hsl(38, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:60\:st, html.dark .sf-c-txt-moccasin\:60\:st { color: hsl(38, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:70\:st, html.dark .sf-c-txt-moccasin\:70\:st { color: hsl(38, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:80\:st, html.dark .sf-c-txt-moccasin\:80\:st { color: hsl(38, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:90\:st, html.dark .sf-c-txt-moccasin\:90\:st { color: hsl(38, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-moccasin\:100\:st, html.dark .sf-c-txt-moccasin\:100\:st { color: hsl(38, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-moccasin, html.auto .sf-c-moccasin { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 15%) }
  html[data-theme='auto'] .sf-c-moccasin\:0, html.auto .sf-c-moccasin\:0 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 100%) }
  html[data-theme='auto'] .sf-c-moccasin\:10, html.auto .sf-c-moccasin\:10 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 90%) }
  html[data-theme='auto'] .sf-c-moccasin\:20, html.auto .sf-c-moccasin\:20 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 80%) }
  html[data-theme='auto'] .sf-c-moccasin\:30, html.auto .sf-c-moccasin\:30 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 70%) }
  html[data-theme='auto'] .sf-c-moccasin\:40, html.auto .sf-c-moccasin\:40 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 60%) }
  html[data-theme='auto'] .sf-c-moccasin\:50, html.auto .sf-c-moccasin\:50 { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 50%) }
  html[data-theme='auto'] .sf-c-moccasin\:60, html.auto .sf-c-moccasin\:60 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 40%) }
  html[data-theme='auto'] .sf-c-moccasin\:70, html.auto .sf-c-moccasin\:70 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 30%) }
  html[data-theme='auto'] .sf-c-moccasin\:80, html.auto .sf-c-moccasin\:80 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 20%) }
  html[data-theme='auto'] .sf-c-moccasin\:90, html.auto .sf-c-moccasin\:90 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 10%) }
  html[data-theme='auto'] .sf-c-moccasin\:100, html.auto .sf-c-moccasin\:100 { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 0%) }

  html[data-theme='auto'] .sf-c-moccasin\:st, html.auto .sf-c-moccasin\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 85%) }
  html[data-theme='auto'] .sf-c-moccasin\:0\:st, html.auto .sf-c-moccasin\:0\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 0%) }
  html[data-theme='auto'] .sf-c-moccasin\:10\:st, html.auto .sf-c-moccasin\:10\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 10%) }
  html[data-theme='auto'] .sf-c-moccasin\:20\:st, html.auto .sf-c-moccasin\:20\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 20%) }
  html[data-theme='auto'] .sf-c-moccasin\:30\:st, html.auto .sf-c-moccasin\:30\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 30%) }
  html[data-theme='auto'] .sf-c-moccasin\:40\:st, html.auto .sf-c-moccasin\:40\:st { color: hsl(38, 100%, 90%); background: hsl(38, 100%, 40%) }
  html[data-theme='auto'] .sf-c-moccasin\:50\:st, html.auto .sf-c-moccasin\:50\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 50%) }
  html[data-theme='auto'] .sf-c-moccasin\:60\:st, html.auto .sf-c-moccasin\:60\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 60%) }
  html[data-theme='auto'] .sf-c-moccasin\:70\:st, html.auto .sf-c-moccasin\:70\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 70%) }
  html[data-theme='auto'] .sf-c-moccasin\:80\:st, html.auto .sf-c-moccasin\:80\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 80%) }
  html[data-theme='auto'] .sf-c-moccasin\:90\:st, html.auto .sf-c-moccasin\:90\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 90%) }
  html[data-theme='auto'] .sf-c-moccasin\:100\:st, html.auto .sf-c-moccasin\:100\:st { color: hsl(38, 100%, 10%); background: hsl(38, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-moccasin, html.auto .sf-c-txt-moccasin { color: hsl(38, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:0, html.auto .sf-c-txt-moccasin\:0 { color: hsl(38, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:10, html.auto .sf-c-txt-moccasin\:10 { color: hsl(38, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:20, html.auto .sf-c-txt-moccasin\:20 { color: hsl(38, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:30, html.auto .sf-c-txt-moccasin\:30 { color: hsl(38, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:40, html.auto .sf-c-txt-moccasin\:40 { color: hsl(38, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:50, html.auto .sf-c-txt-moccasin\:50 { color: hsl(38, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:60, html.auto .sf-c-txt-moccasin\:60 { color: hsl(38, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:70, html.auto .sf-c-txt-moccasin\:70 { color: hsl(38, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:80, html.auto .sf-c-txt-moccasin\:80 { color: hsl(38, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:90, html.auto .sf-c-txt-moccasin\:90 { color: hsl(38, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:100, html.auto .sf-c-txt-moccasin\:100 { color: hsl(38, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-moccasin\:st, html.auto .sf-c-txt-moccasin\:st { color: hsl(38, 100%, 85%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:0\:st, html.auto .sf-c-txt-moccasin\:0\:st { color: hsl(38, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:10\:st, html.auto .sf-c-txt-moccasin\:10\:st { color: hsl(38, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:20\:st, html.auto .sf-c-txt-moccasin\:20\:st { color: hsl(38, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:30\:st, html.auto .sf-c-txt-moccasin\:30\:st { color: hsl(38, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:40\:st, html.auto .sf-c-txt-moccasin\:40\:st { color: hsl(38, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:50\:st, html.auto .sf-c-txt-moccasin\:50\:st { color: hsl(38, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:60\:st, html.auto .sf-c-txt-moccasin\:60\:st { color: hsl(38, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:70\:st, html.auto .sf-c-txt-moccasin\:70\:st { color: hsl(38, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:80\:st, html.auto .sf-c-txt-moccasin\:80\:st { color: hsl(38, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:90\:st, html.auto .sf-c-txt-moccasin\:90\:st { color: hsl(38, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-moccasin\:100\:st, html.auto .sf-c-txt-moccasin\:100\:st { color: hsl(38, 100%, 100%) }
}