.sf-var-olivedrab {
  --sf-c-olivedrab: 80 60% 35%;
  --sf-c-olivedrab-0: 80 60% 0%;
  --sf-c-olivedrab-10: 80 60% 10%;
  --sf-c-olivedrab-20: 80 60% 20%;
  --sf-c-olivedrab-30: 80 60% 30%;
  --sf-c-olivedrab-40: 80 60% 40%;
  --sf-c-olivedrab-50: 80 60% 50%;
  --sf-c-olivedrab-60: 80 60% 60%;
  --sf-c-olivedrab-70: 80 60% 70%;
  --sf-c-olivedrab-80: 80 60% 80%;
  --sf-c-olivedrab-90: 80 60% 90%;
  --sf-c-olivedrab-100: 80 60% 100%;
}

.sf-c-olivedrab, .sf-c-olivedrab\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 35%) }
.sf-c-olivedrab\:0, .sf-c-olivedrab\:0\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 0%) }
.sf-c-olivedrab\:10, .sf-c-olivedrab\:10\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 10%) }
.sf-c-olivedrab\:20, .sf-c-olivedrab\:20\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 20%) }
.sf-c-olivedrab\:30, .sf-c-olivedrab\:30\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 30%) }
.sf-c-olivedrab\:40, .sf-c-olivedrab\:40\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 40%) }
.sf-c-olivedrab\:50, .sf-c-olivedrab\:50\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 50%) }
.sf-c-olivedrab\:60, .sf-c-olivedrab\:60\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 60%) }
.sf-c-olivedrab\:70, .sf-c-olivedrab\:70\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 70%) }
.sf-c-olivedrab\:80, .sf-c-olivedrab\:80\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 80%) }
.sf-c-olivedrab\:90, .sf-c-olivedrab\:90\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 90%) }
.sf-c-olivedrab\:100, .sf-c-olivedrab\:100\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 100%) }

.sf-c-txt-olivedrab { color: hsl(80, 60%, 35%) }
.sf-c-txt-olivedrab\:st { color: hsl(80, 60%, 35%) }
.sf-c-txt-olivedrab\:0, .sf-c-txt-olivedrab\:0\:st { color: hsl(80, 60%, 0%) }
.sf-c-txt-olivedrab\:10, .sf-c-txt-olivedrab\:10\:st { color: hsl(80, 60%, 10%) }
.sf-c-txt-olivedrab\:20, .sf-c-txt-olivedrab\:20\:st { color: hsl(80, 60%, 20%) }
.sf-c-txt-olivedrab\:30, .sf-c-txt-olivedrab\:30\:st { color: hsl(80, 60%, 30%) }
.sf-c-txt-olivedrab\:40, .sf-c-txt-olivedrab\:40\:st { color: hsl(80, 60%, 40%) }
.sf-c-txt-olivedrab\:50, .sf-c-txt-olivedrab\:50\:st { color: hsl(80, 60%, 50%) }
.sf-c-txt-olivedrab\:60, .sf-c-txt-olivedrab\:60\:st { color: hsl(80, 60%, 60%) }
.sf-c-txt-olivedrab\:70, .sf-c-txt-olivedrab\:70\:st { color: hsl(80, 60%, 70%) }
.sf-c-txt-olivedrab\:80, .sf-c-txt-olivedrab\:80\:st { color: hsl(80, 60%, 80%) }
.sf-c-txt-olivedrab\:90, .sf-c-txt-olivedrab\:90\:st { color: hsl(80, 60%, 90%) }
.sf-c-txt-olivedrab\:100, .sf-c-txt-olivedrab\:100\:st { color: hsl(80, 60%, 100%) }

html[data-theme='dark'] .sf-c-olivedrab, html.dark .sf-c-olivedrab { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 65%) }
html[data-theme='dark'] .sf-c-olivedrab\:0, html.dark .sf-c-olivedrab\:0 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 100%) }
html[data-theme='dark'] .sf-c-olivedrab\:10, html.dark .sf-c-olivedrab\:10 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 90%) }
html[data-theme='dark'] .sf-c-olivedrab\:20, html.dark .sf-c-olivedrab\:20 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 80%) }
html[data-theme='dark'] .sf-c-olivedrab\:30, html.dark .sf-c-olivedrab\:30 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 70%) }
html[data-theme='dark'] .sf-c-olivedrab\:40, html.dark .sf-c-olivedrab\:40 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 60%) }
html[data-theme='dark'] .sf-c-olivedrab\:50, html.dark .sf-c-olivedrab\:50 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 50%) }
html[data-theme='dark'] .sf-c-olivedrab\:60, html.dark .sf-c-olivedrab\:60 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 40%) }
html[data-theme='dark'] .sf-c-olivedrab\:70, html.dark .sf-c-olivedrab\:70 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 30%) }
html[data-theme='dark'] .sf-c-olivedrab\:80, html.dark .sf-c-olivedrab\:80 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 20%) }
html[data-theme='dark'] .sf-c-olivedrab\:90, html.dark .sf-c-olivedrab\:90 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 10%) }
html[data-theme='dark'] .sf-c-olivedrab\:100, html.dark .sf-c-olivedrab\:100 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 0%) }

html[data-theme='dark'] .sf-c-olivedrab\:st, html.dark .sf-c-olivedrab\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 35%) }
html[data-theme='dark'] .sf-c-olivedrab\:0\:st, html.dark .sf-c-olivedrab\:0\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 0%) }
html[data-theme='dark'] .sf-c-olivedrab\:10\:st, html.dark .sf-c-olivedrab\:10\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 10%) }
html[data-theme='dark'] .sf-c-olivedrab\:20\:st, html.dark .sf-c-olivedrab\:20\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 20%) }
html[data-theme='dark'] .sf-c-olivedrab\:30\:st, html.dark .sf-c-olivedrab\:30\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 30%) }
html[data-theme='dark'] .sf-c-olivedrab\:40\:st, html.dark .sf-c-olivedrab\:40\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 40%) }
html[data-theme='dark'] .sf-c-olivedrab\:50\:st, html.dark .sf-c-olivedrab\:50\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 50%) }
html[data-theme='dark'] .sf-c-olivedrab\:60\:st, html.dark .sf-c-olivedrab\:60\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 60%) }
html[data-theme='dark'] .sf-c-olivedrab\:70\:st, html.dark .sf-c-olivedrab\:70\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 70%) }
html[data-theme='dark'] .sf-c-olivedrab\:80\:st, html.dark .sf-c-olivedrab\:80\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 80%) }
html[data-theme='dark'] .sf-c-olivedrab\:90\:st, html.dark .sf-c-olivedrab\:90\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 90%) }
html[data-theme='dark'] .sf-c-olivedrab\:100\:st, html.dark .sf-c-olivedrab\:100\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 100%) }

html[data-theme='dark'] .sf-c-txt-olivedrab, html.dark .sf-c-txt-olivedrab { color: hsl(80, 60%, 65%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:0, html.dark .sf-c-txt-olivedrab\:0 { color: hsl(80, 60%, 100%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:10, html.dark .sf-c-txt-olivedrab\:10 { color: hsl(80, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:20, html.dark .sf-c-txt-olivedrab\:20 { color: hsl(80, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:30, html.dark .sf-c-txt-olivedrab\:30 { color: hsl(80, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:40, html.dark .sf-c-txt-olivedrab\:40 { color: hsl(80, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:50, html.dark .sf-c-txt-olivedrab\:50 { color: hsl(80, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:60, html.dark .sf-c-txt-olivedrab\:60 { color: hsl(80, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:70, html.dark .sf-c-txt-olivedrab\:70 { color: hsl(80, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:80, html.dark .sf-c-txt-olivedrab\:80 { color: hsl(80, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:90, html.dark .sf-c-txt-olivedrab\:90 { color: hsl(80, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:100, html.dark .sf-c-txt-olivedrab\:100 { color: hsl(80, 60%, 0%) }

html[data-theme='dark'] .sf-c-txt-olivedrab\:st, html.dark .sf-c-txt-olivedrab\:st { color: hsl(80, 60%, 35%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:0\:st, html.dark .sf-c-txt-olivedrab\:0\:st { color: hsl(80, 60%, 0%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:10\:st, html.dark .sf-c-txt-olivedrab\:10\:st { color: hsl(80, 60%, 10%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:20\:st, html.dark .sf-c-txt-olivedrab\:20\:st { color: hsl(80, 60%, 20%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:30\:st, html.dark .sf-c-txt-olivedrab\:30\:st { color: hsl(80, 60%, 30%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:40\:st, html.dark .sf-c-txt-olivedrab\:40\:st { color: hsl(80, 60%, 40%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:50\:st, html.dark .sf-c-txt-olivedrab\:50\:st { color: hsl(80, 60%, 50%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:60\:st, html.dark .sf-c-txt-olivedrab\:60\:st { color: hsl(80, 60%, 60%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:70\:st, html.dark .sf-c-txt-olivedrab\:70\:st { color: hsl(80, 60%, 70%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:80\:st, html.dark .sf-c-txt-olivedrab\:80\:st { color: hsl(80, 60%, 80%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:90\:st, html.dark .sf-c-txt-olivedrab\:90\:st { color: hsl(80, 60%, 90%) }
html[data-theme='dark'] .sf-c-txt-olivedrab\:100\:st, html.dark .sf-c-txt-olivedrab\:100\:st { color: hsl(80, 60%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-olivedrab, html.auto .sf-c-olivedrab { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 65%) }
  html[data-theme='auto'] .sf-c-olivedrab\:0, html.auto .sf-c-olivedrab\:0 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 100%) }
  html[data-theme='auto'] .sf-c-olivedrab\:10, html.auto .sf-c-olivedrab\:10 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 90%) }
  html[data-theme='auto'] .sf-c-olivedrab\:20, html.auto .sf-c-olivedrab\:20 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 80%) }
  html[data-theme='auto'] .sf-c-olivedrab\:30, html.auto .sf-c-olivedrab\:30 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 70%) }
  html[data-theme='auto'] .sf-c-olivedrab\:40, html.auto .sf-c-olivedrab\:40 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 60%) }
  html[data-theme='auto'] .sf-c-olivedrab\:50, html.auto .sf-c-olivedrab\:50 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 50%) }
  html[data-theme='auto'] .sf-c-olivedrab\:60, html.auto .sf-c-olivedrab\:60 { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 40%) }
  html[data-theme='auto'] .sf-c-olivedrab\:70, html.auto .sf-c-olivedrab\:70 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 30%) }
  html[data-theme='auto'] .sf-c-olivedrab\:80, html.auto .sf-c-olivedrab\:80 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 20%) }
  html[data-theme='auto'] .sf-c-olivedrab\:90, html.auto .sf-c-olivedrab\:90 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 10%) }
  html[data-theme='auto'] .sf-c-olivedrab\:100, html.auto .sf-c-olivedrab\:100 { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 0%) }

  html[data-theme='auto'] .sf-c-olivedrab\:st, html.auto .sf-c-olivedrab\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 35%) }
  html[data-theme='auto'] .sf-c-olivedrab\:0\:st, html.auto .sf-c-olivedrab\:0\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 0%) }
  html[data-theme='auto'] .sf-c-olivedrab\:10\:st, html.auto .sf-c-olivedrab\:10\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 10%) }
  html[data-theme='auto'] .sf-c-olivedrab\:20\:st, html.auto .sf-c-olivedrab\:20\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 20%) }
  html[data-theme='auto'] .sf-c-olivedrab\:30\:st, html.auto .sf-c-olivedrab\:30\:st { color: hsl(80, 60%, 90%); background: hsl(80, 60%, 30%) }
  html[data-theme='auto'] .sf-c-olivedrab\:40\:st, html.auto .sf-c-olivedrab\:40\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 40%) }
  html[data-theme='auto'] .sf-c-olivedrab\:50\:st, html.auto .sf-c-olivedrab\:50\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 50%) }
  html[data-theme='auto'] .sf-c-olivedrab\:60\:st, html.auto .sf-c-olivedrab\:60\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 60%) }
  html[data-theme='auto'] .sf-c-olivedrab\:70\:st, html.auto .sf-c-olivedrab\:70\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 70%) }
  html[data-theme='auto'] .sf-c-olivedrab\:80\:st, html.auto .sf-c-olivedrab\:80\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 80%) }
  html[data-theme='auto'] .sf-c-olivedrab\:90\:st, html.auto .sf-c-olivedrab\:90\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 90%) }
  html[data-theme='auto'] .sf-c-olivedrab\:100\:st, html.auto .sf-c-olivedrab\:100\:st { color: hsl(80, 60%, 10%); background: hsl(80, 60%, 100%) }

  html[data-theme='auto'] .sf-c-txt-olivedrab, html.auto .sf-c-txt-olivedrab { color: hsl(80, 60%, 65%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:0, html.auto .sf-c-txt-olivedrab\:0 { color: hsl(80, 60%, 100%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:10, html.auto .sf-c-txt-olivedrab\:10 { color: hsl(80, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:20, html.auto .sf-c-txt-olivedrab\:20 { color: hsl(80, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:30, html.auto .sf-c-txt-olivedrab\:30 { color: hsl(80, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:40, html.auto .sf-c-txt-olivedrab\:40 { color: hsl(80, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:50, html.auto .sf-c-txt-olivedrab\:50 { color: hsl(80, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:60, html.auto .sf-c-txt-olivedrab\:60 { color: hsl(80, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:70, html.auto .sf-c-txt-olivedrab\:70 { color: hsl(80, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:80, html.auto .sf-c-txt-olivedrab\:80 { color: hsl(80, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:90, html.auto .sf-c-txt-olivedrab\:90 { color: hsl(80, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:100, html.auto .sf-c-txt-olivedrab\:100 { color: hsl(80, 60%, 0%) }

  html[data-theme='auto'] .sf-c-txt-olivedrab\:st, html.auto .sf-c-txt-olivedrab\:st { color: hsl(80, 60%, 35%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:0\:st, html.auto .sf-c-txt-olivedrab\:0\:st { color: hsl(80, 60%, 0%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:10\:st, html.auto .sf-c-txt-olivedrab\:10\:st { color: hsl(80, 60%, 10%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:20\:st, html.auto .sf-c-txt-olivedrab\:20\:st { color: hsl(80, 60%, 20%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:30\:st, html.auto .sf-c-txt-olivedrab\:30\:st { color: hsl(80, 60%, 30%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:40\:st, html.auto .sf-c-txt-olivedrab\:40\:st { color: hsl(80, 60%, 40%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:50\:st, html.auto .sf-c-txt-olivedrab\:50\:st { color: hsl(80, 60%, 50%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:60\:st, html.auto .sf-c-txt-olivedrab\:60\:st { color: hsl(80, 60%, 60%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:70\:st, html.auto .sf-c-txt-olivedrab\:70\:st { color: hsl(80, 60%, 70%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:80\:st, html.auto .sf-c-txt-olivedrab\:80\:st { color: hsl(80, 60%, 80%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:90\:st, html.auto .sf-c-txt-olivedrab\:90\:st { color: hsl(80, 60%, 90%) }
  html[data-theme='auto'] .sf-c-txt-olivedrab\:100\:st, html.auto .sf-c-txt-olivedrab\:100\:st { color: hsl(80, 60%, 100%) }
}