.sf-var-orange {
  --sf-c-orange: 39 100% 50%;
  --sf-c-orange-0: 39 100% 0%;
  --sf-c-orange-10: 39 100% 10%;
  --sf-c-orange-20: 39 100% 20%;
  --sf-c-orange-30: 39 100% 30%;
  --sf-c-orange-40: 39 100% 40%;
  --sf-c-orange-50: 39 100% 50%;
  --sf-c-orange-60: 39 100% 60%;
  --sf-c-orange-70: 39 100% 70%;
  --sf-c-orange-80: 39 100% 80%;
  --sf-c-orange-90: 39 100% 90%;
  --sf-c-orange-100: 39 100% 100%;
}

.sf-c-orange, .sf-c-orange\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
.sf-c-orange\:0, .sf-c-orange\:0\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 0%) }
.sf-c-orange\:10, .sf-c-orange\:10\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 10%) }
.sf-c-orange\:20, .sf-c-orange\:20\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 20%) }
.sf-c-orange\:30, .sf-c-orange\:30\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 30%) }
.sf-c-orange\:40, .sf-c-orange\:40\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 40%) }
.sf-c-orange\:50, .sf-c-orange\:50\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
.sf-c-orange\:60, .sf-c-orange\:60\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 60%) }
.sf-c-orange\:70, .sf-c-orange\:70\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 70%) }
.sf-c-orange\:80, .sf-c-orange\:80\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 80%) }
.sf-c-orange\:90, .sf-c-orange\:90\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 90%) }
.sf-c-orange\:100, .sf-c-orange\:100\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 100%) }

.sf-c-txt-orange { color: hsl(39, 100%, 50%) }
.sf-c-txt-orange\:st { color: hsl(39, 100%, 50%) }
.sf-c-txt-orange\:0, .sf-c-txt-orange\:0\:st { color: hsl(39, 100%, 0%) }
.sf-c-txt-orange\:10, .sf-c-txt-orange\:10\:st { color: hsl(39, 100%, 10%) }
.sf-c-txt-orange\:20, .sf-c-txt-orange\:20\:st { color: hsl(39, 100%, 20%) }
.sf-c-txt-orange\:30, .sf-c-txt-orange\:30\:st { color: hsl(39, 100%, 30%) }
.sf-c-txt-orange\:40, .sf-c-txt-orange\:40\:st { color: hsl(39, 100%, 40%) }
.sf-c-txt-orange\:50, .sf-c-txt-orange\:50\:st { color: hsl(39, 100%, 50%) }
.sf-c-txt-orange\:60, .sf-c-txt-orange\:60\:st { color: hsl(39, 100%, 60%) }
.sf-c-txt-orange\:70, .sf-c-txt-orange\:70\:st { color: hsl(39, 100%, 70%) }
.sf-c-txt-orange\:80, .sf-c-txt-orange\:80\:st { color: hsl(39, 100%, 80%) }
.sf-c-txt-orange\:90, .sf-c-txt-orange\:90\:st { color: hsl(39, 100%, 90%) }
.sf-c-txt-orange\:100, .sf-c-txt-orange\:100\:st { color: hsl(39, 100%, 100%) }

html[data-theme='dark'] .sf-c-orange, html.dark .sf-c-orange { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-orange\:0, html.dark .sf-c-orange\:0 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 100%) }
html[data-theme='dark'] .sf-c-orange\:10, html.dark .sf-c-orange\:10 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 90%) }
html[data-theme='dark'] .sf-c-orange\:20, html.dark .sf-c-orange\:20 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 80%) }
html[data-theme='dark'] .sf-c-orange\:30, html.dark .sf-c-orange\:30 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 70%) }
html[data-theme='dark'] .sf-c-orange\:40, html.dark .sf-c-orange\:40 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 60%) }
html[data-theme='dark'] .sf-c-orange\:50, html.dark .sf-c-orange\:50 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-orange\:60, html.dark .sf-c-orange\:60 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 40%) }
html[data-theme='dark'] .sf-c-orange\:70, html.dark .sf-c-orange\:70 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 30%) }
html[data-theme='dark'] .sf-c-orange\:80, html.dark .sf-c-orange\:80 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 20%) }
html[data-theme='dark'] .sf-c-orange\:90, html.dark .sf-c-orange\:90 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 10%) }
html[data-theme='dark'] .sf-c-orange\:100, html.dark .sf-c-orange\:100 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 0%) }

html[data-theme='dark'] .sf-c-orange\:st, html.dark .sf-c-orange\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-orange\:0\:st, html.dark .sf-c-orange\:0\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 0%) }
html[data-theme='dark'] .sf-c-orange\:10\:st, html.dark .sf-c-orange\:10\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 10%) }
html[data-theme='dark'] .sf-c-orange\:20\:st, html.dark .sf-c-orange\:20\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 20%) }
html[data-theme='dark'] .sf-c-orange\:30\:st, html.dark .sf-c-orange\:30\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 30%) }
html[data-theme='dark'] .sf-c-orange\:40\:st, html.dark .sf-c-orange\:40\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 40%) }
html[data-theme='dark'] .sf-c-orange\:50\:st, html.dark .sf-c-orange\:50\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-orange\:60\:st, html.dark .sf-c-orange\:60\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 60%) }
html[data-theme='dark'] .sf-c-orange\:70\:st, html.dark .sf-c-orange\:70\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 70%) }
html[data-theme='dark'] .sf-c-orange\:80\:st, html.dark .sf-c-orange\:80\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 80%) }
html[data-theme='dark'] .sf-c-orange\:90\:st, html.dark .sf-c-orange\:90\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 90%) }
html[data-theme='dark'] .sf-c-orange\:100\:st, html.dark .sf-c-orange\:100\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-orange, html.dark .sf-c-txt-orange { color: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-orange\:0, html.dark .sf-c-txt-orange\:0 { color: hsl(39, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-orange\:10, html.dark .sf-c-txt-orange\:10 { color: hsl(39, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-orange\:20, html.dark .sf-c-txt-orange\:20 { color: hsl(39, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-orange\:30, html.dark .sf-c-txt-orange\:30 { color: hsl(39, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-orange\:40, html.dark .sf-c-txt-orange\:40 { color: hsl(39, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-orange\:50, html.dark .sf-c-txt-orange\:50 { color: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-orange\:60, html.dark .sf-c-txt-orange\:60 { color: hsl(39, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-orange\:70, html.dark .sf-c-txt-orange\:70 { color: hsl(39, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-orange\:80, html.dark .sf-c-txt-orange\:80 { color: hsl(39, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-orange\:90, html.dark .sf-c-txt-orange\:90 { color: hsl(39, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-orange\:100, html.dark .sf-c-txt-orange\:100 { color: hsl(39, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-orange\:st, html.dark .sf-c-txt-orange\:st { color: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-orange\:0\:st, html.dark .sf-c-txt-orange\:0\:st { color: hsl(39, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-orange\:10\:st, html.dark .sf-c-txt-orange\:10\:st { color: hsl(39, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-orange\:20\:st, html.dark .sf-c-txt-orange\:20\:st { color: hsl(39, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-orange\:30\:st, html.dark .sf-c-txt-orange\:30\:st { color: hsl(39, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-orange\:40\:st, html.dark .sf-c-txt-orange\:40\:st { color: hsl(39, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-orange\:50\:st, html.dark .sf-c-txt-orange\:50\:st { color: hsl(39, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-orange\:60\:st, html.dark .sf-c-txt-orange\:60\:st { color: hsl(39, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-orange\:70\:st, html.dark .sf-c-txt-orange\:70\:st { color: hsl(39, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-orange\:80\:st, html.dark .sf-c-txt-orange\:80\:st { color: hsl(39, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-orange\:90\:st, html.dark .sf-c-txt-orange\:90\:st { color: hsl(39, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-orange\:100\:st, html.dark .sf-c-txt-orange\:100\:st { color: hsl(39, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-orange, html.auto .sf-c-orange { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-orange\:0, html.auto .sf-c-orange\:0 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 100%) }
  html[data-theme='auto'] .sf-c-orange\:10, html.auto .sf-c-orange\:10 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 90%) }
  html[data-theme='auto'] .sf-c-orange\:20, html.auto .sf-c-orange\:20 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 80%) }
  html[data-theme='auto'] .sf-c-orange\:30, html.auto .sf-c-orange\:30 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 70%) }
  html[data-theme='auto'] .sf-c-orange\:40, html.auto .sf-c-orange\:40 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 60%) }
  html[data-theme='auto'] .sf-c-orange\:50, html.auto .sf-c-orange\:50 { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-orange\:60, html.auto .sf-c-orange\:60 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 40%) }
  html[data-theme='auto'] .sf-c-orange\:70, html.auto .sf-c-orange\:70 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 30%) }
  html[data-theme='auto'] .sf-c-orange\:80, html.auto .sf-c-orange\:80 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 20%) }
  html[data-theme='auto'] .sf-c-orange\:90, html.auto .sf-c-orange\:90 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 10%) }
  html[data-theme='auto'] .sf-c-orange\:100, html.auto .sf-c-orange\:100 { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 0%) }

  html[data-theme='auto'] .sf-c-orange\:st, html.auto .sf-c-orange\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-orange\:0\:st, html.auto .sf-c-orange\:0\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 0%) }
  html[data-theme='auto'] .sf-c-orange\:10\:st, html.auto .sf-c-orange\:10\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 10%) }
  html[data-theme='auto'] .sf-c-orange\:20\:st, html.auto .sf-c-orange\:20\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 20%) }
  html[data-theme='auto'] .sf-c-orange\:30\:st, html.auto .sf-c-orange\:30\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 30%) }
  html[data-theme='auto'] .sf-c-orange\:40\:st, html.auto .sf-c-orange\:40\:st { color: hsl(39, 100%, 90%); background: hsl(39, 100%, 40%) }
  html[data-theme='auto'] .sf-c-orange\:50\:st, html.auto .sf-c-orange\:50\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-orange\:60\:st, html.auto .sf-c-orange\:60\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 60%) }
  html[data-theme='auto'] .sf-c-orange\:70\:st, html.auto .sf-c-orange\:70\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 70%) }
  html[data-theme='auto'] .sf-c-orange\:80\:st, html.auto .sf-c-orange\:80\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 80%) }
  html[data-theme='auto'] .sf-c-orange\:90\:st, html.auto .sf-c-orange\:90\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 90%) }
  html[data-theme='auto'] .sf-c-orange\:100\:st, html.auto .sf-c-orange\:100\:st { color: hsl(39, 100%, 10%); background: hsl(39, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-orange, html.auto .sf-c-txt-orange { color: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orange\:0, html.auto .sf-c-txt-orange\:0 { color: hsl(39, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-orange\:10, html.auto .sf-c-txt-orange\:10 { color: hsl(39, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-orange\:20, html.auto .sf-c-txt-orange\:20 { color: hsl(39, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-orange\:30, html.auto .sf-c-txt-orange\:30 { color: hsl(39, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-orange\:40, html.auto .sf-c-txt-orange\:40 { color: hsl(39, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-orange\:50, html.auto .sf-c-txt-orange\:50 { color: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orange\:60, html.auto .sf-c-txt-orange\:60 { color: hsl(39, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-orange\:70, html.auto .sf-c-txt-orange\:70 { color: hsl(39, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-orange\:80, html.auto .sf-c-txt-orange\:80 { color: hsl(39, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-orange\:90, html.auto .sf-c-txt-orange\:90 { color: hsl(39, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-orange\:100, html.auto .sf-c-txt-orange\:100 { color: hsl(39, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-orange\:st, html.auto .sf-c-txt-orange\:st { color: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orange\:0\:st, html.auto .sf-c-txt-orange\:0\:st { color: hsl(39, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-orange\:10\:st, html.auto .sf-c-txt-orange\:10\:st { color: hsl(39, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-orange\:20\:st, html.auto .sf-c-txt-orange\:20\:st { color: hsl(39, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-orange\:30\:st, html.auto .sf-c-txt-orange\:30\:st { color: hsl(39, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-orange\:40\:st, html.auto .sf-c-txt-orange\:40\:st { color: hsl(39, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-orange\:50\:st, html.auto .sf-c-txt-orange\:50\:st { color: hsl(39, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-orange\:60\:st, html.auto .sf-c-txt-orange\:60\:st { color: hsl(39, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-orange\:70\:st, html.auto .sf-c-txt-orange\:70\:st { color: hsl(39, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-orange\:80\:st, html.auto .sf-c-txt-orange\:80\:st { color: hsl(39, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-orange\:90\:st, html.auto .sf-c-txt-orange\:90\:st { color: hsl(39, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-orange\:100\:st, html.auto .sf-c-txt-orange\:100\:st { color: hsl(39, 100%, 100%) }
}