.sf-var-paleturquoise {
  --sf-c-paleturquoise: 180 65% 81%;
  --sf-c-paleturquoise-0: 180 65% 0%;
  --sf-c-paleturquoise-10: 180 65% 10%;
  --sf-c-paleturquoise-20: 180 65% 20%;
  --sf-c-paleturquoise-30: 180 65% 30%;
  --sf-c-paleturquoise-40: 180 65% 40%;
  --sf-c-paleturquoise-50: 180 65% 50%;
  --sf-c-paleturquoise-60: 180 65% 60%;
  --sf-c-paleturquoise-70: 180 65% 70%;
  --sf-c-paleturquoise-80: 180 65% 80%;
  --sf-c-paleturquoise-90: 180 65% 90%;
  --sf-c-paleturquoise-100: 180 65% 100%;
}

.sf-c-paleturquoise, .sf-c-paleturquoise\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 81%) }
.sf-c-paleturquoise\:0, .sf-c-paleturquoise\:0\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }
.sf-c-paleturquoise\:10, .sf-c-paleturquoise\:10\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
.sf-c-paleturquoise\:20, .sf-c-paleturquoise\:20\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
.sf-c-paleturquoise\:30, .sf-c-paleturquoise\:30\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
.sf-c-paleturquoise\:40, .sf-c-paleturquoise\:40\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
.sf-c-paleturquoise\:50, .sf-c-paleturquoise\:50\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
.sf-c-paleturquoise\:60, .sf-c-paleturquoise\:60\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
.sf-c-paleturquoise\:70, .sf-c-paleturquoise\:70\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
.sf-c-paleturquoise\:80, .sf-c-paleturquoise\:80\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
.sf-c-paleturquoise\:90, .sf-c-paleturquoise\:90\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
.sf-c-paleturquoise\:100, .sf-c-paleturquoise\:100\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }

.sf-c-txt-paleturquoise { color: hsl(180, 65%, 10%) }
.sf-c-txt-paleturquoise\:st { color: hsl(180, 65%, 81%) }
.sf-c-txt-paleturquoise\:0, .sf-c-txt-paleturquoise\:0\:st { color: hsl(180, 65%, 0%) }
.sf-c-txt-paleturquoise\:10, .sf-c-txt-paleturquoise\:10\:st { color: hsl(180, 65%, 10%) }
.sf-c-txt-paleturquoise\:20, .sf-c-txt-paleturquoise\:20\:st { color: hsl(180, 65%, 20%) }
.sf-c-txt-paleturquoise\:30, .sf-c-txt-paleturquoise\:30\:st { color: hsl(180, 65%, 30%) }
.sf-c-txt-paleturquoise\:40, .sf-c-txt-paleturquoise\:40\:st { color: hsl(180, 65%, 40%) }
.sf-c-txt-paleturquoise\:50, .sf-c-txt-paleturquoise\:50\:st { color: hsl(180, 65%, 50%) }
.sf-c-txt-paleturquoise\:60, .sf-c-txt-paleturquoise\:60\:st { color: hsl(180, 65%, 60%) }
.sf-c-txt-paleturquoise\:70, .sf-c-txt-paleturquoise\:70\:st { color: hsl(180, 65%, 70%) }
.sf-c-txt-paleturquoise\:80, .sf-c-txt-paleturquoise\:80\:st { color: hsl(180, 65%, 80%) }
.sf-c-txt-paleturquoise\:90, .sf-c-txt-paleturquoise\:90\:st { color: hsl(180, 65%, 90%) }
.sf-c-txt-paleturquoise\:100, .sf-c-txt-paleturquoise\:100\:st { color: hsl(180, 65%, 100%) }

html[data-theme='dark'] .sf-c-paleturquoise, html.dark .sf-c-paleturquoise { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
html[data-theme='dark'] .sf-c-paleturquoise\:0, html.dark .sf-c-paleturquoise\:0 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }
html[data-theme='dark'] .sf-c-paleturquoise\:10, html.dark .sf-c-paleturquoise\:10 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
html[data-theme='dark'] .sf-c-paleturquoise\:20, html.dark .sf-c-paleturquoise\:20 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
html[data-theme='dark'] .sf-c-paleturquoise\:30, html.dark .sf-c-paleturquoise\:30 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
html[data-theme='dark'] .sf-c-paleturquoise\:40, html.dark .sf-c-paleturquoise\:40 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
html[data-theme='dark'] .sf-c-paleturquoise\:50, html.dark .sf-c-paleturquoise\:50 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
html[data-theme='dark'] .sf-c-paleturquoise\:60, html.dark .sf-c-paleturquoise\:60 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
html[data-theme='dark'] .sf-c-paleturquoise\:70, html.dark .sf-c-paleturquoise\:70 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
html[data-theme='dark'] .sf-c-paleturquoise\:80, html.dark .sf-c-paleturquoise\:80 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
html[data-theme='dark'] .sf-c-paleturquoise\:90, html.dark .sf-c-paleturquoise\:90 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
html[data-theme='dark'] .sf-c-paleturquoise\:100, html.dark .sf-c-paleturquoise\:100 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }

html[data-theme='dark'] .sf-c-paleturquoise\:st, html.dark .sf-c-paleturquoise\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 81%) }
html[data-theme='dark'] .sf-c-paleturquoise\:0\:st, html.dark .sf-c-paleturquoise\:0\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }
html[data-theme='dark'] .sf-c-paleturquoise\:10\:st, html.dark .sf-c-paleturquoise\:10\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
html[data-theme='dark'] .sf-c-paleturquoise\:20\:st, html.dark .sf-c-paleturquoise\:20\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
html[data-theme='dark'] .sf-c-paleturquoise\:30\:st, html.dark .sf-c-paleturquoise\:30\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
html[data-theme='dark'] .sf-c-paleturquoise\:40\:st, html.dark .sf-c-paleturquoise\:40\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
html[data-theme='dark'] .sf-c-paleturquoise\:50\:st, html.dark .sf-c-paleturquoise\:50\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
html[data-theme='dark'] .sf-c-paleturquoise\:60\:st, html.dark .sf-c-paleturquoise\:60\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
html[data-theme='dark'] .sf-c-paleturquoise\:70\:st, html.dark .sf-c-paleturquoise\:70\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
html[data-theme='dark'] .sf-c-paleturquoise\:80\:st, html.dark .sf-c-paleturquoise\:80\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
html[data-theme='dark'] .sf-c-paleturquoise\:90\:st, html.dark .sf-c-paleturquoise\:90\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
html[data-theme='dark'] .sf-c-paleturquoise\:100\:st, html.dark .sf-c-paleturquoise\:100\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }

html[data-theme='dark'] .sf-c-txt-paleturquoise, html.dark .sf-c-txt-paleturquoise { color: hsl(180, 65%, 81%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:0, html.dark .sf-c-txt-paleturquoise\:0 { color: hsl(180, 65%, 100%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:10, html.dark .sf-c-txt-paleturquoise\:10 { color: hsl(180, 65%, 90%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:20, html.dark .sf-c-txt-paleturquoise\:20 { color: hsl(180, 65%, 80%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:30, html.dark .sf-c-txt-paleturquoise\:30 { color: hsl(180, 65%, 70%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:40, html.dark .sf-c-txt-paleturquoise\:40 { color: hsl(180, 65%, 60%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:50, html.dark .sf-c-txt-paleturquoise\:50 { color: hsl(180, 65%, 50%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:60, html.dark .sf-c-txt-paleturquoise\:60 { color: hsl(180, 65%, 40%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:70, html.dark .sf-c-txt-paleturquoise\:70 { color: hsl(180, 65%, 30%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:80, html.dark .sf-c-txt-paleturquoise\:80 { color: hsl(180, 65%, 20%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:90, html.dark .sf-c-txt-paleturquoise\:90 { color: hsl(180, 65%, 10%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:100, html.dark .sf-c-txt-paleturquoise\:100 { color: hsl(180, 65%, 0%) }

html[data-theme='dark'] .sf-c-txt-paleturquoise\:st, html.dark .sf-c-txt-paleturquoise\:st { color: hsl(180, 65%, 81%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:0\:st, html.dark .sf-c-txt-paleturquoise\:0\:st { color: hsl(180, 65%, 0%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:10\:st, html.dark .sf-c-txt-paleturquoise\:10\:st { color: hsl(180, 65%, 10%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:20\:st, html.dark .sf-c-txt-paleturquoise\:20\:st { color: hsl(180, 65%, 20%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:30\:st, html.dark .sf-c-txt-paleturquoise\:30\:st { color: hsl(180, 65%, 30%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:40\:st, html.dark .sf-c-txt-paleturquoise\:40\:st { color: hsl(180, 65%, 40%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:50\:st, html.dark .sf-c-txt-paleturquoise\:50\:st { color: hsl(180, 65%, 50%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:60\:st, html.dark .sf-c-txt-paleturquoise\:60\:st { color: hsl(180, 65%, 60%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:70\:st, html.dark .sf-c-txt-paleturquoise\:70\:st { color: hsl(180, 65%, 70%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:80\:st, html.dark .sf-c-txt-paleturquoise\:80\:st { color: hsl(180, 65%, 80%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:90\:st, html.dark .sf-c-txt-paleturquoise\:90\:st { color: hsl(180, 65%, 90%) }
html[data-theme='dark'] .sf-c-txt-paleturquoise\:100\:st, html.dark .sf-c-txt-paleturquoise\:100\:st { color: hsl(180, 65%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-paleturquoise, html.auto .sf-c-paleturquoise { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 19%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:0, html.auto .sf-c-paleturquoise\:0 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:10, html.auto .sf-c-paleturquoise\:10 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:20, html.auto .sf-c-paleturquoise\:20 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:30, html.auto .sf-c-paleturquoise\:30 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:40, html.auto .sf-c-paleturquoise\:40 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:50, html.auto .sf-c-paleturquoise\:50 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:60, html.auto .sf-c-paleturquoise\:60 { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:70, html.auto .sf-c-paleturquoise\:70 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:80, html.auto .sf-c-paleturquoise\:80 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:90, html.auto .sf-c-paleturquoise\:90 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:100, html.auto .sf-c-paleturquoise\:100 { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }

  html[data-theme='auto'] .sf-c-paleturquoise\:st, html.auto .sf-c-paleturquoise\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 81%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:0\:st, html.auto .sf-c-paleturquoise\:0\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 0%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:10\:st, html.auto .sf-c-paleturquoise\:10\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 10%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:20\:st, html.auto .sf-c-paleturquoise\:20\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 20%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:30\:st, html.auto .sf-c-paleturquoise\:30\:st { color: hsl(180, 65%, 90%); background: hsl(180, 65%, 30%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:40\:st, html.auto .sf-c-paleturquoise\:40\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 40%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:50\:st, html.auto .sf-c-paleturquoise\:50\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 50%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:60\:st, html.auto .sf-c-paleturquoise\:60\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 60%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:70\:st, html.auto .sf-c-paleturquoise\:70\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 70%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:80\:st, html.auto .sf-c-paleturquoise\:80\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 80%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:90\:st, html.auto .sf-c-paleturquoise\:90\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 90%) }
  html[data-theme='auto'] .sf-c-paleturquoise\:100\:st, html.auto .sf-c-paleturquoise\:100\:st { color: hsl(180, 65%, 10%); background: hsl(180, 65%, 100%) }

  html[data-theme='auto'] .sf-c-txt-paleturquoise, html.auto .sf-c-txt-paleturquoise { color: hsl(180, 65%, 81%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:0, html.auto .sf-c-txt-paleturquoise\:0 { color: hsl(180, 65%, 100%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:10, html.auto .sf-c-txt-paleturquoise\:10 { color: hsl(180, 65%, 90%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:20, html.auto .sf-c-txt-paleturquoise\:20 { color: hsl(180, 65%, 80%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:30, html.auto .sf-c-txt-paleturquoise\:30 { color: hsl(180, 65%, 70%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:40, html.auto .sf-c-txt-paleturquoise\:40 { color: hsl(180, 65%, 60%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:50, html.auto .sf-c-txt-paleturquoise\:50 { color: hsl(180, 65%, 50%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:60, html.auto .sf-c-txt-paleturquoise\:60 { color: hsl(180, 65%, 40%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:70, html.auto .sf-c-txt-paleturquoise\:70 { color: hsl(180, 65%, 30%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:80, html.auto .sf-c-txt-paleturquoise\:80 { color: hsl(180, 65%, 20%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:90, html.auto .sf-c-txt-paleturquoise\:90 { color: hsl(180, 65%, 10%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:100, html.auto .sf-c-txt-paleturquoise\:100 { color: hsl(180, 65%, 0%) }

  html[data-theme='auto'] .sf-c-txt-paleturquoise\:st, html.auto .sf-c-txt-paleturquoise\:st { color: hsl(180, 65%, 81%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:0\:st, html.auto .sf-c-txt-paleturquoise\:0\:st { color: hsl(180, 65%, 0%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:10\:st, html.auto .sf-c-txt-paleturquoise\:10\:st { color: hsl(180, 65%, 10%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:20\:st, html.auto .sf-c-txt-paleturquoise\:20\:st { color: hsl(180, 65%, 20%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:30\:st, html.auto .sf-c-txt-paleturquoise\:30\:st { color: hsl(180, 65%, 30%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:40\:st, html.auto .sf-c-txt-paleturquoise\:40\:st { color: hsl(180, 65%, 40%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:50\:st, html.auto .sf-c-txt-paleturquoise\:50\:st { color: hsl(180, 65%, 50%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:60\:st, html.auto .sf-c-txt-paleturquoise\:60\:st { color: hsl(180, 65%, 60%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:70\:st, html.auto .sf-c-txt-paleturquoise\:70\:st { color: hsl(180, 65%, 70%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:80\:st, html.auto .sf-c-txt-paleturquoise\:80\:st { color: hsl(180, 65%, 80%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:90\:st, html.auto .sf-c-txt-paleturquoise\:90\:st { color: hsl(180, 65%, 90%) }
  html[data-theme='auto'] .sf-c-txt-paleturquoise\:100\:st, html.auto .sf-c-txt-paleturquoise\:100\:st { color: hsl(180, 65%, 100%) }
}