.sf-var-palegoldenrod {
  --sf-c-palegoldenrod: 55 67% 80%;
  --sf-c-palegoldenrod-0: 55 67% 0%;
  --sf-c-palegoldenrod-10: 55 67% 10%;
  --sf-c-palegoldenrod-20: 55 67% 20%;
  --sf-c-palegoldenrod-30: 55 67% 30%;
  --sf-c-palegoldenrod-40: 55 67% 40%;
  --sf-c-palegoldenrod-50: 55 67% 50%;
  --sf-c-palegoldenrod-60: 55 67% 60%;
  --sf-c-palegoldenrod-70: 55 67% 70%;
  --sf-c-palegoldenrod-80: 55 67% 80%;
  --sf-c-palegoldenrod-90: 55 67% 90%;
  --sf-c-palegoldenrod-100: 55 67% 100%;
}

.sf-c-palegoldenrod, .sf-c-palegoldenrod\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
.sf-c-palegoldenrod\:0, .sf-c-palegoldenrod\:0\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 0%) }
.sf-c-palegoldenrod\:10, .sf-c-palegoldenrod\:10\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 10%) }
.sf-c-palegoldenrod\:20, .sf-c-palegoldenrod\:20\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
.sf-c-palegoldenrod\:30, .sf-c-palegoldenrod\:30\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 30%) }
.sf-c-palegoldenrod\:40, .sf-c-palegoldenrod\:40\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 40%) }
.sf-c-palegoldenrod\:50, .sf-c-palegoldenrod\:50\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 50%) }
.sf-c-palegoldenrod\:60, .sf-c-palegoldenrod\:60\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 60%) }
.sf-c-palegoldenrod\:70, .sf-c-palegoldenrod\:70\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 70%) }
.sf-c-palegoldenrod\:80, .sf-c-palegoldenrod\:80\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
.sf-c-palegoldenrod\:90, .sf-c-palegoldenrod\:90\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 90%) }
.sf-c-palegoldenrod\:100, .sf-c-palegoldenrod\:100\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 100%) }

.sf-c-txt-palegoldenrod { color: hsl(55, 67%, 10%) }
.sf-c-txt-palegoldenrod\:st { color: hsl(55, 67%, 80%) }
.sf-c-txt-palegoldenrod\:0, .sf-c-txt-palegoldenrod\:0\:st { color: hsl(55, 67%, 0%) }
.sf-c-txt-palegoldenrod\:10, .sf-c-txt-palegoldenrod\:10\:st { color: hsl(55, 67%, 10%) }
.sf-c-txt-palegoldenrod\:20, .sf-c-txt-palegoldenrod\:20\:st { color: hsl(55, 67%, 20%) }
.sf-c-txt-palegoldenrod\:30, .sf-c-txt-palegoldenrod\:30\:st { color: hsl(55, 67%, 30%) }
.sf-c-txt-palegoldenrod\:40, .sf-c-txt-palegoldenrod\:40\:st { color: hsl(55, 67%, 40%) }
.sf-c-txt-palegoldenrod\:50, .sf-c-txt-palegoldenrod\:50\:st { color: hsl(55, 67%, 50%) }
.sf-c-txt-palegoldenrod\:60, .sf-c-txt-palegoldenrod\:60\:st { color: hsl(55, 67%, 60%) }
.sf-c-txt-palegoldenrod\:70, .sf-c-txt-palegoldenrod\:70\:st { color: hsl(55, 67%, 70%) }
.sf-c-txt-palegoldenrod\:80, .sf-c-txt-palegoldenrod\:80\:st { color: hsl(55, 67%, 80%) }
.sf-c-txt-palegoldenrod\:90, .sf-c-txt-palegoldenrod\:90\:st { color: hsl(55, 67%, 90%) }
.sf-c-txt-palegoldenrod\:100, .sf-c-txt-palegoldenrod\:100\:st { color: hsl(55, 67%, 100%) }

html[data-theme='dark'] .sf-c-palegoldenrod, html.dark .sf-c-palegoldenrod { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:0, html.dark .sf-c-palegoldenrod\:0 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 100%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:10, html.dark .sf-c-palegoldenrod\:10 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 90%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:20, html.dark .sf-c-palegoldenrod\:20 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:30, html.dark .sf-c-palegoldenrod\:30 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 70%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:40, html.dark .sf-c-palegoldenrod\:40 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 60%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:50, html.dark .sf-c-palegoldenrod\:50 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 50%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:60, html.dark .sf-c-palegoldenrod\:60 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 40%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:70, html.dark .sf-c-palegoldenrod\:70 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 30%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:80, html.dark .sf-c-palegoldenrod\:80 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:90, html.dark .sf-c-palegoldenrod\:90 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 10%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:100, html.dark .sf-c-palegoldenrod\:100 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 0%) }

html[data-theme='dark'] .sf-c-palegoldenrod\:st, html.dark .sf-c-palegoldenrod\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:0\:st, html.dark .sf-c-palegoldenrod\:0\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 0%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:10\:st, html.dark .sf-c-palegoldenrod\:10\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 10%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:20\:st, html.dark .sf-c-palegoldenrod\:20\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:30\:st, html.dark .sf-c-palegoldenrod\:30\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 30%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:40\:st, html.dark .sf-c-palegoldenrod\:40\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 40%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:50\:st, html.dark .sf-c-palegoldenrod\:50\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 50%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:60\:st, html.dark .sf-c-palegoldenrod\:60\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 60%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:70\:st, html.dark .sf-c-palegoldenrod\:70\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 70%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:80\:st, html.dark .sf-c-palegoldenrod\:80\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:90\:st, html.dark .sf-c-palegoldenrod\:90\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 90%) }
html[data-theme='dark'] .sf-c-palegoldenrod\:100\:st, html.dark .sf-c-palegoldenrod\:100\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 100%) }

html[data-theme='dark'] .sf-c-txt-palegoldenrod, html.dark .sf-c-txt-palegoldenrod { color: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:0, html.dark .sf-c-txt-palegoldenrod\:0 { color: hsl(55, 67%, 100%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:10, html.dark .sf-c-txt-palegoldenrod\:10 { color: hsl(55, 67%, 90%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:20, html.dark .sf-c-txt-palegoldenrod\:20 { color: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:30, html.dark .sf-c-txt-palegoldenrod\:30 { color: hsl(55, 67%, 70%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:40, html.dark .sf-c-txt-palegoldenrod\:40 { color: hsl(55, 67%, 60%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:50, html.dark .sf-c-txt-palegoldenrod\:50 { color: hsl(55, 67%, 50%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:60, html.dark .sf-c-txt-palegoldenrod\:60 { color: hsl(55, 67%, 40%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:70, html.dark .sf-c-txt-palegoldenrod\:70 { color: hsl(55, 67%, 30%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:80, html.dark .sf-c-txt-palegoldenrod\:80 { color: hsl(55, 67%, 20%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:90, html.dark .sf-c-txt-palegoldenrod\:90 { color: hsl(55, 67%, 10%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:100, html.dark .sf-c-txt-palegoldenrod\:100 { color: hsl(55, 67%, 0%) }

html[data-theme='dark'] .sf-c-txt-palegoldenrod\:st, html.dark .sf-c-txt-palegoldenrod\:st { color: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:0\:st, html.dark .sf-c-txt-palegoldenrod\:0\:st { color: hsl(55, 67%, 0%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:10\:st, html.dark .sf-c-txt-palegoldenrod\:10\:st { color: hsl(55, 67%, 10%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:20\:st, html.dark .sf-c-txt-palegoldenrod\:20\:st { color: hsl(55, 67%, 20%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:30\:st, html.dark .sf-c-txt-palegoldenrod\:30\:st { color: hsl(55, 67%, 30%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:40\:st, html.dark .sf-c-txt-palegoldenrod\:40\:st { color: hsl(55, 67%, 40%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:50\:st, html.dark .sf-c-txt-palegoldenrod\:50\:st { color: hsl(55, 67%, 50%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:60\:st, html.dark .sf-c-txt-palegoldenrod\:60\:st { color: hsl(55, 67%, 60%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:70\:st, html.dark .sf-c-txt-palegoldenrod\:70\:st { color: hsl(55, 67%, 70%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:80\:st, html.dark .sf-c-txt-palegoldenrod\:80\:st { color: hsl(55, 67%, 80%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:90\:st, html.dark .sf-c-txt-palegoldenrod\:90\:st { color: hsl(55, 67%, 90%) }
html[data-theme='dark'] .sf-c-txt-palegoldenrod\:100\:st, html.dark .sf-c-txt-palegoldenrod\:100\:st { color: hsl(55, 67%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-palegoldenrod, html.auto .sf-c-palegoldenrod { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:0, html.auto .sf-c-palegoldenrod\:0 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 100%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:10, html.auto .sf-c-palegoldenrod\:10 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 90%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:20, html.auto .sf-c-palegoldenrod\:20 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:30, html.auto .sf-c-palegoldenrod\:30 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 70%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:40, html.auto .sf-c-palegoldenrod\:40 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 60%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:50, html.auto .sf-c-palegoldenrod\:50 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 50%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:60, html.auto .sf-c-palegoldenrod\:60 { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 40%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:70, html.auto .sf-c-palegoldenrod\:70 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 30%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:80, html.auto .sf-c-palegoldenrod\:80 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:90, html.auto .sf-c-palegoldenrod\:90 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 10%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:100, html.auto .sf-c-palegoldenrod\:100 { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 0%) }

  html[data-theme='auto'] .sf-c-palegoldenrod\:st, html.auto .sf-c-palegoldenrod\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:0\:st, html.auto .sf-c-palegoldenrod\:0\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 0%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:10\:st, html.auto .sf-c-palegoldenrod\:10\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 10%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:20\:st, html.auto .sf-c-palegoldenrod\:20\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 20%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:30\:st, html.auto .sf-c-palegoldenrod\:30\:st { color: hsl(55, 67%, 90%); background: hsl(55, 67%, 30%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:40\:st, html.auto .sf-c-palegoldenrod\:40\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 40%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:50\:st, html.auto .sf-c-palegoldenrod\:50\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 50%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:60\:st, html.auto .sf-c-palegoldenrod\:60\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 60%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:70\:st, html.auto .sf-c-palegoldenrod\:70\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 70%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:80\:st, html.auto .sf-c-palegoldenrod\:80\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:90\:st, html.auto .sf-c-palegoldenrod\:90\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 90%) }
  html[data-theme='auto'] .sf-c-palegoldenrod\:100\:st, html.auto .sf-c-palegoldenrod\:100\:st { color: hsl(55, 67%, 10%); background: hsl(55, 67%, 100%) }

  html[data-theme='auto'] .sf-c-txt-palegoldenrod, html.auto .sf-c-txt-palegoldenrod { color: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:0, html.auto .sf-c-txt-palegoldenrod\:0 { color: hsl(55, 67%, 100%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:10, html.auto .sf-c-txt-palegoldenrod\:10 { color: hsl(55, 67%, 90%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:20, html.auto .sf-c-txt-palegoldenrod\:20 { color: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:30, html.auto .sf-c-txt-palegoldenrod\:30 { color: hsl(55, 67%, 70%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:40, html.auto .sf-c-txt-palegoldenrod\:40 { color: hsl(55, 67%, 60%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:50, html.auto .sf-c-txt-palegoldenrod\:50 { color: hsl(55, 67%, 50%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:60, html.auto .sf-c-txt-palegoldenrod\:60 { color: hsl(55, 67%, 40%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:70, html.auto .sf-c-txt-palegoldenrod\:70 { color: hsl(55, 67%, 30%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:80, html.auto .sf-c-txt-palegoldenrod\:80 { color: hsl(55, 67%, 20%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:90, html.auto .sf-c-txt-palegoldenrod\:90 { color: hsl(55, 67%, 10%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:100, html.auto .sf-c-txt-palegoldenrod\:100 { color: hsl(55, 67%, 0%) }

  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:st, html.auto .sf-c-txt-palegoldenrod\:st { color: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:0\:st, html.auto .sf-c-txt-palegoldenrod\:0\:st { color: hsl(55, 67%, 0%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:10\:st, html.auto .sf-c-txt-palegoldenrod\:10\:st { color: hsl(55, 67%, 10%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:20\:st, html.auto .sf-c-txt-palegoldenrod\:20\:st { color: hsl(55, 67%, 20%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:30\:st, html.auto .sf-c-txt-palegoldenrod\:30\:st { color: hsl(55, 67%, 30%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:40\:st, html.auto .sf-c-txt-palegoldenrod\:40\:st { color: hsl(55, 67%, 40%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:50\:st, html.auto .sf-c-txt-palegoldenrod\:50\:st { color: hsl(55, 67%, 50%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:60\:st, html.auto .sf-c-txt-palegoldenrod\:60\:st { color: hsl(55, 67%, 60%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:70\:st, html.auto .sf-c-txt-palegoldenrod\:70\:st { color: hsl(55, 67%, 70%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:80\:st, html.auto .sf-c-txt-palegoldenrod\:80\:st { color: hsl(55, 67%, 80%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:90\:st, html.auto .sf-c-txt-palegoldenrod\:90\:st { color: hsl(55, 67%, 90%) }
  html[data-theme='auto'] .sf-c-txt-palegoldenrod\:100\:st, html.auto .sf-c-txt-palegoldenrod\:100\:st { color: hsl(55, 67%, 100%) }
}