.sf-var-peru {
  --sf-c-peru: 30 59% 53%;
  --sf-c-peru-0: 30 59% 0%;
  --sf-c-peru-10: 30 59% 10%;
  --sf-c-peru-20: 30 59% 20%;
  --sf-c-peru-30: 30 59% 30%;
  --sf-c-peru-40: 30 59% 40%;
  --sf-c-peru-50: 30 59% 50%;
  --sf-c-peru-60: 30 59% 60%;
  --sf-c-peru-70: 30 59% 70%;
  --sf-c-peru-80: 30 59% 80%;
  --sf-c-peru-90: 30 59% 90%;
  --sf-c-peru-100: 30 59% 100%;
}

.sf-c-peru, .sf-c-peru\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 53%) }
.sf-c-peru\:0, .sf-c-peru\:0\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 0%) }
.sf-c-peru\:10, .sf-c-peru\:10\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 10%) }
.sf-c-peru\:20, .sf-c-peru\:20\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 20%) }
.sf-c-peru\:30, .sf-c-peru\:30\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 30%) }
.sf-c-peru\:40, .sf-c-peru\:40\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 40%) }
.sf-c-peru\:50, .sf-c-peru\:50\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 50%) }
.sf-c-peru\:60, .sf-c-peru\:60\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 60%) }
.sf-c-peru\:70, .sf-c-peru\:70\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 70%) }
.sf-c-peru\:80, .sf-c-peru\:80\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 80%) }
.sf-c-peru\:90, .sf-c-peru\:90\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 90%) }
.sf-c-peru\:100, .sf-c-peru\:100\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 100%) }

.sf-c-txt-peru { color: hsl(30, 59%, 10%) }
.sf-c-txt-peru\:st { color: hsl(30, 59%, 53%) }
.sf-c-txt-peru\:0, .sf-c-txt-peru\:0\:st { color: hsl(30, 59%, 0%) }
.sf-c-txt-peru\:10, .sf-c-txt-peru\:10\:st { color: hsl(30, 59%, 10%) }
.sf-c-txt-peru\:20, .sf-c-txt-peru\:20\:st { color: hsl(30, 59%, 20%) }
.sf-c-txt-peru\:30, .sf-c-txt-peru\:30\:st { color: hsl(30, 59%, 30%) }
.sf-c-txt-peru\:40, .sf-c-txt-peru\:40\:st { color: hsl(30, 59%, 40%) }
.sf-c-txt-peru\:50, .sf-c-txt-peru\:50\:st { color: hsl(30, 59%, 50%) }
.sf-c-txt-peru\:60, .sf-c-txt-peru\:60\:st { color: hsl(30, 59%, 60%) }
.sf-c-txt-peru\:70, .sf-c-txt-peru\:70\:st { color: hsl(30, 59%, 70%) }
.sf-c-txt-peru\:80, .sf-c-txt-peru\:80\:st { color: hsl(30, 59%, 80%) }
.sf-c-txt-peru\:90, .sf-c-txt-peru\:90\:st { color: hsl(30, 59%, 90%) }
.sf-c-txt-peru\:100, .sf-c-txt-peru\:100\:st { color: hsl(30, 59%, 100%) }

html[data-theme='dark'] .sf-c-peru, html.dark .sf-c-peru { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 47%) }
html[data-theme='dark'] .sf-c-peru\:0, html.dark .sf-c-peru\:0 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 100%) }
html[data-theme='dark'] .sf-c-peru\:10, html.dark .sf-c-peru\:10 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 90%) }
html[data-theme='dark'] .sf-c-peru\:20, html.dark .sf-c-peru\:20 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 80%) }
html[data-theme='dark'] .sf-c-peru\:30, html.dark .sf-c-peru\:30 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 70%) }
html[data-theme='dark'] .sf-c-peru\:40, html.dark .sf-c-peru\:40 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 60%) }
html[data-theme='dark'] .sf-c-peru\:50, html.dark .sf-c-peru\:50 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 50%) }
html[data-theme='dark'] .sf-c-peru\:60, html.dark .sf-c-peru\:60 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 40%) }
html[data-theme='dark'] .sf-c-peru\:70, html.dark .sf-c-peru\:70 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 30%) }
html[data-theme='dark'] .sf-c-peru\:80, html.dark .sf-c-peru\:80 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 20%) }
html[data-theme='dark'] .sf-c-peru\:90, html.dark .sf-c-peru\:90 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 10%) }
html[data-theme='dark'] .sf-c-peru\:100, html.dark .sf-c-peru\:100 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 0%) }

html[data-theme='dark'] .sf-c-peru\:st, html.dark .sf-c-peru\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 53%) }
html[data-theme='dark'] .sf-c-peru\:0\:st, html.dark .sf-c-peru\:0\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 0%) }
html[data-theme='dark'] .sf-c-peru\:10\:st, html.dark .sf-c-peru\:10\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 10%) }
html[data-theme='dark'] .sf-c-peru\:20\:st, html.dark .sf-c-peru\:20\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 20%) }
html[data-theme='dark'] .sf-c-peru\:30\:st, html.dark .sf-c-peru\:30\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 30%) }
html[data-theme='dark'] .sf-c-peru\:40\:st, html.dark .sf-c-peru\:40\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 40%) }
html[data-theme='dark'] .sf-c-peru\:50\:st, html.dark .sf-c-peru\:50\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 50%) }
html[data-theme='dark'] .sf-c-peru\:60\:st, html.dark .sf-c-peru\:60\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 60%) }
html[data-theme='dark'] .sf-c-peru\:70\:st, html.dark .sf-c-peru\:70\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 70%) }
html[data-theme='dark'] .sf-c-peru\:80\:st, html.dark .sf-c-peru\:80\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 80%) }
html[data-theme='dark'] .sf-c-peru\:90\:st, html.dark .sf-c-peru\:90\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 90%) }
html[data-theme='dark'] .sf-c-peru\:100\:st, html.dark .sf-c-peru\:100\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 100%) }

html[data-theme='dark'] .sf-c-txt-peru, html.dark .sf-c-txt-peru { color: hsl(30, 59%, 53%) }
html[data-theme='dark'] .sf-c-txt-peru\:0, html.dark .sf-c-txt-peru\:0 { color: hsl(30, 59%, 100%) }
html[data-theme='dark'] .sf-c-txt-peru\:10, html.dark .sf-c-txt-peru\:10 { color: hsl(30, 59%, 90%) }
html[data-theme='dark'] .sf-c-txt-peru\:20, html.dark .sf-c-txt-peru\:20 { color: hsl(30, 59%, 80%) }
html[data-theme='dark'] .sf-c-txt-peru\:30, html.dark .sf-c-txt-peru\:30 { color: hsl(30, 59%, 70%) }
html[data-theme='dark'] .sf-c-txt-peru\:40, html.dark .sf-c-txt-peru\:40 { color: hsl(30, 59%, 60%) }
html[data-theme='dark'] .sf-c-txt-peru\:50, html.dark .sf-c-txt-peru\:50 { color: hsl(30, 59%, 50%) }
html[data-theme='dark'] .sf-c-txt-peru\:60, html.dark .sf-c-txt-peru\:60 { color: hsl(30, 59%, 40%) }
html[data-theme='dark'] .sf-c-txt-peru\:70, html.dark .sf-c-txt-peru\:70 { color: hsl(30, 59%, 30%) }
html[data-theme='dark'] .sf-c-txt-peru\:80, html.dark .sf-c-txt-peru\:80 { color: hsl(30, 59%, 20%) }
html[data-theme='dark'] .sf-c-txt-peru\:90, html.dark .sf-c-txt-peru\:90 { color: hsl(30, 59%, 10%) }
html[data-theme='dark'] .sf-c-txt-peru\:100, html.dark .sf-c-txt-peru\:100 { color: hsl(30, 59%, 0%) }

html[data-theme='dark'] .sf-c-txt-peru\:st, html.dark .sf-c-txt-peru\:st { color: hsl(30, 59%, 53%) }
html[data-theme='dark'] .sf-c-txt-peru\:0\:st, html.dark .sf-c-txt-peru\:0\:st { color: hsl(30, 59%, 0%) }
html[data-theme='dark'] .sf-c-txt-peru\:10\:st, html.dark .sf-c-txt-peru\:10\:st { color: hsl(30, 59%, 10%) }
html[data-theme='dark'] .sf-c-txt-peru\:20\:st, html.dark .sf-c-txt-peru\:20\:st { color: hsl(30, 59%, 20%) }
html[data-theme='dark'] .sf-c-txt-peru\:30\:st, html.dark .sf-c-txt-peru\:30\:st { color: hsl(30, 59%, 30%) }
html[data-theme='dark'] .sf-c-txt-peru\:40\:st, html.dark .sf-c-txt-peru\:40\:st { color: hsl(30, 59%, 40%) }
html[data-theme='dark'] .sf-c-txt-peru\:50\:st, html.dark .sf-c-txt-peru\:50\:st { color: hsl(30, 59%, 50%) }
html[data-theme='dark'] .sf-c-txt-peru\:60\:st, html.dark .sf-c-txt-peru\:60\:st { color: hsl(30, 59%, 60%) }
html[data-theme='dark'] .sf-c-txt-peru\:70\:st, html.dark .sf-c-txt-peru\:70\:st { color: hsl(30, 59%, 70%) }
html[data-theme='dark'] .sf-c-txt-peru\:80\:st, html.dark .sf-c-txt-peru\:80\:st { color: hsl(30, 59%, 80%) }
html[data-theme='dark'] .sf-c-txt-peru\:90\:st, html.dark .sf-c-txt-peru\:90\:st { color: hsl(30, 59%, 90%) }
html[data-theme='dark'] .sf-c-txt-peru\:100\:st, html.dark .sf-c-txt-peru\:100\:st { color: hsl(30, 59%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-peru, html.auto .sf-c-peru { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 47%) }
  html[data-theme='auto'] .sf-c-peru\:0, html.auto .sf-c-peru\:0 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 100%) }
  html[data-theme='auto'] .sf-c-peru\:10, html.auto .sf-c-peru\:10 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 90%) }
  html[data-theme='auto'] .sf-c-peru\:20, html.auto .sf-c-peru\:20 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 80%) }
  html[data-theme='auto'] .sf-c-peru\:30, html.auto .sf-c-peru\:30 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 70%) }
  html[data-theme='auto'] .sf-c-peru\:40, html.auto .sf-c-peru\:40 { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 60%) }
  html[data-theme='auto'] .sf-c-peru\:50, html.auto .sf-c-peru\:50 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 50%) }
  html[data-theme='auto'] .sf-c-peru\:60, html.auto .sf-c-peru\:60 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 40%) }
  html[data-theme='auto'] .sf-c-peru\:70, html.auto .sf-c-peru\:70 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 30%) }
  html[data-theme='auto'] .sf-c-peru\:80, html.auto .sf-c-peru\:80 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 20%) }
  html[data-theme='auto'] .sf-c-peru\:90, html.auto .sf-c-peru\:90 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 10%) }
  html[data-theme='auto'] .sf-c-peru\:100, html.auto .sf-c-peru\:100 { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 0%) }

  html[data-theme='auto'] .sf-c-peru\:st, html.auto .sf-c-peru\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 53%) }
  html[data-theme='auto'] .sf-c-peru\:0\:st, html.auto .sf-c-peru\:0\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 0%) }
  html[data-theme='auto'] .sf-c-peru\:10\:st, html.auto .sf-c-peru\:10\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 10%) }
  html[data-theme='auto'] .sf-c-peru\:20\:st, html.auto .sf-c-peru\:20\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 20%) }
  html[data-theme='auto'] .sf-c-peru\:30\:st, html.auto .sf-c-peru\:30\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 30%) }
  html[data-theme='auto'] .sf-c-peru\:40\:st, html.auto .sf-c-peru\:40\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 40%) }
  html[data-theme='auto'] .sf-c-peru\:50\:st, html.auto .sf-c-peru\:50\:st { color: hsl(30, 59%, 90%); background: hsl(30, 59%, 50%) }
  html[data-theme='auto'] .sf-c-peru\:60\:st, html.auto .sf-c-peru\:60\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 60%) }
  html[data-theme='auto'] .sf-c-peru\:70\:st, html.auto .sf-c-peru\:70\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 70%) }
  html[data-theme='auto'] .sf-c-peru\:80\:st, html.auto .sf-c-peru\:80\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 80%) }
  html[data-theme='auto'] .sf-c-peru\:90\:st, html.auto .sf-c-peru\:90\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 90%) }
  html[data-theme='auto'] .sf-c-peru\:100\:st, html.auto .sf-c-peru\:100\:st { color: hsl(30, 59%, 10%); background: hsl(30, 59%, 100%) }

  html[data-theme='auto'] .sf-c-txt-peru, html.auto .sf-c-txt-peru { color: hsl(30, 59%, 53%) }
  html[data-theme='auto'] .sf-c-txt-peru\:0, html.auto .sf-c-txt-peru\:0 { color: hsl(30, 59%, 100%) }
  html[data-theme='auto'] .sf-c-txt-peru\:10, html.auto .sf-c-txt-peru\:10 { color: hsl(30, 59%, 90%) }
  html[data-theme='auto'] .sf-c-txt-peru\:20, html.auto .sf-c-txt-peru\:20 { color: hsl(30, 59%, 80%) }
  html[data-theme='auto'] .sf-c-txt-peru\:30, html.auto .sf-c-txt-peru\:30 { color: hsl(30, 59%, 70%) }
  html[data-theme='auto'] .sf-c-txt-peru\:40, html.auto .sf-c-txt-peru\:40 { color: hsl(30, 59%, 60%) }
  html[data-theme='auto'] .sf-c-txt-peru\:50, html.auto .sf-c-txt-peru\:50 { color: hsl(30, 59%, 50%) }
  html[data-theme='auto'] .sf-c-txt-peru\:60, html.auto .sf-c-txt-peru\:60 { color: hsl(30, 59%, 40%) }
  html[data-theme='auto'] .sf-c-txt-peru\:70, html.auto .sf-c-txt-peru\:70 { color: hsl(30, 59%, 30%) }
  html[data-theme='auto'] .sf-c-txt-peru\:80, html.auto .sf-c-txt-peru\:80 { color: hsl(30, 59%, 20%) }
  html[data-theme='auto'] .sf-c-txt-peru\:90, html.auto .sf-c-txt-peru\:90 { color: hsl(30, 59%, 10%) }
  html[data-theme='auto'] .sf-c-txt-peru\:100, html.auto .sf-c-txt-peru\:100 { color: hsl(30, 59%, 0%) }

  html[data-theme='auto'] .sf-c-txt-peru\:st, html.auto .sf-c-txt-peru\:st { color: hsl(30, 59%, 53%) }
  html[data-theme='auto'] .sf-c-txt-peru\:0\:st, html.auto .sf-c-txt-peru\:0\:st { color: hsl(30, 59%, 0%) }
  html[data-theme='auto'] .sf-c-txt-peru\:10\:st, html.auto .sf-c-txt-peru\:10\:st { color: hsl(30, 59%, 10%) }
  html[data-theme='auto'] .sf-c-txt-peru\:20\:st, html.auto .sf-c-txt-peru\:20\:st { color: hsl(30, 59%, 20%) }
  html[data-theme='auto'] .sf-c-txt-peru\:30\:st, html.auto .sf-c-txt-peru\:30\:st { color: hsl(30, 59%, 30%) }
  html[data-theme='auto'] .sf-c-txt-peru\:40\:st, html.auto .sf-c-txt-peru\:40\:st { color: hsl(30, 59%, 40%) }
  html[data-theme='auto'] .sf-c-txt-peru\:50\:st, html.auto .sf-c-txt-peru\:50\:st { color: hsl(30, 59%, 50%) }
  html[data-theme='auto'] .sf-c-txt-peru\:60\:st, html.auto .sf-c-txt-peru\:60\:st { color: hsl(30, 59%, 60%) }
  html[data-theme='auto'] .sf-c-txt-peru\:70\:st, html.auto .sf-c-txt-peru\:70\:st { color: hsl(30, 59%, 70%) }
  html[data-theme='auto'] .sf-c-txt-peru\:80\:st, html.auto .sf-c-txt-peru\:80\:st { color: hsl(30, 59%, 80%) }
  html[data-theme='auto'] .sf-c-txt-peru\:90\:st, html.auto .sf-c-txt-peru\:90\:st { color: hsl(30, 59%, 90%) }
  html[data-theme='auto'] .sf-c-txt-peru\:100\:st, html.auto .sf-c-txt-peru\:100\:st { color: hsl(30, 59%, 100%) }
}