.sf-var-plum {
  --sf-c-plum: 300 47% 75%;
  --sf-c-plum-0: 300 47% 0%;
  --sf-c-plum-10: 300 47% 10%;
  --sf-c-plum-20: 300 47% 20%;
  --sf-c-plum-30: 300 47% 30%;
  --sf-c-plum-40: 300 47% 40%;
  --sf-c-plum-50: 300 47% 50%;
  --sf-c-plum-60: 300 47% 60%;
  --sf-c-plum-70: 300 47% 70%;
  --sf-c-plum-80: 300 47% 80%;
  --sf-c-plum-90: 300 47% 90%;
  --sf-c-plum-100: 300 47% 100%;
}

.sf-c-plum, .sf-c-plum\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 75%) }
.sf-c-plum\:0, .sf-c-plum\:0\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 0%) }
.sf-c-plum\:10, .sf-c-plum\:10\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 10%) }
.sf-c-plum\:20, .sf-c-plum\:20\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 20%) }
.sf-c-plum\:30, .sf-c-plum\:30\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 30%) }
.sf-c-plum\:40, .sf-c-plum\:40\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 40%) }
.sf-c-plum\:50, .sf-c-plum\:50\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 50%) }
.sf-c-plum\:60, .sf-c-plum\:60\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 60%) }
.sf-c-plum\:70, .sf-c-plum\:70\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 70%) }
.sf-c-plum\:80, .sf-c-plum\:80\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 80%) }
.sf-c-plum\:90, .sf-c-plum\:90\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 90%) }
.sf-c-plum\:100, .sf-c-plum\:100\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 100%) }

.sf-c-txt-plum { color: hsl(300, 47%, 10%) }
.sf-c-txt-plum\:st { color: hsl(300, 47%, 75%) }
.sf-c-txt-plum\:0, .sf-c-txt-plum\:0\:st { color: hsl(300, 47%, 0%) }
.sf-c-txt-plum\:10, .sf-c-txt-plum\:10\:st { color: hsl(300, 47%, 10%) }
.sf-c-txt-plum\:20, .sf-c-txt-plum\:20\:st { color: hsl(300, 47%, 20%) }
.sf-c-txt-plum\:30, .sf-c-txt-plum\:30\:st { color: hsl(300, 47%, 30%) }
.sf-c-txt-plum\:40, .sf-c-txt-plum\:40\:st { color: hsl(300, 47%, 40%) }
.sf-c-txt-plum\:50, .sf-c-txt-plum\:50\:st { color: hsl(300, 47%, 50%) }
.sf-c-txt-plum\:60, .sf-c-txt-plum\:60\:st { color: hsl(300, 47%, 60%) }
.sf-c-txt-plum\:70, .sf-c-txt-plum\:70\:st { color: hsl(300, 47%, 70%) }
.sf-c-txt-plum\:80, .sf-c-txt-plum\:80\:st { color: hsl(300, 47%, 80%) }
.sf-c-txt-plum\:90, .sf-c-txt-plum\:90\:st { color: hsl(300, 47%, 90%) }
.sf-c-txt-plum\:100, .sf-c-txt-plum\:100\:st { color: hsl(300, 47%, 100%) }

html[data-theme='dark'] .sf-c-plum, html.dark .sf-c-plum { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 25%) }
html[data-theme='dark'] .sf-c-plum\:0, html.dark .sf-c-plum\:0 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 100%) }
html[data-theme='dark'] .sf-c-plum\:10, html.dark .sf-c-plum\:10 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 90%) }
html[data-theme='dark'] .sf-c-plum\:20, html.dark .sf-c-plum\:20 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 80%) }
html[data-theme='dark'] .sf-c-plum\:30, html.dark .sf-c-plum\:30 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 70%) }
html[data-theme='dark'] .sf-c-plum\:40, html.dark .sf-c-plum\:40 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 60%) }
html[data-theme='dark'] .sf-c-plum\:50, html.dark .sf-c-plum\:50 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 50%) }
html[data-theme='dark'] .sf-c-plum\:60, html.dark .sf-c-plum\:60 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 40%) }
html[data-theme='dark'] .sf-c-plum\:70, html.dark .sf-c-plum\:70 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 30%) }
html[data-theme='dark'] .sf-c-plum\:80, html.dark .sf-c-plum\:80 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 20%) }
html[data-theme='dark'] .sf-c-plum\:90, html.dark .sf-c-plum\:90 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 10%) }
html[data-theme='dark'] .sf-c-plum\:100, html.dark .sf-c-plum\:100 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 0%) }

html[data-theme='dark'] .sf-c-plum\:st, html.dark .sf-c-plum\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 75%) }
html[data-theme='dark'] .sf-c-plum\:0\:st, html.dark .sf-c-plum\:0\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 0%) }
html[data-theme='dark'] .sf-c-plum\:10\:st, html.dark .sf-c-plum\:10\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 10%) }
html[data-theme='dark'] .sf-c-plum\:20\:st, html.dark .sf-c-plum\:20\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 20%) }
html[data-theme='dark'] .sf-c-plum\:30\:st, html.dark .sf-c-plum\:30\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 30%) }
html[data-theme='dark'] .sf-c-plum\:40\:st, html.dark .sf-c-plum\:40\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 40%) }
html[data-theme='dark'] .sf-c-plum\:50\:st, html.dark .sf-c-plum\:50\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 50%) }
html[data-theme='dark'] .sf-c-plum\:60\:st, html.dark .sf-c-plum\:60\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 60%) }
html[data-theme='dark'] .sf-c-plum\:70\:st, html.dark .sf-c-plum\:70\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 70%) }
html[data-theme='dark'] .sf-c-plum\:80\:st, html.dark .sf-c-plum\:80\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 80%) }
html[data-theme='dark'] .sf-c-plum\:90\:st, html.dark .sf-c-plum\:90\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 90%) }
html[data-theme='dark'] .sf-c-plum\:100\:st, html.dark .sf-c-plum\:100\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 100%) }

html[data-theme='dark'] .sf-c-txt-plum, html.dark .sf-c-txt-plum { color: hsl(300, 47%, 75%) }
html[data-theme='dark'] .sf-c-txt-plum\:0, html.dark .sf-c-txt-plum\:0 { color: hsl(300, 47%, 100%) }
html[data-theme='dark'] .sf-c-txt-plum\:10, html.dark .sf-c-txt-plum\:10 { color: hsl(300, 47%, 90%) }
html[data-theme='dark'] .sf-c-txt-plum\:20, html.dark .sf-c-txt-plum\:20 { color: hsl(300, 47%, 80%) }
html[data-theme='dark'] .sf-c-txt-plum\:30, html.dark .sf-c-txt-plum\:30 { color: hsl(300, 47%, 70%) }
html[data-theme='dark'] .sf-c-txt-plum\:40, html.dark .sf-c-txt-plum\:40 { color: hsl(300, 47%, 60%) }
html[data-theme='dark'] .sf-c-txt-plum\:50, html.dark .sf-c-txt-plum\:50 { color: hsl(300, 47%, 50%) }
html[data-theme='dark'] .sf-c-txt-plum\:60, html.dark .sf-c-txt-plum\:60 { color: hsl(300, 47%, 40%) }
html[data-theme='dark'] .sf-c-txt-plum\:70, html.dark .sf-c-txt-plum\:70 { color: hsl(300, 47%, 30%) }
html[data-theme='dark'] .sf-c-txt-plum\:80, html.dark .sf-c-txt-plum\:80 { color: hsl(300, 47%, 20%) }
html[data-theme='dark'] .sf-c-txt-plum\:90, html.dark .sf-c-txt-plum\:90 { color: hsl(300, 47%, 10%) }
html[data-theme='dark'] .sf-c-txt-plum\:100, html.dark .sf-c-txt-plum\:100 { color: hsl(300, 47%, 0%) }

html[data-theme='dark'] .sf-c-txt-plum\:st, html.dark .sf-c-txt-plum\:st { color: hsl(300, 47%, 75%) }
html[data-theme='dark'] .sf-c-txt-plum\:0\:st, html.dark .sf-c-txt-plum\:0\:st { color: hsl(300, 47%, 0%) }
html[data-theme='dark'] .sf-c-txt-plum\:10\:st, html.dark .sf-c-txt-plum\:10\:st { color: hsl(300, 47%, 10%) }
html[data-theme='dark'] .sf-c-txt-plum\:20\:st, html.dark .sf-c-txt-plum\:20\:st { color: hsl(300, 47%, 20%) }
html[data-theme='dark'] .sf-c-txt-plum\:30\:st, html.dark .sf-c-txt-plum\:30\:st { color: hsl(300, 47%, 30%) }
html[data-theme='dark'] .sf-c-txt-plum\:40\:st, html.dark .sf-c-txt-plum\:40\:st { color: hsl(300, 47%, 40%) }
html[data-theme='dark'] .sf-c-txt-plum\:50\:st, html.dark .sf-c-txt-plum\:50\:st { color: hsl(300, 47%, 50%) }
html[data-theme='dark'] .sf-c-txt-plum\:60\:st, html.dark .sf-c-txt-plum\:60\:st { color: hsl(300, 47%, 60%) }
html[data-theme='dark'] .sf-c-txt-plum\:70\:st, html.dark .sf-c-txt-plum\:70\:st { color: hsl(300, 47%, 70%) }
html[data-theme='dark'] .sf-c-txt-plum\:80\:st, html.dark .sf-c-txt-plum\:80\:st { color: hsl(300, 47%, 80%) }
html[data-theme='dark'] .sf-c-txt-plum\:90\:st, html.dark .sf-c-txt-plum\:90\:st { color: hsl(300, 47%, 90%) }
html[data-theme='dark'] .sf-c-txt-plum\:100\:st, html.dark .sf-c-txt-plum\:100\:st { color: hsl(300, 47%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-plum, html.auto .sf-c-plum { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 25%) }
  html[data-theme='auto'] .sf-c-plum\:0, html.auto .sf-c-plum\:0 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 100%) }
  html[data-theme='auto'] .sf-c-plum\:10, html.auto .sf-c-plum\:10 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 90%) }
  html[data-theme='auto'] .sf-c-plum\:20, html.auto .sf-c-plum\:20 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 80%) }
  html[data-theme='auto'] .sf-c-plum\:30, html.auto .sf-c-plum\:30 { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 70%) }
  html[data-theme='auto'] .sf-c-plum\:40, html.auto .sf-c-plum\:40 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 60%) }
  html[data-theme='auto'] .sf-c-plum\:50, html.auto .sf-c-plum\:50 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 50%) }
  html[data-theme='auto'] .sf-c-plum\:60, html.auto .sf-c-plum\:60 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 40%) }
  html[data-theme='auto'] .sf-c-plum\:70, html.auto .sf-c-plum\:70 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 30%) }
  html[data-theme='auto'] .sf-c-plum\:80, html.auto .sf-c-plum\:80 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 20%) }
  html[data-theme='auto'] .sf-c-plum\:90, html.auto .sf-c-plum\:90 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 10%) }
  html[data-theme='auto'] .sf-c-plum\:100, html.auto .sf-c-plum\:100 { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 0%) }

  html[data-theme='auto'] .sf-c-plum\:st, html.auto .sf-c-plum\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 75%) }
  html[data-theme='auto'] .sf-c-plum\:0\:st, html.auto .sf-c-plum\:0\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 0%) }
  html[data-theme='auto'] .sf-c-plum\:10\:st, html.auto .sf-c-plum\:10\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 10%) }
  html[data-theme='auto'] .sf-c-plum\:20\:st, html.auto .sf-c-plum\:20\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 20%) }
  html[data-theme='auto'] .sf-c-plum\:30\:st, html.auto .sf-c-plum\:30\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 30%) }
  html[data-theme='auto'] .sf-c-plum\:40\:st, html.auto .sf-c-plum\:40\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 40%) }
  html[data-theme='auto'] .sf-c-plum\:50\:st, html.auto .sf-c-plum\:50\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 50%) }
  html[data-theme='auto'] .sf-c-plum\:60\:st, html.auto .sf-c-plum\:60\:st { color: hsl(300, 47%, 90%); background: hsl(300, 47%, 60%) }
  html[data-theme='auto'] .sf-c-plum\:70\:st, html.auto .sf-c-plum\:70\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 70%) }
  html[data-theme='auto'] .sf-c-plum\:80\:st, html.auto .sf-c-plum\:80\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 80%) }
  html[data-theme='auto'] .sf-c-plum\:90\:st, html.auto .sf-c-plum\:90\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 90%) }
  html[data-theme='auto'] .sf-c-plum\:100\:st, html.auto .sf-c-plum\:100\:st { color: hsl(300, 47%, 10%); background: hsl(300, 47%, 100%) }

  html[data-theme='auto'] .sf-c-txt-plum, html.auto .sf-c-txt-plum { color: hsl(300, 47%, 75%) }
  html[data-theme='auto'] .sf-c-txt-plum\:0, html.auto .sf-c-txt-plum\:0 { color: hsl(300, 47%, 100%) }
  html[data-theme='auto'] .sf-c-txt-plum\:10, html.auto .sf-c-txt-plum\:10 { color: hsl(300, 47%, 90%) }
  html[data-theme='auto'] .sf-c-txt-plum\:20, html.auto .sf-c-txt-plum\:20 { color: hsl(300, 47%, 80%) }
  html[data-theme='auto'] .sf-c-txt-plum\:30, html.auto .sf-c-txt-plum\:30 { color: hsl(300, 47%, 70%) }
  html[data-theme='auto'] .sf-c-txt-plum\:40, html.auto .sf-c-txt-plum\:40 { color: hsl(300, 47%, 60%) }
  html[data-theme='auto'] .sf-c-txt-plum\:50, html.auto .sf-c-txt-plum\:50 { color: hsl(300, 47%, 50%) }
  html[data-theme='auto'] .sf-c-txt-plum\:60, html.auto .sf-c-txt-plum\:60 { color: hsl(300, 47%, 40%) }
  html[data-theme='auto'] .sf-c-txt-plum\:70, html.auto .sf-c-txt-plum\:70 { color: hsl(300, 47%, 30%) }
  html[data-theme='auto'] .sf-c-txt-plum\:80, html.auto .sf-c-txt-plum\:80 { color: hsl(300, 47%, 20%) }
  html[data-theme='auto'] .sf-c-txt-plum\:90, html.auto .sf-c-txt-plum\:90 { color: hsl(300, 47%, 10%) }
  html[data-theme='auto'] .sf-c-txt-plum\:100, html.auto .sf-c-txt-plum\:100 { color: hsl(300, 47%, 0%) }

  html[data-theme='auto'] .sf-c-txt-plum\:st, html.auto .sf-c-txt-plum\:st { color: hsl(300, 47%, 75%) }
  html[data-theme='auto'] .sf-c-txt-plum\:0\:st, html.auto .sf-c-txt-plum\:0\:st { color: hsl(300, 47%, 0%) }
  html[data-theme='auto'] .sf-c-txt-plum\:10\:st, html.auto .sf-c-txt-plum\:10\:st { color: hsl(300, 47%, 10%) }
  html[data-theme='auto'] .sf-c-txt-plum\:20\:st, html.auto .sf-c-txt-plum\:20\:st { color: hsl(300, 47%, 20%) }
  html[data-theme='auto'] .sf-c-txt-plum\:30\:st, html.auto .sf-c-txt-plum\:30\:st { color: hsl(300, 47%, 30%) }
  html[data-theme='auto'] .sf-c-txt-plum\:40\:st, html.auto .sf-c-txt-plum\:40\:st { color: hsl(300, 47%, 40%) }
  html[data-theme='auto'] .sf-c-txt-plum\:50\:st, html.auto .sf-c-txt-plum\:50\:st { color: hsl(300, 47%, 50%) }
  html[data-theme='auto'] .sf-c-txt-plum\:60\:st, html.auto .sf-c-txt-plum\:60\:st { color: hsl(300, 47%, 60%) }
  html[data-theme='auto'] .sf-c-txt-plum\:70\:st, html.auto .sf-c-txt-plum\:70\:st { color: hsl(300, 47%, 70%) }
  html[data-theme='auto'] .sf-c-txt-plum\:80\:st, html.auto .sf-c-txt-plum\:80\:st { color: hsl(300, 47%, 80%) }
  html[data-theme='auto'] .sf-c-txt-plum\:90\:st, html.auto .sf-c-txt-plum\:90\:st { color: hsl(300, 47%, 90%) }
  html[data-theme='auto'] .sf-c-txt-plum\:100\:st, html.auto .sf-c-txt-plum\:100\:st { color: hsl(300, 47%, 100%) }
}