.sf-var-purple {
  --sf-c-purple: 300 100% 25%;
  --sf-c-purple-0: 300 100% 0%;
  --sf-c-purple-10: 300 100% 10%;
  --sf-c-purple-20: 300 100% 20%;
  --sf-c-purple-30: 300 100% 30%;
  --sf-c-purple-40: 300 100% 40%;
  --sf-c-purple-50: 300 100% 50%;
  --sf-c-purple-60: 300 100% 60%;
  --sf-c-purple-70: 300 100% 70%;
  --sf-c-purple-80: 300 100% 80%;
  --sf-c-purple-90: 300 100% 90%;
  --sf-c-purple-100: 300 100% 100%;
}

.sf-c-purple, .sf-c-purple\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 25%) }
.sf-c-purple\:0, .sf-c-purple\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
.sf-c-purple\:10, .sf-c-purple\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
.sf-c-purple\:20, .sf-c-purple\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
.sf-c-purple\:30, .sf-c-purple\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
.sf-c-purple\:40, .sf-c-purple\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
.sf-c-purple\:50, .sf-c-purple\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
.sf-c-purple\:60, .sf-c-purple\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
.sf-c-purple\:70, .sf-c-purple\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
.sf-c-purple\:80, .sf-c-purple\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
.sf-c-purple\:90, .sf-c-purple\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
.sf-c-purple\:100, .sf-c-purple\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

.sf-c-txt-purple { color: hsl(300, 100%, 25%) }
.sf-c-txt-purple\:st { color: hsl(300, 100%, 25%) }
.sf-c-txt-purple\:0, .sf-c-txt-purple\:0\:st { color: hsl(300, 100%, 0%) }
.sf-c-txt-purple\:10, .sf-c-txt-purple\:10\:st { color: hsl(300, 100%, 10%) }
.sf-c-txt-purple\:20, .sf-c-txt-purple\:20\:st { color: hsl(300, 100%, 20%) }
.sf-c-txt-purple\:30, .sf-c-txt-purple\:30\:st { color: hsl(300, 100%, 30%) }
.sf-c-txt-purple\:40, .sf-c-txt-purple\:40\:st { color: hsl(300, 100%, 40%) }
.sf-c-txt-purple\:50, .sf-c-txt-purple\:50\:st { color: hsl(300, 100%, 50%) }
.sf-c-txt-purple\:60, .sf-c-txt-purple\:60\:st { color: hsl(300, 100%, 60%) }
.sf-c-txt-purple\:70, .sf-c-txt-purple\:70\:st { color: hsl(300, 100%, 70%) }
.sf-c-txt-purple\:80, .sf-c-txt-purple\:80\:st { color: hsl(300, 100%, 80%) }
.sf-c-txt-purple\:90, .sf-c-txt-purple\:90\:st { color: hsl(300, 100%, 90%) }
.sf-c-txt-purple\:100, .sf-c-txt-purple\:100\:st { color: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-purple, html.dark .sf-c-purple { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-purple\:0, html.dark .sf-c-purple\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-purple\:10, html.dark .sf-c-purple\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-purple\:20, html.dark .sf-c-purple\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-purple\:30, html.dark .sf-c-purple\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-purple\:40, html.dark .sf-c-purple\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-purple\:50, html.dark .sf-c-purple\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-purple\:60, html.dark .sf-c-purple\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-purple\:70, html.dark .sf-c-purple\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-purple\:80, html.dark .sf-c-purple\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-purple\:90, html.dark .sf-c-purple\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-purple\:100, html.dark .sf-c-purple\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-purple\:st, html.dark .sf-c-purple\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-purple\:0\:st, html.dark .sf-c-purple\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-purple\:10\:st, html.dark .sf-c-purple\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-purple\:20\:st, html.dark .sf-c-purple\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-purple\:30\:st, html.dark .sf-c-purple\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-purple\:40\:st, html.dark .sf-c-purple\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-purple\:50\:st, html.dark .sf-c-purple\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-purple\:60\:st, html.dark .sf-c-purple\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-purple\:70\:st, html.dark .sf-c-purple\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-purple\:80\:st, html.dark .sf-c-purple\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-purple\:90\:st, html.dark .sf-c-purple\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-purple\:100\:st, html.dark .sf-c-purple\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-purple, html.dark .sf-c-txt-purple { color: hsl(300, 100%, 75%) }
html[data-theme='dark'] .sf-c-txt-purple\:0, html.dark .sf-c-txt-purple\:0 { color: hsl(300, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-purple\:10, html.dark .sf-c-txt-purple\:10 { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-purple\:20, html.dark .sf-c-txt-purple\:20 { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-purple\:30, html.dark .sf-c-txt-purple\:30 { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-purple\:40, html.dark .sf-c-txt-purple\:40 { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-purple\:50, html.dark .sf-c-txt-purple\:50 { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-purple\:60, html.dark .sf-c-txt-purple\:60 { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-purple\:70, html.dark .sf-c-txt-purple\:70 { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-purple\:80, html.dark .sf-c-txt-purple\:80 { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-purple\:90, html.dark .sf-c-txt-purple\:90 { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-purple\:100, html.dark .sf-c-txt-purple\:100 { color: hsl(300, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-purple\:st, html.dark .sf-c-txt-purple\:st { color: hsl(300, 100%, 25%) }
html[data-theme='dark'] .sf-c-txt-purple\:0\:st, html.dark .sf-c-txt-purple\:0\:st { color: hsl(300, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-purple\:10\:st, html.dark .sf-c-txt-purple\:10\:st { color: hsl(300, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-purple\:20\:st, html.dark .sf-c-txt-purple\:20\:st { color: hsl(300, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-purple\:30\:st, html.dark .sf-c-txt-purple\:30\:st { color: hsl(300, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-purple\:40\:st, html.dark .sf-c-txt-purple\:40\:st { color: hsl(300, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-purple\:50\:st, html.dark .sf-c-txt-purple\:50\:st { color: hsl(300, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-purple\:60\:st, html.dark .sf-c-txt-purple\:60\:st { color: hsl(300, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-purple\:70\:st, html.dark .sf-c-txt-purple\:70\:st { color: hsl(300, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-purple\:80\:st, html.dark .sf-c-txt-purple\:80\:st { color: hsl(300, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-purple\:90\:st, html.dark .sf-c-txt-purple\:90\:st { color: hsl(300, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-purple\:100\:st, html.dark .sf-c-txt-purple\:100\:st { color: hsl(300, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-purple, html.auto .sf-c-purple { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-purple\:0, html.auto .sf-c-purple\:0 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-purple\:10, html.auto .sf-c-purple\:10 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-purple\:20, html.auto .sf-c-purple\:20 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-purple\:30, html.auto .sf-c-purple\:30 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-purple\:40, html.auto .sf-c-purple\:40 { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-purple\:50, html.auto .sf-c-purple\:50 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-purple\:60, html.auto .sf-c-purple\:60 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-purple\:70, html.auto .sf-c-purple\:70 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-purple\:80, html.auto .sf-c-purple\:80 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-purple\:90, html.auto .sf-c-purple\:90 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-purple\:100, html.auto .sf-c-purple\:100 { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-purple\:st, html.auto .sf-c-purple\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-purple\:0\:st, html.auto .sf-c-purple\:0\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-purple\:10\:st, html.auto .sf-c-purple\:10\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-purple\:20\:st, html.auto .sf-c-purple\:20\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-purple\:30\:st, html.auto .sf-c-purple\:30\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-purple\:40\:st, html.auto .sf-c-purple\:40\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-purple\:50\:st, html.auto .sf-c-purple\:50\:st { color: hsl(300, 100%, 90%); background: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-purple\:60\:st, html.auto .sf-c-purple\:60\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-purple\:70\:st, html.auto .sf-c-purple\:70\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-purple\:80\:st, html.auto .sf-c-purple\:80\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-purple\:90\:st, html.auto .sf-c-purple\:90\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-purple\:100\:st, html.auto .sf-c-purple\:100\:st { color: hsl(300, 100%, 10%); background: hsl(300, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-purple, html.auto .sf-c-txt-purple { color: hsl(300, 100%, 75%) }
  html[data-theme='auto'] .sf-c-txt-purple\:0, html.auto .sf-c-txt-purple\:0 { color: hsl(300, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-purple\:10, html.auto .sf-c-txt-purple\:10 { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-purple\:20, html.auto .sf-c-txt-purple\:20 { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-purple\:30, html.auto .sf-c-txt-purple\:30 { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-purple\:40, html.auto .sf-c-txt-purple\:40 { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-purple\:50, html.auto .sf-c-txt-purple\:50 { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-purple\:60, html.auto .sf-c-txt-purple\:60 { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-purple\:70, html.auto .sf-c-txt-purple\:70 { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-purple\:80, html.auto .sf-c-txt-purple\:80 { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-purple\:90, html.auto .sf-c-txt-purple\:90 { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-purple\:100, html.auto .sf-c-txt-purple\:100 { color: hsl(300, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-purple\:st, html.auto .sf-c-txt-purple\:st { color: hsl(300, 100%, 25%) }
  html[data-theme='auto'] .sf-c-txt-purple\:0\:st, html.auto .sf-c-txt-purple\:0\:st { color: hsl(300, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-purple\:10\:st, html.auto .sf-c-txt-purple\:10\:st { color: hsl(300, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-purple\:20\:st, html.auto .sf-c-txt-purple\:20\:st { color: hsl(300, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-purple\:30\:st, html.auto .sf-c-txt-purple\:30\:st { color: hsl(300, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-purple\:40\:st, html.auto .sf-c-txt-purple\:40\:st { color: hsl(300, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-purple\:50\:st, html.auto .sf-c-txt-purple\:50\:st { color: hsl(300, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-purple\:60\:st, html.auto .sf-c-txt-purple\:60\:st { color: hsl(300, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-purple\:70\:st, html.auto .sf-c-txt-purple\:70\:st { color: hsl(300, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-purple\:80\:st, html.auto .sf-c-txt-purple\:80\:st { color: hsl(300, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-purple\:90\:st, html.auto .sf-c-txt-purple\:90\:st { color: hsl(300, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-purple\:100\:st, html.auto .sf-c-txt-purple\:100\:st { color: hsl(300, 100%, 100%) }
}