.sf-var-rebeccapurple {
  --sf-c-rebeccapurple: 270 50% 40%;
  --sf-c-rebeccapurple-0: 270 50% 0%;
  --sf-c-rebeccapurple-10: 270 50% 10%;
  --sf-c-rebeccapurple-20: 270 50% 20%;
  --sf-c-rebeccapurple-30: 270 50% 30%;
  --sf-c-rebeccapurple-40: 270 50% 40%;
  --sf-c-rebeccapurple-50: 270 50% 50%;
  --sf-c-rebeccapurple-60: 270 50% 60%;
  --sf-c-rebeccapurple-70: 270 50% 70%;
  --sf-c-rebeccapurple-80: 270 50% 80%;
  --sf-c-rebeccapurple-90: 270 50% 90%;
  --sf-c-rebeccapurple-100: 270 50% 100%;
}

.sf-c-rebeccapurple, .sf-c-rebeccapurple\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
.sf-c-rebeccapurple\:0, .sf-c-rebeccapurple\:0\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 0%) }
.sf-c-rebeccapurple\:10, .sf-c-rebeccapurple\:10\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 10%) }
.sf-c-rebeccapurple\:20, .sf-c-rebeccapurple\:20\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 20%) }
.sf-c-rebeccapurple\:30, .sf-c-rebeccapurple\:30\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 30%) }
.sf-c-rebeccapurple\:40, .sf-c-rebeccapurple\:40\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
.sf-c-rebeccapurple\:50, .sf-c-rebeccapurple\:50\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 50%) }
.sf-c-rebeccapurple\:60, .sf-c-rebeccapurple\:60\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
.sf-c-rebeccapurple\:70, .sf-c-rebeccapurple\:70\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 70%) }
.sf-c-rebeccapurple\:80, .sf-c-rebeccapurple\:80\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 80%) }
.sf-c-rebeccapurple\:90, .sf-c-rebeccapurple\:90\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 90%) }
.sf-c-rebeccapurple\:100, .sf-c-rebeccapurple\:100\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 100%) }

.sf-c-txt-rebeccapurple { color: hsl(270, 50%, 40%) }
.sf-c-txt-rebeccapurple\:st { color: hsl(270, 50%, 40%) }
.sf-c-txt-rebeccapurple\:0, .sf-c-txt-rebeccapurple\:0\:st { color: hsl(270, 50%, 0%) }
.sf-c-txt-rebeccapurple\:10, .sf-c-txt-rebeccapurple\:10\:st { color: hsl(270, 50%, 10%) }
.sf-c-txt-rebeccapurple\:20, .sf-c-txt-rebeccapurple\:20\:st { color: hsl(270, 50%, 20%) }
.sf-c-txt-rebeccapurple\:30, .sf-c-txt-rebeccapurple\:30\:st { color: hsl(270, 50%, 30%) }
.sf-c-txt-rebeccapurple\:40, .sf-c-txt-rebeccapurple\:40\:st { color: hsl(270, 50%, 40%) }
.sf-c-txt-rebeccapurple\:50, .sf-c-txt-rebeccapurple\:50\:st { color: hsl(270, 50%, 50%) }
.sf-c-txt-rebeccapurple\:60, .sf-c-txt-rebeccapurple\:60\:st { color: hsl(270, 50%, 60%) }
.sf-c-txt-rebeccapurple\:70, .sf-c-txt-rebeccapurple\:70\:st { color: hsl(270, 50%, 70%) }
.sf-c-txt-rebeccapurple\:80, .sf-c-txt-rebeccapurple\:80\:st { color: hsl(270, 50%, 80%) }
.sf-c-txt-rebeccapurple\:90, .sf-c-txt-rebeccapurple\:90\:st { color: hsl(270, 50%, 90%) }
.sf-c-txt-rebeccapurple\:100, .sf-c-txt-rebeccapurple\:100\:st { color: hsl(270, 50%, 100%) }

html[data-theme='dark'] .sf-c-rebeccapurple, html.dark .sf-c-rebeccapurple { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:0, html.dark .sf-c-rebeccapurple\:0 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 100%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:10, html.dark .sf-c-rebeccapurple\:10 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 90%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:20, html.dark .sf-c-rebeccapurple\:20 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 80%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:30, html.dark .sf-c-rebeccapurple\:30 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 70%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:40, html.dark .sf-c-rebeccapurple\:40 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:50, html.dark .sf-c-rebeccapurple\:50 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 50%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:60, html.dark .sf-c-rebeccapurple\:60 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:70, html.dark .sf-c-rebeccapurple\:70 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 30%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:80, html.dark .sf-c-rebeccapurple\:80 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 20%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:90, html.dark .sf-c-rebeccapurple\:90 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 10%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:100, html.dark .sf-c-rebeccapurple\:100 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 0%) }

html[data-theme='dark'] .sf-c-rebeccapurple\:st, html.dark .sf-c-rebeccapurple\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:0\:st, html.dark .sf-c-rebeccapurple\:0\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 0%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:10\:st, html.dark .sf-c-rebeccapurple\:10\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 10%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:20\:st, html.dark .sf-c-rebeccapurple\:20\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 20%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:30\:st, html.dark .sf-c-rebeccapurple\:30\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 30%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:40\:st, html.dark .sf-c-rebeccapurple\:40\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:50\:st, html.dark .sf-c-rebeccapurple\:50\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 50%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:60\:st, html.dark .sf-c-rebeccapurple\:60\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:70\:st, html.dark .sf-c-rebeccapurple\:70\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 70%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:80\:st, html.dark .sf-c-rebeccapurple\:80\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 80%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:90\:st, html.dark .sf-c-rebeccapurple\:90\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 90%) }
html[data-theme='dark'] .sf-c-rebeccapurple\:100\:st, html.dark .sf-c-rebeccapurple\:100\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 100%) }

html[data-theme='dark'] .sf-c-txt-rebeccapurple, html.dark .sf-c-txt-rebeccapurple { color: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:0, html.dark .sf-c-txt-rebeccapurple\:0 { color: hsl(270, 50%, 100%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:10, html.dark .sf-c-txt-rebeccapurple\:10 { color: hsl(270, 50%, 90%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:20, html.dark .sf-c-txt-rebeccapurple\:20 { color: hsl(270, 50%, 80%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:30, html.dark .sf-c-txt-rebeccapurple\:30 { color: hsl(270, 50%, 70%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:40, html.dark .sf-c-txt-rebeccapurple\:40 { color: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:50, html.dark .sf-c-txt-rebeccapurple\:50 { color: hsl(270, 50%, 50%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:60, html.dark .sf-c-txt-rebeccapurple\:60 { color: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:70, html.dark .sf-c-txt-rebeccapurple\:70 { color: hsl(270, 50%, 30%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:80, html.dark .sf-c-txt-rebeccapurple\:80 { color: hsl(270, 50%, 20%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:90, html.dark .sf-c-txt-rebeccapurple\:90 { color: hsl(270, 50%, 10%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:100, html.dark .sf-c-txt-rebeccapurple\:100 { color: hsl(270, 50%, 0%) }

html[data-theme='dark'] .sf-c-txt-rebeccapurple\:st, html.dark .sf-c-txt-rebeccapurple\:st { color: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:0\:st, html.dark .sf-c-txt-rebeccapurple\:0\:st { color: hsl(270, 50%, 0%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:10\:st, html.dark .sf-c-txt-rebeccapurple\:10\:st { color: hsl(270, 50%, 10%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:20\:st, html.dark .sf-c-txt-rebeccapurple\:20\:st { color: hsl(270, 50%, 20%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:30\:st, html.dark .sf-c-txt-rebeccapurple\:30\:st { color: hsl(270, 50%, 30%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:40\:st, html.dark .sf-c-txt-rebeccapurple\:40\:st { color: hsl(270, 50%, 40%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:50\:st, html.dark .sf-c-txt-rebeccapurple\:50\:st { color: hsl(270, 50%, 50%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:60\:st, html.dark .sf-c-txt-rebeccapurple\:60\:st { color: hsl(270, 50%, 60%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:70\:st, html.dark .sf-c-txt-rebeccapurple\:70\:st { color: hsl(270, 50%, 70%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:80\:st, html.dark .sf-c-txt-rebeccapurple\:80\:st { color: hsl(270, 50%, 80%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:90\:st, html.dark .sf-c-txt-rebeccapurple\:90\:st { color: hsl(270, 50%, 90%) }
html[data-theme='dark'] .sf-c-txt-rebeccapurple\:100\:st, html.dark .sf-c-txt-rebeccapurple\:100\:st { color: hsl(270, 50%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-rebeccapurple, html.auto .sf-c-rebeccapurple { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:0, html.auto .sf-c-rebeccapurple\:0 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 100%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:10, html.auto .sf-c-rebeccapurple\:10 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 90%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:20, html.auto .sf-c-rebeccapurple\:20 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 80%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:30, html.auto .sf-c-rebeccapurple\:30 { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 70%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:40, html.auto .sf-c-rebeccapurple\:40 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:50, html.auto .sf-c-rebeccapurple\:50 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 50%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:60, html.auto .sf-c-rebeccapurple\:60 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:70, html.auto .sf-c-rebeccapurple\:70 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 30%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:80, html.auto .sf-c-rebeccapurple\:80 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 20%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:90, html.auto .sf-c-rebeccapurple\:90 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 10%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:100, html.auto .sf-c-rebeccapurple\:100 { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 0%) }

  html[data-theme='auto'] .sf-c-rebeccapurple\:st, html.auto .sf-c-rebeccapurple\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:0\:st, html.auto .sf-c-rebeccapurple\:0\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 0%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:10\:st, html.auto .sf-c-rebeccapurple\:10\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 10%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:20\:st, html.auto .sf-c-rebeccapurple\:20\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 20%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:30\:st, html.auto .sf-c-rebeccapurple\:30\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 30%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:40\:st, html.auto .sf-c-rebeccapurple\:40\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:50\:st, html.auto .sf-c-rebeccapurple\:50\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 50%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:60\:st, html.auto .sf-c-rebeccapurple\:60\:st { color: hsl(270, 50%, 90%); background: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:70\:st, html.auto .sf-c-rebeccapurple\:70\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 70%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:80\:st, html.auto .sf-c-rebeccapurple\:80\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 80%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:90\:st, html.auto .sf-c-rebeccapurple\:90\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 90%) }
  html[data-theme='auto'] .sf-c-rebeccapurple\:100\:st, html.auto .sf-c-rebeccapurple\:100\:st { color: hsl(270, 50%, 10%); background: hsl(270, 50%, 100%) }

  html[data-theme='auto'] .sf-c-txt-rebeccapurple, html.auto .sf-c-txt-rebeccapurple { color: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:0, html.auto .sf-c-txt-rebeccapurple\:0 { color: hsl(270, 50%, 100%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:10, html.auto .sf-c-txt-rebeccapurple\:10 { color: hsl(270, 50%, 90%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:20, html.auto .sf-c-txt-rebeccapurple\:20 { color: hsl(270, 50%, 80%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:30, html.auto .sf-c-txt-rebeccapurple\:30 { color: hsl(270, 50%, 70%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:40, html.auto .sf-c-txt-rebeccapurple\:40 { color: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:50, html.auto .sf-c-txt-rebeccapurple\:50 { color: hsl(270, 50%, 50%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:60, html.auto .sf-c-txt-rebeccapurple\:60 { color: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:70, html.auto .sf-c-txt-rebeccapurple\:70 { color: hsl(270, 50%, 30%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:80, html.auto .sf-c-txt-rebeccapurple\:80 { color: hsl(270, 50%, 20%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:90, html.auto .sf-c-txt-rebeccapurple\:90 { color: hsl(270, 50%, 10%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:100, html.auto .sf-c-txt-rebeccapurple\:100 { color: hsl(270, 50%, 0%) }

  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:st, html.auto .sf-c-txt-rebeccapurple\:st { color: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:0\:st, html.auto .sf-c-txt-rebeccapurple\:0\:st { color: hsl(270, 50%, 0%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:10\:st, html.auto .sf-c-txt-rebeccapurple\:10\:st { color: hsl(270, 50%, 10%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:20\:st, html.auto .sf-c-txt-rebeccapurple\:20\:st { color: hsl(270, 50%, 20%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:30\:st, html.auto .sf-c-txt-rebeccapurple\:30\:st { color: hsl(270, 50%, 30%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:40\:st, html.auto .sf-c-txt-rebeccapurple\:40\:st { color: hsl(270, 50%, 40%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:50\:st, html.auto .sf-c-txt-rebeccapurple\:50\:st { color: hsl(270, 50%, 50%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:60\:st, html.auto .sf-c-txt-rebeccapurple\:60\:st { color: hsl(270, 50%, 60%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:70\:st, html.auto .sf-c-txt-rebeccapurple\:70\:st { color: hsl(270, 50%, 70%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:80\:st, html.auto .sf-c-txt-rebeccapurple\:80\:st { color: hsl(270, 50%, 80%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:90\:st, html.auto .sf-c-txt-rebeccapurple\:90\:st { color: hsl(270, 50%, 90%) }
  html[data-theme='auto'] .sf-c-txt-rebeccapurple\:100\:st, html.auto .sf-c-txt-rebeccapurple\:100\:st { color: hsl(270, 50%, 100%) }
}