.sf-var-saddlebrown {
  --sf-c-saddlebrown: 25 76% 31%;
  --sf-c-saddlebrown-0: 25 76% 0%;
  --sf-c-saddlebrown-10: 25 76% 10%;
  --sf-c-saddlebrown-20: 25 76% 20%;
  --sf-c-saddlebrown-30: 25 76% 30%;
  --sf-c-saddlebrown-40: 25 76% 40%;
  --sf-c-saddlebrown-50: 25 76% 50%;
  --sf-c-saddlebrown-60: 25 76% 60%;
  --sf-c-saddlebrown-70: 25 76% 70%;
  --sf-c-saddlebrown-80: 25 76% 80%;
  --sf-c-saddlebrown-90: 25 76% 90%;
  --sf-c-saddlebrown-100: 25 76% 100%;
}

.sf-c-saddlebrown, .sf-c-saddlebrown\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 31%) }
.sf-c-saddlebrown\:0, .sf-c-saddlebrown\:0\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 0%) }
.sf-c-saddlebrown\:10, .sf-c-saddlebrown\:10\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 10%) }
.sf-c-saddlebrown\:20, .sf-c-saddlebrown\:20\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 20%) }
.sf-c-saddlebrown\:30, .sf-c-saddlebrown\:30\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 30%) }
.sf-c-saddlebrown\:40, .sf-c-saddlebrown\:40\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 40%) }
.sf-c-saddlebrown\:50, .sf-c-saddlebrown\:50\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 50%) }
.sf-c-saddlebrown\:60, .sf-c-saddlebrown\:60\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 60%) }
.sf-c-saddlebrown\:70, .sf-c-saddlebrown\:70\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 70%) }
.sf-c-saddlebrown\:80, .sf-c-saddlebrown\:80\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 80%) }
.sf-c-saddlebrown\:90, .sf-c-saddlebrown\:90\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 90%) }
.sf-c-saddlebrown\:100, .sf-c-saddlebrown\:100\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 100%) }

.sf-c-txt-saddlebrown { color: hsl(25, 76%, 31%) }
.sf-c-txt-saddlebrown\:st { color: hsl(25, 76%, 31%) }
.sf-c-txt-saddlebrown\:0, .sf-c-txt-saddlebrown\:0\:st { color: hsl(25, 76%, 0%) }
.sf-c-txt-saddlebrown\:10, .sf-c-txt-saddlebrown\:10\:st { color: hsl(25, 76%, 10%) }
.sf-c-txt-saddlebrown\:20, .sf-c-txt-saddlebrown\:20\:st { color: hsl(25, 76%, 20%) }
.sf-c-txt-saddlebrown\:30, .sf-c-txt-saddlebrown\:30\:st { color: hsl(25, 76%, 30%) }
.sf-c-txt-saddlebrown\:40, .sf-c-txt-saddlebrown\:40\:st { color: hsl(25, 76%, 40%) }
.sf-c-txt-saddlebrown\:50, .sf-c-txt-saddlebrown\:50\:st { color: hsl(25, 76%, 50%) }
.sf-c-txt-saddlebrown\:60, .sf-c-txt-saddlebrown\:60\:st { color: hsl(25, 76%, 60%) }
.sf-c-txt-saddlebrown\:70, .sf-c-txt-saddlebrown\:70\:st { color: hsl(25, 76%, 70%) }
.sf-c-txt-saddlebrown\:80, .sf-c-txt-saddlebrown\:80\:st { color: hsl(25, 76%, 80%) }
.sf-c-txt-saddlebrown\:90, .sf-c-txt-saddlebrown\:90\:st { color: hsl(25, 76%, 90%) }
.sf-c-txt-saddlebrown\:100, .sf-c-txt-saddlebrown\:100\:st { color: hsl(25, 76%, 100%) }

html[data-theme='dark'] .sf-c-saddlebrown, html.dark .sf-c-saddlebrown { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 69%) }
html[data-theme='dark'] .sf-c-saddlebrown\:0, html.dark .sf-c-saddlebrown\:0 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 100%) }
html[data-theme='dark'] .sf-c-saddlebrown\:10, html.dark .sf-c-saddlebrown\:10 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 90%) }
html[data-theme='dark'] .sf-c-saddlebrown\:20, html.dark .sf-c-saddlebrown\:20 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 80%) }
html[data-theme='dark'] .sf-c-saddlebrown\:30, html.dark .sf-c-saddlebrown\:30 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 70%) }
html[data-theme='dark'] .sf-c-saddlebrown\:40, html.dark .sf-c-saddlebrown\:40 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 60%) }
html[data-theme='dark'] .sf-c-saddlebrown\:50, html.dark .sf-c-saddlebrown\:50 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 50%) }
html[data-theme='dark'] .sf-c-saddlebrown\:60, html.dark .sf-c-saddlebrown\:60 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 40%) }
html[data-theme='dark'] .sf-c-saddlebrown\:70, html.dark .sf-c-saddlebrown\:70 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 30%) }
html[data-theme='dark'] .sf-c-saddlebrown\:80, html.dark .sf-c-saddlebrown\:80 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 20%) }
html[data-theme='dark'] .sf-c-saddlebrown\:90, html.dark .sf-c-saddlebrown\:90 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 10%) }
html[data-theme='dark'] .sf-c-saddlebrown\:100, html.dark .sf-c-saddlebrown\:100 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 0%) }

html[data-theme='dark'] .sf-c-saddlebrown\:st, html.dark .sf-c-saddlebrown\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 31%) }
html[data-theme='dark'] .sf-c-saddlebrown\:0\:st, html.dark .sf-c-saddlebrown\:0\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 0%) }
html[data-theme='dark'] .sf-c-saddlebrown\:10\:st, html.dark .sf-c-saddlebrown\:10\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 10%) }
html[data-theme='dark'] .sf-c-saddlebrown\:20\:st, html.dark .sf-c-saddlebrown\:20\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 20%) }
html[data-theme='dark'] .sf-c-saddlebrown\:30\:st, html.dark .sf-c-saddlebrown\:30\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 30%) }
html[data-theme='dark'] .sf-c-saddlebrown\:40\:st, html.dark .sf-c-saddlebrown\:40\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 40%) }
html[data-theme='dark'] .sf-c-saddlebrown\:50\:st, html.dark .sf-c-saddlebrown\:50\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 50%) }
html[data-theme='dark'] .sf-c-saddlebrown\:60\:st, html.dark .sf-c-saddlebrown\:60\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 60%) }
html[data-theme='dark'] .sf-c-saddlebrown\:70\:st, html.dark .sf-c-saddlebrown\:70\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 70%) }
html[data-theme='dark'] .sf-c-saddlebrown\:80\:st, html.dark .sf-c-saddlebrown\:80\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 80%) }
html[data-theme='dark'] .sf-c-saddlebrown\:90\:st, html.dark .sf-c-saddlebrown\:90\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 90%) }
html[data-theme='dark'] .sf-c-saddlebrown\:100\:st, html.dark .sf-c-saddlebrown\:100\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 100%) }

html[data-theme='dark'] .sf-c-txt-saddlebrown, html.dark .sf-c-txt-saddlebrown { color: hsl(25, 76%, 69%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:0, html.dark .sf-c-txt-saddlebrown\:0 { color: hsl(25, 76%, 100%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:10, html.dark .sf-c-txt-saddlebrown\:10 { color: hsl(25, 76%, 90%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:20, html.dark .sf-c-txt-saddlebrown\:20 { color: hsl(25, 76%, 80%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:30, html.dark .sf-c-txt-saddlebrown\:30 { color: hsl(25, 76%, 70%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:40, html.dark .sf-c-txt-saddlebrown\:40 { color: hsl(25, 76%, 60%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:50, html.dark .sf-c-txt-saddlebrown\:50 { color: hsl(25, 76%, 50%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:60, html.dark .sf-c-txt-saddlebrown\:60 { color: hsl(25, 76%, 40%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:70, html.dark .sf-c-txt-saddlebrown\:70 { color: hsl(25, 76%, 30%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:80, html.dark .sf-c-txt-saddlebrown\:80 { color: hsl(25, 76%, 20%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:90, html.dark .sf-c-txt-saddlebrown\:90 { color: hsl(25, 76%, 10%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:100, html.dark .sf-c-txt-saddlebrown\:100 { color: hsl(25, 76%, 0%) }

html[data-theme='dark'] .sf-c-txt-saddlebrown\:st, html.dark .sf-c-txt-saddlebrown\:st { color: hsl(25, 76%, 31%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:0\:st, html.dark .sf-c-txt-saddlebrown\:0\:st { color: hsl(25, 76%, 0%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:10\:st, html.dark .sf-c-txt-saddlebrown\:10\:st { color: hsl(25, 76%, 10%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:20\:st, html.dark .sf-c-txt-saddlebrown\:20\:st { color: hsl(25, 76%, 20%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:30\:st, html.dark .sf-c-txt-saddlebrown\:30\:st { color: hsl(25, 76%, 30%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:40\:st, html.dark .sf-c-txt-saddlebrown\:40\:st { color: hsl(25, 76%, 40%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:50\:st, html.dark .sf-c-txt-saddlebrown\:50\:st { color: hsl(25, 76%, 50%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:60\:st, html.dark .sf-c-txt-saddlebrown\:60\:st { color: hsl(25, 76%, 60%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:70\:st, html.dark .sf-c-txt-saddlebrown\:70\:st { color: hsl(25, 76%, 70%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:80\:st, html.dark .sf-c-txt-saddlebrown\:80\:st { color: hsl(25, 76%, 80%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:90\:st, html.dark .sf-c-txt-saddlebrown\:90\:st { color: hsl(25, 76%, 90%) }
html[data-theme='dark'] .sf-c-txt-saddlebrown\:100\:st, html.dark .sf-c-txt-saddlebrown\:100\:st { color: hsl(25, 76%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-saddlebrown, html.auto .sf-c-saddlebrown { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 69%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:0, html.auto .sf-c-saddlebrown\:0 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 100%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:10, html.auto .sf-c-saddlebrown\:10 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 90%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:20, html.auto .sf-c-saddlebrown\:20 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 80%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:30, html.auto .sf-c-saddlebrown\:30 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 70%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:40, html.auto .sf-c-saddlebrown\:40 { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 60%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:50, html.auto .sf-c-saddlebrown\:50 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 50%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:60, html.auto .sf-c-saddlebrown\:60 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 40%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:70, html.auto .sf-c-saddlebrown\:70 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 30%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:80, html.auto .sf-c-saddlebrown\:80 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 20%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:90, html.auto .sf-c-saddlebrown\:90 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 10%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:100, html.auto .sf-c-saddlebrown\:100 { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 0%) }

  html[data-theme='auto'] .sf-c-saddlebrown\:st, html.auto .sf-c-saddlebrown\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 31%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:0\:st, html.auto .sf-c-saddlebrown\:0\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 0%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:10\:st, html.auto .sf-c-saddlebrown\:10\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 10%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:20\:st, html.auto .sf-c-saddlebrown\:20\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 20%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:30\:st, html.auto .sf-c-saddlebrown\:30\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 30%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:40\:st, html.auto .sf-c-saddlebrown\:40\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 40%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:50\:st, html.auto .sf-c-saddlebrown\:50\:st { color: hsl(25, 76%, 90%); background: hsl(25, 76%, 50%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:60\:st, html.auto .sf-c-saddlebrown\:60\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 60%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:70\:st, html.auto .sf-c-saddlebrown\:70\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 70%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:80\:st, html.auto .sf-c-saddlebrown\:80\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 80%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:90\:st, html.auto .sf-c-saddlebrown\:90\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 90%) }
  html[data-theme='auto'] .sf-c-saddlebrown\:100\:st, html.auto .sf-c-saddlebrown\:100\:st { color: hsl(25, 76%, 10%); background: hsl(25, 76%, 100%) }

  html[data-theme='auto'] .sf-c-txt-saddlebrown, html.auto .sf-c-txt-saddlebrown { color: hsl(25, 76%, 69%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:0, html.auto .sf-c-txt-saddlebrown\:0 { color: hsl(25, 76%, 100%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:10, html.auto .sf-c-txt-saddlebrown\:10 { color: hsl(25, 76%, 90%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:20, html.auto .sf-c-txt-saddlebrown\:20 { color: hsl(25, 76%, 80%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:30, html.auto .sf-c-txt-saddlebrown\:30 { color: hsl(25, 76%, 70%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:40, html.auto .sf-c-txt-saddlebrown\:40 { color: hsl(25, 76%, 60%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:50, html.auto .sf-c-txt-saddlebrown\:50 { color: hsl(25, 76%, 50%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:60, html.auto .sf-c-txt-saddlebrown\:60 { color: hsl(25, 76%, 40%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:70, html.auto .sf-c-txt-saddlebrown\:70 { color: hsl(25, 76%, 30%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:80, html.auto .sf-c-txt-saddlebrown\:80 { color: hsl(25, 76%, 20%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:90, html.auto .sf-c-txt-saddlebrown\:90 { color: hsl(25, 76%, 10%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:100, html.auto .sf-c-txt-saddlebrown\:100 { color: hsl(25, 76%, 0%) }

  html[data-theme='auto'] .sf-c-txt-saddlebrown\:st, html.auto .sf-c-txt-saddlebrown\:st { color: hsl(25, 76%, 31%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:0\:st, html.auto .sf-c-txt-saddlebrown\:0\:st { color: hsl(25, 76%, 0%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:10\:st, html.auto .sf-c-txt-saddlebrown\:10\:st { color: hsl(25, 76%, 10%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:20\:st, html.auto .sf-c-txt-saddlebrown\:20\:st { color: hsl(25, 76%, 20%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:30\:st, html.auto .sf-c-txt-saddlebrown\:30\:st { color: hsl(25, 76%, 30%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:40\:st, html.auto .sf-c-txt-saddlebrown\:40\:st { color: hsl(25, 76%, 40%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:50\:st, html.auto .sf-c-txt-saddlebrown\:50\:st { color: hsl(25, 76%, 50%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:60\:st, html.auto .sf-c-txt-saddlebrown\:60\:st { color: hsl(25, 76%, 60%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:70\:st, html.auto .sf-c-txt-saddlebrown\:70\:st { color: hsl(25, 76%, 70%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:80\:st, html.auto .sf-c-txt-saddlebrown\:80\:st { color: hsl(25, 76%, 80%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:90\:st, html.auto .sf-c-txt-saddlebrown\:90\:st { color: hsl(25, 76%, 90%) }
  html[data-theme='auto'] .sf-c-txt-saddlebrown\:100\:st, html.auto .sf-c-txt-saddlebrown\:100\:st { color: hsl(25, 76%, 100%) }
}