.sf-var-salmon {
  --sf-c-salmon: 6 93% 71%;
  --sf-c-salmon-0: 6 93% 0%;
  --sf-c-salmon-10: 6 93% 10%;
  --sf-c-salmon-20: 6 93% 20%;
  --sf-c-salmon-30: 6 93% 30%;
  --sf-c-salmon-40: 6 93% 40%;
  --sf-c-salmon-50: 6 93% 50%;
  --sf-c-salmon-60: 6 93% 60%;
  --sf-c-salmon-70: 6 93% 70%;
  --sf-c-salmon-80: 6 93% 80%;
  --sf-c-salmon-90: 6 93% 90%;
  --sf-c-salmon-100: 6 93% 100%;
}

.sf-c-salmon, .sf-c-salmon\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 71%) }
.sf-c-salmon\:0, .sf-c-salmon\:0\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 0%) }
.sf-c-salmon\:10, .sf-c-salmon\:10\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 10%) }
.sf-c-salmon\:20, .sf-c-salmon\:20\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 20%) }
.sf-c-salmon\:30, .sf-c-salmon\:30\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 30%) }
.sf-c-salmon\:40, .sf-c-salmon\:40\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 40%) }
.sf-c-salmon\:50, .sf-c-salmon\:50\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 50%) }
.sf-c-salmon\:60, .sf-c-salmon\:60\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 60%) }
.sf-c-salmon\:70, .sf-c-salmon\:70\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 70%) }
.sf-c-salmon\:80, .sf-c-salmon\:80\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 80%) }
.sf-c-salmon\:90, .sf-c-salmon\:90\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 90%) }
.sf-c-salmon\:100, .sf-c-salmon\:100\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 100%) }

.sf-c-txt-salmon { color: hsl(6, 93%, 10%) }
.sf-c-txt-salmon\:st { color: hsl(6, 93%, 71%) }
.sf-c-txt-salmon\:0, .sf-c-txt-salmon\:0\:st { color: hsl(6, 93%, 0%) }
.sf-c-txt-salmon\:10, .sf-c-txt-salmon\:10\:st { color: hsl(6, 93%, 10%) }
.sf-c-txt-salmon\:20, .sf-c-txt-salmon\:20\:st { color: hsl(6, 93%, 20%) }
.sf-c-txt-salmon\:30, .sf-c-txt-salmon\:30\:st { color: hsl(6, 93%, 30%) }
.sf-c-txt-salmon\:40, .sf-c-txt-salmon\:40\:st { color: hsl(6, 93%, 40%) }
.sf-c-txt-salmon\:50, .sf-c-txt-salmon\:50\:st { color: hsl(6, 93%, 50%) }
.sf-c-txt-salmon\:60, .sf-c-txt-salmon\:60\:st { color: hsl(6, 93%, 60%) }
.sf-c-txt-salmon\:70, .sf-c-txt-salmon\:70\:st { color: hsl(6, 93%, 70%) }
.sf-c-txt-salmon\:80, .sf-c-txt-salmon\:80\:st { color: hsl(6, 93%, 80%) }
.sf-c-txt-salmon\:90, .sf-c-txt-salmon\:90\:st { color: hsl(6, 93%, 90%) }
.sf-c-txt-salmon\:100, .sf-c-txt-salmon\:100\:st { color: hsl(6, 93%, 100%) }

html[data-theme='dark'] .sf-c-salmon, html.dark .sf-c-salmon { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 29%) }
html[data-theme='dark'] .sf-c-salmon\:0, html.dark .sf-c-salmon\:0 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 100%) }
html[data-theme='dark'] .sf-c-salmon\:10, html.dark .sf-c-salmon\:10 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 90%) }
html[data-theme='dark'] .sf-c-salmon\:20, html.dark .sf-c-salmon\:20 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 80%) }
html[data-theme='dark'] .sf-c-salmon\:30, html.dark .sf-c-salmon\:30 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 70%) }
html[data-theme='dark'] .sf-c-salmon\:40, html.dark .sf-c-salmon\:40 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 60%) }
html[data-theme='dark'] .sf-c-salmon\:50, html.dark .sf-c-salmon\:50 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 50%) }
html[data-theme='dark'] .sf-c-salmon\:60, html.dark .sf-c-salmon\:60 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 40%) }
html[data-theme='dark'] .sf-c-salmon\:70, html.dark .sf-c-salmon\:70 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 30%) }
html[data-theme='dark'] .sf-c-salmon\:80, html.dark .sf-c-salmon\:80 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 20%) }
html[data-theme='dark'] .sf-c-salmon\:90, html.dark .sf-c-salmon\:90 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 10%) }
html[data-theme='dark'] .sf-c-salmon\:100, html.dark .sf-c-salmon\:100 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 0%) }

html[data-theme='dark'] .sf-c-salmon\:st, html.dark .sf-c-salmon\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 71%) }
html[data-theme='dark'] .sf-c-salmon\:0\:st, html.dark .sf-c-salmon\:0\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 0%) }
html[data-theme='dark'] .sf-c-salmon\:10\:st, html.dark .sf-c-salmon\:10\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 10%) }
html[data-theme='dark'] .sf-c-salmon\:20\:st, html.dark .sf-c-salmon\:20\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 20%) }
html[data-theme='dark'] .sf-c-salmon\:30\:st, html.dark .sf-c-salmon\:30\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 30%) }
html[data-theme='dark'] .sf-c-salmon\:40\:st, html.dark .sf-c-salmon\:40\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 40%) }
html[data-theme='dark'] .sf-c-salmon\:50\:st, html.dark .sf-c-salmon\:50\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 50%) }
html[data-theme='dark'] .sf-c-salmon\:60\:st, html.dark .sf-c-salmon\:60\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 60%) }
html[data-theme='dark'] .sf-c-salmon\:70\:st, html.dark .sf-c-salmon\:70\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 70%) }
html[data-theme='dark'] .sf-c-salmon\:80\:st, html.dark .sf-c-salmon\:80\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 80%) }
html[data-theme='dark'] .sf-c-salmon\:90\:st, html.dark .sf-c-salmon\:90\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 90%) }
html[data-theme='dark'] .sf-c-salmon\:100\:st, html.dark .sf-c-salmon\:100\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 100%) }

html[data-theme='dark'] .sf-c-txt-salmon, html.dark .sf-c-txt-salmon { color: hsl(6, 93%, 71%) }
html[data-theme='dark'] .sf-c-txt-salmon\:0, html.dark .sf-c-txt-salmon\:0 { color: hsl(6, 93%, 100%) }
html[data-theme='dark'] .sf-c-txt-salmon\:10, html.dark .sf-c-txt-salmon\:10 { color: hsl(6, 93%, 90%) }
html[data-theme='dark'] .sf-c-txt-salmon\:20, html.dark .sf-c-txt-salmon\:20 { color: hsl(6, 93%, 80%) }
html[data-theme='dark'] .sf-c-txt-salmon\:30, html.dark .sf-c-txt-salmon\:30 { color: hsl(6, 93%, 70%) }
html[data-theme='dark'] .sf-c-txt-salmon\:40, html.dark .sf-c-txt-salmon\:40 { color: hsl(6, 93%, 60%) }
html[data-theme='dark'] .sf-c-txt-salmon\:50, html.dark .sf-c-txt-salmon\:50 { color: hsl(6, 93%, 50%) }
html[data-theme='dark'] .sf-c-txt-salmon\:60, html.dark .sf-c-txt-salmon\:60 { color: hsl(6, 93%, 40%) }
html[data-theme='dark'] .sf-c-txt-salmon\:70, html.dark .sf-c-txt-salmon\:70 { color: hsl(6, 93%, 30%) }
html[data-theme='dark'] .sf-c-txt-salmon\:80, html.dark .sf-c-txt-salmon\:80 { color: hsl(6, 93%, 20%) }
html[data-theme='dark'] .sf-c-txt-salmon\:90, html.dark .sf-c-txt-salmon\:90 { color: hsl(6, 93%, 10%) }
html[data-theme='dark'] .sf-c-txt-salmon\:100, html.dark .sf-c-txt-salmon\:100 { color: hsl(6, 93%, 0%) }

html[data-theme='dark'] .sf-c-txt-salmon\:st, html.dark .sf-c-txt-salmon\:st { color: hsl(6, 93%, 71%) }
html[data-theme='dark'] .sf-c-txt-salmon\:0\:st, html.dark .sf-c-txt-salmon\:0\:st { color: hsl(6, 93%, 0%) }
html[data-theme='dark'] .sf-c-txt-salmon\:10\:st, html.dark .sf-c-txt-salmon\:10\:st { color: hsl(6, 93%, 10%) }
html[data-theme='dark'] .sf-c-txt-salmon\:20\:st, html.dark .sf-c-txt-salmon\:20\:st { color: hsl(6, 93%, 20%) }
html[data-theme='dark'] .sf-c-txt-salmon\:30\:st, html.dark .sf-c-txt-salmon\:30\:st { color: hsl(6, 93%, 30%) }
html[data-theme='dark'] .sf-c-txt-salmon\:40\:st, html.dark .sf-c-txt-salmon\:40\:st { color: hsl(6, 93%, 40%) }
html[data-theme='dark'] .sf-c-txt-salmon\:50\:st, html.dark .sf-c-txt-salmon\:50\:st { color: hsl(6, 93%, 50%) }
html[data-theme='dark'] .sf-c-txt-salmon\:60\:st, html.dark .sf-c-txt-salmon\:60\:st { color: hsl(6, 93%, 60%) }
html[data-theme='dark'] .sf-c-txt-salmon\:70\:st, html.dark .sf-c-txt-salmon\:70\:st { color: hsl(6, 93%, 70%) }
html[data-theme='dark'] .sf-c-txt-salmon\:80\:st, html.dark .sf-c-txt-salmon\:80\:st { color: hsl(6, 93%, 80%) }
html[data-theme='dark'] .sf-c-txt-salmon\:90\:st, html.dark .sf-c-txt-salmon\:90\:st { color: hsl(6, 93%, 90%) }
html[data-theme='dark'] .sf-c-txt-salmon\:100\:st, html.dark .sf-c-txt-salmon\:100\:st { color: hsl(6, 93%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-salmon, html.auto .sf-c-salmon { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 29%) }
  html[data-theme='auto'] .sf-c-salmon\:0, html.auto .sf-c-salmon\:0 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 100%) }
  html[data-theme='auto'] .sf-c-salmon\:10, html.auto .sf-c-salmon\:10 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 90%) }
  html[data-theme='auto'] .sf-c-salmon\:20, html.auto .sf-c-salmon\:20 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 80%) }
  html[data-theme='auto'] .sf-c-salmon\:30, html.auto .sf-c-salmon\:30 { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 70%) }
  html[data-theme='auto'] .sf-c-salmon\:40, html.auto .sf-c-salmon\:40 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 60%) }
  html[data-theme='auto'] .sf-c-salmon\:50, html.auto .sf-c-salmon\:50 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 50%) }
  html[data-theme='auto'] .sf-c-salmon\:60, html.auto .sf-c-salmon\:60 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 40%) }
  html[data-theme='auto'] .sf-c-salmon\:70, html.auto .sf-c-salmon\:70 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 30%) }
  html[data-theme='auto'] .sf-c-salmon\:80, html.auto .sf-c-salmon\:80 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 20%) }
  html[data-theme='auto'] .sf-c-salmon\:90, html.auto .sf-c-salmon\:90 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 10%) }
  html[data-theme='auto'] .sf-c-salmon\:100, html.auto .sf-c-salmon\:100 { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 0%) }

  html[data-theme='auto'] .sf-c-salmon\:st, html.auto .sf-c-salmon\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 71%) }
  html[data-theme='auto'] .sf-c-salmon\:0\:st, html.auto .sf-c-salmon\:0\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 0%) }
  html[data-theme='auto'] .sf-c-salmon\:10\:st, html.auto .sf-c-salmon\:10\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 10%) }
  html[data-theme='auto'] .sf-c-salmon\:20\:st, html.auto .sf-c-salmon\:20\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 20%) }
  html[data-theme='auto'] .sf-c-salmon\:30\:st, html.auto .sf-c-salmon\:30\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 30%) }
  html[data-theme='auto'] .sf-c-salmon\:40\:st, html.auto .sf-c-salmon\:40\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 40%) }
  html[data-theme='auto'] .sf-c-salmon\:50\:st, html.auto .sf-c-salmon\:50\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 50%) }
  html[data-theme='auto'] .sf-c-salmon\:60\:st, html.auto .sf-c-salmon\:60\:st { color: hsl(6, 93%, 90%); background: hsl(6, 93%, 60%) }
  html[data-theme='auto'] .sf-c-salmon\:70\:st, html.auto .sf-c-salmon\:70\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 70%) }
  html[data-theme='auto'] .sf-c-salmon\:80\:st, html.auto .sf-c-salmon\:80\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 80%) }
  html[data-theme='auto'] .sf-c-salmon\:90\:st, html.auto .sf-c-salmon\:90\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 90%) }
  html[data-theme='auto'] .sf-c-salmon\:100\:st, html.auto .sf-c-salmon\:100\:st { color: hsl(6, 93%, 10%); background: hsl(6, 93%, 100%) }

  html[data-theme='auto'] .sf-c-txt-salmon, html.auto .sf-c-txt-salmon { color: hsl(6, 93%, 71%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:0, html.auto .sf-c-txt-salmon\:0 { color: hsl(6, 93%, 100%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:10, html.auto .sf-c-txt-salmon\:10 { color: hsl(6, 93%, 90%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:20, html.auto .sf-c-txt-salmon\:20 { color: hsl(6, 93%, 80%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:30, html.auto .sf-c-txt-salmon\:30 { color: hsl(6, 93%, 70%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:40, html.auto .sf-c-txt-salmon\:40 { color: hsl(6, 93%, 60%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:50, html.auto .sf-c-txt-salmon\:50 { color: hsl(6, 93%, 50%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:60, html.auto .sf-c-txt-salmon\:60 { color: hsl(6, 93%, 40%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:70, html.auto .sf-c-txt-salmon\:70 { color: hsl(6, 93%, 30%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:80, html.auto .sf-c-txt-salmon\:80 { color: hsl(6, 93%, 20%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:90, html.auto .sf-c-txt-salmon\:90 { color: hsl(6, 93%, 10%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:100, html.auto .sf-c-txt-salmon\:100 { color: hsl(6, 93%, 0%) }

  html[data-theme='auto'] .sf-c-txt-salmon\:st, html.auto .sf-c-txt-salmon\:st { color: hsl(6, 93%, 71%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:0\:st, html.auto .sf-c-txt-salmon\:0\:st { color: hsl(6, 93%, 0%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:10\:st, html.auto .sf-c-txt-salmon\:10\:st { color: hsl(6, 93%, 10%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:20\:st, html.auto .sf-c-txt-salmon\:20\:st { color: hsl(6, 93%, 20%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:30\:st, html.auto .sf-c-txt-salmon\:30\:st { color: hsl(6, 93%, 30%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:40\:st, html.auto .sf-c-txt-salmon\:40\:st { color: hsl(6, 93%, 40%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:50\:st, html.auto .sf-c-txt-salmon\:50\:st { color: hsl(6, 93%, 50%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:60\:st, html.auto .sf-c-txt-salmon\:60\:st { color: hsl(6, 93%, 60%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:70\:st, html.auto .sf-c-txt-salmon\:70\:st { color: hsl(6, 93%, 70%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:80\:st, html.auto .sf-c-txt-salmon\:80\:st { color: hsl(6, 93%, 80%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:90\:st, html.auto .sf-c-txt-salmon\:90\:st { color: hsl(6, 93%, 90%) }
  html[data-theme='auto'] .sf-c-txt-salmon\:100\:st, html.auto .sf-c-txt-salmon\:100\:st { color: hsl(6, 93%, 100%) }
}