.sf-var-sienna {
  --sf-c-sienna: 19 56% 40%;
  --sf-c-sienna-0: 19 56% 0%;
  --sf-c-sienna-10: 19 56% 10%;
  --sf-c-sienna-20: 19 56% 20%;
  --sf-c-sienna-30: 19 56% 30%;
  --sf-c-sienna-40: 19 56% 40%;
  --sf-c-sienna-50: 19 56% 50%;
  --sf-c-sienna-60: 19 56% 60%;
  --sf-c-sienna-70: 19 56% 70%;
  --sf-c-sienna-80: 19 56% 80%;
  --sf-c-sienna-90: 19 56% 90%;
  --sf-c-sienna-100: 19 56% 100%;
}

.sf-c-sienna, .sf-c-sienna\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
.sf-c-sienna\:0, .sf-c-sienna\:0\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 0%) }
.sf-c-sienna\:10, .sf-c-sienna\:10\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 10%) }
.sf-c-sienna\:20, .sf-c-sienna\:20\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 20%) }
.sf-c-sienna\:30, .sf-c-sienna\:30\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 30%) }
.sf-c-sienna\:40, .sf-c-sienna\:40\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
.sf-c-sienna\:50, .sf-c-sienna\:50\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 50%) }
.sf-c-sienna\:60, .sf-c-sienna\:60\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
.sf-c-sienna\:70, .sf-c-sienna\:70\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 70%) }
.sf-c-sienna\:80, .sf-c-sienna\:80\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 80%) }
.sf-c-sienna\:90, .sf-c-sienna\:90\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 90%) }
.sf-c-sienna\:100, .sf-c-sienna\:100\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 100%) }

.sf-c-txt-sienna { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:0, .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
.sf-c-txt-sienna\:10, .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
.sf-c-txt-sienna\:20, .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
.sf-c-txt-sienna\:30, .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
.sf-c-txt-sienna\:40, .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
.sf-c-txt-sienna\:50, .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
.sf-c-txt-sienna\:60, .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
.sf-c-txt-sienna\:70, .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
.sf-c-txt-sienna\:80, .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
.sf-c-txt-sienna\:90, .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
.sf-c-txt-sienna\:100, .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }

html[data-theme='dark'] .sf-c-sienna, html.dark .sf-c-sienna { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:0, html.dark .sf-c-sienna\:0 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 100%) }
html[data-theme='dark'] .sf-c-sienna\:10, html.dark .sf-c-sienna\:10 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-sienna\:20, html.dark .sf-c-sienna\:20 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-sienna\:30, html.dark .sf-c-sienna\:30 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-sienna\:40, html.dark .sf-c-sienna\:40 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:50, html.dark .sf-c-sienna\:50 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-sienna\:60, html.dark .sf-c-sienna\:60 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:70, html.dark .sf-c-sienna\:70 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-sienna\:80, html.dark .sf-c-sienna\:80 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-sienna\:90, html.dark .sf-c-sienna\:90 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-sienna\:100, html.dark .sf-c-sienna\:100 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 0%) }

html[data-theme='dark'] .sf-c-sienna\:st, html.dark .sf-c-sienna\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:0\:st, html.dark .sf-c-sienna\:0\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 0%) }
html[data-theme='dark'] .sf-c-sienna\:10\:st, html.dark .sf-c-sienna\:10\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-sienna\:20\:st, html.dark .sf-c-sienna\:20\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-sienna\:30\:st, html.dark .sf-c-sienna\:30\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-sienna\:40\:st, html.dark .sf-c-sienna\:40\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-sienna\:50\:st, html.dark .sf-c-sienna\:50\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-sienna\:60\:st, html.dark .sf-c-sienna\:60\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-sienna\:70\:st, html.dark .sf-c-sienna\:70\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-sienna\:80\:st, html.dark .sf-c-sienna\:80\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-sienna\:90\:st, html.dark .sf-c-sienna\:90\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-sienna\:100\:st, html.dark .sf-c-sienna\:100\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 100%) }

html[data-theme='dark'] .sf-c-txt-sienna, html.dark .sf-c-txt-sienna { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:0, html.dark .sf-c-txt-sienna\:0 { color: hsl(19, 56%, 100%) }
html[data-theme='dark'] .sf-c-txt-sienna\:10, html.dark .sf-c-txt-sienna\:10 { color: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-sienna\:20, html.dark .sf-c-txt-sienna\:20 { color: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-sienna\:30, html.dark .sf-c-txt-sienna\:30 { color: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-sienna\:40, html.dark .sf-c-txt-sienna\:40 { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:50, html.dark .sf-c-txt-sienna\:50 { color: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-sienna\:60, html.dark .sf-c-txt-sienna\:60 { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:70, html.dark .sf-c-txt-sienna\:70 { color: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-sienna\:80, html.dark .sf-c-txt-sienna\:80 { color: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-sienna\:90, html.dark .sf-c-txt-sienna\:90 { color: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-sienna\:100, html.dark .sf-c-txt-sienna\:100 { color: hsl(19, 56%, 0%) }

html[data-theme='dark'] .sf-c-txt-sienna\:st, html.dark .sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:0\:st, html.dark .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
html[data-theme='dark'] .sf-c-txt-sienna\:10\:st, html.dark .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
html[data-theme='dark'] .sf-c-txt-sienna\:20\:st, html.dark .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
html[data-theme='dark'] .sf-c-txt-sienna\:30\:st, html.dark .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
html[data-theme='dark'] .sf-c-txt-sienna\:40\:st, html.dark .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
html[data-theme='dark'] .sf-c-txt-sienna\:50\:st, html.dark .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
html[data-theme='dark'] .sf-c-txt-sienna\:60\:st, html.dark .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
html[data-theme='dark'] .sf-c-txt-sienna\:70\:st, html.dark .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
html[data-theme='dark'] .sf-c-txt-sienna\:80\:st, html.dark .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
html[data-theme='dark'] .sf-c-txt-sienna\:90\:st, html.dark .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
html[data-theme='dark'] .sf-c-txt-sienna\:100\:st, html.dark .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-sienna, html.auto .sf-c-sienna { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:0, html.auto .sf-c-sienna\:0 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 100%) }
  html[data-theme='auto'] .sf-c-sienna\:10, html.auto .sf-c-sienna\:10 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-sienna\:20, html.auto .sf-c-sienna\:20 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-sienna\:30, html.auto .sf-c-sienna\:30 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-sienna\:40, html.auto .sf-c-sienna\:40 { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:50, html.auto .sf-c-sienna\:50 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-sienna\:60, html.auto .sf-c-sienna\:60 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:70, html.auto .sf-c-sienna\:70 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-sienna\:80, html.auto .sf-c-sienna\:80 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-sienna\:90, html.auto .sf-c-sienna\:90 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-sienna\:100, html.auto .sf-c-sienna\:100 { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 0%) }

  html[data-theme='auto'] .sf-c-sienna\:st, html.auto .sf-c-sienna\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:0\:st, html.auto .sf-c-sienna\:0\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 0%) }
  html[data-theme='auto'] .sf-c-sienna\:10\:st, html.auto .sf-c-sienna\:10\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-sienna\:20\:st, html.auto .sf-c-sienna\:20\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-sienna\:30\:st, html.auto .sf-c-sienna\:30\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-sienna\:40\:st, html.auto .sf-c-sienna\:40\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-sienna\:50\:st, html.auto .sf-c-sienna\:50\:st { color: hsl(19, 56%, 90%); background: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-sienna\:60\:st, html.auto .sf-c-sienna\:60\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-sienna\:70\:st, html.auto .sf-c-sienna\:70\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-sienna\:80\:st, html.auto .sf-c-sienna\:80\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-sienna\:90\:st, html.auto .sf-c-sienna\:90\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-sienna\:100\:st, html.auto .sf-c-sienna\:100\:st { color: hsl(19, 56%, 10%); background: hsl(19, 56%, 100%) }

  html[data-theme='auto'] .sf-c-txt-sienna, html.auto .sf-c-txt-sienna { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:0, html.auto .sf-c-txt-sienna\:0 { color: hsl(19, 56%, 100%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:10, html.auto .sf-c-txt-sienna\:10 { color: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:20, html.auto .sf-c-txt-sienna\:20 { color: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:30, html.auto .sf-c-txt-sienna\:30 { color: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:40, html.auto .sf-c-txt-sienna\:40 { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:50, html.auto .sf-c-txt-sienna\:50 { color: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:60, html.auto .sf-c-txt-sienna\:60 { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:70, html.auto .sf-c-txt-sienna\:70 { color: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:80, html.auto .sf-c-txt-sienna\:80 { color: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:90, html.auto .sf-c-txt-sienna\:90 { color: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:100, html.auto .sf-c-txt-sienna\:100 { color: hsl(19, 56%, 0%) }

  html[data-theme='auto'] .sf-c-txt-sienna\:st, html.auto .sf-c-txt-sienna\:st { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:0\:st, html.auto .sf-c-txt-sienna\:0\:st { color: hsl(19, 56%, 0%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:10\:st, html.auto .sf-c-txt-sienna\:10\:st { color: hsl(19, 56%, 10%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:20\:st, html.auto .sf-c-txt-sienna\:20\:st { color: hsl(19, 56%, 20%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:30\:st, html.auto .sf-c-txt-sienna\:30\:st { color: hsl(19, 56%, 30%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:40\:st, html.auto .sf-c-txt-sienna\:40\:st { color: hsl(19, 56%, 40%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:50\:st, html.auto .sf-c-txt-sienna\:50\:st { color: hsl(19, 56%, 50%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:60\:st, html.auto .sf-c-txt-sienna\:60\:st { color: hsl(19, 56%, 60%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:70\:st, html.auto .sf-c-txt-sienna\:70\:st { color: hsl(19, 56%, 70%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:80\:st, html.auto .sf-c-txt-sienna\:80\:st { color: hsl(19, 56%, 80%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:90\:st, html.auto .sf-c-txt-sienna\:90\:st { color: hsl(19, 56%, 90%) }
  html[data-theme='auto'] .sf-c-txt-sienna\:100\:st, html.auto .sf-c-txt-sienna\:100\:st { color: hsl(19, 56%, 100%) }
}