.sf-var-slateblue {
  --sf-c-slateblue: 248 53% 58%;
  --sf-c-slateblue-0: 248 53% 0%;
  --sf-c-slateblue-10: 248 53% 10%;
  --sf-c-slateblue-20: 248 53% 20%;
  --sf-c-slateblue-30: 248 53% 30%;
  --sf-c-slateblue-40: 248 53% 40%;
  --sf-c-slateblue-50: 248 53% 50%;
  --sf-c-slateblue-60: 248 53% 60%;
  --sf-c-slateblue-70: 248 53% 70%;
  --sf-c-slateblue-80: 248 53% 80%;
  --sf-c-slateblue-90: 248 53% 90%;
  --sf-c-slateblue-100: 248 53% 100%;
}

.sf-c-slateblue, .sf-c-slateblue\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 58%) }
.sf-c-slateblue\:0, .sf-c-slateblue\:0\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 0%) }
.sf-c-slateblue\:10, .sf-c-slateblue\:10\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 10%) }
.sf-c-slateblue\:20, .sf-c-slateblue\:20\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 20%) }
.sf-c-slateblue\:30, .sf-c-slateblue\:30\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 30%) }
.sf-c-slateblue\:40, .sf-c-slateblue\:40\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 40%) }
.sf-c-slateblue\:50, .sf-c-slateblue\:50\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 50%) }
.sf-c-slateblue\:60, .sf-c-slateblue\:60\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 60%) }
.sf-c-slateblue\:70, .sf-c-slateblue\:70\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 70%) }
.sf-c-slateblue\:80, .sf-c-slateblue\:80\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 80%) }
.sf-c-slateblue\:90, .sf-c-slateblue\:90\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 90%) }
.sf-c-slateblue\:100, .sf-c-slateblue\:100\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 100%) }

.sf-c-txt-slateblue { color: hsl(248, 53%, 10%) }
.sf-c-txt-slateblue\:st { color: hsl(248, 53%, 58%) }
.sf-c-txt-slateblue\:0, .sf-c-txt-slateblue\:0\:st { color: hsl(248, 53%, 0%) }
.sf-c-txt-slateblue\:10, .sf-c-txt-slateblue\:10\:st { color: hsl(248, 53%, 10%) }
.sf-c-txt-slateblue\:20, .sf-c-txt-slateblue\:20\:st { color: hsl(248, 53%, 20%) }
.sf-c-txt-slateblue\:30, .sf-c-txt-slateblue\:30\:st { color: hsl(248, 53%, 30%) }
.sf-c-txt-slateblue\:40, .sf-c-txt-slateblue\:40\:st { color: hsl(248, 53%, 40%) }
.sf-c-txt-slateblue\:50, .sf-c-txt-slateblue\:50\:st { color: hsl(248, 53%, 50%) }
.sf-c-txt-slateblue\:60, .sf-c-txt-slateblue\:60\:st { color: hsl(248, 53%, 60%) }
.sf-c-txt-slateblue\:70, .sf-c-txt-slateblue\:70\:st { color: hsl(248, 53%, 70%) }
.sf-c-txt-slateblue\:80, .sf-c-txt-slateblue\:80\:st { color: hsl(248, 53%, 80%) }
.sf-c-txt-slateblue\:90, .sf-c-txt-slateblue\:90\:st { color: hsl(248, 53%, 90%) }
.sf-c-txt-slateblue\:100, .sf-c-txt-slateblue\:100\:st { color: hsl(248, 53%, 100%) }

html[data-theme='dark'] .sf-c-slateblue, html.dark .sf-c-slateblue { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 42%) }
html[data-theme='dark'] .sf-c-slateblue\:0, html.dark .sf-c-slateblue\:0 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 100%) }
html[data-theme='dark'] .sf-c-slateblue\:10, html.dark .sf-c-slateblue\:10 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 90%) }
html[data-theme='dark'] .sf-c-slateblue\:20, html.dark .sf-c-slateblue\:20 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 80%) }
html[data-theme='dark'] .sf-c-slateblue\:30, html.dark .sf-c-slateblue\:30 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 70%) }
html[data-theme='dark'] .sf-c-slateblue\:40, html.dark .sf-c-slateblue\:40 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 60%) }
html[data-theme='dark'] .sf-c-slateblue\:50, html.dark .sf-c-slateblue\:50 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 50%) }
html[data-theme='dark'] .sf-c-slateblue\:60, html.dark .sf-c-slateblue\:60 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 40%) }
html[data-theme='dark'] .sf-c-slateblue\:70, html.dark .sf-c-slateblue\:70 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 30%) }
html[data-theme='dark'] .sf-c-slateblue\:80, html.dark .sf-c-slateblue\:80 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 20%) }
html[data-theme='dark'] .sf-c-slateblue\:90, html.dark .sf-c-slateblue\:90 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 10%) }
html[data-theme='dark'] .sf-c-slateblue\:100, html.dark .sf-c-slateblue\:100 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 0%) }

html[data-theme='dark'] .sf-c-slateblue\:st, html.dark .sf-c-slateblue\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 58%) }
html[data-theme='dark'] .sf-c-slateblue\:0\:st, html.dark .sf-c-slateblue\:0\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 0%) }
html[data-theme='dark'] .sf-c-slateblue\:10\:st, html.dark .sf-c-slateblue\:10\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 10%) }
html[data-theme='dark'] .sf-c-slateblue\:20\:st, html.dark .sf-c-slateblue\:20\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 20%) }
html[data-theme='dark'] .sf-c-slateblue\:30\:st, html.dark .sf-c-slateblue\:30\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 30%) }
html[data-theme='dark'] .sf-c-slateblue\:40\:st, html.dark .sf-c-slateblue\:40\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 40%) }
html[data-theme='dark'] .sf-c-slateblue\:50\:st, html.dark .sf-c-slateblue\:50\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 50%) }
html[data-theme='dark'] .sf-c-slateblue\:60\:st, html.dark .sf-c-slateblue\:60\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 60%) }
html[data-theme='dark'] .sf-c-slateblue\:70\:st, html.dark .sf-c-slateblue\:70\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 70%) }
html[data-theme='dark'] .sf-c-slateblue\:80\:st, html.dark .sf-c-slateblue\:80\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 80%) }
html[data-theme='dark'] .sf-c-slateblue\:90\:st, html.dark .sf-c-slateblue\:90\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 90%) }
html[data-theme='dark'] .sf-c-slateblue\:100\:st, html.dark .sf-c-slateblue\:100\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 100%) }

html[data-theme='dark'] .sf-c-txt-slateblue, html.dark .sf-c-txt-slateblue { color: hsl(248, 53%, 58%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:0, html.dark .sf-c-txt-slateblue\:0 { color: hsl(248, 53%, 100%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:10, html.dark .sf-c-txt-slateblue\:10 { color: hsl(248, 53%, 90%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:20, html.dark .sf-c-txt-slateblue\:20 { color: hsl(248, 53%, 80%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:30, html.dark .sf-c-txt-slateblue\:30 { color: hsl(248, 53%, 70%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:40, html.dark .sf-c-txt-slateblue\:40 { color: hsl(248, 53%, 60%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:50, html.dark .sf-c-txt-slateblue\:50 { color: hsl(248, 53%, 50%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:60, html.dark .sf-c-txt-slateblue\:60 { color: hsl(248, 53%, 40%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:70, html.dark .sf-c-txt-slateblue\:70 { color: hsl(248, 53%, 30%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:80, html.dark .sf-c-txt-slateblue\:80 { color: hsl(248, 53%, 20%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:90, html.dark .sf-c-txt-slateblue\:90 { color: hsl(248, 53%, 10%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:100, html.dark .sf-c-txt-slateblue\:100 { color: hsl(248, 53%, 0%) }

html[data-theme='dark'] .sf-c-txt-slateblue\:st, html.dark .sf-c-txt-slateblue\:st { color: hsl(248, 53%, 58%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:0\:st, html.dark .sf-c-txt-slateblue\:0\:st { color: hsl(248, 53%, 0%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:10\:st, html.dark .sf-c-txt-slateblue\:10\:st { color: hsl(248, 53%, 10%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:20\:st, html.dark .sf-c-txt-slateblue\:20\:st { color: hsl(248, 53%, 20%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:30\:st, html.dark .sf-c-txt-slateblue\:30\:st { color: hsl(248, 53%, 30%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:40\:st, html.dark .sf-c-txt-slateblue\:40\:st { color: hsl(248, 53%, 40%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:50\:st, html.dark .sf-c-txt-slateblue\:50\:st { color: hsl(248, 53%, 50%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:60\:st, html.dark .sf-c-txt-slateblue\:60\:st { color: hsl(248, 53%, 60%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:70\:st, html.dark .sf-c-txt-slateblue\:70\:st { color: hsl(248, 53%, 70%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:80\:st, html.dark .sf-c-txt-slateblue\:80\:st { color: hsl(248, 53%, 80%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:90\:st, html.dark .sf-c-txt-slateblue\:90\:st { color: hsl(248, 53%, 90%) }
html[data-theme='dark'] .sf-c-txt-slateblue\:100\:st, html.dark .sf-c-txt-slateblue\:100\:st { color: hsl(248, 53%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-slateblue, html.auto .sf-c-slateblue { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 42%) }
  html[data-theme='auto'] .sf-c-slateblue\:0, html.auto .sf-c-slateblue\:0 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 100%) }
  html[data-theme='auto'] .sf-c-slateblue\:10, html.auto .sf-c-slateblue\:10 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 90%) }
  html[data-theme='auto'] .sf-c-slateblue\:20, html.auto .sf-c-slateblue\:20 { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 80%) }
  html[data-theme='auto'] .sf-c-slateblue\:30, html.auto .sf-c-slateblue\:30 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 70%) }
  html[data-theme='auto'] .sf-c-slateblue\:40, html.auto .sf-c-slateblue\:40 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 60%) }
  html[data-theme='auto'] .sf-c-slateblue\:50, html.auto .sf-c-slateblue\:50 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 50%) }
  html[data-theme='auto'] .sf-c-slateblue\:60, html.auto .sf-c-slateblue\:60 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 40%) }
  html[data-theme='auto'] .sf-c-slateblue\:70, html.auto .sf-c-slateblue\:70 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 30%) }
  html[data-theme='auto'] .sf-c-slateblue\:80, html.auto .sf-c-slateblue\:80 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 20%) }
  html[data-theme='auto'] .sf-c-slateblue\:90, html.auto .sf-c-slateblue\:90 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 10%) }
  html[data-theme='auto'] .sf-c-slateblue\:100, html.auto .sf-c-slateblue\:100 { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 0%) }

  html[data-theme='auto'] .sf-c-slateblue\:st, html.auto .sf-c-slateblue\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 58%) }
  html[data-theme='auto'] .sf-c-slateblue\:0\:st, html.auto .sf-c-slateblue\:0\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 0%) }
  html[data-theme='auto'] .sf-c-slateblue\:10\:st, html.auto .sf-c-slateblue\:10\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 10%) }
  html[data-theme='auto'] .sf-c-slateblue\:20\:st, html.auto .sf-c-slateblue\:20\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 20%) }
  html[data-theme='auto'] .sf-c-slateblue\:30\:st, html.auto .sf-c-slateblue\:30\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 30%) }
  html[data-theme='auto'] .sf-c-slateblue\:40\:st, html.auto .sf-c-slateblue\:40\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 40%) }
  html[data-theme='auto'] .sf-c-slateblue\:50\:st, html.auto .sf-c-slateblue\:50\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 50%) }
  html[data-theme='auto'] .sf-c-slateblue\:60\:st, html.auto .sf-c-slateblue\:60\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 60%) }
  html[data-theme='auto'] .sf-c-slateblue\:70\:st, html.auto .sf-c-slateblue\:70\:st { color: hsl(248, 53%, 90%); background: hsl(248, 53%, 70%) }
  html[data-theme='auto'] .sf-c-slateblue\:80\:st, html.auto .sf-c-slateblue\:80\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 80%) }
  html[data-theme='auto'] .sf-c-slateblue\:90\:st, html.auto .sf-c-slateblue\:90\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 90%) }
  html[data-theme='auto'] .sf-c-slateblue\:100\:st, html.auto .sf-c-slateblue\:100\:st { color: hsl(248, 53%, 10%); background: hsl(248, 53%, 100%) }

  html[data-theme='auto'] .sf-c-txt-slateblue, html.auto .sf-c-txt-slateblue { color: hsl(248, 53%, 58%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:0, html.auto .sf-c-txt-slateblue\:0 { color: hsl(248, 53%, 100%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:10, html.auto .sf-c-txt-slateblue\:10 { color: hsl(248, 53%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:20, html.auto .sf-c-txt-slateblue\:20 { color: hsl(248, 53%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:30, html.auto .sf-c-txt-slateblue\:30 { color: hsl(248, 53%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:40, html.auto .sf-c-txt-slateblue\:40 { color: hsl(248, 53%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:50, html.auto .sf-c-txt-slateblue\:50 { color: hsl(248, 53%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:60, html.auto .sf-c-txt-slateblue\:60 { color: hsl(248, 53%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:70, html.auto .sf-c-txt-slateblue\:70 { color: hsl(248, 53%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:80, html.auto .sf-c-txt-slateblue\:80 { color: hsl(248, 53%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:90, html.auto .sf-c-txt-slateblue\:90 { color: hsl(248, 53%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:100, html.auto .sf-c-txt-slateblue\:100 { color: hsl(248, 53%, 0%) }

  html[data-theme='auto'] .sf-c-txt-slateblue\:st, html.auto .sf-c-txt-slateblue\:st { color: hsl(248, 53%, 58%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:0\:st, html.auto .sf-c-txt-slateblue\:0\:st { color: hsl(248, 53%, 0%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:10\:st, html.auto .sf-c-txt-slateblue\:10\:st { color: hsl(248, 53%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:20\:st, html.auto .sf-c-txt-slateblue\:20\:st { color: hsl(248, 53%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:30\:st, html.auto .sf-c-txt-slateblue\:30\:st { color: hsl(248, 53%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:40\:st, html.auto .sf-c-txt-slateblue\:40\:st { color: hsl(248, 53%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:50\:st, html.auto .sf-c-txt-slateblue\:50\:st { color: hsl(248, 53%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:60\:st, html.auto .sf-c-txt-slateblue\:60\:st { color: hsl(248, 53%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:70\:st, html.auto .sf-c-txt-slateblue\:70\:st { color: hsl(248, 53%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:80\:st, html.auto .sf-c-txt-slateblue\:80\:st { color: hsl(248, 53%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:90\:st, html.auto .sf-c-txt-slateblue\:90\:st { color: hsl(248, 53%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slateblue\:100\:st, html.auto .sf-c-txt-slateblue\:100\:st { color: hsl(248, 53%, 100%) }
}