.sf-var-slategray {
  --sf-c-slategray: 210 13% 50%;
  --sf-c-slategray-0: 210 13% 0%;
  --sf-c-slategray-10: 210 13% 10%;
  --sf-c-slategray-20: 210 13% 20%;
  --sf-c-slategray-30: 210 13% 30%;
  --sf-c-slategray-40: 210 13% 40%;
  --sf-c-slategray-50: 210 13% 50%;
  --sf-c-slategray-60: 210 13% 60%;
  --sf-c-slategray-70: 210 13% 70%;
  --sf-c-slategray-80: 210 13% 80%;
  --sf-c-slategray-90: 210 13% 90%;
  --sf-c-slategray-100: 210 13% 100%;
}

.sf-c-slategray, .sf-c-slategray\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
.sf-c-slategray\:0, .sf-c-slategray\:0\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 0%) }
.sf-c-slategray\:10, .sf-c-slategray\:10\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 10%) }
.sf-c-slategray\:20, .sf-c-slategray\:20\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 20%) }
.sf-c-slategray\:30, .sf-c-slategray\:30\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 30%) }
.sf-c-slategray\:40, .sf-c-slategray\:40\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 40%) }
.sf-c-slategray\:50, .sf-c-slategray\:50\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
.sf-c-slategray\:60, .sf-c-slategray\:60\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 60%) }
.sf-c-slategray\:70, .sf-c-slategray\:70\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 70%) }
.sf-c-slategray\:80, .sf-c-slategray\:80\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 80%) }
.sf-c-slategray\:90, .sf-c-slategray\:90\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 90%) }
.sf-c-slategray\:100, .sf-c-slategray\:100\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 100%) }

.sf-c-txt-slategray { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategray\:st { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategray\:0, .sf-c-txt-slategray\:0\:st { color: hsl(210, 13%, 0%) }
.sf-c-txt-slategray\:10, .sf-c-txt-slategray\:10\:st { color: hsl(210, 13%, 10%) }
.sf-c-txt-slategray\:20, .sf-c-txt-slategray\:20\:st { color: hsl(210, 13%, 20%) }
.sf-c-txt-slategray\:30, .sf-c-txt-slategray\:30\:st { color: hsl(210, 13%, 30%) }
.sf-c-txt-slategray\:40, .sf-c-txt-slategray\:40\:st { color: hsl(210, 13%, 40%) }
.sf-c-txt-slategray\:50, .sf-c-txt-slategray\:50\:st { color: hsl(210, 13%, 50%) }
.sf-c-txt-slategray\:60, .sf-c-txt-slategray\:60\:st { color: hsl(210, 13%, 60%) }
.sf-c-txt-slategray\:70, .sf-c-txt-slategray\:70\:st { color: hsl(210, 13%, 70%) }
.sf-c-txt-slategray\:80, .sf-c-txt-slategray\:80\:st { color: hsl(210, 13%, 80%) }
.sf-c-txt-slategray\:90, .sf-c-txt-slategray\:90\:st { color: hsl(210, 13%, 90%) }
.sf-c-txt-slategray\:100, .sf-c-txt-slategray\:100\:st { color: hsl(210, 13%, 100%) }

html[data-theme='dark'] .sf-c-slategray, html.dark .sf-c-slategray { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategray\:0, html.dark .sf-c-slategray\:0 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 100%) }
html[data-theme='dark'] .sf-c-slategray\:10, html.dark .sf-c-slategray\:10 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-slategray\:20, html.dark .sf-c-slategray\:20 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-slategray\:30, html.dark .sf-c-slategray\:30 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-slategray\:40, html.dark .sf-c-slategray\:40 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-slategray\:50, html.dark .sf-c-slategray\:50 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategray\:60, html.dark .sf-c-slategray\:60 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-slategray\:70, html.dark .sf-c-slategray\:70 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-slategray\:80, html.dark .sf-c-slategray\:80 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-slategray\:90, html.dark .sf-c-slategray\:90 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-slategray\:100, html.dark .sf-c-slategray\:100 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 0%) }

html[data-theme='dark'] .sf-c-slategray\:st, html.dark .sf-c-slategray\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategray\:0\:st, html.dark .sf-c-slategray\:0\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 0%) }
html[data-theme='dark'] .sf-c-slategray\:10\:st, html.dark .sf-c-slategray\:10\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-slategray\:20\:st, html.dark .sf-c-slategray\:20\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-slategray\:30\:st, html.dark .sf-c-slategray\:30\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-slategray\:40\:st, html.dark .sf-c-slategray\:40\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-slategray\:50\:st, html.dark .sf-c-slategray\:50\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-slategray\:60\:st, html.dark .sf-c-slategray\:60\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-slategray\:70\:st, html.dark .sf-c-slategray\:70\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-slategray\:80\:st, html.dark .sf-c-slategray\:80\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-slategray\:90\:st, html.dark .sf-c-slategray\:90\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-slategray\:100\:st, html.dark .sf-c-slategray\:100\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 100%) }

html[data-theme='dark'] .sf-c-txt-slategray, html.dark .sf-c-txt-slategray { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategray\:0, html.dark .sf-c-txt-slategray\:0 { color: hsl(210, 13%, 100%) }
html[data-theme='dark'] .sf-c-txt-slategray\:10, html.dark .sf-c-txt-slategray\:10 { color: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-txt-slategray\:20, html.dark .sf-c-txt-slategray\:20 { color: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-txt-slategray\:30, html.dark .sf-c-txt-slategray\:30 { color: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-txt-slategray\:40, html.dark .sf-c-txt-slategray\:40 { color: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-txt-slategray\:50, html.dark .sf-c-txt-slategray\:50 { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategray\:60, html.dark .sf-c-txt-slategray\:60 { color: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-txt-slategray\:70, html.dark .sf-c-txt-slategray\:70 { color: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-txt-slategray\:80, html.dark .sf-c-txt-slategray\:80 { color: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-txt-slategray\:90, html.dark .sf-c-txt-slategray\:90 { color: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-txt-slategray\:100, html.dark .sf-c-txt-slategray\:100 { color: hsl(210, 13%, 0%) }

html[data-theme='dark'] .sf-c-txt-slategray\:st, html.dark .sf-c-txt-slategray\:st { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategray\:0\:st, html.dark .sf-c-txt-slategray\:0\:st { color: hsl(210, 13%, 0%) }
html[data-theme='dark'] .sf-c-txt-slategray\:10\:st, html.dark .sf-c-txt-slategray\:10\:st { color: hsl(210, 13%, 10%) }
html[data-theme='dark'] .sf-c-txt-slategray\:20\:st, html.dark .sf-c-txt-slategray\:20\:st { color: hsl(210, 13%, 20%) }
html[data-theme='dark'] .sf-c-txt-slategray\:30\:st, html.dark .sf-c-txt-slategray\:30\:st { color: hsl(210, 13%, 30%) }
html[data-theme='dark'] .sf-c-txt-slategray\:40\:st, html.dark .sf-c-txt-slategray\:40\:st { color: hsl(210, 13%, 40%) }
html[data-theme='dark'] .sf-c-txt-slategray\:50\:st, html.dark .sf-c-txt-slategray\:50\:st { color: hsl(210, 13%, 50%) }
html[data-theme='dark'] .sf-c-txt-slategray\:60\:st, html.dark .sf-c-txt-slategray\:60\:st { color: hsl(210, 13%, 60%) }
html[data-theme='dark'] .sf-c-txt-slategray\:70\:st, html.dark .sf-c-txt-slategray\:70\:st { color: hsl(210, 13%, 70%) }
html[data-theme='dark'] .sf-c-txt-slategray\:80\:st, html.dark .sf-c-txt-slategray\:80\:st { color: hsl(210, 13%, 80%) }
html[data-theme='dark'] .sf-c-txt-slategray\:90\:st, html.dark .sf-c-txt-slategray\:90\:st { color: hsl(210, 13%, 90%) }
html[data-theme='dark'] .sf-c-txt-slategray\:100\:st, html.dark .sf-c-txt-slategray\:100\:st { color: hsl(210, 13%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-slategray, html.auto .sf-c-slategray { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategray\:0, html.auto .sf-c-slategray\:0 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 100%) }
  html[data-theme='auto'] .sf-c-slategray\:10, html.auto .sf-c-slategray\:10 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-slategray\:20, html.auto .sf-c-slategray\:20 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-slategray\:30, html.auto .sf-c-slategray\:30 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-slategray\:40, html.auto .sf-c-slategray\:40 { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-slategray\:50, html.auto .sf-c-slategray\:50 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategray\:60, html.auto .sf-c-slategray\:60 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-slategray\:70, html.auto .sf-c-slategray\:70 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-slategray\:80, html.auto .sf-c-slategray\:80 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-slategray\:90, html.auto .sf-c-slategray\:90 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-slategray\:100, html.auto .sf-c-slategray\:100 { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 0%) }

  html[data-theme='auto'] .sf-c-slategray\:st, html.auto .sf-c-slategray\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategray\:0\:st, html.auto .sf-c-slategray\:0\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 0%) }
  html[data-theme='auto'] .sf-c-slategray\:10\:st, html.auto .sf-c-slategray\:10\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-slategray\:20\:st, html.auto .sf-c-slategray\:20\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-slategray\:30\:st, html.auto .sf-c-slategray\:30\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-slategray\:40\:st, html.auto .sf-c-slategray\:40\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-slategray\:50\:st, html.auto .sf-c-slategray\:50\:st { color: hsl(210, 13%, 90%); background: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-slategray\:60\:st, html.auto .sf-c-slategray\:60\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-slategray\:70\:st, html.auto .sf-c-slategray\:70\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-slategray\:80\:st, html.auto .sf-c-slategray\:80\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-slategray\:90\:st, html.auto .sf-c-slategray\:90\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-slategray\:100\:st, html.auto .sf-c-slategray\:100\:st { color: hsl(210, 13%, 10%); background: hsl(210, 13%, 100%) }

  html[data-theme='auto'] .sf-c-txt-slategray, html.auto .sf-c-txt-slategray { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:0, html.auto .sf-c-txt-slategray\:0 { color: hsl(210, 13%, 100%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:10, html.auto .sf-c-txt-slategray\:10 { color: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:20, html.auto .sf-c-txt-slategray\:20 { color: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:30, html.auto .sf-c-txt-slategray\:30 { color: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:40, html.auto .sf-c-txt-slategray\:40 { color: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:50, html.auto .sf-c-txt-slategray\:50 { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:60, html.auto .sf-c-txt-slategray\:60 { color: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:70, html.auto .sf-c-txt-slategray\:70 { color: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:80, html.auto .sf-c-txt-slategray\:80 { color: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:90, html.auto .sf-c-txt-slategray\:90 { color: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:100, html.auto .sf-c-txt-slategray\:100 { color: hsl(210, 13%, 0%) }

  html[data-theme='auto'] .sf-c-txt-slategray\:st, html.auto .sf-c-txt-slategray\:st { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:0\:st, html.auto .sf-c-txt-slategray\:0\:st { color: hsl(210, 13%, 0%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:10\:st, html.auto .sf-c-txt-slategray\:10\:st { color: hsl(210, 13%, 10%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:20\:st, html.auto .sf-c-txt-slategray\:20\:st { color: hsl(210, 13%, 20%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:30\:st, html.auto .sf-c-txt-slategray\:30\:st { color: hsl(210, 13%, 30%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:40\:st, html.auto .sf-c-txt-slategray\:40\:st { color: hsl(210, 13%, 40%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:50\:st, html.auto .sf-c-txt-slategray\:50\:st { color: hsl(210, 13%, 50%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:60\:st, html.auto .sf-c-txt-slategray\:60\:st { color: hsl(210, 13%, 60%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:70\:st, html.auto .sf-c-txt-slategray\:70\:st { color: hsl(210, 13%, 70%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:80\:st, html.auto .sf-c-txt-slategray\:80\:st { color: hsl(210, 13%, 80%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:90\:st, html.auto .sf-c-txt-slategray\:90\:st { color: hsl(210, 13%, 90%) }
  html[data-theme='auto'] .sf-c-txt-slategray\:100\:st, html.auto .sf-c-txt-slategray\:100\:st { color: hsl(210, 13%, 100%) }
}