.sf-var-tomato {
  --sf-c-tomato: 9 100% 64%;
  --sf-c-tomato-0: 9 100% 0%;
  --sf-c-tomato-10: 9 100% 10%;
  --sf-c-tomato-20: 9 100% 20%;
  --sf-c-tomato-30: 9 100% 30%;
  --sf-c-tomato-40: 9 100% 40%;
  --sf-c-tomato-50: 9 100% 50%;
  --sf-c-tomato-60: 9 100% 60%;
  --sf-c-tomato-70: 9 100% 70%;
  --sf-c-tomato-80: 9 100% 80%;
  --sf-c-tomato-90: 9 100% 90%;
  --sf-c-tomato-100: 9 100% 100%;
}

.sf-c-tomato, .sf-c-tomato\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 64%) }
.sf-c-tomato\:0, .sf-c-tomato\:0\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 0%) }
.sf-c-tomato\:10, .sf-c-tomato\:10\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 10%) }
.sf-c-tomato\:20, .sf-c-tomato\:20\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 20%) }
.sf-c-tomato\:30, .sf-c-tomato\:30\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 30%) }
.sf-c-tomato\:40, .sf-c-tomato\:40\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 40%) }
.sf-c-tomato\:50, .sf-c-tomato\:50\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 50%) }
.sf-c-tomato\:60, .sf-c-tomato\:60\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 60%) }
.sf-c-tomato\:70, .sf-c-tomato\:70\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 70%) }
.sf-c-tomato\:80, .sf-c-tomato\:80\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 80%) }
.sf-c-tomato\:90, .sf-c-tomato\:90\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 90%) }
.sf-c-tomato\:100, .sf-c-tomato\:100\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 100%) }

.sf-c-txt-tomato { color: hsl(9, 100%, 10%) }
.sf-c-txt-tomato\:st { color: hsl(9, 100%, 64%) }
.sf-c-txt-tomato\:0, .sf-c-txt-tomato\:0\:st { color: hsl(9, 100%, 0%) }
.sf-c-txt-tomato\:10, .sf-c-txt-tomato\:10\:st { color: hsl(9, 100%, 10%) }
.sf-c-txt-tomato\:20, .sf-c-txt-tomato\:20\:st { color: hsl(9, 100%, 20%) }
.sf-c-txt-tomato\:30, .sf-c-txt-tomato\:30\:st { color: hsl(9, 100%, 30%) }
.sf-c-txt-tomato\:40, .sf-c-txt-tomato\:40\:st { color: hsl(9, 100%, 40%) }
.sf-c-txt-tomato\:50, .sf-c-txt-tomato\:50\:st { color: hsl(9, 100%, 50%) }
.sf-c-txt-tomato\:60, .sf-c-txt-tomato\:60\:st { color: hsl(9, 100%, 60%) }
.sf-c-txt-tomato\:70, .sf-c-txt-tomato\:70\:st { color: hsl(9, 100%, 70%) }
.sf-c-txt-tomato\:80, .sf-c-txt-tomato\:80\:st { color: hsl(9, 100%, 80%) }
.sf-c-txt-tomato\:90, .sf-c-txt-tomato\:90\:st { color: hsl(9, 100%, 90%) }
.sf-c-txt-tomato\:100, .sf-c-txt-tomato\:100\:st { color: hsl(9, 100%, 100%) }

html[data-theme='dark'] .sf-c-tomato, html.dark .sf-c-tomato { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 36%) }
html[data-theme='dark'] .sf-c-tomato\:0, html.dark .sf-c-tomato\:0 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 100%) }
html[data-theme='dark'] .sf-c-tomato\:10, html.dark .sf-c-tomato\:10 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 90%) }
html[data-theme='dark'] .sf-c-tomato\:20, html.dark .sf-c-tomato\:20 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 80%) }
html[data-theme='dark'] .sf-c-tomato\:30, html.dark .sf-c-tomato\:30 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 70%) }
html[data-theme='dark'] .sf-c-tomato\:40, html.dark .sf-c-tomato\:40 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 60%) }
html[data-theme='dark'] .sf-c-tomato\:50, html.dark .sf-c-tomato\:50 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 50%) }
html[data-theme='dark'] .sf-c-tomato\:60, html.dark .sf-c-tomato\:60 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 40%) }
html[data-theme='dark'] .sf-c-tomato\:70, html.dark .sf-c-tomato\:70 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 30%) }
html[data-theme='dark'] .sf-c-tomato\:80, html.dark .sf-c-tomato\:80 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 20%) }
html[data-theme='dark'] .sf-c-tomato\:90, html.dark .sf-c-tomato\:90 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 10%) }
html[data-theme='dark'] .sf-c-tomato\:100, html.dark .sf-c-tomato\:100 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 0%) }

html[data-theme='dark'] .sf-c-tomato\:st, html.dark .sf-c-tomato\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 64%) }
html[data-theme='dark'] .sf-c-tomato\:0\:st, html.dark .sf-c-tomato\:0\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 0%) }
html[data-theme='dark'] .sf-c-tomato\:10\:st, html.dark .sf-c-tomato\:10\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 10%) }
html[data-theme='dark'] .sf-c-tomato\:20\:st, html.dark .sf-c-tomato\:20\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 20%) }
html[data-theme='dark'] .sf-c-tomato\:30\:st, html.dark .sf-c-tomato\:30\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 30%) }
html[data-theme='dark'] .sf-c-tomato\:40\:st, html.dark .sf-c-tomato\:40\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 40%) }
html[data-theme='dark'] .sf-c-tomato\:50\:st, html.dark .sf-c-tomato\:50\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 50%) }
html[data-theme='dark'] .sf-c-tomato\:60\:st, html.dark .sf-c-tomato\:60\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 60%) }
html[data-theme='dark'] .sf-c-tomato\:70\:st, html.dark .sf-c-tomato\:70\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 70%) }
html[data-theme='dark'] .sf-c-tomato\:80\:st, html.dark .sf-c-tomato\:80\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 80%) }
html[data-theme='dark'] .sf-c-tomato\:90\:st, html.dark .sf-c-tomato\:90\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 90%) }
html[data-theme='dark'] .sf-c-tomato\:100\:st, html.dark .sf-c-tomato\:100\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-tomato, html.dark .sf-c-txt-tomato { color: hsl(9, 100%, 64%) }
html[data-theme='dark'] .sf-c-txt-tomato\:0, html.dark .sf-c-txt-tomato\:0 { color: hsl(9, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-tomato\:10, html.dark .sf-c-txt-tomato\:10 { color: hsl(9, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-tomato\:20, html.dark .sf-c-txt-tomato\:20 { color: hsl(9, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-tomato\:30, html.dark .sf-c-txt-tomato\:30 { color: hsl(9, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-tomato\:40, html.dark .sf-c-txt-tomato\:40 { color: hsl(9, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-tomato\:50, html.dark .sf-c-txt-tomato\:50 { color: hsl(9, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-tomato\:60, html.dark .sf-c-txt-tomato\:60 { color: hsl(9, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-tomato\:70, html.dark .sf-c-txt-tomato\:70 { color: hsl(9, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-tomato\:80, html.dark .sf-c-txt-tomato\:80 { color: hsl(9, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-tomato\:90, html.dark .sf-c-txt-tomato\:90 { color: hsl(9, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-tomato\:100, html.dark .sf-c-txt-tomato\:100 { color: hsl(9, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-tomato\:st, html.dark .sf-c-txt-tomato\:st { color: hsl(9, 100%, 64%) }
html[data-theme='dark'] .sf-c-txt-tomato\:0\:st, html.dark .sf-c-txt-tomato\:0\:st { color: hsl(9, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-tomato\:10\:st, html.dark .sf-c-txt-tomato\:10\:st { color: hsl(9, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-tomato\:20\:st, html.dark .sf-c-txt-tomato\:20\:st { color: hsl(9, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-tomato\:30\:st, html.dark .sf-c-txt-tomato\:30\:st { color: hsl(9, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-tomato\:40\:st, html.dark .sf-c-txt-tomato\:40\:st { color: hsl(9, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-tomato\:50\:st, html.dark .sf-c-txt-tomato\:50\:st { color: hsl(9, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-tomato\:60\:st, html.dark .sf-c-txt-tomato\:60\:st { color: hsl(9, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-tomato\:70\:st, html.dark .sf-c-txt-tomato\:70\:st { color: hsl(9, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-tomato\:80\:st, html.dark .sf-c-txt-tomato\:80\:st { color: hsl(9, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-tomato\:90\:st, html.dark .sf-c-txt-tomato\:90\:st { color: hsl(9, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-tomato\:100\:st, html.dark .sf-c-txt-tomato\:100\:st { color: hsl(9, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-tomato, html.auto .sf-c-tomato { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 36%) }
  html[data-theme='auto'] .sf-c-tomato\:0, html.auto .sf-c-tomato\:0 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 100%) }
  html[data-theme='auto'] .sf-c-tomato\:10, html.auto .sf-c-tomato\:10 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 90%) }
  html[data-theme='auto'] .sf-c-tomato\:20, html.auto .sf-c-tomato\:20 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 80%) }
  html[data-theme='auto'] .sf-c-tomato\:30, html.auto .sf-c-tomato\:30 { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 70%) }
  html[data-theme='auto'] .sf-c-tomato\:40, html.auto .sf-c-tomato\:40 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 60%) }
  html[data-theme='auto'] .sf-c-tomato\:50, html.auto .sf-c-tomato\:50 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 50%) }
  html[data-theme='auto'] .sf-c-tomato\:60, html.auto .sf-c-tomato\:60 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 40%) }
  html[data-theme='auto'] .sf-c-tomato\:70, html.auto .sf-c-tomato\:70 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 30%) }
  html[data-theme='auto'] .sf-c-tomato\:80, html.auto .sf-c-tomato\:80 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 20%) }
  html[data-theme='auto'] .sf-c-tomato\:90, html.auto .sf-c-tomato\:90 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 10%) }
  html[data-theme='auto'] .sf-c-tomato\:100, html.auto .sf-c-tomato\:100 { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 0%) }

  html[data-theme='auto'] .sf-c-tomato\:st, html.auto .sf-c-tomato\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 64%) }
  html[data-theme='auto'] .sf-c-tomato\:0\:st, html.auto .sf-c-tomato\:0\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 0%) }
  html[data-theme='auto'] .sf-c-tomato\:10\:st, html.auto .sf-c-tomato\:10\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 10%) }
  html[data-theme='auto'] .sf-c-tomato\:20\:st, html.auto .sf-c-tomato\:20\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 20%) }
  html[data-theme='auto'] .sf-c-tomato\:30\:st, html.auto .sf-c-tomato\:30\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 30%) }
  html[data-theme='auto'] .sf-c-tomato\:40\:st, html.auto .sf-c-tomato\:40\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 40%) }
  html[data-theme='auto'] .sf-c-tomato\:50\:st, html.auto .sf-c-tomato\:50\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 50%) }
  html[data-theme='auto'] .sf-c-tomato\:60\:st, html.auto .sf-c-tomato\:60\:st { color: hsl(9, 100%, 90%); background: hsl(9, 100%, 60%) }
  html[data-theme='auto'] .sf-c-tomato\:70\:st, html.auto .sf-c-tomato\:70\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 70%) }
  html[data-theme='auto'] .sf-c-tomato\:80\:st, html.auto .sf-c-tomato\:80\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 80%) }
  html[data-theme='auto'] .sf-c-tomato\:90\:st, html.auto .sf-c-tomato\:90\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 90%) }
  html[data-theme='auto'] .sf-c-tomato\:100\:st, html.auto .sf-c-tomato\:100\:st { color: hsl(9, 100%, 10%); background: hsl(9, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-tomato, html.auto .sf-c-txt-tomato { color: hsl(9, 100%, 64%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:0, html.auto .sf-c-txt-tomato\:0 { color: hsl(9, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:10, html.auto .sf-c-txt-tomato\:10 { color: hsl(9, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:20, html.auto .sf-c-txt-tomato\:20 { color: hsl(9, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:30, html.auto .sf-c-txt-tomato\:30 { color: hsl(9, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:40, html.auto .sf-c-txt-tomato\:40 { color: hsl(9, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:50, html.auto .sf-c-txt-tomato\:50 { color: hsl(9, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:60, html.auto .sf-c-txt-tomato\:60 { color: hsl(9, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:70, html.auto .sf-c-txt-tomato\:70 { color: hsl(9, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:80, html.auto .sf-c-txt-tomato\:80 { color: hsl(9, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:90, html.auto .sf-c-txt-tomato\:90 { color: hsl(9, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:100, html.auto .sf-c-txt-tomato\:100 { color: hsl(9, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-tomato\:st, html.auto .sf-c-txt-tomato\:st { color: hsl(9, 100%, 64%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:0\:st, html.auto .sf-c-txt-tomato\:0\:st { color: hsl(9, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:10\:st, html.auto .sf-c-txt-tomato\:10\:st { color: hsl(9, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:20\:st, html.auto .sf-c-txt-tomato\:20\:st { color: hsl(9, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:30\:st, html.auto .sf-c-txt-tomato\:30\:st { color: hsl(9, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:40\:st, html.auto .sf-c-txt-tomato\:40\:st { color: hsl(9, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:50\:st, html.auto .sf-c-txt-tomato\:50\:st { color: hsl(9, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:60\:st, html.auto .sf-c-txt-tomato\:60\:st { color: hsl(9, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:70\:st, html.auto .sf-c-txt-tomato\:70\:st { color: hsl(9, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:80\:st, html.auto .sf-c-txt-tomato\:80\:st { color: hsl(9, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:90\:st, html.auto .sf-c-txt-tomato\:90\:st { color: hsl(9, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-tomato\:100\:st, html.auto .sf-c-txt-tomato\:100\:st { color: hsl(9, 100%, 100%) }
}