.sf-var-white {
  --sf-c-white: 0 0% 100%;
  --sf-c-white-0: 0 0% 0%;
  --sf-c-white-10: 0 0% 10%;
  --sf-c-white-20: 0 0% 20%;
  --sf-c-white-30: 0 0% 30%;
  --sf-c-white-40: 0 0% 40%;
  --sf-c-white-50: 0 0% 50%;
  --sf-c-white-60: 0 0% 60%;
  --sf-c-white-70: 0 0% 70%;
  --sf-c-white-80: 0 0% 80%;
  --sf-c-white-90: 0 0% 90%;
  --sf-c-white-100: 0 0% 100%;
}

.sf-c-white, .sf-c-white\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
.sf-c-white\:0, .sf-c-white\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
.sf-c-white\:10, .sf-c-white\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
.sf-c-white\:20, .sf-c-white\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
.sf-c-white\:30, .sf-c-white\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
.sf-c-white\:40, .sf-c-white\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
.sf-c-white\:50, .sf-c-white\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
.sf-c-white\:60, .sf-c-white\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
.sf-c-white\:70, .sf-c-white\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
.sf-c-white\:80, .sf-c-white\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
.sf-c-white\:90, .sf-c-white\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
.sf-c-white\:100, .sf-c-white\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

.sf-c-txt-white { color: hsl(0, 0%, 10%) }
.sf-c-txt-white\:st { color: hsl(0, 0%, 100%) }
.sf-c-txt-white\:0, .sf-c-txt-white\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-white\:10, .sf-c-txt-white\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-white\:20, .sf-c-txt-white\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-white\:30, .sf-c-txt-white\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-white\:40, .sf-c-txt-white\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-white\:50, .sf-c-txt-white\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-white\:60, .sf-c-txt-white\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-white\:70, .sf-c-txt-white\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-white\:80, .sf-c-txt-white\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-white\:90, .sf-c-txt-white\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-white\:100, .sf-c-txt-white\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-white, html.dark .sf-c-white { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-white\:0, html.dark .sf-c-white\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-white\:10, html.dark .sf-c-white\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-white\:20, html.dark .sf-c-white\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-white\:30, html.dark .sf-c-white\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-white\:40, html.dark .sf-c-white\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-white\:50, html.dark .sf-c-white\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-white\:60, html.dark .sf-c-white\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-white\:70, html.dark .sf-c-white\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-white\:80, html.dark .sf-c-white\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-white\:90, html.dark .sf-c-white\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-white\:100, html.dark .sf-c-white\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-white\:st, html.dark .sf-c-white\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-white\:0\:st, html.dark .sf-c-white\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-white\:10\:st, html.dark .sf-c-white\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-white\:20\:st, html.dark .sf-c-white\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-white\:30\:st, html.dark .sf-c-white\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-white\:40\:st, html.dark .sf-c-white\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-white\:50\:st, html.dark .sf-c-white\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-white\:60\:st, html.dark .sf-c-white\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-white\:70\:st, html.dark .sf-c-white\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-white\:80\:st, html.dark .sf-c-white\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-white\:90\:st, html.dark .sf-c-white\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-white\:100\:st, html.dark .sf-c-white\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-white, html.dark .sf-c-txt-white { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-white\:0, html.dark .sf-c-txt-white\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-white\:10, html.dark .sf-c-txt-white\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-white\:20, html.dark .sf-c-txt-white\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-white\:30, html.dark .sf-c-txt-white\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-white\:40, html.dark .sf-c-txt-white\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-white\:50, html.dark .sf-c-txt-white\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-white\:60, html.dark .sf-c-txt-white\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-white\:70, html.dark .sf-c-txt-white\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-white\:80, html.dark .sf-c-txt-white\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-white\:90, html.dark .sf-c-txt-white\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-white\:100, html.dark .sf-c-txt-white\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-white\:st, html.dark .sf-c-txt-white\:st { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-white\:0\:st, html.dark .sf-c-txt-white\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-white\:10\:st, html.dark .sf-c-txt-white\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-white\:20\:st, html.dark .sf-c-txt-white\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-white\:30\:st, html.dark .sf-c-txt-white\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-white\:40\:st, html.dark .sf-c-txt-white\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-white\:50\:st, html.dark .sf-c-txt-white\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-white\:60\:st, html.dark .sf-c-txt-white\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-white\:70\:st, html.dark .sf-c-txt-white\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-white\:80\:st, html.dark .sf-c-txt-white\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-white\:90\:st, html.dark .sf-c-txt-white\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-white\:100\:st, html.dark .sf-c-txt-white\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-white, html.auto .sf-c-white { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-white\:0, html.auto .sf-c-white\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-white\:10, html.auto .sf-c-white\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-white\:20, html.auto .sf-c-white\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-white\:30, html.auto .sf-c-white\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-white\:40, html.auto .sf-c-white\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-white\:50, html.auto .sf-c-white\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-white\:60, html.auto .sf-c-white\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-white\:70, html.auto .sf-c-white\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-white\:80, html.auto .sf-c-white\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-white\:90, html.auto .sf-c-white\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-white\:100, html.auto .sf-c-white\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-white\:st, html.auto .sf-c-white\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-white\:0\:st, html.auto .sf-c-white\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-white\:10\:st, html.auto .sf-c-white\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-white\:20\:st, html.auto .sf-c-white\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-white\:30\:st, html.auto .sf-c-white\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-white\:40\:st, html.auto .sf-c-white\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-white\:50\:st, html.auto .sf-c-white\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-white\:60\:st, html.auto .sf-c-white\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-white\:70\:st, html.auto .sf-c-white\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-white\:80\:st, html.auto .sf-c-white\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-white\:90\:st, html.auto .sf-c-white\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-white\:100\:st, html.auto .sf-c-white\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-white, html.auto .sf-c-txt-white { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-white\:0, html.auto .sf-c-txt-white\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-white\:10, html.auto .sf-c-txt-white\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-white\:20, html.auto .sf-c-txt-white\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-white\:30, html.auto .sf-c-txt-white\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-white\:40, html.auto .sf-c-txt-white\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-white\:50, html.auto .sf-c-txt-white\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-white\:60, html.auto .sf-c-txt-white\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-white\:70, html.auto .sf-c-txt-white\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-white\:80, html.auto .sf-c-txt-white\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-white\:90, html.auto .sf-c-txt-white\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-white\:100, html.auto .sf-c-txt-white\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-white\:st, html.auto .sf-c-txt-white\:st { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-white\:0\:st, html.auto .sf-c-txt-white\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-white\:10\:st, html.auto .sf-c-txt-white\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-white\:20\:st, html.auto .sf-c-txt-white\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-white\:30\:st, html.auto .sf-c-txt-white\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-white\:40\:st, html.auto .sf-c-txt-white\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-white\:50\:st, html.auto .sf-c-txt-white\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-white\:60\:st, html.auto .sf-c-txt-white\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-white\:70\:st, html.auto .sf-c-txt-white\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-white\:80\:st, html.auto .sf-c-txt-white\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-white\:90\:st, html.auto .sf-c-txt-white\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-white\:100\:st, html.auto .sf-c-txt-white\:100\:st { color: hsl(0, 0%, 100%) }
}