.sf-var-whitesmoke {
  --sf-c-whitesmoke: 0 0% 96%;
  --sf-c-whitesmoke-0: 0 0% 0%;
  --sf-c-whitesmoke-10: 0 0% 10%;
  --sf-c-whitesmoke-20: 0 0% 20%;
  --sf-c-whitesmoke-30: 0 0% 30%;
  --sf-c-whitesmoke-40: 0 0% 40%;
  --sf-c-whitesmoke-50: 0 0% 50%;
  --sf-c-whitesmoke-60: 0 0% 60%;
  --sf-c-whitesmoke-70: 0 0% 70%;
  --sf-c-whitesmoke-80: 0 0% 80%;
  --sf-c-whitesmoke-90: 0 0% 90%;
  --sf-c-whitesmoke-100: 0 0% 100%;
}

.sf-c-whitesmoke, .sf-c-whitesmoke\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 96%) }
.sf-c-whitesmoke\:0, .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
.sf-c-whitesmoke\:10, .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
.sf-c-whitesmoke\:20, .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
.sf-c-whitesmoke\:30, .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
.sf-c-whitesmoke\:40, .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
.sf-c-whitesmoke\:50, .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
.sf-c-whitesmoke\:60, .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
.sf-c-whitesmoke\:70, .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
.sf-c-whitesmoke\:80, .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
.sf-c-whitesmoke\:90, .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
.sf-c-whitesmoke\:100, .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

.sf-c-txt-whitesmoke { color: hsl(0, 0%, 10%) }
.sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
.sf-c-txt-whitesmoke\:0, .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
.sf-c-txt-whitesmoke\:10, .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
.sf-c-txt-whitesmoke\:20, .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
.sf-c-txt-whitesmoke\:30, .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
.sf-c-txt-whitesmoke\:40, .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
.sf-c-txt-whitesmoke\:50, .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
.sf-c-txt-whitesmoke\:60, .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
.sf-c-txt-whitesmoke\:70, .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
.sf-c-txt-whitesmoke\:80, .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
.sf-c-txt-whitesmoke\:90, .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
.sf-c-txt-whitesmoke\:100, .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-whitesmoke, html.dark .sf-c-whitesmoke { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 4%) }
html[data-theme='dark'] .sf-c-whitesmoke\:0, html.dark .sf-c-whitesmoke\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-whitesmoke\:10, html.dark .sf-c-whitesmoke\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-whitesmoke\:20, html.dark .sf-c-whitesmoke\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-whitesmoke\:30, html.dark .sf-c-whitesmoke\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-whitesmoke\:40, html.dark .sf-c-whitesmoke\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-whitesmoke\:50, html.dark .sf-c-whitesmoke\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-whitesmoke\:60, html.dark .sf-c-whitesmoke\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-whitesmoke\:70, html.dark .sf-c-whitesmoke\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-whitesmoke\:80, html.dark .sf-c-whitesmoke\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-whitesmoke\:90, html.dark .sf-c-whitesmoke\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-whitesmoke\:100, html.dark .sf-c-whitesmoke\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-whitesmoke\:st, html.dark .sf-c-whitesmoke\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-whitesmoke\:0\:st, html.dark .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-whitesmoke\:10\:st, html.dark .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-whitesmoke\:20\:st, html.dark .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-whitesmoke\:30\:st, html.dark .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-whitesmoke\:40\:st, html.dark .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-whitesmoke\:50\:st, html.dark .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-whitesmoke\:60\:st, html.dark .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-whitesmoke\:70\:st, html.dark .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-whitesmoke\:80\:st, html.dark .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-whitesmoke\:90\:st, html.dark .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-whitesmoke\:100\:st, html.dark .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

html[data-theme='dark'] .sf-c-txt-whitesmoke, html.dark .sf-c-txt-whitesmoke { color: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:0, html.dark .sf-c-txt-whitesmoke\:0 { color: hsl(0, 0%, 100%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:10, html.dark .sf-c-txt-whitesmoke\:10 { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:20, html.dark .sf-c-txt-whitesmoke\:20 { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:30, html.dark .sf-c-txt-whitesmoke\:30 { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:40, html.dark .sf-c-txt-whitesmoke\:40 { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:50, html.dark .sf-c-txt-whitesmoke\:50 { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:60, html.dark .sf-c-txt-whitesmoke\:60 { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:70, html.dark .sf-c-txt-whitesmoke\:70 { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:80, html.dark .sf-c-txt-whitesmoke\:80 { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:90, html.dark .sf-c-txt-whitesmoke\:90 { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:100, html.dark .sf-c-txt-whitesmoke\:100 { color: hsl(0, 0%, 0%) }

html[data-theme='dark'] .sf-c-txt-whitesmoke\:st, html.dark .sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:0\:st, html.dark .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:10\:st, html.dark .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:20\:st, html.dark .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:30\:st, html.dark .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:40\:st, html.dark .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:50\:st, html.dark .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:60\:st, html.dark .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:70\:st, html.dark .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:80\:st, html.dark .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:90\:st, html.dark .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
html[data-theme='dark'] .sf-c-txt-whitesmoke\:100\:st, html.dark .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-whitesmoke, html.auto .sf-c-whitesmoke { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 4%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:0, html.auto .sf-c-whitesmoke\:0 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:10, html.auto .sf-c-whitesmoke\:10 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:20, html.auto .sf-c-whitesmoke\:20 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:30, html.auto .sf-c-whitesmoke\:30 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:40, html.auto .sf-c-whitesmoke\:40 { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:50, html.auto .sf-c-whitesmoke\:50 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:60, html.auto .sf-c-whitesmoke\:60 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:70, html.auto .sf-c-whitesmoke\:70 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:80, html.auto .sf-c-whitesmoke\:80 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:90, html.auto .sf-c-whitesmoke\:90 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:100, html.auto .sf-c-whitesmoke\:100 { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-whitesmoke\:st, html.auto .sf-c-whitesmoke\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:0\:st, html.auto .sf-c-whitesmoke\:0\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:10\:st, html.auto .sf-c-whitesmoke\:10\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:20\:st, html.auto .sf-c-whitesmoke\:20\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:30\:st, html.auto .sf-c-whitesmoke\:30\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:40\:st, html.auto .sf-c-whitesmoke\:40\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:50\:st, html.auto .sf-c-whitesmoke\:50\:st { color: hsl(0, 0%, 90%); background: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:60\:st, html.auto .sf-c-whitesmoke\:60\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:70\:st, html.auto .sf-c-whitesmoke\:70\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:80\:st, html.auto .sf-c-whitesmoke\:80\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:90\:st, html.auto .sf-c-whitesmoke\:90\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-whitesmoke\:100\:st, html.auto .sf-c-whitesmoke\:100\:st { color: hsl(0, 0%, 10%); background: hsl(0, 0%, 100%) }

  html[data-theme='auto'] .sf-c-txt-whitesmoke, html.auto .sf-c-txt-whitesmoke { color: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:0, html.auto .sf-c-txt-whitesmoke\:0 { color: hsl(0, 0%, 100%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:10, html.auto .sf-c-txt-whitesmoke\:10 { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:20, html.auto .sf-c-txt-whitesmoke\:20 { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:30, html.auto .sf-c-txt-whitesmoke\:30 { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:40, html.auto .sf-c-txt-whitesmoke\:40 { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:50, html.auto .sf-c-txt-whitesmoke\:50 { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:60, html.auto .sf-c-txt-whitesmoke\:60 { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:70, html.auto .sf-c-txt-whitesmoke\:70 { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:80, html.auto .sf-c-txt-whitesmoke\:80 { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:90, html.auto .sf-c-txt-whitesmoke\:90 { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:100, html.auto .sf-c-txt-whitesmoke\:100 { color: hsl(0, 0%, 0%) }

  html[data-theme='auto'] .sf-c-txt-whitesmoke\:st, html.auto .sf-c-txt-whitesmoke\:st { color: hsl(0, 0%, 96%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:0\:st, html.auto .sf-c-txt-whitesmoke\:0\:st { color: hsl(0, 0%, 0%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:10\:st, html.auto .sf-c-txt-whitesmoke\:10\:st { color: hsl(0, 0%, 10%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:20\:st, html.auto .sf-c-txt-whitesmoke\:20\:st { color: hsl(0, 0%, 20%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:30\:st, html.auto .sf-c-txt-whitesmoke\:30\:st { color: hsl(0, 0%, 30%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:40\:st, html.auto .sf-c-txt-whitesmoke\:40\:st { color: hsl(0, 0%, 40%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:50\:st, html.auto .sf-c-txt-whitesmoke\:50\:st { color: hsl(0, 0%, 50%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:60\:st, html.auto .sf-c-txt-whitesmoke\:60\:st { color: hsl(0, 0%, 60%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:70\:st, html.auto .sf-c-txt-whitesmoke\:70\:st { color: hsl(0, 0%, 70%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:80\:st, html.auto .sf-c-txt-whitesmoke\:80\:st { color: hsl(0, 0%, 80%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:90\:st, html.auto .sf-c-txt-whitesmoke\:90\:st { color: hsl(0, 0%, 90%) }
  html[data-theme='auto'] .sf-c-txt-whitesmoke\:100\:st, html.auto .sf-c-txt-whitesmoke\:100\:st { color: hsl(0, 0%, 100%) }
}