.sf-var-yellow {
  --sf-c-yellow: 60 100% 50%;
  --sf-c-yellow-0: 60 100% 0%;
  --sf-c-yellow-10: 60 100% 10%;
  --sf-c-yellow-20: 60 100% 20%;
  --sf-c-yellow-30: 60 100% 30%;
  --sf-c-yellow-40: 60 100% 40%;
  --sf-c-yellow-50: 60 100% 50%;
  --sf-c-yellow-60: 60 100% 60%;
  --sf-c-yellow-70: 60 100% 70%;
  --sf-c-yellow-80: 60 100% 80%;
  --sf-c-yellow-90: 60 100% 90%;
  --sf-c-yellow-100: 60 100% 100%;
}

.sf-c-yellow, .sf-c-yellow\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
.sf-c-yellow\:0, .sf-c-yellow\:0\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }
.sf-c-yellow\:10, .sf-c-yellow\:10\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
.sf-c-yellow\:20, .sf-c-yellow\:20\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
.sf-c-yellow\:30, .sf-c-yellow\:30\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
.sf-c-yellow\:40, .sf-c-yellow\:40\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
.sf-c-yellow\:50, .sf-c-yellow\:50\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
.sf-c-yellow\:60, .sf-c-yellow\:60\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
.sf-c-yellow\:70, .sf-c-yellow\:70\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
.sf-c-yellow\:80, .sf-c-yellow\:80\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
.sf-c-yellow\:90, .sf-c-yellow\:90\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
.sf-c-yellow\:100, .sf-c-yellow\:100\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }

.sf-c-txt-yellow { color: hsl(60, 100%, 50%) }
.sf-c-txt-yellow\:st { color: hsl(60, 100%, 50%) }
.sf-c-txt-yellow\:0, .sf-c-txt-yellow\:0\:st { color: hsl(60, 100%, 0%) }
.sf-c-txt-yellow\:10, .sf-c-txt-yellow\:10\:st { color: hsl(60, 100%, 10%) }
.sf-c-txt-yellow\:20, .sf-c-txt-yellow\:20\:st { color: hsl(60, 100%, 20%) }
.sf-c-txt-yellow\:30, .sf-c-txt-yellow\:30\:st { color: hsl(60, 100%, 30%) }
.sf-c-txt-yellow\:40, .sf-c-txt-yellow\:40\:st { color: hsl(60, 100%, 40%) }
.sf-c-txt-yellow\:50, .sf-c-txt-yellow\:50\:st { color: hsl(60, 100%, 50%) }
.sf-c-txt-yellow\:60, .sf-c-txt-yellow\:60\:st { color: hsl(60, 100%, 60%) }
.sf-c-txt-yellow\:70, .sf-c-txt-yellow\:70\:st { color: hsl(60, 100%, 70%) }
.sf-c-txt-yellow\:80, .sf-c-txt-yellow\:80\:st { color: hsl(60, 100%, 80%) }
.sf-c-txt-yellow\:90, .sf-c-txt-yellow\:90\:st { color: hsl(60, 100%, 90%) }
.sf-c-txt-yellow\:100, .sf-c-txt-yellow\:100\:st { color: hsl(60, 100%, 100%) }

html[data-theme='dark'] .sf-c-yellow, html.dark .sf-c-yellow { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-yellow\:0, html.dark .sf-c-yellow\:0 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }
html[data-theme='dark'] .sf-c-yellow\:10, html.dark .sf-c-yellow\:10 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-yellow\:20, html.dark .sf-c-yellow\:20 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-yellow\:30, html.dark .sf-c-yellow\:30 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-yellow\:40, html.dark .sf-c-yellow\:40 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-yellow\:50, html.dark .sf-c-yellow\:50 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-yellow\:60, html.dark .sf-c-yellow\:60 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-yellow\:70, html.dark .sf-c-yellow\:70 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-yellow\:80, html.dark .sf-c-yellow\:80 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-yellow\:90, html.dark .sf-c-yellow\:90 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-yellow\:100, html.dark .sf-c-yellow\:100 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }

html[data-theme='dark'] .sf-c-yellow\:st, html.dark .sf-c-yellow\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-yellow\:0\:st, html.dark .sf-c-yellow\:0\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }
html[data-theme='dark'] .sf-c-yellow\:10\:st, html.dark .sf-c-yellow\:10\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-yellow\:20\:st, html.dark .sf-c-yellow\:20\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-yellow\:30\:st, html.dark .sf-c-yellow\:30\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-yellow\:40\:st, html.dark .sf-c-yellow\:40\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-yellow\:50\:st, html.dark .sf-c-yellow\:50\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-yellow\:60\:st, html.dark .sf-c-yellow\:60\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-yellow\:70\:st, html.dark .sf-c-yellow\:70\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-yellow\:80\:st, html.dark .sf-c-yellow\:80\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-yellow\:90\:st, html.dark .sf-c-yellow\:90\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-yellow\:100\:st, html.dark .sf-c-yellow\:100\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }

html[data-theme='dark'] .sf-c-txt-yellow, html.dark .sf-c-txt-yellow { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellow\:0, html.dark .sf-c-txt-yellow\:0 { color: hsl(60, 100%, 100%) }
html[data-theme='dark'] .sf-c-txt-yellow\:10, html.dark .sf-c-txt-yellow\:10 { color: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-yellow\:20, html.dark .sf-c-txt-yellow\:20 { color: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-yellow\:30, html.dark .sf-c-txt-yellow\:30 { color: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-yellow\:40, html.dark .sf-c-txt-yellow\:40 { color: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-yellow\:50, html.dark .sf-c-txt-yellow\:50 { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellow\:60, html.dark .sf-c-txt-yellow\:60 { color: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-yellow\:70, html.dark .sf-c-txt-yellow\:70 { color: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-yellow\:80, html.dark .sf-c-txt-yellow\:80 { color: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-yellow\:90, html.dark .sf-c-txt-yellow\:90 { color: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-yellow\:100, html.dark .sf-c-txt-yellow\:100 { color: hsl(60, 100%, 0%) }

html[data-theme='dark'] .sf-c-txt-yellow\:st, html.dark .sf-c-txt-yellow\:st { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellow\:0\:st, html.dark .sf-c-txt-yellow\:0\:st { color: hsl(60, 100%, 0%) }
html[data-theme='dark'] .sf-c-txt-yellow\:10\:st, html.dark .sf-c-txt-yellow\:10\:st { color: hsl(60, 100%, 10%) }
html[data-theme='dark'] .sf-c-txt-yellow\:20\:st, html.dark .sf-c-txt-yellow\:20\:st { color: hsl(60, 100%, 20%) }
html[data-theme='dark'] .sf-c-txt-yellow\:30\:st, html.dark .sf-c-txt-yellow\:30\:st { color: hsl(60, 100%, 30%) }
html[data-theme='dark'] .sf-c-txt-yellow\:40\:st, html.dark .sf-c-txt-yellow\:40\:st { color: hsl(60, 100%, 40%) }
html[data-theme='dark'] .sf-c-txt-yellow\:50\:st, html.dark .sf-c-txt-yellow\:50\:st { color: hsl(60, 100%, 50%) }
html[data-theme='dark'] .sf-c-txt-yellow\:60\:st, html.dark .sf-c-txt-yellow\:60\:st { color: hsl(60, 100%, 60%) }
html[data-theme='dark'] .sf-c-txt-yellow\:70\:st, html.dark .sf-c-txt-yellow\:70\:st { color: hsl(60, 100%, 70%) }
html[data-theme='dark'] .sf-c-txt-yellow\:80\:st, html.dark .sf-c-txt-yellow\:80\:st { color: hsl(60, 100%, 80%) }
html[data-theme='dark'] .sf-c-txt-yellow\:90\:st, html.dark .sf-c-txt-yellow\:90\:st { color: hsl(60, 100%, 90%) }
html[data-theme='dark'] .sf-c-txt-yellow\:100\:st, html.dark .sf-c-txt-yellow\:100\:st { color: hsl(60, 100%, 100%) }

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] .sf-c-yellow, html.auto .sf-c-yellow { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-yellow\:0, html.auto .sf-c-yellow\:0 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }
  html[data-theme='auto'] .sf-c-yellow\:10, html.auto .sf-c-yellow\:10 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-yellow\:20, html.auto .sf-c-yellow\:20 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-yellow\:30, html.auto .sf-c-yellow\:30 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-yellow\:40, html.auto .sf-c-yellow\:40 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-yellow\:50, html.auto .sf-c-yellow\:50 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-yellow\:60, html.auto .sf-c-yellow\:60 { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-yellow\:70, html.auto .sf-c-yellow\:70 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-yellow\:80, html.auto .sf-c-yellow\:80 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-yellow\:90, html.auto .sf-c-yellow\:90 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-yellow\:100, html.auto .sf-c-yellow\:100 { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }

  html[data-theme='auto'] .sf-c-yellow\:st, html.auto .sf-c-yellow\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-yellow\:0\:st, html.auto .sf-c-yellow\:0\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 0%) }
  html[data-theme='auto'] .sf-c-yellow\:10\:st, html.auto .sf-c-yellow\:10\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-yellow\:20\:st, html.auto .sf-c-yellow\:20\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-yellow\:30\:st, html.auto .sf-c-yellow\:30\:st { color: hsl(60, 100%, 90%); background: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-yellow\:40\:st, html.auto .sf-c-yellow\:40\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-yellow\:50\:st, html.auto .sf-c-yellow\:50\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-yellow\:60\:st, html.auto .sf-c-yellow\:60\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-yellow\:70\:st, html.auto .sf-c-yellow\:70\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-yellow\:80\:st, html.auto .sf-c-yellow\:80\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-yellow\:90\:st, html.auto .sf-c-yellow\:90\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-yellow\:100\:st, html.auto .sf-c-yellow\:100\:st { color: hsl(60, 100%, 10%); background: hsl(60, 100%, 100%) }

  html[data-theme='auto'] .sf-c-txt-yellow, html.auto .sf-c-txt-yellow { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:0, html.auto .sf-c-txt-yellow\:0 { color: hsl(60, 100%, 100%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:10, html.auto .sf-c-txt-yellow\:10 { color: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:20, html.auto .sf-c-txt-yellow\:20 { color: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:30, html.auto .sf-c-txt-yellow\:30 { color: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:40, html.auto .sf-c-txt-yellow\:40 { color: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:50, html.auto .sf-c-txt-yellow\:50 { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:60, html.auto .sf-c-txt-yellow\:60 { color: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:70, html.auto .sf-c-txt-yellow\:70 { color: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:80, html.auto .sf-c-txt-yellow\:80 { color: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:90, html.auto .sf-c-txt-yellow\:90 { color: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:100, html.auto .sf-c-txt-yellow\:100 { color: hsl(60, 100%, 0%) }

  html[data-theme='auto'] .sf-c-txt-yellow\:st, html.auto .sf-c-txt-yellow\:st { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:0\:st, html.auto .sf-c-txt-yellow\:0\:st { color: hsl(60, 100%, 0%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:10\:st, html.auto .sf-c-txt-yellow\:10\:st { color: hsl(60, 100%, 10%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:20\:st, html.auto .sf-c-txt-yellow\:20\:st { color: hsl(60, 100%, 20%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:30\:st, html.auto .sf-c-txt-yellow\:30\:st { color: hsl(60, 100%, 30%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:40\:st, html.auto .sf-c-txt-yellow\:40\:st { color: hsl(60, 100%, 40%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:50\:st, html.auto .sf-c-txt-yellow\:50\:st { color: hsl(60, 100%, 50%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:60\:st, html.auto .sf-c-txt-yellow\:60\:st { color: hsl(60, 100%, 60%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:70\:st, html.auto .sf-c-txt-yellow\:70\:st { color: hsl(60, 100%, 70%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:80\:st, html.auto .sf-c-txt-yellow\:80\:st { color: hsl(60, 100%, 80%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:90\:st, html.auto .sf-c-txt-yellow\:90\:st { color: hsl(60, 100%, 90%) }
  html[data-theme='auto'] .sf-c-txt-yellow\:100\:st, html.auto .sf-c-txt-yellow\:100\:st { color: hsl(60, 100%, 100%) }
}